<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50007_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,166},{162,91}}</string>
        <key>offset</key>
        <string>{-27,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,91}}</string>
        <key>sourceSize</key>
        <string>{162,91}</string>
      </dict>
      <key>player_50007_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,0},{145,115}}</string>
        <key>offset</key>
        <string>{-53,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,115}}</string>
        <key>sourceSize</key>
        <string>{145,115}</string>
      </dict>
      <key>player_50007_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,476},{145,111}}</string>
        <key>offset</key>
        <string>{-61,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,111}}</string>
        <key>sourceSize</key>
        <string>{145,111}</string>
      </dict>
      <key>player_50007_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,308},{144,113}}</string>
        <key>offset</key>
        <string>{-47,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,113}}</string>
        <key>sourceSize</key>
        <string>{144,113}</string>
      </dict>
      <key>player_50007_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,184},{165,124}}</string>
        <key>offset</key>
        <string>{-33,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,124}}</string>
        <key>sourceSize</key>
        <string>{165,124}</string>
      </dict>
      <key>player_50007_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,550},{158,128}}</string>
        <key>offset</key>
        <string>{-17,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,128}}</string>
        <key>sourceSize</key>
        <string>{158,128}</string>
      </dict>
      <key>player_50007_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,740},{140,109}}</string>
        <key>offset</key>
        <string>{-35,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,109}}</string>
        <key>sourceSize</key>
        <string>{140,109}</string>
      </dict>
      <key>player_50007_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,147},{114,136}}</string>
        <key>offset</key>
        <string>{-44,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,136}}</string>
        <key>sourceSize</key>
        <string>{114,136}</string>
      </dict>
      <key>player_50007_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,252},{121,131}}</string>
        <key>offset</key>
        <string>{-41,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,131}}</string>
        <key>sourceSize</key>
        <string>{121,131}</string>
      </dict>
      <key>player_50007_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,739},{138,130}}</string>
        <key>offset</key>
        <string>{-40,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,130}}</string>
        <key>sourceSize</key>
        <string>{138,130}</string>
      </dict>
      <key>player_50007_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{186,122}}</string>
        <key>offset</key>
        <string>{-58,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,122}}</string>
        <key>sourceSize</key>
        <string>{186,122}</string>
      </dict>
      <key>player_50007_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{192,115}}</string>
        <key>offset</key>
        <string>{-55,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,115}}</string>
        <key>sourceSize</key>
        <string>{192,115}</string>
      </dict>
      <key>player_50007_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,597},{91,140}}</string>
        <key>offset</key>
        <string>{-19,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,140}}</string>
        <key>sourceSize</key>
        <string>{91,140}</string>
      </dict>
      <key>player_50007_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,883},{123,121}}</string>
        <key>offset</key>
        <string>{-52,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,121}}</string>
        <key>sourceSize</key>
        <string>{123,121}</string>
      </dict>
      <key>player_50007_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,451},{132,139}}</string>
        <key>offset</key>
        <string>{-40,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,139}}</string>
        <key>sourceSize</key>
        <string>{132,139}</string>
      </dict>
      <key>player_50007_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,454},{91,141}}</string>
        <key>offset</key>
        <string>{-4,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,141}}</string>
        <key>sourceSize</key>
        <string>{91,141}</string>
      </dict>
      <key>player_50007_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,710},{135,158}}</string>
        <key>offset</key>
        <string>{-37,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,158}}</string>
        <key>sourceSize</key>
        <string>{135,158}</string>
      </dict>
      <key>player_50007_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,155},{147,151}}</string>
        <key>offset</key>
        <string>{-49,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,151}}</string>
        <key>sourceSize</key>
        <string>{147,151}</string>
      </dict>
      <key>player_50007_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,379},{125,131}}</string>
        <key>offset</key>
        <string>{-41,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,131}}</string>
        <key>sourceSize</key>
        <string>{125,131}</string>
      </dict>
      <key>player_50007_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{164,116}}</string>
        <key>offset</key>
        <string>{-58,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,116}}</string>
        <key>sourceSize</key>
        <string>{164,116}</string>
      </dict>
      <key>player_50007_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,597},{141,127}}</string>
        <key>offset</key>
        <string>{-20,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,127}}</string>
        <key>sourceSize</key>
        <string>{141,127}</string>
      </dict>
      <key>player_50007_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,249},{128,133}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,133}}</string>
        <key>sourceSize</key>
        <string>{128,133}</string>
      </dict>
      <key>player_50007_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,166},{116,154}}</string>
        <key>offset</key>
        <string>{-23,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,154}}</string>
        <key>sourceSize</key>
        <string>{116,154}</string>
      </dict>
      <key>player_50007_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,550},{112,159}}</string>
        <key>offset</key>
        <string>{-33,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,159}}</string>
        <key>sourceSize</key>
        <string>{112,159}</string>
      </dict>
      <key>player_50007_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,735},{160,123}}</string>
        <key>offset</key>
        <string>{-55,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,123}}</string>
        <key>sourceSize</key>
        <string>{160,123}</string>
      </dict>
      <key>player_50007_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,623},{143,124}}</string>
        <key>offset</key>
        <string>{-16,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,124}}</string>
        <key>sourceSize</key>
        <string>{143,124}</string>
      </dict>
      <key>player_50007_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,0},{147,121}}</string>
        <key>offset</key>
        <string>{1,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,121}}</string>
        <key>sourceSize</key>
        <string>{147,121}</string>
      </dict>
      <key>player_50007_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,322},{152,120}}</string>
        <key>offset</key>
        <string>{-14,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,120}}</string>
        <key>sourceSize</key>
        <string>{152,120}</string>
      </dict>
      <key>player_50007_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,564},{169,130}}</string>
        <key>offset</key>
        <string>{-48,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,130}}</string>
        <key>sourceSize</key>
        <string>{169,130}</string>
      </dict>
      <key>player_50007_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,382},{166,138}}</string>
        <key>offset</key>
        <string>{-63,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,138}}</string>
        <key>sourceSize</key>
        <string>{166,138}</string>
      </dict>
      <key>player_50007_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,454},{141,125}}</string>
        <key>offset</key>
        <string>{-24,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,125}}</string>
        <key>sourceSize</key>
        <string>{141,125}</string>
      </dict>
      <key>player_50007_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,592},{116,138}}</string>
        <key>offset</key>
        <string>{12,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,138}}</string>
        <key>sourceSize</key>
        <string>{116,138}</string>
      </dict>
      <key>player_50007_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,138},{134,112}}</string>
        <key>offset</key>
        <string>{-1,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,112}}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>player_50007_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,768},{143,113}}</string>
        <key>offset</key>
        <string>{-17,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,113}}</string>
        <key>sourceSize</key>
        <string>{143,113}</string>
      </dict>
      <key>player_50007_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{180,111}}</string>
        <key>offset</key>
        <string>{-37,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,111}}</string>
        <key>sourceSize</key>
        <string>{180,111}</string>
      </dict>
      <key>player_50007_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{182,115}}</string>
        <key>offset</key>
        <string>{-44,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,115}}</string>
        <key>sourceSize</key>
        <string>{182,115}</string>
      </dict>
      <key>player_50007_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,0},{111,135}}</string>
        <key>offset</key>
        <string>{0,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,135}}</string>
        <key>sourceSize</key>
        <string>{111,135}</string>
      </dict>
      <key>player_50007_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,605},{130,125}}</string>
        <key>offset</key>
        <string>{2,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,125}}</string>
        <key>sourceSize</key>
        <string>{130,125}</string>
      </dict>
      <key>player_50007_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,0},{136,119}}</string>
        <key>offset</key>
        <string>{-18,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,119}}</string>
        <key>sourceSize</key>
        <string>{136,119}</string>
      </dict>
      <key>player_50007_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,883},{93,115}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,115}}</string>
        <key>sourceSize</key>
        <string>{93,115}</string>
      </dict>
      <key>player_50007_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,113},{134,135}}</string>
        <key>offset</key>
        <string>{-10,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,135}}</string>
        <key>sourceSize</key>
        <string>{134,135}</string>
      </dict>
      <key>player_50007_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,308},{141,134}}</string>
        <key>offset</key>
        <string>{-6,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,134}}</string>
        <key>sourceSize</key>
        <string>{141,134}</string>
      </dict>
      <key>player_50007_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,732},{129,117}}</string>
        <key>offset</key>
        <string>{-6,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,117}}</string>
        <key>sourceSize</key>
        <string>{129,117}</string>
      </dict>
      <key>player_50007_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,711},{159,95}}</string>
        <key>offset</key>
        <string>{-29,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,95}}</string>
        <key>sourceSize</key>
        <string>{159,95}</string>
      </dict>
      <key>player_50007_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,506},{131,97}}</string>
        <key>offset</key>
        <string>{-34,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,97}}</string>
        <key>sourceSize</key>
        <string>{131,97}</string>
      </dict>
      <key>player_50007_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,883},{120,115}}</string>
        <key>offset</key>
        <string>{-21,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,115}}</string>
        <key>sourceSize</key>
        <string>{120,115}</string>
      </dict>
      <key>player_50007_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{109,153}}</string>
        <key>offset</key>
        <string>{-3,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,153}}</string>
        <key>sourceSize</key>
        <string>{109,153}</string>
      </dict>
      <key>player_50007_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,330},{110,157}}</string>
        <key>offset</key>
        <string>{0,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,157}}</string>
        <key>sourceSize</key>
        <string>{110,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50007_1_10.png</string>
      <key>size</key>
      <string>{1026,1016}</string>
      <key>textureFileName</key>
      <string>player_50007_1_10.png</string>
    </dict>
  </dict>
</plist>