<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50007_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{182,97}}</string>
        <key>offset</key>
        <string>{-59,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,97}}</string>
        <key>sourceSize</key>
        <string>{182,97}</string>
      </dict>
      <key>player_50007_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{148,99}}</string>
        <key>offset</key>
        <string>{-47,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,99}}</string>
        <key>sourceSize</key>
        <string>{148,99}</string>
      </dict>
      <key>player_50007_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,297},{139,102}}</string>
        <key>offset</key>
        <string>{-37,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,102}}</string>
        <key>sourceSize</key>
        <string>{139,102}</string>
      </dict>
      <key>player_50007_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,297},{136,125}}</string>
        <key>offset</key>
        <string>{-75,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,125}}</string>
        <key>sourceSize</key>
        <string>{136,125}</string>
      </dict>
      <key>player_50007_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,365},{123,116}}</string>
        <key>offset</key>
        <string>{-65,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,116}}</string>
        <key>sourceSize</key>
        <string>{123,116}</string>
      </dict>
      <key>player_50007_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,491},{131,112}}</string>
        <key>offset</key>
        <string>{-60,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,112}}</string>
        <key>sourceSize</key>
        <string>{131,112}</string>
      </dict>
      <key>player_50007_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,490},{113,145}}</string>
        <key>offset</key>
        <string>{-58,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,145}}</string>
        <key>sourceSize</key>
        <string>{113,145}</string>
      </dict>
      <key>player_50007_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,0},{123,126}}</string>
        <key>offset</key>
        <string>{-59,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,126}}</string>
        <key>sourceSize</key>
        <string>{123,126}</string>
      </dict>
      <key>player_50007_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,245},{124,118}}</string>
        <key>offset</key>
        <string>{-51,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,118}}</string>
        <key>sourceSize</key>
        <string>{124,118}</string>
      </dict>
      <key>player_50007_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,341},{147,134}}</string>
        <key>offset</key>
        <string>{-74,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>player_50007_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,246},{133,127}}</string>
        <key>offset</key>
        <string>{-65,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,127}}</string>
        <key>sourceSize</key>
        <string>{133,127}</string>
      </dict>
      <key>player_50007_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,491},{130,123}}</string>
        <key>offset</key>
        <string>{-56,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,123}}</string>
        <key>sourceSize</key>
        <string>{130,123}</string>
      </dict>
      <key>player_50007_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{184,127}}</string>
        <key>offset</key>
        <string>{-50,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,127}}</string>
        <key>sourceSize</key>
        <string>{184,127}</string>
      </dict>
      <key>player_50007_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,186},{153,129}}</string>
        <key>offset</key>
        <string>{-30,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>player_50007_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,438},{139,115}}</string>
        <key>offset</key>
        <string>{-23,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,115}}</string>
        <key>sourceSize</key>
        <string>{139,115}</string>
      </dict>
      <key>player_50007_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{151,140}}</string>
        <key>offset</key>
        <string>{6,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,140}}</string>
        <key>sourceSize</key>
        <string>{151,140}</string>
      </dict>
      <key>player_50007_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{135,123}}</string>
        <key>offset</key>
        <string>{12,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,123}}</string>
        <key>sourceSize</key>
        <string>{135,123}</string>
      </dict>
      <key>player_50007_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,125},{135,119}}</string>
        <key>offset</key>
        <string>{6,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,119}}</string>
        <key>sourceSize</key>
        <string>{135,119}</string>
      </dict>
      <key>player_50007_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,153},{134,142}}</string>
        <key>offset</key>
        <string>{7,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,142}}</string>
        <key>sourceSize</key>
        <string>{134,142}</string>
      </dict>
      <key>player_50007_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,144},{134,116}}</string>
        <key>offset</key>
        <string>{6,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,116}}</string>
        <key>sourceSize</key>
        <string>{134,116}</string>
      </dict>
      <key>player_50007_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,125},{125,118}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>player_50007_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{159,123}}</string>
        <key>offset</key>
        <string>{-3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,123}}</string>
        <key>sourceSize</key>
        <string>{159,123}</string>
      </dict>
      <key>player_50007_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{142,110}}</string>
        <key>offset</key>
        <string>{3,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,110}}</string>
        <key>sourceSize</key>
        <string>{142,110}</string>
      </dict>
      <key>player_50007_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,375},{132,114}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,114}}</string>
        <key>sourceSize</key>
        <string>{132,114}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50007_1_7.png</string>
      <key>size</key>
      <string>{762,642}</string>
      <key>textureFileName</key>
      <string>player_50007_1_7.png</string>
    </dict>
  </dict>
</plist>