<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50006_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{189,115}}</string>
        <key>offset</key>
        <string>{-54,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,115}}</string>
        <key>sourceSize</key>
        <string>{189,115}</string>
      </dict>
      <key>player_50006_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{191,117}}</string>
        <key>offset</key>
        <string>{-56,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,117}}</string>
        <key>sourceSize</key>
        <string>{191,117}</string>
      </dict>
      <key>player_50006_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{190,117}}</string>
        <key>offset</key>
        <string>{-50,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,117}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>player_50006_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{188,121}}</string>
        <key>offset</key>
        <string>{-46,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,121}}</string>
        <key>sourceSize</key>
        <string>{188,121}</string>
      </dict>
      <key>player_50006_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,580},{189,121}}</string>
        <key>offset</key>
        <string>{-47,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,121}}</string>
        <key>sourceSize</key>
        <string>{189,121}</string>
      </dict>
      <key>player_50006_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{193,116}}</string>
        <key>offset</key>
        <string>{-53,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,116}}</string>
        <key>sourceSize</key>
        <string>{193,116}</string>
      </dict>
      <key>player_50006_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,309},{143,141}}</string>
        <key>offset</key>
        <string>{-45,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,141}}</string>
        <key>sourceSize</key>
        <string>{143,141}</string>
      </dict>
      <key>player_50006_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,737},{147,138}}</string>
        <key>offset</key>
        <string>{-46,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,138}}</string>
        <key>sourceSize</key>
        <string>{147,138}</string>
      </dict>
      <key>player_50006_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,888},{158,132}}</string>
        <key>offset</key>
        <string>{-48,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,132}}</string>
        <key>sourceSize</key>
        <string>{158,132}</string>
      </dict>
      <key>player_50006_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,766},{165,128}}</string>
        <key>offset</key>
        <string>{-50,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,128}}</string>
        <key>sourceSize</key>
        <string>{165,128}</string>
      </dict>
      <key>player_50006_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,359},{164,130}}</string>
        <key>offset</key>
        <string>{-50,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,130}}</string>
        <key>sourceSize</key>
        <string>{164,130}</string>
      </dict>
      <key>player_50006_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,155},{152,139}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,139}}</string>
        <key>sourceSize</key>
        <string>{152,139}</string>
      </dict>
      <key>player_50006_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{97,160}}</string>
        <key>offset</key>
        <string>{-22,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,160}}</string>
        <key>sourceSize</key>
        <string>{97,160}</string>
      </dict>
      <key>player_50006_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,499},{89,155}}</string>
        <key>offset</key>
        <string>{-22,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,155}}</string>
        <key>sourceSize</key>
        <string>{89,155}</string>
      </dict>
      <key>player_50006_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,166},{92,161}}</string>
        <key>offset</key>
        <string>{-18,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,161}}</string>
        <key>sourceSize</key>
        <string>{92,161}</string>
      </dict>
      <key>player_50006_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,723},{100,163}}</string>
        <key>offset</key>
        <string>{-20,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,163}}</string>
        <key>sourceSize</key>
        <string>{100,163}</string>
      </dict>
      <key>player_50006_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,525},{99,163}}</string>
        <key>offset</key>
        <string>{-22,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,163}}</string>
        <key>sourceSize</key>
        <string>{99,163}</string>
      </dict>
      <key>player_50006_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,168},{91,164}}</string>
        <key>offset</key>
        <string>{-19,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,164}}</string>
        <key>sourceSize</key>
        <string>{91,164}</string>
      </dict>
      <key>player_50006_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,324},{155,140}}</string>
        <key>offset</key>
        <string>{-47,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_50006_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,0},{153,130}}</string>
        <key>offset</key>
        <string>{-46,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,130}}</string>
        <key>sourceSize</key>
        <string>{153,130}</string>
      </dict>
      <key>player_50006_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,452},{142,135}}</string>
        <key>offset</key>
        <string>{-44,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,135}}</string>
        <key>sourceSize</key>
        <string>{142,135}</string>
      </dict>
      <key>player_50006_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,309},{130,149}}</string>
        <key>offset</key>
        <string>{-38,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,149}}</string>
        <key>sourceSize</key>
        <string>{130,149}</string>
      </dict>
      <key>player_50006_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{134,147}}</string>
        <key>offset</key>
        <string>{-38,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,147}}</string>
        <key>sourceSize</key>
        <string>{134,147}</string>
      </dict>
      <key>player_50006_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,460},{149,138}}</string>
        <key>offset</key>
        <string>{-44,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,138}}</string>
        <key>sourceSize</key>
        <string>{149,138}</string>
      </dict>
      <key>player_50006_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,388},{189,121}}</string>
        <key>offset</key>
        <string>{-48,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,121}}</string>
        <key>sourceSize</key>
        <string>{189,121}</string>
      </dict>
      <key>player_50006_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,192},{189,119}}</string>
        <key>offset</key>
        <string>{-48,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,119}}</string>
        <key>sourceSize</key>
        <string>{189,119}</string>
      </dict>
      <key>player_50006_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{190,112}}</string>
        <key>offset</key>
        <string>{-51,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,112}}</string>
        <key>sourceSize</key>
        <string>{190,112}</string>
      </dict>
      <key>player_50006_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,771},{186,122}}</string>
        <key>offset</key>
        <string>{-53,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,122}}</string>
        <key>sourceSize</key>
        <string>{186,122}</string>
      </dict>
      <key>player_50006_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,579},{185,121}}</string>
        <key>offset</key>
        <string>{-53,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,121}}</string>
        <key>sourceSize</key>
        <string>{185,121}</string>
      </dict>
      <key>player_50006_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{190,108}}</string>
        <key>offset</key>
        <string>{-51,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,108}}</string>
        <key>sourceSize</key>
        <string>{190,108}</string>
      </dict>
      <key>player_50006_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,877},{144,146}}</string>
        <key>offset</key>
        <string>{-11,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,146}}</string>
        <key>sourceSize</key>
        <string>{144,146}</string>
      </dict>
      <key>player_50006_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,877},{141,145}}</string>
        <key>offset</key>
        <string>{-12,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,145}}</string>
        <key>sourceSize</key>
        <string>{141,145}</string>
      </dict>
      <key>player_50006_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,690},{157,138}}</string>
        <key>offset</key>
        <string>{-22,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,138}}</string>
        <key>sourceSize</key>
        <string>{157,138}</string>
      </dict>
      <key>player_50006_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,383},{171,139}}</string>
        <key>offset</key>
        <string>{-30,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,139}}</string>
        <key>sourceSize</key>
        <string>{171,139}</string>
      </dict>
      <key>player_50006_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,556},{165,135}}</string>
        <key>offset</key>
        <string>{-25,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,135}}</string>
        <key>sourceSize</key>
        <string>{165,135}</string>
      </dict>
      <key>player_50006_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,162},{155,140}}</string>
        <key>offset</key>
        <string>{-16,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_50006_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,190},{102,167}}</string>
        <key>offset</key>
        <string>{1,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,167}}</string>
        <key>sourceSize</key>
        <string>{102,167}</string>
      </dict>
      <key>player_50006_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,190},{100,168}}</string>
        <key>offset</key>
        <string>{4,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,168}}</string>
        <key>sourceSize</key>
        <string>{100,168}</string>
      </dict>
      <key>player_50006_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{91,166}}</string>
        <key>offset</key>
        <string>{2,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,166}}</string>
        <key>sourceSize</key>
        <string>{91,166}</string>
      </dict>
      <key>player_50006_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,162},{105,160}}</string>
        <key>offset</key>
        <string>{1,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,160}}</string>
        <key>sourceSize</key>
        <string>{105,160}</string>
      </dict>
      <key>player_50006_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{107,160}}</string>
        <key>offset</key>
        <string>{3,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,160}}</string>
        <key>sourceSize</key>
        <string>{107,160}</string>
      </dict>
      <key>player_50006_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,766},{92,166}}</string>
        <key>offset</key>
        <string>{2,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,166}}</string>
        <key>sourceSize</key>
        <string>{92,166}</string>
      </dict>
      <key>player_50006_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{164,139}}</string>
        <key>offset</key>
        <string>{-25,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,139}}</string>
        <key>sourceSize</key>
        <string>{164,139}</string>
      </dict>
      <key>player_50006_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,334},{163,139}}</string>
        <key>offset</key>
        <string>{-24,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,139}}</string>
        <key>sourceSize</key>
        <string>{163,139}</string>
      </dict>
      <key>player_50006_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,481},{150,146}}</string>
        <key>offset</key>
        <string>{-15,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,146}}</string>
        <key>sourceSize</key>
        <string>{150,146}</string>
      </dict>
      <key>player_50006_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,600},{135,149}}</string>
        <key>offset</key>
        <string>{-9,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,149}}</string>
        <key>sourceSize</key>
        <string>{135,149}</string>
      </dict>
      <key>player_50006_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,737},{137,144}}</string>
        <key>offset</key>
        <string>{-10,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,144}}</string>
        <key>sourceSize</key>
        <string>{137,144}</string>
      </dict>
      <key>player_50006_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,849},{157,142}}</string>
        <key>offset</key>
        <string>{-21,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,142}}</string>
        <key>sourceSize</key>
        <string>{157,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50006_0_5.png</string>
      <key>size</key>
      <string>{1159,1026}</string>
      <key>textureFileName</key>
      <string>player_50006_0_5.png</string>
    </dict>
  </dict>
</plist>