<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50005_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,172},{160,100}}</string>
        <key>offset</key>
        <string>{-33,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,100}}</string>
        <key>sourceSize</key>
        <string>{160,100}</string>
      </dict>
      <key>player_50005_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{171,103}}</string>
        <key>offset</key>
        <string>{-37,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,103}}</string>
        <key>sourceSize</key>
        <string>{171,103}</string>
      </dict>
      <key>player_50005_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{170,107}}</string>
        <key>offset</key>
        <string>{-37,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,107}}</string>
        <key>sourceSize</key>
        <string>{170,107}</string>
      </dict>
      <key>player_50005_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,515},{160,99}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,99}}</string>
        <key>sourceSize</key>
        <string>{160,99}</string>
      </dict>
      <key>player_50005_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,677},{136,121}}</string>
        <key>offset</key>
        <string>{-58,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,121}}</string>
        <key>sourceSize</key>
        <string>{136,121}</string>
      </dict>
      <key>player_50005_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,815},{134,131}}</string>
        <key>offset</key>
        <string>{-55,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,131}}</string>
        <key>sourceSize</key>
        <string>{134,131}</string>
      </dict>
      <key>player_50005_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,265},{140,129}}</string>
        <key>offset</key>
        <string>{-61,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,129}}</string>
        <key>sourceSize</key>
        <string>{140,129}</string>
      </dict>
      <key>player_50005_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,677},{136,122}}</string>
        <key>offset</key>
        <string>{-58,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,122}}</string>
        <key>sourceSize</key>
        <string>{136,122}</string>
      </dict>
      <key>player_50005_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,151},{112,145}}</string>
        <key>offset</key>
        <string>{-44,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,145}}</string>
        <key>sourceSize</key>
        <string>{112,145}</string>
      </dict>
      <key>player_50005_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,153},{111,149}}</string>
        <key>offset</key>
        <string>{-42,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,149}}</string>
        <key>sourceSize</key>
        <string>{111,149}</string>
      </dict>
      <key>player_50005_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,653},{109,154}}</string>
        <key>offset</key>
        <string>{-41,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,154}}</string>
        <key>sourceSize</key>
        <string>{109,154}</string>
      </dict>
      <key>player_50005_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,612},{115,147}}</string>
        <key>offset</key>
        <string>{-44,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,147}}</string>
        <key>sourceSize</key>
        <string>{115,147}</string>
      </dict>
      <key>player_50005_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,310},{143,150}}</string>
        <key>offset</key>
        <string>{-63,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,150}}</string>
        <key>sourceSize</key>
        <string>{143,150}</string>
      </dict>
      <key>player_50005_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{145,151}}</string>
        <key>offset</key>
        <string>{-64,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,151}}</string>
        <key>sourceSize</key>
        <string>{145,151}</string>
      </dict>
      <key>player_50005_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,495},{142,156}}</string>
        <key>offset</key>
        <string>{-64,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,156}}</string>
        <key>sourceSize</key>
        <string>{142,156}</string>
      </dict>
      <key>player_50005_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,624},{142,150}}</string>
        <key>offset</key>
        <string>{-63,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,150}}</string>
        <key>sourceSize</key>
        <string>{142,150}</string>
      </dict>
      <key>player_50005_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,515},{160,144}}</string>
        <key>offset</key>
        <string>{-36,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,144}}</string>
        <key>sourceSize</key>
        <string>{160,144}</string>
      </dict>
      <key>player_50005_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{170,144}}</string>
        <key>offset</key>
        <string>{-39,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,144}}</string>
        <key>sourceSize</key>
        <string>{170,144}</string>
      </dict>
      <key>player_50005_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,345},{168,146}}</string>
        <key>offset</key>
        <string>{-36,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,146}}</string>
        <key>sourceSize</key>
        <string>{168,146}</string>
      </dict>
      <key>player_50005_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,334},{159,143}}</string>
        <key>offset</key>
        <string>{-35,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,143}}</string>
        <key>sourceSize</key>
        <string>{159,143}</string>
      </dict>
      <key>player_50005_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,489},{145,154}}</string>
        <key>offset</key>
        <string>{11,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,154}}</string>
        <key>sourceSize</key>
        <string>{145,154}</string>
      </dict>
      <key>player_50005_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,172},{149,158}}</string>
        <key>offset</key>
        <string>{9,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,158}}</string>
        <key>sourceSize</key>
        <string>{149,158}</string>
      </dict>
      <key>player_50005_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{155,157}}</string>
        <key>offset</key>
        <string>{8,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,157}}</string>
        <key>sourceSize</key>
        <string>{155,157}</string>
      </dict>
      <key>player_50005_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,159},{148,154}}</string>
        <key>offset</key>
        <string>{10,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,154}}</string>
        <key>sourceSize</key>
        <string>{148,154}</string>
      </dict>
      <key>player_50005_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{129,149}}</string>
        <key>offset</key>
        <string>{15,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,149}}</string>
        <key>sourceSize</key>
        <string>{129,149}</string>
      </dict>
      <key>player_50005_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,332},{125,155}}</string>
        <key>offset</key>
        <string>{16,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,155}}</string>
        <key>sourceSize</key>
        <string>{125,155}</string>
      </dict>
      <key>player_50005_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{125,154}}</string>
        <key>offset</key>
        <string>{16,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,154}}</string>
        <key>sourceSize</key>
        <string>{125,154}</string>
      </dict>
      <key>player_50005_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,462},{128,148}}</string>
        <key>offset</key>
        <string>{16,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,148}}</string>
        <key>sourceSize</key>
        <string>{128,148}</string>
      </dict>
      <key>player_50005_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,645},{152,121}}</string>
        <key>offset</key>
        <string>{8,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,121}}</string>
        <key>sourceSize</key>
        <string>{152,121}</string>
      </dict>
      <key>player_50005_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,471},{151,127}}</string>
        <key>offset</key>
        <string>{9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,127}}</string>
        <key>sourceSize</key>
        <string>{151,127}</string>
      </dict>
      <key>player_50005_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,315},{154,126}}</string>
        <key>offset</key>
        <string>{10,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,126}}</string>
        <key>sourceSize</key>
        <string>{154,126}</string>
      </dict>
      <key>player_50005_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,156},{152,122}}</string>
        <key>offset</key>
        <string>{8,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,122}}</string>
        <key>sourceSize</key>
        <string>{152,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50005_1_0.png</string>
      <key>size</key>
      <string>{899,954}</string>
      <key>textureFileName</key>
      <string>player_50005_1_0.png</string>
    </dict>
  </dict>
</plist>