<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50005_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{165,81}}</string>
        <key>offset</key>
        <string>{-38,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>player_50005_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,90}}</string>
        <key>offset</key>
        <string>{-42,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,90}}</string>
        <key>sourceSize</key>
        <string>{176,90}</string>
      </dict>
      <key>player_50005_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{162,102}}</string>
        <key>offset</key>
        <string>{-34,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,102}}</string>
        <key>sourceSize</key>
        <string>{162,102}</string>
      </dict>
      <key>player_50005_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,640},{134,123}}</string>
        <key>offset</key>
        <string>{-64,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,123}}</string>
        <key>sourceSize</key>
        <string>{134,123}</string>
      </dict>
      <key>player_50005_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,637},{131,122}}</string>
        <key>offset</key>
        <string>{-65,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,122}}</string>
        <key>sourceSize</key>
        <string>{131,122}</string>
      </dict>
      <key>player_50005_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{147,126}}</string>
        <key>offset</key>
        <string>{-69,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,126}}</string>
        <key>sourceSize</key>
        <string>{147,126}</string>
      </dict>
      <key>player_50005_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,471},{103,145}}</string>
        <key>offset</key>
        <string>{-47,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,145}}</string>
        <key>sourceSize</key>
        <string>{103,145}</string>
      </dict>
      <key>player_50005_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,471},{109,145}}</string>
        <key>offset</key>
        <string>{-45,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,145}}</string>
        <key>sourceSize</key>
        <string>{109,145}</string>
      </dict>
      <key>player_50005_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,149},{122,144}}</string>
        <key>offset</key>
        <string>{-49,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,144}}</string>
        <key>sourceSize</key>
        <string>{122,144}</string>
      </dict>
      <key>player_50005_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,304},{143,145}}</string>
        <key>offset</key>
        <string>{-72,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,145}}</string>
        <key>sourceSize</key>
        <string>{143,145}</string>
      </dict>
      <key>player_50005_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,493},{142,153}}</string>
        <key>offset</key>
        <string>{-73,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,153}}</string>
        <key>sourceSize</key>
        <string>{142,153}</string>
      </dict>
      <key>player_50005_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,0},{149,151}}</string>
        <key>offset</key>
        <string>{-74,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,151}}</string>
        <key>sourceSize</key>
        <string>{149,151}</string>
      </dict>
      <key>player_50005_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,350},{164,135}}</string>
        <key>offset</key>
        <string>{-42,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,135}}</string>
        <key>sourceSize</key>
        <string>{164,135}</string>
      </dict>
      <key>player_50005_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{170,146}}</string>
        <key>offset</key>
        <string>{-44,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,146}}</string>
        <key>sourceSize</key>
        <string>{170,146}</string>
      </dict>
      <key>player_50005_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,167},{164,140}}</string>
        <key>offset</key>
        <string>{-40,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,140}}</string>
        <key>sourceSize</key>
        <string>{164,140}</string>
      </dict>
      <key>player_50005_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,319},{146,150}}</string>
        <key>offset</key>
        <string>{7,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,150}}</string>
        <key>sourceSize</key>
        <string>{146,150}</string>
      </dict>
      <key>player_50005_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,161},{154,156}}</string>
        <key>offset</key>
        <string>{2,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,156}}</string>
        <key>sourceSize</key>
        <string>{154,156}</string>
      </dict>
      <key>player_50005_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,333},{158,151}}</string>
        <key>offset</key>
        <string>{1,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,151}}</string>
        <key>sourceSize</key>
        <string>{158,151}</string>
      </dict>
      <key>player_50005_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{133,141}}</string>
        <key>offset</key>
        <string>{3,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,141}}</string>
        <key>sourceSize</key>
        <string>{133,141}</string>
      </dict>
      <key>player_50005_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,153},{143,149}}</string>
        <key>offset</key>
        <string>{-4,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,149}}</string>
        <key>sourceSize</key>
        <string>{143,149}</string>
      </dict>
      <key>player_50005_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,637},{143,138}}</string>
        <key>offset</key>
        <string>{-3,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,138}}</string>
        <key>sourceSize</key>
        <string>{143,138}</string>
      </dict>
      <key>player_50005_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{159,114}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,114}}</string>
        <key>sourceSize</key>
        <string>{159,114}</string>
      </dict>
      <key>player_50005_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{165,118}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,118}}</string>
        <key>sourceSize</key>
        <string>{165,118}</string>
      </dict>
      <key>player_50005_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,516},{161,122}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,122}}</string>
        <key>sourceSize</key>
        <string>{161,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50005_1_7.png</string>
      <key>size</key>
      <string>{770,778}</string>
      <key>textureFileName</key>
      <string>player_50005_1_7.png</string>
    </dict>
  </dict>
</plist>