<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50007_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,83}}</string>
        <key>offset</key>
        <string>{-60,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,83}}</string>
        <key>sourceSize</key>
        <string>{190,83}</string>
      </dict>
      <key>player_50007_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{174,98}}</string>
        <key>offset</key>
        <string>{-55,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,98}}</string>
        <key>sourceSize</key>
        <string>{174,98}</string>
      </dict>
      <key>player_50007_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{153,105}}</string>
        <key>offset</key>
        <string>{-53,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,105}}</string>
        <key>sourceSize</key>
        <string>{153,105}</string>
      </dict>
      <key>player_50007_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,299},{143,123}}</string>
        <key>offset</key>
        <string>{-79,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,123}}</string>
        <key>sourceSize</key>
        <string>{143,123}</string>
      </dict>
      <key>player_50007_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,0},{125,126}}</string>
        <key>offset</key>
        <string>{-67,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,126}}</string>
        <key>sourceSize</key>
        <string>{125,126}</string>
      </dict>
      <key>player_50007_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,428},{127,135}}</string>
        <key>offset</key>
        <string>{-61,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,135}}</string>
        <key>sourceSize</key>
        <string>{127,135}</string>
      </dict>
      <key>player_50007_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,470},{112,147}}</string>
        <key>offset</key>
        <string>{-56,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,147}}</string>
        <key>sourceSize</key>
        <string>{112,147}</string>
      </dict>
      <key>player_50007_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,458},{120,145}}</string>
        <key>offset</key>
        <string>{-54,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,145}}</string>
        <key>sourceSize</key>
        <string>{120,145}</string>
      </dict>
      <key>player_50007_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,294},{132,138}}</string>
        <key>offset</key>
        <string>{-56,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,138}}</string>
        <key>sourceSize</key>
        <string>{132,138}</string>
      </dict>
      <key>player_50007_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,0},{146,136}}</string>
        <key>offset</key>
        <string>{-74,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,136}}</string>
        <key>sourceSize</key>
        <string>{146,136}</string>
      </dict>
      <key>player_50007_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,470},{147,144}}</string>
        <key>offset</key>
        <string>{-69,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,144}}</string>
        <key>sourceSize</key>
        <string>{147,144}</string>
      </dict>
      <key>player_50007_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,316},{152,141}}</string>
        <key>offset</key>
        <string>{-61,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,141}}</string>
        <key>sourceSize</key>
        <string>{152,141}</string>
      </dict>
      <key>player_50007_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{187,138}}</string>
        <key>offset</key>
        <string>{-56,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,138}}</string>
        <key>sourceSize</key>
        <string>{187,138}</string>
      </dict>
      <key>player_50007_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{167,134}}</string>
        <key>offset</key>
        <string>{-33,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,134}}</string>
        <key>sourceSize</key>
        <string>{167,134}</string>
      </dict>
      <key>player_50007_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,381},{161,129}}</string>
        <key>offset</key>
        <string>{-23,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,129}}</string>
        <key>sourceSize</key>
        <string>{161,129}</string>
      </dict>
      <key>player_50007_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,155},{152,148}}</string>
        <key>offset</key>
        <string>{8,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,148}}</string>
        <key>sourceSize</key>
        <string>{152,148}</string>
      </dict>
      <key>player_50007_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,309},{147,146}}</string>
        <key>offset</key>
        <string>{12,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,146}}</string>
        <key>sourceSize</key>
        <string>{147,146}</string>
      </dict>
      <key>player_50007_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{148,132}}</string>
        <key>offset</key>
        <string>{7,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,132}}</string>
        <key>sourceSize</key>
        <string>{148,132}</string>
      </dict>
      <key>player_50007_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{140,156}}</string>
        <key>offset</key>
        <string>{7,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,156}}</string>
        <key>sourceSize</key>
        <string>{140,156}</string>
      </dict>
      <key>player_50007_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,150},{133,147}}</string>
        <key>offset</key>
        <string>{8,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,147}}</string>
        <key>sourceSize</key>
        <string>{133,147}</string>
      </dict>
      <key>player_50007_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,544},{135,128}}</string>
        <key>offset</key>
        <string>{2,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,128}}</string>
        <key>sourceSize</key>
        <string>{135,128}</string>
      </dict>
      <key>player_50007_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,176},{158,119}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,119}}</string>
        <key>sourceSize</key>
        <string>{158,119}</string>
      </dict>
      <key>player_50007_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,158},{156,107}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>player_50007_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,148},{144,108}}</string>
        <key>offset</key>
        <string>{-3,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,108}}</string>
        <key>sourceSize</key>
        <string>{144,108}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50007_0_7.png</string>
      <key>size</key>
      <string>{835,705}</string>
      <key>textureFileName</key>
      <string>player_50007_0_7.png</string>
    </dict>
  </dict>
</plist>