<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50006_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,105}}</string>
        <key>offset</key>
        <string>{-50,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,105}}</string>
        <key>sourceSize</key>
        <string>{191,105}</string>
      </dict>
      <key>player_50006_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{191,103}}</string>
        <key>offset</key>
        <string>{-52,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,103}}</string>
        <key>sourceSize</key>
        <string>{191,103}</string>
      </dict>
      <key>player_50006_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,193},{190,103}}</string>
        <key>offset</key>
        <string>{-50,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,103}}</string>
        <key>sourceSize</key>
        <string>{190,103}</string>
      </dict>
      <key>player_50006_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{191,105}}</string>
        <key>offset</key>
        <string>{-50,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,105}}</string>
        <key>sourceSize</key>
        <string>{191,105}</string>
      </dict>
      <key>player_50006_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,272},{153,133}}</string>
        <key>offset</key>
        <string>{-51,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,133}}</string>
        <key>sourceSize</key>
        <string>{153,133}</string>
      </dict>
      <key>player_50006_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,698},{149,135}}</string>
        <key>offset</key>
        <string>{-49,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,135}}</string>
        <key>sourceSize</key>
        <string>{149,135}</string>
      </dict>
      <key>player_50006_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,650},{147,136}}</string>
        <key>offset</key>
        <string>{-49,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,136}}</string>
        <key>sourceSize</key>
        <string>{147,136}</string>
      </dict>
      <key>player_50006_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,407},{152,133}}</string>
        <key>offset</key>
        <string>{-50,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,133}}</string>
        <key>sourceSize</key>
        <string>{152,133}</string>
      </dict>
      <key>player_50006_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{82,166}}</string>
        <key>offset</key>
        <string>{-17,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,166}}</string>
        <key>sourceSize</key>
        <string>{82,166}</string>
      </dict>
      <key>player_50006_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,192},{77,167}}</string>
        <key>offset</key>
        <string>{-11,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,167}}</string>
        <key>sourceSize</key>
        <string>{77,167}</string>
      </dict>
      <key>player_50006_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,361},{78,166}}</string>
        <key>offset</key>
        <string>{-12,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,166}}</string>
        <key>sourceSize</key>
        <string>{78,166}</string>
      </dict>
      <key>player_50006_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,168},{83,165}}</string>
        <key>offset</key>
        <string>{-17,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,165}}</string>
        <key>sourceSize</key>
        <string>{83,165}</string>
      </dict>
      <key>player_50006_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,542},{151,143}}</string>
        <key>offset</key>
        <string>{-51,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,143}}</string>
        <key>sourceSize</key>
        <string>{151,143}</string>
      </dict>
      <key>player_50006_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,494},{154,140}}</string>
        <key>offset</key>
        <string>{-52,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,140}}</string>
        <key>sourceSize</key>
        <string>{154,140}</string>
      </dict>
      <key>player_50006_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,664},{148,143}}</string>
        <key>offset</key>
        <string>{-51,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,143}}</string>
        <key>sourceSize</key>
        <string>{148,143}</string>
      </dict>
      <key>player_50006_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,687},{150,142}}</string>
        <key>offset</key>
        <string>{-51,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,142}}</string>
        <key>sourceSize</key>
        <string>{150,142}</string>
      </dict>
      <key>player_50006_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{190,121}}</string>
        <key>offset</key>
        <string>{-52,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,121}}</string>
        <key>sourceSize</key>
        <string>{190,121}</string>
      </dict>
      <key>player_50006_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{189,117}}</string>
        <key>offset</key>
        <string>{-51,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,117}}</string>
        <key>sourceSize</key>
        <string>{189,117}</string>
      </dict>
      <key>player_50006_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,385},{189,122}}</string>
        <key>offset</key>
        <string>{-51,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,122}}</string>
        <key>sourceSize</key>
        <string>{189,122}</string>
      </dict>
      <key>player_50006_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,576},{189,121}}</string>
        <key>offset</key>
        <string>{-51,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,121}}</string>
        <key>sourceSize</key>
        <string>{189,121}</string>
      </dict>
      <key>player_50006_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,501},{161,141}}</string>
        <key>offset</key>
        <string>{-18,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,141}}</string>
        <key>sourceSize</key>
        <string>{161,141}</string>
      </dict>
      <key>player_50006_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{156,139}}</string>
        <key>offset</key>
        <string>{-16,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,139}}</string>
        <key>sourceSize</key>
        <string>{156,139}</string>
      </dict>
      <key>player_50006_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,165},{157,141}}</string>
        <key>offset</key>
        <string>{-15,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,141}}</string>
        <key>sourceSize</key>
        <string>{157,141}</string>
      </dict>
      <key>player_50006_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,331},{161,142}}</string>
        <key>offset</key>
        <string>{-18,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,142}}</string>
        <key>sourceSize</key>
        <string>{161,142}</string>
      </dict>
      <key>player_50006_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{94,164}}</string>
        <key>offset</key>
        <string>{8,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,164}}</string>
        <key>sourceSize</key>
        <string>{94,164}</string>
      </dict>
      <key>player_50006_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,166},{89,163}}</string>
        <key>offset</key>
        <string>{9,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,163}}</string>
        <key>sourceSize</key>
        <string>{89,163}</string>
      </dict>
      <key>player_50006_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{93,163}}</string>
        <key>offset</key>
        <string>{7,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,163}}</string>
        <key>sourceSize</key>
        <string>{93,163}</string>
      </dict>
      <key>player_50006_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,335},{94,164}}</string>
        <key>offset</key>
        <string>{8,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,164}}</string>
        <key>sourceSize</key>
        <string>{94,164}</string>
      </dict>
      <key>player_50006_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,136},{155,134}}</string>
        <key>offset</key>
        <string>{-15,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,134}}</string>
        <key>sourceSize</key>
        <string>{155,134}</string>
      </dict>
      <key>player_50006_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{156,134}}</string>
        <key>offset</key>
        <string>{-16,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,134}}</string>
        <key>sourceSize</key>
        <string>{156,134}</string>
      </dict>
      <key>player_50006_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,542},{152,134}}</string>
        <key>offset</key>
        <string>{-11,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,134}}</string>
        <key>sourceSize</key>
        <string>{152,134}</string>
      </dict>
      <key>player_50006_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,324},{154,133}}</string>
        <key>offset</key>
        <string>{-14,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,133}}</string>
        <key>sourceSize</key>
        <string>{154,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50006_1_0.png</string>
      <key>size</key>
      <string>{897,839}</string>
      <key>textureFileName</key>
      <string>player_50006_1_0.png</string>
    </dict>
  </dict>
</plist>