<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50003_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{65,75}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>player_50003_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{67,75}}</string>
        <key>offset</key>
        <string>{9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>player_50003_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,69},{68,75}}</string>
        <key>offset</key>
        <string>{9,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_50003_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,365},{69,74}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>player_50003_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,241},{67,70}}</string>
        <key>offset</key>
        <string>{8,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>player_50003_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,89},{67,76}}</string>
        <key>offset</key>
        <string>{9,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,76}}</string>
        <key>sourceSize</key>
        <string>{67,76}</string>
      </dict>
      <key>player_50003_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,292},{91,70}}</string>
        <key>offset</key>
        <string>{-17,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,70}}</string>
        <key>sourceSize</key>
        <string>{91,70}</string>
      </dict>
      <key>player_50003_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,95},{92,71}}</string>
        <key>offset</key>
        <string>{-19,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,71}}</string>
        <key>sourceSize</key>
        <string>{92,71}</string>
      </dict>
      <key>player_50003_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,189},{89,72}}</string>
        <key>offset</key>
        <string>{-14,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,72}}</string>
        <key>sourceSize</key>
        <string>{89,72}</string>
      </dict>
      <key>player_50003_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,189},{91,69}}</string>
        <key>offset</key>
        <string>{-14,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,69}}</string>
        <key>sourceSize</key>
        <string>{91,69}</string>
      </dict>
      <key>player_50003_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,280},{86,65}}</string>
        <key>offset</key>
        <string>{-16,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,65}}</string>
        <key>sourceSize</key>
        <string>{86,65}</string>
      </dict>
      <key>player_50003_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,0},{87,69}}</string>
        <key>offset</key>
        <string>{-15,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,69}}</string>
        <key>sourceSize</key>
        <string>{87,69}</string>
      </dict>
      <key>player_50003_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,64}}</string>
        <key>offset</key>
        <string>{-26,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,64}}</string>
        <key>sourceSize</key>
        <string>{103,64}</string>
      </dict>
      <key>player_50003_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{100,66}}</string>
        <key>offset</key>
        <string>{-27,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,66}}</string>
        <key>sourceSize</key>
        <string>{100,66}</string>
      </dict>
      <key>player_50003_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{98,65}}</string>
        <key>offset</key>
        <string>{-27,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,65}}</string>
        <key>sourceSize</key>
        <string>{98,65}</string>
      </dict>
      <key>player_50003_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{99,66}}</string>
        <key>offset</key>
        <string>{-26,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,66}}</string>
        <key>sourceSize</key>
        <string>{99,66}</string>
      </dict>
      <key>player_50003_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{99,63}}</string>
        <key>offset</key>
        <string>{-27,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,63}}</string>
        <key>sourceSize</key>
        <string>{99,63}</string>
      </dict>
      <key>player_50003_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{99,62}}</string>
        <key>offset</key>
        <string>{-26,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,62}}</string>
        <key>sourceSize</key>
        <string>{99,62}</string>
      </dict>
      <key>player_50003_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,385},{90,65}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,65}}</string>
        <key>sourceSize</key>
        <string>{90,65}</string>
      </dict>
      <key>player_50003_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,101},{94,65}}</string>
        <key>offset</key>
        <string>{-18,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,65}}</string>
        <key>sourceSize</key>
        <string>{94,65}</string>
      </dict>
      <key>player_50003_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{94,62}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,62}}</string>
        <key>sourceSize</key>
        <string>{94,62}</string>
      </dict>
      <key>player_50003_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,197},{93,67}}</string>
        <key>offset</key>
        <string>{-16,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,67}}</string>
        <key>sourceSize</key>
        <string>{93,67}</string>
      </dict>
      <key>player_50003_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,96},{93,64}}</string>
        <key>offset</key>
        <string>{-18,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,64}}</string>
        <key>sourceSize</key>
        <string>{93,64}</string>
      </dict>
      <key>player_50003_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,282},{90,66}}</string>
        <key>offset</key>
        <string>{-14,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,66}}</string>
        <key>sourceSize</key>
        <string>{90,66}</string>
      </dict>
      <key>player_50003_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,418},{68,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,68}}</string>
        <key>sourceSize</key>
        <string>{68,68}</string>
      </dict>
      <key>player_50003_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,477},{67,62}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,62}}</string>
        <key>sourceSize</key>
        <string>{67,62}</string>
      </dict>
      <key>player_50003_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,139},{66,70}}</string>
        <key>offset</key>
        <string>{8,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>player_50003_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,441},{65,74}}</string>
        <key>offset</key>
        <string>{10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>player_50003_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,182},{62,77}}</string>
        <key>offset</key>
        <string>{9,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,77}}</string>
        <key>sourceSize</key>
        <string>{62,77}</string>
      </dict>
      <key>player_50003_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,261},{66,73}}</string>
        <key>offset</key>
        <string>{10,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>player_50003_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,94},{89,65}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,65}}</string>
        <key>sourceSize</key>
        <string>{89,65}</string>
      </dict>
      <key>player_50003_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,280},{83,62}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,62}}</string>
        <key>sourceSize</key>
        <string>{83,62}</string>
      </dict>
      <key>player_50003_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{92,65}}</string>
        <key>offset</key>
        <string>{5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,65}}</string>
        <key>sourceSize</key>
        <string>{92,65}</string>
      </dict>
      <key>player_50003_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,406},{94,65}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,65}}</string>
        <key>sourceSize</key>
        <string>{94,65}</string>
      </dict>
      <key>player_50003_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,308},{96,69}}</string>
        <key>offset</key>
        <string>{6,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,69}}</string>
        <key>sourceSize</key>
        <string>{96,69}</string>
      </dict>
      <key>player_50003_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{93,64}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,64}}</string>
        <key>sourceSize</key>
        <string>{93,64}</string>
      </dict>
      <key>player_50003_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,374},{87,65}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,65}}</string>
        <key>sourceSize</key>
        <string>{87,65}</string>
      </dict>
      <key>player_50003_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,368},{86,60}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,60}}</string>
        <key>sourceSize</key>
        <string>{86,60}</string>
      </dict>
      <key>player_50003_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{89,64}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,64}}</string>
        <key>sourceSize</key>
        <string>{89,64}</string>
      </dict>
      <key>player_50003_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,406},{94,64}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,64}}</string>
        <key>sourceSize</key>
        <string>{94,64}</string>
      </dict>
      <key>player_50003_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,207},{96,66}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,66}}</string>
        <key>sourceSize</key>
        <string>{96,66}</string>
      </dict>
      <key>player_50003_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,91},{89,64}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,64}}</string>
        <key>sourceSize</key>
        <string>{89,64}</string>
      </dict>
      <key>player_50003_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,207},{70,70}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>player_50003_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,336},{70,71}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_50003_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,279},{68,69}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>player_50003_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,418},{68,65}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,65}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>player_50003_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,349},{67,69}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,69}}</string>
        <key>sourceSize</key>
        <string>{67,69}</string>
      </dict>
      <key>player_50003_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,167},{72,72}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50003_0_5.png</string>
      <key>size</key>
      <string>{641,543}</string>
      <key>textureFileName</key>
      <string>player_50003_0_5.png</string>
    </dict>
  </dict>
</plist>