<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_50004_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,471},{72,65}}</string>
        <key>offset</key>
        <string>{11,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,65}}</string>
        <key>sourceSize</key>
        <string>{72,65}</string>
      </dict>
      <key>player_50004_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,471},{70,60}}</string>
        <key>offset</key>
        <string>{8,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>player_50004_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{63,72}}</string>
        <key>offset</key>
        <string>{12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,72}}</string>
        <key>sourceSize</key>
        <string>{63,72}</string>
      </dict>
      <key>player_50004_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,83}}</string>
        <key>offset</key>
        <string>{-1,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,83}}</string>
        <key>sourceSize</key>
        <string>{96,83}</string>
      </dict>
      <key>player_50004_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,454},{71,72}}</string>
        <key>offset</key>
        <string>{6,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>player_50004_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,338},{73,75}}</string>
        <key>offset</key>
        <string>{7,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,75}}</string>
        <key>sourceSize</key>
        <string>{73,75}</string>
      </dict>
      <key>player_50004_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,315},{61,69}}</string>
        <key>offset</key>
        <string>{17,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,69}}</string>
        <key>sourceSize</key>
        <string>{61,69}</string>
      </dict>
      <key>player_50004_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{90,64}}</string>
        <key>offset</key>
        <string>{-11,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>player_50004_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,454},{70,72}}</string>
        <key>offset</key>
        <string>{24,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>player_50004_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{96,72}}</string>
        <key>offset</key>
        <string>{16,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,72}}</string>
        <key>sourceSize</key>
        <string>{96,72}</string>
      </dict>
      <key>player_50004_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,83},{80,72}}</string>
        <key>offset</key>
        <string>{13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,72}}</string>
        <key>sourceSize</key>
        <string>{80,72}</string>
      </dict>
      <key>player_50004_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,181},{83,73}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,73}}</string>
        <key>sourceSize</key>
        <string>{83,73}</string>
      </dict>
      <key>player_50004_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,315},{75,68}}</string>
        <key>offset</key>
        <string>{6,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,68}}</string>
        <key>sourceSize</key>
        <string>{75,68}</string>
      </dict>
      <key>player_50004_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{81,69}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,69}}</string>
        <key>sourceSize</key>
        <string>{81,69}</string>
      </dict>
      <key>player_50004_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,384},{85,72}}</string>
        <key>offset</key>
        <string>{12,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,72}}</string>
        <key>sourceSize</key>
        <string>{85,72}</string>
      </dict>
      <key>player_50004_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,92},{87,66}}</string>
        <key>offset</key>
        <string>{6,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,66}}</string>
        <key>sourceSize</key>
        <string>{87,66}</string>
      </dict>
      <key>player_50004_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,285},{85,71}}</string>
        <key>offset</key>
        <string>{8,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,71}}</string>
        <key>sourceSize</key>
        <string>{85,71}</string>
      </dict>
      <key>player_50004_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,89},{83,67}}</string>
        <key>offset</key>
        <string>{-1,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,67}}</string>
        <key>sourceSize</key>
        <string>{83,67}</string>
      </dict>
      <key>player_50004_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,413},{73,67}}</string>
        <key>offset</key>
        <string>{0,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,67}}</string>
        <key>sourceSize</key>
        <string>{73,67}</string>
      </dict>
      <key>player_50004_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,174},{61,82}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,82}}</string>
        <key>sourceSize</key>
        <string>{61,82}</string>
      </dict>
      <key>player_50004_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,263},{73,76}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,76}}</string>
        <key>sourceSize</key>
        <string>{73,76}</string>
      </dict>
      <key>player_50004_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{90,56}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,56}}</string>
        <key>sourceSize</key>
        <string>{90,56}</string>
      </dict>
      <key>player_50004_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,131},{80,64}}</string>
        <key>offset</key>
        <string>{2,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,64}}</string>
        <key>sourceSize</key>
        <string>{80,64}</string>
      </dict>
      <key>player_50004_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,383},{75,67}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,67}}</string>
        <key>sourceSize</key>
        <string>{75,67}</string>
      </dict>
      <key>player_50004_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,308},{73,76}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,76}}</string>
        <key>sourceSize</key>
        <string>{73,76}</string>
      </dict>
      <key>player_50004_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{83,90}}</string>
        <key>offset</key>
        <string>{3,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,90}}</string>
        <key>sourceSize</key>
        <string>{83,90}</string>
      </dict>
      <key>player_50004_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,294},{73,88}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,88}}</string>
        <key>sourceSize</key>
        <string>{73,88}</string>
      </dict>
      <key>player_50004_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{83,58}}</string>
        <key>offset</key>
        <string>{1,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,58}}</string>
        <key>sourceSize</key>
        <string>{83,58}</string>
      </dict>
      <key>player_50004_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,85},{82,58}}</string>
        <key>offset</key>
        <string>{-3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,58}}</string>
        <key>sourceSize</key>
        <string>{82,58}</string>
      </dict>
      <key>player_50004_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,197},{78,64}}</string>
        <key>offset</key>
        <string>{2,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,64}}</string>
        <key>sourceSize</key>
        <string>{78,64}</string>
      </dict>
      <key>player_50004_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,385},{67,75}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>player_50004_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{96,76}}</string>
        <key>offset</key>
        <string>{6,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,76}}</string>
        <key>sourceSize</key>
        <string>{96,76}</string>
      </dict>
      <key>player_50004_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{76,87}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,87}}</string>
        <key>sourceSize</key>
        <string>{76,87}</string>
      </dict>
      <key>player_50004_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{82,64}}</string>
        <key>offset</key>
        <string>{-18,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,64}}</string>
        <key>sourceSize</key>
        <string>{82,64}</string>
      </dict>
      <key>player_50004_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,237},{76,58}}</string>
        <key>offset</key>
        <string>{-5,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,58}}</string>
        <key>sourceSize</key>
        <string>{76,58}</string>
      </dict>
      <key>player_50004_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,67},{81,62}}</string>
        <key>offset</key>
        <string>{-3,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,62}}</string>
        <key>sourceSize</key>
        <string>{81,62}</string>
      </dict>
      <key>player_50004_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,237},{78,69}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,69}}</string>
        <key>sourceSize</key>
        <string>{78,69}</string>
      </dict>
      <key>player_50004_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,98},{95,54}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,54}}</string>
        <key>sourceSize</key>
        <string>{95,54}</string>
      </dict>
      <key>player_50004_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,195},{88,74}}</string>
        <key>offset</key>
        <string>{-13,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,74}}</string>
        <key>sourceSize</key>
        <string>{88,74}</string>
      </dict>
      <key>player_50004_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,165},{70,79}}</string>
        <key>offset</key>
        <string>{-15,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,79}}</string>
        <key>sourceSize</key>
        <string>{70,79}</string>
      </dict>
      <key>player_50004_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{67,58}}</string>
        <key>offset</key>
        <string>{-10,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,58}}</string>
        <key>sourceSize</key>
        <string>{67,58}</string>
      </dict>
      <key>player_50004_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,386},{68,62}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,62}}</string>
        <key>sourceSize</key>
        <string>{68,62}</string>
      </dict>
      <key>player_50004_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,372},{83,62}}</string>
        <key>offset</key>
        <string>{3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,62}}</string>
        <key>sourceSize</key>
        <string>{83,62}</string>
      </dict>
      <key>player_50004_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,454},{70,58}}</string>
        <key>offset</key>
        <string>{1,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,58}}</string>
        <key>sourceSize</key>
        <string>{70,58}</string>
      </dict>
      <key>player_50004_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{82,65}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,65}}</string>
        <key>sourceSize</key>
        <string>{82,65}</string>
      </dict>
      <key>player_50004_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,266},{69,83}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,83}}</string>
        <key>sourceSize</key>
        <string>{69,83}</string>
      </dict>
      <key>player_50004_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,165},{64,67}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,67}}</string>
        <key>sourceSize</key>
        <string>{64,67}</string>
      </dict>
      <key>player_50004_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,456},{60,67}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_50004_0_2.png</string>
      <key>size</key>
      <string>{573,546}</string>
      <key>textureFileName</key>
      <string>player_50004_0_2.png</string>
    </dict>
  </dict>
</plist>