<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj135_000120.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,290},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000121.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,0},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000122.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,484},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000123.png</key>
		<dict>
			<key>frame</key>
			<string>{{1126,194},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000124.png</key>
		<dict>
			<key>frame</key>
			<string>{{1176,0},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000125.png</key>
		<dict>
			<key>frame</key>
			<string>{{1370,0},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000126.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,0},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000127.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,194},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000128.png</key>
		<dict>
			<key>frame</key>
			<string>{{1320,194},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000129.png</key>
		<dict>
			<key>frame</key>
			<string>{{1320,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000130.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000131.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000132.png</key>
		<dict>
			<key>frame</key>
			<string>{{1170,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000133.png</key>
		<dict>
			<key>frame</key>
			<string>{{1020,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000134.png</key>
		<dict>
			<key>frame</key>
			<string>{{1214,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000135.png</key>
		<dict>
			<key>frame</key>
			<string>{{1408,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000136.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000137.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,338},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000138.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,676},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000139.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1014},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000140.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1352},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000141.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,1352},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000142.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,0},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000143.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,338},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000144.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,676},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000145.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,1014},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000146.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,1014},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000147.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,1352},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000148.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,1352},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000149.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,0},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000150.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,338},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000151.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,676},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000152.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,676},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000153.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,1014},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000154.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1014},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000155.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1352},{192,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,336}}</string>
			<key>sourceSize</key>
			<string>{192,336}</string>
		</dict>
		<key>obj135_000156.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000157.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000158.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000159.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000160.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000161.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000162.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000163.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000164.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000165.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,580},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000166.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000167.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,580},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000168.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000169.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000170.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,580},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000171.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000172.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000173.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,580},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000174.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,870},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000175.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000176.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,194},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000177.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,1352},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj135_000178.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,228},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000179.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,262},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj135_2.png</string>
		<key>size</key>
		<string>{1792,1792}</string>
		<key>textureFileName</key>
		<string>obj135_2.png</string>
	</dict>
</dict>
</plist>
