<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj160_000160.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000161.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000162.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000163.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000164.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000165.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000166.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000167.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000168.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000169.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000170.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,0},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj160_000171.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000172.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000173.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000174.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000175.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000176.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000177.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000178.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000179.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000180.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000181.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000182.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000183.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000184.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000185.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000186.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000187.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj160_000188.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000189.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000190.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000191.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000192.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000193.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000194.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000195.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,898},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj160_000196.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,770},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj160_000197.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,898},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj160_000198.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,898},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj160_000199.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,898},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj160_4.png</string>
		<key>size</key>
		<string>{1408,1296}</string>
		<key>textureFileName</key>
		<string>obj160_4.png</string>
	</dict>
</dict>
</plist>
