<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj135_000420.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,452},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000421.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,452},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000422.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,546},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj135_000423.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000424.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj135_000425.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,418},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000426.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,258},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj135_000427.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj135_000428.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,418},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000429.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,546},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj135_000430.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,452},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000431.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,452},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000432.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000433.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,482},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj135_000434.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,420},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj135_000435.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,452},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000436.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000437.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000438.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,520},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000439.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,520},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000440.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,554},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000441.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,386},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>obj135_000442.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000443.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,520},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000444.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,290},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj135_000445.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj135_000446.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,520},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000447.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,386},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>obj135_000448.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj135_000449.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,554},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000450.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj135_000451.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,322},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj135_000452.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,554},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000453.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,588},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000454.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj135_000455.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj135_000456.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,588},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000457.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj135_000458.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,622},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000459.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,610},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000460.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj135_000461.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,610},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000462.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,644},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000463.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,514},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj135_000464.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,642},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000465.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,644},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000466.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj135_000467.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,388},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj135_000468.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj135_000469.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj135_000470.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,518},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000471.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj135_000472.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj135_000473.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj135_000474.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj135_000475.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj135_000476.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,520},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000477.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,518},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000478.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,552},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj135_000479.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,552},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj135_7.png</string>
		<key>size</key>
		<string>{896,896}</string>
		<key>textureFileName</key>
		<string>obj135_7.png</string>
	</dict>
</dict>
</plist>
