<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj135_000000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,194},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,388},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,582},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,776},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,970},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1164},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1358},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1552},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000009.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1552},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000010.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,0},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000011.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,0},{288,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,192}}</string>
			<key>sourceSize</key>
			<string>{288,192}</string>
		</dict>
		<key>obj135_000012.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,194},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000013.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,0},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000014.png</key>
		<dict>
			<key>frame</key>
			<string>{{1112,0},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000015.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,0},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,0},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000017.png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,194},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000018.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,194},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000019.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,194},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000020.png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,194},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1306,194},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1306,388},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000023.png</key>
		<dict>
			<key>frame</key>
			<string>{{1548,388},{240,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,192}}</string>
			<key>sourceSize</key>
			<string>{240,192}</string>
		</dict>
		<key>obj135_000024.png</key>
		<dict>
			<key>frame</key>
			<string>{{1838,194},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000025.png</key>
		<dict>
			<key>frame</key>
			<string>{{1838,0},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000026.png</key>
		<dict>
			<key>frame</key>
			<string>{{1838,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000027.png</key>
		<dict>
			<key>frame</key>
			<string>{{1790,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000028.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000029.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000030.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000031.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000032.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,388},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000033.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000034.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000035.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,582},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000036.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000037.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000038.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,970},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000039.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,970},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000040.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000041.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1164},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000042.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1358},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000043.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,1358},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000044.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,1164},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000045.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,1164},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000046.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,970},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000047.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1552},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000048.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,1358},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000049.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,1552},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000050.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,1164},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000051.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,1358},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000052.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,1552},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000053.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000054.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,970},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000055.png</key>
		<dict>
			<key>frame</key>
			<string>{{1066,1164},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000056.png</key>
		<dict>
			<key>frame</key>
			<string>{{1066,1358},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000057.png</key>
		<dict>
			<key>frame</key>
			<string>{{1162,1552},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000058.png</key>
		<dict>
			<key>frame</key>
			<string>{{1162,776},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>obj135_000059.png</key>
		<dict>
			<key>frame</key>
			<string>{{1162,970},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj135_0.png</string>
		<key>size</key>
		<string>{2048,1792}</string>
		<key>textureFileName</key>
		<string>obj135_0.png</string>
	</dict>
</dict>
</plist>
