<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj160_000440.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000441.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000442.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000443.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000444.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000445.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000446.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000447.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj160_000448.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000449.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000450.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000451.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000452.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000453.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000454.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000455.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000456.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000457.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000458.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000459.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000460.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000461.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000462.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000463.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000464.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj160_000465.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000466.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000467.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000468.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000469.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000470.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000471.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000472.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,674},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000473.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000474.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000475.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000476.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj160_000477.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj160_11.png</string>
		<key>size</key>
		<string>{1408,1296}</string>
		<key>textureFileName</key>
		<string>obj160_11.png</string>
	</dict>
</dict>
</plist>
