<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj119_000371.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,300}}</string>
			<key>sourceSize</key>
			<string>{48,300}</string>
		</dict>
		<key>obj119_000372.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj119_000373.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj119_000374.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,482},{48,351}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,351}}</string>
			<key>sourceSize</key>
			<string>{48,351}</string>
		</dict>
		<key>obj119_000375.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,524}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,524}}</string>
			<key>sourceSize</key>
			<string>{48,524}</string>
		</dict>
		<key>obj119_000376.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,524}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,524}}</string>
			<key>sourceSize</key>
			<string>{48,524}</string>
		</dict>
		<key>obj119_000377.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,450},{48,428}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,428}}</string>
			<key>sourceSize</key>
			<string>{48,428}</string>
		</dict>
		<key>obj119_000378.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,492}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,492}}</string>
			<key>sourceSize</key>
			<string>{48,492}</string>
		</dict>
		<key>obj119_000379.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,529}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,529}}</string>
			<key>sourceSize</key>
			<string>{48,529}</string>
		</dict>
		<key>obj119_000380.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,302},{48,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,125}}</string>
			<key>sourceSize</key>
			<string>{48,125}</string>
		</dict>
		<key>obj119_000381.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,816},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000382.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,302},{48,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,125}}</string>
			<key>sourceSize</key>
			<string>{48,125}</string>
		</dict>
		<key>obj119_000383.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,835},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000384.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,109}}</string>
			<key>sourceSize</key>
			<string>{48,109}</string>
		</dict>
		<key>obj119_000385.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,853},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000386.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,85}}</string>
			<key>sourceSize</key>
			<string>{48,85}</string>
		</dict>
		<key>obj119_000387.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,853},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000388.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,816},{48,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,65}}</string>
			<key>sourceSize</key>
			<string>{48,65}</string>
		</dict>
		<key>obj119_000389.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,853},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000390.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,300}}</string>
			<key>sourceSize</key>
			<string>{48,300}</string>
		</dict>
		<key>obj119_000391.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,850},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000392.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,850},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000393.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,300}}</string>
			<key>sourceSize</key>
			<string>{48,300}</string>
		</dict>
		<key>obj119_000394.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,850},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000395.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,850},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000396.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,531},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000397.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,87},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000398.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,111},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000399.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,121},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000400.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,494},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000401.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,145},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000402.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,155},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000403.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,179},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000404.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,189},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000405.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,494},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000406.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,213},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000407.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,223},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000408.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,247},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000409.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,257},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000410.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,526},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000411.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,281},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000412.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,291},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000413.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,302},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000414.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,302},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000415.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,529}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,529}}</string>
			<key>sourceSize</key>
			<string>{48,529}</string>
		</dict>
		<key>obj119_000416.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,492}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,492}}</string>
			<key>sourceSize</key>
			<string>{48,492}</string>
		</dict>
		<key>obj119_000417.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,450},{48,428}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,428}}</string>
			<key>sourceSize</key>
			<string>{48,428}</string>
		</dict>
		<key>obj119_000418.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,524}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,524}}</string>
			<key>sourceSize</key>
			<string>{48,524}</string>
		</dict>
		<key>obj119_000419.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,524}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,524}}</string>
			<key>sourceSize</key>
			<string>{48,524}</string>
		</dict>
		<key>obj119_000420.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,531},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000421.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,302},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000422.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,315},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000423.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,325},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000424.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,336},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000425.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,526},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000426.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,336},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000427.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,336},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000428.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,349},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000429.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,359},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000430.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,526},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000431.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,370},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000432.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,370},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000433.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,370},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000434.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,383},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000435.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,526},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj119_000436.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,393},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000437.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,404},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000438.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,429},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000439.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,300}}</string>
			<key>sourceSize</key>
			<string>{48,300}</string>
		</dict>
		<key>obj119_000440.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,404},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000441.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,404},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000442.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,300}}</string>
			<key>sourceSize</key>
			<string>{48,300}</string>
		</dict>
		<key>obj119_000443.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,417},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj119_000444.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,427},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj119_1.png</string>
		<key>size</key>
		<string>{896,896}</string>
		<key>textureFileName</key>
		<string>obj119_1.png</string>
	</dict>
</dict>
</plist>
