<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tiles111_000000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000009.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000010.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000011.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000012.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000013.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000014.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000015.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000016.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000017.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000018.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000019.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000020.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000021.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000022.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000023.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000024.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000025.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000026.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000027.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000028.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000029.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000030.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000031.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000032.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000033.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000034.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000035.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000036.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000037.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000038.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000039.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000040.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000041.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles111_000042.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tiles111_0.png</string>
		<key>size</key>
		<string>{768,640}</string>
		<key>textureFileName</key>
		<string>tiles111_0.png</string>
	</dict>
</dict>
</plist>
