<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20001_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,708},{71,89}}</string>
        <key>offset</key>
        <string>{142,-139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,89}}</string>
        <key>sourceSize</key>
        <string>{71,89}</string>
      </dict>
      <key>sfx_20001_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,708},{71,89}}</string>
        <key>offset</key>
        <string>{142,-139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,89}}</string>
        <key>sourceSize</key>
        <string>{71,89}</string>
      </dict>
      <key>sfx_20001_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,638},{71,89}}</string>
        <key>offset</key>
        <string>{142,-139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,89}}</string>
        <key>sourceSize</key>
        <string>{71,89}</string>
      </dict>
      <key>sfx_20001_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,532},{103,162}}</string>
        <key>offset</key>
        <string>{142,-66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,162}}</string>
        <key>sourceSize</key>
        <string>{103,162}</string>
      </dict>
      <key>sfx_20001_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,532},{104,144}}</string>
        <key>offset</key>
        <string>{142,-84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,144}}</string>
        <key>sourceSize</key>
        <string>{104,144}</string>
      </dict>
      <key>sfx_20001_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,638},{125,118}}</string>
        <key>offset</key>
        <string>{111,-110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>sfx_20001_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,532},{174,169}}</string>
        <key>offset</key>
        <string>{89,-72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,169}}</string>
        <key>sourceSize</key>
        <string>{174,169}</string>
      </dict>
      <key>sfx_20001_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{199,172}}</string>
        <key>offset</key>
        <string>{81,-79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,172}}</string>
        <key>sourceSize</key>
        <string>{199,172}</string>
      </dict>
      <key>sfx_20001_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{213,188}}</string>
        <key>offset</key>
        <string>{69,-71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,188}}</string>
        <key>sourceSize</key>
        <string>{213,188}</string>
      </dict>
      <key>sfx_20001_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,258},{220,191}}</string>
        <key>offset</key>
        <string>{57,-72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,191}}</string>
        <key>sourceSize</key>
        <string>{220,191}</string>
      </dict>
      <key>sfx_20001_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,190},{209,163}}</string>
        <key>offset</key>
        <string>{67,-104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,163}}</string>
        <key>sourceSize</key>
        <string>{209,163}</string>
      </dict>
      <key>sfx_20001_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,213}}</string>
        <key>offset</key>
        <string>{33,-49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,213}}</string>
        <key>sourceSize</key>
        <string>{256,213}</string>
      </dict>
      <key>sfx_20001_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,496},{204,131}}</string>
        <key>offset</key>
        <string>{72,-104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,131}}</string>
        <key>sourceSize</key>
        <string>{204,131}</string>
      </dict>
      <key>sfx_20001_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{213,236}}</string>
        <key>offset</key>
        <string>{68,-34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,236}}</string>
        <key>sourceSize</key>
        <string>{213,236}</string>
      </dict>
      <key>sfx_20001_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,355},{175,187}}</string>
        <key>offset</key>
        <string>{66,-52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,187}}</string>
        <key>sourceSize</key>
        <string>{175,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20001_0.png</string>
      <key>size</key>
      <string>{677,784}</string>
      <key>textureFileName</key>
      <string>sfx_20001_0.png</string>
    </dict>
  </dict>
</plist>