<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11089_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,520},{244,240}}</string>
        <key>offset</key>
        <string>{-175,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,240}}</string>
        <key>sourceSize</key>
        <string>{244,240}</string>
      </dict>
      <key>sfx_11089_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{265,273}}</string>
        <key>offset</key>
        <string>{-212,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,273}}</string>
        <key>sourceSize</key>
        <string>{265,273}</string>
      </dict>
      <key>sfx_11089_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{251,321}}</string>
        <key>offset</key>
        <string>{-244,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,321}}</string>
        <key>sourceSize</key>
        <string>{251,321}</string>
      </dict>
      <key>sfx_11089_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{267,259}}</string>
        <key>offset</key>
        <string>{-270,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,259}}</string>
        <key>sourceSize</key>
        <string>{267,259}</string>
      </dict>
      <key>sfx_11089_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,789},{232,205}}</string>
        <key>offset</key>
        <string>{-242,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,205}}</string>
        <key>sourceSize</key>
        <string>{232,205}</string>
      </dict>
      <key>sfx_11089_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,789},{258,214}}</string>
        <key>offset</key>
        <string>{-266,-21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,214}}</string>
        <key>sourceSize</key>
        <string>{258,214}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11089_5.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>sfx_11089_5.png</string>
    </dict>
  </dict>
</plist>