<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11084_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{457,415}}</string>
        <key>offset</key>
        <string>{-112,344}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,415}}</string>
        <key>sourceSize</key>
        <string>{457,415}</string>
      </dict>
      <key>sfx_11084_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{515,463}}</string>
        <key>offset</key>
        <string>{-167,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{515,463}}</string>
        <key>sourceSize</key>
        <string>{515,463}</string>
      </dict>
      <key>sfx_11084_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{310,307}}</string>
        <key>offset</key>
        <string>{-189,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,307}}</string>
        <key>sourceSize</key>
        <string>{310,307}</string>
      </dict>
      <key>sfx_11084_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,312},{302,248}}</string>
        <key>offset</key>
        <string>{-149,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,248}}</string>
        <key>sourceSize</key>
        <string>{302,248}</string>
      </dict>
      <key>sfx_11084_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,517},{465,386}}</string>
        <key>offset</key>
        <string>{-82,345}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,386}}</string>
        <key>sourceSize</key>
        <string>{465,386}</string>
      </dict>
      <key>sfx_11084_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,517},{464,378}}</string>
        <key>offset</key>
        <string>{-65,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{464,378}}</string>
        <key>sourceSize</key>
        <string>{464,378}</string>
      </dict>
      <key>sfx_11084_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,459},{428,367}}</string>
        <key>offset</key>
        <string>{-78,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,367}}</string>
        <key>sourceSize</key>
        <string>{428,367}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11084_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_11084_1.png</string>
    </dict>
  </dict>
</plist>