<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11072_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{301,199}}</string>
        <key>offset</key>
        <string>{-158,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,199}}</string>
        <key>sourceSize</key>
        <string>{301,199}</string>
      </dict>
      <key>sfx_11072_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,322},{288,260}}</string>
        <key>offset</key>
        <string>{-107,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,260}}</string>
        <key>sourceSize</key>
        <string>{288,260}</string>
      </dict>
      <key>sfx_11072_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,612},{285,262}}</string>
        <key>offset</key>
        <string>{-123,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,262}}</string>
        <key>sourceSize</key>
        <string>{285,262}</string>
      </dict>
      <key>sfx_11072_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,275}}</string>
        <key>offset</key>
        <string>{-175,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,275}}</string>
        <key>sourceSize</key>
        <string>{320,275}</string>
      </dict>
      <key>sfx_11072_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{287,221}}</string>
        <key>offset</key>
        <string>{-122,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,221}}</string>
        <key>sourceSize</key>
        <string>{287,221}</string>
      </dict>
      <key>sfx_11072_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,899},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11072_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,899},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11072_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,899},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11072_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{9,899},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11072_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,899},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11072_2.png</string>
      <key>size</key>
      <string>{642,902}</string>
      <key>textureFileName</key>
      <string>sfx_11072_2.png</string>
    </dict>
  </dict>
</plist>