<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20019_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,0},{96,375}}</string>
        <key>offset</key>
        <string>{-22,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,375}}</string>
        <key>sourceSize</key>
        <string>{96,375}</string>
      </dict>
      <key>sfx_20019_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,458},{96,388}}</string>
        <key>offset</key>
        <string>{-22,346}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,388}}</string>
        <key>sourceSize</key>
        <string>{96,388}</string>
      </dict>
      <key>sfx_20019_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,405},{95,394}}</string>
        <key>offset</key>
        <string>{-22,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,394}}</string>
        <key>sourceSize</key>
        <string>{95,394}</string>
      </dict>
      <key>sfx_20019_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{92,412}}</string>
        <key>offset</key>
        <string>{-20,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,412}}</string>
        <key>sourceSize</key>
        <string>{92,412}</string>
      </dict>
      <key>sfx_20019_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,458},{93,423}}</string>
        <key>offset</key>
        <string>{-20,381}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,423}}</string>
        <key>sourceSize</key>
        <string>{93,423}</string>
      </dict>
      <key>sfx_20019_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,458},{88,432}}</string>
        <key>offset</key>
        <string>{-17,391}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,432}}</string>
        <key>sourceSize</key>
        <string>{88,432}</string>
      </dict>
      <key>sfx_20019_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{88,445}}</string>
        <key>offset</key>
        <string>{-16,403}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,445}}</string>
        <key>sourceSize</key>
        <string>{88,445}</string>
      </dict>
      <key>sfx_20019_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{86,456}}</string>
        <key>offset</key>
        <string>{-14,414}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,456}}</string>
        <key>sourceSize</key>
        <string>{86,456}</string>
      </dict>
      <key>sfx_20019_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,463}}</string>
        <key>offset</key>
        <string>{-14,421}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,463}}</string>
        <key>sourceSize</key>
        <string>{85,463}</string>
      </dict>
      <key>sfx_20019_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,87},{86,451}}</string>
        <key>offset</key>
        <string>{-15,409}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,451}}</string>
        <key>sourceSize</key>
        <string>{86,451}</string>
      </dict>
      <key>sfx_20019_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{89,445}}</string>
        <key>offset</key>
        <string>{-17,403}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,445}}</string>
        <key>sourceSize</key>
        <string>{89,445}</string>
      </dict>
      <key>sfx_20019_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{92,434}}</string>
        <key>offset</key>
        <string>{-20,392}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,434}}</string>
        <key>sourceSize</key>
        <string>{92,434}</string>
      </dict>
      <key>sfx_20019_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{95,427}}</string>
        <key>offset</key>
        <string>{-22,386}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,427}}</string>
        <key>sourceSize</key>
        <string>{95,427}</string>
      </dict>
      <key>sfx_20019_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,458},{95,414}}</string>
        <key>offset</key>
        <string>{-23,373}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,414}}</string>
        <key>sourceSize</key>
        <string>{95,414}</string>
      </dict>
      <key>sfx_20019_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,0},{99,403}}</string>
        <key>offset</key>
        <string>{-24,361}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,403}}</string>
        <key>sourceSize</key>
        <string>{99,403}</string>
      </dict>
      <key>sfx_20019_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,458},{97,390}}</string>
        <key>offset</key>
        <string>{-23,348}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,390}}</string>
        <key>sourceSize</key>
        <string>{97,390}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20019_0.png</string>
      <key>size</key>
      <string>{864,898}</string>
      <key>textureFileName</key>
      <string>sfx_20019_0.png</string>
    </dict>
  </dict>
</plist>