<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60010_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{102,262}}</string>
        <key>offset</key>
        <string>{-15,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,262}}</string>
        <key>sourceSize</key>
        <string>{102,262}</string>
      </dict>
      <key>sfx_60010_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{101,264}}</string>
        <key>offset</key>
        <string>{-13,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,264}}</string>
        <key>sourceSize</key>
        <string>{101,264}</string>
      </dict>
      <key>sfx_60010_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,264},{102,261}}</string>
        <key>offset</key>
        <string>{-12,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,261}}</string>
        <key>sourceSize</key>
        <string>{102,261}</string>
      </dict>
      <key>sfx_60010_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,527},{107,256}}</string>
        <key>offset</key>
        <string>{-15,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,256}}</string>
        <key>sourceSize</key>
        <string>{107,256}</string>
      </dict>
      <key>sfx_60010_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,0},{110,252}}</string>
        <key>offset</key>
        <string>{-16,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,252}}</string>
        <key>sourceSize</key>
        <string>{110,252}</string>
      </dict>
      <key>sfx_60010_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{111,261}}</string>
        <key>offset</key>
        <string>{-16,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,261}}</string>
        <key>sourceSize</key>
        <string>{111,261}</string>
      </dict>
      <key>sfx_60010_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{113,263}}</string>
        <key>offset</key>
        <string>{-16,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,263}}</string>
        <key>sourceSize</key>
        <string>{113,263}</string>
      </dict>
      <key>sfx_60010_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,254},{115,251}}</string>
        <key>offset</key>
        <string>{-16,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,251}}</string>
        <key>sourceSize</key>
        <string>{115,251}</string>
      </dict>
      <key>sfx_60010_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{114,262}}</string>
        <key>offset</key>
        <string>{-15,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,262}}</string>
        <key>sourceSize</key>
        <string>{114,262}</string>
      </dict>
      <key>sfx_60010_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,266}}</string>
        <key>offset</key>
        <string>{-16,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,266}}</string>
        <key>sourceSize</key>
        <string>{114,266}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60010_0.png</string>
      <key>size</key>
      <string>{618,642}</string>
      <key>textureFileName</key>
      <string>sfx_60010_0.png</string>
    </dict>
  </dict>
</plist>