<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11087_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1142,0},{184,149}}</string>
        <key>offset</key>
        <string>{-63,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,149}}</string>
        <key>sourceSize</key>
        <string>{184,149}</string>
      </dict>
      <key>sfx_11087_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,370},{267,233}}</string>
        <key>offset</key>
        <string>{-107,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,233}}</string>
        <key>sourceSize</key>
        <string>{267,233}</string>
      </dict>
      <key>sfx_11087_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,0},{368,327}}</string>
        <key>offset</key>
        <string>{-153,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,327}}</string>
        <key>sourceSize</key>
        <string>{368,327}</string>
      </dict>
      <key>sfx_11087_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,451},{438,376}}</string>
        <key>offset</key>
        <string>{-185,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,376}}</string>
        <key>sourceSize</key>
        <string>{438,376}</string>
      </dict>
      <key>sfx_11087_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{449,390}}</string>
        <key>offset</key>
        <string>{-207,307}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,390}}</string>
        <key>sourceSize</key>
        <string>{449,390}</string>
      </dict>
      <key>sfx_11087_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{485,419}}</string>
        <key>offset</key>
        <string>{-234,328}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{485,419}}</string>
        <key>sourceSize</key>
        <string>{485,419}</string>
      </dict>
      <key>sfx_11087_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,487},{450,379}}</string>
        <key>offset</key>
        <string>{-221,281}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,379}}</string>
        <key>sourceSize</key>
        <string>{450,379}</string>
      </dict>
      <key>sfx_11087_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,487},{452,283}}</string>
        <key>offset</key>
        <string>{-204,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,283}}</string>
        <key>sourceSize</key>
        <string>{452,283}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11087_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_11087_0.png</string>
    </dict>
  </dict>
</plist>