<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11002_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1236,563},{52,169}}</string>
        <key>offset</key>
        <string>{-11,635}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,169}}</string>
        <key>sourceSize</key>
        <string>{52,169}</string>
      </dict>
      <key>sfx_11002_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,917},{129,245}}</string>
        <key>offset</key>
        <string>{-11,635}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,245}}</string>
        <key>sourceSize</key>
        <string>{129,245}</string>
      </dict>
      <key>sfx_11002_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,730},{166,318}}</string>
        <key>offset</key>
        <string>{-46,635}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,318}}</string>
        <key>sourceSize</key>
        <string>{166,318}</string>
      </dict>
      <key>sfx_11002_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1069,563},{165,394}}</string>
        <key>offset</key>
        <string>{-46,635}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,394}}</string>
        <key>sourceSize</key>
        <string>{165,394}</string>
      </dict>
      <key>sfx_11002_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,563},{165,468}}</string>
        <key>offset</key>
        <string>{-45,635}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,468}}</string>
        <key>sourceSize</key>
        <string>{165,468}</string>
      </dict>
      <key>sfx_11002_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1293,376},{186,542}}</string>
        <key>offset</key>
        <string>{-67,635}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,542}}</string>
        <key>sourceSize</key>
        <string>{186,542}</string>
      </dict>
      <key>sfx_11002_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,376},{185,618}}</string>
        <key>offset</key>
        <string>{-67,635}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,618}}</string>
        <key>sourceSize</key>
        <string>{185,618}</string>
      </dict>
      <key>sfx_11002_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,189},{185,693}}</string>
        <key>offset</key>
        <string>{-66,635}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,693}}</string>
        <key>sourceSize</key>
        <string>{185,693}</string>
      </dict>
      <key>sfx_11002_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,0},{187,746}}</string>
        <key>offset</key>
        <string>{-67,635}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,746}}</string>
        <key>sourceSize</key>
        <string>{187,746}</string>
      </dict>
      <key>sfx_11002_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,749}}</string>
        <key>offset</key>
        <string>{-67,635}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,749}}</string>
        <key>sourceSize</key>
        <string>{198,749}</string>
      </dict>
      <key>sfx_11002_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1499,0},{211,746}}</string>
        <key>offset</key>
        <string>{-66,631}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,746}}</string>
        <key>sourceSize</key>
        <string>{211,746}</string>
      </dict>
      <key>sfx_11002_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{222,671}}</string>
        <key>offset</key>
        <string>{-75,555}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,671}}</string>
        <key>sourceSize</key>
        <string>{222,671}</string>
      </dict>
      <key>sfx_11002_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{232,597}}</string>
        <key>offset</key>
        <string>{-73,482}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,597}}</string>
        <key>sourceSize</key>
        <string>{232,597}</string>
      </dict>
      <key>sfx_11002_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1481,748},{263,525}}</string>
        <key>offset</key>
        <string>{-107,409}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,525}}</string>
        <key>sourceSize</key>
        <string>{263,525}</string>
      </dict>
      <key>sfx_11002_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,658},{257,442}}</string>
        <key>offset</key>
        <string>{-96,339}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,442}}</string>
        <key>sourceSize</key>
        <string>{257,442}</string>
      </dict>
      <key>sfx_11002_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,730},{258,390}}</string>
        <key>offset</key>
        <string>{-92,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,390}}</string>
        <key>sourceSize</key>
        <string>{258,390}</string>
      </dict>
      <key>sfx_11002_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,917},{299,292}}</string>
        <key>offset</key>
        <string>{-128,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,292}}</string>
        <key>sourceSize</key>
        <string>{299,292}</string>
      </dict>
      <key>sfx_11002_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1691},{287,260}}</string>
        <key>offset</key>
        <string>{-111,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,260}}</string>
        <key>sourceSize</key>
        <string>{287,260}</string>
      </dict>
      <key>sfx_11002_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,1691},{274,231}}</string>
        <key>offset</key>
        <string>{-108,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,231}}</string>
        <key>sourceSize</key>
        <string>{274,231}</string>
      </dict>
      <key>sfx_11002_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,959},{298,217}}</string>
        <key>offset</key>
        <string>{-128,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,217}}</string>
        <key>sourceSize</key>
        <string>{298,217}</string>
      </dict>
      <key>sfx_11002_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1458,1275},{289,225}}</string>
        <key>offset</key>
        <string>{-117,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,225}}</string>
        <key>sourceSize</key>
        <string>{289,225}</string>
      </dict>
      <key>sfx_11002_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1236,920},{304,233}}</string>
        <key>offset</key>
        <string>{-129,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,233}}</string>
        <key>sourceSize</key>
        <string>{304,233}</string>
      </dict>
      <key>sfx_11002_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,1226},{290,233}}</string>
        <key>offset</key>
        <string>{-140,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,233}}</string>
        <key>sourceSize</key>
        <string>{290,233}</string>
      </dict>
      <key>sfx_11002_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,1050},{262,225}}</string>
        <key>offset</key>
        <string>{-117,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,225}}</string>
        <key>sourceSize</key>
        <string>{262,225}</string>
      </dict>
      <key>sfx_11002_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1691},{277,198}}</string>
        <key>offset</key>
        <string>{-129,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,198}}</string>
        <key>sourceSize</key>
        <string>{277,198}</string>
      </dict>
      <key>sfx_11002_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1458,1502},{289,187}}</string>
        <key>offset</key>
        <string>{-140,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,187}}</string>
        <key>sourceSize</key>
        <string>{289,187}</string>
      </dict>
      <key>sfx_11002_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,1277},{254,198}}</string>
        <key>offset</key>
        <string>{-115,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,198}}</string>
        <key>sourceSize</key>
        <string>{254,198}</string>
      </dict>
      <key>sfx_11002_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,1259},{262,186}}</string>
        <key>offset</key>
        <string>{-119,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,186}}</string>
        <key>sourceSize</key>
        <string>{262,186}</string>
      </dict>
      <key>sfx_11002_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,1518},{224,148}}</string>
        <key>offset</key>
        <string>{-79,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,148}}</string>
        <key>sourceSize</key>
        <string>{224,148}</string>
      </dict>
      <key>sfx_11002_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,1477},{202,104}}</string>
        <key>offset</key>
        <string>{-54,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,104}}</string>
        <key>sourceSize</key>
        <string>{202,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11002_0.png</string>
      <key>size</key>
      <string>{1792,2048}</string>
      <key>textureFileName</key>
      <string>sfx_11002_0.png</string>
    </dict>
  </dict>
</plist>