<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11082_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,325},{321,181}}</string>
        <key>offset</key>
        <string>{-136,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,181}}</string>
        <key>sourceSize</key>
        <string>{321,181}</string>
      </dict>
      <key>sfx_11082_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{323,183}}</string>
        <key>offset</key>
        <string>{-137,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,183}}</string>
        <key>sourceSize</key>
        <string>{323,183}</string>
      </dict>
      <key>sfx_11082_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,325},{311,201}}</string>
        <key>offset</key>
        <string>{-132,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,201}}</string>
        <key>sourceSize</key>
        <string>{311,201}</string>
      </dict>
      <key>sfx_11082_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,0},{294,200}}</string>
        <key>offset</key>
        <string>{-123,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,200}}</string>
        <key>sourceSize</key>
        <string>{294,200}</string>
      </dict>
      <key>sfx_11082_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{308,270}}</string>
        <key>offset</key>
        <string>{-130,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,270}}</string>
        <key>sourceSize</key>
        <string>{308,270}</string>
      </dict>
      <key>sfx_11082_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,202},{290,292}}</string>
        <key>offset</key>
        <string>{-121,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,292}}</string>
        <key>sourceSize</key>
        <string>{290,292}</string>
      </dict>
      <key>sfx_11082_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,494},{282,278}}</string>
        <key>offset</key>
        <string>{-118,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,278}}</string>
        <key>sourceSize</key>
        <string>{282,278}</string>
      </dict>
      <key>sfx_11082_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,0},{261,264}}</string>
        <key>offset</key>
        <string>{-106,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,264}}</string>
        <key>sourceSize</key>
        <string>{261,264}</string>
      </dict>
      <key>sfx_11082_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{266,243}}</string>
        <key>offset</key>
        <string>{-110,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,243}}</string>
        <key>sourceSize</key>
        <string>{266,243}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11082_0.png</string>
      <key>size</key>
      <string>{1027,908}</string>
      <key>textureFileName</key>
      <string>sfx_11082_0.png</string>
    </dict>
  </dict>
</plist>