<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10066_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,1416},{150,326}}</string>
        <key>offset</key>
        <string>{-48,770}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,326}}</string>
        <key>sourceSize</key>
        <string>{150,326}</string>
      </dict>
      <key>sfx_10066_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{154,506}}</string>
        <key>offset</key>
        <string>{-51,736}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,506}}</string>
        <key>sourceSize</key>
        <string>{154,506}</string>
      </dict>
      <key>sfx_10066_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,536}}</string>
        <key>offset</key>
        <string>{-52,550}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,536}}</string>
        <key>sourceSize</key>
        <string>{157,536}</string>
      </dict>
      <key>sfx_10066_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{406,503}}</string>
        <key>offset</key>
        <string>{-177,316}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,503}}</string>
        <key>sourceSize</key>
        <string>{406,503}</string>
      </dict>
      <key>sfx_10066_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,723},{410,437}}</string>
        <key>offset</key>
        <string>{-184,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,437}}</string>
        <key>sourceSize</key>
        <string>{410,437}</string>
      </dict>
      <key>sfx_10066_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,503},{410,437}}</string>
        <key>offset</key>
        <string>{-184,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,437}}</string>
        <key>sourceSize</key>
        <string>{410,437}</string>
      </dict>
      <key>sfx_10066_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,0},{414,501}}</string>
        <key>offset</key>
        <string>{-188,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,501}}</string>
        <key>sourceSize</key>
        <string>{414,501}</string>
      </dict>
      <key>sfx_10066_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,0},{438,514}}</string>
        <key>offset</key>
        <string>{-186,346}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,514}}</string>
        <key>sourceSize</key>
        <string>{438,514}</string>
      </dict>
      <key>sfx_10066_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,440},{420,466}}</string>
        <key>offset</key>
        <string>{-188,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,466}}</string>
        <key>sourceSize</key>
        <string>{420,466}</string>
      </dict>
      <key>sfx_10066_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,862},{421,311}}</string>
        <key>offset</key>
        <string>{-188,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,311}}</string>
        <key>sourceSize</key>
        <string>{421,311}</string>
      </dict>
      <key>sfx_10066_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1135},{421,279}}</string>
        <key>offset</key>
        <string>{-188,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,279}}</string>
        <key>sourceSize</key>
        <string>{421,279}</string>
      </dict>
      <key>sfx_10066_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1416},{327,267}}</string>
        <key>offset</key>
        <string>{-136,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,267}}</string>
        <key>sourceSize</key>
        <string>{327,267}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10066_0.png</string>
      <key>size</key>
      <string>{1536,1792}</string>
      <key>textureFileName</key>
      <string>sfx_10066_0.png</string>
    </dict>
  </dict>
</plist>