<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11065_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{748,572}}</string>
        <key>offset</key>
        <string>{-362,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{748,572}}</string>
        <key>sourceSize</key>
        <string>{748,572}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11065_0_6.png</string>
      <key>size</key>
      <string>{768,640}</string>
      <key>textureFileName</key>
      <string>sfx_11065_0_6.png</string>
    </dict>
  </dict>
</plist>