<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11065_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{704,480}}</string>
        <key>offset</key>
        <string>{-328,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{704,480}}</string>
        <key>sourceSize</key>
        <string>{704,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11065_0_7.png</string>
      <key>size</key>
      <string>{768,512}</string>
      <key>textureFileName</key>
      <string>sfx_11065_0_7.png</string>
    </dict>
  </dict>
</plist>