<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11018_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{479,325}}</string>
        <key>offset</key>
        <string>{-219,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{479,325}}</string>
        <key>sourceSize</key>
        <string>{479,325}</string>
      </dict>
      <key>sfx_11018_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,481},{470,313}}</string>
        <key>offset</key>
        <string>{-214,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,313}}</string>
        <key>sourceSize</key>
        <string>{470,313}</string>
      </dict>
      <key>sfx_11018_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,481},{459,316}}</string>
        <key>offset</key>
        <string>{-205,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{459,316}}</string>
        <key>sourceSize</key>
        <string>{459,316}</string>
      </dict>
      <key>sfx_11018_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{449,308}}</string>
        <key>offset</key>
        <string>{-195,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,308}}</string>
        <key>sourceSize</key>
        <string>{449,308}</string>
      </dict>
      <key>sfx_11018_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,451},{435,302}}</string>
        <key>offset</key>
        <string>{-191,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,302}}</string>
        <key>sourceSize</key>
        <string>{435,302}</string>
      </dict>
      <key>sfx_11018_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,0},{426,286}}</string>
        <key>offset</key>
        <string>{-194,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,286}}</string>
        <key>sourceSize</key>
        <string>{426,286}</string>
      </dict>
      <key>sfx_11018_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,888},{411,292}}</string>
        <key>offset</key>
        <string>{-194,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,292}}</string>
        <key>sourceSize</key>
        <string>{411,292}</string>
      </dict>
      <key>sfx_11018_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,0},{401,282}}</string>
        <key>offset</key>
        <string>{-186,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,282}}</string>
        <key>sourceSize</key>
        <string>{401,282}</string>
      </dict>
      <key>sfx_11018_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,942},{366,265}}</string>
        <key>offset</key>
        <string>{-162,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,265}}</string>
        <key>sourceSize</key>
        <string>{366,265}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11018_0.png</string>
      <key>size</key>
      <string>{1282,1316}</string>
      <key>textureFileName</key>
      <string>sfx_11018_0.png</string>
    </dict>
  </dict>
</plist>