<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20033_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,407},{112,157}}</string>
        <key>offset</key>
        <string>{4,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,157}}</string>
        <key>sourceSize</key>
        <string>{112,157}</string>
      </dict>
      <key>sfx_20033_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,347},{131,142}}</string>
        <key>offset</key>
        <string>{1,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,142}}</string>
        <key>sourceSize</key>
        <string>{131,142}</string>
      </dict>
      <key>sfx_20033_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,491},{116,126}}</string>
        <key>offset</key>
        <string>{-2,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,126}}</string>
        <key>sourceSize</key>
        <string>{116,126}</string>
      </dict>
      <key>sfx_20033_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,407},{91,181}}</string>
        <key>offset</key>
        <string>{-4,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,181}}</string>
        <key>sourceSize</key>
        <string>{91,181}</string>
      </dict>
      <key>sfx_20033_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,310},{88,258}}</string>
        <key>offset</key>
        <string>{-7,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,258}}</string>
        <key>sourceSize</key>
        <string>{88,258}</string>
      </dict>
      <key>sfx_20033_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,243},{102,215}}</string>
        <key>offset</key>
        <string>{-24,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,215}}</string>
        <key>sourceSize</key>
        <string>{102,215}</string>
      </dict>
      <key>sfx_20033_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,310},{152,285}}</string>
        <key>offset</key>
        <string>{-62,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,285}}</string>
        <key>sourceSize</key>
        <string>{152,285}</string>
      </dict>
      <key>sfx_20033_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{243,308}}</string>
        <key>offset</key>
        <string>{-71,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,308}}</string>
        <key>sourceSize</key>
        <string>{243,308}</string>
      </dict>
      <key>sfx_20033_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{264,445}}</string>
        <key>offset</key>
        <string>{-52,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,445}}</string>
        <key>sourceSize</key>
        <string>{264,445}</string>
      </dict>
      <key>sfx_20033_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,447},{192,444}}</string>
        <key>offset</key>
        <string>{-53,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,444}}</string>
        <key>sourceSize</key>
        <string>{192,444}</string>
      </dict>
      <key>sfx_20033_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,799},{182,330}}</string>
        <key>offset</key>
        <string>{-61,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,330}}</string>
        <key>sourceSize</key>
        <string>{182,330}</string>
      </dict>
      <key>sfx_20033_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,0},{176,241}}</string>
        <key>offset</key>
        <string>{-62,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,241}}</string>
        <key>sourceSize</key>
        <string>{176,241}</string>
      </dict>
      <key>sfx_20033_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,794},{206,258}}</string>
        <key>offset</key>
        <string>{-105,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,258}}</string>
        <key>sourceSize</key>
        <string>{206,258}</string>
      </dict>
      <key>sfx_20033_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,597},{195,264}}</string>
        <key>offset</key>
        <string>{-119,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,264}}</string>
        <key>sourceSize</key>
        <string>{195,264}</string>
      </dict>
      <key>sfx_20033_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,447},{136,350}}</string>
        <key>offset</key>
        <string>{-55,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,350}}</string>
        <key>sourceSize</key>
        <string>{136,350}</string>
      </dict>
      <key>sfx_20033_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,893},{113,160}}</string>
        <key>offset</key>
        <string>{-12,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,160}}</string>
        <key>sourceSize</key>
        <string>{113,160}</string>
      </dict>
      <key>sfx_20033_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,566},{112,155}}</string>
        <key>offset</key>
        <string>{-7,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,155}}</string>
        <key>sourceSize</key>
        <string>{112,155}</string>
      </dict>
      <key>sfx_20033_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,243},{84,189}}</string>
        <key>offset</key>
        <string>{-5,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,189}}</string>
        <key>sourceSize</key>
        <string>{84,189}</string>
      </dict>
      <key>sfx_20033_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,329},{76,187}}</string>
        <key>offset</key>
        <string>{-4,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,187}}</string>
        <key>sourceSize</key>
        <string>{76,187}</string>
      </dict>
      <key>sfx_20033_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,590},{72,168}}</string>
        <key>offset</key>
        <string>{-4,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,168}}</string>
        <key>sourceSize</key>
        <string>{72,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20033_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20033_0.png</string>
    </dict>
  </dict>
</plist>