<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11000_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,273},{63,67}}</string>
        <key>offset</key>
        <string>{-13,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,67}}</string>
        <key>sourceSize</key>
        <string>{63,67}</string>
      </dict>
      <key>sfx_11000_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{271,199}}</string>
        <key>offset</key>
        <string>{-131,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,199}}</string>
        <key>sourceSize</key>
        <string>{271,199}</string>
      </dict>
      <key>sfx_11000_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{370,324}}</string>
        <key>offset</key>
        <string>{-121,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,324}}</string>
        <key>sourceSize</key>
        <string>{370,324}</string>
      </dict>
      <key>sfx_11000_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,372},{333,292}}</string>
        <key>offset</key>
        <string>{-70,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,292}}</string>
        <key>sourceSize</key>
        <string>{333,292}</string>
      </dict>
      <key>sfx_11000_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{317,262}}</string>
        <key>offset</key>
        <string>{-36,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,262}}</string>
        <key>sourceSize</key>
        <string>{317,262}</string>
      </dict>
      <key>sfx_11000_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{351,247}}</string>
        <key>offset</key>
        <string>{-10,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,247}}</string>
        <key>sourceSize</key>
        <string>{351,247}</string>
      </dict>
      <key>sfx_11000_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,264},{249,198}}</string>
        <key>offset</key>
        <string>{14,-25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,198}}</string>
        <key>sourceSize</key>
        <string>{249,198}</string>
      </dict>
      <key>sfx_11000_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,464},{231,188}}</string>
        <key>offset</key>
        <string>{18,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,188}}</string>
        <key>sourceSize</key>
        <string>{231,188}</string>
      </dict>
      <key>sfx_11000_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,264},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11000_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11000_3.png</string>
      <key>size</key>
      <string>{896,896}</string>
      <key>textureFileName</key>
      <string>sfx_11000_3.png</string>
    </dict>
  </dict>
</plist>