<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11050_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,135},{171,116}}</string>
        <key>offset</key>
        <string>{-24,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,116}}</string>
        <key>sourceSize</key>
        <string>{171,116}</string>
      </dict>
      <key>sfx_11050_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,411},{121,102}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,102}}</string>
        <key>sourceSize</key>
        <string>{121,102}</string>
      </dict>
      <key>sfx_11050_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,389},{133,110}}</string>
        <key>offset</key>
        <string>{18,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,110}}</string>
        <key>sourceSize</key>
        <string>{133,110}</string>
      </dict>
      <key>sfx_11050_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,253},{156,122}}</string>
        <key>offset</key>
        <string>{18,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,122}}</string>
        <key>sourceSize</key>
        <string>{156,122}</string>
      </dict>
      <key>sfx_11050_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{187,133}}</string>
        <key>offset</key>
        <string>{-43,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,133}}</string>
        <key>sourceSize</key>
        <string>{187,133}</string>
      </dict>
      <key>sfx_11050_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,128}}</string>
        <key>offset</key>
        <string>{-103,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,128}}</string>
        <key>sourceSize</key>
        <string>{221,128}</string>
      </dict>
      <key>sfx_11050_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{221,118}}</string>
        <key>offset</key>
        <string>{-110,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,118}}</string>
        <key>sourceSize</key>
        <string>{221,118}</string>
      </dict>
      <key>sfx_11050_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,223},{218,119}}</string>
        <key>offset</key>
        <string>{-108,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,119}}</string>
        <key>sourceSize</key>
        <string>{218,119}</string>
      </dict>
      <key>sfx_11050_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{216,121}}</string>
        <key>offset</key>
        <string>{-97,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,121}}</string>
        <key>sourceSize</key>
        <string>{216,121}</string>
      </dict>
      <key>sfx_11050_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,253},{138,134}}</string>
        <key>offset</key>
        <string>{8,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,134}}</string>
        <key>sourceSize</key>
        <string>{138,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11050_3.png</string>
      <key>size</key>
      <string>{513,563}</string>
      <key>textureFileName</key>
      <string>sfx_11050_3.png</string>
    </dict>
  </dict>
</plist>