<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60005_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,212},{101,209}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,209}}</string>
        <key>sourceSize</key>
        <string>{101,209}</string>
      </dict>
      <key>sfx_60005_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,423},{101,209}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,209}}</string>
        <key>sourceSize</key>
        <string>{101,209}</string>
      </dict>
      <key>sfx_60005_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,450},{102,217}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,217}}</string>
        <key>sourceSize</key>
        <string>{102,217}</string>
      </dict>
      <key>sfx_60005_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,480},{107,228}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,228}}</string>
        <key>sourceSize</key>
        <string>{107,228}</string>
      </dict>
      <key>sfx_60005_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,480},{107,228}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,228}}</string>
        <key>sourceSize</key>
        <string>{107,228}</string>
      </dict>
      <key>sfx_60005_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,0},{108,226}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,226}}</string>
        <key>sourceSize</key>
        <string>{108,226}</string>
      </dict>
      <key>sfx_60005_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{128,240}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,240}}</string>
        <key>sourceSize</key>
        <string>{128,240}</string>
      </dict>
      <key>sfx_60005_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,519},{120,246}}</string>
        <key>offset</key>
        <string>{-22,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,246}}</string>
        <key>sourceSize</key>
        <string>{120,246}</string>
      </dict>
      <key>sfx_60005_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,233},{132,228}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,228}}</string>
        <key>sourceSize</key>
        <string>{132,228}</string>
      </dict>
      <key>sfx_60005_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,710},{121,225}}</string>
        <key>offset</key>
        <string>{-22,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,225}}</string>
        <key>sourceSize</key>
        <string>{121,225}</string>
      </dict>
      <key>sfx_60005_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,0},{121,218}}</string>
        <key>offset</key>
        <string>{-22,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,218}}</string>
        <key>sourceSize</key>
        <string>{121,218}</string>
      </dict>
      <key>sfx_60005_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{131,215}}</string>
        <key>offset</key>
        <string>{-40,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,215}}</string>
        <key>sourceSize</key>
        <string>{131,215}</string>
      </dict>
      <key>sfx_60005_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,133},{135,214}}</string>
        <key>offset</key>
        <string>{-36,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,214}}</string>
        <key>sourceSize</key>
        <string>{135,214}</string>
      </dict>
      <key>sfx_60005_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,738},{136,208}}</string>
        <key>offset</key>
        <string>{-42,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,208}}</string>
        <key>sourceSize</key>
        <string>{136,208}</string>
      </dict>
      <key>sfx_60005_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,738},{130,208}}</string>
        <key>offset</key>
        <string>{-35,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,208}}</string>
        <key>sourceSize</key>
        <string>{130,208}</string>
      </dict>
      <key>sfx_60005_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,476},{122,210}}</string>
        <key>offset</key>
        <string>{-40,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,210}}</string>
        <key>sourceSize</key>
        <string>{122,210}</string>
      </dict>
      <key>sfx_60005_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,600},{136,210}}</string>
        <key>offset</key>
        <string>{-55,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,210}}</string>
        <key>sourceSize</key>
        <string>{136,210}</string>
      </dict>
      <key>sfx_60005_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,669},{131,217}}</string>
        <key>offset</key>
        <string>{-52,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,217}}</string>
        <key>sourceSize</key>
        <string>{131,217}</string>
      </dict>
      <key>sfx_60005_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{114,231}}</string>
        <key>offset</key>
        <string>{-35,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,231}}</string>
        <key>sourceSize</key>
        <string>{114,231}</string>
      </dict>
      <key>sfx_60005_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,242},{131,236}}</string>
        <key>offset</key>
        <string>{-52,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,236}}</string>
        <key>sourceSize</key>
        <string>{131,236}</string>
      </dict>
      <key>sfx_60005_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,259}}</string>
        <key>offset</key>
        <string>{-34,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,259}}</string>
        <key>sourceSize</key>
        <string>{113,259}</string>
      </dict>
      <key>sfx_60005_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{113,256}}</string>
        <key>offset</key>
        <string>{-34,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,256}}</string>
        <key>sourceSize</key>
        <string>{113,256}</string>
      </dict>
      <key>sfx_60005_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{107,240}}</string>
        <key>offset</key>
        <string>{-28,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,240}}</string>
        <key>sourceSize</key>
        <string>{107,240}</string>
      </dict>
      <key>sfx_60005_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,439},{107,216}}</string>
        <key>offset</key>
        <string>{-28,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,216}}</string>
        <key>sourceSize</key>
        <string>{107,216}</string>
      </dict>
      <key>sfx_60005_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,228},{107,220}}</string>
        <key>offset</key>
        <string>{-28,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,220}}</string>
        <key>sourceSize</key>
        <string>{107,220}</string>
      </dict>
      <key>sfx_60005_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,463},{103,225}}</string>
        <key>offset</key>
        <string>{-24,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,225}}</string>
        <key>sourceSize</key>
        <string>{103,225}</string>
      </dict>
      <key>sfx_60005_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,220},{101,217}}</string>
        <key>offset</key>
        <string>{-22,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,217}}</string>
        <key>sourceSize</key>
        <string>{101,217}</string>
      </dict>
      <key>sfx_60005_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,270},{101,213}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,213}}</string>
        <key>sourceSize</key>
        <string>{101,213}</string>
      </dict>
      <key>sfx_60005_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,373},{101,213}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,213}}</string>
        <key>sourceSize</key>
        <string>{101,213}</string>
      </dict>
      <key>sfx_60005_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,0},{101,210}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,210}}</string>
        <key>sourceSize</key>
        <string>{101,210}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60005_0.png</string>
      <key>size</key>
      <string>{1064,899}</string>
      <key>textureFileName</key>
      <string>sfx_60005_0.png</string>
    </dict>
  </dict>
</plist>