<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11050_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,138},{180,138}}</string>
        <key>offset</key>
        <string>{-137,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,138}}</string>
        <key>sourceSize</key>
        <string>{180,138}</string>
      </dict>
      <key>sfx_11050_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,278},{151,172}}</string>
        <key>offset</key>
        <string>{-146,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,172}}</string>
        <key>sourceSize</key>
        <string>{151,172}</string>
      </dict>
      <key>sfx_11050_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{109,209}}</string>
        <key>offset</key>
        <string>{-124,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,209}}</string>
        <key>sourceSize</key>
        <string>{109,209}</string>
      </dict>
      <key>sfx_11050_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{132,194}}</string>
        <key>offset</key>
        <string>{-148,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,194}}</string>
        <key>sourceSize</key>
        <string>{132,194}</string>
      </dict>
      <key>sfx_11050_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{131,210}}</string>
        <key>offset</key>
        <string>{-110,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,210}}</string>
        <key>sourceSize</key>
        <string>{131,210}</string>
      </dict>
      <key>sfx_11050_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,278},{176,143}}</string>
        <key>offset</key>
        <string>{-55,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,143}}</string>
        <key>sourceSize</key>
        <string>{176,143}</string>
      </dict>
      <key>sfx_11050_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{181,136}}</string>
        <key>offset</key>
        <string>{-46,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,136}}</string>
        <key>sourceSize</key>
        <string>{181,136}</string>
      </dict>
      <key>sfx_11050_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{175,134}}</string>
        <key>offset</key>
        <string>{-47,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,134}}</string>
        <key>sourceSize</key>
        <string>{175,134}</string>
      </dict>
      <key>sfx_11050_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,456},{169,137}}</string>
        <key>offset</key>
        <string>{-53,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,137}}</string>
        <key>sourceSize</key>
        <string>{169,137}</string>
      </dict>
      <key>sfx_11050_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,212},{96,205}}</string>
        <key>offset</key>
        <string>{-98,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,205}}</string>
        <key>sourceSize</key>
        <string>{96,205}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11050_6.png</string>
      <key>size</key>
      <string>{514,647}</string>
      <key>textureFileName</key>
      <string>sfx_11050_6.png</string>
    </dict>
  </dict>
</plist>