<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11037_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,871},{88,73}}</string>
        <key>offset</key>
        <string>{-24,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,73}}</string>
        <key>sourceSize</key>
        <string>{88,73}</string>
      </dict>
      <key>sfx_11037_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,1511},{168,144}}</string>
        <key>offset</key>
        <string>{-57,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,144}}</string>
        <key>sourceSize</key>
        <string>{168,144}</string>
      </dict>
      <key>sfx_11037_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,1657},{256,225}}</string>
        <key>offset</key>
        <string>{-112,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,225}}</string>
        <key>sourceSize</key>
        <string>{256,225}</string>
      </dict>
      <key>sfx_11037_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,1657},{316,262}}</string>
        <key>offset</key>
        <string>{-128,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,262}}</string>
        <key>sourceSize</key>
        <string>{316,262}</string>
      </dict>
      <key>sfx_11037_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1394,1333},{396,322}}</string>
        <key>offset</key>
        <string>{-183,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,322}}</string>
        <key>sourceSize</key>
        <string>{396,322}</string>
      </dict>
      <key>sfx_11037_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1423,0},{428,358}}</string>
        <key>offset</key>
        <string>{-200,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,358}}</string>
        <key>sourceSize</key>
        <string>{428,358}</string>
      </dict>
      <key>sfx_11037_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1394,871},{460,393}}</string>
        <key>offset</key>
        <string>{-218,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,393}}</string>
        <key>sourceSize</key>
        <string>{460,393}</string>
      </dict>
      <key>sfx_11037_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,871},{504,422}}</string>
        <key>offset</key>
        <string>{-236,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,422}}</string>
        <key>sourceSize</key>
        <string>{504,422}</string>
      </dict>
      <key>sfx_11037_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,542},{516,421}}</string>
        <key>offset</key>
        <string>{-235,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,421}}</string>
        <key>sourceSize</key>
        <string>{516,421}</string>
      </dict>
      <key>sfx_11037_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,0},{520,427}}</string>
        <key>offset</key>
        <string>{-231,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,427}}</string>
        <key>sourceSize</key>
        <string>{520,427}</string>
      </dict>
      <key>sfx_11037_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,429},{520,440}}</string>
        <key>offset</key>
        <string>{-226,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,440}}</string>
        <key>sourceSize</key>
        <string>{520,440}</string>
      </dict>
      <key>sfx_11037_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,1060},{516,449}}</string>
        <key>offset</key>
        <string>{-225,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,449}}</string>
        <key>sourceSize</key>
        <string>{516,449}</string>
      </dict>
      <key>sfx_11037_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{540,450}}</string>
        <key>offset</key>
        <string>{-231,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{540,450}}</string>
        <key>sourceSize</key>
        <string>{540,450}</string>
      </dict>
      <key>sfx_11037_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{552,450}}</string>
        <key>offset</key>
        <string>{-234,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{552,450}}</string>
        <key>sourceSize</key>
        <string>{552,450}</string>
      </dict>
      <key>sfx_11037_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{576,447}}</string>
        <key>offset</key>
        <string>{-241,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{576,447}}</string>
        <key>sourceSize</key>
        <string>{576,447}</string>
      </dict>
      <key>sfx_11037_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1511},{408,273}}</string>
        <key>offset</key>
        <string>{-174,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,273}}</string>
        <key>sourceSize</key>
        <string>{408,273}</string>
      </dict>
      <key>sfx_11037_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,542},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11037_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,545},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11037_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,548},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11037_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,551},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11037_0.png</string>
      <key>size</key>
      <string>{1794,1928}</string>
      <key>textureFileName</key>
      <string>sfx_11037_0.png</string>
    </dict>
  </dict>
</plist>