<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11058_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,240},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11058_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,243},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11058_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,246},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11058_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{181,206}}</string>
        <key>offset</key>
        <string>{-63,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,206}}</string>
        <key>sourceSize</key>
        <string>{181,206}</string>
      </dict>
      <key>sfx_11058_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{100,160}}</string>
        <key>offset</key>
        <string>{18,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,160}}</string>
        <key>sourceSize</key>
        <string>{100,160}</string>
      </dict>
      <key>sfx_11058_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,240},{78,78}}</string>
        <key>offset</key>
        <string>{32,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>sfx_11058_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,257}}</string>
        <key>offset</key>
        <string>{22,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,257}}</string>
        <key>sourceSize</key>
        <string>{156,257}</string>
      </dict>
      <key>sfx_11058_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{136,238}}</string>
        <key>offset</key>
        <string>{42,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,238}}</string>
        <key>sourceSize</key>
        <string>{136,238}</string>
      </dict>
      <key>sfx_11058_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,240},{84,68}}</string>
        <key>offset</key>
        <string>{47,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,68}}</string>
        <key>sourceSize</key>
        <string>{84,68}</string>
      </dict>
      <key>sfx_11058_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,249},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11058_3.png</string>
      <key>size</key>
      <string>{564,386}</string>
      <key>textureFileName</key>
      <string>sfx_11058_3.png</string>
    </dict>
  </dict>
</plist>