<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20016_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{75,84}}</string>
        <key>offset</key>
        <string>{271,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>sfx_20016_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,77},{74,83}}</string>
        <key>offset</key>
        <string>{272,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,83}}</string>
        <key>sourceSize</key>
        <string>{74,83}</string>
      </dict>
      <key>sfx_20016_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,309},{79,78}}</string>
        <key>offset</key>
        <string>{268,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>sfx_20016_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,227},{81,78}}</string>
        <key>offset</key>
        <string>{267,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,78}}</string>
        <key>sourceSize</key>
        <string>{81,78}</string>
      </dict>
      <key>sfx_20016_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{75,84}}</string>
        <key>offset</key>
        <string>{271,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>sfx_20016_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{74,82}}</string>
        <key>offset</key>
        <string>{272,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>sfx_20016_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,389},{79,78}}</string>
        <key>offset</key>
        <string>{269,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>sfx_20016_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,389},{79,77}}</string>
        <key>offset</key>
        <string>{268,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,77}}</string>
        <key>sourceSize</key>
        <string>{79,77}</string>
      </dict>
      <key>sfx_20016_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{75,84}}</string>
        <key>offset</key>
        <string>{271,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>sfx_20016_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,77},{73,83}}</string>
        <key>offset</key>
        <string>{272,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>sfx_20016_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,307},{80,79}}</string>
        <key>offset</key>
        <string>{268,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,79}}</string>
        <key>sourceSize</key>
        <string>{80,79}</string>
      </dict>
      <key>sfx_20016_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,228},{81,78}}</string>
        <key>offset</key>
        <string>{267,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,78}}</string>
        <key>sourceSize</key>
        <string>{81,78}</string>
      </dict>
      <key>sfx_20016_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{75,84}}</string>
        <key>offset</key>
        <string>{271,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>sfx_20016_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,154},{74,82}}</string>
        <key>offset</key>
        <string>{272,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>sfx_20016_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,389},{79,78}}</string>
        <key>offset</key>
        <string>{268,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>sfx_20016_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,388},{79,77}}</string>
        <key>offset</key>
        <string>{268,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,77}}</string>
        <key>sourceSize</key>
        <string>{79,77}</string>
      </dict>
      <key>sfx_20016_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,77},{75,84}}</string>
        <key>offset</key>
        <string>{271,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>sfx_20016_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,152},{73,83}}</string>
        <key>offset</key>
        <string>{272,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>sfx_20016_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,308},{80,79}}</string>
        <key>offset</key>
        <string>{268,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,79}}</string>
        <key>sourceSize</key>
        <string>{80,79}</string>
      </dict>
      <key>sfx_20016_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{81,77}}</string>
        <key>offset</key>
        <string>{267,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,77}}</string>
        <key>sourceSize</key>
        <string>{81,77}</string>
      </dict>
      <key>sfx_20016_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{75,84}}</string>
        <key>offset</key>
        <string>{271,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>sfx_20016_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,153},{73,83}}</string>
        <key>offset</key>
        <string>{272,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>sfx_20016_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{79,78}}</string>
        <key>offset</key>
        <string>{269,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>sfx_20016_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,230},{81,77}}</string>
        <key>offset</key>
        <string>{267,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,77}}</string>
        <key>sourceSize</key>
        <string>{81,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20016_0.png</string>
      <key>size</key>
      <string>{385,551}</string>
      <key>textureFileName</key>
      <string>sfx_20016_0.png</string>
    </dict>
  </dict>
</plist>