<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11005_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,362},{85,93}}</string>
        <key>offset</key>
        <string>{-18,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,93}}</string>
        <key>sourceSize</key>
        <string>{85,93}</string>
      </dict>
      <key>sfx_11005_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,122}}</string>
        <key>offset</key>
        <string>{-30,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{112,122}</string>
      </dict>
      <key>sfx_11005_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{108,121}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,121}}</string>
        <key>sourceSize</key>
        <string>{108,121}</string>
      </dict>
      <key>sfx_11005_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,124},{113,118}}</string>
        <key>offset</key>
        <string>{-28,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,118}}</string>
        <key>sourceSize</key>
        <string>{113,118}</string>
      </dict>
      <key>sfx_11005_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{114,119}}</string>
        <key>offset</key>
        <string>{-29,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,119}}</string>
        <key>sourceSize</key>
        <string>{114,119}</string>
      </dict>
      <key>sfx_11005_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{116,115}}</string>
        <key>offset</key>
        <string>{-27,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,115}}</string>
        <key>sourceSize</key>
        <string>{116,115}</string>
      </dict>
      <key>sfx_11005_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{118,116}}</string>
        <key>offset</key>
        <string>{-34,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,116}}</string>
        <key>sourceSize</key>
        <string>{118,116}</string>
      </dict>
      <key>sfx_11005_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,244},{103,116}}</string>
        <key>offset</key>
        <string>{-23,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,116}}</string>
        <key>sourceSize</key>
        <string>{103,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11005_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_11005_0.png</string>
    </dict>
  </dict>
</plist>