<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11041_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{1,1}}</string>
        <key>offset</key>
        <string>{-375,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11041_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,510},{1,1}}</string>
        <key>offset</key>
        <string>{-375,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11041_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,469},{27,33}}</string>
        <key>offset</key>
        <string>{115,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,33}}</string>
        <key>sourceSize</key>
        <string>{27,33}</string>
      </dict>
      <key>sfx_11041_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,94},{108,106}}</string>
        <key>offset</key>
        <string>{60,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,106}}</string>
        <key>sourceSize</key>
        <string>{108,106}</string>
      </dict>
      <key>sfx_11041_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,272},{119,195}}</string>
        <key>offset</key>
        <string>{50,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,195}}</string>
        <key>sourceSize</key>
        <string>{119,195}</string>
      </dict>
      <key>sfx_11041_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,293}}</string>
        <key>offset</key>
        <string>{-100,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,293}}</string>
        <key>sourceSize</key>
        <string>{270,293}</string>
      </dict>
      <key>sfx_11041_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{219,236}}</string>
        <key>offset</key>
        <string>{-107,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,236}}</string>
        <key>sourceSize</key>
        <string>{219,236}</string>
      </dict>
      <key>sfx_11041_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{92,123}}</string>
        <key>offset</key>
        <string>{-104,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,123}}</string>
        <key>sourceSize</key>
        <string>{92,123}</string>
      </dict>
      <key>sfx_11041_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,202},{56,85}}</string>
        <key>offset</key>
        <string>{-99,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,85}}</string>
        <key>sourceSize</key>
        <string>{56,85}</string>
      </dict>
      <key>sfx_11041_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,510},{1,1}}</string>
        <key>offset</key>
        <string>{-375,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11041_0.png</string>
      <key>size</key>
      <string>{430,513}</string>
      <key>textureFileName</key>
      <string>sfx_11041_0.png</string>
    </dict>
  </dict>
</plist>