<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20034_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1368,229},{173,191}}</string>
        <key>offset</key>
        <string>{-30,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,191}}</string>
        <key>sourceSize</key>
        <string>{173,191}</string>
      </dict>
      <key>sfx_20034_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1368,422},{174,155}}</string>
        <key>offset</key>
        <string>{-32,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,155}}</string>
        <key>sourceSize</key>
        <string>{174,155}</string>
      </dict>
      <key>sfx_20034_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,598},{160,173}}</string>
        <key>offset</key>
        <string>{-33,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,173}}</string>
        <key>sourceSize</key>
        <string>{160,173}</string>
      </dict>
      <key>sfx_20034_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,544},{132,205}}</string>
        <key>offset</key>
        <string>{-36,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,205}}</string>
        <key>sourceSize</key>
        <string>{132,205}</string>
      </dict>
      <key>sfx_20034_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,833},{132,276}}</string>
        <key>offset</key>
        <string>{-46,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,276}}</string>
        <key>sourceSize</key>
        <string>{132,276}</string>
      </dict>
      <key>sfx_20034_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1219,0},{184,227}}</string>
        <key>offset</key>
        <string>{-99,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,227}}</string>
        <key>sourceSize</key>
        <string>{184,227}</string>
      </dict>
      <key>sfx_20034_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,0},{200,289}}</string>
        <key>offset</key>
        <string>{-111,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,289}}</string>
        <key>sourceSize</key>
        <string>{200,289}</string>
      </dict>
      <key>sfx_20034_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,687},{254,315}}</string>
        <key>offset</key>
        <string>{-82,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,315}}</string>
        <key>sourceSize</key>
        <string>{254,315}</string>
      </dict>
      <key>sfx_20034_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,467},{272,445}}</string>
        <key>offset</key>
        <string>{-57,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,445}}</string>
        <key>sourceSize</key>
        <string>{272,445}</string>
      </dict>
      <key>sfx_20034_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,467},{227,444}}</string>
        <key>offset</key>
        <string>{-55,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,444}}</string>
        <key>sourceSize</key>
        <string>{227,444}</string>
      </dict>
      <key>sfx_20034_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,349},{261,336}}</string>
        <key>offset</key>
        <string>{-89,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,336}}</string>
        <key>sourceSize</key>
        <string>{261,336}</string>
      </dict>
      <key>sfx_20034_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,0},{347,261}}</string>
        <key>offset</key>
        <string>{-105,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,261}}</string>
        <key>sourceSize</key>
        <string>{347,261}</string>
      </dict>
      <key>sfx_20034_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,444},{387,280}}</string>
        <key>offset</key>
        <string>{-158,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,280}}</string>
        <key>sourceSize</key>
        <string>{387,280}</string>
      </dict>
      <key>sfx_20034_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{465,353}}</string>
        <key>offset</key>
        <string>{-225,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{465,353}}</string>
        <key>sourceSize</key>
        <string>{465,353}</string>
      </dict>
      <key>sfx_20034_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{442,397}}</string>
        <key>offset</key>
        <string>{-186,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,397}}</string>
        <key>sourceSize</key>
        <string>{442,397}</string>
      </dict>
      <key>sfx_20034_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,687},{298,210}}</string>
        <key>offset</key>
        <string>{-73,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,210}}</string>
        <key>sourceSize</key>
        <string>{298,210}</string>
      </dict>
      <key>sfx_20034_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1405,0},{181,188}}</string>
        <key>offset</key>
        <string>{-26,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,188}}</string>
        <key>sourceSize</key>
        <string>{181,188}</string>
      </dict>
      <key>sfx_20034_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,291},{160,231}}</string>
        <key>offset</key>
        <string>{-25,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,231}}</string>
        <key>sourceSize</key>
        <string>{160,231}</string>
      </dict>
      <key>sfx_20034_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,291},{156,251}}</string>
        <key>offset</key>
        <string>{-28,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,251}}</string>
        <key>sourceSize</key>
        <string>{156,251}</string>
      </dict>
      <key>sfx_20034_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1253,678},{196,185}}</string>
        <key>offset</key>
        <string>{-89,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,185}}</string>
        <key>sourceSize</key>
        <string>{196,185}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20034_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20034_0.png</string>
    </dict>
  </dict>
</plist>