<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20011_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,443},{105,129}}</string>
        <key>offset</key>
        <string>{-27,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,129}}</string>
        <key>sourceSize</key>
        <string>{105,129}</string>
      </dict>
      <key>sfx_20011_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,114},{109,131}}</string>
        <key>offset</key>
        <string>{-29,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,131}}</string>
        <key>sourceSize</key>
        <string>{109,131}</string>
      </dict>
      <key>sfx_20011_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,453},{107,129}}</string>
        <key>offset</key>
        <string>{-28,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,129}}</string>
        <key>sourceSize</key>
        <string>{107,129}</string>
      </dict>
      <key>sfx_20011_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,550},{106,130}}</string>
        <key>offset</key>
        <string>{-27,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,130}}</string>
        <key>sourceSize</key>
        <string>{106,130}</string>
      </dict>
      <key>sfx_20011_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,225},{108,131}}</string>
        <key>offset</key>
        <string>{-28,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>sfx_20011_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{108,131}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>sfx_20011_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,550},{102,130}}</string>
        <key>offset</key>
        <string>{-26,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,130}}</string>
        <key>sourceSize</key>
        <string>{102,130}</string>
      </dict>
      <key>sfx_20011_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,551},{104,129}}</string>
        <key>offset</key>
        <string>{-27,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,129}}</string>
        <key>sourceSize</key>
        <string>{104,129}</string>
      </dict>
      <key>sfx_20011_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,562},{108,129}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,129}}</string>
        <key>sourceSize</key>
        <string>{108,129}</string>
      </dict>
      <key>sfx_20011_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,107},{112,127}}</string>
        <key>offset</key>
        <string>{-31,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,127}}</string>
        <key>sourceSize</key>
        <string>{112,127}</string>
      </dict>
      <key>sfx_20011_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,221},{104,127}}</string>
        <key>offset</key>
        <string>{-27,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,127}}</string>
        <key>sourceSize</key>
        <string>{104,127}</string>
      </dict>
      <key>sfx_20011_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{109,133}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,133}}</string>
        <key>sourceSize</key>
        <string>{109,133}</string>
      </dict>
      <key>sfx_20011_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,136}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,136}}</string>
        <key>sourceSize</key>
        <string>{111,136}</string>
      </dict>
      <key>sfx_20011_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{112,136}}</string>
        <key>offset</key>
        <string>{-31,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,136}}</string>
        <key>sourceSize</key>
        <string>{112,136}</string>
      </dict>
      <key>sfx_20011_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{112,136}}</string>
        <key>offset</key>
        <string>{-30,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,136}}</string>
        <key>sourceSize</key>
        <string>{112,136}</string>
      </dict>
      <key>sfx_20011_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,111},{111,133}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,133}}</string>
        <key>sourceSize</key>
        <string>{111,133}</string>
      </dict>
      <key>sfx_20011_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,328},{113,130}}</string>
        <key>offset</key>
        <string>{-31,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,130}}</string>
        <key>sourceSize</key>
        <string>{113,130}</string>
      </dict>
      <key>sfx_20011_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,338},{113,130}}</string>
        <key>offset</key>
        <string>{-31,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,130}}</string>
        <key>sourceSize</key>
        <string>{113,130}</string>
      </dict>
      <key>sfx_20011_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,443},{106,130}}</string>
        <key>offset</key>
        <string>{-28,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,130}}</string>
        <key>sourceSize</key>
        <string>{106,130}</string>
      </dict>
      <key>sfx_20011_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,657},{107,129}}</string>
        <key>offset</key>
        <string>{-29,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,129}}</string>
        <key>sourceSize</key>
        <string>{107,129}</string>
      </dict>
      <key>sfx_20011_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,574},{110,129}}</string>
        <key>offset</key>
        <string>{-30,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,129}}</string>
        <key>sourceSize</key>
        <string>{110,129}</string>
      </dict>
      <key>sfx_20011_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,224},{102,131}}</string>
        <key>offset</key>
        <string>{-26,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,131}}</string>
        <key>sourceSize</key>
        <string>{102,131}</string>
      </dict>
      <key>sfx_20011_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,225},{111,131}}</string>
        <key>offset</key>
        <string>{-33,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>sfx_20011_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,335},{107,131}}</string>
        <key>offset</key>
        <string>{-28,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,131}}</string>
        <key>sourceSize</key>
        <string>{107,131}</string>
      </dict>
      <key>sfx_20011_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,328},{104,129}}</string>
        <key>offset</key>
        <string>{-27,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,129}}</string>
        <key>sourceSize</key>
        <string>{104,129}</string>
      </dict>
      <key>sfx_20011_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,0},{105,129}}</string>
        <key>offset</key>
        <string>{-27,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,129}}</string>
        <key>sourceSize</key>
        <string>{105,129}</string>
      </dict>
      <key>sfx_20011_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{104,131}}</string>
        <key>offset</key>
        <string>{-27,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,131}}</string>
        <key>sourceSize</key>
        <string>{104,131}</string>
      </dict>
      <key>sfx_20011_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{105,131}}</string>
        <key>offset</key>
        <string>{-27,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,131}}</string>
        <key>sourceSize</key>
        <string>{105,131}</string>
      </dict>
      <key>sfx_20011_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,113},{110,133}}</string>
        <key>offset</key>
        <string>{-30,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,133}}</string>
        <key>sourceSize</key>
        <string>{110,133}</string>
      </dict>
      <key>sfx_20011_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{111,134}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20011_0.png</string>
      <key>size</key>
      <string>{744,770}</string>
      <key>textureFileName</key>
      <string>sfx_20011_0.png</string>
    </dict>
  </dict>
</plist>