<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11048_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,502},{471,343}}</string>
        <key>offset</key>
        <string>{-191,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,343}}</string>
        <key>sourceSize</key>
        <string>{471,343}</string>
      </dict>
      <key>sfx_11048_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,0},{424,457}}</string>
        <key>offset</key>
        <string>{-189,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,457}}</string>
        <key>sourceSize</key>
        <string>{424,457}</string>
      </dict>
      <key>sfx_11048_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,0},{488,500}}</string>
        <key>offset</key>
        <string>{-214,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{488,500}}</string>
        <key>sourceSize</key>
        <string>{488,500}</string>
      </dict>
      <key>sfx_11048_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,1191},{539,545}}</string>
        <key>offset</key>
        <string>{-244,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{539,545}}</string>
        <key>sourceSize</key>
        <string>{539,545}</string>
      </dict>
      <key>sfx_11048_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,1191},{556,583}}</string>
        <key>offset</key>
        <string>{-262,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,583}}</string>
        <key>sourceSize</key>
        <string>{556,583}</string>
      </dict>
      <key>sfx_11048_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,608},{580,600}}</string>
        <key>offset</key>
        <string>{-265,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{580,600}}</string>
        <key>sourceSize</key>
        <string>{580,600}</string>
      </dict>
      <key>sfx_11048_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1210},{580,590}}</string>
        <key>offset</key>
        <string>{-261,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{580,590}}</string>
        <key>sourceSize</key>
        <string>{580,590}</string>
      </dict>
      <key>sfx_11048_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,601},{588,571}}</string>
        <key>offset</key>
        <string>{-264,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{588,571}}</string>
        <key>sourceSize</key>
        <string>{588,571}</string>
      </dict>
      <key>sfx_11048_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{599,565}}</string>
        <key>offset</key>
        <string>{-271,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,565}}</string>
        <key>sourceSize</key>
        <string>{599,565}</string>
      </dict>
      <key>sfx_11048_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{606,501}}</string>
        <key>offset</key>
        <string>{-266,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{606,501}}</string>
        <key>sourceSize</key>
        <string>{606,501}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11048_0.png</string>
      <key>size</key>
      <string>{2004,1793}</string>
      <key>textureFileName</key>
      <string>sfx_11048_0.png</string>
    </dict>
  </dict>
</plist>