<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20009_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,553},{83,157}}</string>
        <key>offset</key>
        <string>{-29,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,157}}</string>
        <key>sourceSize</key>
        <string>{83,157}</string>
      </dict>
      <key>sfx_20009_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,183},{86,157}}</string>
        <key>offset</key>
        <string>{-31,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,157}}</string>
        <key>sourceSize</key>
        <string>{86,157}</string>
      </dict>
      <key>sfx_20009_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,274},{86,156}}</string>
        <key>offset</key>
        <string>{-32,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,156}}</string>
        <key>sourceSize</key>
        <string>{86,156}</string>
      </dict>
      <key>sfx_20009_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,362},{90,156}}</string>
        <key>offset</key>
        <string>{-33,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,156}}</string>
        <key>sourceSize</key>
        <string>{90,156}</string>
      </dict>
      <key>sfx_20009_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,520},{91,156}}</string>
        <key>offset</key>
        <string>{-34,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,156}}</string>
        <key>sourceSize</key>
        <string>{91,156}</string>
      </dict>
      <key>sfx_20009_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,362},{92,156}}</string>
        <key>offset</key>
        <string>{-34,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,156}}</string>
        <key>sourceSize</key>
        <string>{92,156}</string>
      </dict>
      <key>sfx_20009_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,88},{93,161}}</string>
        <key>offset</key>
        <string>{-35,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,161}}</string>
        <key>sourceSize</key>
        <string>{93,161}</string>
      </dict>
      <key>sfx_20009_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{95,167}}</string>
        <key>offset</key>
        <string>{-36,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,167}}</string>
        <key>sourceSize</key>
        <string>{95,167}</string>
      </dict>
      <key>sfx_20009_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,182},{95,174}}</string>
        <key>offset</key>
        <string>{-36,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,174}}</string>
        <key>sourceSize</key>
        <string>{95,174}</string>
      </dict>
      <key>sfx_20009_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,193},{97,180}}</string>
        <key>offset</key>
        <string>{-37,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,180}}</string>
        <key>sourceSize</key>
        <string>{97,180}</string>
      </dict>
      <key>sfx_20009_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{98,180}}</string>
        <key>offset</key>
        <string>{-38,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,180}}</string>
        <key>sourceSize</key>
        <string>{98,180}</string>
      </dict>
      <key>sfx_20009_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,421},{100,196}}</string>
        <key>offset</key>
        <string>{-39,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,196}}</string>
        <key>sourceSize</key>
        <string>{100,196}</string>
      </dict>
      <key>sfx_20009_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,214}}</string>
        <key>offset</key>
        <string>{-40,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,214}}</string>
        <key>sourceSize</key>
        <string>{101,214}</string>
      </dict>
      <key>sfx_20009_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{101,203}}</string>
        <key>offset</key>
        <string>{-40,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,203}}</string>
        <key>sourceSize</key>
        <string>{101,203}</string>
      </dict>
      <key>sfx_20009_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{101,191}}</string>
        <key>offset</key>
        <string>{-41,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,191}}</string>
        <key>sourceSize</key>
        <string>{101,191}</string>
      </dict>
      <key>sfx_20009_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,421},{101,195}}</string>
        <key>offset</key>
        <string>{-42,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,195}}</string>
        <key>sourceSize</key>
        <string>{101,195}</string>
      </dict>
      <key>sfx_20009_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,375},{101,176}}</string>
        <key>offset</key>
        <string>{-42,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,176}}</string>
        <key>sourceSize</key>
        <string>{101,176}</string>
      </dict>
      <key>sfx_20009_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,193},{90,181}}</string>
        <key>offset</key>
        <string>{-32,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,181}}</string>
        <key>sourceSize</key>
        <string>{90,181}</string>
      </dict>
      <key>sfx_20009_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,183},{89,159}}</string>
        <key>offset</key>
        <string>{-32,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,159}}</string>
        <key>sourceSize</key>
        <string>{89,159}</string>
      </dict>
      <key>sfx_20009_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{86,164}}</string>
        <key>offset</key>
        <string>{-31,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,164}}</string>
        <key>sourceSize</key>
        <string>{86,164}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20009_0.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>sfx_20009_0.png</string>
    </dict>
  </dict>
</plist>