<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_50007_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{253,171}}</string>
        <key>offset</key>
        <string>{-35,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,171}}</string>
        <key>sourceSize</key>
        <string>{253,171}</string>
      </dict>
      <key>sfx_50007_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{251,172}}</string>
        <key>offset</key>
        <string>{-33,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,172}}</string>
        <key>sourceSize</key>
        <string>{251,172}</string>
      </dict>
      <key>sfx_50007_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,255},{252,173}}</string>
        <key>offset</key>
        <string>{-34,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,173}}</string>
        <key>sourceSize</key>
        <string>{252,173}</string>
      </dict>
      <key>sfx_50007_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{252,170}}</string>
        <key>offset</key>
        <string>{-34,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,170}}</string>
        <key>sourceSize</key>
        <string>{252,170}</string>
      </dict>
      <key>sfx_50007_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{254,170}}</string>
        <key>offset</key>
        <string>{-35,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,170}}</string>
        <key>sourceSize</key>
        <string>{254,170}</string>
      </dict>
      <key>sfx_50007_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,511},{252,171}}</string>
        <key>offset</key>
        <string>{-35,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,171}}</string>
        <key>sourceSize</key>
        <string>{252,171}</string>
      </dict>
      <key>sfx_50007_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,510},{252,171}}</string>
        <key>offset</key>
        <string>{-36,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,171}}</string>
        <key>sourceSize</key>
        <string>{252,171}</string>
      </dict>
      <key>sfx_50007_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,509},{252,171}}</string>
        <key>offset</key>
        <string>{-36,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,171}}</string>
        <key>sourceSize</key>
        <string>{252,171}</string>
      </dict>
      <key>sfx_50007_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{253,172}}</string>
        <key>offset</key>
        <string>{-36,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,172}}</string>
        <key>sourceSize</key>
        <string>{253,172}</string>
      </dict>
      <key>sfx_50007_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,255},{253,171}}</string>
        <key>offset</key>
        <string>{-36,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,171}}</string>
        <key>sourceSize</key>
        <string>{253,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_50007_0.png</string>
      <key>size</key>
      <string>{771,897}</string>
      <key>textureFileName</key>
      <string>sfx_50007_0.png</string>
    </dict>
  </dict>
</plist>