<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11027_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1367,342},{304,322}}</string>
        <key>offset</key>
        <string>{-129,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,322}}</string>
        <key>sourceSize</key>
        <string>{304,322}</string>
      </dict>
      <key>sfx_11027_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,950},{308,323}}</string>
        <key>offset</key>
        <string>{-131,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,323}}</string>
        <key>sourceSize</key>
        <string>{308,323}</string>
      </dict>
      <key>sfx_11027_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,1008},{296,334}}</string>
        <key>offset</key>
        <string>{-120,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,334}}</string>
        <key>sourceSize</key>
        <string>{296,334}</string>
      </dict>
      <key>sfx_11027_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1025,342},{308,340}}</string>
        <key>offset</key>
        <string>{-129,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,340}}</string>
        <key>sourceSize</key>
        <string>{308,340}</string>
      </dict>
      <key>sfx_11027_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,652},{312,334}}</string>
        <key>offset</key>
        <string>{-130,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,334}}</string>
        <key>sourceSize</key>
        <string>{312,334}</string>
      </dict>
      <key>sfx_11027_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,1260},{260,239}}</string>
        <key>offset</key>
        <string>{-90,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,239}}</string>
        <key>sourceSize</key>
        <string>{260,239}</string>
      </dict>
      <key>sfx_11027_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1462,0},{284,278}}</string>
        <key>offset</key>
        <string>{-96,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,278}}</string>
        <key>sourceSize</key>
        <string>{284,278}</string>
      </dict>
      <key>sfx_11027_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,652},{296,331}}</string>
        <key>offset</key>
        <string>{-101,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,331}}</string>
        <key>sourceSize</key>
        <string>{296,331}</string>
      </dict>
      <key>sfx_11027_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1025,0},{340,435}}</string>
        <key>offset</key>
        <string>{-119,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,435}}</string>
        <key>sourceSize</key>
        <string>{340,435}</string>
      </dict>
      <key>sfx_11027_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,0},{428,438}}</string>
        <key>offset</key>
        <string>{-153,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,438}}</string>
        <key>sourceSize</key>
        <string>{428,438}</string>
      </dict>
      <key>sfx_11027_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,510},{496,445}}</string>
        <key>offset</key>
        <string>{-220,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,445}}</string>
        <key>sourceSize</key>
        <string>{496,445}</string>
      </dict>
      <key>sfx_11027_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,1028},{500,379}}</string>
        <key>offset</key>
        <string>{-223,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,379}}</string>
        <key>sourceSize</key>
        <string>{500,379}</string>
      </dict>
      <key>sfx_11027_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,518},{508,343}}</string>
        <key>offset</key>
        <string>{-225,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{508,343}}</string>
        <key>sourceSize</key>
        <string>{508,343}</string>
      </dict>
      <key>sfx_11027_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1028},{504,310}}</string>
        <key>offset</key>
        <string>{-219,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,310}}</string>
        <key>sourceSize</key>
        <string>{504,310}</string>
      </dict>
      <key>sfx_11027_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{508,309}}</string>
        <key>offset</key>
        <string>{-221,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{508,309}}</string>
        <key>sourceSize</key>
        <string>{508,309}</string>
      </dict>
      <key>sfx_11027_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{516,282}}</string>
        <key>offset</key>
        <string>{-224,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,282}}</string>
        <key>sourceSize</key>
        <string>{516,282}</string>
      </dict>
      <key>sfx_11027_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1742,0},{260,88}}</string>
        <key>offset</key>
        <string>{-225,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,88}}</string>
        <key>sourceSize</key>
        <string>{260,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11027_0.png</string>
      <key>size</key>
      <string>{1840,1538}</string>
      <key>textureFileName</key>
      <string>sfx_11027_0.png</string>
    </dict>
  </dict>
</plist>