<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11050_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{182,131}}</string>
        <key>offset</key>
        <string>{2,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,131}}</string>
        <key>sourceSize</key>
        <string>{182,131}</string>
      </dict>
      <key>sfx_11050_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,349},{154,101}}</string>
        <key>offset</key>
        <string>{43,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,101}}</string>
        <key>sourceSize</key>
        <string>{154,101}</string>
      </dict>
      <key>sfx_11050_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,323},{108,121}}</string>
        <key>offset</key>
        <string>{64,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,121}}</string>
        <key>sourceSize</key>
        <string>{108,121}</string>
      </dict>
      <key>sfx_11050_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{122,122}}</string>
        <key>offset</key>
        <string>{77,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,122}}</string>
        <key>sourceSize</key>
        <string>{122,122}</string>
      </dict>
      <key>sfx_11050_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,176},{130,145}}</string>
        <key>offset</key>
        <string>{31,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,145}}</string>
        <key>sourceSize</key>
        <string>{130,145}</string>
      </dict>
      <key>sfx_11050_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{174,142}}</string>
        <key>offset</key>
        <string>{-71,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,142}}</string>
        <key>sourceSize</key>
        <string>{174,142}</string>
      </dict>
      <key>sfx_11050_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{179,138}}</string>
        <key>offset</key>
        <string>{-84,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,138}}</string>
        <key>sourceSize</key>
        <string>{179,138}</string>
      </dict>
      <key>sfx_11050_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{179,145}}</string>
        <key>offset</key>
        <string>{-82,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,145}}</string>
        <key>sourceSize</key>
        <string>{179,145}</string>
      </dict>
      <key>sfx_11050_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,176},{171,134}}</string>
        <key>offset</key>
        <string>{-66,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,134}}</string>
        <key>sourceSize</key>
        <string>{171,134}</string>
      </dict>
      <key>sfx_11050_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{99,132}}</string>
        <key>offset</key>
        <string>{51,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,132}}</string>
        <key>sourceSize</key>
        <string>{99,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11050_2.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_11050_2.png</string>
    </dict>
  </dict>
</plist>