<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11028_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{407,387}}</string>
        <key>offset</key>
        <string>{-172,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,387}}</string>
        <key>sourceSize</key>
        <string>{407,387}</string>
      </dict>
      <key>sfx_11028_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,0},{352,356}}</string>
        <key>offset</key>
        <string>{-162,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,356}}</string>
        <key>sourceSize</key>
        <string>{352,356}</string>
      </dict>
      <key>sfx_11028_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,354},{330,301}}</string>
        <key>offset</key>
        <string>{-161,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,301}}</string>
        <key>sourceSize</key>
        <string>{330,301}</string>
      </dict>
      <key>sfx_11028_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{244,274}}</string>
        <key>offset</key>
        <string>{-159,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,274}}</string>
        <key>sourceSize</key>
        <string>{244,274}</string>
      </dict>
      <key>sfx_11028_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11028_5.png</string>
      <key>size</key>
      <string>{769,790}</string>
      <key>textureFileName</key>
      <string>sfx_11028_5.png</string>
    </dict>
  </dict>
</plist>