<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11058_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11058_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,381},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11058_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,381},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11058_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,212},{208,167}}</string>
        <key>offset</key>
        <string>{-31,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,167}}</string>
        <key>sourceSize</key>
        <string>{208,167}</string>
      </dict>
      <key>sfx_11058_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{102,131}}</string>
        <key>offset</key>
        <string>{64,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,131}}</string>
        <key>sourceSize</key>
        <string>{102,131}</string>
      </dict>
      <key>sfx_11058_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{72,72}}</string>
        <key>offset</key>
        <string>{72,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>sfx_11058_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{212,210}}</string>
        <key>offset</key>
        <string>{-42,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,210}}</string>
        <key>sourceSize</key>
        <string>{212,210}</string>
      </dict>
      <key>sfx_11058_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,222}}</string>
        <key>offset</key>
        <string>{26,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,222}}</string>
        <key>sourceSize</key>
        <string>{144,222}</string>
      </dict>
      <key>sfx_11058_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,74},{64,70}}</string>
        <key>offset</key>
        <string>{89,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,70}}</string>
        <key>sourceSize</key>
        <string>{64,70}</string>
      </dict>
      <key>sfx_11058_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{9,381},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11058_2.png</string>
      <key>size</key>
      <string>{456,386}</string>
      <key>textureFileName</key>
      <string>sfx_11058_2.png</string>
    </dict>
  </dict>
</plist>