<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_50005_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{337,230}}</string>
        <key>offset</key>
        <string>{-75,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,230}}</string>
        <key>sourceSize</key>
        <string>{337,230}</string>
      </dict>
      <key>sfx_50005_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{337,230}}</string>
        <key>offset</key>
        <string>{-75,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,230}}</string>
        <key>sourceSize</key>
        <string>{337,230}</string>
      </dict>
      <key>sfx_50005_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,339},{337,227}}</string>
        <key>offset</key>
        <string>{-75,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,227}}</string>
        <key>sourceSize</key>
        <string>{337,227}</string>
      </dict>
      <key>sfx_50005_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{337,231}}</string>
        <key>offset</key>
        <string>{-75,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,231}}</string>
        <key>sourceSize</key>
        <string>{337,231}</string>
      </dict>
      <key>sfx_50005_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{337,238}}</string>
        <key>offset</key>
        <string>{-75,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,238}}</string>
        <key>sourceSize</key>
        <string>{337,238}</string>
      </dict>
      <key>sfx_50005_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,240},{337,232}}</string>
        <key>offset</key>
        <string>{-75,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,232}}</string>
        <key>sourceSize</key>
        <string>{337,232}</string>
      </dict>
      <key>sfx_50005_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,474},{337,231}}</string>
        <key>offset</key>
        <string>{-75,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,231}}</string>
        <key>sourceSize</key>
        <string>{337,231}</string>
      </dict>
      <key>sfx_50005_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{337,232}}</string>
        <key>offset</key>
        <string>{-75,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,232}}</string>
        <key>sourceSize</key>
        <string>{337,232}</string>
      </dict>
      <key>sfx_50005_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,813},{337,238}}</string>
        <key>offset</key>
        <string>{-75,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,238}}</string>
        <key>sourceSize</key>
        <string>{337,238}</string>
      </dict>
      <key>sfx_50005_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{337,243}}</string>
        <key>offset</key>
        <string>{-75,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,243}}</string>
        <key>sourceSize</key>
        <string>{337,243}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_50005_0.png</string>
      <key>size</key>
      <string>{899,1252}</string>
      <key>textureFileName</key>
      <string>sfx_50005_0.png</string>
    </dict>
  </dict>
</plist>