<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11022_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,630},{136,73}}</string>
        <key>offset</key>
        <string>{52,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,73}}</string>
        <key>sourceSize</key>
        <string>{136,73}</string>
      </dict>
      <key>sfx_11022_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,705},{103,26}}</string>
        <key>offset</key>
        <string>{52,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,26}}</string>
        <key>sourceSize</key>
        <string>{103,26}</string>
      </dict>
      <key>sfx_11022_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{628,146}}</string>
        <key>offset</key>
        <string>{-296,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{628,146}}</string>
        <key>sourceSize</key>
        <string>{628,146}</string>
      </dict>
      <key>sfx_11022_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{580,333}}</string>
        <key>offset</key>
        <string>{-257,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{580,333}}</string>
        <key>sourceSize</key>
        <string>{580,333}</string>
      </dict>
      <key>sfx_11022_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,335},{412,315}}</string>
        <key>offset</key>
        <string>{-152,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,315}}</string>
        <key>sourceSize</key>
        <string>{412,315}</string>
      </dict>
      <key>sfx_11022_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,335},{332,301}}</string>
        <key>offset</key>
        <string>{-134,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,301}}</string>
        <key>sourceSize</key>
        <string>{332,301}</string>
      </dict>
      <key>sfx_11022_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,705},{112,43}}</string>
        <key>offset</key>
        <string>{-32,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,43}}</string>
        <key>sourceSize</key>
        <string>{112,43}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11022_0.png</string>
      <key>size</key>
      <string>{770,1068}</string>
      <key>textureFileName</key>
      <string>sfx_11022_0.png</string>
    </dict>
  </dict>
</plist>