<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_60012_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{128,210}}</string>
        <key>offset</key>
        <string>{-36,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,210}}</string>
        <key>sourceSize</key>
        <string>{128,210}</string>
      </dict>
      <key>sfx_60012_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,212}}</string>
        <key>offset</key>
        <string>{-37,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,212}}</string>
        <key>sourceSize</key>
        <string>{130,212}</string>
      </dict>
      <key>sfx_60012_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{131,193}}</string>
        <key>offset</key>
        <string>{-37,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,193}}</string>
        <key>sourceSize</key>
        <string>{131,193}</string>
      </dict>
      <key>sfx_60012_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,212},{120,174}}</string>
        <key>offset</key>
        <string>{-39,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,174}}</string>
        <key>sourceSize</key>
        <string>{120,174}</string>
      </dict>
      <key>sfx_60012_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{122,174}}</string>
        <key>offset</key>
        <string>{-40,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,174}}</string>
        <key>sourceSize</key>
        <string>{122,174}</string>
      </dict>
      <key>sfx_60012_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,334},{113,174}}</string>
        <key>offset</key>
        <string>{-39,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,174}}</string>
        <key>sourceSize</key>
        <string>{113,174}</string>
      </dict>
      <key>sfx_60012_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,334},{111,174}}</string>
        <key>offset</key>
        <string>{-37,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,174}}</string>
        <key>sourceSize</key>
        <string>{111,174}</string>
      </dict>
      <key>sfx_60012_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{112,172}}</string>
        <key>offset</key>
        <string>{-37,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,172}}</string>
        <key>sourceSize</key>
        <string>{112,172}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_60012_0.png</string>
      <key>size</key>
      <string>{496,514}</string>
      <key>textureFileName</key>
      <string>sfx_60012_0.png</string>
    </dict>
  </dict>
</plist>