<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20015_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{66,96}}</string>
        <key>offset</key>
        <string>{-13,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,96}}</string>
        <key>sourceSize</key>
        <string>{66,96}</string>
      </dict>
      <key>sfx_20015_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{74,113}}</string>
        <key>offset</key>
        <string>{-12,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,113}}</string>
        <key>sourceSize</key>
        <string>{74,113}</string>
      </dict>
      <key>sfx_20015_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{70,115}}</string>
        <key>offset</key>
        <string>{-11,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,115}}</string>
        <key>sourceSize</key>
        <string>{70,115}</string>
      </dict>
      <key>sfx_20015_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,116}}</string>
        <key>offset</key>
        <string>{-12,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,116}}</string>
        <key>sourceSize</key>
        <string>{71,116}</string>
      </dict>
      <key>sfx_20015_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{71,115}}</string>
        <key>offset</key>
        <string>{-12,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,115}}</string>
        <key>sourceSize</key>
        <string>{71,115}</string>
      </dict>
      <key>sfx_20015_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,117},{69,114}}</string>
        <key>offset</key>
        <string>{-10,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,114}}</string>
        <key>sourceSize</key>
        <string>{69,114}</string>
      </dict>
      <key>sfx_20015_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{68,110}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,110}}</string>
        <key>sourceSize</key>
        <string>{68,110}</string>
      </dict>
      <key>sfx_20015_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,233},{66,107}}</string>
        <key>offset</key>
        <string>{-13,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,107}}</string>
        <key>sourceSize</key>
        <string>{66,107}</string>
      </dict>
      <key>sfx_20015_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,117},{67,103}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20015_0.png</string>
      <key>size</key>
      <string>{258,386}</string>
      <key>textureFileName</key>
      <string>sfx_20015_0.png</string>
    </dict>
  </dict>
</plist>