<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11028_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11028_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{344,193}}</string>
        <key>offset</key>
        <string>{91,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,193}}</string>
        <key>sourceSize</key>
        <string>{344,193}</string>
      </dict>
      <key>sfx_11028_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{308,159}}</string>
        <key>offset</key>
        <string>{127,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,159}}</string>
        <key>sourceSize</key>
        <string>{308,159}</string>
      </dict>
      <key>sfx_11028_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,161},{264,131}}</string>
        <key>offset</key>
        <string>{167,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,131}}</string>
        <key>sourceSize</key>
        <string>{264,131}</string>
      </dict>
      <key>sfx_11028_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,294},{208,63}}</string>
        <key>offset</key>
        <string>{212,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,63}}</string>
        <key>sourceSize</key>
        <string>{208,63}</string>
      </dict>
      <key>sfx_11028_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,6},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11028_2.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>sfx_11028_2.png</string>
    </dict>
  </dict>
</plist>