<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11054_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{60,153}}</string>
        <key>offset</key>
        <string>{27,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,153}}</string>
        <key>sourceSize</key>
        <string>{60,153}</string>
      </dict>
      <key>sfx_11054_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{421,363}}</string>
        <key>offset</key>
        <string>{-252,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,363}}</string>
        <key>sourceSize</key>
        <string>{421,363}</string>
      </dict>
      <key>sfx_11054_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,0},{253,303}}</string>
        <key>offset</key>
        <string>{-209,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,303}}</string>
        <key>sourceSize</key>
        <string>{253,303}</string>
      </dict>
      <key>sfx_11054_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11054_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11054_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11054_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11054_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11054_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11054_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,3},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11054_6.png</string>
      <key>size</key>
      <string>{638,513}</string>
      <key>textureFileName</key>
      <string>sfx_11054_6.png</string>
    </dict>
  </dict>
</plist>