<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11053_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,441},{194,94}}</string>
        <key>offset</key>
        <string>{44,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,94}}</string>
        <key>sourceSize</key>
        <string>{194,94}</string>
      </dict>
      <key>sfx_11053_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{510,370}}</string>
        <key>offset</key>
        <string>{-165,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{510,370}}</string>
        <key>sourceSize</key>
        <string>{510,370}</string>
      </dict>
      <key>sfx_11053_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{439,393}}</string>
        <key>offset</key>
        <string>{-280,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,393}}</string>
        <key>sourceSize</key>
        <string>{439,393}</string>
      </dict>
      <key>sfx_11053_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,441},{297,265}}</string>
        <key>offset</key>
        <string>{-118,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,265}}</string>
        <key>sourceSize</key>
        <string>{297,265}</string>
      </dict>
      <key>sfx_11053_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,441},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11053_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,444},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11053_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,447},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11053_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,450},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11053_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,453},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_11053_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,456},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11053_5.png</string>
      <key>size</key>
      <string>{770,1032}</string>
      <key>textureFileName</key>
      <string>sfx_11053_5.png</string>
    </dict>
  </dict>
</plist>