<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11073_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1610},{373,283}}</string>
        <key>offset</key>
        <string>{-162,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,283}}</string>
        <key>sourceSize</key>
        <string>{373,283}</string>
      </dict>
      <key>sfx_11073_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1216},{542,392}}</string>
        <key>offset</key>
        <string>{-257,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,392}}</string>
        <key>sourceSize</key>
        <string>{542,392}</string>
      </dict>
      <key>sfx_11073_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{604,417}}</string>
        <key>offset</key>
        <string>{-276,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{604,417}}</string>
        <key>sourceSize</key>
        <string>{604,417}</string>
      </dict>
      <key>sfx_11073_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{608,418}}</string>
        <key>offset</key>
        <string>{-276,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{608,418}}</string>
        <key>sourceSize</key>
        <string>{608,418}</string>
      </dict>
      <key>sfx_11073_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,610},{600,418}}</string>
        <key>offset</key>
        <string>{-257,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{600,418}}</string>
        <key>sourceSize</key>
        <string>{600,418}</string>
      </dict>
      <key>sfx_11073_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{595,417}}</string>
        <key>offset</key>
        <string>{-283,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{595,417}}</string>
        <key>sourceSize</key>
        <string>{595,417}</string>
      </dict>
      <key>sfx_11073_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,589},{575,374}}</string>
        <key>offset</key>
        <string>{-258,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{575,374}}</string>
        <key>sourceSize</key>
        <string>{575,374}</string>
      </dict>
      <key>sfx_11073_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,0},{587,381}}</string>
        <key>offset</key>
        <string>{-274,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{587,381}}</string>
        <key>sourceSize</key>
        <string>{587,381}</string>
      </dict>
      <key>sfx_11073_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,965},{543,338}}</string>
        <key>offset</key>
        <string>{-242,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{543,338}}</string>
        <key>sourceSize</key>
        <string>{543,338}</string>
      </dict>
      <key>sfx_11073_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,965},{475,326}}</string>
        <key>offset</key>
        <string>{-226,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,326}}</string>
        <key>sourceSize</key>
        <string>{475,326}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11073_0.png</string>
      <key>size</key>
      <string>{1538,1895}</string>
      <key>textureFileName</key>
      <string>sfx_11073_0.png</string>
    </dict>
  </dict>
</plist>