<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11020_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{201,188}}</string>
        <key>offset</key>
        <string>{-93,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,188}}</string>
        <key>sourceSize</key>
        <string>{201,188}</string>
      </dict>
      <key>sfx_11020_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{145,217}}</string>
        <key>offset</key>
        <string>{-73,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,217}}</string>
        <key>sourceSize</key>
        <string>{145,217}</string>
      </dict>
      <key>sfx_11020_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,180},{122,206}}</string>
        <key>offset</key>
        <string>{-44,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,206}}</string>
        <key>sourceSize</key>
        <string>{122,206}</string>
      </dict>
      <key>sfx_11020_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,304},{205,190}}</string>
        <key>offset</key>
        <string>{-97,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,190}}</string>
        <key>sourceSize</key>
        <string>{205,190}</string>
      </dict>
      <key>sfx_11020_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{178,210}}</string>
        <key>offset</key>
        <string>{-68,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,210}}</string>
        <key>sourceSize</key>
        <string>{178,210}</string>
      </dict>
      <key>sfx_11020_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{187,208}}</string>
        <key>offset</key>
        <string>{-75,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,208}}</string>
        <key>sourceSize</key>
        <string>{187,208}</string>
      </dict>
      <key>sfx_11020_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{188,202}}</string>
        <key>offset</key>
        <string>{-74,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,202}}</string>
        <key>sourceSize</key>
        <string>{188,202}</string>
      </dict>
      <key>sfx_11020_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,526},{192,186}}</string>
        <key>offset</key>
        <string>{-83,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,186}}</string>
        <key>sourceSize</key>
        <string>{192,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11020_6.png</string>
      <key>size</key>
      <string>{513,734}</string>
      <key>textureFileName</key>
      <string>sfx_11020_6.png</string>
    </dict>
  </dict>
</plist>