<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11060_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1276},{209,189}}</string>
        <key>offset</key>
        <string>{-32,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,189}}</string>
        <key>sourceSize</key>
        <string>{209,189}</string>
      </dict>
      <key>sfx_11060_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,393},{360,334}}</string>
        <key>offset</key>
        <string>{-60,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,334}}</string>
        <key>sourceSize</key>
        <string>{360,334}</string>
      </dict>
      <key>sfx_11060_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,908},{389,360}}</string>
        <key>offset</key>
        <string>{-52,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,360}}</string>
        <key>sourceSize</key>
        <string>{389,360}</string>
      </dict>
      <key>sfx_11060_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,472},{434,411}}</string>
        <key>offset</key>
        <string>{-52,419}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,411}}</string>
        <key>sourceSize</key>
        <string>{434,411}</string>
      </dict>
      <key>sfx_11060_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,908},{394,370}}</string>
        <key>offset</key>
        <string>{-62,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,370}}</string>
        <key>sourceSize</key>
        <string>{394,370}</string>
      </dict>
      <key>sfx_11060_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{366,355}}</string>
        <key>offset</key>
        <string>{-54,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,355}}</string>
        <key>sourceSize</key>
        <string>{366,355}</string>
      </dict>
      <key>sfx_11060_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{346,365}}</string>
        <key>offset</key>
        <string>{-62,365}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,365}}</string>
        <key>sourceSize</key>
        <string>{346,365}</string>
      </dict>
      <key>sfx_11060_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,0},{403,391}}</string>
        <key>offset</key>
        <string>{-74,379}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,391}}</string>
        <key>sourceSize</key>
        <string>{403,391}</string>
      </dict>
      <key>sfx_11060_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{470,428}}</string>
        <key>offset</key>
        <string>{-68,421}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,428}}</string>
        <key>sourceSize</key>
        <string>{470,428}</string>
      </dict>
      <key>sfx_11060_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,472},{454,425}}</string>
        <key>offset</key>
        <string>{-71,419}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,425}}</string>
        <key>sourceSize</key>
        <string>{454,425}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11060_1.png</string>
      <key>size</key>
      <string>{1282,1468}</string>
      <key>textureFileName</key>
      <string>sfx_11060_1.png</string>
    </dict>
  </dict>
</plist>