<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11001_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,192},{52,32}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,32}}</string>
        <key>sourceSize</key>
        <string>{52,32}</string>
      </dict>
      <key>sfx_11001_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{93,58}}</string>
        <key>offset</key>
        <string>{-23,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,58}}</string>
        <key>sourceSize</key>
        <string>{93,58}</string>
      </dict>
      <key>sfx_11001_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,469},{98,138}}</string>
        <key>offset</key>
        <string>{-27,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,138}}</string>
        <key>sourceSize</key>
        <string>{98,138}</string>
      </dict>
      <key>sfx_11001_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{173,180}}</string>
        <key>offset</key>
        <string>{-65,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,180}}</string>
        <key>sourceSize</key>
        <string>{173,180}</string>
      </dict>
      <key>sfx_11001_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{131,221}}</string>
        <key>offset</key>
        <string>{-42,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,221}}</string>
        <key>sourceSize</key>
        <string>{131,221}</string>
      </dict>
      <key>sfx_11001_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,133},{133,220}}</string>
        <key>offset</key>
        <string>{-43,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,220}}</string>
        <key>sourceSize</key>
        <string>{133,220}</string>
      </dict>
      <key>sfx_11001_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,222}}</string>
        <key>offset</key>
        <string>{-44,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,222}}</string>
        <key>sourceSize</key>
        <string>{135,222}</string>
      </dict>
      <key>sfx_11001_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{135,155}}</string>
        <key>offset</key>
        <string>{-44,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,155}}</string>
        <key>sourceSize</key>
        <string>{135,155}</string>
      </dict>
      <key>sfx_11001_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,469},{101,71}}</string>
        <key>offset</key>
        <string>{-27,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,71}}</string>
        <key>sourceSize</key>
        <string>{101,71}</string>
      </dict>
      <key>sfx_11001_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,137},{53,32}}</string>
        <key>offset</key>
        <string>{-3,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,32}}</string>
        <key>sourceSize</key>
        <string>{53,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11001_0.png</string>
      <key>size</key>
      <string>{512,640}</string>
      <key>textureFileName</key>
      <string>sfx_11001_0.png</string>
    </dict>
  </dict>
</plist>