<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600101_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,502},{82,68}}</string>
        <key>offset</key>
        <string>{13,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,68}}</string>
        <key>sourceSize</key>
        <string>{82,68}</string>
      </dict>
      <key>weapon_600101_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,0},{48,114}}</string>
        <key>offset</key>
        <string>{-9,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,114}}</string>
        <key>sourceSize</key>
        <string>{48,114}</string>
      </dict>
      <key>weapon_600101_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,460},{65,45}}</string>
        <key>offset</key>
        <string>{11,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,45}}</string>
        <key>sourceSize</key>
        <string>{65,45}</string>
      </dict>
      <key>weapon_600101_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,416},{42,65}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,65}}</string>
        <key>sourceSize</key>
        <string>{42,65}</string>
      </dict>
      <key>weapon_600101_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,58},{46,65}}</string>
        <key>offset</key>
        <string>{-12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,65}}</string>
        <key>sourceSize</key>
        <string>{46,65}</string>
      </dict>
      <key>weapon_600101_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,245},{113,49}}</string>
        <key>offset</key>
        <string>{-18,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,49}}</string>
        <key>sourceSize</key>
        <string>{113,49}</string>
      </dict>
      <key>weapon_600101_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,546},{36,77}}</string>
        <key>offset</key>
        <string>{26,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,77}}</string>
        <key>sourceSize</key>
        <string>{36,77}</string>
      </dict>
      <key>weapon_600101_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,419},{95,81}}</string>
        <key>offset</key>
        <string>{-44,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,81}}</string>
        <key>sourceSize</key>
        <string>{95,81}</string>
      </dict>
      <key>weapon_600101_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,106},{42,36}}</string>
        <key>offset</key>
        <string>{27,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,36}}</string>
        <key>sourceSize</key>
        <string>{42,36}</string>
      </dict>
      <key>weapon_600101_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,226},{108,40}}</string>
        <key>offset</key>
        <string>{-14,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,40}}</string>
        <key>sourceSize</key>
        <string>{108,40}</string>
      </dict>
      <key>weapon_600101_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{109,43}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>weapon_600101_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,372},{86,42}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,42}}</string>
        <key>sourceSize</key>
        <string>{86,42}</string>
      </dict>
      <key>weapon_600101_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,221},{98,54}}</string>
        <key>offset</key>
        <string>{-23,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,54}}</string>
        <key>sourceSize</key>
        <string>{98,54}</string>
      </dict>
      <key>weapon_600101_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{94,44}}</string>
        <key>offset</key>
        <string>{-46,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,44}}</string>
        <key>sourceSize</key>
        <string>{94,44}</string>
      </dict>
      <key>weapon_600101_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{93,26}}</string>
        <key>offset</key>
        <string>{-3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,26}}</string>
        <key>sourceSize</key>
        <string>{93,26}</string>
      </dict>
      <key>weapon_600101_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,344},{109,54}}</string>
        <key>offset</key>
        <string>{3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,54}}</string>
        <key>sourceSize</key>
        <string>{109,54}</string>
      </dict>
      <key>weapon_600101_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{114,52}}</string>
        <key>offset</key>
        <string>{-7,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,52}}</string>
        <key>sourceSize</key>
        <string>{114,52}</string>
      </dict>
      <key>weapon_600101_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,546},{39,57}}</string>
        <key>offset</key>
        <string>{27,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,57}}</string>
        <key>sourceSize</key>
        <string>{39,57}</string>
      </dict>
      <key>weapon_600101_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{121,40}}</string>
        <key>offset</key>
        <string>{-54,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,40}}</string>
        <key>sourceSize</key>
        <string>{121,40}</string>
      </dict>
      <key>weapon_600101_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,455},{44,48}}</string>
        <key>offset</key>
        <string>{-10,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,48}}</string>
        <key>sourceSize</key>
        <string>{44,48}</string>
      </dict>
      <key>weapon_600101_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,440},{99,69}}</string>
        <key>offset</key>
        <string>{-22,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,69}}</string>
        <key>sourceSize</key>
        <string>{99,69}</string>
      </dict>
      <key>weapon_600101_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,307},{55,93}}</string>
        <key>offset</key>
        <string>{29,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,93}}</string>
        <key>sourceSize</key>
        <string>{55,93}</string>
      </dict>
      <key>weapon_600101_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,96},{55,93}}</string>
        <key>offset</key>
        <string>{24,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,93}}</string>
        <key>sourceSize</key>
        <string>{55,93}</string>
      </dict>
      <key>weapon_600101_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,372},{86,42}}</string>
        <key>offset</key>
        <string>{-14,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,42}}</string>
        <key>sourceSize</key>
        <string>{86,42}</string>
      </dict>
      <key>weapon_600101_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,460},{84,82}}</string>
        <key>offset</key>
        <string>{-51,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,82}}</string>
        <key>sourceSize</key>
        <string>{84,82}</string>
      </dict>
      <key>weapon_600101_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,512},{48,48}}</string>
        <key>offset</key>
        <string>{8,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>weapon_600101_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,368},{69,114}}</string>
        <key>offset</key>
        <string>{-32,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,114}}</string>
        <key>sourceSize</key>
        <string>{69,114}</string>
      </dict>
      <key>weapon_600101_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,98},{51,95}}</string>
        <key>offset</key>
        <string>{8,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,95}}</string>
        <key>sourceSize</key>
        <string>{51,95}</string>
      </dict>
      <key>weapon_600101_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{51,96}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,96}}</string>
        <key>sourceSize</key>
        <string>{51,96}</string>
      </dict>
      <key>weapon_600101_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{118,53}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,53}}</string>
        <key>sourceSize</key>
        <string>{118,53}</string>
      </dict>
      <key>weapon_600101_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,109},{40,98}}</string>
        <key>offset</key>
        <string>{-17,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,98}}</string>
        <key>sourceSize</key>
        <string>{40,98}</string>
      </dict>
      <key>weapon_600101_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,95},{90,46}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,46}}</string>
        <key>sourceSize</key>
        <string>{90,46}</string>
      </dict>
      <key>weapon_600101_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{42,123}}</string>
        <key>offset</key>
        <string>{-21,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,123}}</string>
        <key>sourceSize</key>
        <string>{42,123}</string>
      </dict>
      <key>weapon_600101_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{107,64}}</string>
        <key>offset</key>
        <string>{-45,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,64}}</string>
        <key>sourceSize</key>
        <string>{107,64}</string>
      </dict>
      <key>weapon_600101_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,111},{108,60}}</string>
        <key>offset</key>
        <string>{-42,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,60}}</string>
        <key>sourceSize</key>
        <string>{108,60}</string>
      </dict>
      <key>weapon_600101_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,191},{89,92}}</string>
        <key>offset</key>
        <string>{-52,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,92}}</string>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>weapon_600101_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,321},{96,73}}</string>
        <key>offset</key>
        <string>{-26,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,73}}</string>
        <key>sourceSize</key>
        <string>{96,73}</string>
      </dict>
      <key>weapon_600101_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,285},{90,85}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>weapon_600101_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,209},{95,96}}</string>
        <key>offset</key>
        <string>{-42,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,96}}</string>
        <key>sourceSize</key>
        <string>{95,96}</string>
      </dict>
      <key>weapon_600101_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,231},{111,43}}</string>
        <key>offset</key>
        <string>{-67,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,43}}</string>
        <key>sourceSize</key>
        <string>{111,43}</string>
      </dict>
      <key>weapon_600101_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{112,44}}</string>
        <key>offset</key>
        <string>{-57,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,44}}</string>
        <key>sourceSize</key>
        <string>{112,44}</string>
      </dict>
      <key>weapon_600101_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,116},{39,113}}</string>
        <key>offset</key>
        <string>{-20,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,113}}</string>
        <key>sourceSize</key>
        <string>{39,113}</string>
      </dict>
      <key>weapon_600101_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,125},{118,42}}</string>
        <key>offset</key>
        <string>{-19,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,42}}</string>
        <key>sourceSize</key>
        <string>{118,42}</string>
      </dict>
      <key>weapon_600101_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,114},{45,110}}</string>
        <key>offset</key>
        <string>{14,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,110}}</string>
        <key>sourceSize</key>
        <string>{45,110}</string>
      </dict>
      <key>weapon_600101_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,336},{102,57}}</string>
        <key>offset</key>
        <string>{-30,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,57}}</string>
        <key>sourceSize</key>
        <string>{102,57}</string>
      </dict>
      <key>weapon_600101_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{56,65}}</string>
        <key>offset</key>
        <string>{-37,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,65}}</string>
        <key>sourceSize</key>
        <string>{56,65}</string>
      </dict>
      <key>weapon_600101_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{56,70}}</string>
        <key>offset</key>
        <string>{-33,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,70}}</string>
        <key>sourceSize</key>
        <string>{56,70}</string>
      </dict>
      <key>weapon_600101_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{88,93}}</string>
        <key>offset</key>
        <string>{-23,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,93}}</string>
        <key>sourceSize</key>
        <string>{88,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600101_0_10.png</string>
      <key>size</key>
      <string>{514,587}</string>
      <key>textureFileName</key>
      <string>weapon_600101_0_10.png</string>
    </dict>
  </dict>
</plist>