<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600101_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,318},{40,101}}</string>
        <key>offset</key>
        <string>{35,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,101}}</string>
        <key>sourceSize</key>
        <string>{40,101}</string>
      </dict>
      <key>weapon_600101_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,101},{70,93}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,93}}</string>
        <key>sourceSize</key>
        <string>{70,93}</string>
      </dict>
      <key>weapon_600101_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,0},{43,117}}</string>
        <key>offset</key>
        <string>{6,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,117}}</string>
        <key>sourceSize</key>
        <string>{43,117}</string>
      </dict>
      <key>weapon_600101_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,366},{72,43}}</string>
        <key>offset</key>
        <string>{11,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,43}}</string>
        <key>sourceSize</key>
        <string>{72,43}</string>
      </dict>
      <key>weapon_600101_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,366},{61,58}}</string>
        <key>offset</key>
        <string>{-27,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,58}}</string>
        <key>sourceSize</key>
        <string>{61,58}</string>
      </dict>
      <key>weapon_600101_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,324},{40,82}}</string>
        <key>offset</key>
        <string>{13,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,82}}</string>
        <key>sourceSize</key>
        <string>{40,82}</string>
      </dict>
      <key>weapon_600101_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,141},{35,92}}</string>
        <key>offset</key>
        <string>{32,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,92}}</string>
        <key>sourceSize</key>
        <string>{35,92}</string>
      </dict>
      <key>weapon_600101_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{95,63}}</string>
        <key>offset</key>
        <string>{-54,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,63}}</string>
        <key>sourceSize</key>
        <string>{95,63}</string>
      </dict>
      <key>weapon_600101_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,272},{83,81}}</string>
        <key>offset</key>
        <string>{-25,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,81}}</string>
        <key>sourceSize</key>
        <string>{83,81}</string>
      </dict>
      <key>weapon_600101_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,426},{40,39}}</string>
        <key>offset</key>
        <string>{39,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,39}}</string>
        <key>sourceSize</key>
        <string>{40,39}</string>
      </dict>
      <key>weapon_600101_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,420},{41,51}}</string>
        <key>offset</key>
        <string>{16,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,51}}</string>
        <key>sourceSize</key>
        <string>{41,51}</string>
      </dict>
      <key>weapon_600101_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,454},{105,56}}</string>
        <key>offset</key>
        <string>{1,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,56}}</string>
        <key>sourceSize</key>
        <string>{105,56}</string>
      </dict>
      <key>weapon_600101_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,300},{22,83}}</string>
        <key>offset</key>
        <string>{17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,83}}</string>
        <key>sourceSize</key>
        <string>{22,83}</string>
      </dict>
      <key>weapon_600101_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,411},{71,40}}</string>
        <key>offset</key>
        <string>{-52,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,40}}</string>
        <key>sourceSize</key>
        <string>{71,40}</string>
      </dict>
      <key>weapon_600101_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{95,49}}</string>
        <key>offset</key>
        <string>{-40,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,49}}</string>
        <key>sourceSize</key>
        <string>{95,49}</string>
      </dict>
      <key>weapon_600101_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,192},{89,32}}</string>
        <key>offset</key>
        <string>{14,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,32}}</string>
        <key>sourceSize</key>
        <string>{89,32}</string>
      </dict>
      <key>weapon_600101_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,214},{102,32}}</string>
        <key>offset</key>
        <string>{10,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,32}}</string>
        <key>sourceSize</key>
        <string>{102,32}</string>
      </dict>
      <key>weapon_600101_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,245},{115,43}}</string>
        <key>offset</key>
        <string>{-1,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,43}}</string>
        <key>sourceSize</key>
        <string>{115,43}</string>
      </dict>
      <key>weapon_600101_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,97},{36,93}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,93}}</string>
        <key>sourceSize</key>
        <string>{36,93}</string>
      </dict>
      <key>weapon_600101_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,192},{28,39}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,39}}</string>
        <key>sourceSize</key>
        <string>{28,39}</string>
      </dict>
      <key>weapon_600101_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,453},{52,40}}</string>
        <key>offset</key>
        <string>{-21,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,40}}</string>
        <key>sourceSize</key>
        <string>{52,40}</string>
      </dict>
      <key>weapon_600101_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,235},{108,71}}</string>
        <key>offset</key>
        <string>{-20,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,71}}</string>
        <key>sourceSize</key>
        <string>{108,71}</string>
      </dict>
      <key>weapon_600101_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,332},{105,58}}</string>
        <key>offset</key>
        <string>{12,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>weapon_600101_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,283},{63,81}}</string>
        <key>offset</key>
        <string>{11,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,81}}</string>
        <key>sourceSize</key>
        <string>{63,81}</string>
      </dict>
      <key>weapon_600101_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,214},{43,100}}</string>
        <key>offset</key>
        <string>{-31,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,100}}</string>
        <key>sourceSize</key>
        <string>{43,100}</string>
      </dict>
      <key>weapon_600101_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,453},{71,46}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,46}}</string>
        <key>sourceSize</key>
        <string>{71,46}</string>
      </dict>
      <key>weapon_600101_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,426},{45,50}}</string>
        <key>offset</key>
        <string>{-1,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,50}}</string>
        <key>sourceSize</key>
        <string>{45,50}</string>
      </dict>
      <key>weapon_600101_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{72,111}}</string>
        <key>offset</key>
        <string>{-36,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,111}}</string>
        <key>sourceSize</key>
        <string>{72,111}</string>
      </dict>
      <key>weapon_600101_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,106},{53,100}}</string>
        <key>offset</key>
        <string>{16,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,100}}</string>
        <key>sourceSize</key>
        <string>{53,100}</string>
      </dict>
      <key>weapon_600101_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,178},{40,91}}</string>
        <key>offset</key>
        <string>{-5,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,91}}</string>
        <key>sourceSize</key>
        <string>{40,91}</string>
      </dict>
      <key>weapon_600101_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,362},{39,109}}</string>
        <key>offset</key>
        <string>{-24,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,109}}</string>
        <key>sourceSize</key>
        <string>{39,109}</string>
      </dict>
      <key>weapon_600101_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,65},{94,74}}</string>
        <key>offset</key>
        <string>{8,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,74}}</string>
        <key>sourceSize</key>
        <string>{94,74}</string>
      </dict>
      <key>weapon_600101_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,220},{86,50}}</string>
        <key>offset</key>
        <string>{-12,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,50}}</string>
        <key>sourceSize</key>
        <string>{86,50}</string>
      </dict>
      <key>weapon_600101_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{42,119}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,119}}</string>
        <key>sourceSize</key>
        <string>{42,119}</string>
      </dict>
      <key>weapon_600101_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{49,104}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,104}}</string>
        <key>sourceSize</key>
        <string>{49,104}</string>
      </dict>
      <key>weapon_600101_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{105,58}}</string>
        <key>offset</key>
        <string>{-59,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>weapon_600101_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{21,117}}</string>
        <key>offset</key>
        <string>{8,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,117}}</string>
        <key>sourceSize</key>
        <string>{21,117}</string>
      </dict>
      <key>weapon_600101_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,345},{71,107}}</string>
        <key>offset</key>
        <string>{30,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,107}}</string>
        <key>sourceSize</key>
        <string>{71,107}</string>
      </dict>
      <key>weapon_600101_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,208},{90,84}}</string>
        <key>offset</key>
        <string>{-5,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,84}}</string>
        <key>sourceSize</key>
        <string>{90,84}</string>
      </dict>
      <key>weapon_600101_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{93,99}}</string>
        <key>offset</key>
        <string>{-55,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,99}}</string>
        <key>sourceSize</key>
        <string>{93,99}</string>
      </dict>
      <key>weapon_600101_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,107},{105,70}}</string>
        <key>offset</key>
        <string>{-67,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,70}}</string>
        <key>sourceSize</key>
        <string>{105,70}</string>
      </dict>
      <key>weapon_600101_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{117,42}}</string>
        <key>offset</key>
        <string>{-68,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,42}}</string>
        <key>sourceSize</key>
        <string>{117,42}</string>
      </dict>
      <key>weapon_600101_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,473},{34,107}}</string>
        <key>offset</key>
        <string>{27,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,107}}</string>
        <key>sourceSize</key>
        <string>{34,107}</string>
      </dict>
      <key>weapon_600101_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{35,122}}</string>
        <key>offset</key>
        <string>{27,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,122}}</string>
        <key>sourceSize</key>
        <string>{35,122}</string>
      </dict>
      <key>weapon_600101_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,119},{53,114}}</string>
        <key>offset</key>
        <string>{17,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,114}}</string>
        <key>sourceSize</key>
        <string>{53,114}</string>
      </dict>
      <key>weapon_600101_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,113},{108,55}}</string>
        <key>offset</key>
        <string>{-41,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,55}}</string>
        <key>sourceSize</key>
        <string>{108,55}</string>
      </dict>
      <key>weapon_600101_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,223},{107,43}}</string>
        <key>offset</key>
        <string>{-69,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,43}}</string>
        <key>sourceSize</key>
        <string>{107,43}</string>
      </dict>
      <key>weapon_600101_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,355},{63,75}}</string>
        <key>offset</key>
        <string>{-25,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,75}}</string>
        <key>sourceSize</key>
        <string>{63,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600101_1_2.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_600101_1_2.png</string>
    </dict>
  </dict>
</plist>