<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60001_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,204},{91,75}}</string>
        <key>offset</key>
        <string>{-14,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,75}}</string>
        <key>sourceSize</key>
        <string>{91,75}</string>
      </dict>
      <key>weapon_60001_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,377},{83,62}}</string>
        <key>offset</key>
        <string>{-35,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,62}}</string>
        <key>sourceSize</key>
        <string>{83,62}</string>
      </dict>
      <key>weapon_60001_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,114},{107,61}}</string>
        <key>offset</key>
        <string>{-35,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,61}}</string>
        <key>sourceSize</key>
        <string>{107,61}</string>
      </dict>
      <key>weapon_60001_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{102,77}}</string>
        <key>offset</key>
        <string>{-22,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,77}}</string>
        <key>sourceSize</key>
        <string>{102,77}</string>
      </dict>
      <key>weapon_60001_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,377},{56,81}}</string>
        <key>offset</key>
        <string>{36,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,81}}</string>
        <key>sourceSize</key>
        <string>{56,81}</string>
      </dict>
      <key>weapon_60001_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,116},{112,56}}</string>
        <key>offset</key>
        <string>{-49,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>weapon_60001_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{121,61}}</string>
        <key>offset</key>
        <string>{-84,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,61}}</string>
        <key>sourceSize</key>
        <string>{121,61}</string>
      </dict>
      <key>weapon_60001_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,50}}</string>
        <key>offset</key>
        <string>{-80,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,50}}</string>
        <key>sourceSize</key>
        <string>{122,50}</string>
      </dict>
      <key>weapon_60001_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,207},{99,64}}</string>
        <key>offset</key>
        <string>{19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,64}}</string>
        <key>sourceSize</key>
        <string>{99,64}</string>
      </dict>
      <key>weapon_60001_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,103},{99,89}}</string>
        <key>offset</key>
        <string>{-37,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,89}}</string>
        <key>sourceSize</key>
        <string>{99,89}</string>
      </dict>
      <key>weapon_60001_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,297},{78,91}}</string>
        <key>offset</key>
        <string>{-79,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,91}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>weapon_60001_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,100},{89,78}}</string>
        <key>offset</key>
        <string>{-92,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,78}}</string>
        <key>sourceSize</key>
        <string>{89,78}</string>
      </dict>
      <key>weapon_60001_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,247},{113,47}}</string>
        <key>offset</key>
        <string>{-10,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,47}}</string>
        <key>sourceSize</key>
        <string>{113,47}</string>
      </dict>
      <key>weapon_60001_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,327},{47,101}}</string>
        <key>offset</key>
        <string>{4,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,101}}</string>
        <key>sourceSize</key>
        <string>{47,101}</string>
      </dict>
      <key>weapon_60001_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,104},{101,60}}</string>
        <key>offset</key>
        <string>{-46,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,60}}</string>
        <key>sourceSize</key>
        <string>{101,60}</string>
      </dict>
      <key>weapon_60001_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,362},{54,79}}</string>
        <key>offset</key>
        <string>{-58,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,79}}</string>
        <key>sourceSize</key>
        <string>{54,79}</string>
      </dict>
      <key>weapon_60001_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,191},{86,77}}</string>
        <key>offset</key>
        <string>{-26,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,77}}</string>
        <key>sourceSize</key>
        <string>{86,77}</string>
      </dict>
      <key>weapon_60001_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,279},{77,79}}</string>
        <key>offset</key>
        <string>{3,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>weapon_60001_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{114,50}}</string>
        <key>offset</key>
        <string>{-24,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,50}}</string>
        <key>sourceSize</key>
        <string>{114,50}</string>
      </dict>
      <key>weapon_60001_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,308},{93,57}}</string>
        <key>offset</key>
        <string>{-34,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,57}}</string>
        <key>sourceSize</key>
        <string>{93,57}</string>
      </dict>
      <key>weapon_60001_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,100},{58,85}}</string>
        <key>offset</key>
        <string>{-48,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,85}}</string>
        <key>sourceSize</key>
        <string>{58,85}</string>
      </dict>
      <key>weapon_60001_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{98,40}}</string>
        <key>offset</key>
        <string>{-18,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,40}}</string>
        <key>sourceSize</key>
        <string>{98,40}</string>
      </dict>
      <key>weapon_60001_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{98,98}}</string>
        <key>offset</key>
        <string>{20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,98}}</string>
        <key>sourceSize</key>
        <string>{98,98}</string>
      </dict>
      <key>weapon_60001_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,230},{110,41}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,41}}</string>
        <key>sourceSize</key>
        <string>{110,41}</string>
      </dict>
      <key>weapon_60001_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,223},{102,68}}</string>
        <key>offset</key>
        <string>{-74,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,68}}</string>
        <key>sourceSize</key>
        <string>{102,68}</string>
      </dict>
      <key>weapon_60001_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{84,39}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,39}}</string>
        <key>sourceSize</key>
        <string>{84,39}</string>
      </dict>
      <key>weapon_60001_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{54,112}}</string>
        <key>offset</key>
        <string>{43,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,112}}</string>
        <key>sourceSize</key>
        <string>{54,112}</string>
      </dict>
      <key>weapon_60001_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,367},{83,75}}</string>
        <key>offset</key>
        <string>{63,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>weapon_60001_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{114,47}}</string>
        <key>offset</key>
        <string>{-57,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,47}}</string>
        <key>sourceSize</key>
        <string>{114,47}</string>
      </dict>
      <key>weapon_60001_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,358},{49,75}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,75}}</string>
        <key>sourceSize</key>
        <string>{49,75}</string>
      </dict>
      <key>weapon_60001_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{101,85}}</string>
        <key>offset</key>
        <string>{-28,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,85}}</string>
        <key>sourceSize</key>
        <string>{101,85}</string>
      </dict>
      <key>weapon_60001_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,204},{50,92}}</string>
        <key>offset</key>
        <string>{22,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,92}}</string>
        <key>sourceSize</key>
        <string>{50,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60001_0_4.png</string>
      <key>size</key>
      <string>{514,446}</string>
      <key>textureFileName</key>
      <string>weapon_60001_0_4.png</string>
    </dict>
  </dict>
</plist>