<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60012_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,459},{48,79}}</string>
        <key>offset</key>
        <string>{22,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,79}}</string>
        <key>sourceSize</key>
        <string>{48,79}</string>
      </dict>
      <key>weapon_60012_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,63},{90,105}}</string>
        <key>offset</key>
        <string>{26,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,105}}</string>
        <key>sourceSize</key>
        <string>{90,105}</string>
      </dict>
      <key>weapon_60012_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,459},{48,80}}</string>
        <key>offset</key>
        <string>{19,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,80}}</string>
        <key>sourceSize</key>
        <string>{48,80}</string>
      </dict>
      <key>weapon_60012_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,356},{91,67}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,67}}</string>
        <key>sourceSize</key>
        <string>{91,67}</string>
      </dict>
      <key>weapon_60012_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,155},{103,71}}</string>
        <key>offset</key>
        <string>{14,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,71}}</string>
        <key>sourceSize</key>
        <string>{103,71}</string>
      </dict>
      <key>weapon_60012_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,228},{91,69}}</string>
        <key>offset</key>
        <string>{22,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,69}}</string>
        <key>sourceSize</key>
        <string>{91,69}</string>
      </dict>
      <key>weapon_60012_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{119,61}}</string>
        <key>offset</key>
        <string>{-13,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,61}}</string>
        <key>sourceSize</key>
        <string>{119,61}</string>
      </dict>
      <key>weapon_60012_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,155},{66,52}}</string>
        <key>offset</key>
        <string>{3,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,52}}</string>
        <key>sourceSize</key>
        <string>{66,52}</string>
      </dict>
      <key>weapon_60012_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{120,60}}</string>
        <key>offset</key>
        <string>{4,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>weapon_60012_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,218},{89,95}}</string>
        <key>offset</key>
        <string>{-19,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,95}}</string>
        <key>sourceSize</key>
        <string>{89,95}</string>
      </dict>
      <key>weapon_60012_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,459},{48,54}}</string>
        <key>offset</key>
        <string>{-22,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,54}}</string>
        <key>sourceSize</key>
        <string>{48,54}</string>
      </dict>
      <key>weapon_60012_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{87,94}}</string>
        <key>offset</key>
        <string>{-7,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,94}}</string>
        <key>sourceSize</key>
        <string>{87,94}</string>
      </dict>
      <key>weapon_60012_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,118},{47,104}}</string>
        <key>offset</key>
        <string>{-22,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,104}}</string>
        <key>sourceSize</key>
        <string>{47,104}</string>
      </dict>
      <key>weapon_60012_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,299},{89,65}}</string>
        <key>offset</key>
        <string>{-67,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,65}}</string>
        <key>sourceSize</key>
        <string>{89,65}</string>
      </dict>
      <key>weapon_60012_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,167},{49,102}}</string>
        <key>offset</key>
        <string>{-21,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,102}}</string>
        <key>sourceSize</key>
        <string>{49,102}</string>
      </dict>
      <key>weapon_60012_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,299},{91,91}}</string>
        <key>offset</key>
        <string>{-51,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>weapon_60012_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{102,94}}</string>
        <key>offset</key>
        <string>{-66,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,94}}</string>
        <key>sourceSize</key>
        <string>{102,94}</string>
      </dict>
      <key>weapon_60012_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{94,91}}</string>
        <key>offset</key>
        <string>{-67,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,91}}</string>
        <key>sourceSize</key>
        <string>{94,91}</string>
      </dict>
      <key>weapon_60012_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,50},{118,52}}</string>
        <key>offset</key>
        <string>{-59,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,52}}</string>
        <key>sourceSize</key>
        <string>{118,52}</string>
      </dict>
      <key>weapon_60012_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{65,113}}</string>
        <key>offset</key>
        <string>{-19,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,113}}</string>
        <key>sourceSize</key>
        <string>{65,113}</string>
      </dict>
      <key>weapon_60012_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,62},{118,54}}</string>
        <key>offset</key>
        <string>{-71,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,54}}</string>
        <key>sourceSize</key>
        <string>{118,54}</string>
      </dict>
      <key>weapon_60012_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,390},{85,67}}</string>
        <key>offset</key>
        <string>{-14,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,67}}</string>
        <key>sourceSize</key>
        <string>{85,67}</string>
      </dict>
      <key>weapon_60012_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,129}}</string>
        <key>offset</key>
        <string>{23,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,129}}</string>
        <key>sourceSize</key>
        <string>{48,129}</string>
      </dict>
      <key>weapon_60012_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,228},{86,68}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,68}}</string>
        <key>sourceSize</key>
        <string>{86,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60012_1_7.png</string>
      <key>size</key>
      <string>{384,512}</string>
      <key>textureFileName</key>
      <string>weapon_60012_1_7.png</string>
    </dict>
  </dict>
</plist>