<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600101_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,135},{36,33}}</string>
        <key>offset</key>
        <string>{26,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,33}}</string>
        <key>sourceSize</key>
        <string>{36,33}</string>
      </dict>
      <key>weapon_600101_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,93},{40,34}}</string>
        <key>offset</key>
        <string>{24,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,34}}</string>
        <key>sourceSize</key>
        <string>{40,34}</string>
      </dict>
      <key>weapon_600101_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,302},{48,80}}</string>
        <key>offset</key>
        <string>{9,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,80}}</string>
        <key>sourceSize</key>
        <string>{48,80}</string>
      </dict>
      <key>weapon_600101_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,233},{108,67}}</string>
        <key>offset</key>
        <string>{-35,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,67}}</string>
        <key>sourceSize</key>
        <string>{108,67}</string>
      </dict>
      <key>weapon_600101_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,302},{60,41}}</string>
        <key>offset</key>
        <string>{15,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,41}}</string>
        <key>sourceSize</key>
        <string>{60,41}</string>
      </dict>
      <key>weapon_600101_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,302},{52,43}}</string>
        <key>offset</key>
        <string>{24,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,43}}</string>
        <key>sourceSize</key>
        <string>{52,43}</string>
      </dict>
      <key>weapon_600101_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,181},{64,81}}</string>
        <key>offset</key>
        <string>{34,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,81}}</string>
        <key>sourceSize</key>
        <string>{64,81}</string>
      </dict>
      <key>weapon_600101_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,104},{52,100}}</string>
        <key>offset</key>
        <string>{41,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,100}}</string>
        <key>sourceSize</key>
        <string>{52,100}</string>
      </dict>
      <key>weapon_600101_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{102,48}}</string>
        <key>offset</key>
        <string>{-21,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,48}}</string>
        <key>sourceSize</key>
        <string>{102,48}</string>
      </dict>
      <key>weapon_600101_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,100},{93,52}}</string>
        <key>offset</key>
        <string>{-8,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,52}}</string>
        <key>sourceSize</key>
        <string>{93,52}</string>
      </dict>
      <key>weapon_600101_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,119},{112,48}}</string>
        <key>offset</key>
        <string>{13,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,48}}</string>
        <key>sourceSize</key>
        <string>{112,48}</string>
      </dict>
      <key>weapon_600101_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,0},{65,91}}</string>
        <key>offset</key>
        <string>{66,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,91}}</string>
        <key>sourceSize</key>
        <string>{65,91}</string>
      </dict>
      <key>weapon_600101_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{91,89}}</string>
        <key>offset</key>
        <string>{-32,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,89}}</string>
        <key>sourceSize</key>
        <string>{91,89}</string>
      </dict>
      <key>weapon_600101_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,91},{88,90}}</string>
        <key>offset</key>
        <string>{-24,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,90}}</string>
        <key>sourceSize</key>
        <string>{88,90}</string>
      </dict>
      <key>weapon_600101_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{109,56}}</string>
        <key>offset</key>
        <string>{-5,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,56}}</string>
        <key>sourceSize</key>
        <string>{109,56}</string>
      </dict>
      <key>weapon_600101_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{118,54}}</string>
        <key>offset</key>
        <string>{18,-10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,54}}</string>
        <key>sourceSize</key>
        <string>{118,54}</string>
      </dict>
      <key>weapon_600101_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{41,116}}</string>
        <key>offset</key>
        <string>{-14,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,116}}</string>
        <key>sourceSize</key>
        <string>{41,116}</string>
      </dict>
      <key>weapon_600101_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{45,117}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,117}}</string>
        <key>sourceSize</key>
        <string>{45,117}</string>
      </dict>
      <key>weapon_600101_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,92},{49,87}}</string>
        <key>offset</key>
        <string>{-9,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,87}}</string>
        <key>sourceSize</key>
        <string>{49,87}</string>
      </dict>
      <key>weapon_600101_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,111},{105,41}}</string>
        <key>offset</key>
        <string>{-24,-41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,41}}</string>
        <key>sourceSize</key>
        <string>{105,41}</string>
      </dict>
      <key>weapon_600101_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,325},{57,102}}</string>
        <key>offset</key>
        <string>{-22,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,102}}</string>
        <key>sourceSize</key>
        <string>{57,102}</string>
      </dict>
      <key>weapon_600101_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,218},{50,105}}</string>
        <key>offset</key>
        <string>{-25,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,105}}</string>
        <key>sourceSize</key>
        <string>{50,105}</string>
      </dict>
      <key>weapon_600101_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,195},{59,77}}</string>
        <key>offset</key>
        <string>{-47,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,77}}</string>
        <key>sourceSize</key>
        <string>{59,77}</string>
      </dict>
      <key>weapon_600101_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,181},{50,72}}</string>
        <key>offset</key>
        <string>{-45,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,72}}</string>
        <key>sourceSize</key>
        <string>{50,72}</string>
      </dict>
      <key>weapon_600101_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{98,66}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,66}}</string>
        <key>sourceSize</key>
        <string>{98,66}</string>
      </dict>
      <key>weapon_600101_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,206},{94,76}}</string>
        <key>offset</key>
        <string>{-37,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>weapon_600101_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,242},{116,34}}</string>
        <key>offset</key>
        <string>{-79,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,34}}</string>
        <key>sourceSize</key>
        <string>{116,34}</string>
      </dict>
      <key>weapon_600101_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,233},{67,68}}</string>
        <key>offset</key>
        <string>{-85,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>weapon_600101_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{89,35}}</string>
        <key>offset</key>
        <string>{-12,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,35}}</string>
        <key>sourceSize</key>
        <string>{89,35}</string>
      </dict>
      <key>weapon_600101_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{90,39}}</string>
        <key>offset</key>
        <string>{-18,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,39}}</string>
        <key>sourceSize</key>
        <string>{90,39}</string>
      </dict>
      <key>weapon_600101_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,111},{103,41}}</string>
        <key>offset</key>
        <string>{-51,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,41}}</string>
        <key>sourceSize</key>
        <string>{103,41}</string>
      </dict>
      <key>weapon_600101_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,48}}</string>
        <key>offset</key>
        <string>{-90,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,48}}</string>
        <key>sourceSize</key>
        <string>{120,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600101_1_4.png</string>
      <key>size</key>
      <string>{512,384}</string>
      <key>textureFileName</key>
      <string>weapon_600101_1_4.png</string>
    </dict>
  </dict>
</plist>