<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60009_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{106,47}}</string>
        <key>offset</key>
        <string>{20,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,47}}</string>
        <key>sourceSize</key>
        <string>{106,47}</string>
      </dict>
      <key>weapon_60009_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{96,65}}</string>
        <key>offset</key>
        <string>{22,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,65}}</string>
        <key>sourceSize</key>
        <string>{96,65}</string>
      </dict>
      <key>weapon_60009_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,93},{81,79}}</string>
        <key>offset</key>
        <string>{27,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,79}}</string>
        <key>sourceSize</key>
        <string>{81,79}</string>
      </dict>
      <key>weapon_60009_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,194},{88,25}}</string>
        <key>offset</key>
        <string>{11,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,25}}</string>
        <key>sourceSize</key>
        <string>{88,25}</string>
      </dict>
      <key>weapon_60009_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{105,24}}</string>
        <key>offset</key>
        <string>{14,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,24}}</string>
        <key>sourceSize</key>
        <string>{105,24}</string>
      </dict>
      <key>weapon_60009_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,34}}</string>
        <key>offset</key>
        <string>{19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,34}}</string>
        <key>sourceSize</key>
        <string>{109,34}</string>
      </dict>
      <key>weapon_60009_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{21,48}}</string>
        <key>offset</key>
        <string>{9,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,48}}</string>
        <key>sourceSize</key>
        <string>{21,48}</string>
      </dict>
      <key>weapon_60009_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,207},{53,45}}</string>
        <key>offset</key>
        <string>{12,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,45}}</string>
        <key>sourceSize</key>
        <string>{53,45}</string>
      </dict>
      <key>weapon_60009_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{73,37}}</string>
        <key>offset</key>
        <string>{15,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,37}}</string>
        <key>sourceSize</key>
        <string>{73,37}</string>
      </dict>
      <key>weapon_60009_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,166},{62,39}}</string>
        <key>offset</key>
        <string>{-44,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,39}}</string>
        <key>sourceSize</key>
        <string>{62,39}</string>
      </dict>
      <key>weapon_60009_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,166},{31,50}}</string>
        <key>offset</key>
        <string>{-13,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,50}}</string>
        <key>sourceSize</key>
        <string>{31,50}</string>
      </dict>
      <key>weapon_60009_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,176},{14,52}}</string>
        <key>offset</key>
        <string>{7,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,52}}</string>
        <key>sourceSize</key>
        <string>{14,52}</string>
      </dict>
      <key>weapon_60009_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,108},{106,33}}</string>
        <key>offset</key>
        <string>{-76,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,33}}</string>
        <key>sourceSize</key>
        <string>{106,33}</string>
      </dict>
      <key>weapon_60009_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,98},{96,28}}</string>
        <key>offset</key>
        <string>{-68,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,28}}</string>
        <key>sourceSize</key>
        <string>{96,28}</string>
      </dict>
      <key>weapon_60009_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,221},{81,33}}</string>
        <key>offset</key>
        <string>{-58,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,33}}</string>
        <key>sourceSize</key>
        <string>{81,33}</string>
      </dict>
      <key>weapon_60009_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{88,75}}</string>
        <key>offset</key>
        <string>{-49,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,75}}</string>
        <key>sourceSize</key>
        <string>{88,75}</string>
      </dict>
      <key>weapon_60009_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,108},{105,53}}</string>
        <key>offset</key>
        <string>{-69,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,53}}</string>
        <key>sourceSize</key>
        <string>{105,53}</string>
      </dict>
      <key>weapon_60009_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{109,40}}</string>
        <key>offset</key>
        <string>{-78,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,40}}</string>
        <key>sourceSize</key>
        <string>{109,40}</string>
      </dict>
      <key>weapon_60009_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{21,104}}</string>
        <key>offset</key>
        <string>{20,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,104}}</string>
        <key>sourceSize</key>
        <string>{21,104}</string>
      </dict>
      <key>weapon_60009_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,98},{53,94}}</string>
        <key>offset</key>
        <string>{-15,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,94}}</string>
        <key>sourceSize</key>
        <string>{53,94}</string>
      </dict>
      <key>weapon_60009_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,90},{74,84}}</string>
        <key>offset</key>
        <string>{-38,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,84}}</string>
        <key>sourceSize</key>
        <string>{74,84}</string>
      </dict>
      <key>weapon_60009_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{62,91}}</string>
        <key>offset</key>
        <string>{32,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,91}}</string>
        <key>sourceSize</key>
        <string>{62,91}</string>
      </dict>
      <key>weapon_60009_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,215},{32,99}}</string>
        <key>offset</key>
        <string>{31,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,99}}</string>
        <key>sourceSize</key>
        <string>{32,99}</string>
      </dict>
      <key>weapon_60009_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{14,102}}</string>
        <key>offset</key>
        <string>{29,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,102}}</string>
        <key>sourceSize</key>
        <string>{14,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60009_1_7.png</string>
      <key>size</key>
      <string>{399,257}</string>
      <key>textureFileName</key>
      <string>weapon_60009_1_7.png</string>
    </dict>
  </dict>
</plist>