<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60009_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,37}}</string>
        <key>offset</key>
        <string>{23,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,37}}</string>
        <key>sourceSize</key>
        <string>{107,37}</string>
      </dict>
      <key>weapon_60009_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{103,54}}</string>
        <key>offset</key>
        <string>{24,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,54}}</string>
        <key>sourceSize</key>
        <string>{103,54}</string>
      </dict>
      <key>weapon_60009_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,96},{93,69}}</string>
        <key>offset</key>
        <string>{26,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,69}}</string>
        <key>sourceSize</key>
        <string>{93,69}</string>
      </dict>
      <key>weapon_60009_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,87},{74,30}}</string>
        <key>offset</key>
        <string>{14,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,30}}</string>
        <key>sourceSize</key>
        <string>{74,30}</string>
      </dict>
      <key>weapon_60009_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{96,25}}</string>
        <key>offset</key>
        <string>{16,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,25}}</string>
        <key>sourceSize</key>
        <string>{96,25}</string>
      </dict>
      <key>weapon_60009_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,0},{106,26}}</string>
        <key>offset</key>
        <string>{18,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,26}}</string>
        <key>sourceSize</key>
        <string>{106,26}</string>
      </dict>
      <key>weapon_60009_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,224},{14,48}}</string>
        <key>offset</key>
        <string>{3,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,48}}</string>
        <key>sourceSize</key>
        <string>{14,48}</string>
      </dict>
      <key>weapon_60009_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,215},{35,48}}</string>
        <key>offset</key>
        <string>{12,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,48}}</string>
        <key>sourceSize</key>
        <string>{35,48}</string>
      </dict>
      <key>weapon_60009_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,191},{57,43}}</string>
        <key>offset</key>
        <string>{15,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,43}}</string>
        <key>sourceSize</key>
        <string>{57,43}</string>
      </dict>
      <key>weapon_60009_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,173},{77,33}}</string>
        <key>offset</key>
        <string>{-61,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,33}}</string>
        <key>sourceSize</key>
        <string>{77,33}</string>
      </dict>
      <key>weapon_60009_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,173},{49,45}}</string>
        <key>offset</key>
        <string>{-32,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,45}}</string>
        <key>sourceSize</key>
        <string>{49,45}</string>
      </dict>
      <key>weapon_60009_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,163},{27,50}}</string>
        <key>offset</key>
        <string>{-9,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,50}}</string>
        <key>sourceSize</key>
        <string>{27,50}</string>
      </dict>
      <key>weapon_60009_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{107,43}}</string>
        <key>offset</key>
        <string>{-80,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,43}}</string>
        <key>sourceSize</key>
        <string>{107,43}</string>
      </dict>
      <key>weapon_60009_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{103,27}}</string>
        <key>offset</key>
        <string>{-77,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,27}}</string>
        <key>sourceSize</key>
        <string>{103,27}</string>
      </dict>
      <key>weapon_60009_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{93,27}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,27}}</string>
        <key>sourceSize</key>
        <string>{93,27}</string>
      </dict>
      <key>weapon_60009_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{74,85}}</string>
        <key>offset</key>
        <string>{-38,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,85}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>weapon_60009_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,105},{97,65}}</string>
        <key>offset</key>
        <string>{-62,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,65}}</string>
        <key>sourceSize</key>
        <string>{97,65}</string>
      </dict>
      <key>weapon_60009_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,108},{105,51}}</string>
        <key>offset</key>
        <string>{-74,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,51}}</string>
        <key>sourceSize</key>
        <string>{105,51}</string>
      </dict>
      <key>weapon_60009_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{14,105}}</string>
        <key>offset</key>
        <string>{33,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,105}}</string>
        <key>sourceSize</key>
        <string>{14,105}</string>
      </dict>
      <key>weapon_60009_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,207},{35,98}}</string>
        <key>offset</key>
        <string>{3,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,98}}</string>
        <key>sourceSize</key>
        <string>{35,98}</string>
      </dict>
      <key>weapon_60009_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{57,92}}</string>
        <key>offset</key>
        <string>{-22,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,92}}</string>
        <key>sourceSize</key>
        <string>{57,92}</string>
      </dict>
      <key>weapon_60009_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,94},{77,83}}</string>
        <key>offset</key>
        <string>{34,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,83}}</string>
        <key>sourceSize</key>
        <string>{77,83}</string>
      </dict>
      <key>weapon_60009_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{50,94}}</string>
        <key>offset</key>
        <string>{32,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,94}}</string>
        <key>sourceSize</key>
        <string>{50,94}</string>
      </dict>
      <key>weapon_60009_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,105},{27,100}}</string>
        <key>offset</key>
        <string>{32,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,100}}</string>
        <key>sourceSize</key>
        <string>{27,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60009_0_7.png</string>
      <key>size</key>
      <string>{385,278}</string>
      <key>textureFileName</key>
      <string>weapon_60009_0_7.png</string>
    </dict>
  </dict>
</plist>