<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60007_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,37},{104,49}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,49}}</string>
        <key>sourceSize</key>
        <string>{104,49}</string>
      </dict>
      <key>weapon_60007_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{97,67}}</string>
        <key>offset</key>
        <string>{-2,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,67}}</string>
        <key>sourceSize</key>
        <string>{97,67}</string>
      </dict>
      <key>weapon_60007_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,330},{84,81}}</string>
        <key>offset</key>
        <string>{5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,81}}</string>
        <key>sourceSize</key>
        <string>{84,81}</string>
      </dict>
      <key>weapon_60007_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,207},{82,24}}</string>
        <key>offset</key>
        <string>{-11,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,24}}</string>
        <key>sourceSize</key>
        <string>{82,24}</string>
      </dict>
      <key>weapon_60007_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{101,23}}</string>
        <key>offset</key>
        <string>{-13,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,23}}</string>
        <key>sourceSize</key>
        <string>{101,23}</string>
      </dict>
      <key>weapon_60007_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{107,35}}</string>
        <key>offset</key>
        <string>{-11,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,35}}</string>
        <key>sourceSize</key>
        <string>{107,35}</string>
      </dict>
      <key>weapon_60007_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,404},{17,43}}</string>
        <key>offset</key>
        <string>{2,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,43}}</string>
        <key>sourceSize</key>
        <string>{17,43}</string>
      </dict>
      <key>weapon_60007_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,356},{46,42}}</string>
        <key>offset</key>
        <string>{-3,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,42}}</string>
        <key>sourceSize</key>
        <string>{46,42}</string>
      </dict>
      <key>weapon_60007_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,293},{67,34}}</string>
        <key>offset</key>
        <string>{-6,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,34}}</string>
        <key>sourceSize</key>
        <string>{67,34}</string>
      </dict>
      <key>weapon_60007_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,356},{66,34}}</string>
        <key>offset</key>
        <string>{-35,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,34}}</string>
        <key>sourceSize</key>
        <string>{66,34}</string>
      </dict>
      <key>weapon_60007_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,356},{39,45}}</string>
        <key>offset</key>
        <string>{-14,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,45}}</string>
        <key>sourceSize</key>
        <string>{39,45}</string>
      </dict>
      <key>weapon_60007_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{16,48}}</string>
        <key>offset</key>
        <string>{3,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,48}}</string>
        <key>sourceSize</key>
        <string>{16,48}</string>
      </dict>
      <key>weapon_60007_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{104,45}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,45}}</string>
        <key>sourceSize</key>
        <string>{104,45}</string>
      </dict>
      <key>weapon_60007_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,108},{97,30}}</string>
        <key>offset</key>
        <string>{-45,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,30}}</string>
        <key>sourceSize</key>
        <string>{97,30}</string>
      </dict>
      <key>weapon_60007_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,207},{84,31}}</string>
        <key>offset</key>
        <string>{-39,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,31}}</string>
        <key>sourceSize</key>
        <string>{84,31}</string>
      </dict>
      <key>weapon_60007_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,266},{82,88}}</string>
        <key>offset</key>
        <string>{-21,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,88}}</string>
        <key>sourceSize</key>
        <string>{82,88}</string>
      </dict>
      <key>weapon_60007_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,129},{100,66}}</string>
        <key>offset</key>
        <string>{-37,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,66}}</string>
        <key>sourceSize</key>
        <string>{100,66}</string>
      </dict>
      <key>weapon_60007_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,19},{106,52}}</string>
        <key>offset</key>
        <string>{-45,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,52}}</string>
        <key>sourceSize</key>
        <string>{106,52}</string>
      </dict>
      <key>weapon_60007_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{17,109}}</string>
        <key>offset</key>
        <string>{31,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,109}}</string>
        <key>sourceSize</key>
        <string>{17,109}</string>
      </dict>
      <key>weapon_60007_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{46,100}}</string>
        <key>offset</key>
        <string>{7,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,100}}</string>
        <key>sourceSize</key>
        <string>{46,100}</string>
      </dict>
      <key>weapon_60007_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,197},{67,93}}</string>
        <key>offset</key>
        <string>{-11,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,93}}</string>
        <key>sourceSize</key>
        <string>{67,93}</string>
      </dict>
      <key>weapon_60007_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{66,92}}</string>
        <key>offset</key>
        <string>{19,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,92}}</string>
        <key>sourceSize</key>
        <string>{66,92}</string>
      </dict>
      <key>weapon_60007_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,88},{39,102}}</string>
        <key>offset</key>
        <string>{25,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,102}}</string>
        <key>sourceSize</key>
        <string>{39,102}</string>
      </dict>
      <key>weapon_60007_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{17,106}}</string>
        <key>offset</key>
        <string>{31,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,106}}</string>
        <key>sourceSize</key>
        <string>{17,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60007_0_7.png</string>
      <key>size</key>
      <string>{257,424}</string>
      <key>textureFileName</key>
      <string>weapon_60007_0_7.png</string>
    </dict>
  </dict>
</plist>