<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60009_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,292},{33,64}}</string>
        <key>offset</key>
        <string>{31,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,64}}</string>
        <key>sourceSize</key>
        <string>{33,64}</string>
      </dict>
      <key>weapon_60009_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,204},{23,84}}</string>
        <key>offset</key>
        <string>{33,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,84}}</string>
        <key>sourceSize</key>
        <string>{23,84}</string>
      </dict>
      <key>weapon_60009_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,301},{15,93}}</string>
        <key>offset</key>
        <string>{31,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,93}}</string>
        <key>sourceSize</key>
        <string>{15,93}</string>
      </dict>
      <key>weapon_60009_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{14,101}}</string>
        <key>offset</key>
        <string>{29,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,101}}</string>
        <key>sourceSize</key>
        <string>{14,101}</string>
      </dict>
      <key>weapon_60009_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,188},{14,85}}</string>
        <key>offset</key>
        <string>{32,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,85}}</string>
        <key>sourceSize</key>
        <string>{14,85}</string>
      </dict>
      <key>weapon_60009_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,149},{31,69}}</string>
        <key>offset</key>
        <string>{31,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,69}}</string>
        <key>sourceSize</key>
        <string>{31,69}</string>
      </dict>
      <key>weapon_60009_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{101,38}}</string>
        <key>offset</key>
        <string>{10,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,38}}</string>
        <key>sourceSize</key>
        <string>{101,38}</string>
      </dict>
      <key>weapon_60009_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{95,56}}</string>
        <key>offset</key>
        <string>{14,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,56}}</string>
        <key>sourceSize</key>
        <string>{95,56}</string>
      </dict>
      <key>weapon_60009_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,89},{83,71}}</string>
        <key>offset</key>
        <string>{21,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,71}}</string>
        <key>sourceSize</key>
        <string>{83,71}</string>
      </dict>
      <key>weapon_60009_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{76,82}}</string>
        <key>offset</key>
        <string>{25,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,82}}</string>
        <key>sourceSize</key>
        <string>{76,82}</string>
      </dict>
      <key>weapon_60009_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,318},{89,61}}</string>
        <key>offset</key>
        <string>{17,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,61}}</string>
        <key>sourceSize</key>
        <string>{89,61}</string>
      </dict>
      <key>weapon_60009_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,327},{100,41}}</string>
        <key>offset</key>
        <string>{12,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,41}}</string>
        <key>sourceSize</key>
        <string>{100,41}</string>
      </dict>
      <key>weapon_60009_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{110,44}}</string>
        <key>offset</key>
        <string>{-3,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,44}}</string>
        <key>sourceSize</key>
        <string>{110,44}</string>
      </dict>
      <key>weapon_60009_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{114,28}}</string>
        <key>offset</key>
        <string>{0,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,28}}</string>
        <key>sourceSize</key>
        <string>{114,28}</string>
      </dict>
      <key>weapon_60009_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,0},{113,30}}</string>
        <key>offset</key>
        <string>{7,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,30}}</string>
        <key>sourceSize</key>
        <string>{113,30}</string>
      </dict>
      <key>weapon_60009_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,228},{110,39}}</string>
        <key>offset</key>
        <string>{12,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,39}}</string>
        <key>sourceSize</key>
        <string>{110,39}</string>
      </dict>
      <key>weapon_60009_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,27}}</string>
        <key>offset</key>
        <string>{5,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,27}}</string>
        <key>sourceSize</key>
        <string>{115,27}</string>
      </dict>
      <key>weapon_60009_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,233},{112,39}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,39}}</string>
        <key>sourceSize</key>
        <string>{112,39}</string>
      </dict>
      <key>weapon_60009_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,204},{56,81}}</string>
        <key>offset</key>
        <string>{0,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,81}}</string>
        <key>sourceSize</key>
        <string>{56,81}</string>
      </dict>
      <key>weapon_60009_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,229},{66,61}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,61}}</string>
        <key>sourceSize</key>
        <string>{66,61}</string>
      </dict>
      <key>weapon_60009_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,84},{77,48}}</string>
        <key>offset</key>
        <string>{4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,48}}</string>
        <key>sourceSize</key>
        <string>{77,48}</string>
      </dict>
      <key>weapon_60009_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,84},{79,36}}</string>
        <key>offset</key>
        <string>{7,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,36}}</string>
        <key>sourceSize</key>
        <string>{79,36}</string>
      </dict>
      <key>weapon_60009_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,79},{74,57}}</string>
        <key>offset</key>
        <string>{4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,57}}</string>
        <key>sourceSize</key>
        <string>{74,57}</string>
      </dict>
      <key>weapon_60009_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{58,77}}</string>
        <key>offset</key>
        <string>{2,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,77}}</string>
        <key>sourceSize</key>
        <string>{58,77}</string>
      </dict>
      <key>weapon_60009_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{33,87}}</string>
        <key>offset</key>
        <string>{-14,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,87}}</string>
        <key>sourceSize</key>
        <string>{33,87}</string>
      </dict>
      <key>weapon_60009_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,76},{23,71}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,71}}</string>
        <key>sourceSize</key>
        <string>{23,71}</string>
      </dict>
      <key>weapon_60009_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,76},{15,62}}</string>
        <key>offset</key>
        <string>{4,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,62}}</string>
        <key>sourceSize</key>
        <string>{15,62}</string>
      </dict>
      <key>weapon_60009_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,278},{14,52}}</string>
        <key>offset</key>
        <string>{7,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,52}}</string>
        <key>sourceSize</key>
        <string>{14,52}</string>
      </dict>
      <key>weapon_60009_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{14,72}}</string>
        <key>offset</key>
        <string>{4,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,72}}</string>
        <key>sourceSize</key>
        <string>{14,72}</string>
      </dict>
      <key>weapon_60009_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{30,83}}</string>
        <key>offset</key>
        <string>{-11,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,83}}</string>
        <key>sourceSize</key>
        <string>{30,83}</string>
      </dict>
      <key>weapon_60009_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,224},{101,51}}</string>
        <key>offset</key>
        <string>{-61,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,51}}</string>
        <key>sourceSize</key>
        <string>{101,51}</string>
      </dict>
      <key>weapon_60009_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,204},{95,42}}</string>
        <key>offset</key>
        <string>{-59,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,42}}</string>
        <key>sourceSize</key>
        <string>{95,42}</string>
      </dict>
      <key>weapon_60009_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,204},{84,41}}</string>
        <key>offset</key>
        <string>{-54,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,41}}</string>
        <key>sourceSize</key>
        <string>{84,41}</string>
      </dict>
      <key>weapon_60009_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,245},{76,34}}</string>
        <key>offset</key>
        <string>{-51,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,34}}</string>
        <key>sourceSize</key>
        <string>{76,34}</string>
      </dict>
      <key>weapon_60009_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,97},{89,47}}</string>
        <key>offset</key>
        <string>{-56,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,47}}</string>
        <key>sourceSize</key>
        <string>{89,47}</string>
      </dict>
      <key>weapon_60009_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,103},{99,50}}</string>
        <key>offset</key>
        <string>{-61,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,50}}</string>
        <key>sourceSize</key>
        <string>{99,50}</string>
      </dict>
      <key>weapon_60009_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,112},{110,21}}</string>
        <key>offset</key>
        <string>{-57,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,21}}</string>
        <key>sourceSize</key>
        <string>{110,21}</string>
      </dict>
      <key>weapon_60009_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,117},{114,28}}</string>
        <key>offset</key>
        <string>{-64,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,28}}</string>
        <key>sourceSize</key>
        <string>{114,28}</string>
      </dict>
      <key>weapon_60009_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{113,28}}</string>
        <key>offset</key>
        <string>{-70,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,28}}</string>
        <key>sourceSize</key>
        <string>{113,28}</string>
      </dict>
      <key>weapon_60009_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,112},{110,34}}</string>
        <key>offset</key>
        <string>{-72,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,34}}</string>
        <key>sourceSize</key>
        <string>{110,34}</string>
      </dict>
      <key>weapon_60009_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{115,25}}</string>
        <key>offset</key>
        <string>{-70,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,25}}</string>
        <key>sourceSize</key>
        <string>{115,25}</string>
      </dict>
      <key>weapon_60009_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,115},{111,22}}</string>
        <key>offset</key>
        <string>{-61,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,22}}</string>
        <key>sourceSize</key>
        <string>{111,22}</string>
      </dict>
      <key>weapon_60009_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,220},{56,57}}</string>
        <key>offset</key>
        <string>{-6,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>weapon_60009_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,155},{66,72}}</string>
        <key>offset</key>
        <string>{-17,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>weapon_60009_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,165},{78,73}}</string>
        <key>offset</key>
        <string>{-31,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,73}}</string>
        <key>sourceSize</key>
        <string>{78,73}</string>
      </dict>
      <key>weapon_60009_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,287},{79,80}}</string>
        <key>offset</key>
        <string>{-36,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>weapon_60009_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{74,68}}</string>
        <key>offset</key>
        <string>{-28,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,68}}</string>
        <key>sourceSize</key>
        <string>{74,68}</string>
      </dict>
      <key>weapon_60009_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,292},{59,60}}</string>
        <key>offset</key>
        <string>{-11,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,60}}</string>
        <key>sourceSize</key>
        <string>{59,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60009_0_1.png</string>
      <key>size</key>
      <string>{540,385}</string>
      <key>textureFileName</key>
      <string>weapon_60009_0_1.png</string>
    </dict>
  </dict>
</plist>