<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60002_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,435},{74,99}}</string>
        <key>offset</key>
        <string>{20,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,99}}</string>
        <key>sourceSize</key>
        <string>{74,99}</string>
      </dict>
      <key>weapon_60002_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,115},{106,63}}</string>
        <key>offset</key>
        <string>{-43,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,63}}</string>
        <key>sourceSize</key>
        <string>{106,63}</string>
      </dict>
      <key>weapon_60002_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,115},{61,109}}</string>
        <key>offset</key>
        <string>{1,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,109}}</string>
        <key>sourceSize</key>
        <string>{61,109}</string>
      </dict>
      <key>weapon_60002_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,205},{98,60}}</string>
        <key>offset</key>
        <string>{4,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,60}}</string>
        <key>sourceSize</key>
        <string>{98,60}</string>
      </dict>
      <key>weapon_60002_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,376},{55,47}}</string>
        <key>offset</key>
        <string>{-13,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,47}}</string>
        <key>sourceSize</key>
        <string>{55,47}</string>
      </dict>
      <key>weapon_60002_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,172},{29,74}}</string>
        <key>offset</key>
        <string>{22,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,74}}</string>
        <key>sourceSize</key>
        <string>{29,74}</string>
      </dict>
      <key>weapon_60002_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,203},{59,72}}</string>
        <key>offset</key>
        <string>{23,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,72}}</string>
        <key>sourceSize</key>
        <string>{59,72}</string>
      </dict>
      <key>weapon_60002_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{92,41}}</string>
        <key>offset</key>
        <string>{-60,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,41}}</string>
        <key>sourceSize</key>
        <string>{92,41}</string>
      </dict>
      <key>weapon_60002_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,0},{102,74}}</string>
        <key>offset</key>
        <string>{-28,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{102,74}</string>
      </dict>
      <key>weapon_60002_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,385},{44,42}}</string>
        <key>offset</key>
        <string>{38,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,42}}</string>
        <key>sourceSize</key>
        <string>{44,42}</string>
      </dict>
      <key>weapon_60002_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,312},{62,62}}</string>
        <key>offset</key>
        <string>{21,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>weapon_60002_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,312},{62,50}}</string>
        <key>offset</key>
        <string>{19,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,50}}</string>
        <key>sourceSize</key>
        <string>{62,50}</string>
      </dict>
      <key>weapon_60002_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,376},{42,62}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,62}}</string>
        <key>sourceSize</key>
        <string>{42,62}</string>
      </dict>
      <key>weapon_60002_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{84,88}}</string>
        <key>offset</key>
        <string>{-62,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>weapon_60002_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,45}}</string>
        <key>offset</key>
        <string>{-49,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,45}}</string>
        <key>sourceSize</key>
        <string>{121,45}</string>
      </dict>
      <key>weapon_60002_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,90},{78,41}}</string>
        <key>offset</key>
        <string>{11,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,41}}</string>
        <key>sourceSize</key>
        <string>{78,41}</string>
      </dict>
      <key>weapon_60002_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{111,34}}</string>
        <key>offset</key>
        <string>{8,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,34}}</string>
        <key>sourceSize</key>
        <string>{111,34}</string>
      </dict>
      <key>weapon_60002_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,362},{111,53}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,53}}</string>
        <key>sourceSize</key>
        <string>{111,53}</string>
      </dict>
      <key>weapon_60002_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,264},{46,68}}</string>
        <key>offset</key>
        <string>{-21,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,68}}</string>
        <key>sourceSize</key>
        <string>{46,68}</string>
      </dict>
      <key>weapon_60002_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,119},{56,114}}</string>
        <key>offset</key>
        <string>{-21,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,114}}</string>
        <key>sourceSize</key>
        <string>{56,114}</string>
      </dict>
      <key>weapon_60002_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,305},{76,91}}</string>
        <key>offset</key>
        <string>{-33,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>weapon_60002_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{106,68}}</string>
        <key>offset</key>
        <string>{-30,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,68}}</string>
        <key>sourceSize</key>
        <string>{106,68}</string>
      </dict>
      <key>weapon_60002_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,215},{99,73}}</string>
        <key>offset</key>
        <string>{8,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,73}}</string>
        <key>sourceSize</key>
        <string>{99,73}</string>
      </dict>
      <key>weapon_60002_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,104},{96,93}}</string>
        <key>offset</key>
        <string>{-14,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,93}}</string>
        <key>sourceSize</key>
        <string>{96,93}</string>
      </dict>
      <key>weapon_60002_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,348},{75,109}}</string>
        <key>offset</key>
        <string>{-46,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,109}}</string>
        <key>sourceSize</key>
        <string>{75,109}</string>
      </dict>
      <key>weapon_60002_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{113,72}}</string>
        <key>offset</key>
        <string>{-19,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,72}}</string>
        <key>sourceSize</key>
        <string>{113,72}</string>
      </dict>
      <key>weapon_60002_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,90},{57,80}}</string>
        <key>offset</key>
        <string>{-15,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,80}}</string>
        <key>sourceSize</key>
        <string>{57,80}</string>
      </dict>
      <key>weapon_60002_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,202},{79,91}}</string>
        <key>offset</key>
        <string>{-43,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,91}}</string>
        <key>sourceSize</key>
        <string>{79,91}</string>
      </dict>
      <key>weapon_60002_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,335},{55,106}}</string>
        <key>offset</key>
        <string>{5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,106}}</string>
        <key>sourceSize</key>
        <string>{55,106}</string>
      </dict>
      <key>weapon_60002_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,475},{34,111}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,111}}</string>
        <key>sourceSize</key>
        <string>{34,111}</string>
      </dict>
      <key>weapon_60002_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,226},{64,107}}</string>
        <key>offset</key>
        <string>{-38,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,107}}</string>
        <key>sourceSize</key>
        <string>{64,107}</string>
      </dict>
      <key>weapon_60002_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{104,64}}</string>
        <key>offset</key>
        <string>{10,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,64}}</string>
        <key>sourceSize</key>
        <string>{104,64}</string>
      </dict>
      <key>weapon_60002_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{117,54}}</string>
        <key>offset</key>
        <string>{-35,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,54}}</string>
        <key>sourceSize</key>
        <string>{117,54}</string>
      </dict>
      <key>weapon_60002_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{49,119}}</string>
        <key>offset</key>
        <string>{-45,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,119}}</string>
        <key>sourceSize</key>
        <string>{49,119}</string>
      </dict>
      <key>weapon_60002_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,104},{56,99}}</string>
        <key>offset</key>
        <string>{-32,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,99}}</string>
        <key>sourceSize</key>
        <string>{56,99}</string>
      </dict>
      <key>weapon_60002_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,398},{88,88}}</string>
        <key>offset</key>
        <string>{-48,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>weapon_60002_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,459},{46,109}}</string>
        <key>offset</key>
        <string>{-1,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,109}}</string>
        <key>sourceSize</key>
        <string>{46,109}</string>
      </dict>
      <key>weapon_60002_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,185},{78,82}}</string>
        <key>offset</key>
        <string>{32,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>weapon_60002_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,235},{111,66}}</string>
        <key>offset</key>
        <string>{-20,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,66}}</string>
        <key>sourceSize</key>
        <string>{111,66}</string>
      </dict>
      <key>weapon_60002_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,223},{73,106}}</string>
        <key>offset</key>
        <string>{-42,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,106}}</string>
        <key>sourceSize</key>
        <string>{73,106}</string>
      </dict>
      <key>weapon_60002_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,316},{99,84}}</string>
        <key>offset</key>
        <string>{-66,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,84}}</string>
        <key>sourceSize</key>
        <string>{99,84}</string>
      </dict>
      <key>weapon_60002_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{116,54}}</string>
        <key>offset</key>
        <string>{-58,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,54}}</string>
        <key>sourceSize</key>
        <string>{116,54}</string>
      </dict>
      <key>weapon_60002_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,331},{44,102}}</string>
        <key>offset</key>
        <string>{25,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,102}}</string>
        <key>sourceSize</key>
        <string>{44,102}</string>
      </dict>
      <key>weapon_60002_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,94},{52,89}}</string>
        <key>offset</key>
        <string>{15,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,89}}</string>
        <key>sourceSize</key>
        <string>{52,89}</string>
      </dict>
      <key>weapon_60002_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,108},{75,105}}</string>
        <key>offset</key>
        <string>{3,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,105}}</string>
        <key>sourceSize</key>
        <string>{75,105}</string>
      </dict>
      <key>weapon_60002_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,295},{88,81}}</string>
        <key>offset</key>
        <string>{-24,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,81}}</string>
        <key>sourceSize</key>
        <string>{88,81}</string>
      </dict>
      <key>weapon_60002_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,0},{94,48}}</string>
        <key>offset</key>
        <string>{-54,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,48}}</string>
        <key>sourceSize</key>
        <string>{94,48}</string>
      </dict>
      <key>weapon_60002_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,0},{88,61}}</string>
        <key>offset</key>
        <string>{-29,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,61}}</string>
        <key>sourceSize</key>
        <string>{88,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60002_1_2.png</string>
      <key>size</key>
      <string>{640,512}</string>
      <key>textureFileName</key>
      <string>weapon_60002_1_2.png</string>
    </dict>
  </dict>
</plist>