<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600071_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,123},{119,86}}</string>
        <key>offset</key>
        <string>{-13,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,86}}</string>
        <key>sourceSize</key>
        <string>{119,86}</string>
      </dict>
      <key>weapon_600071_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,113},{109,98}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,98}}</string>
        <key>sourceSize</key>
        <string>{109,98}</string>
      </dict>
      <key>weapon_600071_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{95,108}}</string>
        <key>offset</key>
        <string>{2,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,108}}</string>
        <key>sourceSize</key>
        <string>{95,108}</string>
      </dict>
      <key>weapon_600071_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{111,61}}</string>
        <key>offset</key>
        <string>{-23,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,61}}</string>
        <key>sourceSize</key>
        <string>{111,61}</string>
      </dict>
      <key>weapon_600071_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,129},{124,60}}</string>
        <key>offset</key>
        <string>{-22,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,60}}</string>
        <key>sourceSize</key>
        <string>{124,60}</string>
      </dict>
      <key>weapon_600071_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,70}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,70}}</string>
        <key>sourceSize</key>
        <string>{127,70}</string>
      </dict>
      <key>weapon_600071_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,340},{62,64}}</string>
        <key>offset</key>
        <string>{-11,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,64}}</string>
        <key>sourceSize</key>
        <string>{62,64}</string>
      </dict>
      <key>weapon_600071_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,105},{88,61}}</string>
        <key>offset</key>
        <string>{-16,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,61}}</string>
        <key>sourceSize</key>
        <string>{88,61}</string>
      </dict>
      <key>weapon_600071_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{103,60}}</string>
        <key>offset</key>
        <string>{-17,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,60}}</string>
        <key>sourceSize</key>
        <string>{103,60}</string>
      </dict>
      <key>weapon_600071_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,332},{80,62}}</string>
        <key>offset</key>
        <string>{-44,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,62}}</string>
        <key>sourceSize</key>
        <string>{80,62}</string>
      </dict>
      <key>weapon_600071_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,268},{59,70}}</string>
        <key>offset</key>
        <string>{-26,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>weapon_600071_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,195},{59,71}}</string>
        <key>offset</key>
        <string>{-14,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,71}}</string>
        <key>sourceSize</key>
        <string>{59,71}</string>
      </dict>
      <key>weapon_600071_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{121,62}}</string>
        <key>offset</key>
        <string>{-59,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,62}}</string>
        <key>sourceSize</key>
        <string>{121,62}</string>
      </dict>
      <key>weapon_600071_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,236},{110,62}}</string>
        <key>offset</key>
        <string>{-54,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,62}}</string>
        <key>sourceSize</key>
        <string>{110,62}</string>
      </dict>
      <key>weapon_600071_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,348},{96,62}}</string>
        <key>offset</key>
        <string>{-50,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,62}}</string>
        <key>sourceSize</key>
        <string>{96,62}</string>
      </dict>
      <key>weapon_600071_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,120},{114,101}}</string>
        <key>offset</key>
        <string>{-42,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,101}}</string>
        <key>sourceSize</key>
        <string>{114,101}</string>
      </dict>
      <key>weapon_600071_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{127,77}}</string>
        <key>offset</key>
        <string>{-56,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,77}}</string>
        <key>sourceSize</key>
        <string>{127,77}</string>
      </dict>
      <key>weapon_600071_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{127,64}}</string>
        <key>offset</key>
        <string>{-62,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,64}}</string>
        <key>sourceSize</key>
        <string>{127,64}</string>
      </dict>
      <key>weapon_600071_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{63,126}}</string>
        <key>offset</key>
        <string>{-3,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,126}}</string>
        <key>sourceSize</key>
        <string>{63,126}</string>
      </dict>
      <key>weapon_600071_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,244},{89,115}}</string>
        <key>offset</key>
        <string>{-24,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,115}}</string>
        <key>sourceSize</key>
        <string>{89,115}</string>
      </dict>
      <key>weapon_600071_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,224},{103,106}}</string>
        <key>offset</key>
        <string>{-38,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,106}}</string>
        <key>sourceSize</key>
        <string>{103,106}</string>
      </dict>
      <key>weapon_600071_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{80,118}}</string>
        <key>offset</key>
        <string>{12,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,118}}</string>
        <key>sourceSize</key>
        <string>{80,118}</string>
      </dict>
      <key>weapon_600071_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,323},{59,121}}</string>
        <key>offset</key>
        <string>{15,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,121}}</string>
        <key>sourceSize</key>
        <string>{59,121}</string>
      </dict>
      <key>weapon_600071_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,255},{60,122}}</string>
        <key>offset</key>
        <string>{2,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,122}}</string>
        <key>sourceSize</key>
        <string>{60,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600071_1_7.png</string>
      <key>size</key>
      <string>{513,414}</string>
      <key>textureFileName</key>
      <string>weapon_600071_1_7.png</string>
    </dict>
  </dict>
</plist>