<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600091_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,126},{95,123}}</string>
        <key>offset</key>
        <string>{-49,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,123}}</string>
        <key>sourceSize</key>
        <string>{95,123}</string>
      </dict>
      <key>weapon_600091_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,666},{100,118}}</string>
        <key>offset</key>
        <string>{-57,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,118}}</string>
        <key>sourceSize</key>
        <string>{100,118}</string>
      </dict>
      <key>weapon_600091_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,0},{92,84}}</string>
        <key>offset</key>
        <string>{-46,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,84}}</string>
        <key>sourceSize</key>
        <string>{92,84}</string>
      </dict>
      <key>weapon_600091_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,463},{138,116}}</string>
        <key>offset</key>
        <string>{-76,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,116}}</string>
        <key>sourceSize</key>
        <string>{138,116}</string>
      </dict>
      <key>weapon_600091_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{124,89}}</string>
        <key>offset</key>
        <string>{-66,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,89}}</string>
        <key>sourceSize</key>
        <string>{124,89}</string>
      </dict>
      <key>weapon_600091_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,515},{71,98}}</string>
        <key>offset</key>
        <string>{8,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,98}}</string>
        <key>sourceSize</key>
        <string>{71,98}</string>
      </dict>
      <key>weapon_600091_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,295},{87,136}}</string>
        <key>offset</key>
        <string>{-16,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,136}}</string>
        <key>sourceSize</key>
        <string>{87,136}</string>
      </dict>
      <key>weapon_600091_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,603},{74,137}}</string>
        <key>offset</key>
        <string>{5,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,137}}</string>
        <key>sourceSize</key>
        <string>{74,137}</string>
      </dict>
      <key>weapon_600091_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,639},{115,100}}</string>
        <key>offset</key>
        <string>{-53,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,100}}</string>
        <key>sourceSize</key>
        <string>{115,100}</string>
      </dict>
      <key>weapon_600091_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,145},{136,126}}</string>
        <key>offset</key>
        <string>{-79,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,126}}</string>
        <key>sourceSize</key>
        <string>{136,126}</string>
      </dict>
      <key>weapon_600091_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{148,102}}</string>
        <key>offset</key>
        <string>{-91,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,102}}</string>
        <key>sourceSize</key>
        <string>{148,102}</string>
      </dict>
      <key>weapon_600091_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,417},{100,126}}</string>
        <key>offset</key>
        <string>{-10,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,126}}</string>
        <key>sourceSize</key>
        <string>{100,126}</string>
      </dict>
      <key>weapon_600091_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{143,129}}</string>
        <key>offset</key>
        <string>{-12,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,129}}</string>
        <key>sourceSize</key>
        <string>{143,129}</string>
      </dict>
      <key>weapon_600091_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,150},{95,143}}</string>
        <key>offset</key>
        <string>{10,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,143}}</string>
        <key>sourceSize</key>
        <string>{95,143}</string>
      </dict>
      <key>weapon_600091_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,270},{104,126}}</string>
        <key>offset</key>
        <string>{-42,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,126}}</string>
        <key>sourceSize</key>
        <string>{104,126}</string>
      </dict>
      <key>weapon_600091_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,203},{119,92}}</string>
        <key>offset</key>
        <string>{-65,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,92}}</string>
        <key>sourceSize</key>
        <string>{119,92}</string>
      </dict>
      <key>weapon_600091_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,283},{133,106}}</string>
        <key>offset</key>
        <string>{-64,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,106}}</string>
        <key>sourceSize</key>
        <string>{133,106}</string>
      </dict>
      <key>weapon_600091_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{115,124}}</string>
        <key>offset</key>
        <string>{-28,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,124}}</string>
        <key>sourceSize</key>
        <string>{115,124}</string>
      </dict>
      <key>weapon_600091_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,89}}</string>
        <key>offset</key>
        <string>{-23,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,89}}</string>
        <key>sourceSize</key>
        <string>{162,89}</string>
      </dict>
      <key>weapon_600091_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,545},{115,119}}</string>
        <key>offset</key>
        <string>{13,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,119}}</string>
        <key>sourceSize</key>
        <string>{115,119}</string>
      </dict>
      <key>weapon_600091_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,603},{101,137}}</string>
        <key>offset</key>
        <string>{-24,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,137}}</string>
        <key>sourceSize</key>
        <string>{101,137}</string>
      </dict>
      <key>weapon_600091_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,412},{101,85}}</string>
        <key>offset</key>
        <string>{-18,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,85}}</string>
        <key>sourceSize</key>
        <string>{101,85}</string>
      </dict>
      <key>weapon_600091_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,433},{134,121}}</string>
        <key>offset</key>
        <string>{-56,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,121}}</string>
        <key>sourceSize</key>
        <string>{134,121}</string>
      </dict>
      <key>weapon_600091_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,0},{86,124}}</string>
        <key>offset</key>
        <string>{-2,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,124}}</string>
        <key>sourceSize</key>
        <string>{86,124}</string>
      </dict>
      <key>weapon_600091_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,203},{97,86}}</string>
        <key>offset</key>
        <string>{6,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,86}}</string>
        <key>sourceSize</key>
        <string>{97,86}</string>
      </dict>
      <key>weapon_600091_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,297},{113,89}}</string>
        <key>offset</key>
        <string>{-13,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,89}}</string>
        <key>sourceSize</key>
        <string>{113,89}</string>
      </dict>
      <key>weapon_600091_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,569},{124,129}}</string>
        <key>offset</key>
        <string>{-23,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>weapon_600091_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,283},{132,64}}</string>
        <key>offset</key>
        <string>{-6,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,64}}</string>
        <key>sourceSize</key>
        <string>{132,64}</string>
      </dict>
      <key>weapon_600091_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,608},{139,111}}</string>
        <key>offset</key>
        <string>{-7,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,111}}</string>
        <key>sourceSize</key>
        <string>{139,111}</string>
      </dict>
      <key>weapon_600091_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,88},{113,124}}</string>
        <key>offset</key>
        <string>{-37,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,124}}</string>
        <key>sourceSize</key>
        <string>{113,124}</string>
      </dict>
      <key>weapon_600091_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,700},{70,69}}</string>
        <key>offset</key>
        <string>{-32,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>weapon_600091_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,490},{49,74}}</string>
        <key>offset</key>
        <string>{-2,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,74}}</string>
        <key>sourceSize</key>
        <string>{49,74}</string>
      </dict>
      <key>weapon_600091_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,398},{113,119}}</string>
        <key>offset</key>
        <string>{-11,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,119}}</string>
        <key>sourceSize</key>
        <string>{113,119}</string>
      </dict>
      <key>weapon_600091_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{136,112}}</string>
        <key>offset</key>
        <string>{-9,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,112}}</string>
        <key>sourceSize</key>
        <string>{136,112}</string>
      </dict>
      <key>weapon_600091_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{152,112}}</string>
        <key>offset</key>
        <string>{-5,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,112}}</string>
        <key>sourceSize</key>
        <string>{152,112}</string>
      </dict>
      <key>weapon_600091_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,639},{92,115}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,115}}</string>
        <key>sourceSize</key>
        <string>{92,115}</string>
      </dict>
      <key>weapon_600091_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,515},{84,101}}</string>
        <key>offset</key>
        <string>{-55,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,101}}</string>
        <key>sourceSize</key>
        <string>{84,101}</string>
      </dict>
      <key>weapon_600091_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,302},{90,96}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,96}}</string>
        <key>sourceSize</key>
        <string>{90,96}</string>
      </dict>
      <key>weapon_600091_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,400},{88,96}}</string>
        <key>offset</key>
        <string>{-14,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>weapon_600091_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{106,143}}</string>
        <key>offset</key>
        <string>{-1,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,143}}</string>
        <key>sourceSize</key>
        <string>{106,143}</string>
      </dict>
      <key>weapon_600091_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,251},{94,117}}</string>
        <key>offset</key>
        <string>{10,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,117}}</string>
        <key>sourceSize</key>
        <string>{94,117}</string>
      </dict>
      <key>weapon_600091_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,412},{101,112}}</string>
        <key>offset</key>
        <string>{-29,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,112}}</string>
        <key>sourceSize</key>
        <string>{101,112}</string>
      </dict>
      <key>weapon_600091_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,519},{118,117}}</string>
        <key>offset</key>
        <string>{-72,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,117}}</string>
        <key>sourceSize</key>
        <string>{118,117}</string>
      </dict>
      <key>weapon_600091_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{143,87}}</string>
        <key>offset</key>
        <string>{-95,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,87}}</string>
        <key>sourceSize</key>
        <string>{143,87}</string>
      </dict>
      <key>weapon_600091_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,86},{87,44}}</string>
        <key>offset</key>
        <string>{-46,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,44}}</string>
        <key>sourceSize</key>
        <string>{87,44}</string>
      </dict>
      <key>weapon_600091_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,138},{71,130}}</string>
        <key>offset</key>
        <string>{-22,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,130}}</string>
        <key>sourceSize</key>
        <string>{71,130}</string>
      </dict>
      <key>weapon_600091_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,138},{126,94}}</string>
        <key>offset</key>
        <string>{-49,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>weapon_600091_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,615},{73,94}}</string>
        <key>offset</key>
        <string>{-9,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,94}}</string>
        <key>sourceSize</key>
        <string>{73,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600091_1_3.png</string>
      <key>size</key>
      <string>{882,771}</string>
      <key>textureFileName</key>
      <string>weapon_600091_1_3.png</string>
    </dict>
  </dict>
</plist>