<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60011_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,152},{18,59}}</string>
        <key>offset</key>
        <string>{22,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,59}}</string>
        <key>sourceSize</key>
        <string>{18,59}</string>
      </dict>
      <key>weapon_60011_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,152},{48,59}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,59}}</string>
        <key>sourceSize</key>
        <string>{48,59}</string>
      </dict>
      <key>weapon_60011_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,152},{62,47}}</string>
        <key>offset</key>
        <string>{23,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,47}}</string>
        <key>sourceSize</key>
        <string>{62,47}</string>
      </dict>
      <key>weapon_60011_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{35,63}}</string>
        <key>offset</key>
        <string>{40,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,63}}</string>
        <key>sourceSize</key>
        <string>{35,63}</string>
      </dict>
      <key>weapon_60011_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{105,15}}</string>
        <key>offset</key>
        <string>{9,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,15}}</string>
        <key>sourceSize</key>
        <string>{105,15}</string>
      </dict>
      <key>weapon_60011_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{96,31}}</string>
        <key>offset</key>
        <string>{33,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,31}}</string>
        <key>sourceSize</key>
        <string>{96,31}</string>
      </dict>
      <key>weapon_60011_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{86,52}}</string>
        <key>offset</key>
        <string>{4,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,52}}</string>
        <key>sourceSize</key>
        <string>{86,52}</string>
      </dict>
      <key>weapon_60011_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,0},{102,31}}</string>
        <key>offset</key>
        <string>{20,-10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,31}}</string>
        <key>sourceSize</key>
        <string>{102,31}</string>
      </dict>
      <key>weapon_60011_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,97},{18,79}}</string>
        <key>offset</key>
        <string>{10,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,79}}</string>
        <key>sourceSize</key>
        <string>{18,79}</string>
      </dict>
      <key>weapon_60011_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,37},{48,68}}</string>
        <key>offset</key>
        <string>{10,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,68}}</string>
        <key>sourceSize</key>
        <string>{48,68}</string>
      </dict>
      <key>weapon_60011_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,87},{63,68}}</string>
        <key>offset</key>
        <string>{-35,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,68}}</string>
        <key>sourceSize</key>
        <string>{63,68}</string>
      </dict>
      <key>weapon_60011_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{35,73}}</string>
        <key>offset</key>
        <string>{-25,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,73}}</string>
        <key>sourceSize</key>
        <string>{35,73}</string>
      </dict>
      <key>weapon_60011_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{104,23}}</string>
        <key>offset</key>
        <string>{-63,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,23}}</string>
        <key>sourceSize</key>
        <string>{104,23}</string>
      </dict>
      <key>weapon_60011_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{95,38}}</string>
        <key>offset</key>
        <string>{-78,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,38}}</string>
        <key>sourceSize</key>
        <string>{95,38}</string>
      </dict>
      <key>weapon_60011_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,97},{85,33}}</string>
        <key>offset</key>
        <string>{-39,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,33}}</string>
        <key>sourceSize</key>
        <string>{85,33}</string>
      </dict>
      <key>weapon_60011_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{100,21}}</string>
        <key>offset</key>
        <string>{-71,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,21}}</string>
        <key>sourceSize</key>
        <string>{100,21}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60011_1_8.png</string>
      <key>size</key>
      <string>{298,217}</string>
      <key>textureFileName</key>
      <string>weapon_60011_1_8.png</string>
    </dict>
  </dict>
</plist>