<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600081_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{53,43}}</string>
        <key>offset</key>
        <string>{51,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,43}}</string>
        <key>sourceSize</key>
        <string>{53,43}</string>
      </dict>
      <key>weapon_600081_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,227},{44,72}}</string>
        <key>offset</key>
        <string>{-24,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,72}}</string>
        <key>sourceSize</key>
        <string>{44,72}</string>
      </dict>
      <key>weapon_600081_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,90},{39,28}}</string>
        <key>offset</key>
        <string>{36,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,28}}</string>
        <key>sourceSize</key>
        <string>{39,28}</string>
      </dict>
      <key>weapon_600081_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,215},{28,41}}</string>
        <key>offset</key>
        <string>{9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,41}}</string>
        <key>sourceSize</key>
        <string>{28,41}</string>
      </dict>
      <key>weapon_600081_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,183},{30,46}}</string>
        <key>offset</key>
        <string>{8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,46}}</string>
        <key>sourceSize</key>
        <string>{30,46}</string>
      </dict>
      <key>weapon_600081_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,239},{74,38}}</string>
        <key>offset</key>
        <string>{44,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,38}}</string>
        <key>sourceSize</key>
        <string>{74,38}</string>
      </dict>
      <key>weapon_600081_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,55},{33,48}}</string>
        <key>offset</key>
        <string>{21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,48}}</string>
        <key>sourceSize</key>
        <string>{33,48}</string>
      </dict>
      <key>weapon_600081_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{64,52}}</string>
        <key>offset</key>
        <string>{-61,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>weapon_600081_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,355},{35,26}}</string>
        <key>offset</key>
        <string>{19,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,26}}</string>
        <key>sourceSize</key>
        <string>{35,26}</string>
      </dict>
      <key>weapon_600081_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,283},{64,33}}</string>
        <key>offset</key>
        <string>{47,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,33}}</string>
        <key>sourceSize</key>
        <string>{64,33}</string>
      </dict>
      <key>weapon_600081_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,140},{65,33}}</string>
        <key>offset</key>
        <string>{42,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,33}}</string>
        <key>sourceSize</key>
        <string>{65,33}</string>
      </dict>
      <key>weapon_600081_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{56,31}}</string>
        <key>offset</key>
        <string>{49,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,31}}</string>
        <key>sourceSize</key>
        <string>{56,31}</string>
      </dict>
      <key>weapon_600081_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,71},{67,33}}</string>
        <key>offset</key>
        <string>{-44,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,33}}</string>
        <key>sourceSize</key>
        <string>{67,33}</string>
      </dict>
      <key>weapon_600081_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{53,31}}</string>
        <key>offset</key>
        <string>{-52,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,31}}</string>
        <key>sourceSize</key>
        <string>{53,31}</string>
      </dict>
      <key>weapon_600081_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,138},{63,32}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,32}}</string>
        <key>sourceSize</key>
        <string>{63,32}</string>
      </dict>
      <key>weapon_600081_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,301},{72,34}}</string>
        <key>offset</key>
        <string>{66,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,34}}</string>
        <key>sourceSize</key>
        <string>{72,34}</string>
      </dict>
      <key>weapon_600081_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{74,33}}</string>
        <key>offset</key>
        <string>{58,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,33}}</string>
        <key>sourceSize</key>
        <string>{74,33}</string>
      </dict>
      <key>weapon_600081_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,355},{25,35}}</string>
        <key>offset</key>
        <string>{32,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,35}}</string>
        <key>sourceSize</key>
        <string>{25,35}</string>
      </dict>
      <key>weapon_600081_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,76},{74,33}}</string>
        <key>offset</key>
        <string>{-76,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,33}}</string>
        <key>sourceSize</key>
        <string>{74,33}</string>
      </dict>
      <key>weapon_600081_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,115},{20,21}}</string>
        <key>offset</key>
        <string>{-4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>weapon_600081_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,273},{63,52}}</string>
        <key>offset</key>
        <string>{-41,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,52}}</string>
        <key>sourceSize</key>
        <string>{63,52}</string>
      </dict>
      <key>weapon_600081_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,331},{50,58}}</string>
        <key>offset</key>
        <string>{55,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{50,58}</string>
      </dict>
      <key>weapon_600081_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,58},{50,55}}</string>
        <key>offset</key>
        <string>{49,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,55}}</string>
        <key>sourceSize</key>
        <string>{50,55}</string>
      </dict>
      <key>weapon_600081_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,66},{57,28}}</string>
        <key>offset</key>
        <string>{-30,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,28}}</string>
        <key>sourceSize</key>
        <string>{57,28}</string>
      </dict>
      <key>weapon_600081_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{49,55}}</string>
        <key>offset</key>
        <string>{-55,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,55}}</string>
        <key>sourceSize</key>
        <string>{49,55}</string>
      </dict>
      <key>weapon_600081_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,245},{41,28}}</string>
        <key>offset</key>
        <string>{30,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,28}}</string>
        <key>sourceSize</key>
        <string>{41,28}</string>
      </dict>
      <key>weapon_600081_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{37,71}}</string>
        <key>offset</key>
        <string>{-27,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,71}}</string>
        <key>sourceSize</key>
        <string>{37,71}</string>
      </dict>
      <key>weapon_600081_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,349},{32,64}}</string>
        <key>offset</key>
        <string>{10,-22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>weapon_600081_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,207},{32,64}}</string>
        <key>offset</key>
        <string>{10,-9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,64}}</string>
        <key>sourceSize</key>
        <string>{32,64}</string>
      </dict>
      <key>weapon_600081_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,152},{73,39}}</string>
        <key>offset</key>
        <string>{-70,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,39}}</string>
        <key>sourceSize</key>
        <string>{73,39}</string>
      </dict>
      <key>weapon_600081_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,203},{33,63}}</string>
        <key>offset</key>
        <string>{-5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,63}}</string>
        <key>sourceSize</key>
        <string>{33,63}</string>
      </dict>
      <key>weapon_600081_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,338},{62,40}}</string>
        <key>offset</key>
        <string>{46,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,40}}</string>
        <key>sourceSize</key>
        <string>{62,40}</string>
      </dict>
      <key>weapon_600081_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{36,75}}</string>
        <key>offset</key>
        <string>{-5,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,75}}</string>
        <key>sourceSize</key>
        <string>{36,75}</string>
      </dict>
      <key>weapon_600081_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{69,49}}</string>
        <key>offset</key>
        <string>{-65,-16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,49}}</string>
        <key>sourceSize</key>
        <string>{69,49}</string>
      </dict>
      <key>weapon_600081_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,73},{70,46}}</string>
        <key>offset</key>
        <string>{-60,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,46}}</string>
        <key>sourceSize</key>
        <string>{70,46}</string>
      </dict>
      <key>weapon_600081_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,138},{55,63}}</string>
        <key>offset</key>
        <string>{-58,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,63}}</string>
        <key>sourceSize</key>
        <string>{55,63}</string>
      </dict>
      <key>weapon_600081_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,145},{68,48}}</string>
        <key>offset</key>
        <string>{26,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,48}}</string>
        <key>sourceSize</key>
        <string>{68,48}</string>
      </dict>
      <key>weapon_600081_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,203},{54,63}}</string>
        <key>offset</key>
        <string>{46,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,63}}</string>
        <key>sourceSize</key>
        <string>{54,63}</string>
      </dict>
      <key>weapon_600081_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,71},{65,58}}</string>
        <key>offset</key>
        <string>{7,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,58}}</string>
        <key>sourceSize</key>
        <string>{65,58}</string>
      </dict>
      <key>weapon_600081_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{78,30}}</string>
        <key>offset</key>
        <string>{-94,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,30}}</string>
        <key>sourceSize</key>
        <string>{78,30}</string>
      </dict>
      <key>weapon_600081_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,161},{76,30}}</string>
        <key>offset</key>
        <string>{-86,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,30}}</string>
        <key>sourceSize</key>
        <string>{76,30}</string>
      </dict>
      <key>weapon_600081_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,301},{29,72}}</string>
        <key>offset</key>
        <string>{-10,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,72}}</string>
        <key>sourceSize</key>
        <string>{29,72}</string>
      </dict>
      <key>weapon_600081_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,30}}</string>
        <key>offset</key>
        <string>{48,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,30}}</string>
        <key>sourceSize</key>
        <string>{79,30}</string>
      </dict>
      <key>weapon_600081_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{28,76}}</string>
        <key>offset</key>
        <string>{27,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,76}}</string>
        <key>sourceSize</key>
        <string>{28,76}</string>
      </dict>
      <key>weapon_600081_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,215},{66,36}}</string>
        <key>offset</key>
        <string>{24,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,36}}</string>
        <key>sourceSize</key>
        <string>{66,36}</string>
      </dict>
      <key>weapon_600081_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,90},{48,43}}</string>
        <key>offset</key>
        <string>{-58,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,43}}</string>
        <key>sourceSize</key>
        <string>{48,43}</string>
      </dict>
      <key>weapon_600081_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,135},{48,46}}</string>
        <key>offset</key>
        <string>{-51,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>weapon_600081_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,268},{60,61}}</string>
        <key>offset</key>
        <string>{21,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600081_0_10.png</string>
      <key>size</key>
      <string>{384,384}</string>
      <key>textureFileName</key>
      <string>weapon_600081_0_10.png</string>
    </dict>
  </dict>
</plist>