<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600091_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,508},{68,109}}</string>
        <key>offset</key>
        <string>{16,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,109}}</string>
        <key>sourceSize</key>
        <string>{68,109}</string>
      </dict>
      <key>weapon_600091_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,296},{75,110}}</string>
        <key>offset</key>
        <string>{22,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,110}}</string>
        <key>sourceSize</key>
        <string>{75,110}</string>
      </dict>
      <key>weapon_600091_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,554},{116,127}}</string>
        <key>offset</key>
        <string>{-10,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,127}}</string>
        <key>sourceSize</key>
        <string>{116,127}</string>
      </dict>
      <key>weapon_600091_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,276},{88,131}}</string>
        <key>offset</key>
        <string>{-17,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,131}}</string>
        <key>sourceSize</key>
        <string>{88,131}</string>
      </dict>
      <key>weapon_600091_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{93,134}}</string>
        <key>offset</key>
        <string>{-5,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,134}}</string>
        <key>sourceSize</key>
        <string>{93,134}</string>
      </dict>
      <key>weapon_600091_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,543},{107,94}}</string>
        <key>offset</key>
        <string>{-2,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,94}}</string>
        <key>sourceSize</key>
        <string>{107,94}</string>
      </dict>
      <key>weapon_600091_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,634},{140,116}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,116}}</string>
        <key>sourceSize</key>
        <string>{140,116}</string>
      </dict>
      <key>weapon_600091_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,419},{133,99}}</string>
        <key>offset</key>
        <string>{4,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,99}}</string>
        <key>sourceSize</key>
        <string>{133,99}</string>
      </dict>
      <key>weapon_600091_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{122,115}}</string>
        <key>offset</key>
        <string>{0,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,115}}</string>
        <key>sourceSize</key>
        <string>{122,115}</string>
      </dict>
      <key>weapon_600091_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,433},{106,108}}</string>
        <key>offset</key>
        <string>{17,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,108}}</string>
        <key>sourceSize</key>
        <string>{106,108}</string>
      </dict>
      <key>weapon_600091_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,650},{111,107}}</string>
        <key>offset</key>
        <string>{10,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,107}}</string>
        <key>sourceSize</key>
        <string>{111,107}</string>
      </dict>
      <key>weapon_600091_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,133},{123,111}}</string>
        <key>offset</key>
        <string>{6,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,111}}</string>
        <key>sourceSize</key>
        <string>{123,111}</string>
      </dict>
      <key>weapon_600091_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{141,114}}</string>
        <key>offset</key>
        <string>{-14,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,114}}</string>
        <key>sourceSize</key>
        <string>{141,114}</string>
      </dict>
      <key>weapon_600091_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,491},{141,87}}</string>
        <key>offset</key>
        <string>{-8,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,87}}</string>
        <key>sourceSize</key>
        <string>{141,87}</string>
      </dict>
      <key>weapon_600091_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,592},{134,94}}</string>
        <key>offset</key>
        <string>{-1,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,94}}</string>
        <key>sourceSize</key>
        <string>{134,94}</string>
      </dict>
      <key>weapon_600091_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,136},{131,98}}</string>
        <key>offset</key>
        <string>{5,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,98}}</string>
        <key>sourceSize</key>
        <string>{131,98}</string>
      </dict>
      <key>weapon_600091_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,315},{137,88}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,88}}</string>
        <key>sourceSize</key>
        <string>{137,88}</string>
      </dict>
      <key>weapon_600091_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,143},{136,87}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,87}}</string>
        <key>sourceSize</key>
        <string>{136,87}</string>
      </dict>
      <key>weapon_600091_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,639},{105,107}}</string>
        <key>offset</key>
        <string>{-24,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,107}}</string>
        <key>sourceSize</key>
        <string>{105,107}</string>
      </dict>
      <key>weapon_600091_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,748},{86,100}}</string>
        <key>offset</key>
        <string>{-9,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,100}}</string>
        <key>sourceSize</key>
        <string>{86,100}</string>
      </dict>
      <key>weapon_600091_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,472},{108,89}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,89}}</string>
        <key>sourceSize</key>
        <string>{108,89}</string>
      </dict>
      <key>weapon_600091_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,322},{109,91}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,91}}</string>
        <key>sourceSize</key>
        <string>{109,91}</string>
      </dict>
      <key>weapon_600091_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,763},{105,84}}</string>
        <key>offset</key>
        <string>{-5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,84}}</string>
        <key>sourceSize</key>
        <string>{105,84}</string>
      </dict>
      <key>weapon_600091_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,373},{97,109}}</string>
        <key>offset</key>
        <string>{-6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,109}}</string>
        <key>sourceSize</key>
        <string>{97,109}</string>
      </dict>
      <key>weapon_600091_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,209},{85,113}}</string>
        <key>offset</key>
        <string>{-59,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,113}}</string>
        <key>sourceSize</key>
        <string>{85,113}</string>
      </dict>
      <key>weapon_600091_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,728},{66,94}}</string>
        <key>offset</key>
        <string>{-40,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,94}}</string>
        <key>sourceSize</key>
        <string>{66,94}</string>
      </dict>
      <key>weapon_600091_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,563},{72,87}}</string>
        <key>offset</key>
        <string>{-39,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,87}}</string>
        <key>sourceSize</key>
        <string>{72,87}</string>
      </dict>
      <key>weapon_600091_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,748},{59,91}}</string>
        <key>offset</key>
        <string>{-26,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,91}}</string>
        <key>sourceSize</key>
        <string>{59,91}</string>
      </dict>
      <key>weapon_600091_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,748},{69,101}}</string>
        <key>offset</key>
        <string>{-34,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,101}}</string>
        <key>sourceSize</key>
        <string>{69,101}</string>
      </dict>
      <key>weapon_600091_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,209},{84,111}}</string>
        <key>offset</key>
        <string>{-51,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,111}}</string>
        <key>sourceSize</key>
        <string>{84,111}</string>
      </dict>
      <key>weapon_600091_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,409},{124,113}}</string>
        <key>offset</key>
        <string>{-79,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,113}}</string>
        <key>sourceSize</key>
        <string>{124,113}</string>
      </dict>
      <key>weapon_600091_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,105},{121,102}}</string>
        <key>offset</key>
        <string>{-80,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,102}}</string>
        <key>sourceSize</key>
        <string>{121,102}</string>
      </dict>
      <key>weapon_600091_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,683},{115,82}}</string>
        <key>offset</key>
        <string>{-80,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,82}}</string>
        <key>sourceSize</key>
        <string>{115,82}</string>
      </dict>
      <key>weapon_600091_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,752},{95,86}}</string>
        <key>offset</key>
        <string>{-63,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,86}}</string>
        <key>sourceSize</key>
        <string>{95,86}</string>
      </dict>
      <key>weapon_600091_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,269},{124,123}}</string>
        <key>offset</key>
        <string>{-86,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,123}}</string>
        <key>sourceSize</key>
        <string>{124,123}</string>
      </dict>
      <key>weapon_600091_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,0},{122,103}}</string>
        <key>offset</key>
        <string>{-78,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,103}}</string>
        <key>sourceSize</key>
        <string>{122,103}</string>
      </dict>
      <key>weapon_600091_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{136,92}}</string>
        <key>offset</key>
        <string>{-78,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,92}}</string>
        <key>sourceSize</key>
        <string>{136,92}</string>
      </dict>
      <key>weapon_600091_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,171},{142,86}}</string>
        <key>offset</key>
        <string>{-87,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,86}}</string>
        <key>sourceSize</key>
        <string>{142,86}</string>
      </dict>
      <key>weapon_600091_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{163,71}}</string>
        <key>offset</key>
        <string>{-109,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,71}}</string>
        <key>sourceSize</key>
        <string>{163,71}</string>
      </dict>
      <key>weapon_600091_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{131,102}}</string>
        <key>offset</key>
        <string>{-89,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,102}}</string>
        <key>sourceSize</key>
        <string>{131,102}</string>
      </dict>
      <key>weapon_600091_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,454},{136,132}}</string>
        <key>offset</key>
        <string>{-86,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,132}}</string>
        <key>sourceSize</key>
        <string>{136,132}</string>
      </dict>
      <key>weapon_600091_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,281},{136,105}}</string>
        <key>offset</key>
        <string>{-80,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,105}}</string>
        <key>sourceSize</key>
        <string>{136,105}</string>
      </dict>
      <key>weapon_600091_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,138},{136,99}}</string>
        <key>offset</key>
        <string>{-28,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,99}}</string>
        <key>sourceSize</key>
        <string>{136,99}</string>
      </dict>
      <key>weapon_600091_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,535},{98,113}}</string>
        <key>offset</key>
        <string>{-39,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,113}}</string>
        <key>sourceSize</key>
        <string>{98,113}</string>
      </dict>
      <key>weapon_600091_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,395},{108,111}}</string>
        <key>offset</key>
        <string>{-51,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,111}}</string>
        <key>sourceSize</key>
        <string>{108,111}</string>
      </dict>
      <key>weapon_600091_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,639},{107,104}}</string>
        <key>offset</key>
        <string>{-59,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,104}}</string>
        <key>sourceSize</key>
        <string>{107,104}</string>
      </dict>
      <key>weapon_600091_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,92}}</string>
        <key>offset</key>
        <string>{-66,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,92}}</string>
        <key>sourceSize</key>
        <string>{169,92}</string>
      </dict>
      <key>weapon_600091_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{86,153}}</string>
        <key>offset</key>
        <string>{-29,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,153}}</string>
        <key>sourceSize</key>
        <string>{86,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600091_0_1.png</string>
      <key>size</key>
      <string>{770,852}</string>
      <key>textureFileName</key>
      <string>weapon_600091_0_1.png</string>
    </dict>
  </dict>
</plist>