<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60007_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,125},{44,39}}</string>
        <key>offset</key>
        <string>{22,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,39}}</string>
        <key>sourceSize</key>
        <string>{44,39}</string>
      </dict>
      <key>weapon_60007_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{17,116}}</string>
        <key>offset</key>
        <string>{21,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,116}}</string>
        <key>sourceSize</key>
        <string>{17,116}</string>
      </dict>
      <key>weapon_60007_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,88},{46,35}}</string>
        <key>offset</key>
        <string>{8,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>weapon_60007_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,384},{17,74}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,74}}</string>
        <key>sourceSize</key>
        <string>{17,74}</string>
      </dict>
      <key>weapon_60007_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{21,77}}</string>
        <key>offset</key>
        <string>{2,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,77}}</string>
        <key>sourceSize</key>
        <string>{21,77}</string>
      </dict>
      <key>weapon_60007_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,236},{106,50}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,50}}</string>
        <key>sourceSize</key>
        <string>{106,50}</string>
      </dict>
      <key>weapon_60007_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,384},{53,28}}</string>
        <key>offset</key>
        <string>{9,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,28}}</string>
        <key>sourceSize</key>
        <string>{53,28}</string>
      </dict>
      <key>weapon_60007_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,207},{71,95}}</string>
        <key>offset</key>
        <string>{-17,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,95}}</string>
        <key>sourceSize</key>
        <string>{71,95}</string>
      </dict>
      <key>weapon_60007_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,380},{39,33}}</string>
        <key>offset</key>
        <string>{19,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>weapon_60007_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,143},{82,51}}</string>
        <key>offset</key>
        <string>{-11,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,51}}</string>
        <key>sourceSize</key>
        <string>{82,51}</string>
      </dict>
      <key>weapon_60007_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,94},{86,50}}</string>
        <key>offset</key>
        <string>{-14,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,50}}</string>
        <key>sourceSize</key>
        <string>{86,50}</string>
      </dict>
      <key>weapon_60007_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,196},{82,27}}</string>
        <key>offset</key>
        <string>{3,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,27}}</string>
        <key>sourceSize</key>
        <string>{82,27}</string>
      </dict>
      <key>weapon_60007_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{99,19}}</string>
        <key>offset</key>
        <string>{-23,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,19}}</string>
        <key>sourceSize</key>
        <string>{99,19}</string>
      </dict>
      <key>weapon_60007_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{86,62}}</string>
        <key>offset</key>
        <string>{-32,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,62}}</string>
        <key>sourceSize</key>
        <string>{86,62}</string>
      </dict>
      <key>weapon_60007_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{92,21}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,21}}</string>
        <key>sourceSize</key>
        <string>{92,21}</string>
      </dict>
      <key>weapon_60007_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,0},{116,16}}</string>
        <key>offset</key>
        <string>{-6,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,16}}</string>
        <key>sourceSize</key>
        <string>{116,16}</string>
      </dict>
      <key>weapon_60007_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,15}}</string>
        <key>offset</key>
        <string>{-14,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,15}}</string>
        <key>sourceSize</key>
        <string>{117,15}</string>
      </dict>
      <key>weapon_60007_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,367},{32,38}}</string>
        <key>offset</key>
        <string>{24,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>weapon_60007_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{94,69}}</string>
        <key>offset</key>
        <string>{-33,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,69}}</string>
        <key>sourceSize</key>
        <string>{94,69}</string>
      </dict>
      <key>weapon_60007_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,369},{53,35}}</string>
        <key>offset</key>
        <string>{-15,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,35}}</string>
        <key>sourceSize</key>
        <string>{53,35}</string>
      </dict>
      <key>weapon_60007_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,98},{95,65}}</string>
        <key>offset</key>
        <string>{-14,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,65}}</string>
        <key>sourceSize</key>
        <string>{95,65}</string>
      </dict>
      <key>weapon_60007_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,281},{84,64}}</string>
        <key>offset</key>
        <string>{17,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,64}}</string>
        <key>sourceSize</key>
        <string>{84,64}</string>
      </dict>
      <key>weapon_60007_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,280},{81,62}}</string>
        <key>offset</key>
        <string>{10,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,62}}</string>
        <key>sourceSize</key>
        <string>{81,62}</string>
      </dict>
      <key>weapon_60007_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,384},{77,23}}</string>
        <key>offset</key>
        <string>{-12,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,23}}</string>
        <key>sourceSize</key>
        <string>{77,23}</string>
      </dict>
      <key>weapon_60007_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{44,104}}</string>
        <key>offset</key>
        <string>{-16,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,104}}</string>
        <key>sourceSize</key>
        <string>{44,104}</string>
      </dict>
      <key>weapon_60007_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,269},{17,30}}</string>
        <key>offset</key>
        <string>{12,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,30}}</string>
        <key>sourceSize</key>
        <string>{17,30}</string>
      </dict>
      <key>weapon_60007_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,106},{46,103}}</string>
        <key>offset</key>
        <string>{-4,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,103}}</string>
        <key>sourceSize</key>
        <string>{46,103}</string>
      </dict>
      <key>weapon_60007_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,291},{17,89}}</string>
        <key>offset</key>
        <string>{37,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,89}}</string>
        <key>sourceSize</key>
        <string>{17,89}</string>
      </dict>
      <key>weapon_60007_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,281},{21,86}}</string>
        <key>offset</key>
        <string>{27,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,86}}</string>
        <key>sourceSize</key>
        <string>{21,86}</string>
      </dict>
      <key>weapon_60007_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,344},{106,36}}</string>
        <key>offset</key>
        <string>{-37,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,36}}</string>
        <key>sourceSize</key>
        <string>{106,36}</string>
      </dict>
      <key>weapon_60007_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{53,103}}</string>
        <key>offset</key>
        <string>{-12,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,103}}</string>
        <key>sourceSize</key>
        <string>{53,103}</string>
      </dict>
      <key>weapon_60007_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,196},{71,35}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,35}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>weapon_60007_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,0},{40,108}}</string>
        <key>offset</key>
        <string>{-8,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,108}}</string>
        <key>sourceSize</key>
        <string>{40,108}</string>
      </dict>
      <key>weapon_60007_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,196},{82,72}}</string>
        <key>offset</key>
        <string>{-21,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,72}}</string>
        <key>sourceSize</key>
        <string>{82,72}</string>
      </dict>
      <key>weapon_60007_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,291},{87,66}}</string>
        <key>offset</key>
        <string>{-22,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,66}}</string>
        <key>sourceSize</key>
        <string>{87,66}</string>
      </dict>
      <key>weapon_60007_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,0},{82,83}}</string>
        <key>offset</key>
        <string>{-35,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,83}}</string>
        <key>sourceSize</key>
        <string>{82,83}</string>
      </dict>
      <key>weapon_60007_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,105},{100,71}}</string>
        <key>offset</key>
        <string>{-27,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,71}}</string>
        <key>sourceSize</key>
        <string>{100,71}</string>
      </dict>
      <key>weapon_60007_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,192},{87,67}}</string>
        <key>offset</key>
        <string>{-4,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,67}}</string>
        <key>sourceSize</key>
        <string>{87,67}</string>
      </dict>
      <key>weapon_60007_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,195},{94,79}}</string>
        <key>offset</key>
        <string>{-39,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,79}}</string>
        <key>sourceSize</key>
        <string>{94,79}</string>
      </dict>
      <key>weapon_60007_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{116,34}}</string>
        <key>offset</key>
        <string>{-60,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,34}}</string>
        <key>sourceSize</key>
        <string>{116,34}</string>
      </dict>
      <key>weapon_60007_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,118},{116,34}}</string>
        <key>offset</key>
        <string>{-52,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,34}}</string>
        <key>sourceSize</key>
        <string>{116,34}</string>
      </dict>
      <key>weapon_60007_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,110},{32,106}}</string>
        <key>offset</key>
        <string>{-6,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,106}}</string>
        <key>sourceSize</key>
        <string>{32,106}</string>
      </dict>
      <key>weapon_60007_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,96},{94,34}}</string>
        <key>offset</key>
        <string>{-11,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,34}}</string>
        <key>sourceSize</key>
        <string>{94,34}</string>
      </dict>
      <key>weapon_60007_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,218},{53,104}}</string>
        <key>offset</key>
        <string>{12,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,104}}</string>
        <key>sourceSize</key>
        <string>{53,104}</string>
      </dict>
      <key>weapon_60007_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{96,38}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,38}}</string>
        <key>sourceSize</key>
        <string>{96,38}</string>
      </dict>
      <key>weapon_60007_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,84},{83,57}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,57}}</string>
        <key>sourceSize</key>
        <string>{83,57}</string>
      </dict>
      <key>weapon_60007_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,344},{80,62}}</string>
        <key>offset</key>
        <string>{-40,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,62}}</string>
        <key>sourceSize</key>
        <string>{80,62}</string>
      </dict>
      <key>weapon_60007_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,304},{78,91}}</string>
        <key>offset</key>
        <string>{-16,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,91}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60007_1_10.png</string>
      <key>size</key>
      <string>{515,447}</string>
      <key>textureFileName</key>
      <string>weapon_60007_1_10.png</string>
    </dict>
  </dict>
</plist>