<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60009_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{48,33}}</string>
        <key>offset</key>
        <string>{38,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,33}}</string>
        <key>sourceSize</key>
        <string>{48,33}</string>
      </dict>
      <key>weapon_60009_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,133},{29,27}}</string>
        <key>offset</key>
        <string>{32,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,27}}</string>
        <key>sourceSize</key>
        <string>{29,27}</string>
      </dict>
      <key>weapon_60009_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,133},{57,48}}</string>
        <key>offset</key>
        <string>{-16,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,48}}</string>
        <key>sourceSize</key>
        <string>{57,48}</string>
      </dict>
      <key>weapon_60009_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{67,79}}</string>
        <key>offset</key>
        <string>{-45,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,79}}</string>
        <key>sourceSize</key>
        <string>{67,79}</string>
      </dict>
      <key>weapon_60009_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{48,107}}</string>
        <key>offset</key>
        <string>{-36,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,107}}</string>
        <key>sourceSize</key>
        <string>{48,107}</string>
      </dict>
      <key>weapon_60009_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{30,115}}</string>
        <key>offset</key>
        <string>{-11,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,115}}</string>
        <key>sourceSize</key>
        <string>{30,115}</string>
      </dict>
      <key>weapon_60009_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{57,96}}</string>
        <key>offset</key>
        <string>{9,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,96}}</string>
        <key>sourceSize</key>
        <string>{57,96}</string>
      </dict>
      <key>weapon_60009_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,69},{67,62}}</string>
        <key>offset</key>
        <string>{28,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,62}}</string>
        <key>sourceSize</key>
        <string>{67,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60009_0_11.png</string>
      <key>size</key>
      <string>{193,208}</string>
      <key>textureFileName</key>
      <string>weapon_60009_0_11.png</string>
    </dict>
  </dict>
</plist>