<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60009_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,96},{31,31}}</string>
        <key>offset</key>
        <string>{22,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>weapon_60009_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,66},{36,28}}</string>
        <key>offset</key>
        <string>{18,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,28}}</string>
        <key>sourceSize</key>
        <string>{36,28}</string>
      </dict>
      <key>weapon_60009_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,106},{42,68}}</string>
        <key>offset</key>
        <string>{3,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,68}}</string>
        <key>sourceSize</key>
        <string>{42,68}</string>
      </dict>
      <key>weapon_60009_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{104,43}}</string>
        <key>offset</key>
        <string>{-57,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,43}}</string>
        <key>sourceSize</key>
        <string>{104,43}</string>
      </dict>
      <key>weapon_60009_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{46,31}}</string>
        <key>offset</key>
        <string>{30,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,31}}</string>
        <key>sourceSize</key>
        <string>{46,31}</string>
      </dict>
      <key>weapon_60009_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,33},{38,31}}</string>
        <key>offset</key>
        <string>{38,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,31}}</string>
        <key>sourceSize</key>
        <string>{38,31}</string>
      </dict>
      <key>weapon_60009_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,266},{50,69}}</string>
        <key>offset</key>
        <string>{49,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,69}}</string>
        <key>sourceSize</key>
        <string>{50,69}</string>
      </dict>
      <key>weapon_60009_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,186},{47,78}}</string>
        <key>offset</key>
        <string>{40,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,78}}</string>
        <key>sourceSize</key>
        <string>{47,78}</string>
      </dict>
      <key>weapon_60009_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{95,40}}</string>
        <key>offset</key>
        <string>{5,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,40}}</string>
        <key>sourceSize</key>
        <string>{95,40}</string>
      </dict>
      <key>weapon_60009_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,323},{87,40}}</string>
        <key>offset</key>
        <string>{15,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,40}}</string>
        <key>sourceSize</key>
        <string>{87,40}</string>
      </dict>
      <key>weapon_60009_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{109,37}}</string>
        <key>offset</key>
        <string>{41,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,37}}</string>
        <key>sourceSize</key>
        <string>{109,37}</string>
      </dict>
      <key>weapon_60009_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,318},{59,74}}</string>
        <key>offset</key>
        <string>{76,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,74}}</string>
        <key>sourceSize</key>
        <string>{59,74}</string>
      </dict>
      <key>weapon_60009_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,97},{87,78}}</string>
        <key>offset</key>
        <string>{-7,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,78}}</string>
        <key>sourceSize</key>
        <string>{87,78}</string>
      </dict>
      <key>weapon_60009_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,27},{86,77}}</string>
        <key>offset</key>
        <string>{-2,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,77}}</string>
        <key>sourceSize</key>
        <string>{86,77}</string>
      </dict>
      <key>weapon_60009_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,223},{105,48}}</string>
        <key>offset</key>
        <string>{23,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,48}}</string>
        <key>sourceSize</key>
        <string>{105,48}</string>
      </dict>
      <key>weapon_60009_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,35}}</string>
        <key>offset</key>
        <string>{49,-20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,35}}</string>
        <key>sourceSize</key>
        <string>{110,35}</string>
      </dict>
      <key>weapon_60009_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{31,108}}</string>
        <key>offset</key>
        <string>{-3,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,108}}</string>
        <key>sourceSize</key>
        <string>{31,108}</string>
      </dict>
      <key>weapon_60009_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{36,110}}</string>
        <key>offset</key>
        <string>{-4,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,110}}</string>
        <key>sourceSize</key>
        <string>{36,110}</string>
      </dict>
      <key>weapon_60009_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,274},{42,79}}</string>
        <key>offset</key>
        <string>{5,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,79}}</string>
        <key>sourceSize</key>
        <string>{42,79}</string>
      </dict>
      <key>weapon_60009_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,217},{104,35}}</string>
        <key>offset</key>
        <string>{3,-48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,35}}</string>
        <key>sourceSize</key>
        <string>{104,35}</string>
      </dict>
      <key>weapon_60009_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,106},{47,103}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,103}}</string>
        <key>sourceSize</key>
        <string>{47,103}</string>
      </dict>
      <key>weapon_60009_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{38,108}}</string>
        <key>offset</key>
        <string>{-26,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,108}}</string>
        <key>sourceSize</key>
        <string>{38,108}</string>
      </dict>
      <key>weapon_60009_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,106},{50,75}}</string>
        <key>offset</key>
        <string>{-49,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,75}}</string>
        <key>sourceSize</key>
        <string>{50,75}</string>
      </dict>
      <key>weapon_60009_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,183},{47,69}}</string>
        <key>offset</key>
        <string>{-37,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,69}}</string>
        <key>sourceSize</key>
        <string>{47,69}</string>
      </dict>
      <key>weapon_60009_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,211},{94,65}}</string>
        <key>offset</key>
        <string>{-50,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,65}}</string>
        <key>sourceSize</key>
        <string>{94,65}</string>
      </dict>
      <key>weapon_60009_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{87,75}}</string>
        <key>offset</key>
        <string>{-52,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,75}}</string>
        <key>sourceSize</key>
        <string>{87,75}</string>
      </dict>
      <key>weapon_60009_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,112},{109,33}}</string>
        <key>offset</key>
        <string>{-100,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,33}}</string>
        <key>sourceSize</key>
        <string>{109,33}</string>
      </dict>
      <key>weapon_60009_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,318},{59,65}}</string>
        <key>offset</key>
        <string>{-85,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,65}}</string>
        <key>sourceSize</key>
        <string>{59,65}</string>
      </dict>
      <key>weapon_60009_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{87,25}}</string>
        <key>offset</key>
        <string>{-30,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,25}}</string>
        <key>sourceSize</key>
        <string>{87,25}</string>
      </dict>
      <key>weapon_60009_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,186},{86,33}}</string>
        <key>offset</key>
        <string>{-34,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,33}}</string>
        <key>sourceSize</key>
        <string>{86,33}</string>
      </dict>
      <key>weapon_60009_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,110},{105,29}}</string>
        <key>offset</key>
        <string>{-78,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,29}}</string>
        <key>sourceSize</key>
        <string>{105,29}</string>
      </dict>
      <key>weapon_60009_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,0},{110,29}}</string>
        <key>offset</key>
        <string>{-109,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,29}}</string>
        <key>sourceSize</key>
        <string>{110,29}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60009_1_4.png</string>
      <key>size</key>
      <string>{413,385}</string>
      <key>textureFileName</key>
      <string>weapon_60009_1_4.png</string>
    </dict>
  </dict>
</plist>