<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60011_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,30}}</string>
        <key>offset</key>
        <string>{30,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,30}}</string>
        <key>sourceSize</key>
        <string>{99,30}</string>
      </dict>
      <key>weapon_60011_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,138},{95,48}}</string>
        <key>offset</key>
        <string>{30,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,48}}</string>
        <key>sourceSize</key>
        <string>{95,48}</string>
      </dict>
      <key>weapon_60011_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{85,62}}</string>
        <key>offset</key>
        <string>{32,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>weapon_60011_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,98},{69,24}}</string>
        <key>offset</key>
        <string>{18,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,24}}</string>
        <key>sourceSize</key>
        <string>{69,24}</string>
      </dict>
      <key>weapon_60011_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{90,15}}</string>
        <key>offset</key>
        <string>{21,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,15}}</string>
        <key>sourceSize</key>
        <string>{90,15}</string>
      </dict>
      <key>weapon_60011_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{98,18}}</string>
        <key>offset</key>
        <string>{25,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,18}}</string>
        <key>sourceSize</key>
        <string>{98,18}</string>
      </dict>
      <key>weapon_60011_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,127},{9,40}}</string>
        <key>offset</key>
        <string>{6,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,40}}</string>
        <key>sourceSize</key>
        <string>{9,40}</string>
      </dict>
      <key>weapon_60011_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,149},{33,39}}</string>
        <key>offset</key>
        <string>{14,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>weapon_60011_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,87},{53,34}}</string>
        <key>offset</key>
        <string>{18,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,34}}</string>
        <key>sourceSize</key>
        <string>{53,34}</string>
      </dict>
      <key>weapon_60011_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,73},{71,23}}</string>
        <key>offset</key>
        <string>{-59,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,23}}</string>
        <key>sourceSize</key>
        <string>{71,23}</string>
      </dict>
      <key>weapon_60011_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,146},{46,37}}</string>
        <key>offset</key>
        <string>{-31,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,37}}</string>
        <key>sourceSize</key>
        <string>{46,37}</string>
      </dict>
      <key>weapon_60011_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{25,40}}</string>
        <key>offset</key>
        <string>{-8,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,40}}</string>
        <key>sourceSize</key>
        <string>{25,40}</string>
      </dict>
      <key>weapon_60011_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{98,32}}</string>
        <key>offset</key>
        <string>{-78,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,32}}</string>
        <key>sourceSize</key>
        <string>{98,32}</string>
      </dict>
      <key>weapon_60011_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{96,15}}</string>
        <key>offset</key>
        <string>{-76,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,15}}</string>
        <key>sourceSize</key>
        <string>{96,15}</string>
      </dict>
      <key>weapon_60011_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{85,16}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,16}}</string>
        <key>sourceSize</key>
        <string>{85,16}</string>
      </dict>
      <key>weapon_60011_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,74},{70,77}}</string>
        <key>offset</key>
        <string>{-37,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,77}}</string>
        <key>sourceSize</key>
        <string>{70,77}</string>
      </dict>
      <key>weapon_60011_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{90,58}}</string>
        <key>offset</key>
        <string>{-61,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,58}}</string>
        <key>sourceSize</key>
        <string>{90,58}</string>
      </dict>
      <key>weapon_60011_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{98,44}}</string>
        <key>offset</key>
        <string>{-73,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,44}}</string>
        <key>sourceSize</key>
        <string>{98,44}</string>
      </dict>
      <key>weapon_60011_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{9,96}}</string>
        <key>offset</key>
        <string>{35,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,96}}</string>
        <key>sourceSize</key>
        <string>{9,96}</string>
      </dict>
      <key>weapon_60011_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{33,91}}</string>
        <key>offset</key>
        <string>{3,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,91}}</string>
        <key>sourceSize</key>
        <string>{33,91}</string>
      </dict>
      <key>weapon_60011_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,18},{54,84}}</string>
        <key>offset</key>
        <string>{-21,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,84}}</string>
        <key>sourceSize</key>
        <string>{54,84}</string>
      </dict>
      <key>weapon_60011_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{71,75}}</string>
        <key>offset</key>
        <string>{38,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,75}}</string>
        <key>sourceSize</key>
        <string>{71,75}</string>
      </dict>
      <key>weapon_60011_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,92},{46,86}}</string>
        <key>offset</key>
        <string>{35,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,86}}</string>
        <key>sourceSize</key>
        <string>{46,86}</string>
      </dict>
      <key>weapon_60011_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,100},{25,92}}</string>
        <key>offset</key>
        <string>{33,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,92}}</string>
        <key>sourceSize</key>
        <string>{25,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60011_0_7.png</string>
      <key>size</key>
      <string>{454,194}</string>
      <key>textureFileName</key>
      <string>weapon_60011_0_7.png</string>
    </dict>
  </dict>
</plist>