<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60003_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,323},{58,35}}</string>
        <key>offset</key>
        <string>{18,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,35}}</string>
        <key>sourceSize</key>
        <string>{58,35}</string>
      </dict>
      <key>weapon_60003_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,79},{71,67}}</string>
        <key>offset</key>
        <string>{-17,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,67}}</string>
        <key>sourceSize</key>
        <string>{71,67}</string>
      </dict>
      <key>weapon_60003_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,383},{37,24}}</string>
        <key>offset</key>
        <string>{18,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,24}}</string>
        <key>sourceSize</key>
        <string>{37,24}</string>
      </dict>
      <key>weapon_60003_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,68},{9,30}}</string>
        <key>offset</key>
        <string>{5,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,30}}</string>
        <key>sourceSize</key>
        <string>{9,30}</string>
      </dict>
      <key>weapon_60003_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,286},{18,33}}</string>
        <key>offset</key>
        <string>{-2,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,33}}</string>
        <key>sourceSize</key>
        <string>{18,33}</string>
      </dict>
      <key>weapon_60003_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,169},{78,55}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,55}}</string>
        <key>sourceSize</key>
        <string>{78,55}</string>
      </dict>
      <key>weapon_60003_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{26,39}}</string>
        <key>offset</key>
        <string>{32,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,39}}</string>
        <key>sourceSize</key>
        <string>{26,39}</string>
      </dict>
      <key>weapon_60003_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{85,46}}</string>
        <key>offset</key>
        <string>{-32,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,46}}</string>
        <key>sourceSize</key>
        <string>{85,46}</string>
      </dict>
      <key>weapon_60003_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,100},{20,6}}</string>
        <key>offset</key>
        <string>{36,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,6}}</string>
        <key>sourceSize</key>
        <string>{20,6}</string>
      </dict>
      <key>weapon_60003_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,357},{51,23}}</string>
        <key>offset</key>
        <string>{12,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>weapon_60003_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,262},{53,10}}</string>
        <key>offset</key>
        <string>{3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,10}}</string>
        <key>sourceSize</key>
        <string>{53,10}</string>
      </dict>
      <key>weapon_60003_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,152},{70,31}}</string>
        <key>offset</key>
        <string>{10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,31}}</string>
        <key>sourceSize</key>
        <string>{70,31}</string>
      </dict>
      <key>weapon_60003_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,68},{65,37}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,37}}</string>
        <key>sourceSize</key>
        <string>{65,37}</string>
      </dict>
      <key>weapon_60003_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,87},{80,41}}</string>
        <key>offset</key>
        <string>{-32,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,41}}</string>
        <key>sourceSize</key>
        <string>{80,41}</string>
      </dict>
      <key>weapon_60003_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,323},{49,38}}</string>
        <key>offset</key>
        <string>{19,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,38}}</string>
        <key>sourceSize</key>
        <string>{49,38}</string>
      </dict>
      <key>weapon_60003_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{77,34}}</string>
        <key>offset</key>
        <string>{12,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,34}}</string>
        <key>sourceSize</key>
        <string>{77,34}</string>
      </dict>
      <key>weapon_60003_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{83,33}}</string>
        <key>offset</key>
        <string>{0,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,33}}</string>
        <key>sourceSize</key>
        <string>{83,33}</string>
      </dict>
      <key>weapon_60003_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{18,8}}</string>
        <key>offset</key>
        <string>{35,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,8}}</string>
        <key>sourceSize</key>
        <string>{18,8}</string>
      </dict>
      <key>weapon_60003_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{84,46}}</string>
        <key>offset</key>
        <string>{-30,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,46}}</string>
        <key>sourceSize</key>
        <string>{84,46}</string>
      </dict>
      <key>weapon_60003_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,262},{22,34}}</string>
        <key>offset</key>
        <string>{6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,34}}</string>
        <key>sourceSize</key>
        <string>{22,34}</string>
      </dict>
      <key>weapon_60003_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{69,71}}</string>
        <key>offset</key>
        <string>{-4,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>weapon_60003_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,291},{61,64}}</string>
        <key>offset</key>
        <string>{24,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,64}}</string>
        <key>sourceSize</key>
        <string>{61,64}</string>
      </dict>
      <key>weapon_60003_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,162},{72,62}}</string>
        <key>offset</key>
        <string>{13,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,62}}</string>
        <key>sourceSize</key>
        <string>{72,62}</string>
      </dict>
      <key>weapon_60003_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,317},{27,4}}</string>
        <key>offset</key>
        <string>{19,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,4}}</string>
        <key>sourceSize</key>
        <string>{27,4}</string>
      </dict>
      <key>weapon_60003_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,73},{68,70}}</string>
        <key>offset</key>
        <string>{-34,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>weapon_60003_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,342},{71,36}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,36}}</string>
        <key>sourceSize</key>
        <string>{71,36}</string>
      </dict>
      <key>weapon_60003_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{47,80}}</string>
        <key>offset</key>
        <string>{-13,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,80}}</string>
        <key>sourceSize</key>
        <string>{47,80}</string>
      </dict>
      <key>weapon_60003_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,262},{34,59}}</string>
        <key>offset</key>
        <string>{19,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,59}}</string>
        <key>sourceSize</key>
        <string>{34,59}</string>
      </dict>
      <key>weapon_60003_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{34,66}}</string>
        <key>offset</key>
        <string>{19,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,66}}</string>
        <key>sourceSize</key>
        <string>{34,66}</string>
      </dict>
      <key>weapon_60003_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{66,38}}</string>
        <key>offset</key>
        <string>{-19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,38}}</string>
        <key>sourceSize</key>
        <string>{66,38}</string>
      </dict>
      <key>weapon_60003_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{35,86}}</string>
        <key>offset</key>
        <string>{-14,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,86}}</string>
        <key>sourceSize</key>
        <string>{35,86}</string>
      </dict>
      <key>weapon_60003_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,175},{83,44}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,44}}</string>
        <key>sourceSize</key>
        <string>{83,44}</string>
      </dict>
      <key>weapon_60003_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,0},{40,85}}</string>
        <key>offset</key>
        <string>{-20,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,85}}</string>
        <key>sourceSize</key>
        <string>{40,85}</string>
      </dict>
      <key>weapon_60003_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,135},{61,65}}</string>
        <key>offset</key>
        <string>{-21,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,65}}</string>
        <key>sourceSize</key>
        <string>{61,65}</string>
      </dict>
      <key>weapon_60003_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,224},{59,65}}</string>
        <key>offset</key>
        <string>{-16,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,65}}</string>
        <key>sourceSize</key>
        <string>{59,65}</string>
      </dict>
      <key>weapon_60003_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{67,63}}</string>
        <key>offset</key>
        <string>{-34,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,63}}</string>
        <key>sourceSize</key>
        <string>{67,63}</string>
      </dict>
      <key>weapon_60003_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,236},{63,71}}</string>
        <key>offset</key>
        <string>{-13,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,71}}</string>
        <key>sourceSize</key>
        <string>{63,71}</string>
      </dict>
      <key>weapon_60003_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,309},{71,66}}</string>
        <key>offset</key>
        <string>{6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,66}}</string>
        <key>sourceSize</key>
        <string>{71,66}</string>
      </dict>
      <key>weapon_60003_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,249},{62,75}}</string>
        <key>offset</key>
        <string>{-28,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,75}}</string>
        <key>sourceSize</key>
        <string>{62,75}</string>
      </dict>
      <key>weapon_60003_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,260},{80,44}}</string>
        <key>offset</key>
        <string>{-45,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,44}}</string>
        <key>sourceSize</key>
        <string>{80,44}</string>
      </dict>
      <key>weapon_60003_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{85,42}}</string>
        <key>offset</key>
        <string>{-39,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,42}}</string>
        <key>sourceSize</key>
        <string>{85,42}</string>
      </dict>
      <key>weapon_60003_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,82},{41,78}}</string>
        <key>offset</key>
        <string>{-20,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,78}}</string>
        <key>sourceSize</key>
        <string>{41,78}</string>
      </dict>
      <key>weapon_60003_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,68},{65,32}}</string>
        <key>offset</key>
        <string>{0,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,32}}</string>
        <key>sourceSize</key>
        <string>{65,32}</string>
      </dict>
      <key>weapon_60003_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,87},{27,81}}</string>
        <key>offset</key>
        <string>{17,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,81}}</string>
        <key>sourceSize</key>
        <string>{27,81}</string>
      </dict>
      <key>weapon_60003_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,198},{62,52}}</string>
        <key>offset</key>
        <string>{-14,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,52}}</string>
        <key>sourceSize</key>
        <string>{62,52}</string>
      </dict>
      <key>weapon_60003_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,198},{62,34}}</string>
        <key>offset</key>
        <string>{-36,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,34}}</string>
        <key>sourceSize</key>
        <string>{62,34}</string>
      </dict>
      <key>weapon_60003_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,145},{65,38}}</string>
        <key>offset</key>
        <string>{-33,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,38}}</string>
        <key>sourceSize</key>
        <string>{65,38}</string>
      </dict>
      <key>weapon_60003_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,382},{46,40}}</string>
        <key>offset</key>
        <string>{-3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,40}}</string>
        <key>sourceSize</key>
        <string>{46,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60003_0_10.png</string>
      <key>size</key>
      <string>{386,424}</string>
      <key>textureFileName</key>
      <string>weapon_60003_0_10.png</string>
    </dict>
  </dict>
</plist>