<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600101_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{113,62}}</string>
        <key>offset</key>
        <string>{-10,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,62}}</string>
        <key>sourceSize</key>
        <string>{113,62}</string>
      </dict>
      <key>weapon_600101_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,113},{106,79}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,79}}</string>
        <key>sourceSize</key>
        <string>{106,79}</string>
      </dict>
      <key>weapon_600101_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,133},{91,93}}</string>
        <key>offset</key>
        <string>{3,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,93}}</string>
        <key>sourceSize</key>
        <string>{91,93}</string>
      </dict>
      <key>weapon_600101_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,226},{92,39}}</string>
        <key>offset</key>
        <string>{-12,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,39}}</string>
        <key>sourceSize</key>
        <string>{92,39}</string>
      </dict>
      <key>weapon_600101_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{111,43}}</string>
        <key>offset</key>
        <string>{-14,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,43}}</string>
        <key>sourceSize</key>
        <string>{111,43}</string>
      </dict>
      <key>weapon_600101_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,48}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,48}}</string>
        <key>sourceSize</key>
        <string>{115,48}</string>
      </dict>
      <key>weapon_600101_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{26,55}}</string>
        <key>offset</key>
        <string>{1,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,55}}</string>
        <key>sourceSize</key>
        <string>{26,55}</string>
      </dict>
      <key>weapon_600101_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,318},{56,53}}</string>
        <key>offset</key>
        <string>{-2,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,53}}</string>
        <key>sourceSize</key>
        <string>{56,53}</string>
      </dict>
      <key>weapon_600101_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,124},{74,45}}</string>
        <key>offset</key>
        <string>{-5,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,45}}</string>
        <key>sourceSize</key>
        <string>{74,45}</string>
      </dict>
      <key>weapon_600101_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,44},{78,47}}</string>
        <key>offset</key>
        <string>{-42,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,47}}</string>
        <key>sourceSize</key>
        <string>{78,47}</string>
      </dict>
      <key>weapon_600101_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,171},{48,56}}</string>
        <key>offset</key>
        <string>{-19,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,56}}</string>
        <key>sourceSize</key>
        <string>{48,56}</string>
      </dict>
      <key>weapon_600101_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,318},{22,56}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,56}}</string>
        <key>sourceSize</key>
        <string>{22,56}</string>
      </dict>
      <key>weapon_600101_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{113,49}}</string>
        <key>offset</key>
        <string>{-59,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,49}}</string>
        <key>sourceSize</key>
        <string>{113,49}</string>
      </dict>
      <key>weapon_600101_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,339},{107,43}}</string>
        <key>offset</key>
        <string>{-53,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,43}}</string>
        <key>sourceSize</key>
        <string>{107,43}</string>
      </dict>
      <key>weapon_600101_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{94,42}}</string>
        <key>offset</key>
        <string>{-49,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,42}}</string>
        <key>sourceSize</key>
        <string>{94,42}</string>
      </dict>
      <key>weapon_600101_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,44},{94,87}}</string>
        <key>offset</key>
        <string>{-33,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,87}}</string>
        <key>sourceSize</key>
        <string>{94,87}</string>
      </dict>
      <key>weapon_600101_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{113,70}}</string>
        <key>offset</key>
        <string>{-51,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,70}}</string>
        <key>sourceSize</key>
        <string>{113,70}</string>
      </dict>
      <key>weapon_600101_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,115},{112,58}}</string>
        <key>offset</key>
        <string>{-58,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,58}}</string>
        <key>sourceSize</key>
        <string>{112,58}</string>
      </dict>
      <key>weapon_600101_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,229},{24,107}}</string>
        <key>offset</key>
        <string>{23,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,107}}</string>
        <key>sourceSize</key>
        <string>{24,107}</string>
      </dict>
      <key>weapon_600101_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,221},{54,100}}</string>
        <key>offset</key>
        <string>{-4,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,100}}</string>
        <key>sourceSize</key>
        <string>{54,100}</string>
      </dict>
      <key>weapon_600101_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,221},{75,95}}</string>
        <key>offset</key>
        <string>{-23,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,95}}</string>
        <key>sourceSize</key>
        <string>{75,95}</string>
      </dict>
      <key>weapon_600101_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{72,101}}</string>
        <key>offset</key>
        <string>{14,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,101}}</string>
        <key>sourceSize</key>
        <string>{72,101}</string>
      </dict>
      <key>weapon_600101_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,229},{48,108}}</string>
        <key>offset</key>
        <string>{19,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,108}}</string>
        <key>sourceSize</key>
        <string>{48,108}</string>
      </dict>
      <key>weapon_600101_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{26,110}}</string>
        <key>offset</key>
        <string>{25,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,110}}</string>
        <key>sourceSize</key>
        <string>{26,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600101_1_7.png</string>
      <key>size</key>
      <string>{384,384}</string>
      <key>textureFileName</key>
      <string>weapon_600101_1_7.png</string>
    </dict>
  </dict>
</plist>