<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600111_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,366},{89,68}}</string>
        <key>offset</key>
        <string>{26,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,68}}</string>
        <key>sourceSize</key>
        <string>{89,68}</string>
      </dict>
      <key>weapon_600111_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{62,114}}</string>
        <key>offset</key>
        <string>{-19,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,114}}</string>
        <key>sourceSize</key>
        <string>{62,114}</string>
      </dict>
      <key>weapon_600111_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,484},{65,53}}</string>
        <key>offset</key>
        <string>{19,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,53}}</string>
        <key>sourceSize</key>
        <string>{65,53}</string>
      </dict>
      <key>weapon_600111_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,436},{46,67}}</string>
        <key>offset</key>
        <string>{-2,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,67}}</string>
        <key>sourceSize</key>
        <string>{46,67}</string>
      </dict>
      <key>weapon_600111_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{50,84}}</string>
        <key>offset</key>
        <string>{-4,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,84}}</string>
        <key>sourceSize</key>
        <string>{50,84}</string>
      </dict>
      <key>weapon_600111_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,129},{110,50}}</string>
        <key>offset</key>
        <string>{12,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,50}}</string>
        <key>sourceSize</key>
        <string>{110,50}</string>
      </dict>
      <key>weapon_600111_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,488},{42,75}}</string>
        <key>offset</key>
        <string>{22,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,75}}</string>
        <key>sourceSize</key>
        <string>{42,75}</string>
      </dict>
      <key>weapon_600111_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{99,85}}</string>
        <key>offset</key>
        <string>{-70,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,85}}</string>
        <key>sourceSize</key>
        <string>{99,85}</string>
      </dict>
      <key>weapon_600111_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,436},{55,43}}</string>
        <key>offset</key>
        <string>{20,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,43}}</string>
        <key>sourceSize</key>
        <string>{55,43}</string>
      </dict>
      <key>weapon_600111_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,222},{101,39}}</string>
        <key>offset</key>
        <string>{16,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,39}}</string>
        <key>sourceSize</key>
        <string>{101,39}</string>
      </dict>
      <key>weapon_600111_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{115,46}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,46}}</string>
        <key>sourceSize</key>
        <string>{115,46}</string>
      </dict>
      <key>weapon_600111_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,389},{90,47}}</string>
        <key>offset</key>
        <string>{29,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,47}}</string>
        <key>sourceSize</key>
        <string>{90,47}</string>
      </dict>
      <key>weapon_600111_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,306},{93,58}}</string>
        <key>offset</key>
        <string>{-45,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,58}}</string>
        <key>sourceSize</key>
        <string>{93,58}</string>
      </dict>
      <key>weapon_600111_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,494},{85,50}}</string>
        <key>offset</key>
        <string>{-60,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,50}}</string>
        <key>sourceSize</key>
        <string>{85,50}</string>
      </dict>
      <key>weapon_600111_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,64},{88,37}}</string>
        <key>offset</key>
        <string>{-23,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,37}}</string>
        <key>sourceSize</key>
        <string>{88,37}</string>
      </dict>
      <key>weapon_600111_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,97},{111,55}}</string>
        <key>offset</key>
        <string>{31,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,55}}</string>
        <key>sourceSize</key>
        <string>{111,55}</string>
      </dict>
      <key>weapon_600111_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,47},{116,52}}</string>
        <key>offset</key>
        <string>{18,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,52}}</string>
        <key>sourceSize</key>
        <string>{116,52}</string>
      </dict>
      <key>weapon_600111_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,598},{37,56}}</string>
        <key>offset</key>
        <string>{27,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,56}}</string>
        <key>sourceSize</key>
        <string>{37,56}</string>
      </dict>
      <key>weapon_600111_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,101},{111,54}}</string>
        <key>offset</key>
        <string>{-79,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,54}}</string>
        <key>sourceSize</key>
        <string>{111,54}</string>
      </dict>
      <key>weapon_600111_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,382},{44,42}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,42}}</string>
        <key>sourceSize</key>
        <string>{44,42}</string>
      </dict>
      <key>weapon_600111_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{108,73}}</string>
        <key>offset</key>
        <string>{-58,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,73}}</string>
        <key>sourceSize</key>
        <string>{108,73}</string>
      </dict>
      <key>weapon_600111_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,263},{67,97}}</string>
        <key>offset</key>
        <string>{32,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,97}}</string>
        <key>sourceSize</key>
        <string>{67,97}</string>
      </dict>
      <key>weapon_600111_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,571},{64,84}}</string>
        <key>offset</key>
        <string>{31,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,84}}</string>
        <key>sourceSize</key>
        <string>{64,84}</string>
      </dict>
      <key>weapon_600111_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,571},{84,42}}</string>
        <key>offset</key>
        <string>{-35,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,42}}</string>
        <key>sourceSize</key>
        <string>{84,42}</string>
      </dict>
      <key>weapon_600111_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,488},{77,84}}</string>
        <key>offset</key>
        <string>{-60,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,84}}</string>
        <key>sourceSize</key>
        <string>{77,84}</string>
      </dict>
      <key>weapon_600111_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,551},{57,50}}</string>
        <key>offset</key>
        <string>{8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,50}}</string>
        <key>sourceSize</key>
        <string>{57,50}</string>
      </dict>
      <key>weapon_600111_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,157},{75,109}}</string>
        <key>offset</key>
        <string>{-48,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,109}}</string>
        <key>sourceSize</key>
        <string>{75,109}</string>
      </dict>
      <key>weapon_600111_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,234},{58,100}}</string>
        <key>offset</key>
        <string>{-5,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,100}}</string>
        <key>sourceSize</key>
        <string>{58,100}</string>
      </dict>
      <key>weapon_600111_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{55,90}}</string>
        <key>offset</key>
        <string>{-2,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,90}}</string>
        <key>sourceSize</key>
        <string>{55,90}</string>
      </dict>
      <key>weapon_600111_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,181},{107,57}}</string>
        <key>offset</key>
        <string>{-74,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,57}}</string>
        <key>sourceSize</key>
        <string>{107,57}</string>
      </dict>
      <key>weapon_600111_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,438},{46,87}}</string>
        <key>offset</key>
        <string>{-18,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,87}}</string>
        <key>sourceSize</key>
        <string>{46,87}</string>
      </dict>
      <key>weapon_600111_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,420},{89,66}}</string>
        <key>offset</key>
        <string>{20,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,66}}</string>
        <key>sourceSize</key>
        <string>{89,66}</string>
      </dict>
      <key>weapon_600111_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59,123}}</string>
        <key>offset</key>
        <string>{-26,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,123}}</string>
        <key>sourceSize</key>
        <string>{59,123}</string>
      </dict>
      <key>weapon_600111_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,64},{112,63}}</string>
        <key>offset</key>
        <string>{-68,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,63}}</string>
        <key>sourceSize</key>
        <string>{112,63}</string>
      </dict>
      <key>weapon_600111_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,154},{110,66}}</string>
        <key>offset</key>
        <string>{-64,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,66}}</string>
        <key>sourceSize</key>
        <string>{110,66}</string>
      </dict>
      <key>weapon_600111_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,286},{83,94}}</string>
        <key>offset</key>
        <string>{-63,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,94}}</string>
        <key>sourceSize</key>
        <string>{83,94}</string>
      </dict>
      <key>weapon_600111_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,240},{98,64}}</string>
        <key>offset</key>
        <string>{-3,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,64}}</string>
        <key>sourceSize</key>
        <string>{98,64}</string>
      </dict>
      <key>weapon_600111_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,332},{86,91}}</string>
        <key>offset</key>
        <string>{21,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,91}}</string>
        <key>sourceSize</key>
        <string>{86,91}</string>
      </dict>
      <key>weapon_600111_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,294},{97,93}}</string>
        <key>offset</key>
        <string>{-22,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,93}}</string>
        <key>sourceSize</key>
        <string>{97,93}</string>
      </dict>
      <key>weapon_600111_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{117,45}}</string>
        <key>offset</key>
        <string>{-95,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,45}}</string>
        <key>sourceSize</key>
        <string>{117,45}</string>
      </dict>
      <key>weapon_600111_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{117,48}}</string>
        <key>offset</key>
        <string>{-87,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,48}}</string>
        <key>sourceSize</key>
        <string>{117,48}</string>
      </dict>
      <key>weapon_600111_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{50,109}}</string>
        <key>offset</key>
        <string>{-25,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,109}}</string>
        <key>sourceSize</key>
        <string>{50,109}</string>
      </dict>
      <key>weapon_600111_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,50},{114,45}}</string>
        <key>offset</key>
        <string>{16,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,45}}</string>
        <key>sourceSize</key>
        <string>{114,45}</string>
      </dict>
      <key>weapon_600111_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{47,111}}</string>
        <key>offset</key>
        <string>{15,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,111}}</string>
        <key>sourceSize</key>
        <string>{47,111}</string>
      </dict>
      <key>weapon_600111_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,181},{103,59}}</string>
        <key>offset</key>
        <string>{-2,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,59}}</string>
        <key>sourceSize</key>
        <string>{103,59}</string>
      </dict>
      <key>weapon_600111_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,567},{63,82}}</string>
        <key>offset</key>
        <string>{-52,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,82}}</string>
        <key>sourceSize</key>
        <string>{63,82}</string>
      </dict>
      <key>weapon_600111_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{63,94}}</string>
        <key>offset</key>
        <string>{-47,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,94}}</string>
        <key>sourceSize</key>
        <string>{63,94}</string>
      </dict>
      <key>weapon_600111_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,486},{87,83}}</string>
        <key>offset</key>
        <string>{-1,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,83}}</string>
        <key>sourceSize</key>
        <string>{87,83}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600111_0_10.png</string>
      <key>size</key>
      <string>{512,640}</string>
      <key>textureFileName</key>
      <string>weapon_600111_0_10.png</string>
    </dict>
  </dict>
</plist>