<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60002_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{88,83}}</string>
        <key>offset</key>
        <string>{2,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,83}}</string>
        <key>sourceSize</key>
        <string>{88,83}</string>
      </dict>
      <key>weapon_60002_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,437},{95,51}}</string>
        <key>offset</key>
        <string>{-24,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,51}}</string>
        <key>sourceSize</key>
        <string>{95,51}</string>
      </dict>
      <key>weapon_60002_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,369},{117,69}}</string>
        <key>offset</key>
        <string>{-22,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,69}}</string>
        <key>sourceSize</key>
        <string>{117,69}</string>
      </dict>
      <key>weapon_60002_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,214},{99,79}}</string>
        <key>offset</key>
        <string>{1,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,79}}</string>
        <key>sourceSize</key>
        <string>{99,79}</string>
      </dict>
      <key>weapon_60002_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{44,121}}</string>
        <key>offset</key>
        <string>{36,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,121}}</string>
        <key>sourceSize</key>
        <string>{44,121}</string>
      </dict>
      <key>weapon_60002_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{119,55}}</string>
        <key>offset</key>
        <string>{-30,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,55}}</string>
        <key>sourceSize</key>
        <string>{119,55}</string>
      </dict>
      <key>weapon_60002_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{120,55}}</string>
        <key>offset</key>
        <string>{-60,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,55}}</string>
        <key>sourceSize</key>
        <string>{120,55}</string>
      </dict>
      <key>weapon_60002_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,124},{120,50}}</string>
        <key>offset</key>
        <string>{-54,-24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,50}}</string>
        <key>sourceSize</key>
        <string>{120,50}</string>
      </dict>
      <key>weapon_60002_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,335},{100,90}}</string>
        <key>offset</key>
        <string>{-1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,90}}</string>
        <key>sourceSize</key>
        <string>{100,90}</string>
      </dict>
      <key>weapon_60002_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,104},{95,98}}</string>
        <key>offset</key>
        <string>{-19,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,98}}</string>
        <key>sourceSize</key>
        <string>{95,98}</string>
      </dict>
      <key>weapon_60002_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,85},{64,88}}</string>
        <key>offset</key>
        <string>{-56,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,88}}</string>
        <key>sourceSize</key>
        <string>{64,88}</string>
      </dict>
      <key>weapon_60002_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{102,84}}</string>
        <key>offset</key>
        <string>{-77,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,84}}</string>
        <key>sourceSize</key>
        <string>{102,84}</string>
      </dict>
      <key>weapon_60002_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,246},{117,52}}</string>
        <key>offset</key>
        <string>{-35,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,52}}</string>
        <key>sourceSize</key>
        <string>{117,52}</string>
      </dict>
      <key>weapon_60002_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,118},{46,109}}</string>
        <key>offset</key>
        <string>{3,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,109}}</string>
        <key>sourceSize</key>
        <string>{46,109}</string>
      </dict>
      <key>weapon_60002_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,229},{104,81}}</string>
        <key>offset</key>
        <string>{-64,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,81}}</string>
        <key>sourceSize</key>
        <string>{104,81}</string>
      </dict>
      <key>weapon_60002_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{47,122}}</string>
        <key>offset</key>
        <string>{-58,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,122}}</string>
        <key>sourceSize</key>
        <string>{47,122}</string>
      </dict>
      <key>weapon_60002_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,365},{115,72}}</string>
        <key>offset</key>
        <string>{-55,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,72}}</string>
        <key>sourceSize</key>
        <string>{115,72}</string>
      </dict>
      <key>weapon_60002_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,204},{81,92}}</string>
        <key>offset</key>
        <string>{-17,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,92}}</string>
        <key>sourceSize</key>
        <string>{81,92}</string>
      </dict>
      <key>weapon_60002_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,121},{117,41}}</string>
        <key>offset</key>
        <string>{-45,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,41}}</string>
        <key>sourceSize</key>
        <string>{117,41}</string>
      </dict>
      <key>weapon_60002_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,108},{104,76}}</string>
        <key>offset</key>
        <string>{-53,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,76}}</string>
        <key>sourceSize</key>
        <string>{104,76}</string>
      </dict>
      <key>weapon_60002_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,283},{42,77}}</string>
        <key>offset</key>
        <string>{-31,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,77}}</string>
        <key>sourceSize</key>
        <string>{42,77}</string>
      </dict>
      <key>weapon_60002_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{106,53}}</string>
        <key>offset</key>
        <string>{-35,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,53}}</string>
        <key>sourceSize</key>
        <string>{106,53}</string>
      </dict>
      <key>weapon_60002_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{97,79}}</string>
        <key>offset</key>
        <string>{0,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>weapon_60002_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{116,37}}</string>
        <key>offset</key>
        <string>{-16,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,37}}</string>
        <key>sourceSize</key>
        <string>{116,37}</string>
      </dict>
      <key>weapon_60002_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,357},{106,58}}</string>
        <key>offset</key>
        <string>{-55,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,58}}</string>
        <key>sourceSize</key>
        <string>{106,58}</string>
      </dict>
      <key>weapon_60002_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,85},{78,38}}</string>
        <key>offset</key>
        <string>{-21,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,38}}</string>
        <key>sourceSize</key>
        <string>{78,38}</string>
      </dict>
      <key>weapon_60002_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,315},{52,95}}</string>
        <key>offset</key>
        <string>{46,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,95}}</string>
        <key>sourceSize</key>
        <string>{52,95}</string>
      </dict>
      <key>weapon_60002_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,412},{94,74}}</string>
        <key>offset</key>
        <string>{29,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,74}}</string>
        <key>sourceSize</key>
        <string>{94,74}</string>
      </dict>
      <key>weapon_60002_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,240},{115,48}}</string>
        <key>offset</key>
        <string>{-34,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,48}}</string>
        <key>sourceSize</key>
        <string>{115,48}</string>
      </dict>
      <key>weapon_60002_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,298},{48,53}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,53}}</string>
        <key>sourceSize</key>
        <string>{48,53}</string>
      </dict>
      <key>weapon_60002_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,151},{82,87}}</string>
        <key>offset</key>
        <string>{20,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,87}}</string>
        <key>sourceSize</key>
        <string>{82,87}</string>
      </dict>
      <key>weapon_60002_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,235},{46,79}}</string>
        <key>offset</key>
        <string>{57,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,79}}</string>
        <key>sourceSize</key>
        <string>{46,79}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60002_0_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_60002_0_4.png</string>
    </dict>
  </dict>
</plist>