<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60012_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,172},{77,71}}</string>
        <key>offset</key>
        <string>{35,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,71}}</string>
        <key>sourceSize</key>
        <string>{77,71}</string>
      </dict>
      <key>weapon_60012_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,117},{48,50}}</string>
        <key>offset</key>
        <string>{31,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_60012_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,172},{68,53}}</string>
        <key>offset</key>
        <string>{-30,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,53}}</string>
        <key>sourceSize</key>
        <string>{68,53}</string>
      </dict>
      <key>weapon_60012_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,93},{89,77}}</string>
        <key>offset</key>
        <string>{-64,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,77}}</string>
        <key>sourceSize</key>
        <string>{89,77}</string>
      </dict>
      <key>weapon_60012_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{79,115}}</string>
        <key>offset</key>
        <string>{-63,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,115}}</string>
        <key>sourceSize</key>
        <string>{79,115}</string>
      </dict>
      <key>weapon_60012_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,136}}</string>
        <key>offset</key>
        <string>{-27,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,136}}</string>
        <key>sourceSize</key>
        <string>{56,136}</string>
      </dict>
      <key>weapon_60012_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{71,115}}</string>
        <key>offset</key>
        <string>{5,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,115}}</string>
        <key>sourceSize</key>
        <string>{71,115}</string>
      </dict>
      <key>weapon_60012_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{91,103}}</string>
        <key>offset</key>
        <string>{24,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,103}}</string>
        <key>sourceSize</key>
        <string>{91,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60012_1_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_60012_1_11.png</string>
    </dict>
  </dict>
</plist>