<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60005_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,253},{24,48}}</string>
        <key>offset</key>
        <string>{25,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,48}}</string>
        <key>sourceSize</key>
        <string>{24,48}</string>
      </dict>
      <key>weapon_60005_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,186},{21,65}}</string>
        <key>offset</key>
        <string>{20,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,65}}</string>
        <key>sourceSize</key>
        <string>{21,65}</string>
      </dict>
      <key>weapon_60005_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{80,41}}</string>
        <key>offset</key>
        <string>{18,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,41}}</string>
        <key>sourceSize</key>
        <string>{80,41}</string>
      </dict>
      <key>weapon_60005_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{80,52}}</string>
        <key>offset</key>
        <string>{30,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,52}}</string>
        <key>sourceSize</key>
        <string>{80,52}</string>
      </dict>
      <key>weapon_60005_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{110,56}}</string>
        <key>offset</key>
        <string>{4,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,56}}</string>
        <key>sourceSize</key>
        <string>{110,56}</string>
      </dict>
      <key>weapon_60005_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,38}}</string>
        <key>offset</key>
        <string>{24,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,38}}</string>
        <key>sourceSize</key>
        <string>{117,38}</string>
      </dict>
      <key>weapon_60005_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{80,92}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,92}}</string>
        <key>sourceSize</key>
        <string>{80,92}</string>
      </dict>
      <key>weapon_60005_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,94},{91,73}}</string>
        <key>offset</key>
        <string>{18,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,73}}</string>
        <key>sourceSize</key>
        <string>{91,73}</string>
      </dict>
      <key>weapon_60005_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{25,105}}</string>
        <key>offset</key>
        <string>{-3,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,105}}</string>
        <key>sourceSize</key>
        <string>{25,105}</string>
      </dict>
      <key>weapon_60005_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,94},{25,92}}</string>
        <key>offset</key>
        <string>{5,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,92}}</string>
        <key>sourceSize</key>
        <string>{25,92}</string>
      </dict>
      <key>weapon_60005_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,91},{79,85}}</string>
        <key>offset</key>
        <string>{-46,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,85}}</string>
        <key>sourceSize</key>
        <string>{79,85}</string>
      </dict>
      <key>weapon_60005_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{78,76}}</string>
        <key>offset</key>
        <string>{-61,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>weapon_60005_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{109,47}}</string>
        <key>offset</key>
        <string>{-74,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,47}}</string>
        <key>sourceSize</key>
        <string>{109,47}</string>
      </dict>
      <key>weapon_60005_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{115,38}}</string>
        <key>offset</key>
        <string>{-95,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,38}}</string>
        <key>sourceSize</key>
        <string>{115,38}</string>
      </dict>
      <key>weapon_60005_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,159},{77,31}}</string>
        <key>offset</key>
        <string>{-35,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>weapon_60005_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{89,44}}</string>
        <key>offset</key>
        <string>{-58,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,44}}</string>
        <key>sourceSize</key>
        <string>{89,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60005_1_8.png</string>
      <key>size</key>
      <string>{387,282}</string>
      <key>textureFileName</key>
      <string>weapon_60005_1_8.png</string>
    </dict>
  </dict>
</plist>