<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_60004_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,193},{127,173}}</string>
        <key>offset</key>
        <string>{-15,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,173}}</string>
        <key>sourceSize</key>
        <string>{127,173}</string>
      </dict>
      <key>weapon_60004_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,132},{125,141}}</string>
        <key>offset</key>
        <string>{-20,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,141}}</string>
        <key>sourceSize</key>
        <string>{125,141}</string>
      </dict>
      <key>weapon_60004_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,173},{110,153}}</string>
        <key>offset</key>
        <string>{-15,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,153}}</string>
        <key>sourceSize</key>
        <string>{110,153}</string>
      </dict>
      <key>weapon_60004_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,377},{131,131}}</string>
        <key>offset</key>
        <string>{-24,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,131}}</string>
        <key>sourceSize</key>
        <string>{131,131}</string>
      </dict>
      <key>weapon_60004_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{152,124}}</string>
        <key>offset</key>
        <string>{-35,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,124}}</string>
        <key>sourceSize</key>
        <string>{152,124}</string>
      </dict>
      <key>weapon_60004_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,368},{165,144}}</string>
        <key>offset</key>
        <string>{-40,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,144}}</string>
        <key>sourceSize</key>
        <string>{165,144}</string>
      </dict>
      <key>weapon_60004_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,539},{99,125}}</string>
        <key>offset</key>
        <string>{-23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,125}}</string>
        <key>sourceSize</key>
        <string>{99,125}</string>
      </dict>
      <key>weapon_60004_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,154},{100,120}}</string>
        <key>offset</key>
        <string>{-17,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,120}}</string>
        <key>sourceSize</key>
        <string>{100,120}</string>
      </dict>
      <key>weapon_60004_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,259},{116,133}}</string>
        <key>offset</key>
        <string>{-24,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,133}}</string>
        <key>sourceSize</key>
        <string>{116,133}</string>
      </dict>
      <key>weapon_60004_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,623},{54,46}}</string>
        <key>offset</key>
        <string>{-40,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,46}}</string>
        <key>sourceSize</key>
        <string>{54,46}</string>
      </dict>
      <key>weapon_60004_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,617},{47,61}}</string>
        <key>offset</key>
        <string>{-24,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,61}}</string>
        <key>sourceSize</key>
        <string>{47,61}</string>
      </dict>
      <key>weapon_60004_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,510},{54,105}}</string>
        <key>offset</key>
        <string>{-14,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,105}}</string>
        <key>sourceSize</key>
        <string>{54,105}</string>
      </dict>
      <key>weapon_60004_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,535},{99,87}}</string>
        <key>offset</key>
        <string>{-51,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,87}}</string>
        <key>sourceSize</key>
        <string>{99,87}</string>
      </dict>
      <key>weapon_60004_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,510},{111,109}}</string>
        <key>offset</key>
        <string>{-58,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,109}}</string>
        <key>sourceSize</key>
        <string>{111,109}</string>
      </dict>
      <key>weapon_60004_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,383},{98,112}}</string>
        <key>offset</key>
        <string>{-53,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,112}}</string>
        <key>sourceSize</key>
        <string>{98,112}</string>
      </dict>
      <key>weapon_60004_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,510},{126,125}}</string>
        <key>offset</key>
        <string>{-50,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,125}}</string>
        <key>sourceSize</key>
        <string>{126,125}</string>
      </dict>
      <key>weapon_60004_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{130,147}}</string>
        <key>offset</key>
        <string>{-55,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,147}}</string>
        <key>sourceSize</key>
        <string>{130,147}</string>
      </dict>
      <key>weapon_60004_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,259},{136,122}}</string>
        <key>offset</key>
        <string>{-57,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,122}}</string>
        <key>sourceSize</key>
        <string>{136,122}</string>
      </dict>
      <key>weapon_60004_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{116,191}}</string>
        <key>offset</key>
        <string>{-16,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,191}}</string>
        <key>sourceSize</key>
        <string>{116,191}</string>
      </dict>
      <key>weapon_60004_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{117,187}}</string>
        <key>offset</key>
        <string>{-25,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,187}}</string>
        <key>sourceSize</key>
        <string>{117,187}</string>
      </dict>
      <key>weapon_60004_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{123,171}}</string>
        <key>offset</key>
        <string>{-32,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,171}}</string>
        <key>sourceSize</key>
        <string>{123,171}</string>
      </dict>
      <key>weapon_60004_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,368},{70,169}}</string>
        <key>offset</key>
        <string>{22,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,169}}</string>
        <key>sourceSize</key>
        <string>{70,169}</string>
      </dict>
      <key>weapon_60004_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{75,197}}</string>
        <key>offset</key>
        <string>{13,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,197}}</string>
        <key>sourceSize</key>
        <string>{75,197}</string>
      </dict>
      <key>weapon_60004_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{80,195}}</string>
        <key>offset</key>
        <string>{5,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,195}}</string>
        <key>sourceSize</key>
        <string>{80,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_60004_1_7.png</string>
      <key>size</key>
      <string>{641,683}</string>
      <key>textureFileName</key>
      <string>weapon_60004_1_7.png</string>
    </dict>
  </dict>
</plist>