<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_600091_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,283},{85,96}}</string>
        <key>offset</key>
        <string>{-6,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,96}}</string>
        <key>sourceSize</key>
        <string>{85,96}</string>
      </dict>
      <key>weapon_600091_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,283},{71,90}}</string>
        <key>offset</key>
        <string>{-22,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,90}}</string>
        <key>sourceSize</key>
        <string>{71,90}</string>
      </dict>
      <key>weapon_600091_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,287},{95,114}}</string>
        <key>offset</key>
        <string>{11,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,114}}</string>
        <key>sourceSize</key>
        <string>{95,114}</string>
      </dict>
      <key>weapon_600091_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,189},{92,98}}</string>
        <key>offset</key>
        <string>{6,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,98}}</string>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>weapon_600091_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,146},{139,89}}</string>
        <key>offset</key>
        <string>{-4,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,89}}</string>
        <key>sourceSize</key>
        <string>{139,89}</string>
      </dict>
      <key>weapon_600091_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{127,76}}</string>
        <key>offset</key>
        <string>{20,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,76}}</string>
        <key>sourceSize</key>
        <string>{127,76}</string>
      </dict>
      <key>weapon_600091_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{140,92}}</string>
        <key>offset</key>
        <string>{-9,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,92}}</string>
        <key>sourceSize</key>
        <string>{140,92}</string>
      </dict>
      <key>weapon_600091_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,140},{137,118}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,118}}</string>
        <key>sourceSize</key>
        <string>{137,118}</string>
      </dict>
      <key>weapon_600091_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,189},{121,111}}</string>
        <key>offset</key>
        <string>{-49,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,111}}</string>
        <key>sourceSize</key>
        <string>{121,111}</string>
      </dict>
      <key>weapon_600091_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,78},{109,125}}</string>
        <key>offset</key>
        <string>{-8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,125}}</string>
        <key>sourceSize</key>
        <string>{109,125}</string>
      </dict>
      <key>weapon_600091_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,111}}</string>
        <key>offset</key>
        <string>{-63,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,111}}</string>
        <key>sourceSize</key>
        <string>{144,111}</string>
      </dict>
      <key>weapon_600091_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,312},{63,112}}</string>
        <key>offset</key>
        <string>{-35,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,112}}</string>
        <key>sourceSize</key>
        <string>{63,112}</string>
      </dict>
      <key>weapon_600091_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{138,81}}</string>
        <key>offset</key>
        <string>{-86,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,81}}</string>
        <key>sourceSize</key>
        <string>{138,81}</string>
      </dict>
      <key>weapon_600091_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{141,99}}</string>
        <key>offset</key>
        <string>{-101,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,99}}</string>
        <key>sourceSize</key>
        <string>{141,99}</string>
      </dict>
      <key>weapon_600091_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{133,89}}</string>
        <key>offset</key>
        <string>{-59,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,89}}</string>
        <key>sourceSize</key>
        <string>{133,89}</string>
      </dict>
      <key>weapon_600091_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{134,89}}</string>
        <key>offset</key>
        <string>{-94,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,89}}</string>
        <key>sourceSize</key>
        <string>{134,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_600091_1_8.png</string>
      <key>size</key>
      <string>{594,386}</string>
      <key>textureFileName</key>
      <string>weapon_600091_1_8.png</string>
    </dict>
  </dict>
</plist>