<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30074_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,289},{279,117}}</string>
        <key>offset</key>
        <string>{-74,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,117}}</string>
        <key>sourceSize</key>
        <string>{279,117}</string>
      </dict>
      <key>monster_30074_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,590},{281,122}}</string>
        <key>offset</key>
        <string>{-78,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,122}}</string>
        <key>sourceSize</key>
        <string>{281,122}</string>
      </dict>
      <key>monster_30074_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1208},{284,120}}</string>
        <key>offset</key>
        <string>{-88,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,120}}</string>
        <key>sourceSize</key>
        <string>{284,120}</string>
      </dict>
      <key>monster_30074_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,873},{276,136}}</string>
        <key>offset</key>
        <string>{-86,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,136}}</string>
        <key>sourceSize</key>
        <string>{276,136}</string>
      </dict>
      <key>monster_30074_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,1258},{181,183}}</string>
        <key>offset</key>
        <string>{-57,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,183}}</string>
        <key>sourceSize</key>
        <string>{181,183}</string>
      </dict>
      <key>monster_30074_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,1522},{169,180}}</string>
        <key>offset</key>
        <string>{-40,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,180}}</string>
        <key>sourceSize</key>
        <string>{169,180}</string>
      </dict>
      <key>monster_30074_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,1492},{167,169}}</string>
        <key>offset</key>
        <string>{-31,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,169}}</string>
        <key>sourceSize</key>
        <string>{167,169}</string>
      </dict>
      <key>monster_30074_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,1443},{183,180}}</string>
        <key>offset</key>
        <string>{-28,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,180}}</string>
        <key>sourceSize</key>
        <string>{183,180}</string>
      </dict>
      <key>monster_30074_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1113},{206,159}}</string>
        <key>offset</key>
        <string>{-22,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,159}}</string>
        <key>sourceSize</key>
        <string>{206,159}</string>
      </dict>
      <key>monster_30074_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,507},{231,168}}</string>
        <key>offset</key>
        <string>{-23,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,168}}</string>
        <key>sourceSize</key>
        <string>{231,168}</string>
      </dict>
      <key>monster_30074_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,241},{230,139}}</string>
        <key>offset</key>
        <string>{-37,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,139}}</string>
        <key>sourceSize</key>
        <string>{230,139}</string>
      </dict>
      <key>monster_30074_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,797},{249,144}}</string>
        <key>offset</key>
        <string>{-35,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,144}}</string>
        <key>sourceSize</key>
        <string>{249,144}</string>
      </dict>
      <key>monster_30074_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,281},{261,158}}</string>
        <key>offset</key>
        <string>{-49,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,158}}</string>
        <key>sourceSize</key>
        <string>{261,158}</string>
      </dict>
      <key>monster_30074_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,1341},{243,175}}</string>
        <key>offset</key>
        <string>{-32,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,175}}</string>
        <key>sourceSize</key>
        <string>{243,175}</string>
      </dict>
      <key>monster_30074_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,1411},{181,141}}</string>
        <key>offset</key>
        <string>{-30,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,141}}</string>
        <key>sourceSize</key>
        <string>{181,141}</string>
      </dict>
      <key>monster_30074_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,141},{192,171}}</string>
        <key>offset</key>
        <string>{-25,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,171}}</string>
        <key>sourceSize</key>
        <string>{192,171}</string>
      </dict>
      <key>monster_30074_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1255,435},{200,150}}</string>
        <key>offset</key>
        <string>{-27,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,150}}</string>
        <key>sourceSize</key>
        <string>{200,150}</string>
      </dict>
      <key>monster_30074_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,691},{223,159}}</string>
        <key>offset</key>
        <string>{-42,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,159}}</string>
        <key>sourceSize</key>
        <string>{223,159}</string>
      </dict>
      <key>monster_30074_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,221},{212,161}}</string>
        <key>offset</key>
        <string>{-24,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,161}}</string>
        <key>sourceSize</key>
        <string>{212,161}</string>
      </dict>
      <key>monster_30074_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,455},{213,176}}</string>
        <key>offset</key>
        <string>{-25,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,176}}</string>
        <key>sourceSize</key>
        <string>{213,176}</string>
      </dict>
      <key>monster_30074_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1329,873},{195,175}}</string>
        <key>offset</key>
        <string>{-22,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,175}}</string>
        <key>sourceSize</key>
        <string>{195,175}</string>
      </dict>
      <key>monster_30074_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,1522},{181,174}}</string>
        <key>offset</key>
        <string>{-25,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,174}}</string>
        <key>sourceSize</key>
        <string>{181,174}</string>
      </dict>
      <key>monster_30074_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1414},{183,177}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,177}}</string>
        <key>sourceSize</key>
        <string>{183,177}</string>
      </dict>
      <key>monster_30074_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,314},{182,190}}</string>
        <key>offset</key>
        <string>{-27,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,190}}</string>
        <key>sourceSize</key>
        <string>{182,190}</string>
      </dict>
      <key>monster_30074_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,740},{226,99}}</string>
        <key>offset</key>
        <string>{-87,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,99}}</string>
        <key>sourceSize</key>
        <string>{226,99}</string>
      </dict>
      <key>monster_30074_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,570},{262,113}}</string>
        <key>offset</key>
        <string>{-83,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,113}}</string>
        <key>sourceSize</key>
        <string>{262,113}</string>
      </dict>
      <key>monster_30074_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,299},{289,105}}</string>
        <key>offset</key>
        <string>{-93,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,105}}</string>
        <key>sourceSize</key>
        <string>{289,105}</string>
      </dict>
      <key>monster_30074_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,92}}</string>
        <key>offset</key>
        <string>{-100,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,92}}</string>
        <key>sourceSize</key>
        <string>{320,92}</string>
      </dict>
      <key>monster_30074_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{287,112}}</string>
        <key>offset</key>
        <string>{-64,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,112}}</string>
        <key>sourceSize</key>
        <string>{287,112}</string>
      </dict>
      <key>monster_30074_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{297,116}}</string>
        <key>offset</key>
        <string>{-71,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,116}}</string>
        <key>sourceSize</key>
        <string>{297,116}</string>
      </dict>
      <key>monster_30074_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,637},{195,188}}</string>
        <key>offset</key>
        <string>{-81,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,188}}</string>
        <key>sourceSize</key>
        <string>{195,188}</string>
      </dict>
      <key>monster_30074_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,1132},{208,182}}</string>
        <key>offset</key>
        <string>{-90,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,182}}</string>
        <key>sourceSize</key>
        <string>{208,182}</string>
      </dict>
      <key>monster_30074_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,232},{229,176}}</string>
        <key>offset</key>
        <string>{-99,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,176}}</string>
        <key>sourceSize</key>
        <string>{229,176}</string>
      </dict>
      <key>monster_30074_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,0},{229,163}}</string>
        <key>offset</key>
        <string>{-100,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,163}}</string>
        <key>sourceSize</key>
        <string>{229,163}</string>
      </dict>
      <key>monster_30074_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,463},{226,105}}</string>
        <key>offset</key>
        <string>{-76,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,105}}</string>
        <key>sourceSize</key>
        <string>{226,105}</string>
      </dict>
      <key>monster_30074_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,544},{251,126}}</string>
        <key>offset</key>
        <string>{-78,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,126}}</string>
        <key>sourceSize</key>
        <string>{251,126}</string>
      </dict>
      <key>monster_30074_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,1089},{250,156}}</string>
        <key>offset</key>
        <string>{-78,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,156}}</string>
        <key>sourceSize</key>
        <string>{250,156}</string>
      </dict>
      <key>monster_30074_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{279,156}}</string>
        <key>offset</key>
        <string>{-81,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,156}}</string>
        <key>sourceSize</key>
        <string>{279,156}</string>
      </dict>
      <key>monster_30074_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,629},{290,138}}</string>
        <key>offset</key>
        <string>{-96,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,138}}</string>
        <key>sourceSize</key>
        <string>{290,138}</string>
      </dict>
      <key>monster_30074_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{305,128}}</string>
        <key>offset</key>
        <string>{-115,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,128}}</string>
        <key>sourceSize</key>
        <string>{305,128}</string>
      </dict>
      <key>monster_30074_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,263},{242,180}}</string>
        <key>offset</key>
        <string>{-120,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,180}}</string>
        <key>sourceSize</key>
        <string>{242,180}</string>
      </dict>
      <key>monster_30074_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,544},{249,166}}</string>
        <key>offset</key>
        <string>{-123,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,166}}</string>
        <key>sourceSize</key>
        <string>{249,166}</string>
      </dict>
      <key>monster_30074_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{261,158}}</string>
        <key>offset</key>
        <string>{-125,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,158}}</string>
        <key>sourceSize</key>
        <string>{261,158}</string>
      </dict>
      <key>monster_30074_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,1151},{258,143}}</string>
        <key>offset</key>
        <string>{-124,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,143}}</string>
        <key>sourceSize</key>
        <string>{258,143}</string>
      </dict>
      <key>monster_30074_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,463},{222,123}}</string>
        <key>offset</key>
        <string>{-76,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,123}}</string>
        <key>sourceSize</key>
        <string>{222,123}</string>
      </dict>
      <key>monster_30074_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,1194},{215,157}}</string>
        <key>offset</key>
        <string>{-81,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,157}}</string>
        <key>sourceSize</key>
        <string>{215,157}</string>
      </dict>
      <key>monster_30074_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,916},{203,214}}</string>
        <key>offset</key>
        <string>{-88,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,214}}</string>
        <key>sourceSize</key>
        <string>{203,214}</string>
      </dict>
      <key>monster_30074_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,1342},{185,208}}</string>
        <key>offset</key>
        <string>{-97,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,208}}</string>
        <key>sourceSize</key>
        <string>{185,208}</string>
      </dict>
      <key>monster_30074_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,0},{187,197}}</string>
        <key>offset</key>
        <string>{-117,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,197}}</string>
        <key>sourceSize</key>
        <string>{187,197}</string>
      </dict>
      <key>monster_30074_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1407,412},{194,175}}</string>
        <key>offset</key>
        <string>{-123,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,175}}</string>
        <key>sourceSize</key>
        <string>{194,175}</string>
      </dict>
      <key>monster_30074_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,0},{210,133}}</string>
        <key>offset</key>
        <string>{-125,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,133}}</string>
        <key>sourceSize</key>
        <string>{210,133}</string>
      </dict>
      <key>monster_30074_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,903},{208,144}}</string>
        <key>offset</key>
        <string>{-125,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,144}}</string>
        <key>sourceSize</key>
        <string>{208,144}</string>
      </dict>
      <key>monster_30074_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,231},{222,153}}</string>
        <key>offset</key>
        <string>{-125,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,153}}</string>
        <key>sourceSize</key>
        <string>{222,153}</string>
      </dict>
      <key>monster_30074_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1347,1321},{205,136}}</string>
        <key>offset</key>
        <string>{-125,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,136}}</string>
        <key>sourceSize</key>
        <string>{205,136}</string>
      </dict>
      <key>monster_30074_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,1287},{233,138}}</string>
        <key>offset</key>
        <string>{-103,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,138}}</string>
        <key>sourceSize</key>
        <string>{233,138}</string>
      </dict>
      <key>monster_30074_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,834},{253,152}}</string>
        <key>offset</key>
        <string>{-119,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,152}}</string>
        <key>sourceSize</key>
        <string>{253,152}</string>
      </dict>
      <key>monster_30074_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,1208},{282,196}}</string>
        <key>offset</key>
        <string>{-125,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,196}}</string>
        <key>sourceSize</key>
        <string>{282,196}</string>
      </dict>
      <key>monster_30074_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,921},{285,189}}</string>
        <key>offset</key>
        <string>{-130,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,189}}</string>
        <key>sourceSize</key>
        <string>{285,189}</string>
      </dict>
      <key>monster_30074_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,1048},{237,193}}</string>
        <key>offset</key>
        <string>{-140,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,193}}</string>
        <key>sourceSize</key>
        <string>{237,193}</string>
      </dict>
      <key>monster_30074_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,687},{214,182}}</string>
        <key>offset</key>
        <string>{-140,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,182}}</string>
        <key>sourceSize</key>
        <string>{214,182}</string>
      </dict>
      <key>monster_30074_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,0},{194,139}}</string>
        <key>offset</key>
        <string>{-108,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,139}}</string>
        <key>sourceSize</key>
        <string>{194,139}</string>
      </dict>
      <key>monster_30074_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1482,1070},{186,156}}</string>
        <key>offset</key>
        <string>{-99,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,156}}</string>
        <key>sourceSize</key>
        <string>{186,156}</string>
      </dict>
      <key>monster_30074_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1029,1529},{183,178}}</string>
        <key>offset</key>
        <string>{-99,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,178}}</string>
        <key>sourceSize</key>
        <string>{183,178}</string>
      </dict>
      <key>monster_30074_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,659},{187,167}}</string>
        <key>offset</key>
        <string>{-99,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,167}}</string>
        <key>sourceSize</key>
        <string>{187,167}</string>
      </dict>
      <key>monster_30074_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1527,1625},{135,154}}</string>
        <key>offset</key>
        <string>{-85,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,154}}</string>
        <key>sourceSize</key>
        <string>{135,154}</string>
      </dict>
      <key>monster_30074_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,1529},{183,148}}</string>
        <key>offset</key>
        <string>{-131,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,148}}</string>
        <key>sourceSize</key>
        <string>{183,148}</string>
      </dict>
      <key>monster_30074_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,670},{201,164}}</string>
        <key>offset</key>
        <string>{-148,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,164}}</string>
        <key>sourceSize</key>
        <string>{201,164}</string>
      </dict>
      <key>monster_30074_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,0},{230,145}}</string>
        <key>offset</key>
        <string>{-172,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,145}}</string>
        <key>sourceSize</key>
        <string>{230,145}</string>
      </dict>
      <key>monster_30074_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,795},{233,119}}</string>
        <key>offset</key>
        <string>{-175,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,119}}</string>
        <key>sourceSize</key>
        <string>{233,119}</string>
      </dict>
      <key>monster_30074_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{239,115}}</string>
        <key>offset</key>
        <string>{-178,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,115}}</string>
        <key>sourceSize</key>
        <string>{239,115}</string>
      </dict>
      <key>monster_30074_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1670,1149},{149,123}}</string>
        <key>offset</key>
        <string>{-66,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,123}}</string>
        <key>sourceSize</key>
        <string>{149,123}</string>
      </dict>
      <key>monster_30074_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,1594},{149,132}}</string>
        <key>offset</key>
        <string>{-70,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,132}}</string>
        <key>sourceSize</key>
        <string>{149,132}</string>
      </dict>
      <key>monster_30074_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,978},{169,148}}</string>
        <key>offset</key>
        <string>{-82,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,148}}</string>
        <key>sourceSize</key>
        <string>{169,148}</string>
      </dict>
      <key>monster_30074_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,828},{187,148}}</string>
        <key>offset</key>
        <string>{-81,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,148}}</string>
        <key>sourceSize</key>
        <string>{187,148}</string>
      </dict>
      <key>monster_30074_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,1625},{166,161}}</string>
        <key>offset</key>
        <string>{-97,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,161}}</string>
        <key>sourceSize</key>
        <string>{166,161}</string>
      </dict>
      <key>monster_30074_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,498},{188,159}}</string>
        <key>offset</key>
        <string>{-125,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,159}}</string>
        <key>sourceSize</key>
        <string>{188,159}</string>
      </dict>
      <key>monster_30074_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1335,212},{198,155}}</string>
        <key>offset</key>
        <string>{-124,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,155}}</string>
        <key>sourceSize</key>
        <string>{198,155}</string>
      </dict>
      <key>monster_30074_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,968},{224,158}}</string>
        <key>offset</key>
        <string>{-150,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,158}}</string>
        <key>sourceSize</key>
        <string>{224,158}</string>
      </dict>
      <key>monster_30074_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,0},{219,129}}</string>
        <key>offset</key>
        <string>{-145,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,129}}</string>
        <key>sourceSize</key>
        <string>{219,129}</string>
      </dict>
      <key>monster_30074_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1194},{218,126}}</string>
        <key>offset</key>
        <string>{-142,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,126}}</string>
        <key>sourceSize</key>
        <string>{218,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30074_0_4.png</string>
      <key>size</key>
      <string>{1795,1789}</string>
      <key>textureFileName</key>
      <string>monster_30074_0_4.png</string>
    </dict>
  </dict>
</plist>