<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{389,172}}</string>
        <key>offset</key>
        <string>{-150,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,172}}</string>
        <key>sourceSize</key>
        <string>{389,172}</string>
      </dict>
      <key>monster_40004_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{404,160}}</string>
        <key>offset</key>
        <string>{-168,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,160}}</string>
        <key>sourceSize</key>
        <string>{404,160}</string>
      </dict>
      <key>monster_40004_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{386,175}}</string>
        <key>offset</key>
        <string>{-163,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{386,175}}</string>
        <key>sourceSize</key>
        <string>{386,175}</string>
      </dict>
      <key>monster_40004_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,0},{344,251}}</string>
        <key>offset</key>
        <string>{-129,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,251}}</string>
        <key>sourceSize</key>
        <string>{344,251}</string>
      </dict>
      <key>monster_40004_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{370,303}}</string>
        <key>offset</key>
        <string>{-123,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,303}}</string>
        <key>sourceSize</key>
        <string>{370,303}</string>
      </dict>
      <key>monster_40004_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,388},{383,309}}</string>
        <key>offset</key>
        <string>{-121,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,309}}</string>
        <key>sourceSize</key>
        <string>{383,309}</string>
      </dict>
      <key>monster_40004_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,372},{361,278}}</string>
        <key>offset</key>
        <string>{-112,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,278}}</string>
        <key>sourceSize</key>
        <string>{361,278}</string>
      </dict>
      <key>monster_40004_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,797},{370,219}}</string>
        <key>offset</key>
        <string>{-105,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,219}}</string>
        <key>sourceSize</key>
        <string>{370,219}</string>
      </dict>
      <key>monster_40004_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,354},{348,209}}</string>
        <key>offset</key>
        <string>{-101,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,209}}</string>
        <key>sourceSize</key>
        <string>{348,209}</string>
      </dict>
      <key>monster_40004_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,0},{352,210}}</string>
        <key>offset</key>
        <string>{-101,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,210}}</string>
        <key>sourceSize</key>
        <string>{352,210}</string>
      </dict>
      <key>monster_40004_0_4_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,357},{353,215}}</string>
        <key>offset</key>
        <string>{-101,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,215}}</string>
        <key>sourceSize</key>
        <string>{353,215}</string>
      </dict>
      <key>monster_40004_0_4_2_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,773},{354,212}}</string>
        <key>offset</key>
        <string>{-101,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,212}}</string>
        <key>sourceSize</key>
        <string>{354,212}</string>
      </dict>
      <key>monster_40004_0_4_2_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{355,208}}</string>
        <key>offset</key>
        <string>{-101,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,208}}</string>
        <key>sourceSize</key>
        <string>{355,208}</string>
      </dict>
      <key>monster_40004_0_4_2_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,735},{354,208}}</string>
        <key>offset</key>
        <string>{-101,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,208}}</string>
        <key>sourceSize</key>
        <string>{354,208}</string>
      </dict>
      <key>monster_40004_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1585,0},{295,226}}</string>
        <key>offset</key>
        <string>{-94,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,226}}</string>
        <key>sourceSize</key>
        <string>{295,226}</string>
      </dict>
      <key>monster_40004_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1018},{279,217}}</string>
        <key>offset</key>
        <string>{-107,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,217}}</string>
        <key>sourceSize</key>
        <string>{279,217}</string>
      </dict>
      <key>monster_40004_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,987},{281,202}}</string>
        <key>offset</key>
        <string>{-108,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,202}}</string>
        <key>sourceSize</key>
        <string>{281,202}</string>
      </dict>
      <key>monster_40004_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,969},{260,240}}</string>
        <key>offset</key>
        <string>{-77,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,240}}</string>
        <key>sourceSize</key>
        <string>{260,240}</string>
      </dict>
      <key>monster_40004_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1319,0},{315,264}}</string>
        <key>offset</key>
        <string>{-77,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,264}}</string>
        <key>sourceSize</key>
        <string>{315,264}</string>
      </dict>
      <key>monster_40004_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,346},{327,266}}</string>
        <key>offset</key>
        <string>{-77,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,266}}</string>
        <key>sourceSize</key>
        <string>{327,266}</string>
      </dict>
      <key>monster_40004_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,704},{330,263}}</string>
        <key>offset</key>
        <string>{-80,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,263}}</string>
        <key>sourceSize</key>
        <string>{330,263}</string>
      </dict>
      <key>monster_40004_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1461,317},{302,230}}</string>
        <key>offset</key>
        <string>{-95,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,230}}</string>
        <key>sourceSize</key>
        <string>{302,230}</string>
      </dict>
      <key>monster_40004_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1813,0},{294,210}}</string>
        <key>offset</key>
        <string>{-102,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,210}}</string>
        <key>sourceSize</key>
        <string>{294,210}</string>
      </dict>
      <key>monster_40004_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,675},{311,212}}</string>
        <key>offset</key>
        <string>{-116,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,212}}</string>
        <key>sourceSize</key>
        <string>{311,212}</string>
      </dict>
      <key>monster_40004_0_4_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1693,581},{282,212}}</string>
        <key>offset</key>
        <string>{-84,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,212}}</string>
        <key>sourceSize</key>
        <string>{282,212}</string>
      </dict>
      <key>monster_40004_0_4_3_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1813,296},{283,212}}</string>
        <key>offset</key>
        <string>{-84,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,212}}</string>
        <key>sourceSize</key>
        <string>{283,212}</string>
      </dict>
      <key>monster_40004_0_4_3_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1630,795},{282,212}}</string>
        <key>offset</key>
        <string>{-84,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,212}}</string>
        <key>sourceSize</key>
        <string>{282,212}</string>
      </dict>
      <key>monster_40004_0_4_3_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,945},{282,212}}</string>
        <key>offset</key>
        <string>{-84,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,212}}</string>
        <key>sourceSize</key>
        <string>{282,212}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_4_1.png</string>
    </dict>
  </dict>
</plist>