<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30013_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1409,484},{148,123}}</string>
        <key>offset</key>
        <string>{-74,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,123}}</string>
        <key>sourceSize</key>
        <string>{148,123}</string>
      </dict>
      <key>monster_30013_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1184},{161,166}}</string>
        <key>offset</key>
        <string>{-99,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,166}}</string>
        <key>sourceSize</key>
        <string>{161,166}</string>
      </dict>
      <key>monster_30013_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,858},{195,124}}</string>
        <key>offset</key>
        <string>{-121,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,124}}</string>
        <key>sourceSize</key>
        <string>{195,124}</string>
      </dict>
      <key>monster_30013_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,652},{204,136}}</string>
        <key>offset</key>
        <string>{-113,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,136}}</string>
        <key>sourceSize</key>
        <string>{204,136}</string>
      </dict>
      <key>monster_30013_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,945},{212,135}}</string>
        <key>offset</key>
        <string>{-119,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,135}}</string>
        <key>sourceSize</key>
        <string>{212,135}</string>
      </dict>
      <key>monster_30013_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,1128},{198,150}}</string>
        <key>offset</key>
        <string>{-107,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,150}}</string>
        <key>sourceSize</key>
        <string>{198,150}</string>
      </dict>
      <key>monster_30013_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,362},{170,115}}</string>
        <key>offset</key>
        <string>{-59,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,115}}</string>
        <key>sourceSize</key>
        <string>{170,115}</string>
      </dict>
      <key>monster_30013_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,312},{169,110}}</string>
        <key>offset</key>
        <string>{-60,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,110}}</string>
        <key>sourceSize</key>
        <string>{169,110}</string>
      </dict>
      <key>monster_30013_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,917},{161,124}}</string>
        <key>offset</key>
        <string>{-47,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,124}}</string>
        <key>sourceSize</key>
        <string>{161,124}</string>
      </dict>
      <key>monster_30013_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1352},{165,128}}</string>
        <key>offset</key>
        <string>{-37,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,128}}</string>
        <key>sourceSize</key>
        <string>{165,128}</string>
      </dict>
      <key>monster_30013_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1519},{128,123}}</string>
        <key>offset</key>
        <string>{-67,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,123}}</string>
        <key>sourceSize</key>
        <string>{128,123}</string>
      </dict>
      <key>monster_30013_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,202},{183,166}}</string>
        <key>offset</key>
        <string>{-83,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,166}}</string>
        <key>sourceSize</key>
        <string>{183,166}</string>
      </dict>
      <key>monster_30013_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,221},{216,134}}</string>
        <key>offset</key>
        <string>{-106,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,134}}</string>
        <key>sourceSize</key>
        <string>{216,134}</string>
      </dict>
      <key>monster_30013_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{257,136}}</string>
        <key>offset</key>
        <string>{-105,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,136}}</string>
        <key>sourceSize</key>
        <string>{257,136}</string>
      </dict>
      <key>monster_30013_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,135}}</string>
        <key>offset</key>
        <string>{-126,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,135}}</string>
        <key>sourceSize</key>
        <string>{294,135}</string>
      </dict>
      <key>monster_30013_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,725},{218,154}}</string>
        <key>offset</key>
        <string>{-37,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,154}}</string>
        <key>sourceSize</key>
        <string>{218,154}</string>
      </dict>
      <key>monster_30013_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,0},{216,122}}</string>
        <key>offset</key>
        <string>{-13,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,122}}</string>
        <key>sourceSize</key>
        <string>{216,122}</string>
      </dict>
      <key>monster_30013_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{219,115}}</string>
        <key>offset</key>
        <string>{-12,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,115}}</string>
        <key>sourceSize</key>
        <string>{219,115}</string>
      </dict>
      <key>monster_30013_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,259},{236,94}}</string>
        <key>offset</key>
        <string>{-15,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,94}}</string>
        <key>sourceSize</key>
        <string>{236,94}</string>
      </dict>
      <key>monster_30013_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,813},{246,110}}</string>
        <key>offset</key>
        <string>{-18,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,110}}</string>
        <key>sourceSize</key>
        <string>{246,110}</string>
      </dict>
      <key>monster_30013_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,801},{165,114}}</string>
        <key>offset</key>
        <string>{-67,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,114}}</string>
        <key>sourceSize</key>
        <string>{165,114}</string>
      </dict>
      <key>monster_30013_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,431},{203,140}}</string>
        <key>offset</key>
        <string>{-74,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,140}}</string>
        <key>sourceSize</key>
        <string>{203,140}</string>
      </dict>
      <key>monster_30013_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,706},{211,143}}</string>
        <key>offset</key>
        <string>{-83,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,143}}</string>
        <key>sourceSize</key>
        <string>{211,143}</string>
      </dict>
      <key>monster_30013_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,1031},{227,160}}</string>
        <key>offset</key>
        <string>{-84,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,160}}</string>
        <key>sourceSize</key>
        <string>{227,160}</string>
      </dict>
      <key>monster_30013_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{263,163}}</string>
        <key>offset</key>
        <string>{-99,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,163}}</string>
        <key>sourceSize</key>
        <string>{263,163}</string>
      </dict>
      <key>monster_30013_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,439},{211,149}}</string>
        <key>offset</key>
        <string>{-29,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,149}}</string>
        <key>sourceSize</key>
        <string>{211,149}</string>
      </dict>
      <key>monster_30013_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,1328},{196,112}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,112}}</string>
        <key>sourceSize</key>
        <string>{196,112}</string>
      </dict>
      <key>monster_30013_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,0},{200,117}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,117}}</string>
        <key>sourceSize</key>
        <string>{200,117}</string>
      </dict>
      <key>monster_30013_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,221},{217,114}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,114}}</string>
        <key>sourceSize</key>
        <string>{217,114}</string>
      </dict>
      <key>monster_30013_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{222,123}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,123}}</string>
        <key>sourceSize</key>
        <string>{222,123}</string>
      </dict>
      <key>monster_30013_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,964},{161,104}}</string>
        <key>offset</key>
        <string>{-65,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,104}}</string>
        <key>sourceSize</key>
        <string>{161,104}</string>
      </dict>
      <key>monster_30013_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,387},{176,131}}</string>
        <key>offset</key>
        <string>{-74,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,131}}</string>
        <key>sourceSize</key>
        <string>{176,131}</string>
      </dict>
      <key>monster_30013_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,0},{182,159}}</string>
        <key>offset</key>
        <string>{-81,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,159}}</string>
        <key>sourceSize</key>
        <string>{182,159}</string>
      </dict>
      <key>monster_30013_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,423},{163,189}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,189}}</string>
        <key>sourceSize</key>
        <string>{163,189}</string>
      </dict>
      <key>monster_30013_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,919},{196,207}}</string>
        <key>offset</key>
        <string>{-97,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,207}}</string>
        <key>sourceSize</key>
        <string>{196,207}</string>
      </dict>
      <key>monster_30013_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1239,484},{149,168}}</string>
        <key>offset</key>
        <string>{-35,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,168}}</string>
        <key>sourceSize</key>
        <string>{149,168}</string>
      </dict>
      <key>monster_30013_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,565},{169,161}}</string>
        <key>offset</key>
        <string>{-6,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,161}}</string>
        <key>sourceSize</key>
        <string>{169,161}</string>
      </dict>
      <key>monster_30013_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1316,145},{174,165}}</string>
        <key>offset</key>
        <string>{-19,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,165}}</string>
        <key>sourceSize</key>
        <string>{174,165}</string>
      </dict>
      <key>monster_30013_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1239,635},{168,164}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,164}}</string>
        <key>sourceSize</key>
        <string>{168,164}</string>
      </dict>
      <key>monster_30013_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,184},{176,176}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,176}}</string>
        <key>sourceSize</key>
        <string>{176,176}</string>
      </dict>
      <key>monster_30013_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,1412},{137,122}}</string>
        <key>offset</key>
        <string>{-62,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,122}}</string>
        <key>sourceSize</key>
        <string>{137,122}</string>
      </dict>
      <key>monster_30013_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1361,1070},{156,148}}</string>
        <key>offset</key>
        <string>{-72,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,148}}</string>
        <key>sourceSize</key>
        <string>{156,148}</string>
      </dict>
      <key>monster_30013_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1366,803},{159,162}}</string>
        <key>offset</key>
        <string>{-79,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,162}}</string>
        <key>sourceSize</key>
        <string>{159,162}</string>
      </dict>
      <key>monster_30013_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,832},{158,177}}</string>
        <key>offset</key>
        <string>{-90,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,177}}</string>
        <key>sourceSize</key>
        <string>{158,177}</string>
      </dict>
      <key>monster_30013_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,636},{184,194}}</string>
        <key>offset</key>
        <string>{-114,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,194}}</string>
        <key>sourceSize</key>
        <string>{184,194}</string>
      </dict>
      <key>monster_30013_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1352},{166,155}}</string>
        <key>offset</key>
        <string>{-93,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,155}}</string>
        <key>sourceSize</key>
        <string>{166,155}</string>
      </dict>
      <key>monster_30013_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,1220},{153,154}}</string>
        <key>offset</key>
        <string>{-72,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,154}}</string>
        <key>sourceSize</key>
        <string>{153,154}</string>
      </dict>
      <key>monster_30013_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,1198},{145,158}}</string>
        <key>offset</key>
        <string>{-71,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,158}}</string>
        <key>sourceSize</key>
        <string>{145,158}</string>
      </dict>
      <key>monster_30013_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1199,1043},{153,160}}</string>
        <key>offset</key>
        <string>{-72,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,160}}</string>
        <key>sourceSize</key>
        <string>{153,160}</string>
      </dict>
      <key>monster_30013_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1241,312},{170,172}}</string>
        <key>offset</key>
        <string>{-84,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,172}}</string>
        <key>sourceSize</key>
        <string>{170,172}</string>
      </dict>
      <key>monster_30013_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1463},{137,130}}</string>
        <key>offset</key>
        <string>{-68,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,130}}</string>
        <key>sourceSize</key>
        <string>{137,130}</string>
      </dict>
      <key>monster_30013_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1260},{227,130}}</string>
        <key>offset</key>
        <string>{-152,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,130}}</string>
        <key>sourceSize</key>
        <string>{227,130}</string>
      </dict>
      <key>monster_30013_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,1239},{171,147}}</string>
        <key>offset</key>
        <string>{-97,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,147}}</string>
        <key>sourceSize</key>
        <string>{171,147}</string>
      </dict>
      <key>monster_30013_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,1055},{182,137}}</string>
        <key>offset</key>
        <string>{-116,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,137}}</string>
        <key>sourceSize</key>
        <string>{182,137}</string>
      </dict>
      <key>monster_30013_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,1290},{231,155}}</string>
        <key>offset</key>
        <string>{-156,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,155}}</string>
        <key>sourceSize</key>
        <string>{231,155}</string>
      </dict>
      <key>monster_30013_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,561},{238,132}}</string>
        <key>offset</key>
        <string>{-168,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,132}}</string>
        <key>sourceSize</key>
        <string>{238,132}</string>
      </dict>
      <key>monster_30013_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,259},{225,138}}</string>
        <key>offset</key>
        <string>{-167,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,138}}</string>
        <key>sourceSize</key>
        <string>{225,138}</string>
      </dict>
      <key>monster_30013_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,486},{218,133}}</string>
        <key>offset</key>
        <string>{-168,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,133}}</string>
        <key>sourceSize</key>
        <string>{218,133}</string>
      </dict>
      <key>monster_30013_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,497},{226,135}}</string>
        <key>offset</key>
        <string>{-173,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,135}}</string>
        <key>sourceSize</key>
        <string>{226,135}</string>
      </dict>
      <key>monster_30013_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1061},{244,142}}</string>
        <key>offset</key>
        <string>{-180,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,142}}</string>
        <key>sourceSize</key>
        <string>{244,142}</string>
      </dict>
      <key>monster_30013_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,614},{177,114}}</string>
        <key>offset</key>
        <string>{-109,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,114}}</string>
        <key>sourceSize</key>
        <string>{177,114}</string>
      </dict>
      <key>monster_30013_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,561},{250,122}}</string>
        <key>offset</key>
        <string>{-186,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,122}}</string>
        <key>sourceSize</key>
        <string>{250,122}</string>
      </dict>
      <key>monster_30013_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,1011},{171,125}}</string>
        <key>offset</key>
        <string>{-105,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,125}}</string>
        <key>sourceSize</key>
        <string>{171,125}</string>
      </dict>
      <key>monster_30013_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,793},{170,132}}</string>
        <key>offset</key>
        <string>{-105,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,132}}</string>
        <key>sourceSize</key>
        <string>{170,132}</string>
      </dict>
      <key>monster_30013_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,0},{216,145}}</string>
        <key>offset</key>
        <string>{-152,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,145}}</string>
        <key>sourceSize</key>
        <string>{216,145}</string>
      </dict>
      <key>monster_30013_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,801},{228,125}}</string>
        <key>offset</key>
        <string>{-169,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,125}}</string>
        <key>sourceSize</key>
        <string>{228,125}</string>
      </dict>
      <key>monster_30013_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,218},{211,91}}</string>
        <key>offset</key>
        <string>{-166,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,91}}</string>
        <key>sourceSize</key>
        <string>{211,91}</string>
      </dict>
      <key>monster_30013_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,1159},{210,91}}</string>
        <key>offset</key>
        <string>{-165,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,91}}</string>
        <key>sourceSize</key>
        <string>{210,91}</string>
      </dict>
      <key>monster_30013_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,813},{239,94}}</string>
        <key>offset</key>
        <string>{-194,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,94}}</string>
        <key>sourceSize</key>
        <string>{239,94}</string>
      </dict>
      <key>monster_30013_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1054},{234,101}}</string>
        <key>offset</key>
        <string>{-189,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,101}}</string>
        <key>sourceSize</key>
        <string>{234,101}</string>
      </dict>
      <key>monster_30013_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,0},{176,103}}</string>
        <key>offset</key>
        <string>{-108,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,103}}</string>
        <key>sourceSize</key>
        <string>{176,103}</string>
      </dict>
      <key>monster_30013_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1307},{236,154}}</string>
        <key>offset</key>
        <string>{-167,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,154}}</string>
        <key>sourceSize</key>
        <string>{236,154}</string>
      </dict>
      <key>monster_30013_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1409,635},{166,123}}</string>
        <key>offset</key>
        <string>{-100,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,123}}</string>
        <key>sourceSize</key>
        <string>{166,123}</string>
      </dict>
      <key>monster_30013_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,1375},{153,130}}</string>
        <key>offset</key>
        <string>{-93,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,130}}</string>
        <key>sourceSize</key>
        <string>{153,130}</string>
      </dict>
      <key>monster_30013_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,965},{156,131}}</string>
        <key>offset</key>
        <string>{-96,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,131}}</string>
        <key>sourceSize</key>
        <string>{156,131}</string>
      </dict>
      <key>monster_30013_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,218},{203,147}}</string>
        <key>offset</key>
        <string>{-143,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,147}}</string>
        <key>sourceSize</key>
        <string>{203,147}</string>
      </dict>
      <key>monster_30013_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,1328},{197,128}}</string>
        <key>offset</key>
        <string>{-145,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,128}}</string>
        <key>sourceSize</key>
        <string>{197,128}</string>
      </dict>
      <key>monster_30013_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,1252},{200,114}}</string>
        <key>offset</key>
        <string>{-150,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,114}}</string>
        <key>sourceSize</key>
        <string>{200,114}</string>
      </dict>
      <key>monster_30013_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,0},{175,141}}</string>
        <key>offset</key>
        <string>{-125,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,141}}</string>
        <key>sourceSize</key>
        <string>{175,141}</string>
      </dict>
      <key>monster_30013_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1316,0},{175,143}}</string>
        <key>offset</key>
        <string>{-115,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,143}}</string>
        <key>sourceSize</key>
        <string>{175,143}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30013_0_4.png</string>
      <key>size</key>
      <string>{1538,1658}</string>
      <key>textureFileName</key>
      <string>monster_30013_0_4.png</string>
    </dict>
  </dict>
</plist>