<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30055_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,0},{336,270}}</string>
        <key>offset</key>
        <string>{-137,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,270}}</string>
        <key>sourceSize</key>
        <string>{336,270}</string>
      </dict>
      <key>monster_30055_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,851},{301,294}}</string>
        <key>offset</key>
        <string>{-116,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,294}}</string>
        <key>sourceSize</key>
        <string>{301,294}</string>
      </dict>
      <key>monster_30055_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,391},{295,366}}</string>
        <key>offset</key>
        <string>{-87,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,366}}</string>
        <key>sourceSize</key>
        <string>{295,366}</string>
      </dict>
      <key>monster_30055_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,368},{324,360}}</string>
        <key>offset</key>
        <string>{-123,310}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,360}}</string>
        <key>sourceSize</key>
        <string>{324,360}</string>
      </dict>
      <key>monster_30055_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,272},{304,333}}</string>
        <key>offset</key>
        <string>{-128,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,333}}</string>
        <key>sourceSize</key>
        <string>{304,333}</string>
      </dict>
      <key>monster_30055_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,730},{300,257}}</string>
        <key>offset</key>
        <string>{-95,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,257}}</string>
        <key>sourceSize</key>
        <string>{300,257}</string>
      </dict>
      <key>monster_30055_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,345},{325,276}}</string>
        <key>offset</key>
        <string>{-137,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,276}}</string>
        <key>sourceSize</key>
        <string>{325,276}</string>
      </dict>
      <key>monster_30055_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,989},{292,282}}</string>
        <key>offset</key>
        <string>{-80,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,282}}</string>
        <key>sourceSize</key>
        <string>{292,282}</string>
      </dict>
      <key>monster_30055_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,0},{308,343}}</string>
        <key>offset</key>
        <string>{-91,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,343}}</string>
        <key>sourceSize</key>
        <string>{308,343}</string>
      </dict>
      <key>monster_30055_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{337,366}}</string>
        <key>offset</key>
        <string>{-61,311}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,366}}</string>
        <key>sourceSize</key>
        <string>{337,366}</string>
      </dict>
      <key>monster_30055_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,759},{296,366}}</string>
        <key>offset</key>
        <string>{-85,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,366}}</string>
        <key>sourceSize</key>
        <string>{296,366}</string>
      </dict>
      <key>monster_30055_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{389,277}}</string>
        <key>offset</key>
        <string>{-192,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,277}}</string>
        <key>sourceSize</key>
        <string>{389,277}</string>
      </dict>
      <key>monster_30055_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,578},{307,271}}</string>
        <key>offset</key>
        <string>{-100,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,271}}</string>
        <key>sourceSize</key>
        <string>{307,271}</string>
      </dict>
      <key>monster_30055_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,989},{283,290}}</string>
        <key>offset</key>
        <string>{-94,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,290}}</string>
        <key>sourceSize</key>
        <string>{283,290}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30055_0_2_2.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_30055_0_2_2.png</string>
    </dict>
  </dict>
</plist>