<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30056_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,508},{99,118}}</string>
        <key>offset</key>
        <string>{-36,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,118}}</string>
        <key>sourceSize</key>
        <string>{99,118}</string>
      </dict>
      <key>monster_30056_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{99,120}}</string>
        <key>offset</key>
        <string>{-37,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,120}}</string>
        <key>sourceSize</key>
        <string>{99,120}</string>
      </dict>
      <key>monster_30056_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{168,120}}</string>
        <key>offset</key>
        <string>{-84,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,120}}</string>
        <key>sourceSize</key>
        <string>{168,120}</string>
      </dict>
      <key>monster_30056_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{166,123}}</string>
        <key>offset</key>
        <string>{-82,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,123}}</string>
        <key>sourceSize</key>
        <string>{166,123}</string>
      </dict>
      <key>monster_30056_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{168,128}}</string>
        <key>offset</key>
        <string>{-92,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,128}}</string>
        <key>sourceSize</key>
        <string>{168,128}</string>
      </dict>
      <key>monster_30056_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{167,130}}</string>
        <key>offset</key>
        <string>{-91,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,130}}</string>
        <key>sourceSize</key>
        <string>{167,130}</string>
      </dict>
      <key>monster_30056_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,337},{151,164}}</string>
        <key>offset</key>
        <string>{-67,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,164}}</string>
        <key>sourceSize</key>
        <string>{151,164}</string>
      </dict>
      <key>monster_30056_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,169},{149,164}}</string>
        <key>offset</key>
        <string>{-65,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,164}}</string>
        <key>sourceSize</key>
        <string>{149,164}</string>
      </dict>
      <key>monster_30056_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,340},{105,166}}</string>
        <key>offset</key>
        <string>{-43,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,166}}</string>
        <key>sourceSize</key>
        <string>{105,166}</string>
      </dict>
      <key>monster_30056_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,169},{104,166}}</string>
        <key>offset</key>
        <string>{-43,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,166}}</string>
        <key>sourceSize</key>
        <string>{104,166}</string>
      </dict>
      <key>monster_30056_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{140,152}}</string>
        <key>offset</key>
        <string>{-36,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,152}}</string>
        <key>sourceSize</key>
        <string>{140,152}</string>
      </dict>
      <key>monster_30056_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,335},{139,152}}</string>
        <key>offset</key>
        <string>{-36,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,152}}</string>
        <key>sourceSize</key>
        <string>{139,152}</string>
      </dict>
      <key>monster_30056_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,503},{132,121}}</string>
        <key>offset</key>
        <string>{-28,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,121}}</string>
        <key>sourceSize</key>
        <string>{132,121}</string>
      </dict>
      <key>monster_30056_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,141},{136,119}}</string>
        <key>offset</key>
        <string>{-31,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,119}}</string>
        <key>sourceSize</key>
        <string>{136,119}</string>
      </dict>
      <key>monster_30056_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,154},{140,131}}</string>
        <key>offset</key>
        <string>{-36,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,131}}</string>
        <key>sourceSize</key>
        <string>{140,131}</string>
      </dict>
      <key>monster_30056_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{139,132}}</string>
        <key>offset</key>
        <string>{-36,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,132}}</string>
        <key>sourceSize</key>
        <string>{139,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30056_0_7.png</string>
      <key>size</key>
      <string>{642,630}</string>
      <key>textureFileName</key>
      <string>monster_30056_0_7.png</string>
    </dict>
  </dict>
</plist>