<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30050_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,257},{336,264}}</string>
        <key>offset</key>
        <string>{-97,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,264}}</string>
        <key>sourceSize</key>
        <string>{336,264}</string>
      </dict>
      <key>monster_30050_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,523},{334,258}}</string>
        <key>offset</key>
        <string>{-97,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,258}}</string>
        <key>sourceSize</key>
        <string>{334,258}</string>
      </dict>
      <key>monster_30050_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,344},{335,257}}</string>
        <key>offset</key>
        <string>{-97,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,257}}</string>
        <key>sourceSize</key>
        <string>{335,257}</string>
      </dict>
      <key>monster_30050_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,783},{316,245}}</string>
        <key>offset</key>
        <string>{-97,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,245}}</string>
        <key>sourceSize</key>
        <string>{316,245}</string>
      </dict>
      <key>monster_30050_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,844},{397,207}}</string>
        <key>offset</key>
        <string>{-90,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,207}}</string>
        <key>sourceSize</key>
        <string>{397,207}</string>
      </dict>
      <key>monster_30050_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,783},{323,269}}</string>
        <key>offset</key>
        <string>{-91,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,269}}</string>
        <key>sourceSize</key>
        <string>{323,269}</string>
      </dict>
      <key>monster_30050_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1353,1101},{313,286}}</string>
        <key>offset</key>
        <string>{-92,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,286}}</string>
        <key>sourceSize</key>
        <string>{313,286}</string>
      </dict>
      <key>monster_30050_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{342,302}}</string>
        <key>offset</key>
        <string>{-90,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,302}}</string>
        <key>sourceSize</key>
        <string>{342,302}</string>
      </dict>
      <key>monster_30050_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,712},{327,315}}</string>
        <key>offset</key>
        <string>{-89,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,315}}</string>
        <key>sourceSize</key>
        <string>{327,315}</string>
      </dict>
      <key>monster_30050_0_2_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,1108},{294,319}}</string>
        <key>offset</key>
        <string>{-70,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,319}}</string>
        <key>sourceSize</key>
        <string>{294,319}</string>
      </dict>
      <key>monster_30050_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{398,269}}</string>
        <key>offset</key>
        <string>{-102,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,269}}</string>
        <key>sourceSize</key>
        <string>{398,269}</string>
      </dict>
      <key>monster_30050_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,444},{387,270}}</string>
        <key>offset</key>
        <string>{-86,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,270}}</string>
        <key>sourceSize</key>
        <string>{387,270}</string>
      </dict>
      <key>monster_30050_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{363,266}}</string>
        <key>offset</key>
        <string>{-52,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,266}}</string>
        <key>sourceSize</key>
        <string>{363,266}</string>
      </dict>
      <key>monster_30050_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,833},{350,235}}</string>
        <key>offset</key>
        <string>{-43,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,235}}</string>
        <key>sourceSize</key>
        <string>{350,235}</string>
      </dict>
      <key>monster_30050_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,1029},{321,263}}</string>
        <key>offset</key>
        <string>{-47,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,263}}</string>
        <key>sourceSize</key>
        <string>{321,263}</string>
      </dict>
      <key>monster_30050_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,0},{337,255}}</string>
        <key>offset</key>
        <string>{-101,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,255}}</string>
        <key>sourceSize</key>
        <string>{337,255}</string>
      </dict>
      <key>monster_30050_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,365},{345,266}}</string>
        <key>offset</key>
        <string>{-98,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,266}}</string>
        <key>sourceSize</key>
        <string>{345,266}</string>
      </dict>
      <key>monster_30050_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{384,254}}</string>
        <key>offset</key>
        <string>{-86,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,254}}</string>
        <key>sourceSize</key>
        <string>{384,254}</string>
      </dict>
      <key>monster_30050_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,844},{394,261}}</string>
        <key>offset</key>
        <string>{-86,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,261}}</string>
        <key>sourceSize</key>
        <string>{394,261}</string>
      </dict>
      <key>monster_30050_0_2_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{442,278}}</string>
        <key>offset</key>
        <string>{-132,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,278}}</string>
        <key>sourceSize</key>
        <string>{442,278}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30050_0_2_2.png</string>
      <key>size</key>
      <string>{1684,1412}</string>
      <key>textureFileName</key>
      <string>monster_30050_0_2_2.png</string>
    </dict>
  </dict>
</plist>