<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30055_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,0},{283,279}}</string>
        <key>offset</key>
        <string>{-153,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,279}}</string>
        <key>sourceSize</key>
        <string>{283,279}</string>
      </dict>
      <key>monster_30055_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,668},{280,282}}</string>
        <key>offset</key>
        <string>{-157,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,282}}</string>
        <key>sourceSize</key>
        <string>{280,282}</string>
      </dict>
      <key>monster_30055_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,952},{272,282}}</string>
        <key>offset</key>
        <string>{-161,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,282}}</string>
        <key>sourceSize</key>
        <string>{272,282}</string>
      </dict>
      <key>monster_30055_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,285},{278,282}}</string>
        <key>offset</key>
        <string>{-169,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,282}}</string>
        <key>sourceSize</key>
        <string>{278,282}</string>
      </dict>
      <key>monster_30055_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,275},{275,279}}</string>
        <key>offset</key>
        <string>{-161,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,279}}</string>
        <key>sourceSize</key>
        <string>{275,279}</string>
      </dict>
      <key>monster_30055_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,0},{273,280}}</string>
        <key>offset</key>
        <string>{-163,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,280}}</string>
        <key>sourceSize</key>
        <string>{273,280}</string>
      </dict>
      <key>monster_30055_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,1002},{269,283}}</string>
        <key>offset</key>
        <string>{-158,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,283}}</string>
        <key>sourceSize</key>
        <string>{269,283}</string>
      </dict>
      <key>monster_30055_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{268,282}}</string>
        <key>offset</key>
        <string>{-155,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,282}}</string>
        <key>sourceSize</key>
        <string>{268,282}</string>
      </dict>
      <key>monster_30055_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{356,269}}</string>
        <key>offset</key>
        <string>{-187,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,269}}</string>
        <key>sourceSize</key>
        <string>{356,269}</string>
      </dict>
      <key>monster_30055_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{352,271}}</string>
        <key>offset</key>
        <string>{-189,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,271}}</string>
        <key>sourceSize</key>
        <string>{352,271}</string>
      </dict>
      <key>monster_30055_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,712},{337,265}}</string>
        <key>offset</key>
        <string>{-186,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,265}}</string>
        <key>sourceSize</key>
        <string>{337,265}</string>
      </dict>
      <key>monster_30055_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,349},{325,263}}</string>
        <key>offset</key>
        <string>{-185,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,263}}</string>
        <key>sourceSize</key>
        <string>{325,263}</string>
      </dict>
      <key>monster_30055_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,349},{317,268}}</string>
        <key>offset</key>
        <string>{-185,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,268}}</string>
        <key>sourceSize</key>
        <string>{317,268}</string>
      </dict>
      <key>monster_30055_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,676},{324,266}}</string>
        <key>offset</key>
        <string>{-182,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,266}}</string>
        <key>sourceSize</key>
        <string>{324,266}</string>
      </dict>
      <key>monster_30055_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,712},{339,263}}</string>
        <key>offset</key>
        <string>{-181,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,263}}</string>
        <key>sourceSize</key>
        <string>{339,263}</string>
      </dict>
      <key>monster_30055_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{347,268}}</string>
        <key>offset</key>
        <string>{-184,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,268}}</string>
        <key>sourceSize</key>
        <string>{347,268}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30055_0_1_1.png</string>
      <key>size</key>
      <string>{1416,1281}</string>
      <key>textureFileName</key>
      <string>monster_30055_0_1_1.png</string>
    </dict>
  </dict>
</plist>