<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30037_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1260},{358,322}}</string>
        <key>offset</key>
        <string>{-204,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,322}}</string>
        <key>sourceSize</key>
        <string>{358,322}</string>
      </dict>
      <key>monster_30037_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,934},{370,324}}</string>
        <key>offset</key>
        <string>{-213,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,324}}</string>
        <key>sourceSize</key>
        <string>{370,324}</string>
      </dict>
      <key>monster_30037_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,787},{425,356}}</string>
        <key>offset</key>
        <string>{-244,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,356}}</string>
        <key>sourceSize</key>
        <string>{425,356}</string>
      </dict>
      <key>monster_30037_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,0},{431,412}}</string>
        <key>offset</key>
        <string>{-215,320}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,412}}</string>
        <key>sourceSize</key>
        <string>{431,412}</string>
      </dict>
      <key>monster_30037_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,787},{402,391}}</string>
        <key>offset</key>
        <string>{-173,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,391}}</string>
        <key>sourceSize</key>
        <string>{402,391}</string>
      </dict>
      <key>monster_30037_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,414},{426,371}}</string>
        <key>offset</key>
        <string>{-159,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,371}}</string>
        <key>sourceSize</key>
        <string>{426,371}</string>
      </dict>
      <key>monster_30037_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{450,376}}</string>
        <key>offset</key>
        <string>{-181,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,376}}</string>
        <key>sourceSize</key>
        <string>{450,376}</string>
      </dict>
      <key>monster_30037_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{468,421}}</string>
        <key>offset</key>
        <string>{-203,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,421}}</string>
        <key>sourceSize</key>
        <string>{468,421}</string>
      </dict>
      <key>monster_30037_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{452,462}}</string>
        <key>offset</key>
        <string>{-220,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,462}}</string>
        <key>sourceSize</key>
        <string>{452,462}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30037_0_2_4.png</string>
      <key>size</key>
      <string>{1282,1602}</string>
      <key>textureFileName</key>
      <string>monster_30037_0_2_4.png</string>
    </dict>
  </dict>
</plist>