<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30083_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{300,317}}</string>
        <key>offset</key>
        <string>{-149,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,317}}</string>
        <key>sourceSize</key>
        <string>{300,317}</string>
      </dict>
      <key>monster_30083_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,312},{266,316}}</string>
        <key>offset</key>
        <string>{-148,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,316}}</string>
        <key>sourceSize</key>
        <string>{266,316}</string>
      </dict>
      <key>monster_30083_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{317,310}}</string>
        <key>offset</key>
        <string>{-149,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,310}}</string>
        <key>sourceSize</key>
        <string>{317,310}</string>
      </dict>
      <key>monster_30083_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,580},{282,307}}</string>
        <key>offset</key>
        <string>{-149,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,307}}</string>
        <key>sourceSize</key>
        <string>{282,307}</string>
      </dict>
      <key>monster_30083_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{248,324}}</string>
        <key>offset</key>
        <string>{-150,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,324}}</string>
        <key>sourceSize</key>
        <string>{248,324}</string>
      </dict>
      <key>monster_30083_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{258,320}}</string>
        <key>offset</key>
        <string>{-145,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,320}}</string>
        <key>sourceSize</key>
        <string>{258,320}</string>
      </dict>
      <key>monster_30083_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,580},{280,293}}</string>
        <key>offset</key>
        <string>{-150,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,293}}</string>
        <key>sourceSize</key>
        <string>{280,293}</string>
      </dict>
      <key>monster_30083_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{279,289}}</string>
        <key>offset</key>
        <string>{-155,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,289}}</string>
        <key>sourceSize</key>
        <string>{279,289}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30083_0_0_0.png</string>
      <key>size</key>
      <string>{1174,898}</string>
      <key>textureFileName</key>
      <string>monster_30083_0_0_0.png</string>
    </dict>
  </dict>
</plist>