<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30100_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,648},{202,214}}</string>
        <key>offset</key>
        <string>{-65,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,214}}</string>
        <key>sourceSize</key>
        <string>{202,214}</string>
      </dict>
      <key>monster_30100_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,0},{210,239}}</string>
        <key>offset</key>
        <string>{-60,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,239}}</string>
        <key>sourceSize</key>
        <string>{210,239}</string>
      </dict>
      <key>monster_30100_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,212},{217,236}}</string>
        <key>offset</key>
        <string>{-76,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,236}}</string>
        <key>sourceSize</key>
        <string>{217,236}</string>
      </dict>
      <key>monster_30100_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,319},{299,230}}</string>
        <key>offset</key>
        <string>{-135,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,230}}</string>
        <key>sourceSize</key>
        <string>{299,230}</string>
      </dict>
      <key>monster_30100_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,431},{197,215}}</string>
        <key>offset</key>
        <string>{-134,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,215}}</string>
        <key>sourceSize</key>
        <string>{197,215}</string>
      </dict>
      <key>monster_30100_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,1016},{203,223}}</string>
        <key>offset</key>
        <string>{-116,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,223}}</string>
        <key>sourceSize</key>
        <string>{203,223}</string>
      </dict>
      <key>monster_30100_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,1016},{226,213}}</string>
        <key>offset</key>
        <string>{-101,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30100_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,910},{229,266}}</string>
        <key>offset</key>
        <string>{-108,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,266}}</string>
        <key>sourceSize</key>
        <string>{229,266}</string>
      </dict>
      <key>monster_30100_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,910},{222,261}}</string>
        <key>offset</key>
        <string>{-118,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,261}}</string>
        <key>sourceSize</key>
        <string>{222,261}</string>
      </dict>
      <key>monster_30100_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,540},{221,244}}</string>
        <key>offset</key>
        <string>{-100,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,244}}</string>
        <key>sourceSize</key>
        <string>{221,244}</string>
      </dict>
      <key>monster_30100_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,0},{251,231}}</string>
        <key>offset</key>
        <string>{-125,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,231}}</string>
        <key>sourceSize</key>
        <string>{251,231}</string>
      </dict>
      <key>monster_30100_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,786},{223,228}}</string>
        <key>offset</key>
        <string>{-77,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,228}}</string>
        <key>sourceSize</key>
        <string>{223,228}</string>
      </dict>
      <key>monster_30100_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,852},{214,191}}</string>
        <key>offset</key>
        <string>{-91,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,191}}</string>
        <key>sourceSize</key>
        <string>{214,191}</string>
      </dict>
      <key>monster_30100_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,282},{254,256}}</string>
        <key>offset</key>
        <string>{-143,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,256}}</string>
        <key>sourceSize</key>
        <string>{254,256}</string>
      </dict>
      <key>monster_30100_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,866},{220,246}}</string>
        <key>offset</key>
        <string>{-132,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,246}}</string>
        <key>sourceSize</key>
        <string>{220,246}</string>
      </dict>
      <key>monster_30100_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,253},{209,243}}</string>
        <key>offset</key>
        <string>{-108,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,243}}</string>
        <key>sourceSize</key>
        <string>{209,243}</string>
      </dict>
      <key>monster_30100_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{317,268}}</string>
        <key>offset</key>
        <string>{-75,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,268}}</string>
        <key>sourceSize</key>
        <string>{317,268}</string>
      </dict>
      <key>monster_30100_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,431},{236,211}}</string>
        <key>offset</key>
        <string>{-63,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,211}}</string>
        <key>sourceSize</key>
        <string>{236,211}</string>
      </dict>
      <key>monster_30100_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,644},{216,205}}</string>
        <key>offset</key>
        <string>{-91,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,205}}</string>
        <key>sourceSize</key>
        <string>{216,205}</string>
      </dict>
      <key>monster_30100_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,604},{260,249}}</string>
        <key>offset</key>
        <string>{-144,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,249}}</string>
        <key>sourceSize</key>
        <string>{260,249}</string>
      </dict>
      <key>monster_30100_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{280,254}}</string>
        <key>offset</key>
        <string>{-157,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,254}}</string>
        <key>sourceSize</key>
        <string>{280,254}</string>
      </dict>
      <key>monster_30100_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,319},{283,240}}</string>
        <key>offset</key>
        <string>{-120,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,240}}</string>
        <key>sourceSize</key>
        <string>{283,240}</string>
      </dict>
      <key>monster_30100_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,620},{288,266}}</string>
        <key>offset</key>
        <string>{-42,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,266}}</string>
        <key>sourceSize</key>
        <string>{288,266}</string>
      </dict>
      <key>monster_30100_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,0},{241,207}}</string>
        <key>offset</key>
        <string>{-64,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,207}}</string>
        <key>sourceSize</key>
        <string>{241,207}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30100_0_2_0.png</string>
      <key>size</key>
      <string>{1378,1281}</string>
      <key>textureFileName</key>
      <string>monster_30100_0_2_0.png</string>
    </dict>
  </dict>
</plist>