<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30023_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,229},{67,115}}</string>
        <key>offset</key>
        <string>{-4,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,115}}</string>
        <key>sourceSize</key>
        <string>{67,115}</string>
      </dict>
      <key>monster_30023_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{66,115}}</string>
        <key>offset</key>
        <string>{-4,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,115}}</string>
        <key>sourceSize</key>
        <string>{66,115}</string>
      </dict>
      <key>monster_30023_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{65,115}}</string>
        <key>offset</key>
        <string>{-4,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,115}}</string>
        <key>sourceSize</key>
        <string>{65,115}</string>
      </dict>
      <key>monster_30023_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,117},{65,115}}</string>
        <key>offset</key>
        <string>{-4,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,115}}</string>
        <key>sourceSize</key>
        <string>{65,115}</string>
      </dict>
      <key>monster_30023_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,123}}</string>
        <key>offset</key>
        <string>{-24,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,123}}</string>
        <key>sourceSize</key>
        <string>{115,123}</string>
      </dict>
      <key>monster_30023_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{113,122}}</string>
        <key>offset</key>
        <string>{-22,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
      <key>monster_30023_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,115},{112,122}}</string>
        <key>offset</key>
        <string>{-21,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{112,122}</string>
      </dict>
      <key>monster_30023_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{113,122}}</string>
        <key>offset</key>
        <string>{-22,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30023_0_0_0.png</string>
      <key>size</key>
      <string>{320,386}</string>
      <key>textureFileName</key>
      <string>monster_30023_0_0_0.png</string>
    </dict>
  </dict>
</plist>