<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30027_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{175,120}}</string>
        <key>offset</key>
        <string>{-24,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,120}}</string>
        <key>sourceSize</key>
        <string>{175,120}</string>
      </dict>
      <key>monster_30027_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,599},{130,127}}</string>
        <key>offset</key>
        <string>{-19,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,127}}</string>
        <key>sourceSize</key>
        <string>{130,127}</string>
      </dict>
      <key>monster_30027_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{202,128}}</string>
        <key>offset</key>
        <string>{-50,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,128}}</string>
        <key>sourceSize</key>
        <string>{202,128}</string>
      </dict>
      <key>monster_30027_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,330},{170,136}}</string>
        <key>offset</key>
        <string>{-31,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,136}}</string>
        <key>sourceSize</key>
        <string>{170,136}</string>
      </dict>
      <key>monster_30027_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,195},{157,182}}</string>
        <key>offset</key>
        <string>{-65,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,182}}</string>
        <key>sourceSize</key>
        <string>{157,182}</string>
      </dict>
      <key>monster_30027_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{175,157}}</string>
        <key>offset</key>
        <string>{-65,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,157}}</string>
        <key>sourceSize</key>
        <string>{175,157}</string>
      </dict>
      <key>monster_30027_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,409},{116,191}}</string>
        <key>offset</key>
        <string>{-32,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,191}}</string>
        <key>sourceSize</key>
        <string>{116,191}</string>
      </dict>
      <key>monster_30027_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,409},{127,188}}</string>
        <key>offset</key>
        <string>{-48,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,188}}</string>
        <key>sourceSize</key>
        <string>{127,188}</string>
      </dict>
      <key>monster_30027_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,214},{193,150}}</string>
        <key>offset</key>
        <string>{-83,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,150}}</string>
        <key>sourceSize</key>
        <string>{193,150}</string>
      </dict>
      <key>monster_30027_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,177},{151,175}}</string>
        <key>offset</key>
        <string>{-50,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,175}}</string>
        <key>sourceSize</key>
        <string>{151,175}</string>
      </dict>
      <key>monster_30027_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,139}}</string>
        <key>offset</key>
        <string>{-84,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,139}}</string>
        <key>sourceSize</key>
        <string>{212,139}</string>
      </dict>
      <key>monster_30027_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{193,140}}</string>
        <key>offset</key>
        <string>{-80,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,140}}</string>
        <key>sourceSize</key>
        <string>{193,140}</string>
      </dict>
      <key>monster_30027_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,468},{167,155}}</string>
        <key>offset</key>
        <string>{-23,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,155}}</string>
        <key>sourceSize</key>
        <string>{167,155}</string>
      </dict>
      <key>monster_30027_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{198,135}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,135}}</string>
        <key>sourceSize</key>
        <string>{198,135}</string>
      </dict>
      <key>monster_30027_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{125,160}}</string>
        <key>offset</key>
        <string>{-11,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,160}}</string>
        <key>sourceSize</key>
        <string>{125,160}</string>
      </dict>
      <key>monster_30027_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,468},{137,139}}</string>
        <key>offset</key>
        <string>{-6,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,139}}</string>
        <key>sourceSize</key>
        <string>{137,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30027_0_7.png</string>
      <key>size</key>
      <string>{704,767}</string>
      <key>textureFileName</key>
      <string>monster_30027_0_7.png</string>
    </dict>
  </dict>
</plist>