<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30075_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,927},{89,109}}</string>
        <key>offset</key>
        <string>{-26,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,109}}</string>
        <key>sourceSize</key>
        <string>{89,109}</string>
      </dict>
      <key>monster_30075_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,167},{155,105}}</string>
        <key>offset</key>
        <string>{-35,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,105}}</string>
        <key>sourceSize</key>
        <string>{155,105}</string>
      </dict>
      <key>monster_30075_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{165,107}}</string>
        <key>offset</key>
        <string>{-39,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,107}}</string>
        <key>sourceSize</key>
        <string>{165,107}</string>
      </dict>
      <key>monster_30075_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{160,105}}</string>
        <key>offset</key>
        <string>{-40,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,105}}</string>
        <key>sourceSize</key>
        <string>{160,105}</string>
      </dict>
      <key>monster_30075_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{153,111}}</string>
        <key>offset</key>
        <string>{-39,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,111}}</string>
        <key>sourceSize</key>
        <string>{153,111}</string>
      </dict>
      <key>monster_30075_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,489},{149,111}}</string>
        <key>offset</key>
        <string>{-36,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,111}}</string>
        <key>sourceSize</key>
        <string>{149,111}</string>
      </dict>
      <key>monster_30075_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,489},{147,111}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,111}}</string>
        <key>sourceSize</key>
        <string>{147,111}</string>
      </dict>
      <key>monster_30075_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,324},{147,111}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,111}}</string>
        <key>sourceSize</key>
        <string>{147,111}</string>
      </dict>
      <key>monster_30075_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,155},{147,111}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,111}}</string>
        <key>sourceSize</key>
        <string>{147,111}</string>
      </dict>
      <key>monster_30075_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{147,111}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,111}}</string>
        <key>sourceSize</key>
        <string>{147,111}</string>
      </dict>
      <key>monster_30075_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,785},{117,111}}</string>
        <key>offset</key>
        <string>{-46,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,111}}</string>
        <key>sourceSize</key>
        <string>{117,111}</string>
      </dict>
      <key>monster_30075_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{158,112}}</string>
        <key>offset</key>
        <string>{-50,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,112}}</string>
        <key>sourceSize</key>
        <string>{158,112}</string>
      </dict>
      <key>monster_30075_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{149,122}}</string>
        <key>offset</key>
        <string>{-56,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,122}}</string>
        <key>sourceSize</key>
        <string>{149,122}</string>
      </dict>
      <key>monster_30075_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,0},{141,122}}</string>
        <key>offset</key>
        <string>{-60,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,122}}</string>
        <key>sourceSize</key>
        <string>{141,122}</string>
      </dict>
      <key>monster_30075_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,573},{136,120}}</string>
        <key>offset</key>
        <string>{-61,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,120}}</string>
        <key>sourceSize</key>
        <string>{136,120}</string>
      </dict>
      <key>monster_30075_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,421},{136,121}}</string>
        <key>offset</key>
        <string>{-61,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,121}}</string>
        <key>sourceSize</key>
        <string>{136,121}</string>
      </dict>
      <key>monster_30075_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,143},{137,120}}</string>
        <key>offset</key>
        <string>{-61,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
      <key>monster_30075_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{137,120}}</string>
        <key>offset</key>
        <string>{-61,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
      <key>monster_30075_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,762},{137,120}}</string>
        <key>offset</key>
        <string>{-61,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
      <key>monster_30075_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,901},{137,120}}</string>
        <key>offset</key>
        <string>{-61,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
      <key>monster_30075_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,784},{141,111}}</string>
        <key>offset</key>
        <string>{-49,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,111}}</string>
        <key>sourceSize</key>
        <string>{141,111}</string>
      </dict>
      <key>monster_30075_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,638},{111,144}}</string>
        <key>offset</key>
        <string>{-59,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,144}}</string>
        <key>sourceSize</key>
        <string>{111,144}</string>
      </dict>
      <key>monster_30075_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,791},{94,145}}</string>
        <key>offset</key>
        <string>{-65,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,145}}</string>
        <key>sourceSize</key>
        <string>{94,145}</string>
      </dict>
      <key>monster_30075_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,304},{98,143}}</string>
        <key>offset</key>
        <string>{-69,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,143}}</string>
        <key>sourceSize</key>
        <string>{98,143}</string>
      </dict>
      <key>monster_30075_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,449},{112,139}}</string>
        <key>offset</key>
        <string>{-73,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,139}}</string>
        <key>sourceSize</key>
        <string>{112,139}</string>
      </dict>
      <key>monster_30075_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,590},{114,137}}</string>
        <key>offset</key>
        <string>{-73,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,137}}</string>
        <key>sourceSize</key>
        <string>{114,137}</string>
      </dict>
      <key>monster_30075_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,434},{112,137}}</string>
        <key>offset</key>
        <string>{-71,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,137}}</string>
        <key>sourceSize</key>
        <string>{112,137}</string>
      </dict>
      <key>monster_30075_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,282},{112,137}}</string>
        <key>offset</key>
        <string>{-71,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,137}}</string>
        <key>sourceSize</key>
        <string>{112,137}</string>
      </dict>
      <key>monster_30075_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,139},{112,137}}</string>
        <key>offset</key>
        <string>{-71,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,137}}</string>
        <key>sourceSize</key>
        <string>{112,137}</string>
      </dict>
      <key>monster_30075_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{112,137}}</string>
        <key>offset</key>
        <string>{-71,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,137}}</string>
        <key>sourceSize</key>
        <string>{112,137}</string>
      </dict>
      <key>monster_30075_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,276},{129,123}}</string>
        <key>offset</key>
        <string>{-52,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,123}}</string>
        <key>sourceSize</key>
        <string>{129,123}</string>
      </dict>
      <key>monster_30075_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,304},{92,143}}</string>
        <key>offset</key>
        <string>{-51,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,143}}</string>
        <key>sourceSize</key>
        <string>{92,143}</string>
      </dict>
      <key>monster_30075_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,619},{105,141}}</string>
        <key>offset</key>
        <string>{-64,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,141}}</string>
        <key>sourceSize</key>
        <string>{105,141}</string>
      </dict>
      <key>monster_30075_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,696},{108,133}}</string>
        <key>offset</key>
        <string>{-67,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,133}}</string>
        <key>sourceSize</key>
        <string>{108,133}</string>
      </dict>
      <key>monster_30075_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,416},{105,130}}</string>
        <key>offset</key>
        <string>{-64,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,130}}</string>
        <key>sourceSize</key>
        <string>{105,130}</string>
      </dict>
      <key>monster_30075_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,137},{104,128}}</string>
        <key>offset</key>
        <string>{-63,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,128}}</string>
        <key>sourceSize</key>
        <string>{104,128}</string>
      </dict>
      <key>monster_30075_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,0},{105,128}}</string>
        <key>offset</key>
        <string>{-64,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,128}}</string>
        <key>sourceSize</key>
        <string>{105,128}</string>
      </dict>
      <key>monster_30075_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,831},{105,128}}</string>
        <key>offset</key>
        <string>{-64,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,128}}</string>
        <key>sourceSize</key>
        <string>{105,128}</string>
      </dict>
      <key>monster_30075_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,548},{105,128}}</string>
        <key>offset</key>
        <string>{-64,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,128}}</string>
        <key>sourceSize</key>
        <string>{105,128}</string>
      </dict>
      <key>monster_30075_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,407},{105,128}}</string>
        <key>offset</key>
        <string>{-64,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,128}}</string>
        <key>sourceSize</key>
        <string>{105,128}</string>
      </dict>
      <key>monster_30075_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,939},{82,135}}</string>
        <key>offset</key>
        <string>{-35,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,135}}</string>
        <key>sourceSize</key>
        <string>{82,135}</string>
      </dict>
      <key>monster_30075_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,293},{139,117}}</string>
        <key>offset</key>
        <string>{-87,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,117}}</string>
        <key>sourceSize</key>
        <string>{139,117}</string>
      </dict>
      <key>monster_30075_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,791},{146,115}}</string>
        <key>offset</key>
        <string>{-91,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,115}}</string>
        <key>sourceSize</key>
        <string>{146,115}</string>
      </dict>
      <key>monster_30075_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,149},{142,114}}</string>
        <key>offset</key>
        <string>{-84,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,114}}</string>
        <key>sourceSize</key>
        <string>{142,114}</string>
      </dict>
      <key>monster_30075_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,729},{137,115}}</string>
        <key>offset</key>
        <string>{-76,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,115}}</string>
        <key>sourceSize</key>
        <string>{137,115}</string>
      </dict>
      <key>monster_30075_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,278},{136,115}}</string>
        <key>offset</key>
        <string>{-76,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,115}}</string>
        <key>sourceSize</key>
        <string>{136,115}</string>
      </dict>
      <key>monster_30075_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,139},{135,115}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,115}}</string>
        <key>sourceSize</key>
        <string>{135,115}</string>
      </dict>
      <key>monster_30075_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{135,115}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,115}}</string>
        <key>sourceSize</key>
        <string>{135,115}</string>
      </dict>
      <key>monster_30075_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,868},{135,115}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,115}}</string>
        <key>sourceSize</key>
        <string>{135,115}</string>
      </dict>
      <key>monster_30075_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,711},{135,115}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,115}}</string>
        <key>sourceSize</key>
        <string>{135,115}</string>
      </dict>
      <key>monster_30075_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,130},{102,123}}</string>
        <key>offset</key>
        <string>{-41,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,123}}</string>
        <key>sourceSize</key>
        <string>{102,123}</string>
      </dict>
      <key>monster_30075_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,473},{144,112}}</string>
        <key>offset</key>
        <string>{-78,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,112}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
      <key>monster_30075_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,848},{134,114}}</string>
        <key>offset</key>
        <string>{-60,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,114}}</string>
        <key>sourceSize</key>
        <string>{134,114}</string>
      </dict>
      <key>monster_30075_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,267},{128,116}}</string>
        <key>offset</key>
        <string>{-46,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,116}}</string>
        <key>sourceSize</key>
        <string>{128,116}</string>
      </dict>
      <key>monster_30075_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,255},{123,117}}</string>
        <key>offset</key>
        <string>{-39,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,117}}</string>
        <key>sourceSize</key>
        <string>{123,117}</string>
      </dict>
      <key>monster_30075_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,380},{122,117}}</string>
        <key>offset</key>
        <string>{-38,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,117}}</string>
        <key>sourceSize</key>
        <string>{122,117}</string>
      </dict>
      <key>monster_30075_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,808},{124,116}}</string>
        <key>offset</key>
        <string>{-40,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,116}}</string>
        <key>sourceSize</key>
        <string>{124,116}</string>
      </dict>
      <key>monster_30075_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,666},{124,116}}</string>
        <key>offset</key>
        <string>{-40,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,116}}</string>
        <key>sourceSize</key>
        <string>{124,116}</string>
      </dict>
      <key>monster_30075_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,525},{124,116}}</string>
        <key>offset</key>
        <string>{-40,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,116}}</string>
        <key>sourceSize</key>
        <string>{124,116}</string>
      </dict>
      <key>monster_30075_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,0},{124,116}}</string>
        <key>offset</key>
        <string>{-40,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,116}}</string>
        <key>sourceSize</key>
        <string>{124,116}</string>
      </dict>
      <key>monster_30075_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,559},{135,106}}</string>
        <key>offset</key>
        <string>{-65,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,106}}</string>
        <key>sourceSize</key>
        <string>{135,106}</string>
      </dict>
      <key>monster_30075_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,904},{115,105}}</string>
        <key>offset</key>
        <string>{-25,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,105}}</string>
        <key>sourceSize</key>
        <string>{115,105}</string>
      </dict>
      <key>monster_30075_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,868},{90,103}}</string>
        <key>offset</key>
        <string>{5,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,103}}</string>
        <key>sourceSize</key>
        <string>{90,103}</string>
      </dict>
      <key>monster_30075_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,664},{102,107}}</string>
        <key>offset</key>
        <string>{-4,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,107}}</string>
        <key>sourceSize</key>
        <string>{102,107}</string>
      </dict>
      <key>monster_30075_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,444},{119,108}}</string>
        <key>offset</key>
        <string>{-20,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,108}}</string>
        <key>sourceSize</key>
        <string>{119,108}</string>
      </dict>
      <key>monster_30075_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,223},{120,109}}</string>
        <key>offset</key>
        <string>{-22,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,109}}</string>
        <key>sourceSize</key>
        <string>{120,109}</string>
      </dict>
      <key>monster_30075_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,554},{119,108}}</string>
        <key>offset</key>
        <string>{-23,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,108}}</string>
        <key>sourceSize</key>
        <string>{119,108}</string>
      </dict>
      <key>monster_30075_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,792},{119,108}}</string>
        <key>offset</key>
        <string>{-23,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,108}}</string>
        <key>sourceSize</key>
        <string>{119,108}</string>
      </dict>
      <key>monster_30075_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,913},{119,108}}</string>
        <key>offset</key>
        <string>{-23,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,108}}</string>
        <key>sourceSize</key>
        <string>{119,108}</string>
      </dict>
      <key>monster_30075_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,664},{119,108}}</string>
        <key>offset</key>
        <string>{-23,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,108}}</string>
        <key>sourceSize</key>
        <string>{119,108}</string>
      </dict>
      <key>monster_30075_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,559},{133,100}}</string>
        <key>offset</key>
        <string>{-51,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,100}}</string>
        <key>sourceSize</key>
        <string>{133,100}</string>
      </dict>
      <key>monster_30075_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,773},{93,107}}</string>
        <key>offset</key>
        <string>{-11,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,107}}</string>
        <key>sourceSize</key>
        <string>{93,107}</string>
      </dict>
      <key>monster_30075_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,0},{120,96}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,96}}</string>
        <key>sourceSize</key>
        <string>{120,96}</string>
      </dict>
      <key>monster_30075_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,118},{124,103}}</string>
        <key>offset</key>
        <string>{-15,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,103}}</string>
        <key>sourceSize</key>
        <string>{124,103}</string>
      </dict>
      <key>monster_30075_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,334},{120,108}}</string>
        <key>offset</key>
        <string>{-12,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,108}}</string>
        <key>sourceSize</key>
        <string>{120,108}</string>
      </dict>
      <key>monster_30075_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,397},{126,110}}</string>
        <key>offset</key>
        <string>{-19,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,110}}</string>
        <key>sourceSize</key>
        <string>{126,110}</string>
      </dict>
      <key>monster_30075_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,537},{127,110}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,110}}</string>
        <key>sourceSize</key>
        <string>{127,110}</string>
      </dict>
      <key>monster_30075_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,130},{128,110}}</string>
        <key>offset</key>
        <string>{-21,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,110}}</string>
        <key>sourceSize</key>
        <string>{128,110}</string>
      </dict>
      <key>monster_30075_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,0},{128,110}}</string>
        <key>offset</key>
        <string>{-21,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,110}}</string>
        <key>sourceSize</key>
        <string>{128,110}</string>
      </dict>
      <key>monster_30075_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,678},{128,110}}</string>
        <key>offset</key>
        <string>{-21,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,110}}</string>
        <key>sourceSize</key>
        <string>{128,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30075_0_4.png</string>
      <key>size</key>
      <string>{1280,1024}</string>
      <key>textureFileName</key>
      <string>monster_30075_0_4.png</string>
    </dict>
  </dict>
</plist>