<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30036_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{292,305}}</string>
        <key>offset</key>
        <string>{-64,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,305}}</string>
        <key>sourceSize</key>
        <string>{292,305}</string>
      </dict>
      <key>monster_30036_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{305,310}}</string>
        <key>offset</key>
        <string>{-65,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,310}}</string>
        <key>sourceSize</key>
        <string>{305,310}</string>
      </dict>
      <key>monster_30036_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,551},{281,278}}</string>
        <key>offset</key>
        <string>{-109,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,278}}</string>
        <key>sourceSize</key>
        <string>{281,278}</string>
      </dict>
      <key>monster_30036_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,509},{284,283}}</string>
        <key>offset</key>
        <string>{-97,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,283}}</string>
        <key>sourceSize</key>
        <string>{284,283}</string>
      </dict>
      <key>monster_30036_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{242,299}}</string>
        <key>offset</key>
        <string>{-58,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,299}}</string>
        <key>sourceSize</key>
        <string>{242,299}</string>
      </dict>
      <key>monster_30036_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,294},{213,305}}</string>
        <key>offset</key>
        <string>{-36,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,305}}</string>
        <key>sourceSize</key>
        <string>{213,305}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30036_0_2_6.png</string>
      <key>size</key>
      <string>{641,909}</string>
      <key>textureFileName</key>
      <string>monster_30036_0_2_6.png</string>
    </dict>
  </dict>
</plist>