<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40001_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,267},{245,180}}</string>
        <key>offset</key>
        <string>{-105,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,180}}</string>
        <key>sourceSize</key>
        <string>{245,180}</string>
      </dict>
      <key>monster_40001_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,514},{230,186}}</string>
        <key>offset</key>
        <string>{-91,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,186}}</string>
        <key>sourceSize</key>
        <string>{230,186}</string>
      </dict>
      <key>monster_40001_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,0},{229,217}}</string>
        <key>offset</key>
        <string>{-92,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,217}}</string>
        <key>sourceSize</key>
        <string>{229,217}</string>
      </dict>
      <key>monster_40001_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,1151},{252,229}}</string>
        <key>offset</key>
        <string>{-90,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,229}}</string>
        <key>sourceSize</key>
        <string>{252,229}</string>
      </dict>
      <key>monster_40001_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,1802},{186,193}}</string>
        <key>offset</key>
        <string>{-46,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,193}}</string>
        <key>sourceSize</key>
        <string>{186,193}</string>
      </dict>
      <key>monster_40001_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,478},{219,191}}</string>
        <key>offset</key>
        <string>{-40,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,191}}</string>
        <key>sourceSize</key>
        <string>{219,191}</string>
      </dict>
      <key>monster_40001_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,1055},{231,187}}</string>
        <key>offset</key>
        <string>{-32,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,187}}</string>
        <key>sourceSize</key>
        <string>{231,187}</string>
      </dict>
      <key>monster_40001_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,1405},{241,184}}</string>
        <key>offset</key>
        <string>{-43,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,184}}</string>
        <key>sourceSize</key>
        <string>{241,184}</string>
      </dict>
      <key>monster_40001_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,1604},{196,193}}</string>
        <key>offset</key>
        <string>{-71,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,193}}</string>
        <key>sourceSize</key>
        <string>{196,193}</string>
      </dict>
      <key>monster_40001_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,1405},{188,205}}</string>
        <key>offset</key>
        <string>{-87,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,205}}</string>
        <key>sourceSize</key>
        <string>{188,205}</string>
      </dict>
      <key>monster_40001_0_2_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,0},{211,177}}</string>
        <key>offset</key>
        <string>{-91,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,177}}</string>
        <key>sourceSize</key>
        <string>{211,177}</string>
      </dict>
      <key>monster_40001_0_2_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,746},{223,171}}</string>
        <key>offset</key>
        <string>{-81,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,171}}</string>
        <key>sourceSize</key>
        <string>{223,171}</string>
      </dict>
      <key>monster_40001_0_2_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,213},{182,167}}</string>
        <key>offset</key>
        <string>{-45,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,167}}</string>
        <key>sourceSize</key>
        <string>{182,167}</string>
      </dict>
      <key>monster_40001_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,1196},{180,203}}</string>
        <key>offset</key>
        <string>{-55,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,203}}</string>
        <key>sourceSize</key>
        <string>{180,203}</string>
      </dict>
      <key>monster_40001_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,0},{205,218}}</string>
        <key>offset</key>
        <string>{-89,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,218}}</string>
        <key>sourceSize</key>
        <string>{205,218}</string>
      </dict>
      <key>monster_40001_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,1664},{187,242}}</string>
        <key>offset</key>
        <string>{-53,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,242}}</string>
        <key>sourceSize</key>
        <string>{187,242}</string>
      </dict>
      <key>monster_40001_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{162,275}}</string>
        <key>offset</key>
        <string>{-32,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,275}}</string>
        <key>sourceSize</key>
        <string>{162,275}</string>
      </dict>
      <key>monster_40001_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1643},{181,208}}</string>
        <key>offset</key>
        <string>{-40,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,208}}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
      <key>monster_40001_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,452},{179,215}}</string>
        <key>offset</key>
        <string>{-50,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,215}}</string>
        <key>sourceSize</key>
        <string>{179,215}</string>
      </dict>
      <key>monster_40001_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{244,200}}</string>
        <key>offset</key>
        <string>{-72,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,200}}</string>
        <key>sourceSize</key>
        <string>{244,200}</string>
      </dict>
      <key>monster_40001_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,1853},{206,182}}</string>
        <key>offset</key>
        <string>{-48,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,182}}</string>
        <key>sourceSize</key>
        <string>{206,182}</string>
      </dict>
      <key>monster_40001_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1664},{243,202}}</string>
        <key>offset</key>
        <string>{-42,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,202}}</string>
        <key>sourceSize</key>
        <string>{243,202}</string>
      </dict>
      <key>monster_40001_0_2_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,220},{205,212}}</string>
        <key>offset</key>
        <string>{-59,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,212}}</string>
        <key>sourceSize</key>
        <string>{205,212}</string>
      </dict>
      <key>monster_40001_0_2_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,699},{217,200}}</string>
        <key>offset</key>
        <string>{-70,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,200}}</string>
        <key>sourceSize</key>
        <string>{217,200}</string>
      </dict>
      <key>monster_40001_0_2_1_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,918},{188,185}}</string>
        <key>offset</key>
        <string>{-50,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,185}}</string>
        <key>sourceSize</key>
        <string>{188,185}</string>
      </dict>
      <key>monster_40001_0_2_1_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,434},{159,184}}</string>
        <key>offset</key>
        <string>{-29,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,184}}</string>
        <key>sourceSize</key>
        <string>{159,184}</string>
      </dict>
      <key>monster_40001_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,1612},{203,183}}</string>
        <key>offset</key>
        <string>{-59,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,183}}</string>
        <key>sourceSize</key>
        <string>{203,183}</string>
      </dict>
      <key>monster_40001_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,527},{202,246}}</string>
        <key>offset</key>
        <string>{-66,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,246}}</string>
        <key>sourceSize</key>
        <string>{202,246}</string>
      </dict>
      <key>monster_40001_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,277},{177,265}}</string>
        <key>offset</key>
        <string>{-58,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,265}}</string>
        <key>sourceSize</key>
        <string>{177,265}</string>
      </dict>
      <key>monster_40001_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,888},{245,261}}</string>
        <key>offset</key>
        <string>{-47,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,261}}</string>
        <key>sourceSize</key>
        <string>{245,261}</string>
      </dict>
      <key>monster_40001_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1853},{208,193}}</string>
        <key>offset</key>
        <string>{-72,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,193}}</string>
        <key>sourceSize</key>
        <string>{208,193}</string>
      </dict>
      <key>monster_40001_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,1643},{208,189}}</string>
        <key>offset</key>
        <string>{-80,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,189}}</string>
        <key>sourceSize</key>
        <string>{208,189}</string>
      </dict>
      <key>monster_40001_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,246},{230,174}}</string>
        <key>offset</key>
        <string>{-76,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,174}}</string>
        <key>sourceSize</key>
        <string>{230,174}</string>
      </dict>
      <key>monster_40001_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,1008},{225,161}}</string>
        <key>offset</key>
        <string>{-67,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,161}}</string>
        <key>sourceSize</key>
        <string>{225,161}</string>
      </dict>
      <key>monster_40001_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,612},{274,184}}</string>
        <key>offset</key>
        <string>{-59,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,184}}</string>
        <key>sourceSize</key>
        <string>{274,184}</string>
      </dict>
      <key>monster_40001_0_2_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,267},{258,159}}</string>
        <key>offset</key>
        <string>{-64,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,159}}</string>
        <key>sourceSize</key>
        <string>{258,159}</string>
      </dict>
      <key>monster_40001_0_2_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,1405},{208,163}}</string>
        <key>offset</key>
        <string>{-70,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,163}}</string>
        <key>sourceSize</key>
        <string>{208,163}</string>
      </dict>
      <key>monster_40001_0_2_2_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,1817},{198,176}}</string>
        <key>offset</key>
        <string>{-59,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,176}}</string>
        <key>sourceSize</key>
        <string>{198,176}</string>
      </dict>
      <key>monster_40001_0_2_2_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,669},{188,181}}</string>
        <key>offset</key>
        <string>{-49,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,181}}</string>
        <key>sourceSize</key>
        <string>{188,181}</string>
      </dict>
      <key>monster_40001_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,806},{247,194}}</string>
        <key>offset</key>
        <string>{-44,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,194}}</string>
        <key>sourceSize</key>
        <string>{247,194}</string>
      </dict>
      <key>monster_40001_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1405},{201,236}}</string>
        <key>offset</key>
        <string>{-33,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,236}}</string>
        <key>sourceSize</key>
        <string>{201,236}</string>
      </dict>
      <key>monster_40001_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{219,265}}</string>
        <key>offset</key>
        <string>{-32,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,265}}</string>
        <key>sourceSize</key>
        <string>{219,265}</string>
      </dict>
      <key>monster_40001_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{322,157}}</string>
        <key>offset</key>
        <string>{-78,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,157}}</string>
        <key>sourceSize</key>
        <string>{322,157}</string>
      </dict>
      <key>monster_40001_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,775},{231,193}}</string>
        <key>offset</key>
        <string>{-97,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,193}}</string>
        <key>sourceSize</key>
        <string>{231,193}</string>
      </dict>
      <key>monster_40001_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,544},{260,175}}</string>
        <key>offset</key>
        <string>{-128,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,175}}</string>
        <key>sourceSize</key>
        <string>{260,175}</string>
      </dict>
      <key>monster_40001_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1408},{254,205}}</string>
        <key>offset</key>
        <string>{-118,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,205}}</string>
        <key>sourceSize</key>
        <string>{254,205}</string>
      </dict>
      <key>monster_40001_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,1235},{224,168}}</string>
        <key>offset</key>
        <string>{-67,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,168}}</string>
        <key>sourceSize</key>
        <string>{224,168}</string>
      </dict>
      <key>monster_40001_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,231},{214,219}}</string>
        <key>offset</key>
        <string>{-58,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,219}}</string>
        <key>sourceSize</key>
        <string>{214,219}</string>
      </dict>
      <key>monster_40001_0_2_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{286,163}}</string>
        <key>offset</key>
        <string>{-71,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,163}}</string>
        <key>sourceSize</key>
        <string>{286,163}</string>
      </dict>
      <key>monster_40001_0_2_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1151},{255,163}}</string>
        <key>offset</key>
        <string>{-93,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,163}}</string>
        <key>sourceSize</key>
        <string>{255,163}</string>
      </dict>
      <key>monster_40001_0_2_3_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,971},{223,167}}</string>
        <key>offset</key>
        <string>{-83,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,167}}</string>
        <key>sourceSize</key>
        <string>{223,167}</string>
      </dict>
      <key>monster_40001_0_2_3_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,1401},{201,184}}</string>
        <key>offset</key>
        <string>{-57,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,184}}</string>
        <key>sourceSize</key>
        <string>{201,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40001_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40001_0_2_0.png</string>
    </dict>
  </dict>
</plist>