<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30008_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{351,197}}</string>
        <key>offset</key>
        <string>{-153,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,197}}</string>
        <key>sourceSize</key>
        <string>{351,197}</string>
      </dict>
      <key>monster_30008_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,366},{357,194}}</string>
        <key>offset</key>
        <string>{-152,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,194}}</string>
        <key>sourceSize</key>
        <string>{357,194}</string>
      </dict>
      <key>monster_30008_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,725},{355,192}}</string>
        <key>offset</key>
        <string>{-143,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,192}}</string>
        <key>sourceSize</key>
        <string>{355,192}</string>
      </dict>
      <key>monster_30008_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{364,189}}</string>
        <key>offset</key>
        <string>{-149,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,189}}</string>
        <key>sourceSize</key>
        <string>{364,189}</string>
      </dict>
      <key>monster_30008_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{364,188}}</string>
        <key>offset</key>
        <string>{-154,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,188}}</string>
        <key>sourceSize</key>
        <string>{364,188}</string>
      </dict>
      <key>monster_30008_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,732},{363,191}}</string>
        <key>offset</key>
        <string>{-155,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,191}}</string>
        <key>sourceSize</key>
        <string>{363,191}</string>
      </dict>
      <key>monster_30008_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,358},{355,194}}</string>
        <key>offset</key>
        <string>{-148,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,194}}</string>
        <key>sourceSize</key>
        <string>{355,194}</string>
      </dict>
      <key>monster_30008_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{356,197}}</string>
        <key>offset</key>
        <string>{-152,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,197}}</string>
        <key>sourceSize</key>
        <string>{356,197}</string>
      </dict>
      <key>monster_30008_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,353},{348,218}}</string>
        <key>offset</key>
        <string>{-115,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,218}}</string>
        <key>sourceSize</key>
        <string>{348,218}</string>
      </dict>
      <key>monster_30008_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,703},{343,213}}</string>
        <key>offset</key>
        <string>{-113,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,213}}</string>
        <key>sourceSize</key>
        <string>{343,213}</string>
      </dict>
      <key>monster_30008_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,346},{341,220}}</string>
        <key>offset</key>
        <string>{-107,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,220}}</string>
        <key>sourceSize</key>
        <string>{341,220}</string>
      </dict>
      <key>monster_30008_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,339},{335,225}}</string>
        <key>offset</key>
        <string>{-96,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,225}}</string>
        <key>sourceSize</key>
        <string>{335,225}</string>
      </dict>
      <key>monster_30008_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,0},{337,230}}</string>
        <key>offset</key>
        <string>{-93,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,230}}</string>
        <key>sourceSize</key>
        <string>{337,230}</string>
      </dict>
      <key>monster_30008_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,919},{331,228}}</string>
        <key>offset</key>
        <string>{-84,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,228}}</string>
        <key>sourceSize</key>
        <string>{331,228}</string>
      </dict>
      <key>monster_30008_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,0},{339,222}}</string>
        <key>offset</key>
        <string>{-95,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,222}}</string>
        <key>sourceSize</key>
        <string>{339,222}</string>
      </dict>
      <key>monster_30008_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{344,216}}</string>
        <key>offset</key>
        <string>{-105,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,216}}</string>
        <key>sourceSize</key>
        <string>{344,216}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30008_0_1_1.png</string>
      <key>size</key>
      <string>{1282,1254}</string>
      <key>textureFileName</key>
      <string>monster_30008_0_1_1.png</string>
    </dict>
  </dict>
</plist>