<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30004_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,0},{224,250}}</string>
        <key>offset</key>
        <string>{-70,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,250}}</string>
        <key>sourceSize</key>
        <string>{224,250}</string>
      </dict>
      <key>monster_30004_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1043},{224,249}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,249}}</string>
        <key>sourceSize</key>
        <string>{224,249}</string>
      </dict>
      <key>monster_30004_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,504},{224,249}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,249}}</string>
        <key>sourceSize</key>
        <string>{224,249}</string>
      </dict>
      <key>monster_30004_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,252},{225,250}}</string>
        <key>offset</key>
        <string>{-70,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,250}}</string>
        <key>sourceSize</key>
        <string>{225,250}</string>
      </dict>
      <key>monster_30004_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{257,294}}</string>
        <key>offset</key>
        <string>{-128,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,294}}</string>
        <key>sourceSize</key>
        <string>{257,294}</string>
      </dict>
      <key>monster_30004_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{258,292}}</string>
        <key>offset</key>
        <string>{-128,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,292}}</string>
        <key>sourceSize</key>
        <string>{258,292}</string>
      </dict>
      <key>monster_30004_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{258,290}}</string>
        <key>offset</key>
        <string>{-128,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,290}}</string>
        <key>sourceSize</key>
        <string>{258,290}</string>
      </dict>
      <key>monster_30004_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,500},{258,290}}</string>
        <key>offset</key>
        <string>{-128,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,290}}</string>
        <key>sourceSize</key>
        <string>{258,290}</string>
      </dict>
      <key>monster_30004_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{246,291}}</string>
        <key>offset</key>
        <string>{-115,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,291}}</string>
        <key>sourceSize</key>
        <string>{246,291}</string>
      </dict>
      <key>monster_30004_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{247,291}}</string>
        <key>offset</key>
        <string>{-115,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,291}}</string>
        <key>sourceSize</key>
        <string>{247,291}</string>
      </dict>
      <key>monster_30004_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,249},{249,291}}</string>
        <key>offset</key>
        <string>{-115,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,291}}</string>
        <key>sourceSize</key>
        <string>{249,291}</string>
      </dict>
      <key>monster_30004_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,260},{251,291}}</string>
        <key>offset</key>
        <string>{-115,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,291}}</string>
        <key>sourceSize</key>
        <string>{251,291}</string>
      </dict>
      <key>monster_30004_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,790},{276,273}}</string>
        <key>offset</key>
        <string>{-129,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,273}}</string>
        <key>sourceSize</key>
        <string>{276,273}</string>
      </dict>
      <key>monster_30004_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{277,274}}</string>
        <key>offset</key>
        <string>{-129,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,274}}</string>
        <key>sourceSize</key>
        <string>{277,274}</string>
      </dict>
      <key>monster_30004_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,760},{277,275}}</string>
        <key>offset</key>
        <string>{-129,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,275}}</string>
        <key>sourceSize</key>
        <string>{277,275}</string>
      </dict>
      <key>monster_30004_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,513},{278,275}}</string>
        <key>offset</key>
        <string>{-129,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,275}}</string>
        <key>sourceSize</key>
        <string>{278,275}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30004_0_0_0.png</string>
      <key>size</key>
      <string>{1120,1282}</string>
      <key>textureFileName</key>
      <string>monster_30004_0_0_0.png</string>
    </dict>
  </dict>
</plist>