<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30010_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{298,259}}</string>
        <key>offset</key>
        <string>{-154,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,259}}</string>
        <key>sourceSize</key>
        <string>{298,259}</string>
      </dict>
      <key>monster_30010_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,611},{270,253}}</string>
        <key>offset</key>
        <string>{-126,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,253}}</string>
        <key>sourceSize</key>
        <string>{270,253}</string>
      </dict>
      <key>monster_30010_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,286},{282,233}}</string>
        <key>offset</key>
        <string>{-136,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,233}}</string>
        <key>sourceSize</key>
        <string>{282,233}</string>
      </dict>
      <key>monster_30010_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{309,215}}</string>
        <key>offset</key>
        <string>{-160,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,215}}</string>
        <key>sourceSize</key>
        <string>{309,215}</string>
      </dict>
      <key>monster_30010_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{284,232}}</string>
        <key>offset</key>
        <string>{-134,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,232}}</string>
        <key>sourceSize</key>
        <string>{284,232}</string>
      </dict>
      <key>monster_30010_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,611},{257,256}}</string>
        <key>offset</key>
        <string>{-111,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,256}}</string>
        <key>sourceSize</key>
        <string>{257,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30010_0_1_6.png</string>
      <key>size</key>
      <string>{642,892}</string>
      <key>textureFileName</key>
      <string>monster_30010_0_1_6.png</string>
    </dict>
  </dict>
</plist>