<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40001_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,213},{183,200}}</string>
        <key>offset</key>
        <string>{-41,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,200}}</string>
        <key>sourceSize</key>
        <string>{183,200}</string>
      </dict>
      <key>monster_40001_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1133,641},{193,195}}</string>
        <key>offset</key>
        <string>{-47,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,195}}</string>
        <key>sourceSize</key>
        <string>{193,195}</string>
      </dict>
      <key>monster_40001_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,437},{212,190}}</string>
        <key>offset</key>
        <string>{-63,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,190}}</string>
        <key>sourceSize</key>
        <string>{212,190}</string>
      </dict>
      <key>monster_40001_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,0},{200,193}}</string>
        <key>offset</key>
        <string>{-49,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,193}}</string>
        <key>sourceSize</key>
        <string>{200,193}</string>
      </dict>
      <key>monster_40001_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1255,415},{194,194}}</string>
        <key>offset</key>
        <string>{-51,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,194}}</string>
        <key>sourceSize</key>
        <string>{194,194}</string>
      </dict>
      <key>monster_40001_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,202},{180,187}}</string>
        <key>offset</key>
        <string>{-42,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,187}}</string>
        <key>sourceSize</key>
        <string>{180,187}</string>
      </dict>
      <key>monster_40001_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,838},{181,188}}</string>
        <key>offset</key>
        <string>{-46,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,188}}</string>
        <key>sourceSize</key>
        <string>{181,188}</string>
      </dict>
      <key>monster_40001_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1133,838},{184,189}}</string>
        <key>offset</key>
        <string>{-46,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,189}}</string>
        <key>sourceSize</key>
        <string>{184,189}</string>
      </dict>
      <key>monster_40001_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{213,186}}</string>
        <key>offset</key>
        <string>{-87,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,186}}</string>
        <key>sourceSize</key>
        <string>{213,186}</string>
      </dict>
      <key>monster_40001_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,678},{213,191}}</string>
        <key>offset</key>
        <string>{-81,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,191}}</string>
        <key>sourceSize</key>
        <string>{213,191}</string>
      </dict>
      <key>monster_40001_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,429},{210,191}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,191}}</string>
        <key>sourceSize</key>
        <string>{210,191}</string>
      </dict>
      <key>monster_40001_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,221},{214,199}}</string>
        <key>offset</key>
        <string>{-78,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,199}}</string>
        <key>sourceSize</key>
        <string>{214,199}</string>
      </dict>
      <key>monster_40001_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,679},{217,202}}</string>
        <key>offset</key>
        <string>{-81,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,202}}</string>
        <key>sourceSize</key>
        <string>{217,202}</string>
      </dict>
      <key>monster_40001_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{219,194}}</string>
        <key>offset</key>
        <string>{-89,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,194}}</string>
        <key>sourceSize</key>
        <string>{219,194}</string>
      </dict>
      <key>monster_40001_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,696},{225,185}}</string>
        <key>offset</key>
        <string>{-92,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,185}}</string>
        <key>sourceSize</key>
        <string>{225,185}</string>
      </dict>
      <key>monster_40001_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,0},{211,183}}</string>
        <key>offset</key>
        <string>{-90,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,183}}</string>
        <key>sourceSize</key>
        <string>{211,183}</string>
      </dict>
      <key>monster_40001_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,233},{230,187}}</string>
        <key>offset</key>
        <string>{-98,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,187}}</string>
        <key>sourceSize</key>
        <string>{230,187}</string>
      </dict>
      <key>monster_40001_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,651},{211,182}}</string>
        <key>offset</key>
        <string>{-82,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,182}}</string>
        <key>sourceSize</key>
        <string>{211,182}</string>
      </dict>
      <key>monster_40001_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,690},{218,173}}</string>
        <key>offset</key>
        <string>{-85,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,173}}</string>
        <key>sourceSize</key>
        <string>{218,173}</string>
      </dict>
      <key>monster_40001_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,465},{229,176}}</string>
        <key>offset</key>
        <string>{-98,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,176}}</string>
        <key>sourceSize</key>
        <string>{229,176}</string>
      </dict>
      <key>monster_40001_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,494},{235,174}}</string>
        <key>offset</key>
        <string>{-104,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,174}}</string>
        <key>sourceSize</key>
        <string>{235,174}</string>
      </dict>
      <key>monster_40001_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{231,175}}</string>
        <key>offset</key>
        <string>{-87,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,175}}</string>
        <key>sourceSize</key>
        <string>{231,175}</string>
      </dict>
      <key>monster_40001_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{230,182}}</string>
        <key>offset</key>
        <string>{-85,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,182}}</string>
        <key>sourceSize</key>
        <string>{230,182}</string>
      </dict>
      <key>monster_40001_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,731},{232,188}}</string>
        <key>offset</key>
        <string>{-93,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,188}}</string>
        <key>sourceSize</key>
        <string>{232,188}</string>
      </dict>
      <key>monster_40001_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,463},{225,166}}</string>
        <key>offset</key>
        <string>{-85,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,166}}</string>
        <key>sourceSize</key>
        <string>{225,166}</string>
      </dict>
      <key>monster_40001_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{243,160}}</string>
        <key>offset</key>
        <string>{-94,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,160}}</string>
        <key>sourceSize</key>
        <string>{243,160}</string>
      </dict>
      <key>monster_40001_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,160}}</string>
        <key>offset</key>
        <string>{-96,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,160}}</string>
        <key>sourceSize</key>
        <string>{247,160}</string>
      </dict>
      <key>monster_40001_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,232},{229,167}}</string>
        <key>offset</key>
        <string>{-93,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,167}}</string>
        <key>sourceSize</key>
        <string>{229,167}</string>
      </dict>
      <key>monster_40001_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,459},{218,168}}</string>
        <key>offset</key>
        <string>{-89,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,168}}</string>
        <key>sourceSize</key>
        <string>{218,168}</string>
      </dict>
      <key>monster_40001_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,459},{217,176}}</string>
        <key>offset</key>
        <string>{-86,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,176}}</string>
        <key>sourceSize</key>
        <string>{217,176}</string>
      </dict>
      <key>monster_40001_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,215},{212,185}}</string>
        <key>offset</key>
        <string>{-81,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,185}}</string>
        <key>sourceSize</key>
        <string>{212,185}</string>
      </dict>
      <key>monster_40001_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,232},{225,178}}</string>
        <key>offset</key>
        <string>{-82,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,178}}</string>
        <key>sourceSize</key>
        <string>{225,178}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40001_0_1_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40001_0_1_1.png</string>
    </dict>
  </dict>
</plist>