<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30103_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1079,845},{163,126}}</string>
        <key>offset</key>
        <string>{-34,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,126}}</string>
        <key>sourceSize</key>
        <string>{163,126}</string>
      </dict>
      <key>monster_30103_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,355},{170,120}}</string>
        <key>offset</key>
        <string>{-37,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,120}}</string>
        <key>sourceSize</key>
        <string>{170,120}</string>
      </dict>
      <key>monster_30103_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,0},{173,147}}</string>
        <key>offset</key>
        <string>{-42,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,147}}</string>
        <key>sourceSize</key>
        <string>{173,147}</string>
      </dict>
      <key>monster_30103_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,771},{174,175}}</string>
        <key>offset</key>
        <string>{-44,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,175}}</string>
        <key>sourceSize</key>
        <string>{174,175}</string>
      </dict>
      <key>monster_30103_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,992},{176,167}}</string>
        <key>offset</key>
        <string>{-47,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,167}}</string>
        <key>sourceSize</key>
        <string>{176,167}</string>
      </dict>
      <key>monster_30103_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,559},{174,138}}</string>
        <key>offset</key>
        <string>{-43,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,138}}</string>
        <key>sourceSize</key>
        <string>{174,138}</string>
      </dict>
      <key>monster_30103_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,810},{180,140}}</string>
        <key>offset</key>
        <string>{-14,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,140}}</string>
        <key>sourceSize</key>
        <string>{180,140}</string>
      </dict>
      <key>monster_30103_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,817},{188,132}}</string>
        <key>offset</key>
        <string>{-11,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,132}}</string>
        <key>sourceSize</key>
        <string>{188,132}</string>
      </dict>
      <key>monster_30103_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1125},{198,129}}</string>
        <key>offset</key>
        <string>{-20,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,129}}</string>
        <key>sourceSize</key>
        <string>{198,129}</string>
      </dict>
      <key>monster_30103_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,241},{214,131}}</string>
        <key>offset</key>
        <string>{-33,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,131}}</string>
        <key>sourceSize</key>
        <string>{214,131}</string>
      </dict>
      <key>monster_30103_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{205,133}}</string>
        <key>offset</key>
        <string>{-33,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,133}}</string>
        <key>sourceSize</key>
        <string>{205,133}</string>
      </dict>
      <key>monster_30103_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,196},{181,129}}</string>
        <key>offset</key>
        <string>{-13,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,129}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_30103_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,973},{150,155}}</string>
        <key>offset</key>
        <string>{-13,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,155}}</string>
        <key>sourceSize</key>
        <string>{150,155}</string>
      </dict>
      <key>monster_30103_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,853},{149,161}}</string>
        <key>offset</key>
        <string>{-4,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,161}}</string>
        <key>sourceSize</key>
        <string>{149,161}</string>
      </dict>
      <key>monster_30103_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,589},{180,154}}</string>
        <key>offset</key>
        <string>{-2,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,154}}</string>
        <key>sourceSize</key>
        <string>{180,154}</string>
      </dict>
      <key>monster_30103_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,457},{209,143}}</string>
        <key>offset</key>
        <string>{-7,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,143}}</string>
        <key>sourceSize</key>
        <string>{209,143}</string>
      </dict>
      <key>monster_30103_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,668},{196,144}}</string>
        <key>offset</key>
        <string>{-2,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,144}}</string>
        <key>sourceSize</key>
        <string>{196,144}</string>
      </dict>
      <key>monster_30103_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1082,689},{166,154}}</string>
        <key>offset</key>
        <string>{-4,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,154}}</string>
        <key>sourceSize</key>
        <string>{166,154}</string>
      </dict>
      <key>monster_30103_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,175},{173,170}}</string>
        <key>offset</key>
        <string>{-33,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,170}}</string>
        <key>sourceSize</key>
        <string>{173,170}</string>
      </dict>
      <key>monster_30103_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,624},{160,184}}</string>
        <key>offset</key>
        <string>{-30,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,184}}</string>
        <key>sourceSize</key>
        <string>{160,184}</string>
      </dict>
      <key>monster_30103_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,1062},{136,192}}</string>
        <key>offset</key>
        <string>{-25,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,192}}</string>
        <key>sourceSize</key>
        <string>{136,192}</string>
      </dict>
      <key>monster_30103_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,624},{139,191}}</string>
        <key>offset</key>
        <string>{-20,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,191}}</string>
        <key>sourceSize</key>
        <string>{139,191}</string>
      </dict>
      <key>monster_30103_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,810},{141,184}}</string>
        <key>offset</key>
        <string>{-24,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,184}}</string>
        <key>sourceSize</key>
        <string>{141,184}</string>
      </dict>
      <key>monster_30103_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,379},{148,178}}</string>
        <key>offset</key>
        <string>{-29,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,178}}</string>
        <key>sourceSize</key>
        <string>{148,178}</string>
      </dict>
      <key>monster_30103_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,362},{174,161}}</string>
        <key>offset</key>
        <string>{-57,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,161}}</string>
        <key>sourceSize</key>
        <string>{174,161}</string>
      </dict>
      <key>monster_30103_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{181,167}}</string>
        <key>offset</key>
        <string>{-64,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,167}}</string>
        <key>sourceSize</key>
        <string>{181,167}</string>
      </dict>
      <key>monster_30103_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,183},{177,168}}</string>
        <key>offset</key>
        <string>{-61,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,168}}</string>
        <key>sourceSize</key>
        <string>{177,168}</string>
      </dict>
      <key>monster_30103_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,347},{169,171}}</string>
        <key>offset</key>
        <string>{-53,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,171}}</string>
        <key>sourceSize</key>
        <string>{169,171}</string>
      </dict>
      <key>monster_30103_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,518},{169,170}}</string>
        <key>offset</key>
        <string>{-50,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,170}}</string>
        <key>sourceSize</key>
        <string>{169,170}</string>
      </dict>
      <key>monster_30103_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,179},{174,166}}</string>
        <key>offset</key>
        <string>{-56,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,166}}</string>
        <key>sourceSize</key>
        <string>{174,166}</string>
      </dict>
      <key>monster_30103_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,427},{195,174}}</string>
        <key>offset</key>
        <string>{-97,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,174}}</string>
        <key>sourceSize</key>
        <string>{195,174}</string>
      </dict>
      <key>monster_30103_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{214,168}}</string>
        <key>offset</key>
        <string>{-111,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,168}}</string>
        <key>sourceSize</key>
        <string>{214,168}</string>
      </dict>
      <key>monster_30103_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,241},{233,153}}</string>
        <key>offset</key>
        <string>{-124,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,153}}</string>
        <key>sourceSize</key>
        <string>{233,153}</string>
      </dict>
      <key>monster_30103_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{239,159}}</string>
        <key>offset</key>
        <string>{-127,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,159}}</string>
        <key>sourceSize</key>
        <string>{239,159}</string>
      </dict>
      <key>monster_30103_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,476},{229,155}}</string>
        <key>offset</key>
        <string>{-117,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,155}}</string>
        <key>sourceSize</key>
        <string>{229,155}</string>
      </dict>
      <key>monster_30103_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,707},{214,163}}</string>
        <key>offset</key>
        <string>{-109,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,163}}</string>
        <key>sourceSize</key>
        <string>{214,163}</string>
      </dict>
      <key>monster_30103_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,0},{169,153}}</string>
        <key>offset</key>
        <string>{-66,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,153}}</string>
        <key>sourceSize</key>
        <string>{169,153}</string>
      </dict>
      <key>monster_30103_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,0},{177,162}}</string>
        <key>offset</key>
        <string>{-77,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,162}}</string>
        <key>sourceSize</key>
        <string>{177,162}</string>
      </dict>
      <key>monster_30103_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,0},{194,170}}</string>
        <key>offset</key>
        <string>{-101,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,170}}</string>
        <key>sourceSize</key>
        <string>{194,170}</string>
      </dict>
      <key>monster_30103_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,216},{209,172}}</string>
        <key>offset</key>
        <string>{-116,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,172}}</string>
        <key>sourceSize</key>
        <string>{209,172}</string>
      </dict>
      <key>monster_30103_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,923},{200,174}}</string>
        <key>offset</key>
        <string>{-106,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,174}}</string>
        <key>sourceSize</key>
        <string>{200,174}</string>
      </dict>
      <key>monster_30103_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,404},{183,168}}</string>
        <key>offset</key>
        <string>{-84,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,168}}</string>
        <key>sourceSize</key>
        <string>{183,168}</string>
      </dict>
      <key>monster_30103_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,1007},{188,140}}</string>
        <key>offset</key>
        <string>{-64,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,140}}</string>
        <key>sourceSize</key>
        <string>{188,140}</string>
      </dict>
      <key>monster_30103_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,996},{181,147}}</string>
        <key>offset</key>
        <string>{-56,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,147}}</string>
        <key>sourceSize</key>
        <string>{181,147}</string>
      </dict>
      <key>monster_30103_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,700},{151,164}}</string>
        <key>offset</key>
        <string>{-39,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,164}}</string>
        <key>sourceSize</key>
        <string>{151,164}</string>
      </dict>
      <key>monster_30103_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,207},{150,195}}</string>
        <key>offset</key>
        <string>{-41,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,195}}</string>
        <key>sourceSize</key>
        <string>{150,195}</string>
      </dict>
      <key>monster_30103_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,866},{140,194}}</string>
        <key>offset</key>
        <string>{-29,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,194}}</string>
        <key>sourceSize</key>
        <string>{140,194}</string>
      </dict>
      <key>monster_30103_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,538},{170,160}}</string>
        <key>offset</key>
        <string>{-46,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,160}}</string>
        <key>sourceSize</key>
        <string>{170,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30103_0_1.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_30103_0_1.png</string>
    </dict>
  </dict>
</plist>