<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{157,280}}</string>
        <key>offset</key>
        <string>{-56,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,280}}</string>
        <key>sourceSize</key>
        <string>{157,280}</string>
      </dict>
      <key>monster_40004_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,313},{204,298}}</string>
        <key>offset</key>
        <string>{-102,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,298}}</string>
        <key>sourceSize</key>
        <string>{204,298}</string>
      </dict>
      <key>monster_40004_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,281},{203,274}}</string>
        <key>offset</key>
        <string>{-102,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,274}}</string>
        <key>sourceSize</key>
        <string>{203,274}</string>
      </dict>
      <key>monster_40004_0_7_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,486},{198,273}}</string>
        <key>offset</key>
        <string>{-99,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,273}}</string>
        <key>sourceSize</key>
        <string>{198,273}</string>
      </dict>
      <key>monster_40004_0_7_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,0},{184,279}}</string>
        <key>offset</key>
        <string>{-86,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,279}}</string>
        <key>sourceSize</key>
        <string>{184,279}</string>
      </dict>
      <key>monster_40004_0_7_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,0},{170,277}}</string>
        <key>offset</key>
        <string>{-70,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,277}}</string>
        <key>sourceSize</key>
        <string>{170,277}</string>
      </dict>
      <key>monster_40004_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,661},{304,235}}</string>
        <key>offset</key>
        <string>{-147,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,235}}</string>
        <key>sourceSize</key>
        <string>{304,235}</string>
      </dict>
      <key>monster_40004_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{339,246}}</string>
        <key>offset</key>
        <string>{-160,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,246}}</string>
        <key>sourceSize</key>
        <string>{339,246}</string>
      </dict>
      <key>monster_40004_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,674},{328,236}}</string>
        <key>offset</key>
        <string>{-153,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,236}}</string>
        <key>sourceSize</key>
        <string>{328,236}</string>
      </dict>
      <key>monster_40004_0_7_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,341},{331,227}}</string>
        <key>offset</key>
        <string>{-154,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,227}}</string>
        <key>sourceSize</key>
        <string>{331,227}</string>
      </dict>
      <key>monster_40004_0_7_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,341},{318,239}}</string>
        <key>offset</key>
        <string>{-154,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,239}}</string>
        <key>sourceSize</key>
        <string>{318,239}</string>
      </dict>
      <key>monster_40004_0_7_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{311,236}}</string>
        <key>offset</key>
        <string>{-153,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,236}}</string>
        <key>sourceSize</key>
        <string>{311,236}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_7_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_7_2.png</string>
    </dict>
  </dict>
</plist>