<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30049_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1376,401},{173,175}}</string>
        <key>offset</key>
        <string>{-93,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,175}}</string>
        <key>sourceSize</key>
        <string>{173,175}</string>
      </dict>
      <key>monster_30049_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1272,0},{186,202}}</string>
        <key>offset</key>
        <string>{-101,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,202}}</string>
        <key>sourceSize</key>
        <string>{186,202}</string>
      </dict>
      <key>monster_30049_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,254},{189,214}}</string>
        <key>offset</key>
        <string>{-106,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,214}}</string>
        <key>sourceSize</key>
        <string>{189,214}</string>
      </dict>
      <key>monster_30049_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1107,491},{192,215}}</string>
        <key>offset</key>
        <string>{-108,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,215}}</string>
        <key>sourceSize</key>
        <string>{192,215}</string>
      </dict>
      <key>monster_30049_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,931},{183,209}}</string>
        <key>offset</key>
        <string>{-106,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,209}}</string>
        <key>sourceSize</key>
        <string>{183,209}</string>
      </dict>
      <key>monster_30049_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1064,703},{181,226}}</string>
        <key>offset</key>
        <string>{-112,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,226}}</string>
        <key>sourceSize</key>
        <string>{181,226}</string>
      </dict>
      <key>monster_30049_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1087,0},{183,252}}</string>
        <key>offset</key>
        <string>{-115,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,252}}</string>
        <key>sourceSize</key>
        <string>{183,252}</string>
      </dict>
      <key>monster_30049_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,1162},{184,113}}</string>
        <key>offset</key>
        <string>{-115,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,113}}</string>
        <key>sourceSize</key>
        <string>{184,113}</string>
      </dict>
      <key>monster_30049_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{256,177}}</string>
        <key>offset</key>
        <string>{-80,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,177}}</string>
        <key>sourceSize</key>
        <string>{256,177}</string>
      </dict>
      <key>monster_30049_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,585},{263,203}}</string>
        <key>offset</key>
        <string>{-82,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,203}}</string>
        <key>sourceSize</key>
        <string>{263,203}</string>
      </dict>
      <key>monster_30049_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,277},{263,213}}</string>
        <key>offset</key>
        <string>{-86,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,213}}</string>
        <key>sourceSize</key>
        <string>{263,213}</string>
      </dict>
      <key>monster_30049_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,850},{260,223}}</string>
        <key>offset</key>
        <string>{-91,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,223}}</string>
        <key>sourceSize</key>
        <string>{260,223}</string>
      </dict>
      <key>monster_30049_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,937},{232,234}}</string>
        <key>offset</key>
        <string>{-72,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,234}}</string>
        <key>sourceSize</key>
        <string>{232,234}</string>
      </dict>
      <key>monster_30049_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,491},{210,250}}</string>
        <key>offset</key>
        <string>{-59,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,250}}</string>
        <key>sourceSize</key>
        <string>{210,250}</string>
      </dict>
      <key>monster_30049_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,886},{210,268}}</string>
        <key>offset</key>
        <string>{-59,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,268}}</string>
        <key>sourceSize</key>
        <string>{210,268}</string>
      </dict>
      <key>monster_30049_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,685},{208,127}}</string>
        <key>offset</key>
        <string>{-59,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,127}}</string>
        <key>sourceSize</key>
        <string>{208,127}</string>
      </dict>
      <key>monster_30049_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,602},{291,175}}</string>
        <key>offset</key>
        <string>{-53,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,175}}</string>
        <key>sourceSize</key>
        <string>{291,175}</string>
      </dict>
      <key>monster_30049_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{301,206}}</string>
        <key>offset</key>
        <string>{-58,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,206}}</string>
        <key>sourceSize</key>
        <string>{301,206}</string>
      </dict>
      <key>monster_30049_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,895},{284,224}}</string>
        <key>offset</key>
        <string>{-49,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,224}}</string>
        <key>sourceSize</key>
        <string>{284,224}</string>
      </dict>
      <key>monster_30049_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{275,235}}</string>
        <key>offset</key>
        <string>{-51,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,235}}</string>
        <key>sourceSize</key>
        <string>{275,235}</string>
      </dict>
      <key>monster_30049_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,0},{255,243}}</string>
        <key>offset</key>
        <string>{-40,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,243}}</string>
        <key>sourceSize</key>
        <string>{255,243}</string>
      </dict>
      <key>monster_30049_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{216,263}}</string>
        <key>offset</key>
        <string>{-11,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,263}}</string>
        <key>sourceSize</key>
        <string>{216,263}</string>
      </dict>
      <key>monster_30049_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,303},{208,280}}</string>
        <key>offset</key>
        <string>{-11,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,280}}</string>
        <key>sourceSize</key>
        <string>{208,280}</string>
      </dict>
      <key>monster_30049_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,1116},{204,137}}</string>
        <key>offset</key>
        <string>{-11,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,137}}</string>
        <key>sourceSize</key>
        <string>{204,137}</string>
      </dict>
      <key>monster_30049_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,937},{223,221}}</string>
        <key>offset</key>
        <string>{-46,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,221}}</string>
        <key>sourceSize</key>
        <string>{223,221}</string>
      </dict>
      <key>monster_30049_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,703},{246,232}}</string>
        <key>offset</key>
        <string>{-45,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,232}}</string>
        <key>sourceSize</key>
        <string>{246,232}</string>
      </dict>
      <key>monster_30049_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,257},{253,232}}</string>
        <key>offset</key>
        <string>{-37,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,232}}</string>
        <key>sourceSize</key>
        <string>{253,232}</string>
      </dict>
      <key>monster_30049_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,542},{259,236}}</string>
        <key>offset</key>
        <string>{-44,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,236}}</string>
        <key>sourceSize</key>
        <string>{259,236}</string>
      </dict>
      <key>monster_30049_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,265},{230,258}}</string>
        <key>offset</key>
        <string>{-36,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,258}}</string>
        <key>sourceSize</key>
        <string>{230,258}</string>
      </dict>
      <key>monster_30049_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,602},{194,282}}</string>
        <key>offset</key>
        <string>{-11,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,282}}</string>
        <key>sourceSize</key>
        <string>{194,282}</string>
      </dict>
      <key>monster_30049_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,303},{196,297}}</string>
        <key>offset</key>
        <string>{-11,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,297}}</string>
        <key>sourceSize</key>
        <string>{196,297}</string>
      </dict>
      <key>monster_30049_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1301,204},{195,152}}</string>
        <key>offset</key>
        <string>{-10,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,152}}</string>
        <key>sourceSize</key>
        <string>{195,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30049_0_4_1.png</string>
      <key>size</key>
      <string>{1555,1283}</string>
      <key>textureFileName</key>
      <string>monster_30049_0_4_1.png</string>
    </dict>
  </dict>
</plist>