<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0451_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{328,214}}</string>
        <key>offset</key>
        <string>{-95,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,214}}</string>
        <key>sourceSize</key>
        <string>{328,214}</string>
      </dict>
      <key>monster_0451_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,664},{328,218}}</string>
        <key>offset</key>
        <string>{-93,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,218}}</string>
        <key>sourceSize</key>
        <string>{328,218}</string>
      </dict>
      <key>monster_0451_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,334},{328,227}}</string>
        <key>offset</key>
        <string>{-92,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,227}}</string>
        <key>sourceSize</key>
        <string>{328,227}</string>
      </dict>
      <key>monster_0451_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{332,215}}</string>
        <key>offset</key>
        <string>{-94,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,215}}</string>
        <key>sourceSize</key>
        <string>{332,215}</string>
      </dict>
      <key>monster_0451_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{328,214}}</string>
        <key>offset</key>
        <string>{-95,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,214}}</string>
        <key>sourceSize</key>
        <string>{328,214}</string>
      </dict>
      <key>monster_0451_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{328,231}}</string>
        <key>offset</key>
        <string>{-97,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,231}}</string>
        <key>sourceSize</key>
        <string>{328,231}</string>
      </dict>
      <key>monster_0451_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,950},{280,239}}</string>
        <key>offset</key>
        <string>{-75,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,239}}</string>
        <key>sourceSize</key>
        <string>{280,239}</string>
      </dict>
      <key>monster_0451_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,330},{280,239}}</string>
        <key>offset</key>
        <string>{-72,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,239}}</string>
        <key>sourceSize</key>
        <string>{280,239}</string>
      </dict>
      <key>monster_0451_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{280,236}}</string>
        <key>offset</key>
        <string>{-72,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,236}}</string>
        <key>sourceSize</key>
        <string>{280,236}</string>
      </dict>
      <key>monster_0451_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,612},{280,228}}</string>
        <key>offset</key>
        <string>{-75,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,228}}</string>
        <key>sourceSize</key>
        <string>{280,228}</string>
      </dict>
      <key>monster_0451_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,994},{284,229}}</string>
        <key>offset</key>
        <string>{-79,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,229}}</string>
        <key>sourceSize</key>
        <string>{284,229}</string>
      </dict>
      <key>monster_0451_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,664},{284,236}}</string>
        <key>offset</key>
        <string>{-77,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,236}}</string>
        <key>sourceSize</key>
        <string>{284,236}</string>
      </dict>
      <key>monster_0451_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,894},{192,271}}</string>
        <key>offset</key>
        <string>{-34,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,271}}</string>
        <key>sourceSize</key>
        <string>{192,271}</string>
      </dict>
      <key>monster_0451_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,560},{188,268}}</string>
        <key>offset</key>
        <string>{-33,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,268}}</string>
        <key>sourceSize</key>
        <string>{188,268}</string>
      </dict>
      <key>monster_0451_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,894},{196,273}}</string>
        <key>offset</key>
        <string>{-40,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,273}}</string>
        <key>sourceSize</key>
        <string>{196,273}</string>
      </dict>
      <key>monster_0451_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,202},{184,275}}</string>
        <key>offset</key>
        <string>{-34,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,275}}</string>
        <key>sourceSize</key>
        <string>{184,275}</string>
      </dict>
      <key>monster_0451_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,282},{184,276}}</string>
        <key>offset</key>
        <string>{-31,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,276}}</string>
        <key>sourceSize</key>
        <string>{184,276}</string>
      </dict>
      <key>monster_0451_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,0},{200,276}}</string>
        <key>offset</key>
        <string>{-46,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,276}}</string>
        <key>sourceSize</key>
        <string>{200,276}</string>
      </dict>
      <key>monster_0451_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,388},{252,247}}</string>
        <key>offset</key>
        <string>{-82,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,247}}</string>
        <key>sourceSize</key>
        <string>{252,247}</string>
      </dict>
      <key>monster_0451_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,637},{252,241}}</string>
        <key>offset</key>
        <string>{-82,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,241}}</string>
        <key>sourceSize</key>
        <string>{252,241}</string>
      </dict>
      <key>monster_0451_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,880},{252,243}}</string>
        <key>offset</key>
        <string>{-80,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,243}}</string>
        <key>sourceSize</key>
        <string>{252,243}</string>
      </dict>
      <key>monster_0451_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,626},{240,249}}</string>
        <key>offset</key>
        <string>{-72,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,249}}</string>
        <key>sourceSize</key>
        <string>{240,249}</string>
      </dict>
      <key>monster_0451_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,388},{236,250}}</string>
        <key>offset</key>
        <string>{-68,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,250}}</string>
        <key>sourceSize</key>
        <string>{236,250}</string>
      </dict>
      <key>monster_0451_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,868},{248,249}}</string>
        <key>offset</key>
        <string>{-74,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,249}}</string>
        <key>sourceSize</key>
        <string>{248,249}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0451_0_1_1.png</string>
      <key>size</key>
      <string>{1398,1281}</string>
      <key>textureFileName</key>
      <string>monster_0451_0_1_1.png</string>
    </dict>
  </dict>
</plist>