<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30037_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,418},{400,362}}</string>
        <key>offset</key>
        <string>{-226,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,362}}</string>
        <key>sourceSize</key>
        <string>{400,362}</string>
      </dict>
      <key>monster_30037_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,383},{403,366}}</string>
        <key>offset</key>
        <string>{-223,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,366}}</string>
        <key>sourceSize</key>
        <string>{403,366}</string>
      </dict>
      <key>monster_30037_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,751},{369,373}}</string>
        <key>offset</key>
        <string>{-221,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,373}}</string>
        <key>sourceSize</key>
        <string>{369,373}</string>
      </dict>
      <key>monster_30037_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,820},{388,374}}</string>
        <key>offset</key>
        <string>{-220,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,374}}</string>
        <key>sourceSize</key>
        <string>{388,374}</string>
      </dict>
      <key>monster_30037_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{416,381}}</string>
        <key>offset</key>
        <string>{-221,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,381}}</string>
        <key>sourceSize</key>
        <string>{416,381}</string>
      </dict>
      <key>monster_30037_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{436,372}}</string>
        <key>offset</key>
        <string>{-223,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,372}}</string>
        <key>sourceSize</key>
        <string>{436,372}</string>
      </dict>
      <key>monster_30037_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,0},{413,381}}</string>
        <key>offset</key>
        <string>{-225,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,381}}</string>
        <key>sourceSize</key>
        <string>{413,381}</string>
      </dict>
      <key>monster_30037_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{426,383}}</string>
        <key>offset</key>
        <string>{-227,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,383}}</string>
        <key>sourceSize</key>
        <string>{426,383}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30037_0_0_5.png</string>
      <key>size</key>
      <string>{1281,1205}</string>
      <key>textureFileName</key>
      <string>monster_30037_0_0_5.png</string>
    </dict>
  </dict>
</plist>