<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{531,197}}</string>
        <key>offset</key>
        <string>{-175,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,197}}</string>
        <key>sourceSize</key>
        <string>{531,197}</string>
      </dict>
      <key>monster_40006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,757},{484,249}}</string>
        <key>offset</key>
        <string>{-167,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,249}}</string>
        <key>sourceSize</key>
        <string>{484,249}</string>
      </dict>
      <key>monster_40006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,446},{443,274}}</string>
        <key>offset</key>
        <string>{-156,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,274}}</string>
        <key>sourceSize</key>
        <string>{443,274}</string>
      </dict>
      <key>monster_40006_0_7_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,757},{487,248}}</string>
        <key>offset</key>
        <string>{-161,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{487,248}}</string>
        <key>sourceSize</key>
        <string>{487,248}</string>
      </dict>
      <key>monster_40006_0_7_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,533},{520,222}}</string>
        <key>offset</key>
        <string>{-173,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,222}}</string>
        <key>sourceSize</key>
        <string>{520,222}</string>
      </dict>
      <key>monster_40006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{416,359}}</string>
        <key>offset</key>
        <string>{-166,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,359}}</string>
        <key>sourceSize</key>
        <string>{416,359}</string>
      </dict>
      <key>monster_40006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{444,375}}</string>
        <key>offset</key>
        <string>{-224,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,375}}</string>
        <key>sourceSize</key>
        <string>{444,375}</string>
      </dict>
      <key>monster_40006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,0},{407,329}}</string>
        <key>offset</key>
        <string>{-225,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,329}}</string>
        <key>sourceSize</key>
        <string>{407,329}</string>
      </dict>
      <key>monster_40006_0_7_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,409},{407,324}}</string>
        <key>offset</key>
        <string>{-213,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,324}}</string>
        <key>sourceSize</key>
        <string>{407,324}</string>
      </dict>
      <key>monster_40006_0_7_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,0},{407,341}}</string>
        <key>offset</key>
        <string>{-199,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,341}}</string>
        <key>sourceSize</key>
        <string>{407,341}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40006_0_7_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40006_0_7_2.png</string>
    </dict>
  </dict>
</plist>