<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30058_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,345},{305,269}}</string>
        <key>offset</key>
        <string>{-118,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,269}}</string>
        <key>sourceSize</key>
        <string>{305,269}</string>
      </dict>
      <key>monster_30058_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,652},{290,270}}</string>
        <key>offset</key>
        <string>{-55,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,270}}</string>
        <key>sourceSize</key>
        <string>{290,270}</string>
      </dict>
      <key>monster_30058_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,893},{274,251}}</string>
        <key>offset</key>
        <string>{38,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,251}}</string>
        <key>sourceSize</key>
        <string>{274,251}</string>
      </dict>
      <key>monster_30058_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,0},{219,272}}</string>
        <key>offset</key>
        <string>{40,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,272}}</string>
        <key>sourceSize</key>
        <string>{219,272}</string>
      </dict>
      <key>monster_30058_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{347,282}}</string>
        <key>offset</key>
        <string>{-110,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,282}}</string>
        <key>sourceSize</key>
        <string>{347,282}</string>
      </dict>
      <key>monster_30058_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{246,343}}</string>
        <key>offset</key>
        <string>{-50,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,343}}</string>
        <key>sourceSize</key>
        <string>{246,343}</string>
      </dict>
      <key>monster_30058_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,337},{205,285}}</string>
        <key>offset</key>
        <string>{-2,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,285}}</string>
        <key>sourceSize</key>
        <string>{205,285}</string>
      </dict>
      <key>monster_30058_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,337},{255,277}}</string>
        <key>offset</key>
        <string>{-31,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,277}}</string>
        <key>sourceSize</key>
        <string>{255,277}</string>
      </dict>
      <key>monster_30058_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{366,249}}</string>
        <key>offset</key>
        <string>{-28,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,249}}</string>
        <key>sourceSize</key>
        <string>{366,249}</string>
      </dict>
      <key>monster_30058_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,616},{208,275}}</string>
        <key>offset</key>
        <string>{-41,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,275}}</string>
        <key>sourceSize</key>
        <string>{208,275}</string>
      </dict>
      <key>monster_30058_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,717},{328,255}}</string>
        <key>offset</key>
        <string>{-145,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,255}}</string>
        <key>sourceSize</key>
        <string>{328,255}</string>
      </dict>
      <key>monster_30058_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,0},{335,339}}</string>
        <key>offset</key>
        <string>{-95,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,339}}</string>
        <key>sourceSize</key>
        <string>{335,339}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30058_0_2_1.png</string>
      <key>size</key>
      <string>{1134,1150}</string>
      <key>textureFileName</key>
      <string>monster_30058_0_2_1.png</string>
    </dict>
  </dict>
</plist>