<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30036_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,668},{313,308}}</string>
        <key>offset</key>
        <string>{-160,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,308}}</string>
        <key>sourceSize</key>
        <string>{313,308}</string>
      </dict>
      <key>monster_30036_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,824},{313,308}}</string>
        <key>offset</key>
        <string>{-160,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,308}}</string>
        <key>sourceSize</key>
        <string>{313,308}</string>
      </dict>
      <key>monster_30036_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,983},{313,310}}</string>
        <key>offset</key>
        <string>{-160,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,310}}</string>
        <key>sourceSize</key>
        <string>{313,310}</string>
      </dict>
      <key>monster_30036_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,385},{329,281}}</string>
        <key>offset</key>
        <string>{-175,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,281}}</string>
        <key>sourceSize</key>
        <string>{329,281}</string>
      </dict>
      <key>monster_30036_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,0},{366,316}}</string>
        <key>offset</key>
        <string>{-210,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,316}}</string>
        <key>sourceSize</key>
        <string>{366,316}</string>
      </dict>
      <key>monster_30036_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,0},{383,350}}</string>
        <key>offset</key>
        <string>{-207,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,350}}</string>
        <key>sourceSize</key>
        <string>{383,350}</string>
      </dict>
      <key>monster_30036_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,469},{427,359}}</string>
        <key>offset</key>
        <string>{-195,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,359}}</string>
        <key>sourceSize</key>
        <string>{427,359}</string>
      </dict>
      <key>monster_30036_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{467,295}}</string>
        <key>offset</key>
        <string>{-216,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{467,295}}</string>
        <key>sourceSize</key>
        <string>{467,295}</string>
      </dict>
      <key>monster_30036_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{536,275}}</string>
        <key>offset</key>
        <string>{-228,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,275}}</string>
        <key>sourceSize</key>
        <string>{536,275}</string>
      </dict>
      <key>monster_30036_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{545,269}}</string>
        <key>offset</key>
        <string>{-235,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,269}}</string>
        <key>sourceSize</key>
        <string>{545,269}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30036_0_4_1.png</string>
      <key>size</key>
      <string>{1282,1333}</string>
      <key>textureFileName</key>
      <string>monster_30036_0_4_1.png</string>
    </dict>
  </dict>
</plist>