<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30100_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1514,1170},{207,221}}</string>
        <key>offset</key>
        <string>{-98,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,221}}</string>
        <key>sourceSize</key>
        <string>{207,221}</string>
      </dict>
      <key>monster_30100_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,961},{250,207}}</string>
        <key>offset</key>
        <string>{-90,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,207}}</string>
        <key>sourceSize</key>
        <string>{250,207}</string>
      </dict>
      <key>monster_30100_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,516},{254,185}}</string>
        <key>offset</key>
        <string>{-138,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,185}}</string>
        <key>sourceSize</key>
        <string>{254,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,263},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,0},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,258},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,0},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,1153},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,1153},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,805},{256,185}}</string>
        <key>offset</key>
        <string>{-136,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30100_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1342,0},{180,228}}</string>
        <key>offset</key>
        <string>{-86,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,228}}</string>
        <key>sourceSize</key>
        <string>{180,228}</string>
      </dict>
      <key>monster_30100_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,275},{268,249}}</string>
        <key>offset</key>
        <string>{-88,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,249}}</string>
        <key>sourceSize</key>
        <string>{268,249}</string>
      </dict>
      <key>monster_30100_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,588},{283,197}}</string>
        <key>offset</key>
        <string>{-110,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,197}}</string>
        <key>sourceSize</key>
        <string>{283,197}</string>
      </dict>
      <key>monster_30100_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,298},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,588},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,878},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,878},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,1168},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,298},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,588},{288,156}}</string>
        <key>offset</key>
        <string>{-137,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,156}}</string>
        <key>sourceSize</key>
        <string>{288,156}</string>
      </dict>
      <key>monster_30100_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1113,258},{182,253}}</string>
        <key>offset</key>
        <string>{-93,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,253}}</string>
        <key>sourceSize</key>
        <string>{182,253}</string>
      </dict>
      <key>monster_30100_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,0},{234,261}}</string>
        <key>offset</key>
        <string>{-63,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,261}}</string>
        <key>sourceSize</key>
        <string>{234,261}</string>
      </dict>
      <key>monster_30100_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,1170},{233,238}}</string>
        <key>offset</key>
        <string>{-41,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,238}}</string>
        <key>sourceSize</key>
        <string>{233,238}</string>
      </dict>
      <key>monster_30100_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,894},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1192},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,1192},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{296,170}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,170}}</string>
        <key>sourceSize</key>
        <string>{296,170}</string>
      </dict>
      <key>monster_30100_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{187,273}}</string>
        <key>offset</key>
        <string>{-77,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,273}}</string>
        <key>sourceSize</key>
        <string>{187,273}</string>
      </dict>
      <key>monster_30100_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,873},{278,268}}</string>
        <key>offset</key>
        <string>{-70,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,268}}</string>
        <key>sourceSize</key>
        <string>{278,268}</string>
      </dict>
      <key>monster_30100_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,545},{258,245}}</string>
        <key>offset</key>
        <string>{-61,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,245}}</string>
        <key>sourceSize</key>
        <string>{258,245}</string>
      </dict>
      <key>monster_30100_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,0},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
      <key>monster_30100_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,254},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
      <key>monster_30100_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,508},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
      <key>monster_30100_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,762},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
      <key>monster_30100_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,1063},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
      <key>monster_30100_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,1317},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
      <key>monster_30100_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,961},{252,197}}</string>
        <key>offset</key>
        <string>{-138,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,197}}</string>
        <key>sourceSize</key>
        <string>{252,197}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30100_0_4_1.png</string>
      <key>size</key>
      <string>{1742,1538}</string>
      <key>textureFileName</key>
      <string>monster_30100_0_4_1.png</string>
    </dict>
  </dict>
</plist>