<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30083_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,0},{245,296}}</string>
        <key>offset</key>
        <string>{-158,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,296}}</string>
        <key>sourceSize</key>
        <string>{245,296}</string>
      </dict>
      <key>monster_30083_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,279},{247,276}}</string>
        <key>offset</key>
        <string>{-173,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,276}}</string>
        <key>sourceSize</key>
        <string>{247,276}</string>
      </dict>
      <key>monster_30083_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,0},{264,277}}</string>
        <key>offset</key>
        <string>{-197,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,277}}</string>
        <key>sourceSize</key>
        <string>{264,277}</string>
      </dict>
      <key>monster_30083_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,584},{259,282}}</string>
        <key>offset</key>
        <string>{-209,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,282}}</string>
        <key>sourceSize</key>
        <string>{259,282}</string>
      </dict>
      <key>monster_30083_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,691},{326,296}}</string>
        <key>offset</key>
        <string>{-168,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,296}}</string>
        <key>sourceSize</key>
        <string>{326,296}</string>
      </dict>
      <key>monster_30083_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{288,310}}</string>
        <key>offset</key>
        <string>{-155,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,310}}</string>
        <key>sourceSize</key>
        <string>{288,310}</string>
      </dict>
      <key>monster_30083_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,298},{253,284}}</string>
        <key>offset</key>
        <string>{-161,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,284}}</string>
        <key>sourceSize</key>
        <string>{253,284}</string>
      </dict>
      <key>monster_30083_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,557},{267,262}}</string>
        <key>offset</key>
        <string>{-170,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,262}}</string>
        <key>sourceSize</key>
        <string>{267,262}</string>
      </dict>
      <key>monster_30083_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,624},{288,271}}</string>
        <key>offset</key>
        <string>{-185,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,271}}</string>
        <key>sourceSize</key>
        <string>{288,271}</string>
      </dict>
      <key>monster_30083_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,312},{310,267}}</string>
        <key>offset</key>
        <string>{-193,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,267}}</string>
        <key>sourceSize</key>
        <string>{310,267}</string>
      </dict>
      <key>monster_30083_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{292,337}}</string>
        <key>offset</key>
        <string>{-166,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,337}}</string>
        <key>sourceSize</key>
        <string>{292,337}</string>
      </dict>
      <key>monster_30083_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{264,350}}</string>
        <key>offset</key>
        <string>{-156,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,350}}</string>
        <key>sourceSize</key>
        <string>{264,350}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30083_0_2_1.png</string>
      <key>size</key>
      <string>{1156,1025}</string>
      <key>textureFileName</key>
      <string>monster_30083_0_2_1.png</string>
    </dict>
  </dict>
</plist>