<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30109_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{382,213}}</string>
        <key>offset</key>
        <string>{-119,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,213}}</string>
        <key>sourceSize</key>
        <string>{382,213}</string>
      </dict>
      <key>monster_30109_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{380,194}}</string>
        <key>offset</key>
        <string>{-119,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,194}}</string>
        <key>sourceSize</key>
        <string>{380,194}</string>
      </dict>
      <key>monster_30109_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1150},{375,190}}</string>
        <key>offset</key>
        <string>{-117,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,190}}</string>
        <key>sourceSize</key>
        <string>{375,190}</string>
      </dict>
      <key>monster_30109_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,768},{371,208}}</string>
        <key>offset</key>
        <string>{-117,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,208}}</string>
        <key>sourceSize</key>
        <string>{371,208}</string>
      </dict>
      <key>monster_30109_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{365,216}}</string>
        <key>offset</key>
        <string>{-116,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,216}}</string>
        <key>sourceSize</key>
        <string>{365,216}</string>
      </dict>
      <key>monster_30109_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,384},{371,201}}</string>
        <key>offset</key>
        <string>{-121,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,201}}</string>
        <key>sourceSize</key>
        <string>{371,201}</string>
      </dict>
      <key>monster_30109_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,1150},{374,193}}</string>
        <key>offset</key>
        <string>{-123,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,193}}</string>
        <key>sourceSize</key>
        <string>{374,193}</string>
      </dict>
      <key>monster_30109_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{382,206}}</string>
        <key>offset</key>
        <string>{-123,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,206}}</string>
        <key>sourceSize</key>
        <string>{382,206}</string>
      </dict>
      <key>monster_30109_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{293,242}}</string>
        <key>offset</key>
        <string>{-81,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,242}}</string>
        <key>sourceSize</key>
        <string>{293,242}</string>
      </dict>
      <key>monster_30109_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,0},{269,235}}</string>
        <key>offset</key>
        <string>{-71,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,235}}</string>
        <key>sourceSize</key>
        <string>{269,235}</string>
      </dict>
      <key>monster_30109_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,997},{248,233}}</string>
        <key>offset</key>
        <string>{-59,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,233}}</string>
        <key>sourceSize</key>
        <string>{248,233}</string>
      </dict>
      <key>monster_30109_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,1224},{235,233}}</string>
        <key>offset</key>
        <string>{-52,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,233}}</string>
        <key>sourceSize</key>
        <string>{235,233}</string>
      </dict>
      <key>monster_30109_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1298,1168},{215,237}}</string>
        <key>offset</key>
        <string>{-41,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,237}}</string>
        <key>sourceSize</key>
        <string>{215,237}</string>
      </dict>
      <key>monster_30109_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,1247},{234,227}}</string>
        <key>offset</key>
        <string>{-54,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,227}}</string>
        <key>sourceSize</key>
        <string>{234,227}</string>
      </dict>
      <key>monster_30109_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,578},{249,230}}</string>
        <key>offset</key>
        <string>{-63,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,230}}</string>
        <key>sourceSize</key>
        <string>{249,230}</string>
      </dict>
      <key>monster_30109_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,0},{273,243}}</string>
        <key>offset</key>
        <string>{-75,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,243}}</string>
        <key>sourceSize</key>
        <string>{273,243}</string>
      </dict>
      <key>monster_30109_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,237},{182,256}}</string>
        <key>offset</key>
        <string>{-18,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,256}}</string>
        <key>sourceSize</key>
        <string>{182,256}</string>
      </dict>
      <key>monster_30109_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,421},{182,249}}</string>
        <key>offset</key>
        <string>{-16,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,249}}</string>
        <key>sourceSize</key>
        <string>{182,249}</string>
      </dict>
      <key>monster_30109_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,839},{190,247}}</string>
        <key>offset</key>
        <string>{-17,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,247}}</string>
        <key>sourceSize</key>
        <string>{190,247}</string>
      </dict>
      <key>monster_30109_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1099,421},{200,250}}</string>
        <key>offset</key>
        <string>{-17,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,250}}</string>
        <key>sourceSize</key>
        <string>{200,250}</string>
      </dict>
      <key>monster_30109_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,623},{214,249}}</string>
        <key>offset</key>
        <string>{-17,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,249}}</string>
        <key>sourceSize</key>
        <string>{214,249}</string>
      </dict>
      <key>monster_30109_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,922},{198,244}}</string>
        <key>offset</key>
        <string>{-16,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,244}}</string>
        <key>sourceSize</key>
        <string>{198,244}</string>
      </dict>
      <key>monster_30109_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,1031},{191,239}}</string>
        <key>offset</key>
        <string>{-17,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,239}}</string>
        <key>sourceSize</key>
        <string>{191,239}</string>
      </dict>
      <key>monster_30109_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,672},{189,248}}</string>
        <key>offset</key>
        <string>{-21,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,248}}</string>
        <key>sourceSize</key>
        <string>{189,248}</string>
      </dict>
      <key>monster_30109_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,295},{281,240}}</string>
        <key>offset</key>
        <string>{-59,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,240}}</string>
        <key>sourceSize</key>
        <string>{281,240}</string>
      </dict>
      <key>monster_30109_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,318},{297,226}}</string>
        <key>offset</key>
        <string>{-73,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,226}}</string>
        <key>sourceSize</key>
        <string>{297,226}</string>
      </dict>
      <key>monster_30109_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,1088},{315,219}}</string>
        <key>offset</key>
        <string>{-86,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,219}}</string>
        <key>sourceSize</key>
        <string>{315,219}</string>
      </dict>
      <key>monster_30109_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,757},{329,217}}</string>
        <key>offset</key>
        <string>{-92,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,217}}</string>
        <key>sourceSize</key>
        <string>{329,217}</string>
      </dict>
      <key>monster_30109_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1141},{343,212}}</string>
        <key>offset</key>
        <string>{-100,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,212}}</string>
        <key>sourceSize</key>
        <string>{343,212}</string>
      </dict>
      <key>monster_30109_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,367},{328,216}}</string>
        <key>offset</key>
        <string>{-90,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,216}}</string>
        <key>sourceSize</key>
        <string>{328,216}</string>
      </dict>
      <key>monster_30109_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{316,225}}</string>
        <key>offset</key>
        <string>{-81,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,225}}</string>
        <key>sourceSize</key>
        <string>{316,225}</string>
      </dict>
      <key>monster_30109_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,697},{298,234}}</string>
        <key>offset</key>
        <string>{-70,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,234}}</string>
        <key>sourceSize</key>
        <string>{298,234}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30109_0_1_1.png</string>
      <key>size</key>
      <string>{1537,1649}</string>
      <key>textureFileName</key>
      <string>monster_30109_0_1_1.png</string>
    </dict>
  </dict>
</plist>