<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30033_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,743},{227,148}}</string>
        <key>offset</key>
        <string>{-56,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,148}}</string>
        <key>sourceSize</key>
        <string>{227,148}</string>
      </dict>
      <key>monster_30033_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,261},{254,161}}</string>
        <key>offset</key>
        <string>{-50,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,161}}</string>
        <key>sourceSize</key>
        <string>{254,161}</string>
      </dict>
      <key>monster_30033_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{273,185}}</string>
        <key>offset</key>
        <string>{-59,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,185}}</string>
        <key>sourceSize</key>
        <string>{273,185}</string>
      </dict>
      <key>monster_30033_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,829},{272,201}}</string>
        <key>offset</key>
        <string>{-57,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,201}}</string>
        <key>sourceSize</key>
        <string>{272,201}</string>
      </dict>
      <key>monster_30033_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{259,195}}</string>
        <key>offset</key>
        <string>{-46,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,195}}</string>
        <key>sourceSize</key>
        <string>{259,195}</string>
      </dict>
      <key>monster_30033_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1078},{251,171}}</string>
        <key>offset</key>
        <string>{-41,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,171}}</string>
        <key>sourceSize</key>
        <string>{251,171}</string>
      </dict>
      <key>monster_30033_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,972},{227,217}}</string>
        <key>offset</key>
        <string>{-43,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,217}}</string>
        <key>sourceSize</key>
        <string>{227,217}</string>
      </dict>
      <key>monster_30033_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,1124},{168,149}}</string>
        <key>offset</key>
        <string>{-52,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,149}}</string>
        <key>sourceSize</key>
        <string>{168,149}</string>
      </dict>
      <key>monster_30033_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,960},{170,162}}</string>
        <key>offset</key>
        <string>{-51,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,162}}</string>
        <key>sourceSize</key>
        <string>{170,162}</string>
      </dict>
      <key>monster_30033_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,1124},{167,156}}</string>
        <key>offset</key>
        <string>{-51,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,156}}</string>
        <key>sourceSize</key>
        <string>{167,156}</string>
      </dict>
      <key>monster_30033_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,477},{202,161}}</string>
        <key>offset</key>
        <string>{-38,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,161}}</string>
        <key>sourceSize</key>
        <string>{202,161}</string>
      </dict>
      <key>monster_30033_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1103},{260,173}}</string>
        <key>offset</key>
        <string>{-53,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,173}}</string>
        <key>sourceSize</key>
        <string>{260,173}</string>
      </dict>
      <key>monster_30033_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,554},{262,207}}</string>
        <key>offset</key>
        <string>{-51,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,207}}</string>
        <key>sourceSize</key>
        <string>{262,207}</string>
      </dict>
      <key>monster_30033_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,0},{254,226}}</string>
        <key>offset</key>
        <string>{-45,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,226}}</string>
        <key>sourceSize</key>
        <string>{254,226}</string>
      </dict>
      <key>monster_30033_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,767},{238,216}}</string>
        <key>offset</key>
        <string>{-44,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,216}}</string>
        <key>sourceSize</key>
        <string>{238,216}</string>
      </dict>
      <key>monster_30033_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,244},{231,195}}</string>
        <key>offset</key>
        <string>{-48,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,195}}</string>
        <key>sourceSize</key>
        <string>{231,195}</string>
      </dict>
      <key>monster_30033_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,818},{258,218}}</string>
        <key>offset</key>
        <string>{-47,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,218}}</string>
        <key>sourceSize</key>
        <string>{258,218}</string>
      </dict>
      <key>monster_30033_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,517},{248,144}}</string>
        <key>offset</key>
        <string>{-41,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,144}}</string>
        <key>sourceSize</key>
        <string>{248,144}</string>
      </dict>
      <key>monster_30033_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,261},{256,148}}</string>
        <key>offset</key>
        <string>{-43,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,148}}</string>
        <key>sourceSize</key>
        <string>{256,148}</string>
      </dict>
      <key>monster_30033_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,796},{251,147}}</string>
        <key>offset</key>
        <string>{-43,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,147}}</string>
        <key>sourceSize</key>
        <string>{251,147}</string>
      </dict>
      <key>monster_30033_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,590},{200,175}}</string>
        <key>offset</key>
        <string>{-36,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,175}}</string>
        <key>sourceSize</key>
        <string>{200,175}</string>
      </dict>
      <key>monster_30033_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,506},{235,194}}</string>
        <key>offset</key>
        <string>{-53,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,194}}</string>
        <key>sourceSize</key>
        <string>{235,194}</string>
      </dict>
      <key>monster_30033_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,1049},{249,210}}</string>
        <key>offset</key>
        <string>{-58,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_30033_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,160},{224,228}}</string>
        <key>offset</key>
        <string>{-49,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,228}}</string>
        <key>sourceSize</key>
        <string>{224,228}</string>
      </dict>
      <key>monster_30033_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,743},{213,217}}</string>
        <key>offset</key>
        <string>{-45,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,217}}</string>
        <key>sourceSize</key>
        <string>{213,217}</string>
      </dict>
      <key>monster_30033_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,386},{212,202}}</string>
        <key>offset</key>
        <string>{-52,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,202}}</string>
        <key>sourceSize</key>
        <string>{212,202}</string>
      </dict>
      <key>monster_30033_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{242,189}}</string>
        <key>offset</key>
        <string>{-30,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,189}}</string>
        <key>sourceSize</key>
        <string>{242,189}</string>
      </dict>
      <key>monster_30033_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,506},{237,135}}</string>
        <key>offset</key>
        <string>{-28,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,135}}</string>
        <key>sourceSize</key>
        <string>{237,135}</string>
      </dict>
      <key>monster_30033_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,796},{249,128}}</string>
        <key>offset</key>
        <string>{-31,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,128}}</string>
        <key>sourceSize</key>
        <string>{249,128}</string>
      </dict>
      <key>monster_30033_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{244,130}}</string>
        <key>offset</key>
        <string>{-32,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,130}}</string>
        <key>sourceSize</key>
        <string>{244,130}</string>
      </dict>
      <key>monster_30033_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,767},{199,191}}</string>
        <key>offset</key>
        <string>{-31,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,191}}</string>
        <key>sourceSize</key>
        <string>{199,191}</string>
      </dict>
      <key>monster_30033_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,275},{260,197}}</string>
        <key>offset</key>
        <string>{-60,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,197}}</string>
        <key>sourceSize</key>
        <string>{260,197}</string>
      </dict>
      <key>monster_30033_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{276,184}}</string>
        <key>offset</key>
        <string>{-67,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,184}}</string>
        <key>sourceSize</key>
        <string>{276,184}</string>
      </dict>
      <key>monster_30033_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,554},{273,193}}</string>
        <key>offset</key>
        <string>{-70,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,193}}</string>
        <key>sourceSize</key>
        <string>{273,193}</string>
      </dict>
      <key>monster_30033_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{274,210}}</string>
        <key>offset</key>
        <string>{-79,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,210}}</string>
        <key>sourceSize</key>
        <string>{274,210}</string>
      </dict>
      <key>monster_30033_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,256},{248,234}}</string>
        <key>offset</key>
        <string>{-80,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,234}}</string>
        <key>sourceSize</key>
        <string>{248,234}</string>
      </dict>
      <key>monster_30033_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,537},{257,201}}</string>
        <key>offset</key>
        <string>{-43,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,201}}</string>
        <key>sourceSize</key>
        <string>{257,201}</string>
      </dict>
      <key>monster_30033_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,0},{230,158}}</string>
        <key>offset</key>
        <string>{-43,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,158}}</string>
        <key>sourceSize</key>
        <string>{230,158}</string>
      </dict>
      <key>monster_30033_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,0},{231,148}}</string>
        <key>offset</key>
        <string>{-45,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,148}}</string>
        <key>sourceSize</key>
        <string>{231,148}</string>
      </dict>
      <key>monster_30033_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,1007},{228,153}}</string>
        <key>offset</key>
        <string>{-45,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,153}}</string>
        <key>sourceSize</key>
        <string>{228,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30033_0_4_0.png</string>
      <key>size</key>
      <string>{1537,1358}</string>
      <key>textureFileName</key>
      <string>monster_30033_0_4_0.png</string>
    </dict>
  </dict>
</plist>