<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30094_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,104}}</string>
        <key>offset</key>
        <string>{-26,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,104}}</string>
        <key>sourceSize</key>
        <string>{130,104}</string>
      </dict>
      <key>monster_30094_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{127,108}}</string>
        <key>offset</key>
        <string>{-22,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,108}}</string>
        <key>sourceSize</key>
        <string>{127,108}</string>
      </dict>
      <key>monster_30094_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{127,107}}</string>
        <key>offset</key>
        <string>{-34,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,107}}</string>
        <key>sourceSize</key>
        <string>{127,107}</string>
      </dict>
      <key>monster_30094_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{120,114}}</string>
        <key>offset</key>
        <string>{-22,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,114}}</string>
        <key>sourceSize</key>
        <string>{120,114}</string>
      </dict>
      <key>monster_30094_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,251},{104,116}}</string>
        <key>offset</key>
        <string>{-25,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,116}}</string>
        <key>sourceSize</key>
        <string>{104,116}</string>
      </dict>
      <key>monster_30094_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{85,119}}</string>
        <key>offset</key>
        <string>{-2,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,119}}</string>
        <key>sourceSize</key>
        <string>{85,119}</string>
      </dict>
      <key>monster_30094_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,381},{101,117}}</string>
        <key>offset</key>
        <string>{-31,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,117}}</string>
        <key>sourceSize</key>
        <string>{101,117}</string>
      </dict>
      <key>monster_30094_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,122},{99,112}}</string>
        <key>offset</key>
        <string>{-19,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,112}}</string>
        <key>sourceSize</key>
        <string>{99,112}</string>
      </dict>
      <key>monster_30094_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,256},{118,123}}</string>
        <key>offset</key>
        <string>{-31,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,123}}</string>
        <key>sourceSize</key>
        <string>{118,123}</string>
      </dict>
      <key>monster_30094_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,251},{116,110}}</string>
        <key>offset</key>
        <string>{-25,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,110}}</string>
        <key>sourceSize</key>
        <string>{116,110}</string>
      </dict>
      <key>monster_30094_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{113,127}}</string>
        <key>offset</key>
        <string>{-12,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,127}}</string>
        <key>sourceSize</key>
        <string>{113,127}</string>
      </dict>
      <key>monster_30094_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{108,124}}</string>
        <key>offset</key>
        <string>{-18,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,124}}</string>
        <key>sourceSize</key>
        <string>{108,124}</string>
      </dict>
      <key>monster_30094_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,129},{107,125}}</string>
        <key>offset</key>
        <string>{-11,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,125}}</string>
        <key>sourceSize</key>
        <string>{107,125}</string>
      </dict>
      <key>monster_30094_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{91,125}}</string>
        <key>offset</key>
        <string>{-11,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,125}}</string>
        <key>sourceSize</key>
        <string>{91,125}</string>
      </dict>
      <key>monster_30094_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,127},{122,122}}</string>
        <key>offset</key>
        <string>{-20,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,122}}</string>
        <key>sourceSize</key>
        <string>{122,122}</string>
      </dict>
      <key>monster_30094_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,381},{117,111}}</string>
        <key>offset</key>
        <string>{-20,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,111}}</string>
        <key>sourceSize</key>
        <string>{117,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30094_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_30094_0_7.png</string>
    </dict>
  </dict>
</plist>