<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30025_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,118}}</string>
        <key>offset</key>
        <string>{-30,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,118}}</string>
        <key>sourceSize</key>
        <string>{180,118}</string>
      </dict>
      <key>monster_30025_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,360},{174,125}}</string>
        <key>offset</key>
        <string>{-25,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,125}}</string>
        <key>sourceSize</key>
        <string>{174,125}</string>
      </dict>
      <key>monster_30025_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,164},{143,128}}</string>
        <key>offset</key>
        <string>{-27,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,128}}</string>
        <key>sourceSize</key>
        <string>{143,128}</string>
      </dict>
      <key>monster_30025_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,172},{108,124}}</string>
        <key>offset</key>
        <string>{-14,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,124}}</string>
        <key>sourceSize</key>
        <string>{108,124}</string>
      </dict>
      <key>monster_30025_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,294},{89,130}}</string>
        <key>offset</key>
        <string>{-45,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,130}}</string>
        <key>sourceSize</key>
        <string>{89,130}</string>
      </dict>
      <key>monster_30025_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,385},{68,124}}</string>
        <key>offset</key>
        <string>{-20,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,124}}</string>
        <key>sourceSize</key>
        <string>{68,124}</string>
      </dict>
      <key>monster_30025_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{141,125}}</string>
        <key>offset</key>
        <string>{-68,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,125}}</string>
        <key>sourceSize</key>
        <string>{141,125}</string>
      </dict>
      <key>monster_30025_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,177},{170,121}}</string>
        <key>offset</key>
        <string>{-95,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,121}}</string>
        <key>sourceSize</key>
        <string>{170,121}</string>
      </dict>
      <key>monster_30025_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{180,128}}</string>
        <key>offset</key>
        <string>{-102,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,128}}</string>
        <key>sourceSize</key>
        <string>{180,128}</string>
      </dict>
      <key>monster_30025_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{175,134}}</string>
        <key>offset</key>
        <string>{-101,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,134}}</string>
        <key>sourceSize</key>
        <string>{175,134}</string>
      </dict>
      <key>monster_30025_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{143,162}}</string>
        <key>offset</key>
        <string>{-68,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,162}}</string>
        <key>sourceSize</key>
        <string>{143,162}</string>
      </dict>
      <key>monster_30025_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,181},{108,177}}</string>
        <key>offset</key>
        <string>{-46,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,177}}</string>
        <key>sourceSize</key>
        <string>{108,177}</string>
      </dict>
      <key>monster_30025_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{88,179}}</string>
        <key>offset</key>
        <string>{5,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,179}}</string>
        <key>sourceSize</key>
        <string>{88,179}</string>
      </dict>
      <key>monster_30025_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{68,179}}</string>
        <key>offset</key>
        <string>{0,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,179}}</string>
        <key>sourceSize</key>
        <string>{68,179}</string>
      </dict>
      <key>monster_30025_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,349},{140,154}}</string>
        <key>offset</key>
        <string>{-25,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,154}}</string>
        <key>sourceSize</key>
        <string>{140,154}</string>
      </dict>
      <key>monster_30025_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{170,140}}</string>
        <key>offset</key>
        <string>{-27,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,140}}</string>
        <key>sourceSize</key>
        <string>{170,140}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30025_0_7.png</string>
      <key>size</key>
      <string>{641,574}</string>
      <key>textureFileName</key>
      <string>monster_30025_0_7.png</string>
    </dict>
  </dict>
</plist>