<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30028_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,517},{248,174}}</string>
        <key>offset</key>
        <string>{-77,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,174}}</string>
        <key>sourceSize</key>
        <string>{248,174}</string>
      </dict>
      <key>monster_30028_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1431,631},{193,186}}</string>
        <key>offset</key>
        <string>{-86,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,186}}</string>
        <key>sourceSize</key>
        <string>{193,186}</string>
      </dict>
      <key>monster_30028_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,809},{258,131}}</string>
        <key>offset</key>
        <string>{-94,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,131}}</string>
        <key>sourceSize</key>
        <string>{258,131}</string>
      </dict>
      <key>monster_30028_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{253,147}}</string>
        <key>offset</key>
        <string>{-94,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,147}}</string>
        <key>sourceSize</key>
        <string>{253,147}</string>
      </dict>
      <key>monster_30028_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,249},{234,153}}</string>
        <key>offset</key>
        <string>{-94,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,153}}</string>
        <key>sourceSize</key>
        <string>{234,153}</string>
      </dict>
      <key>monster_30028_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,966},{214,167}}</string>
        <key>offset</key>
        <string>{-94,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,167}}</string>
        <key>sourceSize</key>
        <string>{214,167}</string>
      </dict>
      <key>monster_30028_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,704},{214,167}}</string>
        <key>offset</key>
        <string>{-94,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,167}}</string>
        <key>sourceSize</key>
        <string>{214,167}</string>
      </dict>
      <key>monster_30028_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,453},{214,167}}</string>
        <key>offset</key>
        <string>{-94,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,167}}</string>
        <key>sourceSize</key>
        <string>{214,167}</string>
      </dict>
      <key>monster_30028_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,219},{214,167}}</string>
        <key>offset</key>
        <string>{-94,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,167}}</string>
        <key>sourceSize</key>
        <string>{214,167}</string>
      </dict>
      <key>monster_30028_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,0},{214,167}}</string>
        <key>offset</key>
        <string>{-94,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,167}}</string>
        <key>sourceSize</key>
        <string>{214,167}</string>
      </dict>
      <key>monster_30028_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{272,119}}</string>
        <key>offset</key>
        <string>{-62,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,119}}</string>
        <key>sourceSize</key>
        <string>{272,119}</string>
      </dict>
      <key>monster_30028_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,1089},{195,167}}</string>
        <key>offset</key>
        <string>{-70,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,167}}</string>
        <key>sourceSize</key>
        <string>{195,167}</string>
      </dict>
      <key>monster_30028_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1446},{172,134}}</string>
        <key>offset</key>
        <string>{-74,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,134}}</string>
        <key>sourceSize</key>
        <string>{172,134}</string>
      </dict>
      <key>monster_30028_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1219},{137,185}}</string>
        <key>offset</key>
        <string>{-74,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,185}}</string>
        <key>sourceSize</key>
        <string>{137,185}</string>
      </dict>
      <key>monster_30028_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,204},{126,200}}</string>
        <key>offset</key>
        <string>{-74,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,200}}</string>
        <key>sourceSize</key>
        <string>{126,200}</string>
      </dict>
      <key>monster_30028_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,210},{133,202}}</string>
        <key>offset</key>
        <string>{-77,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,202}}</string>
        <key>sourceSize</key>
        <string>{133,202}</string>
      </dict>
      <key>monster_30028_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1311,0},{133,202}}</string>
        <key>offset</key>
        <string>{-77,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,202}}</string>
        <key>sourceSize</key>
        <string>{133,202}</string>
      </dict>
      <key>monster_30028_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,204},{133,202}}</string>
        <key>offset</key>
        <string>{-77,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,202}}</string>
        <key>sourceSize</key>
        <string>{133,202}</string>
      </dict>
      <key>monster_30028_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,0},{133,202}}</string>
        <key>offset</key>
        <string>{-77,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,202}}</string>
        <key>sourceSize</key>
        <string>{133,202}</string>
      </dict>
      <key>monster_30028_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1581,0},{133,202}}</string>
        <key>offset</key>
        <string>{-77,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,202}}</string>
        <key>sourceSize</key>
        <string>{133,202}</string>
      </dict>
      <key>monster_30028_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1619,490},{188,163}}</string>
        <key>offset</key>
        <string>{-30,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,163}}</string>
        <key>sourceSize</key>
        <string>{188,163}</string>
      </dict>
      <key>monster_30028_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1577,323},{199,165}}</string>
        <key>offset</key>
        <string>{-72,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,165}}</string>
        <key>sourceSize</key>
        <string>{199,165}</string>
      </dict>
      <key>monster_30028_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1747,1201},{160,129}}</string>
        <key>offset</key>
        <string>{-94,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,129}}</string>
        <key>sourceSize</key>
        <string>{160,129}</string>
      </dict>
      <key>monster_30028_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1358},{185,174}}</string>
        <key>offset</key>
        <string>{-128,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,174}}</string>
        <key>sourceSize</key>
        <string>{185,174}</string>
      </dict>
      <key>monster_30028_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,855},{195,176}}</string>
        <key>offset</key>
        <string>{-148,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,176}}</string>
        <key>sourceSize</key>
        <string>{195,176}</string>
      </dict>
      <key>monster_30028_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,1182},{212,169}}</string>
        <key>offset</key>
        <string>{-159,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,169}}</string>
        <key>sourceSize</key>
        <string>{212,169}</string>
      </dict>
      <key>monster_30028_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,920},{212,169}}</string>
        <key>offset</key>
        <string>{-159,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,169}}</string>
        <key>sourceSize</key>
        <string>{212,169}</string>
      </dict>
      <key>monster_30028_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,669},{212,169}}</string>
        <key>offset</key>
        <string>{-159,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,169}}</string>
        <key>sourceSize</key>
        <string>{212,169}</string>
      </dict>
      <key>monster_30028_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,435},{212,169}}</string>
        <key>offset</key>
        <string>{-159,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,169}}</string>
        <key>sourceSize</key>
        <string>{212,169}</string>
      </dict>
      <key>monster_30028_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,216},{212,169}}</string>
        <key>offset</key>
        <string>{-159,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,169}}</string>
        <key>sourceSize</key>
        <string>{212,169}</string>
      </dict>
      <key>monster_30028_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1657,680},{119,187}}</string>
        <key>offset</key>
        <string>{-18,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,187}}</string>
        <key>sourceSize</key>
        <string>{119,187}</string>
      </dict>
      <key>monster_30028_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,1464},{174,139}}</string>
        <key>offset</key>
        <string>{-56,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,139}}</string>
        <key>sourceSize</key>
        <string>{174,139}</string>
      </dict>
      <key>monster_30028_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1657,869},{180,133}}</string>
        <key>offset</key>
        <string>{-83,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,133}}</string>
        <key>sourceSize</key>
        <string>{180,133}</string>
      </dict>
      <key>monster_30028_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,782},{253,113}}</string>
        <key>offset</key>
        <string>{-158,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,113}}</string>
        <key>sourceSize</key>
        <string>{253,113}</string>
      </dict>
      <key>monster_30028_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{260,118}}</string>
        <key>offset</key>
        <string>{-165,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,118}}</string>
        <key>sourceSize</key>
        <string>{260,118}</string>
      </dict>
      <key>monster_30028_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,547},{258,115}}</string>
        <key>offset</key>
        <string>{-163,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,115}}</string>
        <key>sourceSize</key>
        <string>{258,115}</string>
      </dict>
      <key>monster_30028_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,265},{258,115}}</string>
        <key>offset</key>
        <string>{-163,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,115}}</string>
        <key>sourceSize</key>
        <string>{258,115}</string>
      </dict>
      <key>monster_30028_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{258,115}}</string>
        <key>offset</key>
        <string>{-163,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,115}}</string>
        <key>sourceSize</key>
        <string>{258,115}</string>
      </dict>
      <key>monster_30028_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1069},{258,115}}</string>
        <key>offset</key>
        <string>{-163,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,115}}</string>
        <key>sourceSize</key>
        <string>{258,115}</string>
      </dict>
      <key>monster_30028_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1329},{258,115}}</string>
        <key>offset</key>
        <string>{-163,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,115}}</string>
        <key>sourceSize</key>
        <string>{258,115}</string>
      </dict>
      <key>monster_30028_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,767},{237,146}}</string>
        <key>offset</key>
        <string>{-95,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,146}}</string>
        <key>sourceSize</key>
        <string>{237,146}</string>
      </dict>
      <key>monster_30028_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1498,826},{188,157}}</string>
        <key>offset</key>
        <string>{-22,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,157}}</string>
        <key>sourceSize</key>
        <string>{188,157}</string>
      </dict>
      <key>monster_30028_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1581,135},{201,186}}</string>
        <key>offset</key>
        <string>{-55,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,186}}</string>
        <key>sourceSize</key>
        <string>{201,186}</string>
      </dict>
      <key>monster_30028_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,1037},{238,163}}</string>
        <key>offset</key>
        <string>{-95,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,163}}</string>
        <key>sourceSize</key>
        <string>{238,163}</string>
      </dict>
      <key>monster_30028_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,0},{232,155}}</string>
        <key>offset</key>
        <string>{-88,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,155}}</string>
        <key>sourceSize</key>
        <string>{232,155}</string>
      </dict>
      <key>monster_30028_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,485},{217,155}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,155}}</string>
        <key>sourceSize</key>
        <string>{217,155}</string>
      </dict>
      <key>monster_30028_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,234},{217,155}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,155}}</string>
        <key>sourceSize</key>
        <string>{217,155}</string>
      </dict>
      <key>monster_30028_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,0},{217,155}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,155}}</string>
        <key>sourceSize</key>
        <string>{217,155}</string>
      </dict>
      <key>monster_30028_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,1245},{217,155}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,155}}</string>
        <key>sourceSize</key>
        <string>{217,155}</string>
      </dict>
      <key>monster_30028_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,1245},{217,155}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,155}}</string>
        <key>sourceSize</key>
        <string>{217,155}</string>
      </dict>
      <key>monster_30028_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,767},{235,152}}</string>
        <key>offset</key>
        <string>{-107,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,152}}</string>
        <key>sourceSize</key>
        <string>{235,152}</string>
      </dict>
      <key>monster_30028_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,1505},{168,166}}</string>
        <key>offset</key>
        <string>{-18,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,166}}</string>
        <key>sourceSize</key>
        <string>{168,166}</string>
      </dict>
      <key>monster_30028_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,504},{143,235}}</string>
        <key>offset</key>
        <string>{-6,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,235}}</string>
        <key>sourceSize</key>
        <string>{143,235}</string>
      </dict>
      <key>monster_30028_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,741},{128,223}}</string>
        <key>offset</key>
        <string>{3,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,223}}</string>
        <key>sourceSize</key>
        <string>{128,223}</string>
      </dict>
      <key>monster_30028_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,1396},{135,205}}</string>
        <key>offset</key>
        <string>{0,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,205}}</string>
        <key>sourceSize</key>
        <string>{135,205}</string>
      </dict>
      <key>monster_30028_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,636},{139,194}}</string>
        <key>offset</key>
        <string>{-5,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,194}}</string>
        <key>sourceSize</key>
        <string>{139,194}</string>
      </dict>
      <key>monster_30028_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1325,490},{139,194}}</string>
        <key>offset</key>
        <string>{-5,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,194}}</string>
        <key>sourceSize</key>
        <string>{139,194}</string>
      </dict>
      <key>monster_30028_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,1286},{139,194}}</string>
        <key>offset</key>
        <string>{-5,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,194}}</string>
        <key>sourceSize</key>
        <string>{139,194}</string>
      </dict>
      <key>monster_30028_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1326,1052},{139,194}}</string>
        <key>offset</key>
        <string>{-5,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,194}}</string>
        <key>sourceSize</key>
        <string>{139,194}</string>
      </dict>
      <key>monster_30028_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1357,832},{139,194}}</string>
        <key>offset</key>
        <string>{-5,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,194}}</string>
        <key>sourceSize</key>
        <string>{139,194}</string>
      </dict>
      <key>monster_30028_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,255},{180,247}}</string>
        <key>offset</key>
        <string>{-55,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,247}}</string>
        <key>sourceSize</key>
        <string>{180,247}</string>
      </dict>
      <key>monster_30028_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1656,1016},{172,183}}</string>
        <key>offset</key>
        <string>{-12,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,183}}</string>
        <key>sourceSize</key>
        <string>{172,183}</string>
      </dict>
      <key>monster_30028_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{164,247}}</string>
        <key>offset</key>
        <string>{-2,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,247}}</string>
        <key>sourceSize</key>
        <string>{164,247}</string>
      </dict>
      <key>monster_30028_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1138,0},{171,208}}</string>
        <key>offset</key>
        <string>{4,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,208}}</string>
        <key>sourceSize</key>
        <string>{171,208}</string>
      </dict>
      <key>monster_30028_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1375,1248},{191,183}}</string>
        <key>offset</key>
        <string>{4,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,183}}</string>
        <key>sourceSize</key>
        <string>{191,183}</string>
      </dict>
      <key>monster_30028_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,1134},{204,163}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,163}}</string>
        <key>sourceSize</key>
        <string>{204,163}</string>
      </dict>
      <key>monster_30028_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,1340},{204,163}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,163}}</string>
        <key>sourceSize</key>
        <string>{204,163}</string>
      </dict>
      <key>monster_30028_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,883},{204,163}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,163}}</string>
        <key>sourceSize</key>
        <string>{204,163}</string>
      </dict>
      <key>monster_30028_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,649},{204,163}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,163}}</string>
        <key>sourceSize</key>
        <string>{204,163}</string>
      </dict>
      <key>monster_30028_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1160,430},{204,163}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,163}}</string>
        <key>sourceSize</key>
        <string>{204,163}</string>
      </dict>
      <key>monster_30028_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,1321},{152,245}}</string>
        <key>offset</key>
        <string>{-34,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,245}}</string>
        <key>sourceSize</key>
        <string>{152,245}</string>
      </dict>
      <key>monster_30028_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1467,1028},{189,187}}</string>
        <key>offset</key>
        <string>{-39,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,187}}</string>
        <key>sourceSize</key>
        <string>{189,187}</string>
      </dict>
      <key>monster_30028_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,1006},{237,180}}</string>
        <key>offset</key>
        <string>{-45,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,180}}</string>
        <key>sourceSize</key>
        <string>{237,180}</string>
      </dict>
      <key>monster_30028_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{271,121}}</string>
        <key>offset</key>
        <string>{-46,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,121}}</string>
        <key>sourceSize</key>
        <string>{271,121}</string>
      </dict>
      <key>monster_30028_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{263,100}}</string>
        <key>offset</key>
        <string>{-46,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,100}}</string>
        <key>sourceSize</key>
        <string>{263,100}</string>
      </dict>
      <key>monster_30028_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,1069},{255,103}}</string>
        <key>offset</key>
        <string>{-46,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,103}}</string>
        <key>sourceSize</key>
        <string>{255,103}</string>
      </dict>
      <key>monster_30028_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,807},{255,103}}</string>
        <key>offset</key>
        <string>{-46,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,103}}</string>
        <key>sourceSize</key>
        <string>{255,103}</string>
      </dict>
      <key>monster_30028_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,1064},{255,103}}</string>
        <key>offset</key>
        <string>{-46,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,103}}</string>
        <key>sourceSize</key>
        <string>{255,103}</string>
      </dict>
      <key>monster_30028_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,525},{255,103}}</string>
        <key>offset</key>
        <string>{-46,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,103}}</string>
        <key>sourceSize</key>
        <string>{255,103}</string>
      </dict>
      <key>monster_30028_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,260},{255,103}}</string>
        <key>offset</key>
        <string>{-46,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,103}}</string>
        <key>sourceSize</key>
        <string>{255,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30028_0_4.png</string>
      <key>size</key>
      <string>{1880,1689}</string>
      <key>textureFileName</key>
      <string>monster_30028_0_4.png</string>
    </dict>
  </dict>
</plist>