<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30107_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1150,471},{192,205}}</string>
        <key>offset</key>
        <string>{-70,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,205}}</string>
        <key>sourceSize</key>
        <string>{192,205}</string>
      </dict>
      <key>monster_30107_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,678},{202,205}}</string>
        <key>offset</key>
        <string>{-76,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,205}}</string>
        <key>sourceSize</key>
        <string>{202,205}</string>
      </dict>
      <key>monster_30107_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,257},{170,253}}</string>
        <key>offset</key>
        <string>{-59,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,253}}</string>
        <key>sourceSize</key>
        <string>{170,253}</string>
      </dict>
      <key>monster_30107_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,456},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,882},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,1044},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,1044},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1401,882},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,618},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1414,1044},{160,161}}</string>
        <key>offset</key>
        <string>{-54,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30107_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,767},{243,235}}</string>
        <key>offset</key>
        <string>{-112,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,235}}</string>
        <key>sourceSize</key>
        <string>{243,235}</string>
      </dict>
      <key>monster_30107_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,735},{240,225}}</string>
        <key>offset</key>
        <string>{-100,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,225}}</string>
        <key>sourceSize</key>
        <string>{240,225}</string>
      </dict>
      <key>monster_30107_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,899},{264,251}}</string>
        <key>offset</key>
        <string>{-82,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,251}}</string>
        <key>sourceSize</key>
        <string>{264,251}</string>
      </dict>
      <key>monster_30107_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,505},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,247},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,0},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,1012},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,1012},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,491},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,244},{242,156}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,156}}</string>
        <key>sourceSize</key>
        <string>{242,156}</string>
      </dict>
      <key>monster_30107_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{255,222}}</string>
        <key>offset</key>
        <string>{-131,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,222}}</string>
        <key>sourceSize</key>
        <string>{255,222}</string>
      </dict>
      <key>monster_30107_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,0},{245,221}}</string>
        <key>offset</key>
        <string>{-118,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,221}}</string>
        <key>sourceSize</key>
        <string>{245,221}</string>
      </dict>
      <key>monster_30107_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,600},{297,238}}</string>
        <key>offset</key>
        <string>{-72,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,238}}</string>
        <key>sourceSize</key>
        <string>{297,238}</string>
      </dict>
      <key>monster_30107_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,600},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,900},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,900},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,300},{298,151}}</string>
        <key>offset</key>
        <string>{-80,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,151}}</string>
        <key>sourceSize</key>
        <string>{298,151}</string>
      </dict>
      <key>monster_30107_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,0},{182,241}}</string>
        <key>offset</key>
        <string>{-83,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,241}}</string>
        <key>sourceSize</key>
        <string>{182,241}</string>
      </dict>
      <key>monster_30107_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,257},{174,246}}</string>
        <key>offset</key>
        <string>{-87,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,246}}</string>
        <key>sourceSize</key>
        <string>{174,246}</string>
      </dict>
      <key>monster_30107_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,512},{224,253}}</string>
        <key>offset</key>
        <string>{-72,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,253}}</string>
        <key>sourceSize</key>
        <string>{224,253}</string>
      </dict>
      <key>monster_30107_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,488},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30107_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,243},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30107_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,0},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30107_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,0},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30107_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,228},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30107_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,977},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
      <key>monster_30107_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,716},{226,213}}</string>
        <key>offset</key>
        <string>{-72,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,213}}</string>
        <key>sourceSize</key>
        <string>{226,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30107_0_4_0.png</string>
      <key>size</key>
      <string>{1616,1281}</string>
      <key>textureFileName</key>
      <string>monster_30107_0_4_0.png</string>
    </dict>
  </dict>
</plist>