<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30019_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,567},{178,147}}</string>
        <key>offset</key>
        <string>{-65,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,147}}</string>
        <key>sourceSize</key>
        <string>{178,147}</string>
      </dict>
      <key>monster_30019_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,1126},{172,137}}</string>
        <key>offset</key>
        <string>{-66,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,137}}</string>
        <key>sourceSize</key>
        <string>{172,137}</string>
      </dict>
      <key>monster_30019_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,765},{181,126}}</string>
        <key>offset</key>
        <string>{-68,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,126}}</string>
        <key>sourceSize</key>
        <string>{181,126}</string>
      </dict>
      <key>monster_30019_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,184},{177,141}}</string>
        <key>offset</key>
        <string>{-69,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,141}}</string>
        <key>sourceSize</key>
        <string>{177,141}</string>
      </dict>
      <key>monster_30019_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{182,143}}</string>
        <key>offset</key>
        <string>{-69,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,143}}</string>
        <key>sourceSize</key>
        <string>{182,143}</string>
      </dict>
      <key>monster_30019_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1189,958},{151,140}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,140}}</string>
        <key>sourceSize</key>
        <string>{151,140}</string>
      </dict>
      <key>monster_30019_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1335,1104},{151,140}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,140}}</string>
        <key>sourceSize</key>
        <string>{151,140}</string>
      </dict>
      <key>monster_30019_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,1154},{151,140}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,140}}</string>
        <key>sourceSize</key>
        <string>{151,140}</string>
      </dict>
      <key>monster_30019_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,1173},{151,140}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,140}}</string>
        <key>sourceSize</key>
        <string>{151,140}</string>
      </dict>
      <key>monster_30019_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1265},{151,140}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,140}}</string>
        <key>sourceSize</key>
        <string>{151,140}</string>
      </dict>
      <key>monster_30019_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,375},{135,178}}</string>
        <key>offset</key>
        <string>{-26,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,178}}</string>
        <key>sourceSize</key>
        <string>{135,178}</string>
      </dict>
      <key>monster_30019_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,948},{176,167}}</string>
        <key>offset</key>
        <string>{-43,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,167}}</string>
        <key>sourceSize</key>
        <string>{176,167}</string>
      </dict>
      <key>monster_30019_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{177,154}}</string>
        <key>offset</key>
        <string>{-34,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,154}}</string>
        <key>sourceSize</key>
        <string>{177,154}</string>
      </dict>
      <key>monster_30019_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{165,152}}</string>
        <key>offset</key>
        <string>{-24,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,152}}</string>
        <key>sourceSize</key>
        <string>{165,152}</string>
      </dict>
      <key>monster_30019_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,747},{171,155}}</string>
        <key>offset</key>
        <string>{-27,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,155}}</string>
        <key>sourceSize</key>
        <string>{171,155}</string>
      </dict>
      <key>monster_30019_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,1000},{144,152}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,152}}</string>
        <key>sourceSize</key>
        <string>{144,152}</string>
      </dict>
      <key>monster_30019_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1218,812},{144,152}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,152}}</string>
        <key>sourceSize</key>
        <string>{144,152}</string>
      </dict>
      <key>monster_30019_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1372,812},{144,152}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,152}}</string>
        <key>sourceSize</key>
        <string>{144,152}</string>
      </dict>
      <key>monster_30019_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1372,958},{144,152}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,152}}</string>
        <key>sourceSize</key>
        <string>{144,152}</string>
      </dict>
      <key>monster_30019_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1189,1104},{144,152}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,152}}</string>
        <key>sourceSize</key>
        <string>{144,152}</string>
      </dict>
      <key>monster_30019_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{123,195}}</string>
        <key>offset</key>
        <string>{-15,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,195}}</string>
        <key>sourceSize</key>
        <string>{123,195}</string>
      </dict>
      <key>monster_30019_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,211},{118,200}}</string>
        <key>offset</key>
        <string>{-18,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,200}}</string>
        <key>sourceSize</key>
        <string>{118,200}</string>
      </dict>
      <key>monster_30019_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,579},{121,184}}</string>
        <key>offset</key>
        <string>{-24,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,184}}</string>
        <key>sourceSize</key>
        <string>{121,184}</string>
      </dict>
      <key>monster_30019_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,167},{163,153}}</string>
        <key>offset</key>
        <string>{-10,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,153}}</string>
        <key>sourceSize</key>
        <string>{163,153}</string>
      </dict>
      <key>monster_30019_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,680},{162,158}}</string>
        <key>offset</key>
        <string>{-10,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,158}}</string>
        <key>sourceSize</key>
        <string>{162,158}</string>
      </dict>
      <key>monster_30019_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,515},{162,131}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_30019_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,332},{162,131}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_30019_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,165},{162,131}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_30019_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,0},{162,131}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_30019_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1051,496},{162,131}}</string>
        <key>offset</key>
        <string>{-10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,131}}</string>
        <key>sourceSize</key>
        <string>{162,131}</string>
      </dict>
      <key>monster_30019_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,349},{151,164}}</string>
        <key>offset</key>
        <string>{-19,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,164}}</string>
        <key>sourceSize</key>
        <string>{151,164}</string>
      </dict>
      <key>monster_30019_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,984},{127,186}}</string>
        <key>offset</key>
        <string>{-18,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,186}}</string>
        <key>sourceSize</key>
        <string>{127,186}</string>
      </dict>
      <key>monster_30019_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1177,164},{152,161}}</string>
        <key>offset</key>
        <string>{-22,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,161}}</string>
        <key>sourceSize</key>
        <string>{152,161}</string>
      </dict>
      <key>monster_30019_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,413},{191,137}}</string>
        <key>offset</key>
        <string>{-10,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,137}}</string>
        <key>sourceSize</key>
        <string>{191,137}</string>
      </dict>
      <key>monster_30019_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{192,152}}</string>
        <key>offset</key>
        <string>{-10,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,152}}</string>
        <key>sourceSize</key>
        <string>{192,152}</string>
      </dict>
      <key>monster_30019_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{190,127}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,127}}</string>
        <key>sourceSize</key>
        <string>{190,127}</string>
      </dict>
      <key>monster_30019_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{190,127}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,127}}</string>
        <key>sourceSize</key>
        <string>{190,127}</string>
      </dict>
      <key>monster_30019_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1026},{190,127}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,127}}</string>
        <key>sourceSize</key>
        <string>{190,127}</string>
      </dict>
      <key>monster_30019_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,1026},{190,127}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,127}}</string>
        <key>sourceSize</key>
        <string>{190,127}</string>
      </dict>
      <key>monster_30019_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,834},{190,127}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,127}}</string>
        <key>sourceSize</key>
        <string>{190,127}</string>
      </dict>
      <key>monster_30019_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{209,118}}</string>
        <key>offset</key>
        <string>{-52,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,118}}</string>
        <key>sourceSize</key>
        <string>{209,118}</string>
      </dict>
      <key>monster_30019_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{215,121}}</string>
        <key>offset</key>
        <string>{-56,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,121}}</string>
        <key>sourceSize</key>
        <string>{215,121}</string>
      </dict>
      <key>monster_30019_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{217,95}}</string>
        <key>offset</key>
        <string>{-66,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,95}}</string>
        <key>sourceSize</key>
        <string>{217,95}</string>
      </dict>
      <key>monster_30019_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,381},{184,123}}</string>
        <key>offset</key>
        <string>{-61,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,123}}</string>
        <key>sourceSize</key>
        <string>{184,123}</string>
      </dict>
      <key>monster_30019_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,197},{191,131}}</string>
        <key>offset</key>
        <string>{-66,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,131}}</string>
        <key>sourceSize</key>
        <string>{191,131}</string>
      </dict>
      <key>monster_30019_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1302,0},{159,125}}</string>
        <key>offset</key>
        <string>{-35,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,125}}</string>
        <key>sourceSize</key>
        <string>{159,125}</string>
      </dict>
      <key>monster_30019_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,161},{159,125}}</string>
        <key>offset</key>
        <string>{-35,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,125}}</string>
        <key>sourceSize</key>
        <string>{159,125}</string>
      </dict>
      <key>monster_30019_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,288},{159,125}}</string>
        <key>offset</key>
        <string>{-35,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,125}}</string>
        <key>sourceSize</key>
        <string>{159,125}</string>
      </dict>
      <key>monster_30019_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,327},{159,125}}</string>
        <key>offset</key>
        <string>{-35,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,125}}</string>
        <key>sourceSize</key>
        <string>{159,125}</string>
      </dict>
      <key>monster_30019_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,415},{159,125}}</string>
        <key>offset</key>
        <string>{-35,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,125}}</string>
        <key>sourceSize</key>
        <string>{159,125}</string>
      </dict>
      <key>monster_30019_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,363},{169,135}}</string>
        <key>offset</key>
        <string>{-47,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,135}}</string>
        <key>sourceSize</key>
        <string>{169,135}</string>
      </dict>
      <key>monster_30019_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,436},{202,130}}</string>
        <key>offset</key>
        <string>{-62,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,130}}</string>
        <key>sourceSize</key>
        <string>{202,130}</string>
      </dict>
      <key>monster_30019_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,768},{186,125}}</string>
        <key>offset</key>
        <string>{-70,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,125}}</string>
        <key>sourceSize</key>
        <string>{186,125}</string>
      </dict>
      <key>monster_30019_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,555},{171,139}}</string>
        <key>offset</key>
        <string>{-94,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,139}}</string>
        <key>sourceSize</key>
        <string>{171,139}</string>
      </dict>
      <key>monster_30019_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,189},{184,141}}</string>
        <key>offset</key>
        <string>{-97,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,141}}</string>
        <key>sourceSize</key>
        <string>{184,141}</string>
      </dict>
      <key>monster_30019_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,654},{154,138}}</string>
        <key>offset</key>
        <string>{-71,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,138}}</string>
        <key>sourceSize</key>
        <string>{154,138}</string>
      </dict>
      <key>monster_30019_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,672},{154,138}}</string>
        <key>offset</key>
        <string>{-71,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,138}}</string>
        <key>sourceSize</key>
        <string>{154,138}</string>
      </dict>
      <key>monster_30019_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,1058},{154,138}}</string>
        <key>offset</key>
        <string>{-71,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,138}}</string>
        <key>sourceSize</key>
        <string>{154,138}</string>
      </dict>
      <key>monster_30019_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,844},{154,138}}</string>
        <key>offset</key>
        <string>{-71,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,138}}</string>
        <key>sourceSize</key>
        <string>{154,138}</string>
      </dict>
      <key>monster_30019_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,810},{154,138}}</string>
        <key>offset</key>
        <string>{-71,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,138}}</string>
        <key>sourceSize</key>
        <string>{154,138}</string>
      </dict>
      <key>monster_30019_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,1265},{134,127}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,127}}</string>
        <key>sourceSize</key>
        <string>{134,127}</string>
      </dict>
      <key>monster_30019_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,1214},{128,142}}</string>
        <key>offset</key>
        <string>{-22,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,142}}</string>
        <key>sourceSize</key>
        <string>{128,142}</string>
      </dict>
      <key>monster_30019_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,329},{117,162}}</string>
        <key>offset</key>
        <string>{-27,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,162}}</string>
        <key>sourceSize</key>
        <string>{117,162}</string>
      </dict>
      <key>monster_30019_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,0},{163,131}}</string>
        <key>offset</key>
        <string>{-105,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,131}}</string>
        <key>sourceSize</key>
        <string>{163,131}</string>
      </dict>
      <key>monster_30019_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,920},{163,138}}</string>
        <key>offset</key>
        <string>{-105,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,138}}</string>
        <key>sourceSize</key>
        <string>{163,138}</string>
      </dict>
      <key>monster_30019_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,728},{163,114}}</string>
        <key>offset</key>
        <string>{-105,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_30019_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,1085},{163,114}}</string>
        <key>offset</key>
        <string>{-105,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_30019_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,1085},{163,114}}</string>
        <key>offset</key>
        <string>{-105,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_30019_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,893},{163,114}}</string>
        <key>offset</key>
        <string>{-105,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_30019_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,515},{163,114}}</string>
        <key>offset</key>
        <string>{-105,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_30019_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,179},{168,115}}</string>
        <key>offset</key>
        <string>{-67,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,115}}</string>
        <key>sourceSize</key>
        <string>{168,115}</string>
      </dict>
      <key>monster_30019_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1330,542},{157,128}}</string>
        <key>offset</key>
        <string>{-53,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,128}}</string>
        <key>sourceSize</key>
        <string>{157,128}</string>
      </dict>
      <key>monster_30019_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,493},{159,144}}</string>
        <key>offset</key>
        <string>{-68,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,144}}</string>
        <key>sourceSize</key>
        <string>{159,144}</string>
      </dict>
      <key>monster_30019_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,606},{187,123}}</string>
        <key>offset</key>
        <string>{-127,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,123}}</string>
        <key>sourceSize</key>
        <string>{187,123}</string>
      </dict>
      <key>monster_30019_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,390},{187,127}}</string>
        <key>offset</key>
        <string>{-127,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,127}}</string>
        <key>sourceSize</key>
        <string>{187,127}</string>
      </dict>
      <key>monster_30019_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,192},{187,108}}</string>
        <key>offset</key>
        <string>{-127,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,108}}</string>
        <key>sourceSize</key>
        <string>{187,108}</string>
      </dict>
      <key>monster_30019_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,0},{187,108}}</string>
        <key>offset</key>
        <string>{-127,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,108}}</string>
        <key>sourceSize</key>
        <string>{187,108}</string>
      </dict>
      <key>monster_30019_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,795},{187,108}}</string>
        <key>offset</key>
        <string>{-127,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,108}}</string>
        <key>sourceSize</key>
        <string>{187,108}</string>
      </dict>
      <key>monster_30019_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,579},{187,108}}</string>
        <key>offset</key>
        <string>{-127,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,108}}</string>
        <key>sourceSize</key>
        <string>{187,108}</string>
      </dict>
      <key>monster_30019_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,984},{187,108}}</string>
        <key>offset</key>
        <string>{-127,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,108}}</string>
        <key>sourceSize</key>
        <string>{187,108}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30019_0_4.png</string>
      <key>size</key>
      <string>{1538,1420}</string>
      <key>textureFileName</key>
      <string>monster_30019_0_4.png</string>
    </dict>
  </dict>
</plist>