<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30084_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{204,250}}</string>
        <key>offset</key>
        <string>{-49,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,250}}</string>
        <key>sourceSize</key>
        <string>{204,250}</string>
      </dict>
      <key>monster_30084_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,261}}</string>
        <key>offset</key>
        <string>{-65,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,261}}</string>
        <key>sourceSize</key>
        <string>{179,261}</string>
      </dict>
      <key>monster_30084_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,168},{208,245}}</string>
        <key>offset</key>
        <string>{-46,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,245}}</string>
        <key>sourceSize</key>
        <string>{208,245}</string>
      </dict>
      <key>monster_30084_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{236,259}}</string>
        <key>offset</key>
        <string>{-99,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,259}}</string>
        <key>sourceSize</key>
        <string>{236,259}</string>
      </dict>
      <key>monster_30084_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{166,246}}</string>
        <key>offset</key>
        <string>{-42,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,246}}</string>
        <key>sourceSize</key>
        <string>{166,246}</string>
      </dict>
      <key>monster_30084_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,378},{220,242}}</string>
        <key>offset</key>
        <string>{-84,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,242}}</string>
        <key>sourceSize</key>
        <string>{220,242}</string>
      </dict>
      <key>monster_30084_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{181,216}}</string>
        <key>offset</key>
        <string>{-48,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,216}}</string>
        <key>sourceSize</key>
        <string>{181,216}</string>
      </dict>
      <key>monster_30084_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,378},{208,236}}</string>
        <key>offset</key>
        <string>{-82,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,236}}</string>
        <key>sourceSize</key>
        <string>{208,236}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30084_0_7_0.png</string>
      <key>size</key>
      <string>{834,642}</string>
      <key>textureFileName</key>
      <string>monster_30084_0_7_0.png</string>
    </dict>
  </dict>
</plist>