<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30078_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{84,99}}</string>
        <key>offset</key>
        <string>{-18,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,99}}</string>
        <key>sourceSize</key>
        <string>{84,99}</string>
      </dict>
      <key>monster_30078_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{97,92}}</string>
        <key>offset</key>
        <string>{-17,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,92}}</string>
        <key>sourceSize</key>
        <string>{97,92}</string>
      </dict>
      <key>monster_30078_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{87,106}}</string>
        <key>offset</key>
        <string>{-2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,106}}</string>
        <key>sourceSize</key>
        <string>{87,106}</string>
      </dict>
      <key>monster_30078_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,187},{92,96}}</string>
        <key>offset</key>
        <string>{-28,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,96}}</string>
        <key>sourceSize</key>
        <string>{92,96}</string>
      </dict>
      <key>monster_30078_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{91,101}}</string>
        <key>offset</key>
        <string>{-22,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,101}}</string>
        <key>sourceSize</key>
        <string>{91,101}</string>
      </dict>
      <key>monster_30078_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{69,108}}</string>
        <key>offset</key>
        <string>{-27,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,108}}</string>
        <key>sourceSize</key>
        <string>{69,108}</string>
      </dict>
      <key>monster_30078_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,200},{79,94}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,94}}</string>
        <key>sourceSize</key>
        <string>{79,94}</string>
      </dict>
      <key>monster_30078_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{77,98}}</string>
        <key>offset</key>
        <string>{-18,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,98}}</string>
        <key>sourceSize</key>
        <string>{77,98}</string>
      </dict>
      <key>monster_30078_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{84,84}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>monster_30078_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,100},{97,98}}</string>
        <key>offset</key>
        <string>{-34,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,98}}</string>
        <key>sourceSize</key>
        <string>{97,98}</string>
      </dict>
      <key>monster_30078_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,99},{86,97}}</string>
        <key>offset</key>
        <string>{-39,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,97}}</string>
        <key>sourceSize</key>
        <string>{86,97}</string>
      </dict>
      <key>monster_30078_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,218},{91,99}}</string>
        <key>offset</key>
        <string>{-17,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,99}}</string>
        <key>sourceSize</key>
        <string>{91,99}</string>
      </dict>
      <key>monster_30078_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,281},{91,91}}</string>
        <key>offset</key>
        <string>{-23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>monster_30078_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,281},{69,92}}</string>
        <key>offset</key>
        <string>{4,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,92}}</string>
        <key>sourceSize</key>
        <string>{69,92}</string>
      </dict>
      <key>monster_30078_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,296},{79,87}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,87}}</string>
        <key>sourceSize</key>
        <string>{79,87}</string>
      </dict>
      <key>monster_30078_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,103},{77,99}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,99}}</string>
        <key>sourceSize</key>
        <string>{77,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30078_0_7.png</string>
      <key>size</key>
      <string>{429,385}</string>
      <key>textureFileName</key>
      <string>monster_30078_0_7.png</string>
    </dict>
  </dict>
</plist>