<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30087_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,157},{160,161}}</string>
        <key>offset</key>
        <string>{-43,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,161}}</string>
        <key>sourceSize</key>
        <string>{160,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,157},{161,161}}</string>
        <key>offset</key>
        <string>{-43,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,319},{161,161}}</string>
        <key>offset</key>
        <string>{-43,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,320},{161,161}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,482},{161,161}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,483},{161,161}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,645},{161,161}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,646},{161,161}}</string>
        <key>offset</key>
        <string>{-43,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,808},{161,161}}</string>
        <key>offset</key>
        <string>{-43,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,161}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
      <key>monster_30087_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,809},{130,156}}</string>
        <key>offset</key>
        <string>{-48,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,156}}</string>
        <key>sourceSize</key>
        <string>{130,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,319},{129,156}}</string>
        <key>offset</key>
        <string>{-49,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,156}}</string>
        <key>sourceSize</key>
        <string>{129,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,0},{130,156}}</string>
        <key>offset</key>
        <string>{-50,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,156}}</string>
        <key>sourceSize</key>
        <string>{130,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,158},{131,156}}</string>
        <key>offset</key>
        <string>{-51,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,156}}</string>
        <key>sourceSize</key>
        <string>{131,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,316},{132,156}}</string>
        <key>offset</key>
        <string>{-52,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,156}}</string>
        <key>sourceSize</key>
        <string>{132,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,474},{132,156}}</string>
        <key>offset</key>
        <string>{-52,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,156}}</string>
        <key>sourceSize</key>
        <string>{132,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,632},{131,156}}</string>
        <key>offset</key>
        <string>{-51,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,156}}</string>
        <key>sourceSize</key>
        <string>{131,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,790},{130,156}}</string>
        <key>offset</key>
        <string>{-50,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,156}}</string>
        <key>sourceSize</key>
        <string>{130,156}</string>
      </dict>
      <key>monster_30087_0_0_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,0},{129,156}}</string>
        <key>offset</key>
        <string>{-49,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,156}}</string>
        <key>sourceSize</key>
        <string>{129,156}</string>
      </dict>
      <key>monster_30087_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,209},{187,157}}</string>
        <key>offset</key>
        <string>{-97,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,157}}</string>
        <key>sourceSize</key>
        <string>{187,157}</string>
      </dict>
      <key>monster_30087_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,842},{186,157}}</string>
        <key>offset</key>
        <string>{-98,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,157}}</string>
        <key>sourceSize</key>
        <string>{186,157}</string>
      </dict>
      <key>monster_30087_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,816},{185,156}}</string>
        <key>offset</key>
        <string>{-98,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,156}}</string>
        <key>sourceSize</key>
        <string>{185,156}</string>
      </dict>
      <key>monster_30087_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,842},{184,155}}</string>
        <key>offset</key>
        <string>{-99,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,155}}</string>
        <key>sourceSize</key>
        <string>{184,155}</string>
      </dict>
      <key>monster_30087_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,585},{184,155}}</string>
        <key>offset</key>
        <string>{-99,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,155}}</string>
        <key>sourceSize</key>
        <string>{184,155}</string>
      </dict>
      <key>monster_30087_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,771},{184,155}}</string>
        <key>offset</key>
        <string>{-99,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,155}}</string>
        <key>sourceSize</key>
        <string>{184,155}</string>
      </dict>
      <key>monster_30087_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,0},{184,155}}</string>
        <key>offset</key>
        <string>{-99,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,155}}</string>
        <key>sourceSize</key>
        <string>{184,155}</string>
      </dict>
      <key>monster_30087_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,398},{185,156}}</string>
        <key>offset</key>
        <string>{-98,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,156}}</string>
        <key>sourceSize</key>
        <string>{185,156}</string>
      </dict>
      <key>monster_30087_0_0_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,628},{186,157}}</string>
        <key>offset</key>
        <string>{-98,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,157}}</string>
        <key>sourceSize</key>
        <string>{186,157}</string>
      </dict>
      <key>monster_30087_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,210},{207,188}}</string>
        <key>offset</key>
        <string>{-133,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,188}}</string>
        <key>sourceSize</key>
        <string>{207,188}</string>
      </dict>
      <key>monster_30087_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{207,187}}</string>
        <key>offset</key>
        <string>{-133,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,187}}</string>
        <key>sourceSize</key>
        <string>{207,187}</string>
      </dict>
      <key>monster_30087_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{208,185}}</string>
        <key>offset</key>
        <string>{-134,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,185}}</string>
        <key>sourceSize</key>
        <string>{208,185}</string>
      </dict>
      <key>monster_30087_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{208,184}}</string>
        <key>offset</key>
        <string>{-134,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,184}}</string>
        <key>sourceSize</key>
        <string>{208,184}</string>
      </dict>
      <key>monster_30087_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{209,183}}</string>
        <key>offset</key>
        <string>{-135,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,183}}</string>
        <key>sourceSize</key>
        <string>{209,183}</string>
      </dict>
      <key>monster_30087_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{209,183}}</string>
        <key>offset</key>
        <string>{-135,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,183}}</string>
        <key>sourceSize</key>
        <string>{209,183}</string>
      </dict>
      <key>monster_30087_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,632},{208,184}}</string>
        <key>offset</key>
        <string>{-134,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,184}}</string>
        <key>sourceSize</key>
        <string>{208,184}</string>
      </dict>
      <key>monster_30087_0_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{208,185}}</string>
        <key>offset</key>
        <string>{-134,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,185}}</string>
        <key>sourceSize</key>
        <string>{208,185}</string>
      </dict>
      <key>monster_30087_0_0_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,419},{207,187}}</string>
        <key>offset</key>
        <string>{-133,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,187}}</string>
        <key>sourceSize</key>
        <string>{207,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30087_0_0_0.png</string>
      <key>size</key>
      <string>{1282,1028}</string>
      <key>textureFileName</key>
      <string>monster_30087_0_0_0.png</string>
    </dict>
  </dict>
</plist>