<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30122_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,0},{183,243}}</string>
        <key>offset</key>
        <string>{-35,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,243}}</string>
        <key>sourceSize</key>
        <string>{183,243}</string>
      </dict>
      <key>monster_30122_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{197,248}}</string>
        <key>offset</key>
        <string>{-39,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,248}}</string>
        <key>sourceSize</key>
        <string>{197,248}</string>
      </dict>
      <key>monster_30122_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,1037},{184,232}}</string>
        <key>offset</key>
        <string>{-41,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,232}}</string>
        <key>sourceSize</key>
        <string>{184,232}</string>
      </dict>
      <key>monster_30122_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,1037},{192,222}}</string>
        <key>offset</key>
        <string>{-48,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,222}}</string>
        <key>sourceSize</key>
        <string>{192,222}</string>
      </dict>
      <key>monster_30122_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,783},{199,247}}</string>
        <key>offset</key>
        <string>{-46,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,247}}</string>
        <key>sourceSize</key>
        <string>{199,247}</string>
      </dict>
      <key>monster_30122_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,533},{197,248}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,248}}</string>
        <key>sourceSize</key>
        <string>{197,248}</string>
      </dict>
      <key>monster_30122_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,783},{197,248}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,248}}</string>
        <key>sourceSize</key>
        <string>{197,248}</string>
      </dict>
      <key>monster_30122_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,533},{197,248}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,248}}</string>
        <key>sourceSize</key>
        <string>{197,248}</string>
      </dict>
      <key>monster_30122_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,250},{197,248}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,248}}</string>
        <key>sourceSize</key>
        <string>{197,248}</string>
      </dict>
      <key>monster_30122_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{197,248}}</string>
        <key>offset</key>
        <string>{-40,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,248}}</string>
        <key>sourceSize</key>
        <string>{197,248}</string>
      </dict>
      <key>monster_30122_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,556},{267,197}}</string>
        <key>offset</key>
        <string>{-64,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,197}}</string>
        <key>sourceSize</key>
        <string>{267,197}</string>
      </dict>
      <key>monster_30122_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{279,216}}</string>
        <key>offset</key>
        <string>{-64,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,216}}</string>
        <key>sourceSize</key>
        <string>{279,216}</string>
      </dict>
      <key>monster_30122_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{273,192}}</string>
        <key>offset</key>
        <string>{-63,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,192}}</string>
        <key>sourceSize</key>
        <string>{273,192}</string>
      </dict>
      <key>monster_30122_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,825},{250,188}}</string>
        <key>offset</key>
        <string>{-48,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,188}}</string>
        <key>sourceSize</key>
        <string>{250,188}</string>
      </dict>
      <key>monster_30122_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,281},{250,209}}</string>
        <key>offset</key>
        <string>{-54,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,209}}</string>
        <key>sourceSize</key>
        <string>{250,209}</string>
      </dict>
      <key>monster_30122_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,185},{237,211}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,211}}</string>
        <key>sourceSize</key>
        <string>{237,211}</string>
      </dict>
      <key>monster_30122_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,398},{237,211}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,211}}</string>
        <key>sourceSize</key>
        <string>{237,211}</string>
      </dict>
      <key>monster_30122_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,611},{237,211}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,211}}</string>
        <key>sourceSize</key>
        <string>{237,211}</string>
      </dict>
      <key>monster_30122_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,824},{237,211}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,211}}</string>
        <key>sourceSize</key>
        <string>{237,211}</string>
      </dict>
      <key>monster_30122_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1015},{237,211}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,211}}</string>
        <key>sourceSize</key>
        <string>{237,211}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30122_0_4_0.png</string>
      <key>size</key>
      <string>{1026,1234}</string>
      <key>textureFileName</key>
      <string>monster_30122_0_4_0.png</string>
    </dict>
  </dict>
</plist>