<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30068_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,446},{196,205}}</string>
        <key>offset</key>
        <string>{-46,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,205}}</string>
        <key>sourceSize</key>
        <string>{196,205}</string>
      </dict>
      <key>monster_30068_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,208},{181,185}}</string>
        <key>offset</key>
        <string>{-41,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,185}}</string>
        <key>sourceSize</key>
        <string>{181,185}</string>
      </dict>
      <key>monster_30068_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{261,195}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,195}}</string>
        <key>sourceSize</key>
        <string>{261,195}</string>
      </dict>
      <key>monster_30068_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,278},{246,165}}</string>
        <key>offset</key>
        <string>{-76,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,165}}</string>
        <key>sourceSize</key>
        <string>{246,165}</string>
      </dict>
      <key>monster_30068_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{276,175}}</string>
        <key>offset</key>
        <string>{-96,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,175}}</string>
        <key>sourceSize</key>
        <string>{276,175}</string>
      </dict>
      <key>monster_30068_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{266,165}}</string>
        <key>offset</key>
        <string>{-101,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,165}}</string>
        <key>sourceSize</key>
        <string>{266,165}</string>
      </dict>
      <key>monster_30068_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,526},{231,175}}</string>
        <key>offset</key>
        <string>{-61,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,175}}</string>
        <key>sourceSize</key>
        <string>{231,175}</string>
      </dict>
      <key>monster_30068_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,233},{226,185}}</string>
        <key>offset</key>
        <string>{-66,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,185}}</string>
        <key>sourceSize</key>
        <string>{226,185}</string>
      </dict>
      <key>monster_30068_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,759},{166,165}}</string>
        <key>offset</key>
        <string>{-41,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,165}}</string>
        <key>sourceSize</key>
        <string>{166,165}</string>
      </dict>
      <key>monster_30068_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,759},{166,185}}</string>
        <key>offset</key>
        <string>{-36,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,185}}</string>
        <key>sourceSize</key>
        <string>{166,185}</string>
      </dict>
      <key>monster_30068_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{226,170}}</string>
        <key>offset</key>
        <string>{-86,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,170}}</string>
        <key>sourceSize</key>
        <string>{226,170}</string>
      </dict>
      <key>monster_30068_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,228},{216,185}}</string>
        <key>offset</key>
        <string>{-61,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,185}}</string>
        <key>sourceSize</key>
        <string>{216,185}</string>
      </dict>
      <key>monster_30068_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{231,175}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,175}}</string>
        <key>sourceSize</key>
        <string>{231,175}</string>
      </dict>
      <key>monster_30068_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,461},{226,170}}</string>
        <key>offset</key>
        <string>{-61,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,170}}</string>
        <key>sourceSize</key>
        <string>{226,170}</string>
      </dict>
      <key>monster_30068_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,0},{206,190}}</string>
        <key>offset</key>
        <string>{-86,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,190}}</string>
        <key>sourceSize</key>
        <string>{206,190}</string>
      </dict>
      <key>monster_30068_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,0},{206,175}}</string>
        <key>offset</key>
        <string>{-71,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,175}}</string>
        <key>sourceSize</key>
        <string>{206,175}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30068_0_7.png</string>
      <key>size</key>
      <string>{896,953}</string>
      <key>textureFileName</key>
      <string>monster_30068_0_7.png</string>
    </dict>
  </dict>
</plist>