<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,522},{145,134}}</string>
        <key>offset</key>
        <string>{-24,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,134}}</string>
        <key>sourceSize</key>
        <string>{145,134}</string>
      </dict>
      <key>monster_30006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,340},{143,138}}</string>
        <key>offset</key>
        <string>{-23,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,138}}</string>
        <key>sourceSize</key>
        <string>{143,138}</string>
      </dict>
      <key>monster_30006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,522},{146,131}}</string>
        <key>offset</key>
        <string>{-27,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,131}}</string>
        <key>sourceSize</key>
        <string>{146,131}</string>
      </dict>
      <key>monster_30006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{159,154}}</string>
        <key>offset</key>
        <string>{-35,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,154}}</string>
        <key>sourceSize</key>
        <string>{159,154}</string>
      </dict>
      <key>monster_30006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{157,155}}</string>
        <key>offset</key>
        <string>{-30,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,155}}</string>
        <key>sourceSize</key>
        <string>{157,155}</string>
      </dict>
      <key>monster_30006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,157},{152,151}}</string>
        <key>offset</key>
        <string>{-26,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,151}}</string>
        <key>sourceSize</key>
        <string>{152,151}</string>
      </dict>
      <key>monster_30006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,178}}</string>
        <key>offset</key>
        <string>{-20,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,178}}</string>
        <key>sourceSize</key>
        <string>{119,178}</string>
      </dict>
      <key>monster_30006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{119,171}}</string>
        <key>offset</key>
        <string>{-13,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,171}}</string>
        <key>sourceSize</key>
        <string>{119,171}</string>
      </dict>
      <key>monster_30006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,356},{120,173}}</string>
        <key>offset</key>
        <string>{-7,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,173}}</string>
        <key>sourceSize</key>
        <string>{120,173}</string>
      </dict>
      <key>monster_30006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{136,176}}</string>
        <key>offset</key>
        <string>{-32,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,176}}</string>
        <key>sourceSize</key>
        <string>{136,176}</string>
      </dict>
      <key>monster_30006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{137,176}}</string>
        <key>offset</key>
        <string>{-30,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,176}}</string>
        <key>sourceSize</key>
        <string>{137,176}</string>
      </dict>
      <key>monster_30006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{138,175}}</string>
        <key>offset</key>
        <string>{-28,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,175}}</string>
        <key>sourceSize</key>
        <string>{138,175}</string>
      </dict>
      <key>monster_30006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,352},{168,156}}</string>
        <key>offset</key>
        <string>{-65,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,156}}</string>
        <key>sourceSize</key>
        <string>{168,156}</string>
      </dict>
      <key>monster_30006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,173},{165,149}}</string>
        <key>offset</key>
        <string>{-65,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,149}}</string>
        <key>sourceSize</key>
        <string>{165,149}</string>
      </dict>
      <key>monster_30006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,531},{169,144}}</string>
        <key>offset</key>
        <string>{-65,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,144}}</string>
        <key>sourceSize</key>
        <string>{169,144}</string>
      </dict>
      <key>monster_30006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{178,120}}</string>
        <key>offset</key>
        <string>{-60,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,120}}</string>
        <key>sourceSize</key>
        <string>{178,120}</string>
      </dict>
      <key>monster_30006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,178},{176,119}}</string>
        <key>offset</key>
        <string>{-64,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,119}}</string>
        <key>sourceSize</key>
        <string>{176,119}</string>
      </dict>
      <key>monster_30006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,178},{172,123}}</string>
        <key>offset</key>
        <string>{-64,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,123}}</string>
        <key>sourceSize</key>
        <string>{172,123}</string>
      </dict>
      <key>monster_30006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,310},{143,139}}</string>
        <key>offset</key>
        <string>{-34,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,139}}</string>
        <key>sourceSize</key>
        <string>{143,139}</string>
      </dict>
      <key>monster_30006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,586},{139,141}}</string>
        <key>offset</key>
        <string>{-38,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,141}}</string>
        <key>sourceSize</key>
        <string>{139,141}</string>
      </dict>
      <key>monster_30006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,451},{133,143}}</string>
        <key>offset</key>
        <string>{-40,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,143}}</string>
        <key>sourceSize</key>
        <string>{133,143}</string>
      </dict>
      <key>monster_30006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,283},{111,137}}</string>
        <key>offset</key>
        <string>{-8,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,137}}</string>
        <key>sourceSize</key>
        <string>{111,137}</string>
      </dict>
      <key>monster_30006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,0},{112,141}}</string>
        <key>offset</key>
        <string>{-12,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,141}}</string>
        <key>sourceSize</key>
        <string>{112,141}</string>
      </dict>
      <key>monster_30006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,143},{117,138}}</string>
        <key>offset</key>
        <string>{-17,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,138}}</string>
        <key>sourceSize</key>
        <string>{117,138}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30006_0_7.png</string>
      <key>size</key>
      <string>{824,769}</string>
      <key>textureFileName</key>
      <string>monster_30006_0_7.png</string>
    </dict>
  </dict>
</plist>