<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30107_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,0},{190,208}}</string>
        <key>offset</key>
        <string>{-68,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,208}}</string>
        <key>sourceSize</key>
        <string>{190,208}</string>
      </dict>
      <key>monster_30107_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,670},{190,209}}</string>
        <key>offset</key>
        <string>{-69,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,209}}</string>
        <key>sourceSize</key>
        <string>{190,209}</string>
      </dict>
      <key>monster_30107_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,225},{191,221}}</string>
        <key>offset</key>
        <string>{-68,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,221}}</string>
        <key>sourceSize</key>
        <string>{191,221}</string>
      </dict>
      <key>monster_30107_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1260,448},{190,208}}</string>
        <key>offset</key>
        <string>{-68,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,208}}</string>
        <key>sourceSize</key>
        <string>{190,208}</string>
      </dict>
      <key>monster_30107_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,705},{188,212}}</string>
        <key>offset</key>
        <string>{-68,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,212}}</string>
        <key>sourceSize</key>
        <string>{188,212}</string>
      </dict>
      <key>monster_30107_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,0},{190,223}}</string>
        <key>offset</key>
        <string>{-66,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,223}}</string>
        <key>sourceSize</key>
        <string>{190,223}</string>
      </dict>
      <key>monster_30107_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,503},{237,237}}</string>
        <key>offset</key>
        <string>{-106,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,237}}</string>
        <key>sourceSize</key>
        <string>{237,237}</string>
      </dict>
      <key>monster_30107_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,776},{248,234}}</string>
        <key>offset</key>
        <string>{-102,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,234}}</string>
        <key>sourceSize</key>
        <string>{248,234}</string>
      </dict>
      <key>monster_30107_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,523},{251,239}}</string>
        <key>offset</key>
        <string>{-103,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,239}}</string>
        <key>sourceSize</key>
        <string>{251,239}</string>
      </dict>
      <key>monster_30107_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,265},{256,238}}</string>
        <key>offset</key>
        <string>{-107,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,238}}</string>
        <key>sourceSize</key>
        <string>{256,238}</string>
      </dict>
      <key>monster_30107_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{254,241}}</string>
        <key>offset</key>
        <string>{-107,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,241}}</string>
        <key>sourceSize</key>
        <string>{254,241}</string>
      </dict>
      <key>monster_30107_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,256},{245,238}}</string>
        <key>offset</key>
        <string>{-104,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,238}}</string>
        <key>sourceSize</key>
        <string>{245,238}</string>
      </dict>
      <key>monster_30107_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{239,225}}</string>
        <key>offset</key>
        <string>{-130,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,225}}</string>
        <key>sourceSize</key>
        <string>{239,225}</string>
      </dict>
      <key>monster_30107_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,788},{254,224}}</string>
        <key>offset</key>
        <string>{-126,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,224}}</string>
        <key>sourceSize</key>
        <string>{254,224}</string>
      </dict>
      <key>monster_30107_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{259,231}}</string>
        <key>offset</key>
        <string>{-128,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,231}}</string>
        <key>sourceSize</key>
        <string>{259,231}</string>
      </dict>
      <key>monster_30107_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{263,225}}</string>
        <key>offset</key>
        <string>{-132,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,225}}</string>
        <key>sourceSize</key>
        <string>{263,225}</string>
      </dict>
      <key>monster_30107_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{260,219}}</string>
        <key>offset</key>
        <string>{-131,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,219}}</string>
        <key>sourceSize</key>
        <string>{260,219}</string>
      </dict>
      <key>monster_30107_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{245,229}}</string>
        <key>offset</key>
        <string>{-126,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,229}}</string>
        <key>sourceSize</key>
        <string>{245,229}</string>
      </dict>
      <key>monster_30107_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,742},{182,234}}</string>
        <key>offset</key>
        <string>{-83,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,234}}</string>
        <key>sourceSize</key>
        <string>{182,234}</string>
      </dict>
      <key>monster_30107_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,448},{186,220}}</string>
        <key>offset</key>
        <string>{-80,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,220}}</string>
        <key>sourceSize</key>
        <string>{186,220}</string>
      </dict>
      <key>monster_30107_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,742},{186,225}}</string>
        <key>offset</key>
        <string>{-81,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,225}}</string>
        <key>sourceSize</key>
        <string>{186,225}</string>
      </dict>
      <key>monster_30107_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,241},{182,235}}</string>
        <key>offset</key>
        <string>{-83,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,235}}</string>
        <key>sourceSize</key>
        <string>{182,235}</string>
      </dict>
      <key>monster_30107_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,478},{183,225}}</string>
        <key>offset</key>
        <string>{-82,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,225}}</string>
        <key>sourceSize</key>
        <string>{183,225}</string>
      </dict>
      <key>monster_30107_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,241},{185,224}}</string>
        <key>offset</key>
        <string>{-81,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,224}}</string>
        <key>sourceSize</key>
        <string>{185,224}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30107_0_1_0.png</string>
      <key>size</key>
      <string>{1470,1026}</string>
      <key>textureFileName</key>
      <string>monster_30107_0_1_0.png</string>
    </dict>
  </dict>
</plist>