<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30072_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,364},{321,315}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,315}}</string>
        <key>sourceSize</key>
        <string>{321,315}</string>
      </dict>
      <key>monster_30072_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,987},{296,271}}</string>
        <key>offset</key>
        <string>{-99,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,271}}</string>
        <key>sourceSize</key>
        <string>{296,271}</string>
      </dict>
      <key>monster_30072_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,535},{292,266}}</string>
        <key>offset</key>
        <string>{-99,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,266}}</string>
        <key>sourceSize</key>
        <string>{292,266}</string>
      </dict>
      <key>monster_30072_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,803},{288,277}}</string>
        <key>offset</key>
        <string>{-99,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,277}}</string>
        <key>sourceSize</key>
        <string>{288,277}</string>
      </dict>
      <key>monster_30072_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,737},{325,329}}</string>
        <key>offset</key>
        <string>{-99,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,329}}</string>
        <key>sourceSize</key>
        <string>{325,329}</string>
      </dict>
      <key>monster_30072_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,984},{294,275}}</string>
        <key>offset</key>
        <string>{-99,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,275}}</string>
        <key>sourceSize</key>
        <string>{294,275}</string>
      </dict>
      <key>monster_30072_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,687},{295,273}}</string>
        <key>offset</key>
        <string>{-99,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,273}}</string>
        <key>sourceSize</key>
        <string>{295,273}</string>
      </dict>
      <key>monster_30072_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{301,364}}</string>
        <key>offset</key>
        <string>{-99,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,364}}</string>
        <key>sourceSize</key>
        <string>{301,364}</string>
      </dict>
      <key>monster_30072_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{306,262}}</string>
        <key>offset</key>
        <string>{-105,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,262}}</string>
        <key>sourceSize</key>
        <string>{306,262}</string>
      </dict>
      <key>monster_30072_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1068},{272,278}}</string>
        <key>offset</key>
        <string>{-113,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,278}}</string>
        <key>sourceSize</key>
        <string>{272,278}</string>
      </dict>
      <key>monster_30072_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,1082},{285,242}}</string>
        <key>offset</key>
        <string>{-126,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,242}}</string>
        <key>sourceSize</key>
        <string>{285,242}</string>
      </dict>
      <key>monster_30072_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,687},{298,253}}</string>
        <key>offset</key>
        <string>{-105,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,253}}</string>
        <key>sourceSize</key>
        <string>{298,253}</string>
      </dict>
      <key>monster_30072_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{369,264}}</string>
        <key>offset</key>
        <string>{-105,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,264}}</string>
        <key>sourceSize</key>
        <string>{369,264}</string>
      </dict>
      <key>monster_30072_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{302,266}}</string>
        <key>offset</key>
        <string>{-105,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,266}}</string>
        <key>sourceSize</key>
        <string>{302,266}</string>
      </dict>
      <key>monster_30072_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,268},{300,265}}</string>
        <key>offset</key>
        <string>{-105,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,265}}</string>
        <key>sourceSize</key>
        <string>{300,265}</string>
      </dict>
      <key>monster_30072_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{362,321}}</string>
        <key>offset</key>
        <string>{-105,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,321}}</string>
        <key>sourceSize</key>
        <string>{362,321}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30072_0_2_0.png</string>
      <key>size</key>
      <string>{1281,1401}</string>
      <key>textureFileName</key>
      <string>monster_30072_0_2_0.png</string>
    </dict>
  </dict>
</plist>