<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30087_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,743},{229,152}}</string>
        <key>offset</key>
        <string>{-100,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,152}}</string>
        <key>sourceSize</key>
        <string>{229,152}</string>
      </dict>
      <key>monster_30087_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,743},{229,154}}</string>
        <key>offset</key>
        <string>{-99,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,154}}</string>
        <key>sourceSize</key>
        <string>{229,154}</string>
      </dict>
      <key>monster_30087_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,494},{229,160}}</string>
        <key>offset</key>
        <string>{-99,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,160}}</string>
        <key>sourceSize</key>
        <string>{229,160}</string>
      </dict>
      <key>monster_30087_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,247},{229,163}}</string>
        <key>offset</key>
        <string>{-100,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,163}}</string>
        <key>sourceSize</key>
        <string>{229,163}</string>
      </dict>
      <key>monster_30087_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{229,163}}</string>
        <key>offset</key>
        <string>{-102,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,163}}</string>
        <key>sourceSize</key>
        <string>{229,163}</string>
      </dict>
      <key>monster_30087_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,974},{229,157}}</string>
        <key>offset</key>
        <string>{-103,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,157}}</string>
        <key>sourceSize</key>
        <string>{229,157}</string>
      </dict>
      <key>monster_30087_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,725},{229,156}}</string>
        <key>offset</key>
        <string>{-104,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,156}}</string>
        <key>sourceSize</key>
        <string>{229,156}</string>
      </dict>
      <key>monster_30087_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,992},{230,160}}</string>
        <key>offset</key>
        <string>{-105,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,160}}</string>
        <key>sourceSize</key>
        <string>{230,160}</string>
      </dict>
      <key>monster_30087_0_1_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,478},{229,161}}</string>
        <key>offset</key>
        <string>{-103,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,161}}</string>
        <key>sourceSize</key>
        <string>{229,161}</string>
      </dict>
      <key>monster_30087_0_1_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,231},{228,158}}</string>
        <key>offset</key>
        <string>{-101,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,158}}</string>
        <key>sourceSize</key>
        <string>{228,158}</string>
      </dict>
      <key>monster_30087_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{246,160}}</string>
        <key>offset</key>
        <string>{-116,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,160}}</string>
        <key>sourceSize</key>
        <string>{246,160}</string>
      </dict>
      <key>monster_30087_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,249},{245,164}}</string>
        <key>offset</key>
        <string>{-112,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,164}}</string>
        <key>sourceSize</key>
        <string>{245,164}</string>
      </dict>
      <key>monster_30087_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{245,168}}</string>
        <key>offset</key>
        <string>{-110,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,168}}</string>
        <key>sourceSize</key>
        <string>{245,168}</string>
      </dict>
      <key>monster_30087_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,745},{245,170}}</string>
        <key>offset</key>
        <string>{-110,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,170}}</string>
        <key>sourceSize</key>
        <string>{245,170}</string>
      </dict>
      <key>monster_30087_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,496},{245,171}}</string>
        <key>offset</key>
        <string>{-110,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,171}}</string>
        <key>sourceSize</key>
        <string>{245,171}</string>
      </dict>
      <key>monster_30087_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,169}}</string>
        <key>offset</key>
        <string>{-114,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,169}}</string>
        <key>sourceSize</key>
        <string>{247,169}</string>
      </dict>
      <key>monster_30087_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,497},{246,164}}</string>
        <key>offset</key>
        <string>{-115,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,164}}</string>
        <key>sourceSize</key>
        <string>{246,164}</string>
      </dict>
      <key>monster_30087_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,247},{245,165}}</string>
        <key>offset</key>
        <string>{-115,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,165}}</string>
        <key>sourceSize</key>
        <string>{245,165}</string>
      </dict>
      <key>monster_30087_0_1_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{245,165}}</string>
        <key>offset</key>
        <string>{-116,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,165}}</string>
        <key>sourceSize</key>
        <string>{245,165}</string>
      </dict>
      <key>monster_30087_0_1_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,992},{244,162}}</string>
        <key>offset</key>
        <string>{-115,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,162}}</string>
        <key>sourceSize</key>
        <string>{244,162}</string>
      </dict>
      <key>monster_30087_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,1042},{153,211}}</string>
        <key>offset</key>
        <string>{-79,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,211}}</string>
        <key>sourceSize</key>
        <string>{153,211}</string>
      </dict>
      <key>monster_30087_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,731},{154,212}}</string>
        <key>offset</key>
        <string>{-78,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,212}}</string>
        <key>sourceSize</key>
        <string>{154,212}</string>
      </dict>
      <key>monster_30087_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,956},{154,213}}</string>
        <key>offset</key>
        <string>{-76,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,213}}</string>
        <key>sourceSize</key>
        <string>{154,213}</string>
      </dict>
      <key>monster_30087_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,1042},{154,211}}</string>
        <key>offset</key>
        <string>{-74,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,211}}</string>
        <key>sourceSize</key>
        <string>{154,211}</string>
      </dict>
      <key>monster_30087_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,886},{154,212}}</string>
        <key>offset</key>
        <string>{-74,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,212}}</string>
        <key>sourceSize</key>
        <string>{154,212}</string>
      </dict>
      <key>monster_30087_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,731},{153,213}}</string>
        <key>offset</key>
        <string>{-74,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,213}}</string>
        <key>sourceSize</key>
        <string>{153,213}</string>
      </dict>
      <key>monster_30087_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,683},{154,214}}</string>
        <key>offset</key>
        <string>{-77,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,214}}</string>
        <key>sourceSize</key>
        <string>{154,214}</string>
      </dict>
      <key>monster_30087_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,956},{153,214}}</string>
        <key>offset</key>
        <string>{-78,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,214}}</string>
        <key>sourceSize</key>
        <string>{153,214}</string>
      </dict>
      <key>monster_30087_0_1_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1107,945},{153,211}}</string>
        <key>offset</key>
        <string>{-79,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,211}}</string>
        <key>sourceSize</key>
        <string>{153,211}</string>
      </dict>
      <key>monster_30087_0_1_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,0},{153,211}}</string>
        <key>offset</key>
        <string>{-79,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,211}}</string>
        <key>sourceSize</key>
        <string>{153,211}</string>
      </dict>
      <key>monster_30087_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,432},{148,220}}</string>
        <key>offset</key>
        <string>{-71,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,220}}</string>
        <key>sourceSize</key>
        <string>{148,220}</string>
      </dict>
      <key>monster_30087_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,0},{144,221}}</string>
        <key>offset</key>
        <string>{-70,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,221}}</string>
        <key>sourceSize</key>
        <string>{144,221}</string>
      </dict>
      <key>monster_30087_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,146},{141,221}}</string>
        <key>offset</key>
        <string>{-69,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,221}}</string>
        <key>sourceSize</key>
        <string>{141,221}</string>
      </dict>
      <key>monster_30087_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,447},{138,220}}</string>
        <key>offset</key>
        <string>{-67,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,220}}</string>
        <key>sourceSize</key>
        <string>{138,220}</string>
      </dict>
      <key>monster_30087_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,224},{138,221}}</string>
        <key>offset</key>
        <string>{-66,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,221}}</string>
        <key>sourceSize</key>
        <string>{138,221}</string>
      </dict>
      <key>monster_30087_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,289},{141,221}}</string>
        <key>offset</key>
        <string>{-66,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,221}}</string>
        <key>sourceSize</key>
        <string>{141,221}</string>
      </dict>
      <key>monster_30087_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,0},{145,222}}</string>
        <key>offset</key>
        <string>{-67,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,222}}</string>
        <key>sourceSize</key>
        <string>{145,222}</string>
      </dict>
      <key>monster_30087_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,0},{147,222}}</string>
        <key>offset</key>
        <string>{-67,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,222}}</string>
        <key>sourceSize</key>
        <string>{147,222}</string>
      </dict>
      <key>monster_30087_0_1_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,461},{148,220}}</string>
        <key>offset</key>
        <string>{-68,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,220}}</string>
        <key>sourceSize</key>
        <string>{148,220}</string>
      </dict>
      <key>monster_30087_0_1_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,582},{147,219}}</string>
        <key>offset</key>
        <string>{-69,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,219}}</string>
        <key>sourceSize</key>
        <string>{147,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30087_0_1_0.png</string>
      <key>size</key>
      <string>{1356,1281}</string>
      <key>textureFileName</key>
      <string>monster_30087_0_1_0.png</string>
    </dict>
  </dict>
</plist>