<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30064_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{264,148}}</string>
        <key>offset</key>
        <string>{-42,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,148}}</string>
        <key>sourceSize</key>
        <string>{264,148}</string>
      </dict>
      <key>monster_30064_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{260,153}}</string>
        <key>offset</key>
        <string>{-40,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,153}}</string>
        <key>sourceSize</key>
        <string>{260,153}</string>
      </dict>
      <key>monster_30064_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{260,162}}</string>
        <key>offset</key>
        <string>{-44,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,162}}</string>
        <key>sourceSize</key>
        <string>{260,162}</string>
      </dict>
      <key>monster_30064_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,484},{216,153}}</string>
        <key>offset</key>
        <string>{-29,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,153}}</string>
        <key>sourceSize</key>
        <string>{216,153}</string>
      </dict>
      <key>monster_30064_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,262},{220,175}}</string>
        <key>offset</key>
        <string>{-33,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,175}}</string>
        <key>sourceSize</key>
        <string>{220,175}</string>
      </dict>
      <key>monster_30064_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,528},{228,172}}</string>
        <key>offset</key>
        <string>{-38,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,172}}</string>
        <key>sourceSize</key>
        <string>{228,172}</string>
      </dict>
      <key>monster_30064_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,212},{132,198}}</string>
        <key>offset</key>
        <string>{-28,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,198}}</string>
        <key>sourceSize</key>
        <string>{132,198}</string>
      </dict>
      <key>monster_30064_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,0},{132,200}}</string>
        <key>offset</key>
        <string>{-26,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,200}}</string>
        <key>sourceSize</key>
        <string>{132,200}</string>
      </dict>
      <key>monster_30064_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,202},{144,200}}</string>
        <key>offset</key>
        <string>{-32,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,200}}</string>
        <key>sourceSize</key>
        <string>{144,200}</string>
      </dict>
      <key>monster_30064_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,575},{194,183}}</string>
        <key>offset</key>
        <string>{-83,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,183}}</string>
        <key>sourceSize</key>
        <string>{194,183}</string>
      </dict>
      <key>monster_30064_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,404},{196,169}}</string>
        <key>offset</key>
        <string>{-81,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,169}}</string>
        <key>sourceSize</key>
        <string>{196,169}</string>
      </dict>
      <key>monster_30064_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,817},{190,171}}</string>
        <key>offset</key>
        <string>{-74,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,171}}</string>
        <key>sourceSize</key>
        <string>{190,171}</string>
      </dict>
      <key>monster_30064_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,528},{238,151}}</string>
        <key>offset</key>
        <string>{-124,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,151}}</string>
        <key>sourceSize</key>
        <string>{238,151}</string>
      </dict>
      <key>monster_30064_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,768},{232,127}}</string>
        <key>offset</key>
        <string>{-123,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,127}}</string>
        <key>sourceSize</key>
        <string>{232,127}</string>
      </dict>
      <key>monster_30064_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{234,122}}</string>
        <key>offset</key>
        <string>{-122,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,122}}</string>
        <key>sourceSize</key>
        <string>{234,122}</string>
      </dict>
      <key>monster_30064_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{210,190}}</string>
        <key>offset</key>
        <string>{-87,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,190}}</string>
        <key>sourceSize</key>
        <string>{210,190}</string>
      </dict>
      <key>monster_30064_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,624},{194,191}}</string>
        <key>offset</key>
        <string>{-93,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,191}}</string>
        <key>sourceSize</key>
        <string>{194,191}</string>
      </dict>
      <key>monster_30064_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,436},{196,186}}</string>
        <key>offset</key>
        <string>{-97,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,186}}</string>
        <key>sourceSize</key>
        <string>{196,186}</string>
      </dict>
      <key>monster_30064_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,262},{132,221}}</string>
        <key>offset</key>
        <string>{-7,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,221}}</string>
        <key>sourceSize</key>
        <string>{132,221}</string>
      </dict>
      <key>monster_30064_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{114,220}}</string>
        <key>offset</key>
        <string>{-13,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,220}}</string>
        <key>sourceSize</key>
        <string>{114,220}</string>
      </dict>
      <key>monster_30064_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,484},{118,217}}</string>
        <key>offset</key>
        <string>{-20,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,217}}</string>
        <key>sourceSize</key>
        <string>{118,217}</string>
      </dict>
      <key>monster_30064_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{218,203}}</string>
        <key>offset</key>
        <string>{-36,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,203}}</string>
        <key>sourceSize</key>
        <string>{218,203}</string>
      </dict>
      <key>monster_30064_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,758},{218,198}}</string>
        <key>offset</key>
        <string>{-41,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,198}}</string>
        <key>sourceSize</key>
        <string>{218,198}</string>
      </dict>
      <key>monster_30064_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,220},{214,202}}</string>
        <key>offset</key>
        <string>{-45,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,202}}</string>
        <key>sourceSize</key>
        <string>{214,202}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30064_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_30064_0_7.png</string>
    </dict>
  </dict>
</plist>