<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30055_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{330,278}}</string>
        <key>offset</key>
        <string>{-184,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,278}}</string>
        <key>sourceSize</key>
        <string>{330,278}</string>
      </dict>
      <key>monster_30055_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{327,279}}</string>
        <key>offset</key>
        <string>{-179,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,279}}</string>
        <key>sourceSize</key>
        <string>{327,279}</string>
      </dict>
      <key>monster_30055_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,0},{318,279}}</string>
        <key>offset</key>
        <string>{-171,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,279}}</string>
        <key>sourceSize</key>
        <string>{318,279}</string>
      </dict>
      <key>monster_30055_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{324,279}}</string>
        <key>offset</key>
        <string>{-176,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,279}}</string>
        <key>sourceSize</key>
        <string>{324,279}</string>
      </dict>
      <key>monster_30055_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,281},{296,256}}</string>
        <key>offset</key>
        <string>{-113,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,256}}</string>
        <key>sourceSize</key>
        <string>{296,256}</string>
      </dict>
      <key>monster_30055_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,621},{292,256}}</string>
        <key>offset</key>
        <string>{-110,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,256}}</string>
        <key>sourceSize</key>
        <string>{292,256}</string>
      </dict>
      <key>monster_30055_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,539},{291,256}}</string>
        <key>offset</key>
        <string>{-110,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,256}}</string>
        <key>sourceSize</key>
        <string>{291,256}</string>
      </dict>
      <key>monster_30055_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,326},{293,256}}</string>
        <key>offset</key>
        <string>{-111,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,256}}</string>
        <key>sourceSize</key>
        <string>{293,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30055_0_0_1.png</string>
      <key>size</key>
      <string>{897,896}</string>
      <key>textureFileName</key>
      <string>monster_30055_0_0_1.png</string>
    </dict>
  </dict>
</plist>