<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,163},{158,277}}</string>
        <key>offset</key>
        <string>{-56,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,277}}</string>
        <key>sourceSize</key>
        <string>{158,277}</string>
      </dict>
      <key>monster_40004_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,0},{161,279}}</string>
        <key>offset</key>
        <string>{-58,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,279}}</string>
        <key>sourceSize</key>
        <string>{161,279}</string>
      </dict>
      <key>monster_40004_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,323},{159,276}}</string>
        <key>offset</key>
        <string>{-61,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,276}}</string>
        <key>sourceSize</key>
        <string>{159,276}</string>
      </dict>
      <key>monster_40004_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,799},{159,272}}</string>
        <key>offset</key>
        <string>{-62,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,272}}</string>
        <key>sourceSize</key>
        <string>{159,272}</string>
      </dict>
      <key>monster_40004_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,484},{160,271}}</string>
        <key>offset</key>
        <string>{-62,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,271}}</string>
        <key>sourceSize</key>
        <string>{160,271}</string>
      </dict>
      <key>monster_40004_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,799},{159,274}}</string>
        <key>offset</key>
        <string>{-60,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,274}}</string>
        <key>sourceSize</key>
        <string>{159,274}</string>
      </dict>
      <key>monster_40004_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,484},{156,275}}</string>
        <key>offset</key>
        <string>{-58,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,275}}</string>
        <key>sourceSize</key>
        <string>{156,275}</string>
      </dict>
      <key>monster_40004_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,642},{155,275}}</string>
        <key>offset</key>
        <string>{-57,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,275}}</string>
        <key>sourceSize</key>
        <string>{155,275}</string>
      </dict>
      <key>monster_40004_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,349},{346,222}}</string>
        <key>offset</key>
        <string>{-147,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,222}}</string>
        <key>sourceSize</key>
        <string>{346,222}</string>
      </dict>
      <key>monster_40004_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,697},{343,223}}</string>
        <key>offset</key>
        <string>{-149,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,223}}</string>
        <key>sourceSize</key>
        <string>{343,223}</string>
      </dict>
      <key>monster_40004_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{339,220}}</string>
        <key>offset</key>
        <string>{-150,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,220}}</string>
        <key>sourceSize</key>
        <string>{339,220}</string>
      </dict>
      <key>monster_40004_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,346},{340,218}}</string>
        <key>offset</key>
        <string>{-151,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,218}}</string>
        <key>sourceSize</key>
        <string>{340,218}</string>
      </dict>
      <key>monster_40004_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,346},{343,217}}</string>
        <key>offset</key>
        <string>{-151,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,217}}</string>
        <key>sourceSize</key>
        <string>{343,217}</string>
      </dict>
      <key>monster_40004_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,691},{342,219}}</string>
        <key>offset</key>
        <string>{-150,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,219}}</string>
        <key>sourceSize</key>
        <string>{342,219}</string>
      </dict>
      <key>monster_40004_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{344,221}}</string>
        <key>offset</key>
        <string>{-149,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,221}}</string>
        <key>sourceSize</key>
        <string>{344,221}</string>
      </dict>
      <key>monster_40004_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{347,221}}</string>
        <key>offset</key>
        <string>{-148,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,221}}</string>
        <key>sourceSize</key>
        <string>{347,221}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_0_2.png</string>
    </dict>
  </dict>
</plist>