<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30084_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,705},{226,219}}</string>
        <key>offset</key>
        <string>{-105,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,219}}</string>
        <key>sourceSize</key>
        <string>{226,219}</string>
      </dict>
      <key>monster_30084_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,716},{203,214}}</string>
        <key>offset</key>
        <string>{-88,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,214}}</string>
        <key>sourceSize</key>
        <string>{203,214}</string>
      </dict>
      <key>monster_30084_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,486},{191,228}}</string>
        <key>offset</key>
        <string>{-69,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,228}}</string>
        <key>sourceSize</key>
        <string>{191,228}</string>
      </dict>
      <key>monster_30084_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,940},{198,218}}</string>
        <key>offset</key>
        <string>{-80,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,218}}</string>
        <key>sourceSize</key>
        <string>{198,218}</string>
      </dict>
      <key>monster_30084_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,250},{164,234}}</string>
        <key>offset</key>
        <string>{-40,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,234}}</string>
        <key>sourceSize</key>
        <string>{164,234}</string>
      </dict>
      <key>monster_30084_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,933},{180,220}}</string>
        <key>offset</key>
        <string>{-59,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,220}}</string>
        <key>sourceSize</key>
        <string>{180,220}</string>
      </dict>
      <key>monster_30084_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,705},{199,226}}</string>
        <key>offset</key>
        <string>{-86,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,226}}</string>
        <key>sourceSize</key>
        <string>{199,226}</string>
      </dict>
      <key>monster_30084_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,245},{239,228}}</string>
        <key>offset</key>
        <string>{-97,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,228}}</string>
        <key>sourceSize</key>
        <string>{239,228}</string>
      </dict>
      <key>monster_30084_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,716},{197,222}}</string>
        <key>offset</key>
        <string>{-77,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,222}}</string>
        <key>sourceSize</key>
        <string>{197,222}</string>
      </dict>
      <key>monster_30084_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,926},{220,226}}</string>
        <key>offset</key>
        <string>{-36,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,226}}</string>
        <key>sourceSize</key>
        <string>{220,226}</string>
      </dict>
      <key>monster_30084_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,262},{234,248}}</string>
        <key>offset</key>
        <string>{-91,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,248}}</string>
        <key>sourceSize</key>
        <string>{234,248}</string>
      </dict>
      <key>monster_30084_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,0},{216,243}}</string>
        <key>offset</key>
        <string>{-81,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,243}}</string>
        <key>sourceSize</key>
        <string>{216,243}</string>
      </dict>
      <key>monster_30084_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,319},{276,228}}</string>
        <key>offset</key>
        <string>{-112,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,228}}</string>
        <key>sourceSize</key>
        <string>{276,228}</string>
      </dict>
      <key>monster_30084_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,597},{270,228}}</string>
        <key>offset</key>
        <string>{-101,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,228}}</string>
        <key>sourceSize</key>
        <string>{270,228}</string>
      </dict>
      <key>monster_30084_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,0},{221,248}}</string>
        <key>offset</key>
        <string>{-60,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,248}}</string>
        <key>sourceSize</key>
        <string>{221,248}</string>
      </dict>
      <key>monster_30084_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,0},{192,217}}</string>
        <key>offset</key>
        <string>{-54,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,217}}</string>
        <key>sourceSize</key>
        <string>{192,217}</string>
      </dict>
      <key>monster_30084_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,486},{217,236}}</string>
        <key>offset</key>
        <string>{-47,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,236}}</string>
        <key>sourceSize</key>
        <string>{217,236}</string>
      </dict>
      <key>monster_30084_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,274},{196,266}}</string>
        <key>offset</key>
        <string>{-50,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,266}}</string>
        <key>sourceSize</key>
        <string>{196,266}</string>
      </dict>
      <key>monster_30084_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,659},{232,293}}</string>
        <key>offset</key>
        <string>{-88,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,293}}</string>
        <key>sourceSize</key>
        <string>{232,293}</string>
      </dict>
      <key>monster_30084_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{260,240}}</string>
        <key>offset</key>
        <string>{-97,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,240}}</string>
        <key>sourceSize</key>
        <string>{260,240}</string>
      </dict>
      <key>monster_30084_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{317,231}}</string>
        <key>offset</key>
        <string>{-103,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,231}}</string>
        <key>sourceSize</key>
        <string>{317,231}</string>
      </dict>
      <key>monster_30084_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{188,272}}</string>
        <key>offset</key>
        <string>{-57,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,272}}</string>
        <key>sourceSize</key>
        <string>{188,272}</string>
      </dict>
      <key>monster_30084_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,542},{168,254}}</string>
        <key>offset</key>
        <string>{-51,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,254}}</string>
        <key>sourceSize</key>
        <string>{168,254}</string>
      </dict>
      <key>monster_30084_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,869},{182,260}}</string>
        <key>offset</key>
        <string>{-49,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,260}}</string>
        <key>sourceSize</key>
        <string>{182,260}</string>
      </dict>
      <key>monster_30084_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,869},{176,257}}</string>
        <key>offset</key>
        <string>{-56,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,257}}</string>
        <key>sourceSize</key>
        <string>{176,257}</string>
      </dict>
      <key>monster_30084_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,329}}</string>
        <key>offset</key>
        <string>{-48,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,329}}</string>
        <key>sourceSize</key>
        <string>{151,329}</string>
      </dict>
      <key>monster_30084_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{182,326}}</string>
        <key>offset</key>
        <string>{-67,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,326}}</string>
        <key>sourceSize</key>
        <string>{182,326}</string>
      </dict>
      <key>monster_30084_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{235,290}}</string>
        <key>offset</key>
        <string>{-79,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,290}}</string>
        <key>sourceSize</key>
        <string>{235,290}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30084_0_2_1.png</string>
      <key>size</key>
      <string>{1472,1282}</string>
      <key>textureFileName</key>
      <string>monster_30084_0_2_1.png</string>
    </dict>
  </dict>
</plist>