<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30100_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,698},{189,220}}</string>
        <key>offset</key>
        <string>{-55,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,220}}</string>
        <key>sourceSize</key>
        <string>{189,220}</string>
      </dict>
      <key>monster_30100_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,698},{178,219}}</string>
        <key>offset</key>
        <string>{-44,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,219}}</string>
        <key>sourceSize</key>
        <string>{178,219}</string>
      </dict>
      <key>monster_30100_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,679},{187,216}}</string>
        <key>offset</key>
        <string>{-53,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,216}}</string>
        <key>sourceSize</key>
        <string>{187,216}</string>
      </dict>
      <key>monster_30100_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,584},{205,207}}</string>
        <key>offset</key>
        <string>{-71,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,207}}</string>
        <key>sourceSize</key>
        <string>{205,207}</string>
      </dict>
      <key>monster_30100_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{227,222}}</string>
        <key>offset</key>
        <string>{-63,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,222}}</string>
        <key>sourceSize</key>
        <string>{227,222}</string>
      </dict>
      <key>monster_30100_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{227,227}}</string>
        <key>offset</key>
        <string>{-63,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,227}}</string>
        <key>sourceSize</key>
        <string>{227,227}</string>
      </dict>
      <key>monster_30100_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,469},{227,222}}</string>
        <key>offset</key>
        <string>{-63,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,222}}</string>
        <key>sourceSize</key>
        <string>{227,222}</string>
      </dict>
      <key>monster_30100_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{238,218}}</string>
        <key>offset</key>
        <string>{-74,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,218}}</string>
        <key>sourceSize</key>
        <string>{238,218}</string>
      </dict>
      <key>monster_30100_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,469},{213,227}}</string>
        <key>offset</key>
        <string>{-90,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,227}}</string>
        <key>sourceSize</key>
        <string>{213,227}</string>
      </dict>
      <key>monster_30100_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,0},{213,221}}</string>
        <key>offset</key>
        <string>{-91,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,221}}</string>
        <key>sourceSize</key>
        <string>{213,221}</string>
      </dict>
      <key>monster_30100_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,229},{212,226}}</string>
        <key>offset</key>
        <string>{-91,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,226}}</string>
        <key>sourceSize</key>
        <string>{212,226}</string>
      </dict>
      <key>monster_30100_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{218,222}}</string>
        <key>offset</key>
        <string>{-91,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,222}}</string>
        <key>sourceSize</key>
        <string>{218,222}</string>
      </dict>
      <key>monster_30100_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,215},{171,221}}</string>
        <key>offset</key>
        <string>{-60,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,221}}</string>
        <key>sourceSize</key>
        <string>{171,221}</string>
      </dict>
      <key>monster_30100_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,229},{159,226}}</string>
        <key>offset</key>
        <string>{-53,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,226}}</string>
        <key>sourceSize</key>
        <string>{159,226}</string>
      </dict>
      <key>monster_30100_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,457},{174,220}}</string>
        <key>offset</key>
        <string>{-64,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,220}}</string>
        <key>sourceSize</key>
        <string>{174,220}</string>
      </dict>
      <key>monster_30100_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,388},{194,213}}</string>
        <key>offset</key>
        <string>{-75,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,213}}</string>
        <key>sourceSize</key>
        <string>{194,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30100_0_0_0.png</string>
      <key>size</key>
      <string>{896,896}</string>
      <key>textureFileName</key>
      <string>monster_30100_0_0_0.png</string>
    </dict>
  </dict>
</plist>