<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30034_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{283,194}}</string>
        <key>offset</key>
        <string>{-73,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,194}}</string>
        <key>sourceSize</key>
        <string>{283,194}</string>
      </dict>
      <key>monster_30034_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{282,192}}</string>
        <key>offset</key>
        <string>{-74,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,192}}</string>
        <key>sourceSize</key>
        <string>{282,192}</string>
      </dict>
      <key>monster_30034_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,561},{261,192}}</string>
        <key>offset</key>
        <string>{-71,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,192}}</string>
        <key>sourceSize</key>
        <string>{261,192}</string>
      </dict>
      <key>monster_30034_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{266,193}}</string>
        <key>offset</key>
        <string>{-70,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,193}}</string>
        <key>sourceSize</key>
        <string>{266,193}</string>
      </dict>
      <key>monster_30034_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,515},{251,183}}</string>
        <key>offset</key>
        <string>{-62,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,183}}</string>
        <key>sourceSize</key>
        <string>{251,183}</string>
      </dict>
      <key>monster_30034_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,515},{251,183}}</string>
        <key>offset</key>
        <string>{-64,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,183}}</string>
        <key>sourceSize</key>
        <string>{251,183}</string>
      </dict>
      <key>monster_30034_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,251},{243,181}}</string>
        <key>offset</key>
        <string>{-58,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,181}}</string>
        <key>sourceSize</key>
        <string>{243,181}</string>
      </dict>
      <key>monster_30034_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,1041},{247,181}}</string>
        <key>offset</key>
        <string>{-59,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,181}}</string>
        <key>sourceSize</key>
        <string>{247,181}</string>
      </dict>
      <key>monster_30034_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,1080},{253,195}}</string>
        <key>offset</key>
        <string>{-49,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,195}}</string>
        <key>sourceSize</key>
        <string>{253,195}</string>
      </dict>
      <key>monster_30034_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,531},{253,193}}</string>
        <key>offset</key>
        <string>{-50,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,193}}</string>
        <key>sourceSize</key>
        <string>{253,193}</string>
      </dict>
      <key>monster_30034_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,824},{254,190}}</string>
        <key>offset</key>
        <string>{-50,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,190}}</string>
        <key>sourceSize</key>
        <string>{254,190}</string>
      </dict>
      <key>monster_30034_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,260},{253,191}}</string>
        <key>offset</key>
        <string>{-49,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,191}}</string>
        <key>sourceSize</key>
        <string>{253,191}</string>
      </dict>
      <key>monster_30034_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,848},{263,185}}</string>
        <key>offset</key>
        <string>{-62,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,185}}</string>
        <key>sourceSize</key>
        <string>{263,185}</string>
      </dict>
      <key>monster_30034_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{260,185}}</string>
        <key>offset</key>
        <string>{-60,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,185}}</string>
        <key>sourceSize</key>
        <string>{260,185}</string>
      </dict>
      <key>monster_30034_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,0},{253,183}}</string>
        <key>offset</key>
        <string>{-52,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,183}}</string>
        <key>sourceSize</key>
        <string>{253,183}</string>
      </dict>
      <key>monster_30034_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{258,183}}</string>
        <key>offset</key>
        <string>{-57,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,183}}</string>
        <key>sourceSize</key>
        <string>{258,183}</string>
      </dict>
      <key>monster_30034_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,569},{277,193}}</string>
        <key>offset</key>
        <string>{-73,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,193}}</string>
        <key>sourceSize</key>
        <string>{277,193}</string>
      </dict>
      <key>monster_30034_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,285},{274,191}}</string>
        <key>offset</key>
        <string>{-70,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,191}}</string>
        <key>sourceSize</key>
        <string>{274,191}</string>
      </dict>
      <key>monster_30034_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,268},{261,191}}</string>
        <key>offset</key>
        <string>{-60,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,191}}</string>
        <key>sourceSize</key>
        <string>{261,191}</string>
      </dict>
      <key>monster_30034_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,848},{262,193}}</string>
        <key>offset</key>
        <string>{-61,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,193}}</string>
        <key>sourceSize</key>
        <string>{262,193}</string>
      </dict>
      <key>monster_30034_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,768},{246,187}}</string>
        <key>offset</key>
        <string>{-34,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,187}}</string>
        <key>sourceSize</key>
        <string>{246,187}</string>
      </dict>
      <key>monster_30034_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,1016},{243,184}}</string>
        <key>offset</key>
        <string>{-32,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,184}}</string>
        <key>sourceSize</key>
        <string>{243,184}</string>
      </dict>
      <key>monster_30034_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,1224},{237,189}}</string>
        <key>offset</key>
        <string>{-32,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,189}}</string>
        <key>sourceSize</key>
        <string>{237,189}</string>
      </dict>
      <key>monster_30034_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,755},{240,187}}</string>
        <key>offset</key>
        <string>{-33,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,187}}</string>
        <key>sourceSize</key>
        <string>{240,187}</string>
      </dict>
      <key>monster_30034_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,786},{253,194}}</string>
        <key>offset</key>
        <string>{-52,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,194}}</string>
        <key>sourceSize</key>
        <string>{253,194}</string>
      </dict>
      <key>monster_30034_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,255},{250,195}}</string>
        <key>offset</key>
        <string>{-52,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,195}}</string>
        <key>sourceSize</key>
        <string>{250,195}</string>
      </dict>
      <key>monster_30034_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,507},{246,196}}</string>
        <key>offset</key>
        <string>{-52,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,196}}</string>
        <key>sourceSize</key>
        <string>{246,196}</string>
      </dict>
      <key>monster_30034_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,0},{249,194}}</string>
        <key>offset</key>
        <string>{-52,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,194}}</string>
        <key>sourceSize</key>
        <string>{249,194}</string>
      </dict>
      <key>monster_30034_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,1112},{238,184}}</string>
        <key>offset</key>
        <string>{-34,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,184}}</string>
        <key>sourceSize</key>
        <string>{238,184}</string>
      </dict>
      <key>monster_30034_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,1277},{238,182}}</string>
        <key>offset</key>
        <string>{-35,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,182}}</string>
        <key>sourceSize</key>
        <string>{238,182}</string>
      </dict>
      <key>monster_30034_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1113},{236,183}}</string>
        <key>offset</key>
        <string>{-38,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,183}}</string>
        <key>sourceSize</key>
        <string>{236,183}</string>
      </dict>
      <key>monster_30034_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,1261},{234,186}}</string>
        <key>offset</key>
        <string>{-36,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,186}}</string>
        <key>sourceSize</key>
        <string>{234,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30034_0_0.png</string>
      <key>size</key>
      <string>{1282,1463}</string>
      <key>textureFileName</key>
      <string>monster_30034_0_0.png</string>
    </dict>
  </dict>
</plist>