<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30100_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,571},{198,244}}</string>
        <key>offset</key>
        <string>{-75,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,244}}</string>
        <key>sourceSize</key>
        <string>{198,244}</string>
      </dict>
      <key>monster_30100_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,359},{187,252}}</string>
        <key>offset</key>
        <string>{-72,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,252}}</string>
        <key>sourceSize</key>
        <string>{187,252}</string>
      </dict>
      <key>monster_30100_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,176},{181,255}}</string>
        <key>offset</key>
        <string>{-68,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,255}}</string>
        <key>sourceSize</key>
        <string>{181,255}</string>
      </dict>
      <key>monster_30100_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,0},{191,253}}</string>
        <key>offset</key>
        <string>{-71,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,253}}</string>
        <key>sourceSize</key>
        <string>{191,253}</string>
      </dict>
      <key>monster_30100_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,752},{200,243}}</string>
        <key>offset</key>
        <string>{-74,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,243}}</string>
        <key>sourceSize</key>
        <string>{200,243}</string>
      </dict>
      <key>monster_30100_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,817},{203,226}}</string>
        <key>offset</key>
        <string>{-75,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,226}}</string>
        <key>sourceSize</key>
        <string>{203,226}</string>
      </dict>
      <key>monster_30100_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,193},{196,252}}</string>
        <key>offset</key>
        <string>{-77,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,252}}</string>
        <key>sourceSize</key>
        <string>{196,252}</string>
      </dict>
      <key>monster_30100_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{188,260}}</string>
        <key>offset</key>
        <string>{-78,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,260}}</string>
        <key>sourceSize</key>
        <string>{188,260}</string>
      </dict>
      <key>monster_30100_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,262}}</string>
        <key>offset</key>
        <string>{-63,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,262}}</string>
        <key>sourceSize</key>
        <string>{174,262}</string>
      </dict>
      <key>monster_30100_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,190},{183,253}}</string>
        <key>offset</key>
        <string>{-70,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,253}}</string>
        <key>sourceSize</key>
        <string>{183,253}</string>
      </dict>
      <key>monster_30100_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,375},{194,248}}</string>
        <key>offset</key>
        <string>{-76,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,248}}</string>
        <key>sourceSize</key>
        <string>{194,248}</string>
      </dict>
      <key>monster_30100_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,548},{202,246}}</string>
        <key>offset</key>
        <string>{-79,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,246}}</string>
        <key>sourceSize</key>
        <string>{202,246}</string>
      </dict>
      <key>monster_30100_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{203,242}}</string>
        <key>offset</key>
        <string>{-75,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,242}}</string>
        <key>sourceSize</key>
        <string>{203,242}</string>
      </dict>
      <key>monster_30100_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,817},{192,239}}</string>
        <key>offset</key>
        <string>{-72,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,239}}</string>
        <key>sourceSize</key>
        <string>{192,239}</string>
      </dict>
      <key>monster_30100_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,1058},{174,236}}</string>
        <key>offset</key>
        <string>{-62,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,236}}</string>
        <key>sourceSize</key>
        <string>{174,236}</string>
      </dict>
      <key>monster_30100_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,954},{194,241}}</string>
        <key>offset</key>
        <string>{-70,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,241}}</string>
        <key>sourceSize</key>
        <string>{194,241}</string>
      </dict>
      <key>monster_30100_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,391},{210,245}}</string>
        <key>offset</key>
        <string>{-76,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,245}}</string>
        <key>sourceSize</key>
        <string>{210,245}</string>
      </dict>
      <key>monster_30100_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,603},{212,241}}</string>
        <key>offset</key>
        <string>{-76,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,241}}</string>
        <key>sourceSize</key>
        <string>{212,241}</string>
      </dict>
      <key>monster_30100_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,1045},{186,218}}</string>
        <key>offset</key>
        <string>{-75,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,218}}</string>
        <key>sourceSize</key>
        <string>{186,218}</string>
      </dict>
      <key>monster_30100_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,633},{186,217}}</string>
        <key>offset</key>
        <string>{-74,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,217}}</string>
        <key>sourceSize</key>
        <string>{186,217}</string>
      </dict>
      <key>monster_30100_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{178,218}}</string>
        <key>offset</key>
        <string>{-70,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,218}}</string>
        <key>sourceSize</key>
        <string>{178,218}</string>
      </dict>
      <key>monster_30100_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,220},{180,218}}</string>
        <key>offset</key>
        <string>{-69,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,218}}</string>
        <key>sourceSize</key>
        <string>{180,218}</string>
      </dict>
      <key>monster_30100_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,440},{191,218}}</string>
        <key>offset</key>
        <string>{-75,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,218}}</string>
        <key>sourceSize</key>
        <string>{191,218}</string>
      </dict>
      <key>monster_30100_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,821},{190,216}}</string>
        <key>offset</key>
        <string>{-72,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,216}}</string>
        <key>sourceSize</key>
        <string>{190,216}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30100_0_1_0.png</string>
      <key>size</key>
      <string>{1078,1282}</string>
      <key>textureFileName</key>
      <string>monster_30100_0_1_0.png</string>
    </dict>
  </dict>
</plist>