<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{158,321}}</string>
        <key>offset</key>
        <string>{-26,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,321}}</string>
        <key>sourceSize</key>
        <string>{158,321}</string>
      </dict>
      <key>monster_40004_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{185,349}}</string>
        <key>offset</key>
        <string>{-39,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,349}}</string>
        <key>sourceSize</key>
        <string>{185,349}</string>
      </dict>
      <key>monster_40004_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1727},{257,320}}</string>
        <key>offset</key>
        <string>{-56,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,320}}</string>
        <key>sourceSize</key>
        <string>{257,320}</string>
      </dict>
      <key>monster_40004_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1367},{262,309}}</string>
        <key>offset</key>
        <string>{-50,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,309}}</string>
        <key>sourceSize</key>
        <string>{262,309}</string>
      </dict>
      <key>monster_40004_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1404},{270,321}}</string>
        <key>offset</key>
        <string>{-58,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,321}}</string>
        <key>sourceSize</key>
        <string>{270,321}</string>
      </dict>
      <key>monster_40004_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,681},{292,308}}</string>
        <key>offset</key>
        <string>{-80,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,308}}</string>
        <key>sourceSize</key>
        <string>{292,308}</string>
      </dict>
      <key>monster_40004_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,991},{290,306}}</string>
        <key>offset</key>
        <string>{-74,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,306}}</string>
        <key>sourceSize</key>
        <string>{290,306}</string>
      </dict>
      <key>monster_40004_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,618},{273,277}}</string>
        <key>offset</key>
        <string>{-51,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,277}}</string>
        <key>sourceSize</key>
        <string>{273,277}</string>
      </dict>
      <key>monster_40004_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,0},{264,253}}</string>
        <key>offset</key>
        <string>{-42,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,253}}</string>
        <key>sourceSize</key>
        <string>{264,253}</string>
      </dict>
      <key>monster_40004_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,897},{262,259}}</string>
        <key>offset</key>
        <string>{-42,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,259}}</string>
        <key>sourceSize</key>
        <string>{262,259}</string>
      </dict>
      <key>monster_40004_0_4_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,1161},{261,260}}</string>
        <key>offset</key>
        <string>{-42,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,260}}</string>
        <key>sourceSize</key>
        <string>{261,260}</string>
      </dict>
      <key>monster_40004_0_4_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,1565},{262,259}}</string>
        <key>offset</key>
        <string>{-43,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,259}}</string>
        <key>sourceSize</key>
        <string>{262,259}</string>
      </dict>
      <key>monster_40004_0_4_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,1299},{264,259}}</string>
        <key>offset</key>
        <string>{-45,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,259}}</string>
        <key>sourceSize</key>
        <string>{264,259}</string>
      </dict>
      <key>monster_40004_0_4_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,309},{265,259}}</string>
        <key>offset</key>
        <string>{-46,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,259}}</string>
        <key>sourceSize</key>
        <string>{265,259}</string>
      </dict>
      <key>monster_40004_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,718},{334,235}}</string>
        <key>offset</key>
        <string>{-108,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,235}}</string>
        <key>sourceSize</key>
        <string>{334,235}</string>
      </dict>
      <key>monster_40004_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,718},{343,261}}</string>
        <key>offset</key>
        <string>{-117,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,261}}</string>
        <key>sourceSize</key>
        <string>{343,261}</string>
      </dict>
      <key>monster_40004_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{359,249}}</string>
        <key>offset</key>
        <string>{-129,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,249}}</string>
        <key>sourceSize</key>
        <string>{359,249}</string>
      </dict>
      <key>monster_40004_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{355,263}}</string>
        <key>offset</key>
        <string>{-131,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,263}}</string>
        <key>sourceSize</key>
        <string>{355,263}</string>
      </dict>
      <key>monster_40004_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1063},{339,291}}</string>
        <key>offset</key>
        <string>{-122,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,291}}</string>
        <key>sourceSize</key>
        <string>{339,291}</string>
      </dict>
      <key>monster_40004_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,351},{328,281}}</string>
        <key>offset</key>
        <string>{-116,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,281}}</string>
        <key>sourceSize</key>
        <string>{328,281}</string>
      </dict>
      <key>monster_40004_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1722},{313,288}}</string>
        <key>offset</key>
        <string>{-98,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,288}}</string>
        <key>sourceSize</key>
        <string>{313,288}</string>
      </dict>
      <key>monster_40004_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,1404},{316,231}}</string>
        <key>offset</key>
        <string>{-84,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,231}}</string>
        <key>sourceSize</key>
        <string>{316,231}</string>
      </dict>
      <key>monster_40004_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{307,226}}</string>
        <key>offset</key>
        <string>{-87,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,226}}</string>
        <key>sourceSize</key>
        <string>{307,226}</string>
      </dict>
      <key>monster_40004_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,1678},{309,232}}</string>
        <key>offset</key>
        <string>{-89,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,232}}</string>
        <key>sourceSize</key>
        <string>{309,232}</string>
      </dict>
      <key>monster_40004_0_4_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,323},{308,216}}</string>
        <key>offset</key>
        <string>{-89,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,216}}</string>
        <key>sourceSize</key>
        <string>{308,216}</string>
      </dict>
      <key>monster_40004_0_4_1_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,1054},{311,215}}</string>
        <key>offset</key>
        <string>{-89,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,215}}</string>
        <key>sourceSize</key>
        <string>{311,215}</string>
      </dict>
      <key>monster_40004_0_4_1_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,309},{307,212}}</string>
        <key>offset</key>
        <string>{-89,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,212}}</string>
        <key>sourceSize</key>
        <string>{307,212}</string>
      </dict>
      <key>monster_40004_0_4_1_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,0},{307,212}}</string>
        <key>offset</key>
        <string>{-89,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,212}}</string>
        <key>sourceSize</key>
        <string>{307,212}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_4_0.png</string>
    </dict>
  </dict>
</plist>