<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30095_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,350},{151,96}}</string>
        <key>offset</key>
        <string>{-23,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,96}}</string>
        <key>sourceSize</key>
        <string>{151,96}</string>
      </dict>
      <key>monster_30095_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,489},{119,112}}</string>
        <key>offset</key>
        <string>{-19,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,112}}</string>
        <key>sourceSize</key>
        <string>{119,112}</string>
      </dict>
      <key>monster_30095_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{176,100}}</string>
        <key>offset</key>
        <string>{-30,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,100}}</string>
        <key>sourceSize</key>
        <string>{176,100}</string>
      </dict>
      <key>monster_30095_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,180},{168,105}}</string>
        <key>offset</key>
        <string>{-19,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,105}}</string>
        <key>sourceSize</key>
        <string>{168,105}</string>
      </dict>
      <key>monster_30095_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,233},{123,133}}</string>
        <key>offset</key>
        <string>{-21,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,133}}</string>
        <key>sourceSize</key>
        <string>{123,133}</string>
      </dict>
      <key>monster_30095_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,358},{131,117}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,117}}</string>
        <key>sourceSize</key>
        <string>{131,117}</string>
      </dict>
      <key>monster_30095_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,152},{93,148}}</string>
        <key>offset</key>
        <string>{-27,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,148}}</string>
        <key>sourceSize</key>
        <string>{93,148}</string>
      </dict>
      <key>monster_30095_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{92,142}}</string>
        <key>offset</key>
        <string>{-16,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,142}}</string>
        <key>sourceSize</key>
        <string>{92,142}</string>
      </dict>
      <key>monster_30095_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{150,123}}</string>
        <key>offset</key>
        <string>{-68,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,123}}</string>
        <key>sourceSize</key>
        <string>{150,123}</string>
      </dict>
      <key>monster_30095_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,491},{128,128}}</string>
        <key>offset</key>
        <string>{-43,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>monster_30095_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,117}}</string>
        <key>offset</key>
        <string>{-83,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,117}}</string>
        <key>sourceSize</key>
        <string>{178,117}</string>
      </dict>
      <key>monster_30095_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{169,115}}</string>
        <key>offset</key>
        <string>{-84,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,115}}</string>
        <key>sourceSize</key>
        <string>{169,115}</string>
      </dict>
      <key>monster_30095_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,358},{129,120}}</string>
        <key>offset</key>
        <string>{-39,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,120}}</string>
        <key>sourceSize</key>
        <string>{129,120}</string>
      </dict>
      <key>monster_30095_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{141,116}}</string>
        <key>offset</key>
        <string>{-66,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,116}}</string>
        <key>sourceSize</key>
        <string>{141,116}</string>
      </dict>
      <key>monster_30095_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,118},{113,134}}</string>
        <key>offset</key>
        <string>{-17,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,134}}</string>
        <key>sourceSize</key>
        <string>{113,134}</string>
      </dict>
      <key>monster_30095_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,503},{108,127}}</string>
        <key>offset</key>
        <string>{-17,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,127}}</string>
        <key>sourceSize</key>
        <string>{108,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30095_0_7.png</string>
      <key>size</key>
      <string>{514,632}</string>
      <key>textureFileName</key>
      <string>monster_30095_0_7.png</string>
    </dict>
  </dict>
</plist>