<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30023_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,140},{137,123}}</string>
        <key>offset</key>
        <string>{-55,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,123}}</string>
        <key>sourceSize</key>
        <string>{137,123}</string>
      </dict>
      <key>monster_30023_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{137,123}}</string>
        <key>offset</key>
        <string>{-55,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,123}}</string>
        <key>sourceSize</key>
        <string>{137,123}</string>
      </dict>
      <key>monster_30023_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,123}}</string>
        <key>offset</key>
        <string>{-55,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,123}}</string>
        <key>sourceSize</key>
        <string>{138,123}</string>
      </dict>
      <key>monster_30023_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{138,123}}</string>
        <key>offset</key>
        <string>{-55,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,123}}</string>
        <key>sourceSize</key>
        <string>{138,123}</string>
      </dict>
      <key>monster_30023_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{89,117}}</string>
        <key>offset</key>
        <string>{-41,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,117}}</string>
        <key>sourceSize</key>
        <string>{89,117}</string>
      </dict>
      <key>monster_30023_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,280},{90,117}}</string>
        <key>offset</key>
        <string>{-42,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,117}}</string>
        <key>sourceSize</key>
        <string>{90,117}</string>
      </dict>
      <key>monster_30023_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{91,116}}</string>
        <key>offset</key>
        <string>{-43,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,116}}</string>
        <key>sourceSize</key>
        <string>{91,116}</string>
      </dict>
      <key>monster_30023_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,279},{90,117}}</string>
        <key>offset</key>
        <string>{-42,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,117}}</string>
        <key>sourceSize</key>
        <string>{90,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30023_0_0_1.png</string>
      <key>size</key>
      <string>{384,384}</string>
      <key>textureFileName</key>
      <string>monster_30023_0_0_1.png</string>
    </dict>
  </dict>
</plist>