<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30033_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1335,265},{233,194}}</string>
        <key>offset</key>
        <string>{-40,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,194}}</string>
        <key>sourceSize</key>
        <string>{233,194}</string>
      </dict>
      <key>monster_30033_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,854},{267,194}}</string>
        <key>offset</key>
        <string>{-73,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,194}}</string>
        <key>sourceSize</key>
        <string>{267,194}</string>
      </dict>
      <key>monster_30033_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{296,173}}</string>
        <key>offset</key>
        <string>{-85,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,173}}</string>
        <key>sourceSize</key>
        <string>{296,173}</string>
      </dict>
      <key>monster_30033_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{298,216}}</string>
        <key>offset</key>
        <string>{-84,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,216}}</string>
        <key>sourceSize</key>
        <string>{298,216}</string>
      </dict>
      <key>monster_30033_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,298},{282,218}}</string>
        <key>offset</key>
        <string>{-74,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,218}}</string>
        <key>sourceSize</key>
        <string>{282,218}</string>
      </dict>
      <key>monster_30033_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,0},{256,245}}</string>
        <key>offset</key>
        <string>{-59,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,245}}</string>
        <key>sourceSize</key>
        <string>{256,245}</string>
      </dict>
      <key>monster_30033_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,521},{250,191}}</string>
        <key>offset</key>
        <string>{-47,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,191}}</string>
        <key>sourceSize</key>
        <string>{250,191}</string>
      </dict>
      <key>monster_30033_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,1123},{180,153}}</string>
        <key>offset</key>
        <string>{-58,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,153}}</string>
        <key>sourceSize</key>
        <string>{180,153}</string>
      </dict>
      <key>monster_30033_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,1189},{180,142}}</string>
        <key>offset</key>
        <string>{-58,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,142}}</string>
        <key>sourceSize</key>
        <string>{180,142}</string>
      </dict>
      <key>monster_30033_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1188},{176,146}}</string>
        <key>offset</key>
        <string>{-57,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,146}}</string>
        <key>sourceSize</key>
        <string>{176,146}</string>
      </dict>
      <key>monster_30033_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,1109},{255,168}}</string>
        <key>offset</key>
        <string>{-63,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,168}}</string>
        <key>sourceSize</key>
        <string>{255,168}</string>
      </dict>
      <key>monster_30033_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,264},{261,191}}</string>
        <key>offset</key>
        <string>{-68,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,191}}</string>
        <key>sourceSize</key>
        <string>{261,191}</string>
      </dict>
      <key>monster_30033_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,261},{258,206}}</string>
        <key>offset</key>
        <string>{-56,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,206}}</string>
        <key>sourceSize</key>
        <string>{258,206}</string>
      </dict>
      <key>monster_30033_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,1045},{252,227}}</string>
        <key>offset</key>
        <string>{-45,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,227}}</string>
        <key>sourceSize</key>
        <string>{252,227}</string>
      </dict>
      <key>monster_30033_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,0},{259,223}}</string>
        <key>offset</key>
        <string>{-54,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,223}}</string>
        <key>sourceSize</key>
        <string>{259,223}</string>
      </dict>
      <key>monster_30033_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,613},{294,235}}</string>
        <key>offset</key>
        <string>{-84,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,235}}</string>
        <key>sourceSize</key>
        <string>{294,235}</string>
      </dict>
      <key>monster_30033_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,265},{245,196}}</string>
        <key>offset</key>
        <string>{-94,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,196}}</string>
        <key>sourceSize</key>
        <string>{245,196}</string>
      </dict>
      <key>monster_30033_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,788},{255,126}}</string>
        <key>offset</key>
        <string>{-158,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,126}}</string>
        <key>sourceSize</key>
        <string>{255,126}</string>
      </dict>
      <key>monster_30033_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,132},{253,131}}</string>
        <key>offset</key>
        <string>{-159,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,131}}</string>
        <key>sourceSize</key>
        <string>{253,131}</string>
      </dict>
      <key>monster_30033_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,0},{255,130}}</string>
        <key>offset</key>
        <string>{-159,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,130}}</string>
        <key>sourceSize</key>
        <string>{255,130}</string>
      </dict>
      <key>monster_30033_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,848},{259,168}}</string>
        <key>offset</key>
        <string>{-81,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,168}}</string>
        <key>sourceSize</key>
        <string>{259,168}</string>
      </dict>
      <key>monster_30033_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,281},{263,179}}</string>
        <key>offset</key>
        <string>{-56,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,179}}</string>
        <key>sourceSize</key>
        <string>{263,179}</string>
      </dict>
      <key>monster_30033_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,788},{252,210}}</string>
        <key>offset</key>
        <string>{-49,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,210}}</string>
        <key>sourceSize</key>
        <string>{252,210}</string>
      </dict>
      <key>monster_30033_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,582},{264,219}}</string>
        <key>offset</key>
        <string>{-77,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,219}}</string>
        <key>sourceSize</key>
        <string>{264,219}</string>
      </dict>
      <key>monster_30033_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,527},{259,209}}</string>
        <key>offset</key>
        <string>{-80,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,209}}</string>
        <key>sourceSize</key>
        <string>{259,209}</string>
      </dict>
      <key>monster_30033_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{311,201}}</string>
        <key>offset</key>
        <string>{-104,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,201}}</string>
        <key>sourceSize</key>
        <string>{311,201}</string>
      </dict>
      <key>monster_30033_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1335,500},{224,198}}</string>
        <key>offset</key>
        <string>{-121,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,198}}</string>
        <key>sourceSize</key>
        <string>{224,198}</string>
      </dict>
      <key>monster_30033_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,773},{244,117}}</string>
        <key>offset</key>
        <string>{-161,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,117}}</string>
        <key>sourceSize</key>
        <string>{244,117}</string>
      </dict>
      <key>monster_30033_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,521},{251,114}}</string>
        <key>offset</key>
        <string>{-170,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,114}}</string>
        <key>sourceSize</key>
        <string>{251,114}</string>
      </dict>
      <key>monster_30033_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,265},{248,115}}</string>
        <key>offset</key>
        <string>{-164,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,115}}</string>
        <key>sourceSize</key>
        <string>{248,115}</string>
      </dict>
      <key>monster_30033_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,512},{237,147}}</string>
        <key>offset</key>
        <string>{-59,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,147}}</string>
        <key>sourceSize</key>
        <string>{237,147}</string>
      </dict>
      <key>monster_30033_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,909},{272,174}}</string>
        <key>offset</key>
        <string>{-70,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,174}}</string>
        <key>sourceSize</key>
        <string>{272,174}</string>
      </dict>
      <key>monster_30033_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,909},{277,191}}</string>
        <key>offset</key>
        <string>{-71,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,191}}</string>
        <key>sourceSize</key>
        <string>{277,191}</string>
      </dict>
      <key>monster_30033_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,582},{270,196}}</string>
        <key>offset</key>
        <string>{-62,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,196}}</string>
        <key>sourceSize</key>
        <string>{270,196}</string>
      </dict>
      <key>monster_30033_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{262,179}}</string>
        <key>offset</key>
        <string>{-53,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,179}}</string>
        <key>sourceSize</key>
        <string>{262,179}</string>
      </dict>
      <key>monster_30033_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{279,177}}</string>
        <key>offset</key>
        <string>{-67,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,177}}</string>
        <key>sourceSize</key>
        <string>{279,177}</string>
      </dict>
      <key>monster_30033_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,978},{209,218}}</string>
        <key>offset</key>
        <string>{-75,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,218}}</string>
        <key>sourceSize</key>
        <string>{209,218}</string>
      </dict>
      <key>monster_30033_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1194,751},{225,145}}</string>
        <key>offset</key>
        <string>{-126,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,145}}</string>
        <key>sourceSize</key>
        <string>{225,145}</string>
      </dict>
      <key>monster_30033_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,1019},{230,165}}</string>
        <key>offset</key>
        <string>{-134,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,165}}</string>
        <key>sourceSize</key>
        <string>{230,165}</string>
      </dict>
      <key>monster_30033_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,726},{224,152}}</string>
        <key>offset</key>
        <string>{-130,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,152}}</string>
        <key>sourceSize</key>
        <string>{224,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30033_0_4_1.png</string>
      <key>size</key>
      <string>{1537,1351}</string>
      <key>textureFileName</key>
      <string>monster_30033_0_4_1.png</string>
    </dict>
  </dict>
</plist>