<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30003_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,460},{456,292}}</string>
        <key>offset</key>
        <string>{-189,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,292}}</string>
        <key>sourceSize</key>
        <string>{456,292}</string>
      </dict>
      <key>monster_30003_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{432,284}}</string>
        <key>offset</key>
        <string>{-189,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,284}}</string>
        <key>sourceSize</key>
        <string>{432,284}</string>
      </dict>
      <key>monster_30003_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,429},{395,286}}</string>
        <key>offset</key>
        <string>{-168,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,286}}</string>
        <key>sourceSize</key>
        <string>{395,286}</string>
      </dict>
      <key>monster_30003_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,899},{414,309}}</string>
        <key>offset</key>
        <string>{-161,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,309}}</string>
        <key>sourceSize</key>
        <string>{414,309}</string>
      </dict>
      <key>monster_30003_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,0},{427,310}}</string>
        <key>offset</key>
        <string>{-153,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,310}}</string>
        <key>sourceSize</key>
        <string>{427,310}</string>
      </dict>
      <key>monster_30003_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,918},{451,301}}</string>
        <key>offset</key>
        <string>{-158,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,301}}</string>
        <key>sourceSize</key>
        <string>{451,301}</string>
      </dict>
      <key>monster_30003_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{458,295}}</string>
        <key>offset</key>
        <string>{-158,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{458,295}}</string>
        <key>sourceSize</key>
        <string>{458,295}</string>
      </dict>
      <key>monster_30003_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,460},{437,289}}</string>
        <key>offset</key>
        <string>{-147,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,289}}</string>
        <key>sourceSize</key>
        <string>{437,289}</string>
      </dict>
      <key>monster_30003_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,899},{419,274}}</string>
        <key>offset</key>
        <string>{-148,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,274}}</string>
        <key>sourceSize</key>
        <string>{419,274}</string>
      </dict>
      <key>monster_30003_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,809},{367,371}}</string>
        <key>offset</key>
        <string>{-195,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,371}}</string>
        <key>sourceSize</key>
        <string>{367,371}</string>
      </dict>
      <key>monster_30003_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1257,1178},{278,358}}</string>
        <key>offset</key>
        <string>{-149,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,358}}</string>
        <key>sourceSize</key>
        <string>{278,358}</string>
      </dict>
      <key>monster_30003_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,1320},{231,333}}</string>
        <key>offset</key>
        <string>{-110,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,333}}</string>
        <key>sourceSize</key>
        <string>{231,333}</string>
      </dict>
      <key>monster_30003_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,0},{309,314}}</string>
        <key>offset</key>
        <string>{-124,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,314}}</string>
        <key>sourceSize</key>
        <string>{309,314}</string>
      </dict>
      <key>monster_30003_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,375},{341,313}}</string>
        <key>offset</key>
        <string>{-132,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,313}}</string>
        <key>sourceSize</key>
        <string>{341,313}</string>
      </dict>
      <key>monster_30003_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1371},{360,318}}</string>
        <key>offset</key>
        <string>{-149,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,318}}</string>
        <key>sourceSize</key>
        <string>{360,318}</string>
      </dict>
      <key>monster_30003_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,1178},{365,333}}</string>
        <key>offset</key>
        <string>{-174,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,333}}</string>
        <key>sourceSize</key>
        <string>{365,333}</string>
      </dict>
      <key>monster_30003_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,429},{378,345}}</string>
        <key>offset</key>
        <string>{-191,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,345}}</string>
        <key>sourceSize</key>
        <string>{378,345}</string>
      </dict>
      <key>monster_30003_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,0},{373,352}}</string>
        <key>offset</key>
        <string>{-201,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,352}}</string>
        <key>sourceSize</key>
        <string>{373,352}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30003_0_2_0.png</string>
      <key>size</key>
      <string>{1691,1696}</string>
      <key>textureFileName</key>
      <string>monster_30003_0_2_0.png</string>
    </dict>
  </dict>
</plist>