<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30050_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,924},{326,216}}</string>
        <key>offset</key>
        <string>{-104,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,216}}</string>
        <key>sourceSize</key>
        <string>{326,216}</string>
      </dict>
      <key>monster_30050_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1085},{325,214}}</string>
        <key>offset</key>
        <string>{-103,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,214}}</string>
        <key>sourceSize</key>
        <string>{325,214}</string>
      </dict>
      <key>monster_30050_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,924},{326,213}}</string>
        <key>offset</key>
        <string>{-101,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,213}}</string>
        <key>sourceSize</key>
        <string>{326,213}</string>
      </dict>
      <key>monster_30050_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,707},{330,218}}</string>
        <key>offset</key>
        <string>{-101,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,218}}</string>
        <key>sourceSize</key>
        <string>{330,218}</string>
      </dict>
      <key>monster_30050_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,702},{335,220}}</string>
        <key>offset</key>
        <string>{-101,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,220}}</string>
        <key>sourceSize</key>
        <string>{335,220}</string>
      </dict>
      <key>monster_30050_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,250},{338,222}}</string>
        <key>offset</key>
        <string>{-101,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,222}}</string>
        <key>sourceSize</key>
        <string>{338,222}</string>
      </dict>
      <key>monster_30050_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,474},{336,226}}</string>
        <key>offset</key>
        <string>{-101,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,226}}</string>
        <key>sourceSize</key>
        <string>{336,226}</string>
      </dict>
      <key>monster_30050_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,1039},{329,222}}</string>
        <key>offset</key>
        <string>{-102,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,222}}</string>
        <key>sourceSize</key>
        <string>{329,222}</string>
      </dict>
      <key>monster_30050_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,1263},{325,219}}</string>
        <key>offset</key>
        <string>{-103,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,219}}</string>
        <key>sourceSize</key>
        <string>{325,219}</string>
      </dict>
      <key>monster_30050_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,0},{341,248}}</string>
        <key>offset</key>
        <string>{-127,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,248}}</string>
        <key>sourceSize</key>
        <string>{341,248}</string>
      </dict>
      <key>monster_30050_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,361},{344,246}}</string>
        <key>offset</key>
        <string>{-128,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,246}}</string>
        <key>sourceSize</key>
        <string>{344,246}</string>
      </dict>
      <key>monster_30050_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,361},{353,245}}</string>
        <key>offset</key>
        <string>{-129,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,245}}</string>
        <key>sourceSize</key>
        <string>{353,245}</string>
      </dict>
      <key>monster_30050_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{362,247}}</string>
        <key>offset</key>
        <string>{-128,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,247}}</string>
        <key>sourceSize</key>
        <string>{362,247}</string>
      </dict>
      <key>monster_30050_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{362,250}}</string>
        <key>offset</key>
        <string>{-127,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,250}}</string>
        <key>sourceSize</key>
        <string>{362,250}</string>
      </dict>
      <key>monster_30050_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{359,252}}</string>
        <key>offset</key>
        <string>{-127,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,252}}</string>
        <key>sourceSize</key>
        <string>{359,252}</string>
      </dict>
      <key>monster_30050_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,728},{355,254}}</string>
        <key>offset</key>
        <string>{-127,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,254}}</string>
        <key>sourceSize</key>
        <string>{355,254}</string>
      </dict>
      <key>monster_30050_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,716},{348,252}}</string>
        <key>offset</key>
        <string>{-127,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,252}}</string>
        <key>sourceSize</key>
        <string>{348,252}</string>
      </dict>
      <key>monster_30050_0_0_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{344,250}}</string>
        <key>offset</key>
        <string>{-127,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,250}}</string>
        <key>sourceSize</key>
        <string>{344,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30050_0_0_0.png</string>
      <key>size</key>
      <string>{1282,1495}</string>
      <key>textureFileName</key>
      <string>monster_30050_0_0_0.png</string>
    </dict>
  </dict>
</plist>