<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30071_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,222},{216,209}}</string>
        <key>offset</key>
        <string>{-74,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,209}}</string>
        <key>sourceSize</key>
        <string>{216,209}</string>
      </dict>
      <key>monster_30071_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{198,210}}</string>
        <key>offset</key>
        <string>{-55,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,210}}</string>
        <key>sourceSize</key>
        <string>{198,210}</string>
      </dict>
      <key>monster_30071_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{200,218}}</string>
        <key>offset</key>
        <string>{-55,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,218}}</string>
        <key>sourceSize</key>
        <string>{200,218}</string>
      </dict>
      <key>monster_30071_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,222},{212,214}}</string>
        <key>offset</key>
        <string>{-68,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,214}}</string>
        <key>sourceSize</key>
        <string>{212,214}</string>
      </dict>
      <key>monster_30071_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,212}}</string>
        <key>offset</key>
        <string>{-78,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,212}}</string>
        <key>sourceSize</key>
        <string>{221,212}</string>
      </dict>
      <key>monster_30071_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{220,215}}</string>
        <key>offset</key>
        <string>{-80,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,215}}</string>
        <key>sourceSize</key>
        <string>{220,215}</string>
      </dict>
      <key>monster_30071_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{220,216}}</string>
        <key>offset</key>
        <string>{-80,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,216}}</string>
        <key>sourceSize</key>
        <string>{220,216}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30071_0_0_2.png</string>
      <key>size</key>
      <string>{845,514}</string>
      <key>textureFileName</key>
      <string>monster_30071_0_0_2.png</string>
    </dict>
  </dict>
</plist>