<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30076_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1248},{382,354}}</string>
        <key>offset</key>
        <string>{-267,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,354}}</string>
        <key>sourceSize</key>
        <string>{382,354}</string>
      </dict>
      <key>monster_30076_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,828},{389,369}}</string>
        <key>offset</key>
        <string>{-283,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,369}}</string>
        <key>sourceSize</key>
        <string>{389,369}</string>
      </dict>
      <key>monster_30076_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,848},{404,373}}</string>
        <key>offset</key>
        <string>{-290,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,373}}</string>
        <key>sourceSize</key>
        <string>{404,373}</string>
      </dict>
      <key>monster_30076_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,487},{435,378}}</string>
        <key>offset</key>
        <string>{-306,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,378}}</string>
        <key>sourceSize</key>
        <string>{435,378}</string>
      </dict>
      <key>monster_30076_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,424},{402,327}}</string>
        <key>offset</key>
        <string>{-244,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,327}}</string>
        <key>sourceSize</key>
        <string>{402,327}</string>
      </dict>
      <key>monster_30076_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{485,350}}</string>
        <key>offset</key>
        <string>{-212,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{485,350}}</string>
        <key>sourceSize</key>
        <string>{485,350}</string>
      </dict>
      <key>monster_30076_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,924},{422,322}}</string>
        <key>offset</key>
        <string>{-164,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,322}}</string>
        <key>sourceSize</key>
        <string>{422,322}</string>
      </dict>
      <key>monster_30076_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{422,322}}</string>
        <key>offset</key>
        <string>{-164,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,322}}</string>
        <key>sourceSize</key>
        <string>{422,322}</string>
      </dict>
      <key>monster_30076_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,424},{422,322}}</string>
        <key>offset</key>
        <string>{-164,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,322}}</string>
        <key>sourceSize</key>
        <string>{422,322}</string>
      </dict>
      <key>monster_30076_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,0},{422,322}}</string>
        <key>offset</key>
        <string>{-164,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,322}}</string>
        <key>sourceSize</key>
        <string>{422,322}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30076_0_4_3.png</string>
      <key>size</key>
      <string>{1282,1634}</string>
      <key>textureFileName</key>
      <string>monster_30076_0_4_3.png</string>
    </dict>
  </dict>
</plist>