<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30082_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,306},{230,294}}</string>
        <key>offset</key>
        <string>{-100,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,294}}</string>
        <key>sourceSize</key>
        <string>{230,294}</string>
      </dict>
      <key>monster_30082_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,298},{200,285}}</string>
        <key>offset</key>
        <string>{-92,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,285}}</string>
        <key>sourceSize</key>
        <string>{200,285}</string>
      </dict>
      <key>monster_30082_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,665},{196,320}}</string>
        <key>offset</key>
        <string>{-47,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,320}}</string>
        <key>sourceSize</key>
        <string>{196,320}</string>
      </dict>
      <key>monster_30082_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{321,162}}</string>
        <key>offset</key>
        <string>{-67,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,162}}</string>
        <key>sourceSize</key>
        <string>{321,162}</string>
      </dict>
      <key>monster_30082_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,298},{287,210}}</string>
        <key>offset</key>
        <string>{-47,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,210}}</string>
        <key>sourceSize</key>
        <string>{287,210}</string>
      </dict>
      <key>monster_30082_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,323},{320,163}}</string>
        <key>offset</key>
        <string>{-82,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,163}}</string>
        <key>sourceSize</key>
        <string>{320,163}</string>
      </dict>
      <key>monster_30082_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,602},{294,292}}</string>
        <key>offset</key>
        <string>{-103,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,292}}</string>
        <key>sourceSize</key>
        <string>{294,292}</string>
      </dict>
      <key>monster_30082_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{251,304}}</string>
        <key>offset</key>
        <string>{-91,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,304}}</string>
        <key>sourceSize</key>
        <string>{251,304}</string>
      </dict>
      <key>monster_30082_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,0},{296,299}}</string>
        <key>offset</key>
        <string>{-77,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,299}}</string>
        <key>sourceSize</key>
        <string>{296,299}</string>
      </dict>
      <key>monster_30082_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,645},{296,179}}</string>
        <key>offset</key>
        <string>{-57,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,179}}</string>
        <key>sourceSize</key>
        <string>{296,179}</string>
      </dict>
      <key>monster_30082_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{324,244}}</string>
        <key>offset</key>
        <string>{-82,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,244}}</string>
        <key>sourceSize</key>
        <string>{324,244}</string>
      </dict>
      <key>monster_30082_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{337,215}}</string>
        <key>offset</key>
        <string>{-97,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,215}}</string>
        <key>sourceSize</key>
        <string>{337,215}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30082_0_4_1.png</string>
      <key>size</key>
      <string>{1124,897}</string>
      <key>textureFileName</key>
      <string>monster_30082_0_4_1.png</string>
    </dict>
  </dict>
</plist>