<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30060_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{347,196}}</string>
        <key>offset</key>
        <string>{-206,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,196}}</string>
        <key>sourceSize</key>
        <string>{347,196}</string>
      </dict>
      <key>monster_30060_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,357},{353,191}}</string>
        <key>offset</key>
        <string>{-209,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,191}}</string>
        <key>sourceSize</key>
        <string>{353,191}</string>
      </dict>
      <key>monster_30060_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{355,188}}</string>
        <key>offset</key>
        <string>{-209,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,188}}</string>
        <key>sourceSize</key>
        <string>{355,188}</string>
      </dict>
      <key>monster_30060_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{353,191}}</string>
        <key>offset</key>
        <string>{-209,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,191}}</string>
        <key>sourceSize</key>
        <string>{353,191}</string>
      </dict>
      <key>monster_30060_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,754},{335,209}}</string>
        <key>offset</key>
        <string>{-185,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,209}}</string>
        <key>sourceSize</key>
        <string>{335,209}</string>
      </dict>
      <key>monster_30060_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,198},{337,215}}</string>
        <key>offset</key>
        <string>{-183,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,215}}</string>
        <key>sourceSize</key>
        <string>{337,215}</string>
      </dict>
      <key>monster_30060_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,415},{336,220}}</string>
        <key>offset</key>
        <string>{-179,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,220}}</string>
        <key>sourceSize</key>
        <string>{336,220}</string>
      </dict>
      <key>monster_30060_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,415},{337,217}}</string>
        <key>offset</key>
        <string>{-184,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,217}}</string>
        <key>sourceSize</key>
        <string>{337,217}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30060_0_0_2.png</string>
      <key>size</key>
      <string>{770,976}</string>
      <key>textureFileName</key>
      <string>monster_30060_0_0_2.png</string>
    </dict>
  </dict>
</plist>