<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,450},{341,437}}</string>
        <key>offset</key>
        <string>{-115,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,437}}</string>
        <key>sourceSize</key>
        <string>{341,437}</string>
      </dict>
      <key>monster_40006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,0},{448,387}}</string>
        <key>offset</key>
        <string>{-151,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,387}}</string>
        <key>sourceSize</key>
        <string>{448,387}</string>
      </dict>
      <key>monster_40006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{478,351}}</string>
        <key>offset</key>
        <string>{-162,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,351}}</string>
        <key>sourceSize</key>
        <string>{478,351}</string>
      </dict>
      <key>monster_40006_0_7_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1418,0},{417,394}}</string>
        <key>offset</key>
        <string>{-122,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,394}}</string>
        <key>sourceSize</key>
        <string>{417,394}</string>
      </dict>
      <key>monster_40006_0_7_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1356,437},{380,421}}</string>
        <key>offset</key>
        <string>{-111,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,421}}</string>
        <key>sourceSize</key>
        <string>{380,421}</string>
      </dict>
      <key>monster_40006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,0},{435,357}}</string>
        <key>offset</key>
        <string>{-90,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,357}}</string>
        <key>sourceSize</key>
        <string>{435,357}</string>
      </dict>
      <key>monster_40006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,480},{467,354}}</string>
        <key>offset</key>
        <string>{-96,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{467,354}}</string>
        <key>sourceSize</key>
        <string>{467,354}</string>
      </dict>
      <key>monster_40006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{468,311}}</string>
        <key>offset</key>
        <string>{-106,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,311}}</string>
        <key>sourceSize</key>
        <string>{468,311}</string>
      </dict>
      <key>monster_40006_0_7_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{463,315}}</string>
        <key>offset</key>
        <string>{-93,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,315}}</string>
        <key>sourceSize</key>
        <string>{463,315}</string>
      </dict>
      <key>monster_40006_0_7_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,465},{461,342}}</string>
        <key>offset</key>
        <string>{-96,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,342}}</string>
        <key>sourceSize</key>
        <string>{461,342}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40006_0_7_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40006_0_7_1.png</string>
    </dict>
  </dict>
</plist>