<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30061_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,336},{338,446}}</string>
        <key>offset</key>
        <string>{-130,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,446}}</string>
        <key>sourceSize</key>
        <string>{338,446}</string>
      </dict>
      <key>monster_30061_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{340,447}}</string>
        <key>offset</key>
        <string>{-125,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,447}}</string>
        <key>sourceSize</key>
        <string>{340,447}</string>
      </dict>
      <key>monster_30061_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{334,447}}</string>
        <key>offset</key>
        <string>{-119,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,447}}</string>
        <key>sourceSize</key>
        <string>{334,447}</string>
      </dict>
      <key>monster_30061_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{338,446}}</string>
        <key>offset</key>
        <string>{-130,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,446}}</string>
        <key>sourceSize</key>
        <string>{338,446}</string>
      </dict>
      <key>monster_30061_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,676},{396,446}}</string>
        <key>offset</key>
        <string>{-142,323}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,446}}</string>
        <key>sourceSize</key>
        <string>{396,446}</string>
      </dict>
      <key>monster_30061_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,682},{395,446}}</string>
        <key>offset</key>
        <string>{-137,324}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,446}}</string>
        <key>sourceSize</key>
        <string>{395,446}</string>
      </dict>
      <key>monster_30061_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,398},{387,445}}</string>
        <key>offset</key>
        <string>{-133,324}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,445}}</string>
        <key>sourceSize</key>
        <string>{387,445}</string>
      </dict>
      <key>monster_30061_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{396,446}}</string>
        <key>offset</key>
        <string>{-142,323}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,446}}</string>
        <key>sourceSize</key>
        <string>{396,446}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30061_0_0_0.png</string>
      <key>size</key>
      <string>{1420,1282}</string>
      <key>textureFileName</key>
      <string>monster_30061_0_0_0.png</string>
    </dict>
  </dict>
</plist>