<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30064_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{254,168}}</string>
        <key>offset</key>
        <string>{-38,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,168}}</string>
        <key>sourceSize</key>
        <string>{254,168}</string>
      </dict>
      <key>monster_30064_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{258,171}}</string>
        <key>offset</key>
        <string>{-40,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,171}}</string>
        <key>sourceSize</key>
        <string>{258,171}</string>
      </dict>
      <key>monster_30064_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,260},{252,174}}</string>
        <key>offset</key>
        <string>{-35,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,174}}</string>
        <key>sourceSize</key>
        <string>{252,174}</string>
      </dict>
      <key>monster_30064_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,772},{246,171}}</string>
        <key>offset</key>
        <string>{-32,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,171}}</string>
        <key>sourceSize</key>
        <string>{246,171}</string>
      </dict>
      <key>monster_30064_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{250,173}}</string>
        <key>offset</key>
        <string>{-34,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,173}}</string>
        <key>sourceSize</key>
        <string>{250,173}</string>
      </dict>
      <key>monster_30064_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{254,175}}</string>
        <key>offset</key>
        <string>{-36,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,175}}</string>
        <key>sourceSize</key>
        <string>{254,175}</string>
      </dict>
      <key>monster_30064_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,514},{238,179}}</string>
        <key>offset</key>
        <string>{-35,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,179}}</string>
        <key>sourceSize</key>
        <string>{238,179}</string>
      </dict>
      <key>monster_30064_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,754},{236,182}}</string>
        <key>offset</key>
        <string>{-39,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,182}}</string>
        <key>sourceSize</key>
        <string>{236,182}</string>
      </dict>
      <key>monster_30064_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,474},{230,183}}</string>
        <key>offset</key>
        <string>{-41,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,183}}</string>
        <key>sourceSize</key>
        <string>{230,183}</string>
      </dict>
      <key>monster_30064_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,0},{226,182}}</string>
        <key>offset</key>
        <string>{-44,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,182}}</string>
        <key>sourceSize</key>
        <string>{226,182}</string>
      </dict>
      <key>monster_30064_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,240},{232,183}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,183}}</string>
        <key>sourceSize</key>
        <string>{232,183}</string>
      </dict>
      <key>monster_30064_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{238,183}}</string>
        <key>offset</key>
        <string>{-41,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,183}}</string>
        <key>sourceSize</key>
        <string>{238,183}</string>
      </dict>
      <key>monster_30064_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1352,826},{174,193}}</string>
        <key>offset</key>
        <string>{-41,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,193}}</string>
        <key>sourceSize</key>
        <string>{174,193}</string>
      </dict>
      <key>monster_30064_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,848},{164,196}}</string>
        <key>offset</key>
        <string>{-44,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,196}}</string>
        <key>sourceSize</key>
        <string>{164,196}</string>
      </dict>
      <key>monster_30064_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,408},{160,192}}</string>
        <key>offset</key>
        <string>{-47,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,192}}</string>
        <key>sourceSize</key>
        <string>{160,192}</string>
      </dict>
      <key>monster_30064_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1520,602},{156,190}}</string>
        <key>offset</key>
        <string>{-48,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,190}}</string>
        <key>sourceSize</key>
        <string>{156,190}</string>
      </dict>
      <key>monster_30064_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,408},{160,190}}</string>
        <key>offset</key>
        <string>{-49,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,190}}</string>
        <key>sourceSize</key>
        <string>{160,190}</string>
      </dict>
      <key>monster_30064_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,630},{168,194}}</string>
        <key>offset</key>
        <string>{-47,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,194}}</string>
        <key>sourceSize</key>
        <string>{168,194}</string>
      </dict>
      <key>monster_30064_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1528,794},{168,173}}</string>
        <key>offset</key>
        <string>{-53,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,173}}</string>
        <key>sourceSize</key>
        <string>{168,173}</string>
      </dict>
      <key>monster_30064_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1825,167},{180,171}}</string>
        <key>offset</key>
        <string>{-66,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,171}}</string>
        <key>sourceSize</key>
        <string>{180,171}</string>
      </dict>
      <key>monster_30064_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1654,202},{190,163}}</string>
        <key>offset</key>
        <string>{-74,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,163}}</string>
        <key>sourceSize</key>
        <string>{190,163}</string>
      </dict>
      <key>monster_30064_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1662,0},{190,161}}</string>
        <key>offset</key>
        <string>{-77,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,161}}</string>
        <key>sourceSize</key>
        <string>{190,161}</string>
      </dict>
      <key>monster_30064_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1825,0},{186,165}}</string>
        <key>offset</key>
        <string>{-72,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,165}}</string>
        <key>sourceSize</key>
        <string>{186,165}</string>
      </dict>
      <key>monster_30064_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1819,340},{180,170}}</string>
        <key>offset</key>
        <string>{-63,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,170}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>monster_30064_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,234},{230,129}}</string>
        <key>offset</key>
        <string>{-116,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,129}}</string>
        <key>sourceSize</key>
        <string>{230,129}</string>
      </dict>
      <key>monster_30064_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{232,125}}</string>
        <key>offset</key>
        <string>{-119,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,125}}</string>
        <key>sourceSize</key>
        <string>{232,125}</string>
      </dict>
      <key>monster_30064_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{232,131}}</string>
        <key>offset</key>
        <string>{-116,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,131}}</string>
        <key>sourceSize</key>
        <string>{232,131}</string>
      </dict>
      <key>monster_30064_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,232},{228,135}}</string>
        <key>offset</key>
        <string>{-113,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,135}}</string>
        <key>sourceSize</key>
        <string>{228,135}</string>
      </dict>
      <key>monster_30064_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,0},{230,131}}</string>
        <key>offset</key>
        <string>{-115,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,131}}</string>
        <key>sourceSize</key>
        <string>{230,131}</string>
      </dict>
      <key>monster_30064_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,474},{232,127}}</string>
        <key>offset</key>
        <string>{-116,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,127}}</string>
        <key>sourceSize</key>
        <string>{232,127}</string>
      </dict>
      <key>monster_30064_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{204,182}}</string>
        <key>offset</key>
        <string>{-106,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,182}}</string>
        <key>sourceSize</key>
        <string>{204,182}</string>
      </dict>
      <key>monster_30064_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1463,206},{200,189}}</string>
        <key>offset</key>
        <string>{-101,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,189}}</string>
        <key>sourceSize</key>
        <string>{200,189}</string>
      </dict>
      <key>monster_30064_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1464,0},{196,200}}</string>
        <key>offset</key>
        <string>{-92,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,200}}</string>
        <key>sourceSize</key>
        <string>{196,200}</string>
      </dict>
      <key>monster_30064_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1267,220},{194,205}}</string>
        <key>offset</key>
        <string>{-88,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,205}}</string>
        <key>sourceSize</key>
        <string>{194,205}</string>
      </dict>
      <key>monster_30064_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,427},{196,201}}</string>
        <key>offset</key>
        <string>{-92,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,201}}</string>
        <key>sourceSize</key>
        <string>{196,201}</string>
      </dict>
      <key>monster_30064_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,644},{202,194}}</string>
        <key>offset</key>
        <string>{-100,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,194}}</string>
        <key>sourceSize</key>
        <string>{202,194}</string>
      </dict>
      <key>monster_30064_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,706},{140,224}}</string>
        <key>offset</key>
        <string>{-39,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,224}}</string>
        <key>sourceSize</key>
        <string>{140,224}</string>
      </dict>
      <key>monster_30064_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,0},{134,222}}</string>
        <key>offset</key>
        <string>{-28,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,222}}</string>
        <key>sourceSize</key>
        <string>{134,222}</string>
      </dict>
      <key>monster_30064_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,688},{130,222}}</string>
        <key>offset</key>
        <string>{-22,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,222}}</string>
        <key>sourceSize</key>
        <string>{130,222}</string>
      </dict>
      <key>monster_30064_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,224},{134,221}}</string>
        <key>offset</key>
        <string>{-25,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,221}}</string>
        <key>sourceSize</key>
        <string>{134,221}</string>
      </dict>
      <key>monster_30064_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,228},{136,223}}</string>
        <key>offset</key>
        <string>{-23,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,223}}</string>
        <key>sourceSize</key>
        <string>{136,223}</string>
      </dict>
      <key>monster_30064_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,706},{138,225}}</string>
        <key>offset</key>
        <string>{-28,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,225}}</string>
        <key>sourceSize</key>
        <string>{138,225}</string>
      </dict>
      <key>monster_30064_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,220},{192,212}}</string>
        <key>offset</key>
        <string>{-39,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,212}}</string>
        <key>sourceSize</key>
        <string>{192,212}</string>
      </dict>
      <key>monster_30064_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,434},{208,207}}</string>
        <key>offset</key>
        <string>{-43,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,207}}</string>
        <key>sourceSize</key>
        <string>{208,207}</string>
      </dict>
      <key>monster_30064_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,453},{222,204}}</string>
        <key>offset</key>
        <string>{-46,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,204}}</string>
        <key>sourceSize</key>
        <string>{222,204}</string>
      </dict>
      <key>monster_30064_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,462},{224,203}}</string>
        <key>offset</key>
        <string>{-46,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,203}}</string>
        <key>sourceSize</key>
        <string>{224,203}</string>
      </dict>
      <key>monster_30064_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,0},{218,207}}</string>
        <key>offset</key>
        <string>{-45,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,207}}</string>
        <key>sourceSize</key>
        <string>{218,207}</string>
      </dict>
      <key>monster_30064_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,677},{206,212}}</string>
        <key>offset</key>
        <string>{-42,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,212}}</string>
        <key>sourceSize</key>
        <string>{206,212}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30064_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_30064_0_1.png</string>
    </dict>
  </dict>
</plist>