<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,813},{382,170}}</string>
        <key>offset</key>
        <string>{-168,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,170}}</string>
        <key>sourceSize</key>
        <string>{382,170}</string>
      </dict>
      <key>monster_40004_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{406,163}}</string>
        <key>offset</key>
        <string>{-187,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,163}}</string>
        <key>sourceSize</key>
        <string>{406,163}</string>
      </dict>
      <key>monster_40004_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{403,194}}</string>
        <key>offset</key>
        <string>{-204,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,194}}</string>
        <key>sourceSize</key>
        <string>{403,194}</string>
      </dict>
      <key>monster_40004_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,402},{364,169}}</string>
        <key>offset</key>
        <string>{-154,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,169}}</string>
        <key>sourceSize</key>
        <string>{364,169}</string>
      </dict>
      <key>monster_40004_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{357,186}}</string>
        <key>offset</key>
        <string>{-130,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,186}}</string>
        <key>sourceSize</key>
        <string>{357,186}</string>
      </dict>
      <key>monster_40004_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,711},{309,251}}</string>
        <key>offset</key>
        <string>{-102,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,251}}</string>
        <key>sourceSize</key>
        <string>{309,251}</string>
      </dict>
      <key>monster_40004_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,0},{330,223}}</string>
        <key>offset</key>
        <string>{-118,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,223}}</string>
        <key>sourceSize</key>
        <string>{330,223}</string>
      </dict>
      <key>monster_40004_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,359},{350,170}}</string>
        <key>offset</key>
        <string>{-143,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,170}}</string>
        <key>sourceSize</key>
        <string>{350,170}</string>
      </dict>
      <key>monster_40004_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{400,172}}</string>
        <key>offset</key>
        <string>{-168,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,172}}</string>
        <key>sourceSize</key>
        <string>{400,172}</string>
      </dict>
      <key>monster_40004_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,0},{278,247}}</string>
        <key>offset</key>
        <string>{-102,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,247}}</string>
        <key>sourceSize</key>
        <string>{278,247}</string>
      </dict>
      <key>monster_40004_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,280},{265,234}}</string>
        <key>offset</key>
        <string>{-98,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,234}}</string>
        <key>sourceSize</key>
        <string>{265,234}</string>
      </dict>
      <key>monster_40004_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,292},{271,280}}</string>
        <key>offset</key>
        <string>{-95,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,280}}</string>
        <key>sourceSize</key>
        <string>{271,280}</string>
      </dict>
      <key>monster_40004_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1133,547},{244,256}}</string>
        <key>offset</key>
        <string>{-59,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,256}}</string>
        <key>sourceSize</key>
        <string>{244,256}</string>
      </dict>
      <key>monster_40004_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,0},{241,258}}</string>
        <key>offset</key>
        <string>{-44,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,258}}</string>
        <key>sourceSize</key>
        <string>{241,258}</string>
      </dict>
      <key>monster_40004_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,332},{232,302}}</string>
        <key>offset</key>
        <string>{-54,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,302}}</string>
        <key>sourceSize</key>
        <string>{232,302}</string>
      </dict>
      <key>monster_40004_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,574},{270,255}}</string>
        <key>offset</key>
        <string>{-87,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,255}}</string>
        <key>sourceSize</key>
        <string>{270,255}</string>
      </dict>
      <key>monster_40004_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{290,241}}</string>
        <key>offset</key>
        <string>{-112,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,241}}</string>
        <key>sourceSize</key>
        <string>{290,241}</string>
      </dict>
      <key>monster_40004_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,636},{289,237}}</string>
        <key>offset</key>
        <string>{-114,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,237}}</string>
        <key>sourceSize</key>
        <string>{289,237}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_2_1.png</string>
    </dict>
  </dict>
</plist>