<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30032_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,466},{148,149}}</string>
        <key>offset</key>
        <string>{-42,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,149}}</string>
        <key>sourceSize</key>
        <string>{148,149}</string>
      </dict>
      <key>monster_30032_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,564},{149,143}}</string>
        <key>offset</key>
        <string>{-43,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,143}}</string>
        <key>sourceSize</key>
        <string>{149,143}</string>
      </dict>
      <key>monster_30032_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,504},{120,151}}</string>
        <key>offset</key>
        <string>{-23,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,151}}</string>
        <key>sourceSize</key>
        <string>{120,151}</string>
      </dict>
      <key>monster_30032_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,217},{126,149}}</string>
        <key>offset</key>
        <string>{-33,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,149}}</string>
        <key>sourceSize</key>
        <string>{126,149}</string>
      </dict>
      <key>monster_30032_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{95,159}}</string>
        <key>offset</key>
        <string>{-1,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,159}}</string>
        <key>sourceSize</key>
        <string>{95,159}</string>
      </dict>
      <key>monster_30032_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{103,161}}</string>
        <key>offset</key>
        <string>{-15,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,161}}</string>
        <key>sourceSize</key>
        <string>{103,161}</string>
      </dict>
      <key>monster_30032_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{129,157}}</string>
        <key>offset</key>
        <string>{-22,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,157}}</string>
        <key>sourceSize</key>
        <string>{129,157}</string>
      </dict>
      <key>monster_30032_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{132,164}}</string>
        <key>offset</key>
        <string>{-29,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,164}}</string>
        <key>sourceSize</key>
        <string>{132,164}</string>
      </dict>
      <key>monster_30032_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,419},{150,143}}</string>
        <key>offset</key>
        <string>{-43,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,143}}</string>
        <key>sourceSize</key>
        <string>{150,143}</string>
      </dict>
      <key>monster_30032_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,134},{150,160}}</string>
        <key>offset</key>
        <string>{-43,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,160}}</string>
        <key>sourceSize</key>
        <string>{150,160}</string>
      </dict>
      <key>monster_30032_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,286},{131,152}}</string>
        <key>offset</key>
        <string>{-38,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,152}}</string>
        <key>sourceSize</key>
        <string>{131,152}</string>
      </dict>
      <key>monster_30032_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{136,165}}</string>
        <key>offset</key>
        <string>{-33,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,165}}</string>
        <key>sourceSize</key>
        <string>{136,165}</string>
      </dict>
      <key>monster_30032_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,217},{104,156}}</string>
        <key>offset</key>
        <string>{-30,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,156}}</string>
        <key>sourceSize</key>
        <string>{104,156}</string>
      </dict>
      <key>monster_30032_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,105},{110,161}}</string>
        <key>offset</key>
        <string>{-22,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,161}}</string>
        <key>sourceSize</key>
        <string>{110,161}</string>
      </dict>
      <key>monster_30032_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{136,152}}</string>
        <key>offset</key>
        <string>{-46,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,152}}</string>
        <key>sourceSize</key>
        <string>{136,152}</string>
      </dict>
      <key>monster_30032_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,323},{141,151}}</string>
        <key>offset</key>
        <string>{-41,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,151}}</string>
        <key>sourceSize</key>
        <string>{141,151}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30032_0_7.png</string>
      <key>size</key>
      <string>{639,713}</string>
      <key>textureFileName</key>
      <string>monster_30032_0_7.png</string>
    </dict>
  </dict>
</plist>