<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30013_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,658},{205,125}}</string>
        <key>offset</key>
        <string>{-133,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,125}}</string>
        <key>sourceSize</key>
        <string>{205,125}</string>
      </dict>
      <key>monster_30013_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{245,131}}</string>
        <key>offset</key>
        <string>{-173,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,131}}</string>
        <key>sourceSize</key>
        <string>{245,131}</string>
      </dict>
      <key>monster_30013_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,588},{156,161}}</string>
        <key>offset</key>
        <string>{-84,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,161}}</string>
        <key>sourceSize</key>
        <string>{156,161}</string>
      </dict>
      <key>monster_30013_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{224,163}}</string>
        <key>offset</key>
        <string>{-152,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,163}}</string>
        <key>sourceSize</key>
        <string>{224,163}</string>
      </dict>
      <key>monster_30013_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,466},{113,122}}</string>
        <key>offset</key>
        <string>{-41,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
      <key>monster_30013_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,879},{131,112}}</string>
        <key>offset</key>
        <string>{-59,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,112}}</string>
        <key>sourceSize</key>
        <string>{131,112}</string>
      </dict>
      <key>monster_30013_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,400},{178,154}}</string>
        <key>offset</key>
        <string>{-104,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,154}}</string>
        <key>sourceSize</key>
        <string>{178,154}</string>
      </dict>
      <key>monster_30013_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{259,155}}</string>
        <key>offset</key>
        <string>{-205,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,155}}</string>
        <key>sourceSize</key>
        <string>{259,155}</string>
      </dict>
      <key>monster_30013_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{227,136}}</string>
        <key>offset</key>
        <string>{-177,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,136}}</string>
        <key>sourceSize</key>
        <string>{227,136}</string>
      </dict>
      <key>monster_30013_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,261},{234,179}}</string>
        <key>offset</key>
        <string>{-167,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,179}}</string>
        <key>sourceSize</key>
        <string>{234,179}</string>
      </dict>
      <key>monster_30013_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,753},{152,113}}</string>
        <key>offset</key>
        <string>{-29,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,113}}</string>
        <key>sourceSize</key>
        <string>{152,113}</string>
      </dict>
      <key>monster_30013_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1211,746},{129,127}}</string>
        <key>offset</key>
        <string>{-43,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,127}}</string>
        <key>sourceSize</key>
        <string>{129,127}</string>
      </dict>
      <key>monster_30013_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,0},{138,150}}</string>
        <key>offset</key>
        <string>{-75,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,150}}</string>
        <key>sourceSize</key>
        <string>{138,150}</string>
      </dict>
      <key>monster_30013_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,520},{236,183}}</string>
        <key>offset</key>
        <string>{-180,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,183}}</string>
        <key>sourceSize</key>
        <string>{236,183}</string>
      </dict>
      <key>monster_30013_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{257,135}}</string>
        <key>offset</key>
        <string>{-205,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,135}}</string>
        <key>sourceSize</key>
        <string>{257,135}</string>
      </dict>
      <key>monster_30013_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{244,185}}</string>
        <key>offset</key>
        <string>{-164,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,185}}</string>
        <key>sourceSize</key>
        <string>{244,185}</string>
      </dict>
      <key>monster_30013_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,865},{203,96}}</string>
        <key>offset</key>
        <string>{-44,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,96}}</string>
        <key>sourceSize</key>
        <string>{203,96}</string>
      </dict>
      <key>monster_30013_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,179},{176,119}}</string>
        <key>offset</key>
        <string>{-44,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,119}}</string>
        <key>sourceSize</key>
        <string>{176,119}</string>
      </dict>
      <key>monster_30013_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,0},{176,131}}</string>
        <key>offset</key>
        <string>{-77,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,131}}</string>
        <key>sourceSize</key>
        <string>{176,131}</string>
      </dict>
      <key>monster_30013_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{177,180}}</string>
        <key>offset</key>
        <string>{-115,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,180}}</string>
        <key>sourceSize</key>
        <string>{177,180}</string>
      </dict>
      <key>monster_30013_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,758},{215,156}}</string>
        <key>offset</key>
        <string>{-153,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,156}}</string>
        <key>sourceSize</key>
        <string>{215,156}</string>
      </dict>
      <key>monster_30013_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,443},{213,176}}</string>
        <key>offset</key>
        <string>{-149,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,176}}</string>
        <key>sourceSize</key>
        <string>{213,176}</string>
      </dict>
      <key>monster_30013_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,466},{162,120}}</string>
        <key>offset</key>
        <string>{-37,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,120}}</string>
        <key>sourceSize</key>
        <string>{162,120}</string>
      </dict>
      <key>monster_30013_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,352},{163,112}}</string>
        <key>offset</key>
        <string>{-43,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,112}}</string>
        <key>sourceSize</key>
        <string>{163,112}</string>
      </dict>
      <key>monster_30013_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,178},{172,114}}</string>
        <key>offset</key>
        <string>{-76,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,114}}</string>
        <key>sourceSize</key>
        <string>{172,114}</string>
      </dict>
      <key>monster_30013_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,428},{192,176}}</string>
        <key>offset</key>
        <string>{-111,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,176}}</string>
        <key>sourceSize</key>
        <string>{192,176}</string>
      </dict>
      <key>monster_30013_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,580},{135,171}}</string>
        <key>offset</key>
        <string>{-75,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,171}}</string>
        <key>sourceSize</key>
        <string>{135,171}</string>
      </dict>
      <key>monster_30013_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,211},{187,179}}</string>
        <key>offset</key>
        <string>{-127,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,179}}</string>
        <key>sourceSize</key>
        <string>{187,179}</string>
      </dict>
      <key>monster_30013_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,178},{100,137}}</string>
        <key>offset</key>
        <string>{-40,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,137}}</string>
        <key>sourceSize</key>
        <string>{100,137}</string>
      </dict>
      <key>monster_30013_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,877},{119,128}}</string>
        <key>offset</key>
        <string>{-55,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>monster_30013_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,152},{148,134}}</string>
        <key>offset</key>
        <string>{-76,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,134}}</string>
        <key>sourceSize</key>
        <string>{148,134}</string>
      </dict>
      <key>monster_30013_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,226},{215,155}}</string>
        <key>offset</key>
        <string>{-105,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,155}}</string>
        <key>sourceSize</key>
        <string>{215,155}</string>
      </dict>
      <key>monster_30013_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,863},{186,157}}</string>
        <key>offset</key>
        <string>{-65,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,157}}</string>
        <key>sourceSize</key>
        <string>{186,157}</string>
      </dict>
      <key>monster_30013_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,622},{178,180}}</string>
        <key>offset</key>
        <string>{-115,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,180}}</string>
        <key>sourceSize</key>
        <string>{178,180}</string>
      </dict>
      <key>monster_30013_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1027,879},{151,121}}</string>
        <key>offset</key>
        <string>{-99,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,121}}</string>
        <key>sourceSize</key>
        <string>{151,121}</string>
      </dict>
      <key>monster_30013_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212,588},{125,127}}</string>
        <key>offset</key>
        <string>{-75,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,127}}</string>
        <key>sourceSize</key>
        <string>{125,127}</string>
      </dict>
      <key>monster_30013_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,746},{160,131}}</string>
        <key>offset</key>
        <string>{-92,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,131}}</string>
        <key>sourceSize</key>
        <string>{160,131}</string>
      </dict>
      <key>monster_30013_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,0},{177,141}}</string>
        <key>offset</key>
        <string>{-81,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,141}}</string>
        <key>sourceSize</key>
        <string>{177,141}</string>
      </dict>
      <key>monster_30013_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,216},{210,129}}</string>
        <key>offset</key>
        <string>{-67,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,129}}</string>
        <key>sourceSize</key>
        <string>{210,129}</string>
      </dict>
      <key>monster_30013_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,804},{180,172}}</string>
        <key>offset</key>
        <string>{-113,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,172}}</string>
        <key>sourceSize</key>
        <string>{180,172}</string>
      </dict>
      <key>monster_30013_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,0},{209,89}}</string>
        <key>offset</key>
        <string>{-141,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,89}}</string>
        <key>sourceSize</key>
        <string>{209,89}</string>
      </dict>
      <key>monster_30013_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,182},{178,109}}</string>
        <key>offset</key>
        <string>{-109,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,109}}</string>
        <key>sourceSize</key>
        <string>{178,109}</string>
      </dict>
      <key>monster_30013_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,0},{214,113}}</string>
        <key>offset</key>
        <string>{-137,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,113}}</string>
        <key>sourceSize</key>
        <string>{214,113}</string>
      </dict>
      <key>monster_30013_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,0},{176,151}}</string>
        <key>offset</key>
        <string>{-99,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,151}}</string>
        <key>sourceSize</key>
        <string>{176,151}</string>
      </dict>
      <key>monster_30013_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,357},{169,146}}</string>
        <key>offset</key>
        <string>{-67,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,146}}</string>
        <key>sourceSize</key>
        <string>{169,146}</string>
      </dict>
      <key>monster_30013_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,658},{203,154}}</string>
        <key>offset</key>
        <string>{-126,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,154}}</string>
        <key>sourceSize</key>
        <string>{203,154}</string>
      </dict>
      <key>monster_30013_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,400},{180,91}}</string>
        <key>offset</key>
        <string>{-103,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,91}}</string>
        <key>sourceSize</key>
        <string>{180,91}</string>
      </dict>
      <key>monster_30013_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,580},{175,102}}</string>
        <key>offset</key>
        <string>{-98,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,102}}</string>
        <key>sourceSize</key>
        <string>{175,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30013_0_2.png</string>
      <key>size</key>
      <string>{1418,1026}</string>
      <key>textureFileName</key>
      <string>monster_30013_0_2.png</string>
    </dict>
  </dict>
</plist>