<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30085_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,0},{105,140}}</string>
        <key>offset</key>
        <string>{-22,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,140}}</string>
        <key>sourceSize</key>
        <string>{105,140}</string>
      </dict>
      <key>monster_30085_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,153},{107,143}}</string>
        <key>offset</key>
        <string>{-21,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,143}}</string>
        <key>sourceSize</key>
        <string>{107,143}</string>
      </dict>
      <key>monster_30085_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{112,151}}</string>
        <key>offset</key>
        <string>{-23,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,151}}</string>
        <key>sourceSize</key>
        <string>{112,151}</string>
      </dict>
      <key>monster_30085_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,316},{105,148}}</string>
        <key>offset</key>
        <string>{-22,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,148}}</string>
        <key>sourceSize</key>
        <string>{105,148}</string>
      </dict>
      <key>monster_30085_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,371},{115,130}}</string>
        <key>offset</key>
        <string>{-26,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,130}}</string>
        <key>sourceSize</key>
        <string>{115,130}</string>
      </dict>
      <key>monster_30085_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,488},{111,129}}</string>
        <key>offset</key>
        <string>{-24,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,129}}</string>
        <key>sourceSize</key>
        <string>{111,129}</string>
      </dict>
      <key>monster_30085_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,131},{119,133}}</string>
        <key>offset</key>
        <string>{-25,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,133}}</string>
        <key>sourceSize</key>
        <string>{119,133}</string>
      </dict>
      <key>monster_30085_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,632},{130,134}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,134}}</string>
        <key>sourceSize</key>
        <string>{130,134}</string>
      </dict>
      <key>monster_30085_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,326},{104,153}}</string>
        <key>offset</key>
        <string>{-24,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,153}}</string>
        <key>sourceSize</key>
        <string>{104,153}</string>
      </dict>
      <key>monster_30085_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,641},{95,149}}</string>
        <key>offset</key>
        <string>{-20,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,149}}</string>
        <key>sourceSize</key>
        <string>{95,149}</string>
      </dict>
      <key>monster_30085_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,658},{98,156}}</string>
        <key>offset</key>
        <string>{-19,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,156}}</string>
        <key>sourceSize</key>
        <string>{98,156}</string>
      </dict>
      <key>monster_30085_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,336},{108,160}}</string>
        <key>offset</key>
        <string>{-21,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,160}}</string>
        <key>sourceSize</key>
        <string>{108,160}</string>
      </dict>
      <key>monster_30085_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{86,162}}</string>
        <key>offset</key>
        <string>{-10,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,162}}</string>
        <key>sourceSize</key>
        <string>{86,162}</string>
      </dict>
      <key>monster_30085_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,519},{83,162}}</string>
        <key>offset</key>
        <string>{-10,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,162}}</string>
        <key>sourceSize</key>
        <string>{83,162}</string>
      </dict>
      <key>monster_30085_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{85,169}}</string>
        <key>offset</key>
        <string>{-14,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,169}}</string>
        <key>sourceSize</key>
        <string>{85,169}</string>
      </dict>
      <key>monster_30085_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,172}}</string>
        <key>offset</key>
        <string>{-10,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,172}}</string>
        <key>sourceSize</key>
        <string>{84,172}</string>
      </dict>
      <key>monster_30085_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,484},{105,155}}</string>
        <key>offset</key>
        <string>{-13,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,155}}</string>
        <key>sourceSize</key>
        <string>{105,155}</string>
      </dict>
      <key>monster_30085_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,498},{102,158}}</string>
        <key>offset</key>
        <string>{-16,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,158}}</string>
        <key>sourceSize</key>
        <string>{102,158}</string>
      </dict>
      <key>monster_30085_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,171},{102,163}}</string>
        <key>offset</key>
        <string>{-16,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,163}}</string>
        <key>sourceSize</key>
        <string>{102,163}</string>
      </dict>
      <key>monster_30085_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{110,159}}</string>
        <key>offset</key>
        <string>{-15,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,159}}</string>
        <key>sourceSize</key>
        <string>{110,159}</string>
      </dict>
      <key>monster_30085_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,683},{83,162}}</string>
        <key>offset</key>
        <string>{6,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,162}}</string>
        <key>sourceSize</key>
        <string>{83,162}</string>
      </dict>
      <key>monster_30085_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,519},{87,162}}</string>
        <key>offset</key>
        <string>{4,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,162}}</string>
        <key>sourceSize</key>
        <string>{87,162}</string>
      </dict>
      <key>monster_30085_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{88,169}}</string>
        <key>offset</key>
        <string>{4,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,169}}</string>
        <key>sourceSize</key>
        <string>{88,169}</string>
      </dict>
      <key>monster_30085_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{86,172}}</string>
        <key>offset</key>
        <string>{4,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,172}}</string>
        <key>sourceSize</key>
        <string>{86,172}</string>
      </dict>
      <key>monster_30085_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,161},{106,153}}</string>
        <key>offset</key>
        <string>{-8,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,153}}</string>
        <key>sourceSize</key>
        <string>{106,153}</string>
      </dict>
      <key>monster_30085_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,481},{103,149}}</string>
        <key>offset</key>
        <string>{-7,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,149}}</string>
        <key>sourceSize</key>
        <string>{103,149}</string>
      </dict>
      <key>monster_30085_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,326},{108,156}}</string>
        <key>offset</key>
        <string>{-6,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,156}}</string>
        <key>sourceSize</key>
        <string>{108,156}</string>
      </dict>
      <key>monster_30085_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,164},{118,160}}</string>
        <key>offset</key>
        <string>{-15,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,160}}</string>
        <key>sourceSize</key>
        <string>{118,160}</string>
      </dict>
      <key>monster_30085_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,466},{115,130}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,130}}</string>
        <key>sourceSize</key>
        <string>{115,130}</string>
      </dict>
      <key>monster_30085_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,619},{104,129}}</string>
        <key>offset</key>
        <string>{-9,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,129}}</string>
        <key>sourceSize</key>
        <string>{104,129}</string>
      </dict>
      <key>monster_30085_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,252},{117,133}}</string>
        <key>offset</key>
        <string>{-16,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,133}}</string>
        <key>sourceSize</key>
        <string>{117,133}</string>
      </dict>
      <key>monster_30085_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,0},{129,134}}</string>
        <key>offset</key>
        <string>{-20,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,134}}</string>
        <key>sourceSize</key>
        <string>{129,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30085_0_0.png</string>
      <key>size</key>
      <string>{768,768}</string>
      <key>textureFileName</key>
      <string>monster_30085_0_0.png</string>
    </dict>
  </dict>
</plist>