<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30087_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,1532},{177,176}}</string>
        <key>offset</key>
        <string>{-39,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,176}}</string>
        <key>sourceSize</key>
        <string>{177,176}</string>
      </dict>
      <key>monster_30087_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,381},{152,181}}</string>
        <key>offset</key>
        <string>{-41,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,181}}</string>
        <key>sourceSize</key>
        <string>{152,181}</string>
      </dict>
      <key>monster_30087_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1464},{124,186}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,186}}</string>
        <key>sourceSize</key>
        <string>{124,186}</string>
      </dict>
      <key>monster_30087_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,0},{173,191}}</string>
        <key>offset</key>
        <string>{-79,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,191}}</string>
        <key>sourceSize</key>
        <string>{173,191}</string>
      </dict>
      <key>monster_30087_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,1179},{212,187}}</string>
        <key>offset</key>
        <string>{-114,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,187}}</string>
        <key>sourceSize</key>
        <string>{212,187}</string>
      </dict>
      <key>monster_30087_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1224},{216,191}}</string>
        <key>offset</key>
        <string>{-123,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,191}}</string>
        <key>sourceSize</key>
        <string>{216,191}</string>
      </dict>
      <key>monster_30087_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,963},{176,214}}</string>
        <key>offset</key>
        <string>{-78,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,214}}</string>
        <key>sourceSize</key>
        <string>{176,214}</string>
      </dict>
      <key>monster_30087_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1007},{266,205}}</string>
        <key>offset</key>
        <string>{-66,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,205}}</string>
        <key>sourceSize</key>
        <string>{266,205}</string>
      </dict>
      <key>monster_30087_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,691},{314,249}}</string>
        <key>offset</key>
        <string>{-147,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,249}}</string>
        <key>sourceSize</key>
        <string>{314,249}</string>
      </dict>
      <key>monster_30087_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,480},{185,231}}</string>
        <key>offset</key>
        <string>{-126,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,231}}</string>
        <key>sourceSize</key>
        <string>{185,231}</string>
      </dict>
      <key>monster_30087_0_2_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{136,245}}</string>
        <key>offset</key>
        <string>{-77,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,245}}</string>
        <key>sourceSize</key>
        <string>{136,245}</string>
      </dict>
      <key>monster_30087_0_2_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,1106},{156,246}}</string>
        <key>offset</key>
        <string>{-63,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,246}}</string>
        <key>sourceSize</key>
        <string>{156,246}</string>
      </dict>
      <key>monster_30087_0_2_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,609},{211,221}}</string>
        <key>offset</key>
        <string>{-66,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,221}}</string>
        <key>sourceSize</key>
        <string>{211,221}</string>
      </dict>
      <key>monster_30087_0_2_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,237},{231,195}}</string>
        <key>offset</key>
        <string>{-58,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,195}}</string>
        <key>sourceSize</key>
        <string>{231,195}</string>
      </dict>
      <key>monster_30087_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,1413},{144,186}}</string>
        <key>offset</key>
        <string>{-41,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,186}}</string>
        <key>sourceSize</key>
        <string>{144,186}</string>
      </dict>
      <key>monster_30087_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,1442},{188,180}}</string>
        <key>offset</key>
        <string>{-82,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,180}}</string>
        <key>sourceSize</key>
        <string>{188,180}</string>
      </dict>
      <key>monster_30087_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,229},{225,176}}</string>
        <key>offset</key>
        <string>{-121,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,176}}</string>
        <key>sourceSize</key>
        <string>{225,176}</string>
      </dict>
      <key>monster_30087_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,1264},{246,166}}</string>
        <key>offset</key>
        <string>{-157,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,166}}</string>
        <key>sourceSize</key>
        <string>{246,166}</string>
      </dict>
      <key>monster_30087_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{253,164}}</string>
        <key>offset</key>
        <string>{-176,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,164}}</string>
        <key>sourceSize</key>
        <string>{253,164}</string>
      </dict>
      <key>monster_30087_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,247},{241,178}}</string>
        <key>offset</key>
        <string>{-171,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,178}}</string>
        <key>sourceSize</key>
        <string>{241,178}</string>
      </dict>
      <key>monster_30087_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,1264},{246,197}}</string>
        <key>offset</key>
        <string>{-145,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,197}}</string>
        <key>sourceSize</key>
        <string>{246,197}</string>
      </dict>
      <key>monster_30087_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{351,185}}</string>
        <key>offset</key>
        <string>{-119,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,185}}</string>
        <key>sourceSize</key>
        <string>{351,185}</string>
      </dict>
      <key>monster_30087_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,599},{247,254}}</string>
        <key>offset</key>
        <string>{-27,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,254}}</string>
        <key>sourceSize</key>
        <string>{247,254}</string>
      </dict>
      <key>monster_30087_0_2_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,1024},{150,238}}</string>
        <key>offset</key>
        <string>{-30,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,238}}</string>
        <key>sourceSize</key>
        <string>{150,238}</string>
      </dict>
      <key>monster_30087_0_2_1_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,0},{207,227}}</string>
        <key>offset</key>
        <string>{-38,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,227}}</string>
        <key>sourceSize</key>
        <string>{207,227}</string>
      </dict>
      <key>monster_30087_0_2_1_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,503},{244,209}}</string>
        <key>offset</key>
        <string>{-40,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,209}}</string>
        <key>sourceSize</key>
        <string>{244,209}</string>
      </dict>
      <key>monster_30087_0_2_1_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,777},{245,183}}</string>
        <key>offset</key>
        <string>{-32,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,183}}</string>
        <key>sourceSize</key>
        <string>{245,183}</string>
      </dict>
      <key>monster_30087_0_2_1_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,822},{212,178}}</string>
        <key>offset</key>
        <string>{-28,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,178}}</string>
        <key>sourceSize</key>
        <string>{212,178}</string>
      </dict>
      <key>monster_30087_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,749},{238,174}}</string>
        <key>offset</key>
        <string>{-115,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,174}}</string>
        <key>sourceSize</key>
        <string>{238,174}</string>
      </dict>
      <key>monster_30087_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,527},{248,165}}</string>
        <key>offset</key>
        <string>{-143,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,165}}</string>
        <key>sourceSize</key>
        <string>{248,165}</string>
      </dict>
      <key>monster_30087_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,271},{254,164}}</string>
        <key>offset</key>
        <string>{-163,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,164}}</string>
        <key>sourceSize</key>
        <string>{254,164}</string>
      </dict>
      <key>monster_30087_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,1270},{260,168}}</string>
        <key>offset</key>
        <string>{-170,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,168}}</string>
        <key>sourceSize</key>
        <string>{260,168}</string>
      </dict>
      <key>monster_30087_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,855},{249,174}}</string>
        <key>offset</key>
        <string>{-159,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,174}}</string>
        <key>sourceSize</key>
        <string>{249,174}</string>
      </dict>
      <key>monster_30087_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,729},{232,166}}</string>
        <key>offset</key>
        <string>{-141,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,166}}</string>
        <key>sourceSize</key>
        <string>{232,166}</string>
      </dict>
      <key>monster_30087_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,0},{235,184}}</string>
        <key>offset</key>
        <string>{-148,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,184}}</string>
        <key>sourceSize</key>
        <string>{235,184}</string>
      </dict>
      <key>monster_30087_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{336,189}}</string>
        <key>offset</key>
        <string>{-124,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,189}}</string>
        <key>sourceSize</key>
        <string>{336,189}</string>
      </dict>
      <key>monster_30087_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,328},{269,213}}</string>
        <key>offset</key>
        <string>{-20,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,213}}</string>
        <key>sourceSize</key>
        <string>{269,213}</string>
      </dict>
      <key>monster_30087_0_2_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1275},{262,187}}</string>
        <key>offset</key>
        <string>{-22,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,187}}</string>
        <key>sourceSize</key>
        <string>{262,187}</string>
      </dict>
      <key>monster_30087_0_2_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,1007},{261,168}}</string>
        <key>offset</key>
        <string>{-18,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,168}}</string>
        <key>sourceSize</key>
        <string>{261,168}</string>
      </dict>
      <key>monster_30087_0_2_2_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,255},{246,165}}</string>
        <key>offset</key>
        <string>{-16,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,165}}</string>
        <key>sourceSize</key>
        <string>{246,165}</string>
      </dict>
      <key>monster_30087_0_2_2_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1397,991},{201,179}}</string>
        <key>offset</key>
        <string>{-19,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,179}}</string>
        <key>sourceSize</key>
        <string>{201,179}</string>
      </dict>
      <key>monster_30087_0_2_2_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,193},{142,186}}</string>
        <key>offset</key>
        <string>{-24,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,186}}</string>
        <key>sourceSize</key>
        <string>{142,186}</string>
      </dict>
      <key>monster_30087_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,242},{236,176}}</string>
        <key>offset</key>
        <string>{-150,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,176}}</string>
        <key>sourceSize</key>
        <string>{236,176}</string>
      </dict>
      <key>monster_30087_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,490},{237,191}}</string>
        <key>offset</key>
        <string>{-154,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,191}}</string>
        <key>sourceSize</key>
        <string>{237,191}</string>
      </dict>
      <key>monster_30087_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,407},{222,200}}</string>
        <key>offset</key>
        <string>{-139,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,200}}</string>
        <key>sourceSize</key>
        <string>{222,200}</string>
      </dict>
      <key>monster_30087_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,1002},{198,211}}</string>
        <key>offset</key>
        <string>{-113,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,211}}</string>
        <key>sourceSize</key>
        <string>{198,211}</string>
      </dict>
      <key>monster_30087_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1397,822},{167,207}}</string>
        <key>offset</key>
        <string>{-81,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,207}}</string>
        <key>sourceSize</key>
        <string>{167,207}</string>
      </dict>
      <key>monster_30087_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,1172},{152,194}}</string>
        <key>offset</key>
        <string>{-67,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,194}}</string>
        <key>sourceSize</key>
        <string>{152,194}</string>
      </dict>
      <key>monster_30087_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1442},{191,176}}</string>
        <key>offset</key>
        <string>{-108,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,176}}</string>
        <key>sourceSize</key>
        <string>{191,176}</string>
      </dict>
      <key>monster_30087_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,989},{233,212}}</string>
        <key>offset</key>
        <string>{-136,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,212}}</string>
        <key>sourceSize</key>
        <string>{233,212}</string>
      </dict>
      <key>monster_30087_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{326,159}}</string>
        <key>offset</key>
        <string>{-78,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,159}}</string>
        <key>sourceSize</key>
        <string>{326,159}</string>
      </dict>
      <key>monster_30087_0_2_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{269,159}}</string>
        <key>offset</key>
        <string>{-25,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,159}}</string>
        <key>sourceSize</key>
        <string>{269,159}</string>
      </dict>
      <key>monster_30087_0_2_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,0},{240,177}}</string>
        <key>offset</key>
        <string>{-28,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,177}}</string>
        <key>sourceSize</key>
        <string>{240,177}</string>
      </dict>
      <key>monster_30087_0_2_3_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1369,1326},{184,193}}</string>
        <key>offset</key>
        <string>{-29,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,193}}</string>
        <key>sourceSize</key>
        <string>{184,193}</string>
      </dict>
      <key>monster_30087_0_2_3_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1481,609},{134,196}}</string>
        <key>offset</key>
        <string>{-29,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,196}}</string>
        <key>sourceSize</key>
        <string>{134,196}</string>
      </dict>
      <key>monster_30087_0_2_3_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,1202},{209,184}}</string>
        <key>offset</key>
        <string>{-93,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,184}}</string>
        <key>sourceSize</key>
        <string>{209,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30087_0_2_0.png</string>
      <key>size</key>
      <string>{1692,1714}</string>
      <key>textureFileName</key>
      <string>monster_30087_0_2_0.png</string>
    </dict>
  </dict>
</plist>