<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30086_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1380,469},{225,183}}</string>
        <key>offset</key>
        <string>{-43,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,183}}</string>
        <key>sourceSize</key>
        <string>{225,183}</string>
      </dict>
      <key>monster_30086_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1055,240},{235,183}}</string>
        <key>offset</key>
        <string>{-45,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,183}}</string>
        <key>sourceSize</key>
        <string>{235,183}</string>
      </dict>
      <key>monster_30086_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,253},{246,203}}</string>
        <key>offset</key>
        <string>{-57,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,203}}</string>
        <key>sourceSize</key>
        <string>{246,203}</string>
      </dict>
      <key>monster_30086_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{271,209}}</string>
        <key>offset</key>
        <string>{-68,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,209}}</string>
        <key>sourceSize</key>
        <string>{271,209}</string>
      </dict>
      <key>monster_30086_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,796},{256,191}}</string>
        <key>offset</key>
        <string>{-57,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,191}}</string>
        <key>sourceSize</key>
        <string>{256,191}</string>
      </dict>
      <key>monster_30086_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,988},{237,176}}</string>
        <key>offset</key>
        <string>{-67,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,176}}</string>
        <key>sourceSize</key>
        <string>{237,176}</string>
      </dict>
      <key>monster_30086_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1565,336},{225,181}}</string>
        <key>offset</key>
        <string>{-58,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,181}}</string>
        <key>sourceSize</key>
        <string>{225,181}</string>
      </dict>
      <key>monster_30086_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1784},{195,157}}</string>
        <key>offset</key>
        <string>{-60,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,157}}</string>
        <key>sourceSize</key>
        <string>{195,157}</string>
      </dict>
      <key>monster_30086_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1774},{175,166}}</string>
        <key>offset</key>
        <string>{-53,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,166}}</string>
        <key>sourceSize</key>
        <string>{175,166}</string>
      </dict>
      <key>monster_30086_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,1876},{168,134}}</string>
        <key>offset</key>
        <string>{-59,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,134}}</string>
        <key>sourceSize</key>
        <string>{168,134}</string>
      </dict>
      <key>monster_30086_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,1563},{241,179}}</string>
        <key>offset</key>
        <string>{-46,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,179}}</string>
        <key>sourceSize</key>
        <string>{241,179}</string>
      </dict>
      <key>monster_30086_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,1532},{240,176}}</string>
        <key>offset</key>
        <string>{-44,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,176}}</string>
        <key>sourceSize</key>
        <string>{240,176}</string>
      </dict>
      <key>monster_30086_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,748},{238,196}}</string>
        <key>offset</key>
        <string>{-43,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,196}}</string>
        <key>sourceSize</key>
        <string>{238,196}</string>
      </dict>
      <key>monster_30086_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1565},{245,217}}</string>
        <key>offset</key>
        <string>{-47,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,217}}</string>
        <key>sourceSize</key>
        <string>{245,217}</string>
      </dict>
      <key>monster_30086_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{251,201}}</string>
        <key>offset</key>
        <string>{-59,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,201}}</string>
        <key>sourceSize</key>
        <string>{251,201}</string>
      </dict>
      <key>monster_30086_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1495,981},{215,166}}</string>
        <key>offset</key>
        <string>{-61,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,166}}</string>
        <key>sourceSize</key>
        <string>{215,166}</string>
      </dict>
      <key>monster_30086_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,955},{228,161}}</string>
        <key>offset</key>
        <string>{-89,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,161}}</string>
        <key>sourceSize</key>
        <string>{228,161}</string>
      </dict>
      <key>monster_30086_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1388,696},{218,149}}</string>
        <key>offset</key>
        <string>{-68,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,149}}</string>
        <key>sourceSize</key>
        <string>{218,149}</string>
      </dict>
      <key>monster_30086_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,722},{231,170}}</string>
        <key>offset</key>
        <string>{-95,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,170}}</string>
        <key>sourceSize</key>
        <string>{231,170}</string>
      </dict>
      <key>monster_30086_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,1669},{205,127}}</string>
        <key>offset</key>
        <string>{-92,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,127}}</string>
        <key>sourceSize</key>
        <string>{205,127}</string>
      </dict>
      <key>monster_30086_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{242,167}}</string>
        <key>offset</key>
        <string>{-50,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,167}}</string>
        <key>sourceSize</key>
        <string>{242,167}</string>
      </dict>
      <key>monster_30086_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,1040},{247,166}}</string>
        <key>offset</key>
        <string>{-47,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,166}}</string>
        <key>sourceSize</key>
        <string>{247,166}</string>
      </dict>
      <key>monster_30086_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,516},{247,187}}</string>
        <key>offset</key>
        <string>{-47,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,187}}</string>
        <key>sourceSize</key>
        <string>{247,187}</string>
      </dict>
      <key>monster_30086_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,495},{238,221}}</string>
        <key>offset</key>
        <string>{-47,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,221}}</string>
        <key>sourceSize</key>
        <string>{238,221}</string>
      </dict>
      <key>monster_30086_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,0},{246,208}}</string>
        <key>offset</key>
        <string>{-69,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,208}}</string>
        <key>sourceSize</key>
        <string>{246,208}</string>
      </dict>
      <key>monster_30086_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,1454},{212,163}}</string>
        <key>offset</key>
        <string>{-77,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,163}}</string>
        <key>sourceSize</key>
        <string>{212,163}</string>
      </dict>
      <key>monster_30086_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,765},{245,165}}</string>
        <key>offset</key>
        <string>{-106,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,165}}</string>
        <key>sourceSize</key>
        <string>{245,165}</string>
      </dict>
      <key>monster_30086_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,735},{236,150}}</string>
        <key>offset</key>
        <string>{-93,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,150}}</string>
        <key>sourceSize</key>
        <string>{236,150}</string>
      </dict>
      <key>monster_30086_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,796},{255,123}}</string>
        <key>offset</key>
        <string>{-126,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,123}}</string>
        <key>sourceSize</key>
        <string>{255,123}</string>
      </dict>
      <key>monster_30086_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1565,519},{222,101}}</string>
        <key>offset</key>
        <string>{-122,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,101}}</string>
        <key>sourceSize</key>
        <string>{222,101}</string>
      </dict>
      <key>monster_30086_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,973},{232,166}}</string>
        <key>offset</key>
        <string>{-47,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,166}}</string>
        <key>sourceSize</key>
        <string>{232,166}</string>
      </dict>
      <key>monster_30086_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,244},{238,165}}</string>
        <key>offset</key>
        <string>{-45,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,165}}</string>
        <key>sourceSize</key>
        <string>{238,165}</string>
      </dict>
      <key>monster_30086_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,1012},{239,182}}</string>
        <key>offset</key>
        <string>{-44,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,182}}</string>
        <key>sourceSize</key>
        <string>{239,182}</string>
      </dict>
      <key>monster_30086_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{259,197}}</string>
        <key>offset</key>
        <string>{-65,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,197}}</string>
        <key>sourceSize</key>
        <string>{259,197}</string>
      </dict>
      <key>monster_30086_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1181,0},{234,193}}</string>
        <key>offset</key>
        <string>{-53,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,193}}</string>
        <key>sourceSize</key>
        <string>{234,193}</string>
      </dict>
      <key>monster_30086_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1544,1664},{208,168}}</string>
        <key>offset</key>
        <string>{-56,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,168}}</string>
        <key>sourceSize</key>
        <string>{208,168}</string>
      </dict>
      <key>monster_30086_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1539,797},{216,182}}</string>
        <key>offset</key>
        <string>{-73,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,182}}</string>
        <key>sourceSize</key>
        <string>{216,182}</string>
      </dict>
      <key>monster_30086_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1526,0},{230,153}}</string>
        <key>offset</key>
        <string>{-82,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,153}}</string>
        <key>sourceSize</key>
        <string>{230,153}</string>
      </dict>
      <key>monster_30086_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{260,135}}</string>
        <key>offset</key>
        <string>{-113,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,135}}</string>
        <key>sourceSize</key>
        <string>{260,135}</string>
      </dict>
      <key>monster_30086_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,1438},{213,138}}</string>
        <key>offset</key>
        <string>{-96,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,138}}</string>
        <key>sourceSize</key>
        <string>{213,138}</string>
      </dict>
      <key>monster_30086_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,1149},{214,172}}</string>
        <key>offset</key>
        <string>{-48,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,172}}</string>
        <key>sourceSize</key>
        <string>{214,172}</string>
      </dict>
      <key>monster_30086_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,477},{231,174}}</string>
        <key>offset</key>
        <string>{-61,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,174}}</string>
        <key>sourceSize</key>
        <string>{231,174}</string>
      </dict>
      <key>monster_30086_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,0},{238,188}}</string>
        <key>offset</key>
        <string>{-56,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,188}}</string>
        <key>sourceSize</key>
        <string>{238,188}</string>
      </dict>
      <key>monster_30086_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,534},{254,201}}</string>
        <key>offset</key>
        <string>{-59,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,201}}</string>
        <key>sourceSize</key>
        <string>{254,201}</string>
      </dict>
      <key>monster_30086_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,1053},{248,181}}</string>
        <key>offset</key>
        <string>{-57,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,181}}</string>
        <key>sourceSize</key>
        <string>{248,181}</string>
      </dict>
      <key>monster_30086_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1544,1323},{210,163}}</string>
        <key>offset</key>
        <string>{-47,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,163}}</string>
        <key>sourceSize</key>
        <string>{210,163}</string>
      </dict>
      <key>monster_30086_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,1454},{213,191}}</string>
        <key>offset</key>
        <string>{-52,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,191}}</string>
        <key>sourceSize</key>
        <string>{213,191}</string>
      </dict>
      <key>monster_30086_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,1668},{198,148}}</string>
        <key>offset</key>
        <string>{-42,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,148}}</string>
        <key>sourceSize</key>
        <string>{198,148}</string>
      </dict>
      <key>monster_30086_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1239,940},{178,141}}</string>
        <key>offset</key>
        <string>{-53,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,141}}</string>
        <key>sourceSize</key>
        <string>{178,141}</string>
      </dict>
      <key>monster_30086_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1350,1874},{164,141}}</string>
        <key>offset</key>
        <string>{-47,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,141}}</string>
        <key>sourceSize</key>
        <string>{164,141}</string>
      </dict>
      <key>monster_30086_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1544,1488},{210,174}}</string>
        <key>offset</key>
        <string>{-61,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,174}}</string>
        <key>sourceSize</key>
        <string>{210,174}</string>
      </dict>
      <key>monster_30086_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1287},{214,165}}</string>
        <key>offset</key>
        <string>{-65,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,165}}</string>
        <key>sourceSize</key>
        <string>{214,165}</string>
      </dict>
      <key>monster_30086_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,1227},{233,192}}</string>
        <key>offset</key>
        <string>{-65,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,192}}</string>
        <key>sourceSize</key>
        <string>{233,192}</string>
      </dict>
      <key>monster_30086_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,1253},{237,238}}</string>
        <key>offset</key>
        <string>{-60,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,238}}</string>
        <key>sourceSize</key>
        <string>{237,238}</string>
      </dict>
      <key>monster_30086_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,501},{245,204}}</string>
        <key>offset</key>
        <string>{-59,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,204}}</string>
        <key>sourceSize</key>
        <string>{245,204}</string>
      </dict>
      <key>monster_30086_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1462},{229,169}}</string>
        <key>offset</key>
        <string>{-55,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,169}}</string>
        <key>sourceSize</key>
        <string>{229,169}</string>
      </dict>
      <key>monster_30086_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,261},{253,202}}</string>
        <key>offset</key>
        <string>{-56,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,202}}</string>
        <key>sourceSize</key>
        <string>{253,202}</string>
      </dict>
      <key>monster_30086_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1240,236},{231,158}}</string>
        <key>offset</key>
        <string>{-56,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,158}}</string>
        <key>sourceSize</key>
        <string>{231,158}</string>
      </dict>
      <key>monster_30086_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1213,1669},{205,135}}</string>
        <key>offset</key>
        <string>{-51,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,135}}</string>
        <key>sourceSize</key>
        <string>{205,135}</string>
      </dict>
      <key>monster_30086_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,1729},{200,135}}</string>
        <key>offset</key>
        <string>{-53,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,135}}</string>
        <key>sourceSize</key>
        <string>{200,135}</string>
      </dict>
      <key>monster_30086_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1526,155},{230,179}}</string>
        <key>offset</key>
        <string>{-77,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,179}}</string>
        <key>sourceSize</key>
        <string>{230,179}</string>
      </dict>
      <key>monster_30086_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,1207},{229,173}}</string>
        <key>offset</key>
        <string>{-80,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,173}}</string>
        <key>sourceSize</key>
        <string>{229,173}</string>
      </dict>
      <key>monster_30086_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,273},{259,193}}</string>
        <key>offset</key>
        <string>{-86,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,193}}</string>
        <key>sourceSize</key>
        <string>{259,193}</string>
      </dict>
      <key>monster_30086_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,1312},{249,229}}</string>
        <key>offset</key>
        <string>{-51,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,229}}</string>
        <key>sourceSize</key>
        <string>{249,229}</string>
      </dict>
      <key>monster_30086_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,1493},{234,205}}</string>
        <key>offset</key>
        <string>{-35,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,205}}</string>
        <key>sourceSize</key>
        <string>{234,205}</string>
      </dict>
      <key>monster_30086_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1565,622},{221,173}}</string>
        <key>offset</key>
        <string>{-34,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,173}}</string>
        <key>sourceSize</key>
        <string>{221,173}</string>
      </dict>
      <key>monster_30086_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,484},{236,182}}</string>
        <key>offset</key>
        <string>{-36,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,182}}</string>
        <key>sourceSize</key>
        <string>{236,182}</string>
      </dict>
      <key>monster_30086_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1376,0},{231,148}}</string>
        <key>offset</key>
        <string>{-39,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,148}}</string>
        <key>sourceSize</key>
        <string>{231,148}</string>
      </dict>
      <key>monster_30086_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1400,233},{221,113}}</string>
        <key>offset</key>
        <string>{-37,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,113}}</string>
        <key>sourceSize</key>
        <string>{221,113}</string>
      </dict>
      <key>monster_30086_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1388,916},{216,105}}</string>
        <key>offset</key>
        <string>{-34,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,105}}</string>
        <key>sourceSize</key>
        <string>{216,105}</string>
      </dict>
      <key>monster_30086_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,710},{228,180}}</string>
        <key>offset</key>
        <string>{-70,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,180}}</string>
        <key>sourceSize</key>
        <string>{228,180}</string>
      </dict>
      <key>monster_30086_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1693},{207,180}}</string>
        <key>offset</key>
        <string>{-60,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,180}}</string>
        <key>sourceSize</key>
        <string>{207,180}</string>
      </dict>
      <key>monster_30086_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,790},{248,197}}</string>
        <key>offset</key>
        <string>{-76,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,197}}</string>
        <key>sourceSize</key>
        <string>{248,197}</string>
      </dict>
      <key>monster_30086_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{259,196}}</string>
        <key>offset</key>
        <string>{-69,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,196}}</string>
        <key>sourceSize</key>
        <string>{259,196}</string>
      </dict>
      <key>monster_30086_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1054},{256,193}}</string>
        <key>offset</key>
        <string>{-59,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,193}}</string>
        <key>sourceSize</key>
        <string>{256,193}</string>
      </dict>
      <key>monster_30086_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,1289},{241,173}}</string>
        <key>offset</key>
        <string>{-56,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,173}}</string>
        <key>sourceSize</key>
        <string>{241,173}</string>
      </dict>
      <key>monster_30086_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1312},{251,177}}</string>
        <key>offset</key>
        <string>{-52,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,177}}</string>
        <key>sourceSize</key>
        <string>{251,177}</string>
      </dict>
      <key>monster_30086_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,248},{245,145}}</string>
        <key>offset</key>
        <string>{-55,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,145}}</string>
        <key>sourceSize</key>
        <string>{245,145}</string>
      </dict>
      <key>monster_30086_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1239,1134},{215,151}}</string>
        <key>offset</key>
        <string>{-54,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,151}}</string>
        <key>sourceSize</key>
        <string>{215,151}</string>
      </dict>
      <key>monster_30086_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,1744},{201,122}}</string>
        <key>offset</key>
        <string>{-53,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,122}}</string>
        <key>sourceSize</key>
        <string>{201,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30086_0_4.png</string>
      <key>size</key>
      <string>{1795,2017}</string>
      <key>textureFileName</key>
      <string>monster_30086_0_4.png</string>
    </dict>
  </dict>
</plist>