<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30042_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,476},{126,159}}</string>
        <key>offset</key>
        <string>{-44,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,159}}</string>
        <key>sourceSize</key>
        <string>{126,159}</string>
      </dict>
      <key>monster_30042_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,476},{126,157}}</string>
        <key>offset</key>
        <string>{-44,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,157}}</string>
        <key>sourceSize</key>
        <string>{126,157}</string>
      </dict>
      <key>monster_30042_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,505},{133,150}}</string>
        <key>offset</key>
        <string>{-26,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,150}}</string>
        <key>sourceSize</key>
        <string>{133,150}</string>
      </dict>
      <key>monster_30042_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,466},{133,148}}</string>
        <key>offset</key>
        <string>{-26,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,148}}</string>
        <key>sourceSize</key>
        <string>{133,148}</string>
      </dict>
      <key>monster_30042_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,343},{160,157}}</string>
        <key>offset</key>
        <string>{-11,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,157}}</string>
        <key>sourceSize</key>
        <string>{160,157}</string>
      </dict>
      <key>monster_30042_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{165,155}}</string>
        <key>offset</key>
        <string>{-15,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,155}}</string>
        <key>sourceSize</key>
        <string>{165,155}</string>
      </dict>
      <key>monster_30042_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{145,171}}</string>
        <key>offset</key>
        <string>{-25,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,171}}</string>
        <key>sourceSize</key>
        <string>{145,171}</string>
      </dict>
      <key>monster_30042_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,173},{147,168}}</string>
        <key>offset</key>
        <string>{-26,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,168}}</string>
        <key>sourceSize</key>
        <string>{147,168}</string>
      </dict>
      <key>monster_30042_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,181}}</string>
        <key>offset</key>
        <string>{-38,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,181}}</string>
        <key>sourceSize</key>
        <string>{126,181}</string>
      </dict>
      <key>monster_30042_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{126,179}}</string>
        <key>offset</key>
        <string>{-38,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,179}}</string>
        <key>sourceSize</key>
        <string>{126,179}</string>
      </dict>
      <key>monster_30042_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{145,171}}</string>
        <key>offset</key>
        <string>{-76,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,171}}</string>
        <key>sourceSize</key>
        <string>{145,171}</string>
      </dict>
      <key>monster_30042_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{147,168}}</string>
        <key>offset</key>
        <string>{-77,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,168}}</string>
        <key>sourceSize</key>
        <string>{147,168}</string>
      </dict>
      <key>monster_30042_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,314},{160,157}}</string>
        <key>offset</key>
        <string>{-105,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,157}}</string>
        <key>sourceSize</key>
        <string>{160,157}</string>
      </dict>
      <key>monster_30042_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,157},{165,155}}</string>
        <key>offset</key>
        <string>{-106,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,155}}</string>
        <key>sourceSize</key>
        <string>{165,155}</string>
      </dict>
      <key>monster_30042_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,314},{133,150}}</string>
        <key>offset</key>
        <string>{-63,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,150}}</string>
        <key>sourceSize</key>
        <string>{133,150}</string>
      </dict>
      <key>monster_30042_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{133,148}}</string>
        <key>offset</key>
        <string>{-63,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,148}}</string>
        <key>sourceSize</key>
        <string>{133,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30042_0_7.png</string>
      <key>size</key>
      <string>{772,642}</string>
      <key>textureFileName</key>
      <string>monster_30042_0_7.png</string>
    </dict>
  </dict>
</plist>