<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30022_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,1018},{495,335}}</string>
        <key>offset</key>
        <string>{-177,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{495,335}}</string>
        <key>sourceSize</key>
        <string>{495,335}</string>
      </dict>
      <key>monster_30022_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,642},{512,337}}</string>
        <key>offset</key>
        <string>{-191,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{512,337}}</string>
        <key>sourceSize</key>
        <string>{512,337}</string>
      </dict>
      <key>monster_30022_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,338},{501,339}}</string>
        <key>offset</key>
        <string>{-180,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,339}}</string>
        <key>sourceSize</key>
        <string>{501,339}</string>
      </dict>
      <key>monster_30022_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,679},{501,337}}</string>
        <key>offset</key>
        <string>{-182,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,337}}</string>
        <key>sourceSize</key>
        <string>{501,337}</string>
      </dict>
      <key>monster_30022_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{639,336}}</string>
        <key>offset</key>
        <string>{-228,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{639,336}}</string>
        <key>sourceSize</key>
        <string>{639,336}</string>
      </dict>
      <key>monster_30022_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{640,346}}</string>
        <key>offset</key>
        <string>{-247,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{640,346}}</string>
        <key>sourceSize</key>
        <string>{640,346}</string>
      </dict>
      <key>monster_30022_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{594,339}}</string>
        <key>offset</key>
        <string>{-211,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{594,339}}</string>
        <key>sourceSize</key>
        <string>{594,339}</string>
      </dict>
      <key>monster_30022_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1238},{470,332}}</string>
        <key>offset</key>
        <string>{-127,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,332}}</string>
        <key>sourceSize</key>
        <string>{470,332}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30022_0_2_4.png</string>
      <key>size</key>
      <string>{1282,1613}</string>
      <key>textureFileName</key>
      <string>monster_30022_0_2_4.png</string>
    </dict>
  </dict>
</plist>