<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30058_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,365},{354,300}}</string>
        <key>offset</key>
        <string>{-116,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,300}}</string>
        <key>sourceSize</key>
        <string>{354,300}</string>
      </dict>
      <key>monster_30058_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{363,294}}</string>
        <key>offset</key>
        <string>{-119,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,294}}</string>
        <key>sourceSize</key>
        <string>{363,294}</string>
      </dict>
      <key>monster_30058_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{346,298}}</string>
        <key>offset</key>
        <string>{-100,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,298}}</string>
        <key>sourceSize</key>
        <string>{346,298}</string>
      </dict>
      <key>monster_30058_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,721},{315,290}}</string>
        <key>offset</key>
        <string>{-66,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,290}}</string>
        <key>sourceSize</key>
        <string>{315,290}</string>
      </dict>
      <key>monster_30058_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,855},{304,291}}</string>
        <key>offset</key>
        <string>{-58,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,291}}</string>
        <key>sourceSize</key>
        <string>{304,291}</string>
      </dict>
      <key>monster_30058_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,722},{335,309}}</string>
        <key>offset</key>
        <string>{-93,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,309}}</string>
        <key>sourceSize</key>
        <string>{335,309}</string>
      </dict>
      <key>monster_30058_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{238,350}}</string>
        <key>offset</key>
        <string>{-112,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,350}}</string>
        <key>sourceSize</key>
        <string>{238,350}</string>
      </dict>
      <key>monster_30058_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,268},{245,345}}</string>
        <key>offset</key>
        <string>{-116,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,345}}</string>
        <key>sourceSize</key>
        <string>{245,345}</string>
      </dict>
      <key>monster_30058_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{264,355}}</string>
        <key>offset</key>
        <string>{-124,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,355}}</string>
        <key>sourceSize</key>
        <string>{264,355}</string>
      </dict>
      <key>monster_30058_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,0},{266,346}}</string>
        <key>offset</key>
        <string>{-124,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,346}}</string>
        <key>sourceSize</key>
        <string>{266,346}</string>
      </dict>
      <key>monster_30058_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,348},{260,341}}</string>
        <key>offset</key>
        <string>{-115,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,341}}</string>
        <key>sourceSize</key>
        <string>{260,341}</string>
      </dict>
      <key>monster_30058_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,515},{222,338}}</string>
        <key>offset</key>
        <string>{-104,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,338}}</string>
        <key>sourceSize</key>
        <string>{222,338}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30058_0_1_0.png</string>
      <key>size</key>
      <string>{1282,1195}</string>
      <key>textureFileName</key>
      <string>monster_30058_0_1_0.png</string>
    </dict>
  </dict>
</plist>