<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_0451_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{316,221}}</string>
        <key>offset</key>
        <string>{-94,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,221}}</string>
        <key>sourceSize</key>
        <string>{316,221}</string>
      </dict>
      <key>monster_0451_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{316,220}}</string>
        <key>offset</key>
        <string>{-93,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,220}}</string>
        <key>sourceSize</key>
        <string>{316,220}</string>
      </dict>
      <key>monster_0451_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{316,223}}</string>
        <key>offset</key>
        <string>{-91,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,223}}</string>
        <key>sourceSize</key>
        <string>{316,223}</string>
      </dict>
      <key>monster_0451_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,318},{316,222}}</string>
        <key>offset</key>
        <string>{-93,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,222}}</string>
        <key>sourceSize</key>
        <string>{316,222}</string>
      </dict>
      <key>monster_0451_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,269},{204,265}}</string>
        <key>offset</key>
        <string>{-41,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,265}}</string>
        <key>sourceSize</key>
        <string>{204,265}</string>
      </dict>
      <key>monster_0451_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,475},{200,263}}</string>
        <key>offset</key>
        <string>{-42,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,263}}</string>
        <key>sourceSize</key>
        <string>{200,263}</string>
      </dict>
      <key>monster_0451_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,290},{200,267}}</string>
        <key>offset</key>
        <string>{-37,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,267}}</string>
        <key>sourceSize</key>
        <string>{200,267}</string>
      </dict>
      <key>monster_0451_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{204,267}}</string>
        <key>offset</key>
        <string>{-40,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,267}}</string>
        <key>sourceSize</key>
        <string>{204,267}</string>
      </dict>
      <key>monster_0451_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,677},{220,262}}</string>
        <key>offset</key>
        <string>{-61,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,262}}</string>
        <key>sourceSize</key>
        <string>{220,262}</string>
      </dict>
      <key>monster_0451_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,677},{220,259}}</string>
        <key>offset</key>
        <string>{-62,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,259}}</string>
        <key>sourceSize</key>
        <string>{220,259}</string>
      </dict>
      <key>monster_0451_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,262},{224,259}}</string>
        <key>offset</key>
        <string>{-63,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,259}}</string>
        <key>sourceSize</key>
        <string>{224,259}</string>
      </dict>
      <key>monster_0451_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,0},{220,260}}</string>
        <key>offset</key>
        <string>{-61,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,260}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>monster_0451_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{288,203}}</string>
        <key>offset</key>
        <string>{-90,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,203}}</string>
        <key>sourceSize</key>
        <string>{288,203}</string>
      </dict>
      <key>monster_0451_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,636},{288,203}}</string>
        <key>offset</key>
        <string>{-90,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,203}}</string>
        <key>sourceSize</key>
        <string>{288,203}</string>
      </dict>
      <key>monster_0451_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,636},{288,199}}</string>
        <key>offset</key>
        <string>{-90,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,199}}</string>
        <key>sourceSize</key>
        <string>{288,199}</string>
      </dict>
      <key>monster_0451_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{292,201}}</string>
        <key>offset</key>
        <string>{-91,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,201}}</string>
        <key>sourceSize</key>
        <string>{292,201}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_0451_0_0_1.png</string>
      <key>size</key>
      <string>{1246,1026}</string>
      <key>textureFileName</key>
      <string>monster_0451_0_0_1.png</string>
    </dict>
  </dict>
</plist>