<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30049_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,250},{172,239}}</string>
        <key>offset</key>
        <string>{-80,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,239}}</string>
        <key>sourceSize</key>
        <string>{172,239}</string>
      </dict>
      <key>monster_30049_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,0},{152,257}}</string>
        <key>offset</key>
        <string>{-50,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,257}}</string>
        <key>sourceSize</key>
        <string>{152,257}</string>
      </dict>
      <key>monster_30049_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,820},{167,260}}</string>
        <key>offset</key>
        <string>{-56,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,260}}</string>
        <key>sourceSize</key>
        <string>{167,260}</string>
      </dict>
      <key>monster_30049_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,820},{184,258}}</string>
        <key>offset</key>
        <string>{-68,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,258}}</string>
        <key>sourceSize</key>
        <string>{184,258}</string>
      </dict>
      <key>monster_30049_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,556},{187,264}}</string>
        <key>offset</key>
        <string>{-66,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,264}}</string>
        <key>sourceSize</key>
        <string>{187,264}</string>
      </dict>
      <key>monster_30049_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{180,270}}</string>
        <key>offset</key>
        <string>{-29,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,270}}</string>
        <key>sourceSize</key>
        <string>{180,270}</string>
      </dict>
      <key>monster_30049_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{181,281}}</string>
        <key>offset</key>
        <string>{-31,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,281}}</string>
        <key>sourceSize</key>
        <string>{181,281}</string>
      </dict>
      <key>monster_30049_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,1198},{181,136}}</string>
        <key>offset</key>
        <string>{-30,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,136}}</string>
        <key>sourceSize</key>
        <string>{181,136}</string>
      </dict>
      <key>monster_30049_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,422},{219,212}}</string>
        <key>offset</key>
        <string>{-132,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,212}}</string>
        <key>sourceSize</key>
        <string>{219,212}</string>
      </dict>
      <key>monster_30049_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,1034},{237,242}}</string>
        <key>offset</key>
        <string>{-135,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,242}}</string>
        <key>sourceSize</key>
        <string>{237,242}</string>
      </dict>
      <key>monster_30049_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,259},{248,251}}</string>
        <key>offset</key>
        <string>{-131,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,251}}</string>
        <key>sourceSize</key>
        <string>{248,251}</string>
      </dict>
      <key>monster_30049_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,788},{212,244}}</string>
        <key>offset</key>
        <string>{-123,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,244}}</string>
        <key>sourceSize</key>
        <string>{212,244}</string>
      </dict>
      <key>monster_30049_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,512},{190,240}}</string>
        <key>offset</key>
        <string>{-114,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,240}}</string>
        <key>sourceSize</key>
        <string>{190,240}</string>
      </dict>
      <key>monster_30049_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,0},{215,248}}</string>
        <key>offset</key>
        <string>{-107,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,248}}</string>
        <key>sourceSize</key>
        <string>{215,248}</string>
      </dict>
      <key>monster_30049_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{214,271}}</string>
        <key>offset</key>
        <string>{-106,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,271}}</string>
        <key>sourceSize</key>
        <string>{214,271}</string>
      </dict>
      <key>monster_30049_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,636},{213,132}}</string>
        <key>offset</key>
        <string>{-105,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,132}}</string>
        <key>sourceSize</key>
        <string>{213,132}</string>
      </dict>
      <key>monster_30049_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1088},{261,177}}</string>
        <key>offset</key>
        <string>{-193,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,177}}</string>
        <key>sourceSize</key>
        <string>{261,177}</string>
      </dict>
      <key>monster_30049_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,556},{262,207}}</string>
        <key>offset</key>
        <string>{-196,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,207}}</string>
        <key>sourceSize</key>
        <string>{262,207}</string>
      </dict>
      <key>monster_30049_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{264,209}}</string>
        <key>offset</key>
        <string>{-190,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,209}}</string>
        <key>sourceSize</key>
        <string>{264,209}</string>
      </dict>
      <key>monster_30049_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,532},{254,201}}</string>
        <key>offset</key>
        <string>{-178,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,201}}</string>
        <key>sourceSize</key>
        <string>{254,201}</string>
      </dict>
      <key>monster_30049_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,219},{222,201}}</string>
        <key>offset</key>
        <string>{-169,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,201}}</string>
        <key>sourceSize</key>
        <string>{222,201}</string>
      </dict>
      <key>monster_30049_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,754},{209,236}}</string>
        <key>offset</key>
        <string>{-159,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,236}}</string>
        <key>sourceSize</key>
        <string>{209,236}</string>
      </dict>
      <key>monster_30049_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,272},{200,258}}</string>
        <key>offset</key>
        <string>{-150,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,258}}</string>
        <key>sourceSize</key>
        <string>{200,258}</string>
      </dict>
      <key>monster_30049_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,770},{194,122}}</string>
        <key>offset</key>
        <string>{-144,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,122}}</string>
        <key>sourceSize</key>
        <string>{194,122}</string>
      </dict>
      <key>monster_30049_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,992},{204,183}}</string>
        <key>offset</key>
        <string>{-133,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,183}}</string>
        <key>sourceSize</key>
        <string>{204,183}</string>
      </dict>
      <key>monster_30049_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,0},{224,217}}</string>
        <key>offset</key>
        <string>{-151,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,217}}</string>
        <key>sourceSize</key>
        <string>{224,217}</string>
      </dict>
      <key>monster_30049_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,491},{229,223}}</string>
        <key>offset</key>
        <string>{-167,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,223}}</string>
        <key>sourceSize</key>
        <string>{229,223}</string>
      </dict>
      <key>monster_30049_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,239},{226,200}}</string>
        <key>offset</key>
        <string>{-167,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,200}}</string>
        <key>sourceSize</key>
        <string>{226,200}</string>
      </dict>
      <key>monster_30049_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,992},{196,195}}</string>
        <key>offset</key>
        <string>{-147,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,195}}</string>
        <key>sourceSize</key>
        <string>{196,195}</string>
      </dict>
      <key>monster_30049_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,0},{187,237}}</string>
        <key>offset</key>
        <string>{-142,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,237}}</string>
        <key>sourceSize</key>
        <string>{187,237}</string>
      </dict>
      <key>monster_30049_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,1082},{189,259}}</string>
        <key>offset</key>
        <string>{-144,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,259}}</string>
        <key>sourceSize</key>
        <string>{189,259}</string>
      </dict>
      <key>monster_30049_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,0},{189,117}}</string>
        <key>offset</key>
        <string>{-144,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,117}}</string>
        <key>sourceSize</key>
        <string>{189,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30049_0_4_0.png</string>
      <key>size</key>
      <string>{1281,1338}</string>
      <key>textureFileName</key>
      <string>monster_30049_0_4_0.png</string>
    </dict>
  </dict>
</plist>