<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30120_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,842},{236,223}}</string>
        <key>offset</key>
        <string>{-96,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,223}}</string>
        <key>sourceSize</key>
        <string>{236,223}</string>
      </dict>
      <key>monster_30120_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,842},{238,224}}</string>
        <key>offset</key>
        <string>{-94,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,224}}</string>
        <key>sourceSize</key>
        <string>{238,224}</string>
      </dict>
      <key>monster_30120_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{299,239}}</string>
        <key>offset</key>
        <string>{-103,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,239}}</string>
        <key>sourceSize</key>
        <string>{299,239}</string>
      </dict>
      <key>monster_30120_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{288,244}}</string>
        <key>offset</key>
        <string>{-83,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,244}}</string>
        <key>sourceSize</key>
        <string>{288,244}</string>
      </dict>
      <key>monster_30120_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,618},{287,220}}</string>
        <key>offset</key>
        <string>{-155,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,220}}</string>
        <key>sourceSize</key>
        <string>{287,220}</string>
      </dict>
      <key>monster_30120_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,842},{236,219}}</string>
        <key>offset</key>
        <string>{-89,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,219}}</string>
        <key>sourceSize</key>
        <string>{236,219}</string>
      </dict>
      <key>monster_30120_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,575},{265,244}}</string>
        <key>offset</key>
        <string>{-109,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,244}}</string>
        <key>sourceSize</key>
        <string>{265,244}</string>
      </dict>
      <key>monster_30120_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,0},{267,249}}</string>
        <key>offset</key>
        <string>{-111,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,249}}</string>
        <key>sourceSize</key>
        <string>{267,249}</string>
      </dict>
      <key>monster_30120_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,290},{283,257}}</string>
        <key>offset</key>
        <string>{-126,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,257}}</string>
        <key>sourceSize</key>
        <string>{283,257}</string>
      </dict>
      <key>monster_30120_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,269},{265,249}}</string>
        <key>offset</key>
        <string>{-108,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,249}}</string>
        <key>sourceSize</key>
        <string>{265,249}</string>
      </dict>
      <key>monster_30120_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{315,229}}</string>
        <key>offset</key>
        <string>{-160,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,229}}</string>
        <key>sourceSize</key>
        <string>{315,229}</string>
      </dict>
      <key>monster_30120_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,536},{265,231}}</string>
        <key>offset</key>
        <string>{-109,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,231}}</string>
        <key>sourceSize</key>
        <string>{265,231}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30120_0_2_3.png</string>
      <key>size</key>
      <string>{898,1120}</string>
      <key>textureFileName</key>
      <string>monster_30120_0_2_3.png</string>
    </dict>
  </dict>
</plist>