<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30108_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{369,225}}</string>
        <key>offset</key>
        <string>{-171,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,225}}</string>
        <key>sourceSize</key>
        <string>{369,225}</string>
      </dict>
      <key>monster_30108_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{368,228}}</string>
        <key>offset</key>
        <string>{-174,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,228}}</string>
        <key>sourceSize</key>
        <string>{368,228}</string>
      </dict>
      <key>monster_30108_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,365},{357,227}}</string>
        <key>offset</key>
        <string>{-148,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,227}}</string>
        <key>sourceSize</key>
        <string>{357,227}</string>
      </dict>
      <key>monster_30108_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{331,216}}</string>
        <key>offset</key>
        <string>{-136,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,216}}</string>
        <key>sourceSize</key>
        <string>{331,216}</string>
      </dict>
      <key>monster_30108_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{333,221}}</string>
        <key>offset</key>
        <string>{-137,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,221}}</string>
        <key>sourceSize</key>
        <string>{333,221}</string>
      </dict>
      <key>monster_30108_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{363,223}}</string>
        <key>offset</key>
        <string>{-157,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,223}}</string>
        <key>sourceSize</key>
        <string>{363,223}</string>
      </dict>
      <key>monster_30108_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,453},{312,252}}</string>
        <key>offset</key>
        <string>{-108,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,252}}</string>
        <key>sourceSize</key>
        <string>{312,252}</string>
      </dict>
      <key>monster_30108_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,218},{317,233}}</string>
        <key>offset</key>
        <string>{-118,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,233}}</string>
        <key>sourceSize</key>
        <string>{317,233}</string>
      </dict>
      <key>monster_30108_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,453},{300,214}}</string>
        <key>offset</key>
        <string>{-90,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,214}}</string>
        <key>sourceSize</key>
        <string>{300,214}</string>
      </dict>
      <key>monster_30108_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,669},{279,208}}</string>
        <key>offset</key>
        <string>{-76,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,208}}</string>
        <key>sourceSize</key>
        <string>{279,208}</string>
      </dict>
      <key>monster_30108_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,767},{272,210}}</string>
        <key>offset</key>
        <string>{-62,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,210}}</string>
        <key>sourceSize</key>
        <string>{272,210}</string>
      </dict>
      <key>monster_30108_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{312,235}}</string>
        <key>offset</key>
        <string>{-94,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,235}}</string>
        <key>sourceSize</key>
        <string>{312,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30108_0_1_3.png</string>
      <key>size</key>
      <string>{1025,1013}</string>
      <key>textureFileName</key>
      <string>monster_30108_0_1_3.png</string>
    </dict>
  </dict>
</plist>