<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30004_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,1434},{238,245}}</string>
        <key>offset</key>
        <string>{-67,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,245}}</string>
        <key>sourceSize</key>
        <string>{238,245}</string>
      </dict>
      <key>monster_30004_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,996},{277,251}}</string>
        <key>offset</key>
        <string>{-76,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,251}}</string>
        <key>sourceSize</key>
        <string>{277,251}</string>
      </dict>
      <key>monster_30004_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,955},{280,237}}</string>
        <key>offset</key>
        <string>{-77,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,237}}</string>
        <key>sourceSize</key>
        <string>{280,237}</string>
      </dict>
      <key>monster_30004_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,891},{277,253}}</string>
        <key>offset</key>
        <string>{-75,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,253}}</string>
        <key>sourceSize</key>
        <string>{277,253}</string>
      </dict>
      <key>monster_30004_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,1331},{249,221}}</string>
        <key>offset</key>
        <string>{-75,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,221}}</string>
        <key>sourceSize</key>
        <string>{249,221}</string>
      </dict>
      <key>monster_30004_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,1434},{242,182}}</string>
        <key>offset</key>
        <string>{-76,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,182}}</string>
        <key>sourceSize</key>
        <string>{242,182}</string>
      </dict>
      <key>monster_30004_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,1146},{272,183}}</string>
        <key>offset</key>
        <string>{-102,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,183}}</string>
        <key>sourceSize</key>
        <string>{272,183}</string>
      </dict>
      <key>monster_30004_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,689},{289,184}}</string>
        <key>offset</key>
        <string>{-111,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,184}}</string>
        <key>sourceSize</key>
        <string>{289,184}</string>
      </dict>
      <key>monster_30004_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,769},{289,184}}</string>
        <key>offset</key>
        <string>{-111,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,184}}</string>
        <key>sourceSize</key>
        <string>{289,184}</string>
      </dict>
      <key>monster_30004_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,810},{289,184}}</string>
        <key>offset</key>
        <string>{-111,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,184}}</string>
        <key>sourceSize</key>
        <string>{289,184}</string>
      </dict>
      <key>monster_30004_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,911},{267,276}}</string>
        <key>offset</key>
        <string>{-129,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,276}}</string>
        <key>sourceSize</key>
        <string>{267,276}</string>
      </dict>
      <key>monster_30004_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{291,316}}</string>
        <key>offset</key>
        <string>{-129,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,316}}</string>
        <key>sourceSize</key>
        <string>{291,316}</string>
      </dict>
      <key>monster_30004_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,0},{270,308}}</string>
        <key>offset</key>
        <string>{-130,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,308}}</string>
        <key>sourceSize</key>
        <string>{270,308}</string>
      </dict>
      <key>monster_30004_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,501},{266,299}}</string>
        <key>offset</key>
        <string>{-130,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,299}}</string>
        <key>sourceSize</key>
        <string>{266,299}</string>
      </dict>
      <key>monster_30004_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,1180},{252,261}}</string>
        <key>offset</key>
        <string>{-130,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,261}}</string>
        <key>sourceSize</key>
        <string>{252,261}</string>
      </dict>
      <key>monster_30004_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,1165},{268,219}}</string>
        <key>offset</key>
        <string>{-138,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,219}}</string>
        <key>sourceSize</key>
        <string>{268,219}</string>
      </dict>
      <key>monster_30004_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,1194},{268,221}}</string>
        <key>offset</key>
        <string>{-138,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,221}}</string>
        <key>sourceSize</key>
        <string>{268,221}</string>
      </dict>
      <key>monster_30004_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1249},{268,221}}</string>
        <key>offset</key>
        <string>{-138,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,221}}</string>
        <key>sourceSize</key>
        <string>{268,221}</string>
      </dict>
      <key>monster_30004_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1472},{268,221}}</string>
        <key>offset</key>
        <string>{-138,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,221}}</string>
        <key>sourceSize</key>
        <string>{268,221}</string>
      </dict>
      <key>monster_30004_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,1472},{268,221}}</string>
        <key>offset</key>
        <string>{-138,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,221}}</string>
        <key>sourceSize</key>
        <string>{268,221}</string>
      </dict>
      <key>monster_30004_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,664},{225,290}}</string>
        <key>offset</key>
        <string>{-117,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,290}}</string>
        <key>sourceSize</key>
        <string>{225,290}</string>
      </dict>
      <key>monster_30004_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,234},{224,304}}</string>
        <key>offset</key>
        <string>{-117,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,304}}</string>
        <key>sourceSize</key>
        <string>{224,304}</string>
      </dict>
      <key>monster_30004_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,293},{225,312}}</string>
        <key>offset</key>
        <string>{-117,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,312}}</string>
        <key>sourceSize</key>
        <string>{225,312}</string>
      </dict>
      <key>monster_30004_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,0},{232,305}}</string>
        <key>offset</key>
        <string>{-117,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,305}}</string>
        <key>sourceSize</key>
        <string>{232,305}</string>
      </dict>
      <key>monster_30004_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,1417},{232,262}}</string>
        <key>offset</key>
        <string>{-128,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,262}}</string>
        <key>sourceSize</key>
        <string>{232,262}</string>
      </dict>
      <key>monster_30004_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,1681},{232,219}}</string>
        <key>offset</key>
        <string>{-126,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,219}}</string>
        <key>sourceSize</key>
        <string>{232,219}</string>
      </dict>
      <key>monster_30004_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1774},{233,205}}</string>
        <key>offset</key>
        <string>{-127,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,205}}</string>
        <key>sourceSize</key>
        <string>{233,205}</string>
      </dict>
      <key>monster_30004_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,1554},{240,218}}</string>
        <key>offset</key>
        <string>{-134,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,218}}</string>
        <key>sourceSize</key>
        <string>{240,218}</string>
      </dict>
      <key>monster_30004_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,1681},{240,218}}</string>
        <key>offset</key>
        <string>{-134,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,218}}</string>
        <key>sourceSize</key>
        <string>{240,218}</string>
      </dict>
      <key>monster_30004_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,1681},{240,218}}</string>
        <key>offset</key>
        <string>{-134,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,218}}</string>
        <key>sourceSize</key>
        <string>{240,218}</string>
      </dict>
      <key>monster_30004_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,613},{280,296}}</string>
        <key>offset</key>
        <string>{-135,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,296}}</string>
        <key>sourceSize</key>
        <string>{280,296}</string>
      </dict>
      <key>monster_30004_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{314,295}}</string>
        <key>offset</key>
        <string>{-135,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,295}}</string>
        <key>sourceSize</key>
        <string>{314,295}</string>
      </dict>
      <key>monster_30004_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{296,288}}</string>
        <key>offset</key>
        <string>{-135,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,288}}</string>
        <key>sourceSize</key>
        <string>{296,288}</string>
      </dict>
      <key>monster_30004_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,875},{289,288}}</string>
        <key>offset</key>
        <string>{-135,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,288}}</string>
        <key>sourceSize</key>
        <string>{289,288}</string>
      </dict>
      <key>monster_30004_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1251,0},{305,250}}</string>
        <key>offset</key>
        <string>{-156,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,250}}</string>
        <key>sourceSize</key>
        <string>{305,250}</string>
      </dict>
      <key>monster_30004_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,476},{302,211}}</string>
        <key>offset</key>
        <string>{-151,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,211}}</string>
        <key>sourceSize</key>
        <string>{302,211}</string>
      </dict>
      <key>monster_30004_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,272},{304,202}}</string>
        <key>offset</key>
        <string>{-152,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,202}}</string>
        <key>sourceSize</key>
        <string>{304,202}</string>
      </dict>
      <key>monster_30004_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,297},{304,202}}</string>
        <key>offset</key>
        <string>{-152,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,202}}</string>
        <key>sourceSize</key>
        <string>{304,202}</string>
      </dict>
      <key>monster_30004_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,307},{304,202}}</string>
        <key>offset</key>
        <string>{-152,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,202}}</string>
        <key>sourceSize</key>
        <string>{304,202}</string>
      </dict>
      <key>monster_30004_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,460},{304,202}}</string>
        <key>offset</key>
        <string>{-152,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,202}}</string>
        <key>sourceSize</key>
        <string>{304,202}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30004_0_4_0.png</string>
      <key>size</key>
      <string>{1538,2003}</string>
      <key>textureFileName</key>
      <string>monster_30004_0_4_0.png</string>
    </dict>
  </dict>
</plist>