<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{257,439}}</string>
        <key>offset</key>
        <string>{-57,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,439}}</string>
        <key>sourceSize</key>
        <string>{257,439}</string>
      </dict>
      <key>monster_40006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1627,339},{362,394}}</string>
        <key>offset</key>
        <string>{-143,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,394}}</string>
        <key>sourceSize</key>
        <string>{362,394}</string>
      </dict>
      <key>monster_40006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1267,0},{405,358}}</string>
        <key>offset</key>
        <string>{-173,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,358}}</string>
        <key>sourceSize</key>
        <string>{405,358}</string>
      </dict>
      <key>monster_40006_0_7_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1627,0},{337,404}}</string>
        <key>offset</key>
        <string>{-131,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,404}}</string>
        <key>sourceSize</key>
        <string>{337,404}</string>
      </dict>
      <key>monster_40006_0_7_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,433},{305,430}}</string>
        <key>offset</key>
        <string>{-99,319}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,430}}</string>
        <key>sourceSize</key>
        <string>{305,430}</string>
      </dict>
      <key>monster_40006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{415,431}}</string>
        <key>offset</key>
        <string>{-166,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,431}}</string>
        <key>sourceSize</key>
        <string>{415,431}</string>
      </dict>
      <key>monster_40006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{460,441}}</string>
        <key>offset</key>
        <string>{-225,334}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,441}}</string>
        <key>sourceSize</key>
        <string>{460,441}</string>
      </dict>
      <key>monster_40006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,429},{407,416}}</string>
        <key>offset</key>
        <string>{-226,309}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,416}}</string>
        <key>sourceSize</key>
        <string>{407,416}</string>
      </dict>
      <key>monster_40006_0_7_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,462},{405,432}}</string>
        <key>offset</key>
        <string>{-217,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,432}}</string>
        <key>sourceSize</key>
        <string>{405,432}</string>
      </dict>
      <key>monster_40006_0_7_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,0},{405,427}}</string>
        <key>offset</key>
        <string>{-201,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,427}}</string>
        <key>sourceSize</key>
        <string>{405,427}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40006_0_7_3.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40006_0_7_3.png</string>
    </dict>
  </dict>
</plist>