<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30037_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{394,326}}</string>
        <key>offset</key>
        <string>{-202,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,326}}</string>
        <key>sourceSize</key>
        <string>{394,326}</string>
      </dict>
      <key>monster_30037_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,378},{366,323}}</string>
        <key>offset</key>
        <string>{-199,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,323}}</string>
        <key>sourceSize</key>
        <string>{366,323}</string>
      </dict>
      <key>monster_30037_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,746},{351,318}}</string>
        <key>offset</key>
        <string>{-196,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,318}}</string>
        <key>sourceSize</key>
        <string>{351,318}</string>
      </dict>
      <key>monster_30037_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,740},{357,320}}</string>
        <key>offset</key>
        <string>{-193,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,320}}</string>
        <key>sourceSize</key>
        <string>{357,320}</string>
      </dict>
      <key>monster_30037_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,0},{376,330}}</string>
        <key>offset</key>
        <string>{-192,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,330}}</string>
        <key>sourceSize</key>
        <string>{376,330}</string>
      </dict>
      <key>monster_30037_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{390,338}}</string>
        <key>offset</key>
        <string>{-194,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,338}}</string>
        <key>sourceSize</key>
        <string>{390,338}</string>
      </dict>
      <key>monster_30037_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,379},{359,336}}</string>
        <key>offset</key>
        <string>{-197,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,336}}</string>
        <key>sourceSize</key>
        <string>{359,336}</string>
      </dict>
      <key>monster_30037_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{377,354}}</string>
        <key>offset</key>
        <string>{-201,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,354}}</string>
        <key>sourceSize</key>
        <string>{377,354}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30037_0_0_0.png</string>
      <key>size</key>
      <string>{1025,1192}</string>
      <key>textureFileName</key>
      <string>monster_30037_0_0_0.png</string>
    </dict>
  </dict>
</plist>