<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30084_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,0},{193,269}}</string>
        <key>offset</key>
        <string>{-43,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,269}}</string>
        <key>sourceSize</key>
        <string>{193,269}</string>
      </dict>
      <key>monster_30084_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,938},{195,255}}</string>
        <key>offset</key>
        <string>{-41,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,255}}</string>
        <key>sourceSize</key>
        <string>{195,255}</string>
      </dict>
      <key>monster_30084_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,1345},{179,241}}</string>
        <key>offset</key>
        <string>{-59,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,241}}</string>
        <key>sourceSize</key>
        <string>{179,241}</string>
      </dict>
      <key>monster_30084_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,852},{216,258}}</string>
        <key>offset</key>
        <string>{-71,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,258}}</string>
        <key>sourceSize</key>
        <string>{216,258}</string>
      </dict>
      <key>monster_30084_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,197},{196,328}}</string>
        <key>offset</key>
        <string>{-75,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,328}}</string>
        <key>sourceSize</key>
        <string>{196,328}</string>
      </dict>
      <key>monster_30084_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{195,345}}</string>
        <key>offset</key>
        <string>{-54,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,345}}</string>
        <key>sourceSize</key>
        <string>{195,345}</string>
      </dict>
      <key>monster_30084_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,356}}</string>
        <key>offset</key>
        <string>{-44,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,356}}</string>
        <key>sourceSize</key>
        <string>{179,356}</string>
      </dict>
      <key>monster_30084_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,837},{257,263}}</string>
        <key>offset</key>
        <string>{-84,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,263}}</string>
        <key>sourceSize</key>
        <string>{257,263}</string>
      </dict>
      <key>monster_30084_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,1135},{204,249}}</string>
        <key>offset</key>
        <string>{-71,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,249}}</string>
        <key>sourceSize</key>
        <string>{204,249}</string>
      </dict>
      <key>monster_30084_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,859},{229,249}}</string>
        <key>offset</key>
        <string>{-111,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,249}}</string>
        <key>sourceSize</key>
        <string>{229,249}</string>
      </dict>
      <key>monster_30084_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,1090},{242,232}}</string>
        <key>offset</key>
        <string>{-92,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,232}}</string>
        <key>sourceSize</key>
        <string>{242,232}</string>
      </dict>
      <key>monster_30084_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,395},{239,310}}</string>
        <key>offset</key>
        <string>{-82,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,310}}</string>
        <key>sourceSize</key>
        <string>{239,310}</string>
      </dict>
      <key>monster_30084_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,304},{301,319}}</string>
        <key>offset</key>
        <string>{-113,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,319}}</string>
        <key>sourceSize</key>
        <string>{301,319}</string>
      </dict>
      <key>monster_30084_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{291,340}}</string>
        <key>offset</key>
        <string>{-121,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,340}}</string>
        <key>sourceSize</key>
        <string>{291,340}</string>
      </dict>
      <key>monster_30084_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,596},{239,278}}</string>
        <key>offset</key>
        <string>{-115,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,278}}</string>
        <key>sourceSize</key>
        <string>{239,278}</string>
      </dict>
      <key>monster_30084_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,636},{214,259}}</string>
        <key>offset</key>
        <string>{-83,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,259}}</string>
        <key>sourceSize</key>
        <string>{214,259}</string>
      </dict>
      <key>monster_30084_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,1096},{233,229}}</string>
        <key>offset</key>
        <string>{-112,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,229}}</string>
        <key>sourceSize</key>
        <string>{233,229}</string>
      </dict>
      <key>monster_30084_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,1096},{211,231}}</string>
        <key>offset</key>
        <string>{-93,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,231}}</string>
        <key>sourceSize</key>
        <string>{211,231}</string>
      </dict>
      <key>monster_30084_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,607},{250,274}}</string>
        <key>offset</key>
        <string>{-92,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,274}}</string>
        <key>sourceSize</key>
        <string>{250,274}</string>
      </dict>
      <key>monster_30084_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,304},{282,290}}</string>
        <key>offset</key>
        <string>{-114,257}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,290}}</string>
        <key>sourceSize</key>
        <string>{282,290}</string>
      </dict>
      <key>monster_30084_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,0},{335,302}}</string>
        <key>offset</key>
        <string>{-164,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,302}}</string>
        <key>sourceSize</key>
        <string>{335,302}</string>
      </dict>
      <key>monster_30084_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1135},{214,251}}</string>
        <key>offset</key>
        <string>{-86,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,251}}</string>
        <key>sourceSize</key>
        <string>{214,251}</string>
      </dict>
      <key>monster_30084_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,1324},{185,234}}</string>
        <key>offset</key>
        <string>{-60,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,234}}</string>
        <key>sourceSize</key>
        <string>{185,234}</string>
      </dict>
      <key>monster_30084_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,1309},{194,220}}</string>
        <key>offset</key>
        <string>{-73,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,220}}</string>
        <key>sourceSize</key>
        <string>{194,220}</string>
      </dict>
      <key>monster_30084_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1277,0},{191,219}}</string>
        <key>offset</key>
        <string>{-65,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,219}}</string>
        <key>sourceSize</key>
        <string>{191,219}</string>
      </dict>
      <key>monster_30084_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,1096},{183,247}}</string>
        <key>offset</key>
        <string>{-46,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,247}}</string>
        <key>sourceSize</key>
        <string>{183,247}</string>
      </dict>
      <key>monster_30084_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,713},{223,259}}</string>
        <key>offset</key>
        <string>{-64,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,259}}</string>
        <key>sourceSize</key>
        <string>{223,259}</string>
      </dict>
      <key>monster_30084_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{271,237}}</string>
        <key>offset</key>
        <string>{-109,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,237}}</string>
        <key>sourceSize</key>
        <string>{271,237}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30084_0_2_0.png</string>
      <key>size</key>
      <string>{1480,1538}</string>
      <key>textureFileName</key>
      <string>monster_30084_0_2_0.png</string>
    </dict>
  </dict>
</plist>