<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30035_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{236,170}}</string>
        <key>offset</key>
        <string>{-42,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,170}}</string>
        <key>sourceSize</key>
        <string>{236,170}</string>
      </dict>
      <key>monster_30035_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{242,160}}</string>
        <key>offset</key>
        <string>{-54,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,160}}</string>
        <key>sourceSize</key>
        <string>{242,160}</string>
      </dict>
      <key>monster_30035_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{234,172}}</string>
        <key>offset</key>
        <string>{-34,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,172}}</string>
        <key>sourceSize</key>
        <string>{234,172}</string>
      </dict>
      <key>monster_30035_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,236},{216,168}}</string>
        <key>offset</key>
        <string>{-23,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,168}}</string>
        <key>sourceSize</key>
        <string>{216,168}</string>
      </dict>
      <key>monster_30035_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,454},{201,156}}</string>
        <key>offset</key>
        <string>{-16,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,156}}</string>
        <key>sourceSize</key>
        <string>{201,156}</string>
      </dict>
      <key>monster_30035_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{210,154}}</string>
        <key>offset</key>
        <string>{-18,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,154}}</string>
        <key>sourceSize</key>
        <string>{210,154}</string>
      </dict>
      <key>monster_30035_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,454},{208,153}}</string>
        <key>offset</key>
        <string>{-36,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,153}}</string>
        <key>sourceSize</key>
        <string>{208,153}</string>
      </dict>
      <key>monster_30035_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,236},{223,144}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,144}}</string>
        <key>sourceSize</key>
        <string>{223,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30035_0_7_1.png</string>
      <key>size</key>
      <string>{642,664}</string>
      <key>textureFileName</key>
      <string>monster_30035_0_7_1.png</string>
    </dict>
  </dict>
</plist>