<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30012_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{235,122}}</string>
        <key>offset</key>
        <string>{-53,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,122}}</string>
        <key>sourceSize</key>
        <string>{235,122}</string>
      </dict>
      <key>monster_30012_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,214},{205,146}}</string>
        <key>offset</key>
        <string>{-51,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,146}}</string>
        <key>sourceSize</key>
        <string>{205,146}</string>
      </dict>
      <key>monster_30012_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,421},{200,108}}</string>
        <key>offset</key>
        <string>{-79,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,108}}</string>
        <key>sourceSize</key>
        <string>{200,108}</string>
      </dict>
      <key>monster_30012_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,597},{168,129}}</string>
        <key>offset</key>
        <string>{-45,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,129}}</string>
        <key>sourceSize</key>
        <string>{168,129}</string>
      </dict>
      <key>monster_30012_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,171},{114,153}}</string>
        <key>offset</key>
        <string>{-55,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,153}}</string>
        <key>sourceSize</key>
        <string>{114,153}</string>
      </dict>
      <key>monster_30012_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,604},{127,158}}</string>
        <key>offset</key>
        <string>{-45,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,158}}</string>
        <key>sourceSize</key>
        <string>{127,158}</string>
      </dict>
      <key>monster_30012_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,191},{160,175}}</string>
        <key>offset</key>
        <string>{-93,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,175}}</string>
        <key>sourceSize</key>
        <string>{160,175}</string>
      </dict>
      <key>monster_30012_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,597},{152,161}}</string>
        <key>offset</key>
        <string>{-51,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,161}}</string>
        <key>sourceSize</key>
        <string>{152,161}</string>
      </dict>
      <key>monster_30012_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{208,173}}</string>
        <key>offset</key>
        <string>{-88,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,173}}</string>
        <key>sourceSize</key>
        <string>{208,173}</string>
      </dict>
      <key>monster_30012_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{189,159}}</string>
        <key>offset</key>
        <string>{-59,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,159}}</string>
        <key>sourceSize</key>
        <string>{189,159}</string>
      </dict>
      <key>monster_30012_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{201,212}}</string>
        <key>offset</key>
        <string>{-54,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,212}}</string>
        <key>sourceSize</key>
        <string>{201,212}</string>
      </dict>
      <key>monster_30012_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,413},{168,182}}</string>
        <key>offset</key>
        <string>{-45,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,182}}</string>
        <key>sourceSize</key>
        <string>{168,182}</string>
      </dict>
      <key>monster_30012_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{141,217}}</string>
        <key>offset</key>
        <string>{-14,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,217}}</string>
        <key>sourceSize</key>
        <string>{141,217}</string>
      </dict>
      <key>monster_30012_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,413},{128,189}}</string>
        <key>offset</key>
        <string>{-19,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,189}}</string>
        <key>sourceSize</key>
        <string>{128,189}</string>
      </dict>
      <key>monster_30012_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,214},{197,188}}</string>
        <key>offset</key>
        <string>{-12,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,188}}</string>
        <key>sourceSize</key>
        <string>{197,188}</string>
      </dict>
      <key>monster_30012_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{169,166}}</string>
        <key>offset</key>
        <string>{-21,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,166}}</string>
        <key>sourceSize</key>
        <string>{169,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30012_0_7.png</string>
      <key>size</key>
      <string>{770,768}</string>
      <key>textureFileName</key>
      <string>monster_30012_0_7.png</string>
    </dict>
  </dict>
</plist>