<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30059_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{164,192}}</string>
        <key>offset</key>
        <string>{-62,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,192}}</string>
        <key>sourceSize</key>
        <string>{164,192}</string>
      </dict>
      <key>monster_30059_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,198}}</string>
        <key>offset</key>
        <string>{-63,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,198}}</string>
        <key>sourceSize</key>
        <string>{174,198}</string>
      </dict>
      <key>monster_30059_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,181},{156,177}}</string>
        <key>offset</key>
        <string>{-76,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,177}}</string>
        <key>sourceSize</key>
        <string>{156,177}</string>
      </dict>
      <key>monster_30059_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,200},{152,189}}</string>
        <key>offset</key>
        <string>{-52,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,189}}</string>
        <key>sourceSize</key>
        <string>{152,189}</string>
      </dict>
      <key>monster_30059_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,0},{126,169}}</string>
        <key>offset</key>
        <string>{-59,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,169}}</string>
        <key>sourceSize</key>
        <string>{126,169}</string>
      </dict>
      <key>monster_30059_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,391},{119,185}}</string>
        <key>offset</key>
        <string>{-47,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,185}}</string>
        <key>sourceSize</key>
        <string>{119,185}</string>
      </dict>
      <key>monster_30059_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{150,177}}</string>
        <key>offset</key>
        <string>{-83,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,177}}</string>
        <key>sourceSize</key>
        <string>{150,177}</string>
      </dict>
      <key>monster_30059_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{152,179}}</string>
        <key>offset</key>
        <string>{-74,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,179}}</string>
        <key>sourceSize</key>
        <string>{152,179}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30059_0_7_0.png</string>
      <key>size</key>
      <string>{638,514}</string>
      <key>textureFileName</key>
      <string>monster_30059_0_7_0.png</string>
    </dict>
  </dict>
</plist>