<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30084_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,562},{189,264}}</string>
        <key>offset</key>
        <string>{-64,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,264}}</string>
        <key>sourceSize</key>
        <string>{189,264}</string>
      </dict>
      <key>monster_30084_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{198,275}}</string>
        <key>offset</key>
        <string>{-70,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,275}}</string>
        <key>sourceSize</key>
        <string>{198,275}</string>
      </dict>
      <key>monster_30084_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,0},{201,270}}</string>
        <key>offset</key>
        <string>{-70,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,270}}</string>
        <key>sourceSize</key>
        <string>{201,270}</string>
      </dict>
      <key>monster_30084_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{189,266}}</string>
        <key>offset</key>
        <string>{-59,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,266}}</string>
        <key>sourceSize</key>
        <string>{189,266}</string>
      </dict>
      <key>monster_30084_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{179,280}}</string>
        <key>offset</key>
        <string>{-51,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,280}}</string>
        <key>sourceSize</key>
        <string>{179,280}</string>
      </dict>
      <key>monster_30084_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,284}}</string>
        <key>offset</key>
        <string>{-43,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,284}}</string>
        <key>sourceSize</key>
        <string>{169,284}</string>
      </dict>
      <key>monster_30084_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,0},{168,274}}</string>
        <key>offset</key>
        <string>{-43,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,274}}</string>
        <key>sourceSize</key>
        <string>{168,274}</string>
      </dict>
      <key>monster_30084_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,203},{175,265}}</string>
        <key>offset</key>
        <string>{-51,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,265}}</string>
        <key>sourceSize</key>
        <string>{175,265}</string>
      </dict>
      <key>monster_30084_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,380},{224,265}}</string>
        <key>offset</key>
        <string>{-88,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,265}}</string>
        <key>sourceSize</key>
        <string>{224,265}</string>
      </dict>
      <key>monster_30084_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,170},{229,268}}</string>
        <key>offset</key>
        <string>{-79,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,268}}</string>
        <key>sourceSize</key>
        <string>{229,268}</string>
      </dict>
      <key>monster_30084_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,666},{234,262}}</string>
        <key>offset</key>
        <string>{-76,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,262}}</string>
        <key>sourceSize</key>
        <string>{234,262}</string>
      </dict>
      <key>monster_30084_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,657},{243,263}}</string>
        <key>offset</key>
        <string>{-76,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,263}}</string>
        <key>sourceSize</key>
        <string>{243,263}</string>
      </dict>
      <key>monster_30084_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,401},{254,265}}</string>
        <key>offset</key>
        <string>{-84,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,265}}</string>
        <key>sourceSize</key>
        <string>{254,265}</string>
      </dict>
      <key>monster_30084_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,606},{264,261}}</string>
        <key>offset</key>
        <string>{-97,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,261}}</string>
        <key>sourceSize</key>
        <string>{264,261}</string>
      </dict>
      <key>monster_30084_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,753},{257,260}}</string>
        <key>offset</key>
        <string>{-98,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,260}}</string>
        <key>sourceSize</key>
        <string>{257,260}</string>
      </dict>
      <key>monster_30084_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,869},{243,257}}</string>
        <key>offset</key>
        <string>{-95,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,257}}</string>
        <key>sourceSize</key>
        <string>{243,257}</string>
      </dict>
      <key>monster_30084_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,902},{186,241}}</string>
        <key>offset</key>
        <string>{-82,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,241}}</string>
        <key>sourceSize</key>
        <string>{186,241}</string>
      </dict>
      <key>monster_30084_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1126},{224,229}}</string>
        <key>offset</key>
        <string>{-108,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,229}}</string>
        <key>sourceSize</key>
        <string>{224,229}</string>
      </dict>
      <key>monster_30084_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,1114},{232,228}}</string>
        <key>offset</key>
        <string>{-106,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,228}}</string>
        <key>sourceSize</key>
        <string>{232,228}</string>
      </dict>
      <key>monster_30084_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,902},{219,234}}</string>
        <key>offset</key>
        <string>{-79,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,234}}</string>
        <key>sourceSize</key>
        <string>{219,234}</string>
      </dict>
      <key>monster_30084_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1114},{222,255}}</string>
        <key>offset</key>
        <string>{-79,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,255}}</string>
        <key>sourceSize</key>
        <string>{222,255}</string>
      </dict>
      <key>monster_30084_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,181},{244,268}}</string>
        <key>offset</key>
        <string>{-104,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,268}}</string>
        <key>sourceSize</key>
        <string>{244,268}</string>
      </dict>
      <key>monster_30084_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,427},{237,265}}</string>
        <key>offset</key>
        <string>{-108,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,265}}</string>
        <key>sourceSize</key>
        <string>{237,265}</string>
      </dict>
      <key>monster_30084_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,869},{209,255}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,255}}</string>
        <key>sourceSize</key>
        <string>{209,255}</string>
      </dict>
      <key>monster_30084_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,1123},{201,229}}</string>
        <key>offset</key>
        <string>{-84,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,229}}</string>
        <key>sourceSize</key>
        <string>{201,229}</string>
      </dict>
      <key>monster_30084_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,0},{215,229}}</string>
        <key>offset</key>
        <string>{-101,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,229}}</string>
        <key>sourceSize</key>
        <string>{215,229}</string>
      </dict>
      <key>monster_30084_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,217},{217,223}}</string>
        <key>offset</key>
        <string>{-102,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,223}}</string>
        <key>sourceSize</key>
        <string>{217,223}</string>
      </dict>
      <key>monster_30084_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,436},{200,216}}</string>
        <key>offset</key>
        <string>{-88,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,216}}</string>
        <key>sourceSize</key>
        <string>{200,216}</string>
      </dict>
      <key>monster_30084_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,1126},{176,220}}</string>
        <key>offset</key>
        <string>{-69,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,220}}</string>
        <key>sourceSize</key>
        <string>{176,220}</string>
      </dict>
      <key>monster_30084_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,606},{177,248}}</string>
        <key>offset</key>
        <string>{-67,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,248}}</string>
        <key>sourceSize</key>
        <string>{177,248}</string>
      </dict>
      <key>monster_30084_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,1126},{189,248}}</string>
        <key>offset</key>
        <string>{-75,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,248}}</string>
        <key>sourceSize</key>
        <string>{189,248}</string>
      </dict>
      <key>monster_30084_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,1344},{186,226}}</string>
        <key>offset</key>
        <string>{-68,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,226}}</string>
        <key>sourceSize</key>
        <string>{186,226}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30084_0_1_0.png</string>
      <key>size</key>
      <string>{1487,1538}</string>
      <key>textureFileName</key>
      <string>monster_30084_0_1_0.png</string>
    </dict>
  </dict>
</plist>