<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30040_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,579},{125,170}}</string>
        <key>offset</key>
        <string>{-50,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,170}}</string>
        <key>sourceSize</key>
        <string>{125,170}</string>
      </dict>
      <key>monster_30040_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,532},{109,178}}</string>
        <key>offset</key>
        <string>{-34,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,178}}</string>
        <key>sourceSize</key>
        <string>{109,178}</string>
      </dict>
      <key>monster_30040_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,480},{108,183}}</string>
        <key>offset</key>
        <string>{-33,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,183}}</string>
        <key>sourceSize</key>
        <string>{108,183}</string>
      </dict>
      <key>monster_30040_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,313},{107,191}}</string>
        <key>offset</key>
        <string>{-32,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,191}}</string>
        <key>sourceSize</key>
        <string>{107,191}</string>
      </dict>
      <key>monster_30040_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,422},{108,179}}</string>
        <key>offset</key>
        <string>{-33,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,179}}</string>
        <key>sourceSize</key>
        <string>{108,179}</string>
      </dict>
      <key>monster_30040_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,989},{108,164}}</string>
        <key>offset</key>
        <string>{-33,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,164}}</string>
        <key>sourceSize</key>
        <string>{108,164}</string>
      </dict>
      <key>monster_30040_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,1192},{149,147}}</string>
        <key>offset</key>
        <string>{-55,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,147}}</string>
        <key>sourceSize</key>
        <string>{149,147}</string>
      </dict>
      <key>monster_30040_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,1192},{149,151}}</string>
        <key>offset</key>
        <string>{-56,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,151}}</string>
        <key>sourceSize</key>
        <string>{149,151}</string>
      </dict>
      <key>monster_30040_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,720},{152,155}}</string>
        <key>offset</key>
        <string>{-62,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,155}}</string>
        <key>sourceSize</key>
        <string>{152,155}</string>
      </dict>
      <key>monster_30040_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,827},{157,162}}</string>
        <key>offset</key>
        <string>{-69,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,162}}</string>
        <key>sourceSize</key>
        <string>{157,162}</string>
      </dict>
      <key>monster_30040_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,986},{161,153}}</string>
        <key>offset</key>
        <string>{-70,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,153}}</string>
        <key>sourceSize</key>
        <string>{161,153}</string>
      </dict>
      <key>monster_30040_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,1146},{154,143}}</string>
        <key>offset</key>
        <string>{-61,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,143}}</string>
        <key>sourceSize</key>
        <string>{154,143}</string>
      </dict>
      <key>monster_30040_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{196,137}}</string>
        <key>offset</key>
        <string>{-89,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,137}}</string>
        <key>sourceSize</key>
        <string>{196,137}</string>
      </dict>
      <key>monster_30040_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,277},{196,138}}</string>
        <key>offset</key>
        <string>{-91,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,138}}</string>
        <key>sourceSize</key>
        <string>{196,138}</string>
      </dict>
      <key>monster_30040_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{195,140}}</string>
        <key>offset</key>
        <string>{-92,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,140}}</string>
        <key>sourceSize</key>
        <string>{195,140}</string>
      </dict>
      <key>monster_30040_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{205,139}}</string>
        <key>offset</key>
        <string>{-102,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,139}}</string>
        <key>sourceSize</key>
        <string>{205,139}</string>
      </dict>
      <key>monster_30040_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{207,136}}</string>
        <key>offset</key>
        <string>{-102,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,136}}</string>
        <key>sourceSize</key>
        <string>{207,136}</string>
      </dict>
      <key>monster_30040_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,141},{201,134}}</string>
        <key>offset</key>
        <string>{-94,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,134}}</string>
        <key>sourceSize</key>
        <string>{201,134}</string>
      </dict>
      <key>monster_30040_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,989},{165,152}}</string>
        <key>offset</key>
        <string>{-65,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,152}}</string>
        <key>sourceSize</key>
        <string>{165,152}</string>
      </dict>
      <key>monster_30040_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,881},{148,156}}</string>
        <key>offset</key>
        <string>{-65,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,156}}</string>
        <key>sourceSize</key>
        <string>{148,156}</string>
      </dict>
      <key>monster_30040_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1031},{145,156}}</string>
        <key>offset</key>
        <string>{-62,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,156}}</string>
        <key>sourceSize</key>
        <string>{145,156}</string>
      </dict>
      <key>monster_30040_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,551},{154,155}}</string>
        <key>offset</key>
        <string>{-71,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,155}}</string>
        <key>sourceSize</key>
        <string>{154,155}</string>
      </dict>
      <key>monster_30040_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,1034},{156,152}}</string>
        <key>offset</key>
        <string>{-73,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,152}}</string>
        <key>sourceSize</key>
        <string>{156,152}</string>
      </dict>
      <key>monster_30040_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,1149},{151,152}}</string>
        <key>offset</key>
        <string>{-67,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,152}}</string>
        <key>sourceSize</key>
        <string>{151,152}</string>
      </dict>
      <key>monster_30040_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1156},{117,165}}</string>
        <key>offset</key>
        <string>{-46,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,165}}</string>
        <key>sourceSize</key>
        <string>{117,165}</string>
      </dict>
      <key>monster_30040_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,590},{127,170}}</string>
        <key>offset</key>
        <string>{-56,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,170}}</string>
        <key>sourceSize</key>
        <string>{127,170}</string>
      </dict>
      <key>monster_30040_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,643},{141,168}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,168}}</string>
        <key>sourceSize</key>
        <string>{141,168}</string>
      </dict>
      <key>monster_30040_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,698},{134,170}}</string>
        <key>offset</key>
        <string>{-63,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,170}}</string>
        <key>sourceSize</key>
        <string>{134,170}</string>
      </dict>
      <key>monster_30040_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,239}}</string>
        <key>offset</key>
        <string>{-43,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,239}}</string>
        <key>sourceSize</key>
        <string>{121,239}</string>
      </dict>
      <key>monster_30040_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,706},{119,168}}</string>
        <key>offset</key>
        <string>{-48,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,168}}</string>
        <key>sourceSize</key>
        <string>{119,168}</string>
      </dict>
      <key>monster_30040_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,986},{158,156}}</string>
        <key>offset</key>
        <string>{-57,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,156}}</string>
        <key>sourceSize</key>
        <string>{158,156}</string>
      </dict>
      <key>monster_30040_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,720},{164,159}}</string>
        <key>offset</key>
        <string>{-63,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,159}}</string>
        <key>sourceSize</key>
        <string>{164,159}</string>
      </dict>
      <key>monster_30040_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,719},{165,166}}</string>
        <key>offset</key>
        <string>{-63,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,166}}</string>
        <key>sourceSize</key>
        <string>{165,166}</string>
      </dict>
      <key>monster_30040_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{209,162}}</string>
        <key>offset</key>
        <string>{-102,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,162}}</string>
        <key>sourceSize</key>
        <string>{209,162}</string>
      </dict>
      <key>monster_30040_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,786},{163,159}}</string>
        <key>offset</key>
        <string>{-59,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,159}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>monster_30040_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,881},{151,157}}</string>
        <key>offset</key>
        <string>{-50,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,157}}</string>
        <key>sourceSize</key>
        <string>{151,157}</string>
      </dict>
      <key>monster_30040_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,334},{196,144}}</string>
        <key>offset</key>
        <string>{-67,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,144}}</string>
        <key>sourceSize</key>
        <string>{196,144}</string>
      </dict>
      <key>monster_30040_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,0},{201,151}}</string>
        <key>offset</key>
        <string>{-68,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,151}}</string>
        <key>sourceSize</key>
        <string>{201,151}</string>
      </dict>
      <key>monster_30040_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,164},{197,168}}</string>
        <key>offset</key>
        <string>{-63,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,168}}</string>
        <key>sourceSize</key>
        <string>{197,168}</string>
      </dict>
      <key>monster_30040_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,0},{204,166}}</string>
        <key>offset</key>
        <string>{-63,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,166}}</string>
        <key>sourceSize</key>
        <string>{204,166}</string>
      </dict>
      <key>monster_30040_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,168},{201,143}}</string>
        <key>offset</key>
        <string>{-65,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,143}}</string>
        <key>sourceSize</key>
        <string>{201,143}</string>
      </dict>
      <key>monster_30040_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,203},{199,145}}</string>
        <key>offset</key>
        <string>{-67,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,145}}</string>
        <key>sourceSize</key>
        <string>{199,145}</string>
      </dict>
      <key>monster_30040_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,417},{184,160}}</string>
        <key>offset</key>
        <string>{-79,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,160}}</string>
        <key>sourceSize</key>
        <string>{184,160}</string>
      </dict>
      <key>monster_30040_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,551},{167,170}}</string>
        <key>offset</key>
        <string>{-61,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,170}}</string>
        <key>sourceSize</key>
        <string>{167,170}</string>
      </dict>
      <key>monster_30040_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,404},{145,180}}</string>
        <key>offset</key>
        <string>{-42,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,180}}</string>
        <key>sourceSize</key>
        <string>{145,180}</string>
      </dict>
      <key>monster_30040_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,542},{154,182}}</string>
        <key>offset</key>
        <string>{-45,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,182}}</string>
        <key>sourceSize</key>
        <string>{154,182}</string>
      </dict>
      <key>monster_30040_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{153,166}}</string>
        <key>offset</key>
        <string>{-48,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,166}}</string>
        <key>sourceSize</key>
        <string>{153,166}</string>
      </dict>
      <key>monster_30040_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1178},{145,148}}</string>
        <key>offset</key>
        <string>{-41,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,148}}</string>
        <key>sourceSize</key>
        <string>{145,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30040_0_2.png</string>
      <key>size</key>
      <string>{1101,1352}</string>
      <key>textureFileName</key>
      <string>monster_30040_0_2.png</string>
    </dict>
  </dict>
</plist>