<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30001_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,136}}</string>
        <key>offset</key>
        <string>{-106,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,136}}</string>
        <key>sourceSize</key>
        <string>{270,136}</string>
      </dict>
      <key>monster_30001_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,0},{226,192}}</string>
        <key>offset</key>
        <string>{-72,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,192}}</string>
        <key>sourceSize</key>
        <string>{226,192}</string>
      </dict>
      <key>monster_30001_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,575},{205,204}}</string>
        <key>offset</key>
        <string>{-83,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,204}}</string>
        <key>sourceSize</key>
        <string>{205,204}</string>
      </dict>
      <key>monster_30001_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,543},{221,251}}</string>
        <key>offset</key>
        <string>{-48,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,251}}</string>
        <key>sourceSize</key>
        <string>{221,251}</string>
      </dict>
      <key>monster_30001_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,248},{141,240}}</string>
        <key>offset</key>
        <string>{-59,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,240}}</string>
        <key>sourceSize</key>
        <string>{141,240}</string>
      </dict>
      <key>monster_30001_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{207,246}}</string>
        <key>offset</key>
        <string>{-69,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,246}}</string>
        <key>sourceSize</key>
        <string>{207,246}</string>
      </dict>
      <key>monster_30001_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,484},{224,205}}</string>
        <key>offset</key>
        <string>{-81,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,205}}</string>
        <key>sourceSize</key>
        <string>{224,205}</string>
      </dict>
      <key>monster_30001_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,248},{234,228}}</string>
        <key>offset</key>
        <string>{-89,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,228}}</string>
        <key>sourceSize</key>
        <string>{234,228}</string>
      </dict>
      <key>monster_30001_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{269,171}}</string>
        <key>offset</key>
        <string>{-121,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,171}}</string>
        <key>sourceSize</key>
        <string>{269,171}</string>
      </dict>
      <key>monster_30001_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{227,193}}</string>
        <key>offset</key>
        <string>{-113,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,193}}</string>
        <key>sourceSize</key>
        <string>{227,193}</string>
      </dict>
      <key>monster_30001_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,369},{204,207}}</string>
        <key>offset</key>
        <string>{-79,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,207}}</string>
        <key>sourceSize</key>
        <string>{204,207}</string>
      </dict>
      <key>monster_30001_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,228},{223,207}}</string>
        <key>offset</key>
        <string>{-132,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,207}}</string>
        <key>sourceSize</key>
        <string>{223,207}</string>
      </dict>
      <key>monster_30001_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,226},{141,208}}</string>
        <key>offset</key>
        <string>{-40,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,208}}</string>
        <key>sourceSize</key>
        <string>{141,208}</string>
      </dict>
      <key>monster_30001_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,453},{209,185}}</string>
        <key>offset</key>
        <string>{-97,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,185}}</string>
        <key>sourceSize</key>
        <string>{209,185}</string>
      </dict>
      <key>monster_30001_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,0},{224,158}}</string>
        <key>offset</key>
        <string>{-101,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,158}}</string>
        <key>sourceSize</key>
        <string>{224,158}</string>
      </dict>
      <key>monster_30001_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,490},{235,175}}</string>
        <key>offset</key>
        <string>{-103,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,175}}</string>
        <key>sourceSize</key>
        <string>{235,175}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30001_0_7.png</string>
      <key>size</key>
      <string>{1069,872}</string>
      <key>textureFileName</key>
      <string>monster_30001_0_7.png</string>
    </dict>
  </dict>
</plist>