<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30083_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,0},{252,309}}</string>
        <key>offset</key>
        <string>{-161,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,309}}</string>
        <key>sourceSize</key>
        <string>{252,309}</string>
      </dict>
      <key>monster_30083_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,0},{257,275}}</string>
        <key>offset</key>
        <string>{-155,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,275}}</string>
        <key>sourceSize</key>
        <string>{257,275}</string>
      </dict>
      <key>monster_30083_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,529},{251,243}}</string>
        <key>offset</key>
        <string>{-151,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,243}}</string>
        <key>sourceSize</key>
        <string>{251,243}</string>
      </dict>
      <key>monster_30083_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,277},{250,265}}</string>
        <key>offset</key>
        <string>{-150,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,265}}</string>
        <key>sourceSize</key>
        <string>{250,265}</string>
      </dict>
      <key>monster_30083_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,311},{254,302}}</string>
        <key>offset</key>
        <string>{-154,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,302}}</string>
        <key>sourceSize</key>
        <string>{254,302}</string>
      </dict>
      <key>monster_30083_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{255,323}}</string>
        <key>offset</key>
        <string>{-157,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,323}}</string>
        <key>sourceSize</key>
        <string>{255,323}</string>
      </dict>
      <key>monster_30083_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,344},{326,273}}</string>
        <key>offset</key>
        <string>{-164,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,273}}</string>
        <key>sourceSize</key>
        <string>{326,273}</string>
      </dict>
      <key>monster_30083_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{342,231}}</string>
        <key>offset</key>
        <string>{-162,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,231}}</string>
        <key>sourceSize</key>
        <string>{342,231}</string>
      </dict>
      <key>monster_30083_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{329,217}}</string>
        <key>offset</key>
        <string>{-157,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,217}}</string>
        <key>sourceSize</key>
        <string>{329,217}</string>
      </dict>
      <key>monster_30083_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{324,223}}</string>
        <key>offset</key>
        <string>{-159,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,223}}</string>
        <key>sourceSize</key>
        <string>{324,223}</string>
      </dict>
      <key>monster_30083_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,567},{301,262}}</string>
        <key>offset</key>
        <string>{-159,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,262}}</string>
        <key>sourceSize</key>
        <string>{301,262}</string>
      </dict>
      <key>monster_30083_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,567},{270,300}}</string>
        <key>offset</key>
        <string>{-163,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,300}}</string>
        <key>sourceSize</key>
        <string>{270,300}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30083_0_1_1.png</string>
      <key>size</key>
      <string>{1287,898}</string>
      <key>textureFileName</key>
      <string>monster_30083_0_1_1.png</string>
    </dict>
  </dict>
</plist>