<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30108_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,426},{227,276}}</string>
        <key>offset</key>
        <string>{-85,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,276}}</string>
        <key>sourceSize</key>
        <string>{227,276}</string>
      </dict>
      <key>monster_30108_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{368,226}}</string>
        <key>offset</key>
        <string>{-224,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,226}}</string>
        <key>sourceSize</key>
        <string>{368,226}</string>
      </dict>
      <key>monster_30108_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{388,206}}</string>
        <key>offset</key>
        <string>{-234,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,206}}</string>
        <key>sourceSize</key>
        <string>{388,206}</string>
      </dict>
      <key>monster_30108_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{347,198}}</string>
        <key>offset</key>
        <string>{-22,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,198}}</string>
        <key>sourceSize</key>
        <string>{347,198}</string>
      </dict>
      <key>monster_30108_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{304,180}}</string>
        <key>offset</key>
        <string>{-23,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,180}}</string>
        <key>sourceSize</key>
        <string>{304,180}</string>
      </dict>
      <key>monster_30108_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,655},{276,218}}</string>
        <key>offset</key>
        <string>{-10,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,218}}</string>
        <key>sourceSize</key>
        <string>{276,218}</string>
      </dict>
      <key>monster_30108_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,0},{243,269}}</string>
        <key>offset</key>
        <string>{-71,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,269}}</string>
        <key>sourceSize</key>
        <string>{243,269}</string>
      </dict>
      <key>monster_30108_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,760},{276,233}}</string>
        <key>offset</key>
        <string>{-108,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,233}}</string>
        <key>sourceSize</key>
        <string>{276,233}</string>
      </dict>
      <key>monster_30108_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,426},{278,225}}</string>
        <key>offset</key>
        <string>{-120,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,225}}</string>
        <key>sourceSize</key>
        <string>{278,225}</string>
      </dict>
      <key>monster_30108_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,182},{290,242}}</string>
        <key>offset</key>
        <string>{-27,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,242}}</string>
        <key>sourceSize</key>
        <string>{290,242}</string>
      </dict>
      <key>monster_30108_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,706},{271,175}}</string>
        <key>offset</key>
        <string>{-29,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,175}}</string>
        <key>sourceSize</key>
        <string>{271,175}</string>
      </dict>
      <key>monster_30108_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,245},{231,268}}</string>
        <key>offset</key>
        <string>{-24,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,268}}</string>
        <key>sourceSize</key>
        <string>{231,268}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30108_0_2_1.png</string>
      <key>size</key>
      <string>{1019,1100}</string>
      <key>textureFileName</key>
      <string>monster_30108_0_2_1.png</string>
    </dict>
  </dict>
</plist>