<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30074_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,135},{230,107}}</string>
        <key>offset</key>
        <string>{-78,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,107}}</string>
        <key>sourceSize</key>
        <string>{230,107}</string>
      </dict>
      <key>monster_30074_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,522},{242,99}}</string>
        <key>offset</key>
        <string>{-80,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,99}}</string>
        <key>sourceSize</key>
        <string>{242,99}</string>
      </dict>
      <key>monster_30074_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,287},{279,130}}</string>
        <key>offset</key>
        <string>{-85,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,130}}</string>
        <key>sourceSize</key>
        <string>{279,130}</string>
      </dict>
      <key>monster_30074_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{285,129}}</string>
        <key>offset</key>
        <string>{-81,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,129}}</string>
        <key>sourceSize</key>
        <string>{285,129}</string>
      </dict>
      <key>monster_30074_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,249},{236,154}}</string>
        <key>offset</key>
        <string>{-52,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,154}}</string>
        <key>sourceSize</key>
        <string>{236,154}</string>
      </dict>
      <key>monster_30074_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,513},{207,152}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,152}}</string>
        <key>sourceSize</key>
        <string>{207,152}</string>
      </dict>
      <key>monster_30074_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,0},{235,133}}</string>
        <key>offset</key>
        <string>{-62,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,133}}</string>
        <key>sourceSize</key>
        <string>{235,133}</string>
      </dict>
      <key>monster_30074_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{247,134}}</string>
        <key>offset</key>
        <string>{-69,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,134}}</string>
        <key>sourceSize</key>
        <string>{247,134}</string>
      </dict>
      <key>monster_30074_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{259,120}}</string>
        <key>offset</key>
        <string>{-90,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,120}}</string>
        <key>sourceSize</key>
        <string>{259,120}</string>
      </dict>
      <key>monster_30074_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,261},{259,121}}</string>
        <key>offset</key>
        <string>{-99,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,121}}</string>
        <key>sourceSize</key>
        <string>{259,121}</string>
      </dict>
      <key>monster_30074_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,699},{205,133}}</string>
        <key>offset</key>
        <string>{-59,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,133}}</string>
        <key>sourceSize</key>
        <string>{205,133}</string>
      </dict>
      <key>monster_30074_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,244},{230,125}}</string>
        <key>offset</key>
        <string>{-66,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,125}}</string>
        <key>sourceSize</key>
        <string>{230,125}</string>
      </dict>
      <key>monster_30074_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,371},{226,140}}</string>
        <key>offset</key>
        <string>{-45,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,140}}</string>
        <key>sourceSize</key>
        <string>{226,140}</string>
      </dict>
      <key>monster_30074_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,487},{224,133}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,133}}</string>
        <key>sourceSize</key>
        <string>{224,133}</string>
      </dict>
      <key>monster_30074_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{281,125}}</string>
        <key>offset</key>
        <string>{-72,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,125}}</string>
        <key>sourceSize</key>
        <string>{281,125}</string>
      </dict>
      <key>monster_30074_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{283,118}}</string>
        <key>offset</key>
        <string>{-75,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,118}}</string>
        <key>sourceSize</key>
        <string>{283,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30074_0_7.png</string>
      <key>size</key>
      <string>{769,834}</string>
      <key>textureFileName</key>
      <string>monster_30074_0_7.png</string>
    </dict>
  </dict>
</plist>