<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30035_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,164},{244,198}}</string>
        <key>offset</key>
        <string>{-52,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,198}}</string>
        <key>sourceSize</key>
        <string>{244,198}</string>
      </dict>
      <key>monster_30035_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,513},{243,165}}</string>
        <key>offset</key>
        <string>{-35,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,165}}</string>
        <key>sourceSize</key>
        <string>{243,165}</string>
      </dict>
      <key>monster_30035_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,0},{248,158}}</string>
        <key>offset</key>
        <string>{-53,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,158}}</string>
        <key>sourceSize</key>
        <string>{248,158}</string>
      </dict>
      <key>monster_30035_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1139},{188,154}}</string>
        <key>offset</key>
        <string>{-39,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,154}}</string>
        <key>sourceSize</key>
        <string>{188,154}</string>
      </dict>
      <key>monster_30035_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{258,170}}</string>
        <key>offset</key>
        <string>{-110,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,170}}</string>
        <key>sourceSize</key>
        <string>{258,170}</string>
      </dict>
      <key>monster_30035_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,802},{219,149}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,149}}</string>
        <key>sourceSize</key>
        <string>{219,149}</string>
      </dict>
      <key>monster_30035_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,600},{200,225}}</string>
        <key>offset</key>
        <string>{-40,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,225}}</string>
        <key>sourceSize</key>
        <string>{200,225}</string>
      </dict>
      <key>monster_30035_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,260},{251,199}}</string>
        <key>offset</key>
        <string>{-40,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,199}}</string>
        <key>sourceSize</key>
        <string>{251,199}</string>
      </dict>
      <key>monster_30035_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,288},{263,163}}</string>
        <key>offset</key>
        <string>{-55,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,163}}</string>
        <key>sourceSize</key>
        <string>{263,163}</string>
      </dict>
      <key>monster_30035_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,364},{234,156}}</string>
        <key>offset</key>
        <string>{-63,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,156}}</string>
        <key>sourceSize</key>
        <string>{234,156}</string>
      </dict>
      <key>monster_30035_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{245,162}}</string>
        <key>offset</key>
        <string>{-75,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,162}}</string>
        <key>sourceSize</key>
        <string>{245,162}</string>
      </dict>
      <key>monster_30035_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,721},{225,161}}</string>
        <key>offset</key>
        <string>{-53,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,161}}</string>
        <key>sourceSize</key>
        <string>{225,161}</string>
      </dict>
      <key>monster_30035_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{286,198}}</string>
        <key>offset</key>
        <string>{-126,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,198}}</string>
        <key>sourceSize</key>
        <string>{286,198}</string>
      </dict>
      <key>monster_30035_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,654},{282,190}}</string>
        <key>offset</key>
        <string>{-98,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,190}}</string>
        <key>sourceSize</key>
        <string>{282,190}</string>
      </dict>
      <key>monster_30035_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,884},{216,201}}</string>
        <key>offset</key>
        <string>{-29,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,201}}</string>
        <key>sourceSize</key>
        <string>{216,201}</string>
      </dict>
      <key>monster_30035_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,758},{237,168}}</string>
        <key>offset</key>
        <string>{-52,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,168}}</string>
        <key>sourceSize</key>
        <string>{237,168}</string>
      </dict>
      <key>monster_30035_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,364},{244,175}}</string>
        <key>offset</key>
        <string>{-65,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,175}}</string>
        <key>sourceSize</key>
        <string>{244,175}</string>
      </dict>
      <key>monster_30035_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,938},{199,179}}</string>
        <key>offset</key>
        <string>{-23,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,179}}</string>
        <key>sourceSize</key>
        <string>{199,179}</string>
      </dict>
      <key>monster_30035_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{336,167}}</string>
        <key>offset</key>
        <string>{-153,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,167}}</string>
        <key>sourceSize</key>
        <string>{336,167}</string>
      </dict>
      <key>monster_30035_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,338},{314,203}}</string>
        <key>offset</key>
        <string>{-138,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,203}}</string>
        <key>sourceSize</key>
        <string>{314,203}</string>
      </dict>
      <key>monster_30035_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,654},{277,191}}</string>
        <key>offset</key>
        <string>{-98,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,191}}</string>
        <key>sourceSize</key>
        <string>{277,191}</string>
      </dict>
      <key>monster_30035_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,933},{201,183}}</string>
        <key>offset</key>
        <string>{-23,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,183}}</string>
        <key>sourceSize</key>
        <string>{201,183}</string>
      </dict>
      <key>monster_30035_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,541},{226,178}}</string>
        <key>offset</key>
        <string>{-23,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>monster_30035_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,1023},{202,195}}</string>
        <key>offset</key>
        <string>{-23,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,195}}</string>
        <key>sourceSize</key>
        <string>{202,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30035_0_2_0.png</string>
      <key>size</key>
      <string>{1027,1310}</string>
      <key>textureFileName</key>
      <string>monster_30035_0_2_0.png</string>
    </dict>
  </dict>
</plist>