<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30100_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,1145},{207,273}}</string>
        <key>offset</key>
        <string>{-61,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,273}}</string>
        <key>sourceSize</key>
        <string>{207,273}</string>
      </dict>
      <key>monster_30100_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,400},{250,248}}</string>
        <key>offset</key>
        <string>{-112,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,248}}</string>
        <key>sourceSize</key>
        <string>{250,248}</string>
      </dict>
      <key>monster_30100_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,0},{254,209}}</string>
        <key>offset</key>
        <string>{-68,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,209}}</string>
        <key>sourceSize</key>
        <string>{254,209}</string>
      </dict>
      <key>monster_30100_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,0},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,843},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,1100},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,843},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,543},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,257},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,0},{255,214}}</string>
        <key>offset</key>
        <string>{-71,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,214}}</string>
        <key>sourceSize</key>
        <string>{255,214}</string>
      </dict>
      <key>monster_30100_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{180,281}}</string>
        <key>offset</key>
        <string>{-46,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,281}}</string>
        <key>sourceSize</key>
        <string>{180,281}</string>
      </dict>
      <key>monster_30100_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,574},{267,215}}</string>
        <key>offset</key>
        <string>{-132,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,215}}</string>
        <key>sourceSize</key>
        <string>{267,215}</string>
      </dict>
      <key>monster_30100_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,580},{283,204}}</string>
        <key>offset</key>
        <string>{-125,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,204}}</string>
        <key>sourceSize</key>
        <string>{283,204}</string>
      </dict>
      <key>monster_30100_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,297},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,587},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,877},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,1167},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,290},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{288,177}}</string>
        <key>offset</key>
        <string>{-103,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,177}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_30100_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,290},{180,282}}</string>
        <key>offset</key>
        <string>{-40,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,282}}</string>
        <key>sourceSize</key>
        <string>{180,282}</string>
      </dict>
      <key>monster_30100_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,650},{235,219}}</string>
        <key>offset</key>
        <string>{-124,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,219}}</string>
        <key>sourceSize</key>
        <string>{235,219}</string>
      </dict>
      <key>monster_30100_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1198,1154},{232,203}}</string>
        <key>offset</key>
        <string>{-144,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,203}}</string>
        <key>sourceSize</key>
        <string>{232,203}</string>
      </dict>
      <key>monster_30100_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,891},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1188},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,1188},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{295,151}}</string>
        <key>offset</key>
        <string>{-91,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,151}}</string>
        <key>sourceSize</key>
        <string>{295,151}</string>
      </dict>
      <key>monster_30100_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,211},{187,251}}</string>
        <key>offset</key>
        <string>{-62,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,251}}</string>
        <key>sourceSize</key>
        <string>{187,251}</string>
      </dict>
      <key>monster_30100_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,865},{278,204}}</string>
        <key>offset</key>
        <string>{-160,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,204}}</string>
        <key>sourceSize</key>
        <string>{278,204}</string>
      </dict>
      <key>monster_30100_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,283},{258,203}}</string>
        <key>offset</key>
        <string>{-149,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,203}}</string>
        <key>sourceSize</key>
        <string>{258,203}</string>
      </dict>
      <key>monster_30100_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1366,400},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
      <key>monster_30100_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,1357},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
      <key>monster_30100_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,1100},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
      <key>monster_30100_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,1352},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
      <key>monster_30100_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1198,650},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
      <key>monster_30100_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1357,652},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
      <key>monster_30100_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1198,902},{250,157}}</string>
        <key>offset</key>
        <string>{-65,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,157}}</string>
        <key>sourceSize</key>
        <string>{250,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30100_0_4_0.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>monster_30100_0_4_0.png</string>
    </dict>
  </dict>
</plist>