<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40006_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{272,439}}</string>
        <key>offset</key>
        <string>{-57,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,439}}</string>
        <key>sourceSize</key>
        <string>{272,439}</string>
      </dict>
      <key>monster_40006_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{281,460}}</string>
        <key>offset</key>
        <string>{-60,348}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,460}}</string>
        <key>sourceSize</key>
        <string>{281,460}</string>
      </dict>
      <key>monster_40006_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,905},{309,432}}</string>
        <key>offset</key>
        <string>{-85,305}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,432}}</string>
        <key>sourceSize</key>
        <string>{309,432}</string>
      </dict>
      <key>monster_40006_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,867},{404,299}}</string>
        <key>offset</key>
        <string>{-177,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,299}}</string>
        <key>sourceSize</key>
        <string>{404,299}</string>
      </dict>
      <key>monster_40006_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1770},{362,267}}</string>
        <key>offset</key>
        <string>{-156,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,267}}</string>
        <key>sourceSize</key>
        <string>{362,267}</string>
      </dict>
      <key>monster_40006_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,814},{337,317}}</string>
        <key>offset</key>
        <string>{-144,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,317}}</string>
        <key>sourceSize</key>
        <string>{337,317}</string>
      </dict>
      <key>monster_40006_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,1273},{306,359}}</string>
        <key>offset</key>
        <string>{-109,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,359}}</string>
        <key>sourceSize</key>
        <string>{306,359}</string>
      </dict>
      <key>monster_40006_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{284,423}}</string>
        <key>offset</key>
        <string>{-80,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,423}}</string>
        <key>sourceSize</key>
        <string>{284,423}</string>
      </dict>
      <key>monster_40006_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,441},{415,424}}</string>
        <key>offset</key>
        <string>{-166,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,424}}</string>
        <key>sourceSize</key>
        <string>{415,424}</string>
      </dict>
      <key>monster_40006_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1339},{424,429}}</string>
        <key>offset</key>
        <string>{-162,332}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,429}}</string>
        <key>sourceSize</key>
        <string>{424,429}</string>
      </dict>
      <key>monster_40006_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,1335},{418,412}}</string>
        <key>offset</key>
        <string>{-200,306}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,412}}</string>
        <key>sourceSize</key>
        <string>{418,412}</string>
      </dict>
      <key>monster_40006_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{441,356}}</string>
        <key>offset</key>
        <string>{-237,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{441,356}}</string>
        <key>sourceSize</key>
        <string>{441,356}</string>
      </dict>
      <key>monster_40006_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,1634},{354,329}}</string>
        <key>offset</key>
        <string>{-164,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,329}}</string>
        <key>sourceSize</key>
        <string>{354,329}</string>
      </dict>
      <key>monster_40006_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,0},{369,339}}</string>
        <key>offset</key>
        <string>{-188,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,339}}</string>
        <key>sourceSize</key>
        <string>{369,339}</string>
      </dict>
      <key>monster_40006_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,425},{387,350}}</string>
        <key>offset</key>
        <string>{-196,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,350}}</string>
        <key>sourceSize</key>
        <string>{387,350}</string>
      </dict>
      <key>monster_40006_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,905},{428,407}}</string>
        <key>offset</key>
        <string>{-196,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,407}}</string>
        <key>sourceSize</key>
        <string>{428,407}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40006_0_0_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40006_0_0_3.png</string>
    </dict>
  </dict>
</plist>