<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30048_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,222}}</string>
        <key>offset</key>
        <string>{-41,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,222}}</string>
        <key>sourceSize</key>
        <string>{172,222}</string>
      </dict>
      <key>monster_30048_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{195,218}}</string>
        <key>offset</key>
        <string>{-57,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,218}}</string>
        <key>sourceSize</key>
        <string>{195,218}</string>
      </dict>
      <key>monster_30048_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{185,217}}</string>
        <key>offset</key>
        <string>{-47,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,217}}</string>
        <key>sourceSize</key>
        <string>{185,217}</string>
      </dict>
      <key>monster_30048_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{181,214}}</string>
        <key>offset</key>
        <string>{-43,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,214}}</string>
        <key>sourceSize</key>
        <string>{181,214}</string>
      </dict>
      <key>monster_30048_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,1055},{170,186}}</string>
        <key>offset</key>
        <string>{-32,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,186}}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>monster_30048_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,839},{170,186}}</string>
        <key>offset</key>
        <string>{-32,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,186}}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>monster_30048_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,1027},{170,186}}</string>
        <key>offset</key>
        <string>{-32,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,186}}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>monster_30048_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,604},{170,186}}</string>
        <key>offset</key>
        <string>{-32,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,186}}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>monster_30048_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,383},{170,186}}</string>
        <key>offset</key>
        <string>{-32,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,186}}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>monster_30048_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,792},{170,186}}</string>
        <key>offset</key>
        <string>{-32,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,186}}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>monster_30048_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,660},{197,200}}</string>
        <key>offset</key>
        <string>{-48,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,200}}</string>
        <key>sourceSize</key>
        <string>{197,200}</string>
      </dict>
      <key>monster_30048_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,660},{140,209}}</string>
        <key>offset</key>
        <string>{-53,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,209}}</string>
        <key>sourceSize</key>
        <string>{140,209}</string>
      </dict>
      <key>monster_30048_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1082},{138,208}}</string>
        <key>offset</key>
        <string>{-53,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,208}}</string>
        <key>sourceSize</key>
        <string>{138,208}</string>
      </dict>
      <key>monster_30048_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,1292},{136,205}}</string>
        <key>offset</key>
        <string>{-51,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,205}}</string>
        <key>sourceSize</key>
        <string>{136,205}</string>
      </dict>
      <key>monster_30048_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,571},{115,186}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,1215},{115,186}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,1403},{115,186}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1215},{115,186}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,1403},{115,186}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,980},{115,186}}</string>
        <key>offset</key>
        <string>{-31,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,414},{188,166}}</string>
        <key>offset</key>
        <string>{-58,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,166}}</string>
        <key>sourceSize</key>
        <string>{188,166}</string>
      </dict>
      <key>monster_30048_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,740},{151,180}}</string>
        <key>offset</key>
        <string>{-60,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,180}}</string>
        <key>sourceSize</key>
        <string>{151,180}</string>
      </dict>
      <key>monster_30048_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1217,368},{151,179}}</string>
        <key>offset</key>
        <string>{-60,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,179}}</string>
        <key>sourceSize</key>
        <string>{151,179}</string>
      </dict>
      <key>monster_30048_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1384,0},{150,176}}</string>
        <key>offset</key>
        <string>{-59,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,176}}</string>
        <key>sourceSize</key>
        <string>{150,176}</string>
      </dict>
      <key>monster_30048_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1188,1274},{131,148}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1360},{131,148}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1468,719},{131,148}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,1360},{131,148}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,178},{131,148}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1528,311},{131,148}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1046},{155,162}}</string>
        <key>offset</key>
        <string>{-62,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,162}}</string>
        <key>sourceSize</key>
        <string>{155,162}</string>
      </dict>
      <key>monster_30048_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,0},{191,190}}</string>
        <key>offset</key>
        <string>{-101,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,190}}</string>
        <key>sourceSize</key>
        <string>{191,190}</string>
      </dict>
      <key>monster_30048_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,1060},{191,187}}</string>
        <key>offset</key>
        <string>{-101,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,187}}</string>
        <key>sourceSize</key>
        <string>{191,187}</string>
      </dict>
      <key>monster_30048_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,1253},{187,186}}</string>
        <key>offset</key>
        <string>{-101,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,186}}</string>
        <key>sourceSize</key>
        <string>{187,186}</string>
      </dict>
      <key>monster_30048_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,188},{182,158}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,0},{182,158}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,562},{182,158}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,372},{182,158}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,184},{182,158}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1064,0},{182,158}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,877},{173,167}}</string>
        <key>offset</key>
        <string>{-82,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,167}}</string>
        <key>sourceSize</key>
        <string>{173,167}</string>
      </dict>
      <key>monster_30048_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,862},{193,196}}</string>
        <key>offset</key>
        <string>{-88,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,196}}</string>
        <key>sourceSize</key>
        <string>{193,196}</string>
      </dict>
      <key>monster_30048_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,219},{193,186}}</string>
        <key>offset</key>
        <string>{-88,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,186}}</string>
        <key>sourceSize</key>
        <string>{193,186}</string>
      </dict>
      <key>monster_30048_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,376},{173,184}}</string>
        <key>offset</key>
        <string>{-88,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,184}}</string>
        <key>sourceSize</key>
        <string>{173,184}</string>
      </dict>
      <key>monster_30048_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,543},{174,156}}</string>
        <key>offset</key>
        <string>{-84,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,156}}</string>
        <key>sourceSize</key>
        <string>{174,156}</string>
      </dict>
      <key>monster_30048_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,719},{174,156}}</string>
        <key>offset</key>
        <string>{-84,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,156}}</string>
        <key>sourceSize</key>
        <string>{174,156}</string>
      </dict>
      <key>monster_30048_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,1114},{174,156}}</string>
        <key>offset</key>
        <string>{-84,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,156}}</string>
        <key>sourceSize</key>
        <string>{174,156}</string>
      </dict>
      <key>monster_30048_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,922},{174,156}}</string>
        <key>offset</key>
        <string>{-84,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,156}}</string>
        <key>sourceSize</key>
        <string>{174,156}</string>
      </dict>
      <key>monster_30048_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,1290},{174,156}}</string>
        <key>offset</key>
        <string>{-84,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,156}}</string>
        <key>sourceSize</key>
        <string>{174,156}</string>
      </dict>
      <key>monster_30048_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1163,1098},{174,156}}</string>
        <key>offset</key>
        <string>{-84,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,156}}</string>
        <key>sourceSize</key>
        <string>{174,156}</string>
      </dict>
      <key>monster_30048_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1203},{155,162}}</string>
        <key>offset</key>
        <string>{-59,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,162}}</string>
        <key>sourceSize</key>
        <string>{155,162}</string>
      </dict>
      <key>monster_30048_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,862},{191,190}}</string>
        <key>offset</key>
        <string>{-56,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,190}}</string>
        <key>sourceSize</key>
        <string>{191,190}</string>
      </dict>
      <key>monster_30048_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,646},{191,187}}</string>
        <key>offset</key>
        <string>{-56,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,187}}</string>
        <key>sourceSize</key>
        <string>{191,187}</string>
      </dict>
      <key>monster_30048_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,1253},{187,186}}</string>
        <key>offset</key>
        <string>{-52,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,186}}</string>
        <key>sourceSize</key>
        <string>{187,186}</string>
      </dict>
      <key>monster_30048_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,746},{182,158}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,556},{182,158}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,368},{182,158}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1107,184},{182,158}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,0},{182,158}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,930},{182,158}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,158}}</string>
        <key>sourceSize</key>
        <string>{182,158}</string>
      </dict>
      <key>monster_30048_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,193},{188,166}}</string>
        <key>offset</key>
        <string>{-96,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,166}}</string>
        <key>sourceSize</key>
        <string>{188,166}</string>
      </dict>
      <key>monster_30048_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,552},{151,180}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,180}}</string>
        <key>sourceSize</key>
        <string>{151,180}</string>
      </dict>
      <key>monster_30048_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1267,184},{151,179}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,179}}</string>
        <key>sourceSize</key>
        <string>{151,179}</string>
      </dict>
      <key>monster_30048_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,365},{150,176}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,176}}</string>
        <key>sourceSize</key>
        <string>{150,176}</string>
      </dict>
      <key>monster_30048_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1528,461},{131,148}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1496,869},{131,148}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1496,1002},{131,148}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,1135},{131,148}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,0},{131,148}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,133},{131,148}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,148}}</string>
        <key>sourceSize</key>
        <string>{131,148}</string>
      </dict>
      <key>monster_30048_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,444},{197,200}}</string>
        <key>offset</key>
        <string>{-115,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,200}}</string>
        <key>sourceSize</key>
        <string>{197,200}</string>
      </dict>
      <key>monster_30048_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,871},{140,209}}</string>
        <key>offset</key>
        <string>{-53,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,209}}</string>
        <key>sourceSize</key>
        <string>{140,209}</string>
      </dict>
      <key>monster_30048_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1292},{138,208}}</string>
        <key>offset</key>
        <string>{-51,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,208}}</string>
        <key>sourceSize</key>
        <string>{138,208}</string>
      </dict>
      <key>monster_30048_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,1082},{136,205}}</string>
        <key>offset</key>
        <string>{-51,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,205}}</string>
        <key>sourceSize</key>
        <string>{136,205}</string>
      </dict>
      <key>monster_30048_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,1168},{115,186}}</string>
        <key>offset</key>
        <string>{-50,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,0},{115,186}}</string>
        <key>offset</key>
        <string>{-50,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,188},{115,186}}</string>
        <key>offset</key>
        <string>{-50,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,188},{115,186}}</string>
        <key>offset</key>
        <string>{-50,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,0},{115,186}}</string>
        <key>offset</key>
        <string>{-50,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
      <key>monster_30048_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,0},{115,186}}</string>
        <key>offset</key>
        <string>{-50,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,186}}</string>
        <key>sourceSize</key>
        <string>{115,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30048_0_4.png</string>
      <key>size</key>
      <string>{1731,1539}</string>
      <key>textureFileName</key>
      <string>monster_30048_0_4.png</string>
    </dict>
  </dict>
</plist>