<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30068_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,182},{206,190}}</string>
        <key>offset</key>
        <string>{-51,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,190}}</string>
        <key>sourceSize</key>
        <string>{206,190}</string>
      </dict>
      <key>monster_30068_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,374},{206,185}}</string>
        <key>offset</key>
        <string>{-51,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,185}}</string>
        <key>sourceSize</key>
        <string>{206,185}</string>
      </dict>
      <key>monster_30068_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,734},{216,195}}</string>
        <key>offset</key>
        <string>{-56,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,195}}</string>
        <key>sourceSize</key>
        <string>{216,195}</string>
      </dict>
      <key>monster_30068_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,1280},{231,195}}</string>
        <key>offset</key>
        <string>{-66,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,195}}</string>
        <key>sourceSize</key>
        <string>{231,195}</string>
      </dict>
      <key>monster_30068_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,769},{226,185}}</string>
        <key>offset</key>
        <string>{-66,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,185}}</string>
        <key>sourceSize</key>
        <string>{226,185}</string>
      </dict>
      <key>monster_30068_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,1220},{216,195}}</string>
        <key>offset</key>
        <string>{-61,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,195}}</string>
        <key>sourceSize</key>
        <string>{216,195}</string>
      </dict>
      <key>monster_30068_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,1037},{231,180}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,180}}</string>
        <key>sourceSize</key>
        <string>{231,180}</string>
      </dict>
      <key>monster_30068_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,506},{226,175}}</string>
        <key>offset</key>
        <string>{-71,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,175}}</string>
        <key>sourceSize</key>
        <string>{226,175}</string>
      </dict>
      <key>monster_30068_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,268},{256,180}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,180}}</string>
        <key>sourceSize</key>
        <string>{256,180}</string>
      </dict>
      <key>monster_30068_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{281,175}}</string>
        <key>offset</key>
        <string>{-86,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,175}}</string>
        <key>sourceSize</key>
        <string>{281,175}</string>
      </dict>
      <key>monster_30068_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,586},{276,170}}</string>
        <key>offset</key>
        <string>{-86,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,170}}</string>
        <key>sourceSize</key>
        <string>{276,170}</string>
      </dict>
      <key>monster_30068_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,0},{256,175}}</string>
        <key>offset</key>
        <string>{-81,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,175}}</string>
        <key>sourceSize</key>
        <string>{256,175}</string>
      </dict>
      <key>monster_30068_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{296,175}}</string>
        <key>offset</key>
        <string>{-106,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,175}}</string>
        <key>sourceSize</key>
        <string>{296,175}</string>
      </dict>
      <key>monster_30068_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{286,185}}</string>
        <key>offset</key>
        <string>{-106,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,185}}</string>
        <key>sourceSize</key>
        <string>{286,185}</string>
      </dict>
      <key>monster_30068_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,864},{276,175}}</string>
        <key>offset</key>
        <string>{-111,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,175}}</string>
        <key>sourceSize</key>
        <string>{276,175}</string>
      </dict>
      <key>monster_30068_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,283},{271,175}}</string>
        <key>offset</key>
        <string>{-106,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,175}}</string>
        <key>sourceSize</key>
        <string>{271,175}</string>
      </dict>
      <key>monster_30068_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{266,170}}</string>
        <key>offset</key>
        <string>{-106,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,170}}</string>
        <key>sourceSize</key>
        <string>{266,170}</string>
      </dict>
      <key>monster_30068_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,586},{276,170}}</string>
        <key>offset</key>
        <string>{-106,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,170}}</string>
        <key>sourceSize</key>
        <string>{276,170}</string>
      </dict>
      <key>monster_30068_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,819},{256,180}}</string>
        <key>offset</key>
        <string>{-71,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,180}}</string>
        <key>sourceSize</key>
        <string>{256,180}</string>
      </dict>
      <key>monster_30068_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,526},{256,185}}</string>
        <key>offset</key>
        <string>{-76,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,185}}</string>
        <key>sourceSize</key>
        <string>{256,185}</string>
      </dict>
      <key>monster_30068_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,258},{246,175}}</string>
        <key>offset</key>
        <string>{-76,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,175}}</string>
        <key>sourceSize</key>
        <string>{246,175}</string>
      </dict>
      <key>monster_30068_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,243},{226,165}}</string>
        <key>offset</key>
        <string>{-66,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,165}}</string>
        <key>sourceSize</key>
        <string>{226,165}</string>
      </dict>
      <key>monster_30068_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,0},{226,160}}</string>
        <key>offset</key>
        <string>{-61,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,160}}</string>
        <key>sourceSize</key>
        <string>{226,160}</string>
      </dict>
      <key>monster_30068_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,0},{241,170}}</string>
        <key>offset</key>
        <string>{-66,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,170}}</string>
        <key>sourceSize</key>
        <string>{241,170}</string>
      </dict>
      <key>monster_30068_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,1087},{186,170}}</string>
        <key>offset</key>
        <string>{-61,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,170}}</string>
        <key>sourceSize</key>
        <string>{186,170}</string>
      </dict>
      <key>monster_30068_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,374},{196,165}}</string>
        <key>offset</key>
        <string>{-71,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,165}}</string>
        <key>sourceSize</key>
        <string>{196,165}</string>
      </dict>
      <key>monster_30068_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,743},{191,160}}</string>
        <key>offset</key>
        <string>{-61,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,160}}</string>
        <key>sourceSize</key>
        <string>{191,160}</string>
      </dict>
      <key>monster_30068_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,1259},{186,175}}</string>
        <key>offset</key>
        <string>{-51,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,175}}</string>
        <key>sourceSize</key>
        <string>{186,175}</string>
      </dict>
      <key>monster_30068_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,0},{181,165}}</string>
        <key>offset</key>
        <string>{-46,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,165}}</string>
        <key>sourceSize</key>
        <string>{181,165}</string>
      </dict>
      <key>monster_30068_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,167},{181,160}}</string>
        <key>offset</key>
        <string>{-56,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,160}}</string>
        <key>sourceSize</key>
        <string>{181,160}</string>
      </dict>
      <key>monster_30068_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,1270},{231,165}}</string>
        <key>offset</key>
        <string>{-76,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,165}}</string>
        <key>sourceSize</key>
        <string>{231,165}</string>
      </dict>
      <key>monster_30068_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,1037},{241,160}}</string>
        <key>offset</key>
        <string>{-81,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,160}}</string>
        <key>sourceSize</key>
        <string>{241,160}</string>
      </dict>
      <key>monster_30068_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,258},{256,170}}</string>
        <key>offset</key>
        <string>{-96,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,170}}</string>
        <key>sourceSize</key>
        <string>{256,170}</string>
      </dict>
      <key>monster_30068_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,0},{256,180}}</string>
        <key>offset</key>
        <string>{-96,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,180}}</string>
        <key>sourceSize</key>
        <string>{256,180}</string>
      </dict>
      <key>monster_30068_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,1142},{261,185}}</string>
        <key>offset</key>
        <string>{-91,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,185}}</string>
        <key>sourceSize</key>
        <string>{261,185}</string>
      </dict>
      <key>monster_30068_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,1077},{251,175}}</string>
        <key>offset</key>
        <string>{-86,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,175}}</string>
        <key>sourceSize</key>
        <string>{251,175}</string>
      </dict>
      <key>monster_30068_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1142},{266,175}}</string>
        <key>offset</key>
        <string>{-86,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,175}}</string>
        <key>sourceSize</key>
        <string>{266,175}</string>
      </dict>
      <key>monster_30068_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,864},{261,170}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,170}}</string>
        <key>sourceSize</key>
        <string>{261,170}</string>
      </dict>
      <key>monster_30068_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,1330},{251,170}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,170}}</string>
        <key>sourceSize</key>
        <string>{251,170}</string>
      </dict>
      <key>monster_30068_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,556},{261,175}}</string>
        <key>offset</key>
        <string>{-86,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,175}}</string>
        <key>sourceSize</key>
        <string>{261,175}</string>
      </dict>
      <key>monster_30068_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,784},{251,185}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,185}}</string>
        <key>sourceSize</key>
        <string>{251,185}</string>
      </dict>
      <key>monster_30068_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,516},{251,175}}</string>
        <key>offset</key>
        <string>{-71,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,175}}</string>
        <key>sourceSize</key>
        <string>{251,175}</string>
      </dict>
      <key>monster_30068_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,952},{216,175}}</string>
        <key>offset</key>
        <string>{-96,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,175}}</string>
        <key>sourceSize</key>
        <string>{216,175}</string>
      </dict>
      <key>monster_30068_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,997},{221,170}}</string>
        <key>offset</key>
        <string>{-91,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,170}}</string>
        <key>sourceSize</key>
        <string>{221,170}</string>
      </dict>
      <key>monster_30068_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,561},{206,180}}</string>
        <key>offset</key>
        <string>{-81,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,180}}</string>
        <key>sourceSize</key>
        <string>{206,180}</string>
      </dict>
      <key>monster_30068_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,905},{191,180}}</string>
        <key>offset</key>
        <string>{-76,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,180}}</string>
        <key>sourceSize</key>
        <string>{191,180}</string>
      </dict>
      <key>monster_30068_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,743},{196,175}}</string>
        <key>offset</key>
        <string>{-81,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,175}}</string>
        <key>sourceSize</key>
        <string>{196,175}</string>
      </dict>
      <key>monster_30068_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,0},{216,180}}</string>
        <key>offset</key>
        <string>{-96,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,180}}</string>
        <key>sourceSize</key>
        <string>{216,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30068_0_1.png</string>
      <key>size</key>
      <string>{1717,1536}</string>
      <key>textureFileName</key>
      <string>monster_30068_0_1.png</string>
    </dict>
  </dict>
</plist>