<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30059_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,235},{158,218}}</string>
        <key>offset</key>
        <string>{-60,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,218}}</string>
        <key>sourceSize</key>
        <string>{158,218}</string>
      </dict>
      <key>monster_30059_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1021},{210,265}}</string>
        <key>offset</key>
        <string>{-77,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,265}}</string>
        <key>sourceSize</key>
        <string>{210,265}</string>
      </dict>
      <key>monster_30059_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,363},{209,283}}</string>
        <key>offset</key>
        <string>{-78,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,283}}</string>
        <key>sourceSize</key>
        <string>{209,283}</string>
      </dict>
      <key>monster_30059_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,1087},{211,288}}</string>
        <key>offset</key>
        <string>{-76,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,288}}</string>
        <key>sourceSize</key>
        <string>{211,288}</string>
      </dict>
      <key>monster_30059_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,363},{207,281}}</string>
        <key>offset</key>
        <string>{-69,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,281}}</string>
        <key>sourceSize</key>
        <string>{207,281}</string>
      </dict>
      <key>monster_30059_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,451},{218,214}}</string>
        <key>offset</key>
        <string>{-61,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,214}}</string>
        <key>sourceSize</key>
        <string>{218,214}</string>
      </dict>
      <key>monster_30059_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,1159},{218,223}}</string>
        <key>offset</key>
        <string>{-61,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,223}}</string>
        <key>sourceSize</key>
        <string>{218,223}</string>
      </dict>
      <key>monster_30059_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,490},{206,218}}</string>
        <key>offset</key>
        <string>{-61,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,218}}</string>
        <key>sourceSize</key>
        <string>{206,218}</string>
      </dict>
      <key>monster_30059_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1414,1103},{174,183}}</string>
        <key>offset</key>
        <string>{-42,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,183}}</string>
        <key>sourceSize</key>
        <string>{174,183}</string>
      </dict>
      <key>monster_30059_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1523,451},{160,168}}</string>
        <key>offset</key>
        <string>{-36,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,168}}</string>
        <key>sourceSize</key>
        <string>{160,168}</string>
      </dict>
      <key>monster_30059_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1404,1305},{144,195}}</string>
        <key>offset</key>
        <string>{-41,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,195}}</string>
        <key>sourceSize</key>
        <string>{144,195}</string>
      </dict>
      <key>monster_30059_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,909},{210,248}}</string>
        <key>offset</key>
        <string>{-82,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,248}}</string>
        <key>sourceSize</key>
        <string>{210,248}</string>
      </dict>
      <key>monster_30059_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,646},{209,261}}</string>
        <key>offset</key>
        <string>{-83,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,261}}</string>
        <key>sourceSize</key>
        <string>{209,261}</string>
      </dict>
      <key>monster_30059_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1288},{211,264}}</string>
        <key>offset</key>
        <string>{-81,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,264}}</string>
        <key>sourceSize</key>
        <string>{211,264}</string>
      </dict>
      <key>monster_30059_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,0},{220,252}}</string>
        <key>offset</key>
        <string>{-74,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,252}}</string>
        <key>sourceSize</key>
        <string>{220,252}</string>
      </dict>
      <key>monster_30059_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1087,0},{233,214}}</string>
        <key>offset</key>
        <string>{-81,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,214}}</string>
        <key>sourceSize</key>
        <string>{233,214}</string>
      </dict>
      <key>monster_30059_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,0},{232,223}}</string>
        <key>offset</key>
        <string>{-80,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,223}}</string>
        <key>sourceSize</key>
        <string>{232,223}</string>
      </dict>
      <key>monster_30059_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,667},{215,218}}</string>
        <key>offset</key>
        <string>{-75,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,218}}</string>
        <key>sourceSize</key>
        <string>{215,218}</string>
      </dict>
      <key>monster_30059_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,667},{174,183}}</string>
        <key>offset</key>
        <string>{-47,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,183}}</string>
        <key>sourceSize</key>
        <string>{174,183}</string>
      </dict>
      <key>monster_30059_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,1377},{160,168}}</string>
        <key>offset</key>
        <string>{-41,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,168}}</string>
        <key>sourceSize</key>
        <string>{160,168}</string>
      </dict>
      <key>monster_30059_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1599,621},{126,167}}</string>
        <key>offset</key>
        <string>{-35,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,167}}</string>
        <key>sourceSize</key>
        <string>{126,167}</string>
      </dict>
      <key>monster_30059_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,1103},{210,200}}</string>
        <key>offset</key>
        <string>{-101,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,200}}</string>
        <key>sourceSize</key>
        <string>{210,200}</string>
      </dict>
      <key>monster_30059_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,1101},{209,216}}</string>
        <key>offset</key>
        <string>{-102,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,216}}</string>
        <key>sourceSize</key>
        <string>{209,216}</string>
      </dict>
      <key>monster_30059_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,254},{234,220}}</string>
        <key>offset</key>
        <string>{-100,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,220}}</string>
        <key>sourceSize</key>
        <string>{234,220}</string>
      </dict>
      <key>monster_30059_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,234},{225,215}}</string>
        <key>offset</key>
        <string>{-93,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,215}}</string>
        <key>sourceSize</key>
        <string>{225,215}</string>
      </dict>
      <key>monster_30059_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,733},{286,286}}</string>
        <key>offset</key>
        <string>{-85,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,286}}</string>
        <key>sourceSize</key>
        <string>{286,286}</string>
      </dict>
      <key>monster_30059_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,369},{362,304}}</string>
        <key>offset</key>
        <string>{-85,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,304}}</string>
        <key>sourceSize</key>
        <string>{362,304}</string>
      </dict>
      <key>monster_30059_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{361,297}}</string>
        <key>offset</key>
        <string>{-85,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,297}}</string>
        <key>sourceSize</key>
        <string>{361,297}</string>
      </dict>
      <key>monster_30059_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,280},{255,183}}</string>
        <key>offset</key>
        <string>{-66,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,183}}</string>
        <key>sourceSize</key>
        <string>{255,183}</string>
      </dict>
      <key>monster_30059_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,537},{239,168}}</string>
        <key>offset</key>
        <string>{-60,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,168}}</string>
        <key>sourceSize</key>
        <string>{239,168}</string>
      </dict>
      <key>monster_30059_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1195,1312},{211,207}}</string>
        <key>offset</key>
        <string>{-80,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,207}}</string>
        <key>sourceSize</key>
        <string>{211,207}</string>
      </dict>
      <key>monster_30059_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,1312},{209,216}}</string>
        <key>offset</key>
        <string>{-80,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,216}}</string>
        <key>sourceSize</key>
        <string>{209,216}</string>
      </dict>
      <key>monster_30059_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,778},{219,220}}</string>
        <key>offset</key>
        <string>{-78,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,220}}</string>
        <key>sourceSize</key>
        <string>{219,220}</string>
      </dict>
      <key>monster_30059_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,884},{217,215}}</string>
        <key>offset</key>
        <string>{-71,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,215}}</string>
        <key>sourceSize</key>
        <string>{217,215}</string>
      </dict>
      <key>monster_30059_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,0},{264,278}}</string>
        <key>offset</key>
        <string>{-63,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,278}}</string>
        <key>sourceSize</key>
        <string>{264,278}</string>
      </dict>
      <key>monster_30059_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,733},{352,299}}</string>
        <key>offset</key>
        <string>{-75,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,299}}</string>
        <key>sourceSize</key>
        <string>{352,299}</string>
      </dict>
      <key>monster_30059_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{367,298}}</string>
        <key>offset</key>
        <string>{-83,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,298}}</string>
        <key>sourceSize</key>
        <string>{367,298}</string>
      </dict>
      <key>monster_30059_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1087},{348,283}}</string>
        <key>offset</key>
        <string>{-70,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,283}}</string>
        <key>sourceSize</key>
        <string>{348,283}</string>
      </dict>
      <key>monster_30059_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,884},{217,168}}</string>
        <key>offset</key>
        <string>{-38,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,168}}</string>
        <key>sourceSize</key>
        <string>{217,168}</string>
      </dict>
      <key>monster_30059_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1685,0},{68,135}}</string>
        <key>offset</key>
        <string>{-3,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,135}}</string>
        <key>sourceSize</key>
        <string>{68,135}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30059_0_4_0.png</string>
      <key>size</key>
      <string>{1768,1539}</string>
      <key>textureFileName</key>
      <string>monster_30059_0_4_0.png</string>
    </dict>
  </dict>
</plist>