<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30015_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,277},{130,95}}</string>
        <key>offset</key>
        <string>{-38,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,95}}</string>
        <key>sourceSize</key>
        <string>{130,95}</string>
      </dict>
      <key>monster_30015_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{134,95}}</string>
        <key>offset</key>
        <string>{-44,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,95}}</string>
        <key>sourceSize</key>
        <string>{134,95}</string>
      </dict>
      <key>monster_30015_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{91,120}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,120}}</string>
        <key>sourceSize</key>
        <string>{91,120}</string>
      </dict>
      <key>monster_30015_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,218},{87,108}}</string>
        <key>offset</key>
        <string>{-12,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,108}}</string>
        <key>sourceSize</key>
        <string>{87,108}</string>
      </dict>
      <key>monster_30015_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,144},{95,131}}</string>
        <key>offset</key>
        <string>{-26,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,131}}</string>
        <key>sourceSize</key>
        <string>{95,131}</string>
      </dict>
      <key>monster_30015_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{86,122}}</string>
        <key>offset</key>
        <string>{-9,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,122}}</string>
        <key>sourceSize</key>
        <string>{86,122}</string>
      </dict>
      <key>monster_30015_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{127,101}}</string>
        <key>offset</key>
        <string>{-25,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,101}}</string>
        <key>sourceSize</key>
        <string>{127,101}</string>
      </dict>
      <key>monster_30015_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,258},{124,101}}</string>
        <key>offset</key>
        <string>{-14,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,101}}</string>
        <key>sourceSize</key>
        <string>{124,101}</string>
      </dict>
      <key>monster_30015_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,98}}</string>
        <key>offset</key>
        <string>{-25,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,98}}</string>
        <key>sourceSize</key>
        <string>{142,98}</string>
      </dict>
      <key>monster_30015_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{138,95}}</string>
        <key>offset</key>
        <string>{-21,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,95}}</string>
        <key>sourceSize</key>
        <string>{138,95}</string>
      </dict>
      <key>monster_30015_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{100,108}}</string>
        <key>offset</key>
        <string>{-3,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,108}}</string>
        <key>sourceSize</key>
        <string>{100,108}</string>
      </dict>
      <key>monster_30015_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,122},{94,118}}</string>
        <key>offset</key>
        <string>{-9,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,118}}</string>
        <key>sourceSize</key>
        <string>{94,118}</string>
      </dict>
      <key>monster_30015_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,102},{95,106}}</string>
        <key>offset</key>
        <string>{7,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,106}}</string>
        <key>sourceSize</key>
        <string>{95,106}</string>
      </dict>
      <key>monster_30015_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,124},{91,122}}</string>
        <key>offset</key>
        <string>{-5,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,122}}</string>
        <key>sourceSize</key>
        <string>{91,122}</string>
      </dict>
      <key>monster_30015_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{123,78}}</string>
        <key>offset</key>
        <string>{-24,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,78}}</string>
        <key>sourceSize</key>
        <string>{123,78}</string>
      </dict>
      <key>monster_30015_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,129},{127,93}}</string>
        <key>offset</key>
        <string>{-36,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,93}}</string>
        <key>sourceSize</key>
        <string>{127,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30015_0_7.png</string>
      <key>size</key>
      <string>{612,386}</string>
      <key>textureFileName</key>
      <string>monster_30015_0_7.png</string>
    </dict>
  </dict>
</plist>