<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30050_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,342},{327,268}}</string>
        <key>offset</key>
        <string>{-128,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,268}}</string>
        <key>sourceSize</key>
        <string>{327,268}</string>
      </dict>
      <key>monster_30050_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{368,211}}</string>
        <key>offset</key>
        <string>{-140,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,211}}</string>
        <key>sourceSize</key>
        <string>{368,211}</string>
      </dict>
      <key>monster_30050_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{308,247}}</string>
        <key>offset</key>
        <string>{-112,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,247}}</string>
        <key>sourceSize</key>
        <string>{308,247}</string>
      </dict>
      <key>monster_30050_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,742},{330,249}}</string>
        <key>offset</key>
        <string>{-148,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,249}}</string>
        <key>sourceSize</key>
        <string>{330,249}</string>
      </dict>
      <key>monster_30050_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,0},{306,227}}</string>
        <key>offset</key>
        <string>{-157,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,227}}</string>
        <key>sourceSize</key>
        <string>{306,227}</string>
      </dict>
      <key>monster_30050_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,742},{331,211}}</string>
        <key>offset</key>
        <string>{-159,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,211}}</string>
        <key>sourceSize</key>
        <string>{331,211}</string>
      </dict>
      <key>monster_30050_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,1074},{324,195}}</string>
        <key>offset</key>
        <string>{-162,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,195}}</string>
        <key>sourceSize</key>
        <string>{324,195}</string>
      </dict>
      <key>monster_30050_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,1075},{331,174}}</string>
        <key>offset</key>
        <string>{-182,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,174}}</string>
        <key>sourceSize</key>
        <string>{331,174}</string>
      </dict>
      <key>monster_30050_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{342,163}}</string>
        <key>offset</key>
        <string>{-186,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,163}}</string>
        <key>sourceSize</key>
        <string>{342,163}</string>
      </dict>
      <key>monster_30050_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,394},{346,309}}</string>
        <key>offset</key>
        <string>{-131,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,309}}</string>
        <key>sourceSize</key>
        <string>{346,309}</string>
      </dict>
      <key>monster_30050_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{392,232}}</string>
        <key>offset</key>
        <string>{-131,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,232}}</string>
        <key>sourceSize</key>
        <string>{392,232}</string>
      </dict>
      <key>monster_30050_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,764},{365,241}}</string>
        <key>offset</key>
        <string>{-134,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,241}}</string>
        <key>sourceSize</key>
        <string>{365,241}</string>
      </dict>
      <key>monster_30050_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{340,237}}</string>
        <key>offset</key>
        <string>{-122,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,237}}</string>
        <key>sourceSize</key>
        <string>{340,237}</string>
      </dict>
      <key>monster_30050_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,733},{297,235}}</string>
        <key>offset</key>
        <string>{-118,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,235}}</string>
        <key>sourceSize</key>
        <string>{297,235}</string>
      </dict>
      <key>monster_30050_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,229},{302,252}}</string>
        <key>offset</key>
        <string>{-126,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,252}}</string>
        <key>sourceSize</key>
        <string>{302,252}</string>
      </dict>
      <key>monster_30050_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,483},{302,248}}</string>
        <key>offset</key>
        <string>{-136,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,248}}</string>
        <key>sourceSize</key>
        <string>{302,248}</string>
      </dict>
      <key>monster_30050_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,733},{295,238}}</string>
        <key>offset</key>
        <string>{-141,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,238}}</string>
        <key>sourceSize</key>
        <string>{295,238}</string>
      </dict>
      <key>monster_30050_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,1032},{297,232}}</string>
        <key>offset</key>
        <string>{-140,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,232}}</string>
        <key>sourceSize</key>
        <string>{297,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30050_0_4_1.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_30050_0_4_1.png</string>
    </dict>
  </dict>
</plist>