<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30110_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,253},{464,299}}</string>
        <key>offset</key>
        <string>{-280,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{464,299}}</string>
        <key>sourceSize</key>
        <string>{464,299}</string>
      </dict>
      <key>monster_30110_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,554},{461,299}}</string>
        <key>offset</key>
        <string>{-289,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,299}}</string>
        <key>sourceSize</key>
        <string>{461,299}</string>
      </dict>
      <key>monster_30110_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,855},{456,270}}</string>
        <key>offset</key>
        <string>{-297,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,270}}</string>
        <key>sourceSize</key>
        <string>{456,270}</string>
      </dict>
      <key>monster_30110_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{496,251}}</string>
        <key>offset</key>
        <string>{-311,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,251}}</string>
        <key>sourceSize</key>
        <string>{496,251}</string>
      </dict>
      <key>monster_30110_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,522},{505,274}}</string>
        <key>offset</key>
        <string>{-264,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{505,274}}</string>
        <key>sourceSize</key>
        <string>{505,274}</string>
      </dict>
      <key>monster_30110_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1038},{427,304}}</string>
        <key>offset</key>
        <string>{-249,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,304}}</string>
        <key>sourceSize</key>
        <string>{427,304}</string>
      </dict>
      <key>monster_30110_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,554},{463,281}}</string>
        <key>offset</key>
        <string>{-265,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,281}}</string>
        <key>sourceSize</key>
        <string>{463,281}</string>
      </dict>
      <key>monster_30110_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{520,259}}</string>
        <key>offset</key>
        <string>{-293,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,259}}</string>
        <key>sourceSize</key>
        <string>{520,259}</string>
      </dict>
      <key>monster_30110_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,522},{514,253}}</string>
        <key>offset</key>
        <string>{-294,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,253}}</string>
        <key>sourceSize</key>
        <string>{514,253}</string>
      </dict>
      <key>monster_30110_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{502,273}}</string>
        <key>offset</key>
        <string>{-282,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{502,273}}</string>
        <key>sourceSize</key>
        <string>{502,273}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30110_0_4_3.png</string>
      <key>size</key>
      <string>{1281,1432}</string>
      <key>textureFileName</key>
      <string>monster_30110_0_4_3.png</string>
    </dict>
  </dict>
</plist>