<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30011_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,388},{195,177}}</string>
        <key>offset</key>
        <string>{-57,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,177}}</string>
        <key>sourceSize</key>
        <string>{195,177}</string>
      </dict>
      <key>monster_30011_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,666},{191,182}}</string>
        <key>offset</key>
        <string>{-49,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,182}}</string>
        <key>sourceSize</key>
        <string>{191,182}</string>
      </dict>
      <key>monster_30011_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,658},{177,165}}</string>
        <key>offset</key>
        <string>{-54,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,165}}</string>
        <key>sourceSize</key>
        <string>{177,165}</string>
      </dict>
      <key>monster_30011_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,658},{188,175}}</string>
        <key>offset</key>
        <string>{-49,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,175}}</string>
        <key>sourceSize</key>
        <string>{188,175}</string>
      </dict>
      <key>monster_30011_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,203},{183,196}}</string>
        <key>offset</key>
        <string>{-50,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,196}}</string>
        <key>sourceSize</key>
        <string>{183,196}</string>
      </dict>
      <key>monster_30011_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{202,201}}</string>
        <key>offset</key>
        <string>{-49,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,201}}</string>
        <key>sourceSize</key>
        <string>{202,201}</string>
      </dict>
      <key>monster_30011_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{176,211}}</string>
        <key>offset</key>
        <string>{-42,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,211}}</string>
        <key>sourceSize</key>
        <string>{176,211}</string>
      </dict>
      <key>monster_30011_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{177,203}}</string>
        <key>offset</key>
        <string>{-38,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,203}}</string>
        <key>sourceSize</key>
        <string>{177,203}</string>
      </dict>
      <key>monster_30011_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,236},{211,208}}</string>
        <key>offset</key>
        <string>{-57,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,208}}</string>
        <key>sourceSize</key>
        <string>{211,208}</string>
      </dict>
      <key>monster_30011_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,449},{207,197}}</string>
        <key>offset</key>
        <string>{-54,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,197}}</string>
        <key>sourceSize</key>
        <string>{207,197}</string>
      </dict>
      <key>monster_30011_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{234,210}}</string>
        <key>offset</key>
        <string>{-45,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,210}}</string>
        <key>sourceSize</key>
        <string>{234,210}</string>
      </dict>
      <key>monster_30011_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{209,207}}</string>
        <key>offset</key>
        <string>{-44,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,207}}</string>
        <key>sourceSize</key>
        <string>{209,207}</string>
      </dict>
      <key>monster_30011_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,211},{206,182}}</string>
        <key>offset</key>
        <string>{-19,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,182}}</string>
        <key>sourceSize</key>
        <string>{206,182}</string>
      </dict>
      <key>monster_30011_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,567},{193,189}}</string>
        <key>offset</key>
        <string>{-35,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,189}}</string>
        <key>sourceSize</key>
        <string>{193,189}</string>
      </dict>
      <key>monster_30011_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{215,171}}</string>
        <key>offset</key>
        <string>{-42,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,171}}</string>
        <key>sourceSize</key>
        <string>{215,171}</string>
      </dict>
      <key>monster_30011_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,449},{207,184}}</string>
        <key>offset</key>
        <string>{-48,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,184}}</string>
        <key>sourceSize</key>
        <string>{207,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30011_0_7.png</string>
      <key>size</key>
      <string>{897,859}</string>
      <key>textureFileName</key>
      <string>monster_30011_0_7.png</string>
    </dict>
  </dict>
</plist>