<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30099_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{336,289}}</string>
        <key>offset</key>
        <string>{-174,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,289}}</string>
        <key>sourceSize</key>
        <string>{336,289}</string>
      </dict>
      <key>monster_30099_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,340},{323,287}}</string>
        <key>offset</key>
        <string>{-178,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,287}}</string>
        <key>sourceSize</key>
        <string>{323,287}</string>
      </dict>
      <key>monster_30099_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,294},{306,291}}</string>
        <key>offset</key>
        <string>{-147,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,291}}</string>
        <key>sourceSize</key>
        <string>{306,291}</string>
      </dict>
      <key>monster_30099_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,620},{303,293}}</string>
        <key>offset</key>
        <string>{-131,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,293}}</string>
        <key>sourceSize</key>
        <string>{303,293}</string>
      </dict>
      <key>monster_30099_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{311,293}}</string>
        <key>offset</key>
        <string>{-135,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,293}}</string>
        <key>sourceSize</key>
        <string>{311,293}</string>
      </dict>
      <key>monster_30099_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{323,290}}</string>
        <key>offset</key>
        <string>{-150,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,290}}</string>
        <key>sourceSize</key>
        <string>{323,290}</string>
      </dict>
      <key>monster_30099_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,0},{299,311}}</string>
        <key>offset</key>
        <string>{-181,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,311}}</string>
        <key>sourceSize</key>
        <string>{299,311}</string>
      </dict>
      <key>monster_30099_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,886},{293,301}}</string>
        <key>offset</key>
        <string>{-173,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,301}}</string>
        <key>sourceSize</key>
        <string>{293,301}</string>
      </dict>
      <key>monster_30099_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1016},{316,297}}</string>
        <key>offset</key>
        <string>{-180,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,297}}</string>
        <key>sourceSize</key>
        <string>{316,297}</string>
      </dict>
      <key>monster_30099_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,0},{308,292}}</string>
        <key>offset</key>
        <string>{-167,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,292}}</string>
        <key>sourceSize</key>
        <string>{308,292}</string>
      </dict>
      <key>monster_30099_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,665},{315,300}}</string>
        <key>offset</key>
        <string>{-179,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,300}}</string>
        <key>sourceSize</key>
        <string>{315,300}</string>
      </dict>
      <key>monster_30099_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,325},{313,307}}</string>
        <key>offset</key>
        <string>{-185,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,307}}</string>
        <key>sourceSize</key>
        <string>{313,307}</string>
      </dict>
      <key>monster_30099_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,1181},{301,292}}</string>
        <key>offset</key>
        <string>{-182,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,292}}</string>
        <key>sourceSize</key>
        <string>{301,292}</string>
      </dict>
      <key>monster_30099_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,640},{303,282}}</string>
        <key>offset</key>
        <string>{-198,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,282}}</string>
        <key>sourceSize</key>
        <string>{303,282}</string>
      </dict>
      <key>monster_30099_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1491,587},{277,292}}</string>
        <key>offset</key>
        <string>{-164,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,292}}</string>
        <key>sourceSize</key>
        <string>{277,292}</string>
      </dict>
      <key>monster_30099_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,313},{305,293}}</string>
        <key>offset</key>
        <string>{-186,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,293}}</string>
        <key>sourceSize</key>
        <string>{305,293}</string>
      </dict>
      <key>monster_30099_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,587},{305,297}}</string>
        <key>offset</key>
        <string>{-187,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,297}}</string>
        <key>sourceSize</key>
        <string>{305,297}</string>
      </dict>
      <key>monster_30099_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,886},{284,296}}</string>
        <key>offset</key>
        <string>{-170,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,296}}</string>
        <key>sourceSize</key>
        <string>{284,296}</string>
      </dict>
      <key>monster_30099_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{338,297}}</string>
        <key>offset</key>
        <string>{-214,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,297}}</string>
        <key>sourceSize</key>
        <string>{338,297}</string>
      </dict>
      <key>monster_30099_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{336,299}}</string>
        <key>offset</key>
        <string>{-209,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,299}}</string>
        <key>sourceSize</key>
        <string>{336,299}</string>
      </dict>
      <key>monster_30099_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,982},{296,305}}</string>
        <key>offset</key>
        <string>{-180,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,305}}</string>
        <key>sourceSize</key>
        <string>{296,305}</string>
      </dict>
      <key>monster_30099_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1181},{274,300}}</string>
        <key>offset</key>
        <string>{-168,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,300}}</string>
        <key>sourceSize</key>
        <string>{274,300}</string>
      </dict>
      <key>monster_30099_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1497,0},{296,300}}</string>
        <key>offset</key>
        <string>{-185,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,300}}</string>
        <key>sourceSize</key>
        <string>{296,300}</string>
      </dict>
      <key>monster_30099_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,1016},{316,300}}</string>
        <key>offset</key>
        <string>{-201,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,300}}</string>
        <key>sourceSize</key>
        <string>{316,300}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30099_0_1_1.png</string>
      <key>size</key>
      <string>{1832,1538}</string>
      <key>textureFileName</key>
      <string>monster_30099_0_1_1.png</string>
    </dict>
  </dict>
</plist>