<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30038_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,553},{173,131}}</string>
        <key>offset</key>
        <string>{-41,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,131}}</string>
        <key>sourceSize</key>
        <string>{173,131}</string>
      </dict>
      <key>monster_30038_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,774},{179,145}}</string>
        <key>offset</key>
        <string>{-41,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,145}}</string>
        <key>sourceSize</key>
        <string>{179,145}</string>
      </dict>
      <key>monster_30038_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,1307},{162,167}}</string>
        <key>offset</key>
        <string>{-28,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,167}}</string>
        <key>sourceSize</key>
        <string>{162,167}</string>
      </dict>
      <key>monster_30038_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1452,574},{146,147}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,147}}</string>
        <key>sourceSize</key>
        <string>{146,147}</string>
      </dict>
      <key>monster_30038_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,369},{171,173}}</string>
        <key>offset</key>
        <string>{-38,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,173}}</string>
        <key>sourceSize</key>
        <string>{171,173}</string>
      </dict>
      <key>monster_30038_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,230},{218,168}}</string>
        <key>offset</key>
        <string>{-59,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,168}}</string>
        <key>sourceSize</key>
        <string>{218,168}</string>
      </dict>
      <key>monster_30038_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,485},{223,138}}</string>
        <key>offset</key>
        <string>{-56,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,138}}</string>
        <key>sourceSize</key>
        <string>{223,138}</string>
      </dict>
      <key>monster_30038_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,450},{200,133}}</string>
        <key>offset</key>
        <string>{-50,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,133}}</string>
        <key>sourceSize</key>
        <string>{200,133}</string>
      </dict>
      <key>monster_30038_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,220},{198,141}}</string>
        <key>offset</key>
        <string>{-48,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,141}}</string>
        <key>sourceSize</key>
        <string>{198,141}</string>
      </dict>
      <key>monster_30038_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{198,141}}</string>
        <key>offset</key>
        <string>{-48,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,141}}</string>
        <key>sourceSize</key>
        <string>{198,141}</string>
      </dict>
      <key>monster_30038_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,178},{173,161}}</string>
        <key>offset</key>
        <string>{-32,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,161}}</string>
        <key>sourceSize</key>
        <string>{173,161}</string>
      </dict>
      <key>monster_30038_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,937},{214,135}}</string>
        <key>offset</key>
        <string>{-52,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,135}}</string>
        <key>sourceSize</key>
        <string>{214,135}</string>
      </dict>
      <key>monster_30038_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1347,1291},{155,154}}</string>
        <key>offset</key>
        <string>{-26,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,154}}</string>
        <key>sourceSize</key>
        <string>{155,154}</string>
      </dict>
      <key>monster_30038_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1408,421},{114,151}}</string>
        <key>offset</key>
        <string>{-32,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,151}}</string>
        <key>sourceSize</key>
        <string>{114,151}</string>
      </dict>
      <key>monster_30038_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,125},{135,168}}</string>
        <key>offset</key>
        <string>{-39,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,168}}</string>
        <key>sourceSize</key>
        <string>{135,168}</string>
      </dict>
      <key>monster_30038_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,591},{145,181}}</string>
        <key>offset</key>
        <string>{-17,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,181}}</string>
        <key>sourceSize</key>
        <string>{145,181}</string>
      </dict>
      <key>monster_30038_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,374},{177,136}}</string>
        <key>offset</key>
        <string>{-17,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,136}}</string>
        <key>sourceSize</key>
        <string>{177,136}</string>
      </dict>
      <key>monster_30038_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1117,544},{169,135}}</string>
        <key>offset</key>
        <string>{-17,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,135}}</string>
        <key>sourceSize</key>
        <string>{169,135}</string>
      </dict>
      <key>monster_30038_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,1101},{167,146}}</string>
        <key>offset</key>
        <string>{-16,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,146}}</string>
        <key>sourceSize</key>
        <string>{167,146}</string>
      </dict>
      <key>monster_30038_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,902},{167,146}}</string>
        <key>offset</key>
        <string>{-16,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,146}}</string>
        <key>sourceSize</key>
        <string>{167,146}</string>
      </dict>
      <key>monster_30038_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,1415},{117,177}}</string>
        <key>offset</key>
        <string>{0,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,177}}</string>
        <key>sourceSize</key>
        <string>{117,177}</string>
      </dict>
      <key>monster_30038_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,1233},{180,154}}</string>
        <key>offset</key>
        <string>{-24,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,154}}</string>
        <key>sourceSize</key>
        <string>{180,154}</string>
      </dict>
      <key>monster_30038_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,715},{167,141}}</string>
        <key>offset</key>
        <string>{-65,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,141}}</string>
        <key>sourceSize</key>
        <string>{167,141}</string>
      </dict>
      <key>monster_30038_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,191},{176,139}}</string>
        <key>offset</key>
        <string>{-67,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,139}}</string>
        <key>sourceSize</key>
        <string>{176,139}</string>
      </dict>
      <key>monster_30038_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,398},{191,140}}</string>
        <key>offset</key>
        <string>{-86,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,140}}</string>
        <key>sourceSize</key>
        <string>{191,140}</string>
      </dict>
      <key>monster_30038_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,0},{176,158}}</string>
        <key>offset</key>
        <string>{-35,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,158}}</string>
        <key>sourceSize</key>
        <string>{176,158}</string>
      </dict>
      <key>monster_30038_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,1182},{176,159}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,159}}</string>
        <key>sourceSize</key>
        <string>{176,159}</string>
      </dict>
      <key>monster_30038_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,846},{165,142}}</string>
        <key>offset</key>
        <string>{-6,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,142}}</string>
        <key>sourceSize</key>
        <string>{165,142}</string>
      </dict>
      <key>monster_30038_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1152,353},{169,142}}</string>
        <key>offset</key>
        <string>{-7,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,142}}</string>
        <key>sourceSize</key>
        <string>{169,142}</string>
      </dict>
      <key>monster_30038_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1177,175},{169,142}}</string>
        <key>offset</key>
        <string>{-7,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,142}}</string>
        <key>sourceSize</key>
        <string>{169,142}</string>
      </dict>
      <key>monster_30038_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1291},{156,152}}</string>
        <key>offset</key>
        <string>{-38,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,152}}</string>
        <key>sourceSize</key>
        <string>{156,152}</string>
      </dict>
      <key>monster_30038_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,194},{120,190}}</string>
        <key>offset</key>
        <string>{-12,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,190}}</string>
        <key>sourceSize</key>
        <string>{120,190}</string>
      </dict>
      <key>monster_30038_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1205,0},{169,144}}</string>
        <key>offset</key>
        <string>{-75,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,144}}</string>
        <key>sourceSize</key>
        <string>{169,144}</string>
      </dict>
      <key>monster_30038_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,1000},{180,165}}</string>
        <key>offset</key>
        <string>{-65,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,165}}</string>
        <key>sourceSize</key>
        <string>{180,165}</string>
      </dict>
      <key>monster_30038_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1153},{214,167}}</string>
        <key>offset</key>
        <string>{-84,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,167}}</string>
        <key>sourceSize</key>
        <string>{214,167}</string>
      </dict>
      <key>monster_30038_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,937},{210,118}}</string>
        <key>offset</key>
        <string>{-77,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,118}}</string>
        <key>sourceSize</key>
        <string>{210,118}</string>
      </dict>
      <key>monster_30038_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,569},{178,125}}</string>
        <key>offset</key>
        <string>{-41,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,125}}</string>
        <key>sourceSize</key>
        <string>{178,125}</string>
      </dict>
      <key>monster_30038_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,386},{181,123}}</string>
        <key>offset</key>
        <string>{-35,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,123}}</string>
        <key>sourceSize</key>
        <string>{181,123}</string>
      </dict>
      <key>monster_30038_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,955},{175,122}}</string>
        <key>offset</key>
        <string>{-35,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,122}}</string>
        <key>sourceSize</key>
        <string>{175,122}</string>
      </dict>
      <key>monster_30038_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,749},{175,122}}</string>
        <key>offset</key>
        <string>{-35,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,122}}</string>
        <key>sourceSize</key>
        <string>{175,122}</string>
      </dict>
      <key>monster_30038_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,191},{181,116}}</string>
        <key>offset</key>
        <string>{-67,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,116}}</string>
        <key>sourceSize</key>
        <string>{181,116}</string>
      </dict>
      <key>monster_30038_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,728},{172,171}}</string>
        <key>offset</key>
        <string>{-53,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,171}}</string>
        <key>sourceSize</key>
        <string>{172,171}</string>
      </dict>
      <key>monster_30038_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1452,722},{147,143}}</string>
        <key>offset</key>
        <string>{-37,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,143}}</string>
        <key>sourceSize</key>
        <string>{147,143}</string>
      </dict>
      <key>monster_30038_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,710},{132,208}}</string>
        <key>offset</key>
        <string>{-15,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,208}}</string>
        <key>sourceSize</key>
        <string>{132,208}</string>
      </dict>
      <key>monster_30038_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{143,218}}</string>
        <key>offset</key>
        <string>{-32,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,218}}</string>
        <key>sourceSize</key>
        <string>{143,218}</string>
      </dict>
      <key>monster_30038_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,1126},{202,162}}</string>
        <key>offset</key>
        <string>{-71,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,162}}</string>
        <key>sourceSize</key>
        <string>{202,162}</string>
      </dict>
      <key>monster_30038_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1369},{208,147}}</string>
        <key>offset</key>
        <string>{-87,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,147}}</string>
        <key>sourceSize</key>
        <string>{208,147}</string>
      </dict>
      <key>monster_30038_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,652},{196,120}}</string>
        <key>offset</key>
        <string>{-90,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,120}}</string>
        <key>sourceSize</key>
        <string>{196,120}</string>
      </dict>
      <key>monster_30038_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,0},{192,122}}</string>
        <key>offset</key>
        <string>{-89,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,122}}</string>
        <key>sourceSize</key>
        <string>{192,122}</string>
      </dict>
      <key>monster_30038_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,850},{192,122}}</string>
        <key>offset</key>
        <string>{-89,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,122}}</string>
        <key>sourceSize</key>
        <string>{192,122}</string>
      </dict>
      <key>monster_30038_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,544},{170,112}}</string>
        <key>offset</key>
        <string>{-63,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,112}}</string>
        <key>sourceSize</key>
        <string>{170,112}</string>
      </dict>
      <key>monster_30038_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,485},{224,125}}</string>
        <key>offset</key>
        <string>{-93,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,125}}</string>
        <key>sourceSize</key>
        <string>{224,125}</string>
      </dict>
      <key>monster_30038_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,1360},{150,174}}</string>
        <key>offset</key>
        <string>{-33,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,174}}</string>
        <key>sourceSize</key>
        <string>{150,174}</string>
      </dict>
      <key>monster_30038_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,920},{141,204}}</string>
        <key>offset</key>
        <string>{-4,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,204}}</string>
        <key>sourceSize</key>
        <string>{141,204}</string>
      </dict>
      <key>monster_30038_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{160,234}}</string>
        <key>offset</key>
        <string>{-19,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,234}}</string>
        <key>sourceSize</key>
        <string>{160,234}</string>
      </dict>
      <key>monster_30038_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,1357},{134,203}}</string>
        <key>offset</key>
        <string>{-44,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,203}}</string>
        <key>sourceSize</key>
        <string>{134,203}</string>
      </dict>
      <key>monster_30038_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,0},{164,173}}</string>
        <key>offset</key>
        <string>{-85,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,173}}</string>
        <key>sourceSize</key>
        <string>{164,173}</string>
      </dict>
      <key>monster_30038_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,1270},{165,147}}</string>
        <key>offset</key>
        <string>{-94,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,147}}</string>
        <key>sourceSize</key>
        <string>{165,147}</string>
      </dict>
      <key>monster_30038_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,1071},{164,138}}</string>
        <key>offset</key>
        <string>{-93,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,138}}</string>
        <key>sourceSize</key>
        <string>{164,138}</string>
      </dict>
      <key>monster_30038_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,990},{164,138}}</string>
        <key>offset</key>
        <string>{-93,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,138}}</string>
        <key>sourceSize</key>
        <string>{164,138}</string>
      </dict>
      <key>monster_30038_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1491,262},{115,143}}</string>
        <key>offset</key>
        <string>{-31,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,143}}</string>
        <key>sourceSize</key>
        <string>{115,143}</string>
      </dict>
      <key>monster_30038_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,618},{192,157}}</string>
        <key>offset</key>
        <string>{-88,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,157}}</string>
        <key>sourceSize</key>
        <string>{192,157}</string>
      </dict>
      <key>monster_30038_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,262},{157,168}}</string>
        <key>offset</key>
        <string>{-6,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,168}}</string>
        <key>sourceSize</key>
        <string>{157,168}</string>
      </dict>
      <key>monster_30038_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,1149},{206,167}}</string>
        <key>offset</key>
        <string>{-35,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,167}}</string>
        <key>sourceSize</key>
        <string>{206,167}</string>
      </dict>
      <key>monster_30038_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,711},{224,179}}</string>
        <key>offset</key>
        <string>{-35,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,179}}</string>
        <key>sourceSize</key>
        <string>{224,179}</string>
      </dict>
      <key>monster_30038_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,420},{170,196}}</string>
        <key>offset</key>
        <string>{-46,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,196}}</string>
        <key>sourceSize</key>
        <string>{170,196}</string>
      </dict>
      <key>monster_30038_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{176,189}}</string>
        <key>offset</key>
        <string>{-108,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,189}}</string>
        <key>sourceSize</key>
        <string>{176,189}</string>
      </dict>
      <key>monster_30038_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,1130},{162,159}}</string>
        <key>offset</key>
        <string>{-102,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,159}}</string>
        <key>sourceSize</key>
        <string>{162,159}</string>
      </dict>
      <key>monster_30038_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1254,524},{166,152}}</string>
        <key>offset</key>
        <string>{-105,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,152}}</string>
        <key>sourceSize</key>
        <string>{166,152}</string>
      </dict>
      <key>monster_30038_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,692},{166,152}}</string>
        <key>offset</key>
        <string>{-105,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,152}}</string>
        <key>sourceSize</key>
        <string>{166,152}</string>
      </dict>
      <key>monster_30038_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1452,867},{133,146}}</string>
        <key>offset</key>
        <string>{-25,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,146}}</string>
        <key>sourceSize</key>
        <string>{133,146}</string>
      </dict>
      <key>monster_30038_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,0},{123,169}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,169}}</string>
        <key>sourceSize</key>
        <string>{123,169}</string>
      </dict>
      <key>monster_30038_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,812},{186,161}}</string>
        <key>offset</key>
        <string>{-26,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,161}}</string>
        <key>sourceSize</key>
        <string>{186,161}</string>
      </dict>
      <key>monster_30038_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,1330},{201,132}}</string>
        <key>offset</key>
        <string>{-38,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,132}}</string>
        <key>sourceSize</key>
        <string>{201,132}</string>
      </dict>
      <key>monster_30038_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,135}}</string>
        <key>offset</key>
        <string>{-59,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,135}}</string>
        <key>sourceSize</key>
        <string>{247,135}</string>
      </dict>
      <key>monster_30038_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{228,150}}</string>
        <key>offset</key>
        <string>{-59,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,150}}</string>
        <key>sourceSize</key>
        <string>{228,150}</string>
      </dict>
      <key>monster_30038_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,200},{196,156}}</string>
        <key>offset</key>
        <string>{-77,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,156}}</string>
        <key>sourceSize</key>
        <string>{196,156}</string>
      </dict>
      <key>monster_30038_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,1044},{187,135}}</string>
        <key>offset</key>
        <string>{-91,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,135}}</string>
        <key>sourceSize</key>
        <string>{187,135}</string>
      </dict>
      <key>monster_30038_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,1132},{173,130}}</string>
        <key>offset</key>
        <string>{-83,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,130}}</string>
        <key>sourceSize</key>
        <string>{173,130}</string>
      </dict>
      <key>monster_30038_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,926},{173,130}}</string>
        <key>offset</key>
        <string>{-83,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,130}}</string>
        <key>sourceSize</key>
        <string>{173,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30038_0_4.png</string>
      <key>size</key>
      <string>{1609,1537}</string>
      <key>textureFileName</key>
      <string>monster_30038_0_4.png</string>
    </dict>
  </dict>
</plist>