<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30012_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,703},{230,166}}</string>
        <key>offset</key>
        <string>{-58,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,166}}</string>
        <key>sourceSize</key>
        <string>{230,166}</string>
      </dict>
      <key>monster_30012_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{261,123}}</string>
        <key>offset</key>
        <string>{-63,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,123}}</string>
        <key>sourceSize</key>
        <string>{261,123}</string>
      </dict>
      <key>monster_30012_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,1181},{209,170}}</string>
        <key>offset</key>
        <string>{-62,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,170}}</string>
        <key>sourceSize</key>
        <string>{209,170}</string>
      </dict>
      <key>monster_30012_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{186,219}}</string>
        <key>offset</key>
        <string>{-64,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,219}}</string>
        <key>sourceSize</key>
        <string>{186,219}</string>
      </dict>
      <key>monster_30012_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,1302},{185,194}}</string>
        <key>offset</key>
        <string>{-67,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,194}}</string>
        <key>sourceSize</key>
        <string>{185,194}</string>
      </dict>
      <key>monster_30012_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,1060},{181,181}}</string>
        <key>offset</key>
        <string>{-66,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,181}}</string>
        <key>sourceSize</key>
        <string>{181,181}</string>
      </dict>
      <key>monster_30012_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,1243},{181,181}}</string>
        <key>offset</key>
        <string>{-66,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,181}}</string>
        <key>sourceSize</key>
        <string>{181,181}</string>
      </dict>
      <key>monster_30012_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1639,1243},{181,181}}</string>
        <key>offset</key>
        <string>{-66,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,181}}</string>
        <key>sourceSize</key>
        <string>{181,181}</string>
      </dict>
      <key>monster_30012_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1757,1060},{181,181}}</string>
        <key>offset</key>
        <string>{-66,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,181}}</string>
        <key>sourceSize</key>
        <string>{181,181}</string>
      </dict>
      <key>monster_30012_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1764,0},{181,181}}</string>
        <key>offset</key>
        <string>{-66,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,181}}</string>
        <key>sourceSize</key>
        <string>{181,181}</string>
      </dict>
      <key>monster_30012_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,442},{193,127}}</string>
        <key>offset</key>
        <string>{-49,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,127}}</string>
        <key>sourceSize</key>
        <string>{193,127}</string>
      </dict>
      <key>monster_30012_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,900},{200,153}}</string>
        <key>offset</key>
        <string>{-68,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,153}}</string>
        <key>sourceSize</key>
        <string>{200,153}</string>
      </dict>
      <key>monster_30012_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,1392},{169,171}}</string>
        <key>offset</key>
        <string>{-5,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,171}}</string>
        <key>sourceSize</key>
        <string>{169,171}</string>
      </dict>
      <key>monster_30012_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,221},{219,156}}</string>
        <key>offset</key>
        <string>{1,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,156}}</string>
        <key>sourceSize</key>
        <string>{219,156}</string>
      </dict>
      <key>monster_30012_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,487},{236,139}}</string>
        <key>offset</key>
        <string>{-1,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,139}}</string>
        <key>sourceSize</key>
        <string>{236,139}</string>
      </dict>
      <key>monster_30012_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,725},{234,133}}</string>
        <key>offset</key>
        <string>{-3,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,133}}</string>
        <key>sourceSize</key>
        <string>{234,133}</string>
      </dict>
      <key>monster_30012_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,479},{234,133}}</string>
        <key>offset</key>
        <string>{-3,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,133}}</string>
        <key>sourceSize</key>
        <string>{234,133}</string>
      </dict>
      <key>monster_30012_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,1233},{234,133}}</string>
        <key>offset</key>
        <string>{-3,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,133}}</string>
        <key>sourceSize</key>
        <string>{234,133}</string>
      </dict>
      <key>monster_30012_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,961},{234,133}}</string>
        <key>offset</key>
        <string>{-3,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,133}}</string>
        <key>sourceSize</key>
        <string>{234,133}</string>
      </dict>
      <key>monster_30012_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,715},{234,133}}</string>
        <key>offset</key>
        <string>{-3,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,133}}</string>
        <key>sourceSize</key>
        <string>{234,133}</string>
      </dict>
      <key>monster_30012_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1472},{143,150}}</string>
        <key>offset</key>
        <string>{-52,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,150}}</string>
        <key>sourceSize</key>
        <string>{143,150}</string>
      </dict>
      <key>monster_30012_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1227,173},{124,182}}</string>
        <key>offset</key>
        <string>{-54,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,182}}</string>
        <key>sourceSize</key>
        <string>{124,182}</string>
      </dict>
      <key>monster_30012_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,935},{162,206}}</string>
        <key>offset</key>
        <string>{-13,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,206}}</string>
        <key>sourceSize</key>
        <string>{162,206}</string>
      </dict>
      <key>monster_30012_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{248,154}}</string>
        <key>offset</key>
        <string>{17,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,154}}</string>
        <key>sourceSize</key>
        <string>{248,154}</string>
      </dict>
      <key>monster_30012_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{243,142}}</string>
        <key>offset</key>
        <string>{14,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,142}}</string>
        <key>sourceSize</key>
        <string>{243,142}</string>
      </dict>
      <key>monster_30012_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,237},{231,139}}</string>
        <key>offset</key>
        <string>{13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,139}}</string>
        <key>sourceSize</key>
        <string>{231,139}</string>
      </dict>
      <key>monster_30012_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{231,139}}</string>
        <key>offset</key>
        <string>{13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,139}}</string>
        <key>sourceSize</key>
        <string>{231,139}</string>
      </dict>
      <key>monster_30012_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,1197},{231,139}}</string>
        <key>offset</key>
        <string>{13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,139}}</string>
        <key>sourceSize</key>
        <string>{231,139}</string>
      </dict>
      <key>monster_30012_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,951},{231,139}}</string>
        <key>offset</key>
        <string>{13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,139}}</string>
        <key>sourceSize</key>
        <string>{231,139}</string>
      </dict>
      <key>monster_30012_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,715},{231,139}}</string>
        <key>offset</key>
        <string>{13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,139}}</string>
        <key>sourceSize</key>
        <string>{231,139}</string>
      </dict>
      <key>monster_30012_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,536},{154,144}}</string>
        <key>offset</key>
        <string>{-54,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,144}}</string>
        <key>sourceSize</key>
        <string>{154,144}</string>
      </dict>
      <key>monster_30012_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,1143},{203,173}}</string>
        <key>offset</key>
        <string>{-109,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,173}}</string>
        <key>sourceSize</key>
        <string>{203,173}</string>
      </dict>
      <key>monster_30012_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,0},{188,173}}</string>
        <key>offset</key>
        <string>{-18,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,173}}</string>
        <key>sourceSize</key>
        <string>{188,173}</string>
      </dict>
      <key>monster_30012_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,416},{192,173}}</string>
        <key>offset</key>
        <string>{-10,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,173}}</string>
        <key>sourceSize</key>
        <string>{192,173}</string>
      </dict>
      <key>monster_30012_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,183},{180,181}}</string>
        <key>offset</key>
        <string>{-7,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,181}}</string>
        <key>sourceSize</key>
        <string>{180,181}</string>
      </dict>
      <key>monster_30012_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,352},{175,182}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,182}}</string>
        <key>sourceSize</key>
        <string>{175,182}</string>
      </dict>
      <key>monster_30012_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1358,359},{175,182}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,182}}</string>
        <key>sourceSize</key>
        <string>{175,182}</string>
      </dict>
      <key>monster_30012_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,529},{175,182}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,182}}</string>
        <key>sourceSize</key>
        <string>{175,182}</string>
      </dict>
      <key>monster_30012_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,706},{175,182}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,182}}</string>
        <key>sourceSize</key>
        <string>{175,182}</string>
      </dict>
      <key>monster_30012_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,883},{175,182}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,182}}</string>
        <key>sourceSize</key>
        <string>{175,182}</string>
      </dict>
      <key>monster_30012_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,442},{204,144}}</string>
        <key>offset</key>
        <string>{-72,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,144}}</string>
        <key>sourceSize</key>
        <string>{204,144}</string>
      </dict>
      <key>monster_30012_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,513},{240,183}}</string>
        <key>offset</key>
        <string>{-94,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,183}}</string>
        <key>sourceSize</key>
        <string>{240,183}</string>
      </dict>
      <key>monster_30012_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,479},{234,144}}</string>
        <key>offset</key>
        <string>{-87,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,144}}</string>
        <key>sourceSize</key>
        <string>{234,144}</string>
      </dict>
      <key>monster_30012_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,844},{189,169}}</string>
        <key>offset</key>
        <string>{-71,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,169}}</string>
        <key>sourceSize</key>
        <string>{189,169}</string>
      </dict>
      <key>monster_30012_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1358,0},{188,171}}</string>
        <key>offset</key>
        <string>{-77,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,171}}</string>
        <key>sourceSize</key>
        <string>{188,171}</string>
      </dict>
      <key>monster_30012_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1758,365},{181,173}}</string>
        <key>offset</key>
        <string>{-74,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,173}}</string>
        <key>sourceSize</key>
        <string>{181,173}</string>
      </dict>
      <key>monster_30012_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1758,540},{181,173}}</string>
        <key>offset</key>
        <string>{-74,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,173}}</string>
        <key>sourceSize</key>
        <string>{181,173}</string>
      </dict>
      <key>monster_30012_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1758,715},{181,173}}</string>
        <key>offset</key>
        <string>{-74,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,173}}</string>
        <key>sourceSize</key>
        <string>{181,173}</string>
      </dict>
      <key>monster_30012_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1276,1417},{181,173}}</string>
        <key>offset</key>
        <string>{-74,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,173}}</string>
        <key>sourceSize</key>
        <string>{181,173}</string>
      </dict>
      <key>monster_30012_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,1430},{181,173}}</string>
        <key>offset</key>
        <string>{-74,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,173}}</string>
        <key>sourceSize</key>
        <string>{181,173}</string>
      </dict>
      <key>monster_30012_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,221},{164,193}}</string>
        <key>offset</key>
        <string>{-41,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,193}}</string>
        <key>sourceSize</key>
        <string>{164,193}</string>
      </dict>
      <key>monster_30012_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,242},{188,235}}</string>
        <key>offset</key>
        <string>{-36,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,235}}</string>
        <key>sourceSize</key>
        <string>{188,235}</string>
      </dict>
      <key>monster_30012_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,175},{175,185}}</string>
        <key>offset</key>
        <string>{-95,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,185}}</string>
        <key>sourceSize</key>
        <string>{175,185}</string>
      </dict>
      <key>monster_30012_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,466},{225,147}}</string>
        <key>offset</key>
        <string>{-179,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,147}}</string>
        <key>sourceSize</key>
        <string>{225,147}</string>
      </dict>
      <key>monster_30012_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,245},{240,141}}</string>
        <key>offset</key>
        <string>{-194,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,141}}</string>
        <key>sourceSize</key>
        <string>{240,141}</string>
      </dict>
      <key>monster_30012_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,755},{237,141}}</string>
        <key>offset</key>
        <string>{-190,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,141}}</string>
        <key>sourceSize</key>
        <string>{237,141}</string>
      </dict>
      <key>monster_30012_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,994},{237,141}}</string>
        <key>offset</key>
        <string>{-190,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,141}}</string>
        <key>sourceSize</key>
        <string>{237,141}</string>
      </dict>
      <key>monster_30012_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1233},{237,141}}</string>
        <key>offset</key>
        <string>{-190,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,141}}</string>
        <key>sourceSize</key>
        <string>{237,141}</string>
      </dict>
      <key>monster_30012_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,1233},{237,141}}</string>
        <key>offset</key>
        <string>{-190,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,141}}</string>
        <key>sourceSize</key>
        <string>{237,141}</string>
      </dict>
      <key>monster_30012_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,755},{237,141}}</string>
        <key>offset</key>
        <string>{-190,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,141}}</string>
        <key>sourceSize</key>
        <string>{237,141}</string>
      </dict>
      <key>monster_30012_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,233},{119,220}}</string>
        <key>offset</key>
        <string>{0,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,220}}</string>
        <key>sourceSize</key>
        <string>{119,220}</string>
      </dict>
      <key>monster_30012_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{127,235}}</string>
        <key>offset</key>
        <string>{-7,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,235}}</string>
        <key>sourceSize</key>
        <string>{127,235}</string>
      </dict>
      <key>monster_30012_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,1102},{151,198}}</string>
        <key>offset</key>
        <string>{-66,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,198}}</string>
        <key>sourceSize</key>
        <string>{151,198}</string>
      </dict>
      <key>monster_30012_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,994},{237,173}}</string>
        <key>offset</key>
        <string>{-191,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,173}}</string>
        <key>sourceSize</key>
        <string>{237,173}</string>
      </dict>
      <key>monster_30012_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{240,160}}</string>
        <key>offset</key>
        <string>{-203,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,160}}</string>
        <key>sourceSize</key>
        <string>{240,160}</string>
      </dict>
      <key>monster_30012_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,470},{231,150}}</string>
        <key>offset</key>
        <string>{-199,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,150}}</string>
        <key>sourceSize</key>
        <string>{231,150}</string>
      </dict>
      <key>monster_30012_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,233},{231,150}}</string>
        <key>offset</key>
        <string>{-199,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,150}}</string>
        <key>sourceSize</key>
        <string>{231,150}</string>
      </dict>
      <key>monster_30012_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{231,150}}</string>
        <key>offset</key>
        <string>{-199,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,150}}</string>
        <key>sourceSize</key>
        <string>{231,150}</string>
      </dict>
      <key>monster_30012_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,1184},{231,150}}</string>
        <key>offset</key>
        <string>{-199,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,150}}</string>
        <key>sourceSize</key>
        <string>{231,150}</string>
      </dict>
      <key>monster_30012_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,948},{231,150}}</string>
        <key>offset</key>
        <string>{-199,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,150}}</string>
        <key>sourceSize</key>
        <string>{231,150}</string>
      </dict>
      <key>monster_30012_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1051,648},{175,194}}</string>
        <key>offset</key>
        <string>{-25,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,194}}</string>
        <key>sourceSize</key>
        <string>{175,194}</string>
      </dict>
      <key>monster_30012_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,693},{205,184}}</string>
        <key>offset</key>
        <string>{-12,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,184}}</string>
        <key>sourceSize</key>
        <string>{205,184}</string>
      </dict>
      <key>monster_30012_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1358,173},{184,188}}</string>
        <key>offset</key>
        <string>{-86,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,188}}</string>
        <key>sourceSize</key>
        <string>{184,188}</string>
      </dict>
      <key>monster_30012_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,0},{184,219}}</string>
        <key>offset</key>
        <string>{-129,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,219}}</string>
        <key>sourceSize</key>
        <string>{184,219}</string>
      </dict>
      <key>monster_30012_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,1348},{181,201}}</string>
        <key>offset</key>
        <string>{-130,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,201}}</string>
        <key>sourceSize</key>
        <string>{181,201}</string>
      </dict>
      <key>monster_30012_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1228,610},{178,189}}</string>
        <key>offset</key>
        <string>{-124,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,189}}</string>
        <key>sourceSize</key>
        <string>{178,189}</string>
      </dict>
      <key>monster_30012_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,1035},{178,189}}</string>
        <key>offset</key>
        <string>{-124,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,189}}</string>
        <key>sourceSize</key>
        <string>{178,189}</string>
      </dict>
      <key>monster_30012_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1236,801},{178,189}}</string>
        <key>offset</key>
        <string>{-124,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,189}}</string>
        <key>sourceSize</key>
        <string>{178,189}</string>
      </dict>
      <key>monster_30012_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1276,1226},{178,189}}</string>
        <key>offset</key>
        <string>{-124,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,189}}</string>
        <key>sourceSize</key>
        <string>{178,189}</string>
      </dict>
      <key>monster_30012_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1394,992},{178,189}}</string>
        <key>offset</key>
        <string>{-124,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,189}}</string>
        <key>sourceSize</key>
        <string>{178,189}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30012_0_4.png</string>
      <key>size</key>
      <string>{1973,1624}</string>
      <key>textureFileName</key>
      <string>monster_30012_0_4.png</string>
    </dict>
  </dict>
</plist>