<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30049_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,0},{193,261}}</string>
        <key>offset</key>
        <string>{-88,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,261}}</string>
        <key>sourceSize</key>
        <string>{193,261}</string>
      </dict>
      <key>monster_30049_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,0},{178,278}}</string>
        <key>offset</key>
        <string>{-84,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,278}}</string>
        <key>sourceSize</key>
        <string>{178,278}</string>
      </dict>
      <key>monster_30049_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{181,279}}</string>
        <key>offset</key>
        <string>{-81,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,279}}</string>
        <key>sourceSize</key>
        <string>{181,279}</string>
      </dict>
      <key>monster_30049_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,902},{196,275}}</string>
        <key>offset</key>
        <string>{-87,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,275}}</string>
        <key>sourceSize</key>
        <string>{196,275}</string>
      </dict>
      <key>monster_30049_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{207,309}}</string>
        <key>offset</key>
        <string>{-90,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,309}}</string>
        <key>sourceSize</key>
        <string>{207,309}</string>
      </dict>
      <key>monster_30049_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,619},{210,303}}</string>
        <key>offset</key>
        <string>{-87,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,303}}</string>
        <key>sourceSize</key>
        <string>{210,303}</string>
      </dict>
      <key>monster_30049_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,611},{214,289}}</string>
        <key>offset</key>
        <string>{-89,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,289}}</string>
        <key>sourceSize</key>
        <string>{214,289}</string>
      </dict>
      <key>monster_30049_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,298},{209,286}}</string>
        <key>offset</key>
        <string>{-85,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,286}}</string>
        <key>sourceSize</key>
        <string>{209,286}</string>
      </dict>
      <key>monster_30049_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,0},{252,214}}</string>
        <key>offset</key>
        <string>{-130,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,214}}</string>
        <key>sourceSize</key>
        <string>{252,214}</string>
      </dict>
      <key>monster_30049_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,216},{252,226}}</string>
        <key>offset</key>
        <string>{-131,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,226}}</string>
        <key>sourceSize</key>
        <string>{252,226}</string>
      </dict>
      <key>monster_30049_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,856},{248,237}}</string>
        <key>offset</key>
        <string>{-132,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,237}}</string>
        <key>sourceSize</key>
        <string>{248,237}</string>
      </dict>
      <key>monster_30049_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1135,678},{235,237}}</string>
        <key>offset</key>
        <string>{-131,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,237}}</string>
        <key>sourceSize</key>
        <string>{235,237}</string>
      </dict>
      <key>monster_30049_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,586},{268,246}}</string>
        <key>offset</key>
        <string>{-130,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,246}}</string>
        <key>sourceSize</key>
        <string>{268,246}</string>
      </dict>
      <key>monster_30049_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,280},{267,243}}</string>
        <key>offset</key>
        <string>{-129,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,243}}</string>
        <key>sourceSize</key>
        <string>{267,243}</string>
      </dict>
      <key>monster_30049_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1135,444},{241,232}}</string>
        <key>offset</key>
        <string>{-129,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,232}}</string>
        <key>sourceSize</key>
        <string>{241,232}</string>
      </dict>
      <key>monster_30049_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,549},{242,231}}</string>
        <key>offset</key>
        <string>{-129,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,231}}</string>
        <key>sourceSize</key>
        <string>{242,231}</string>
      </dict>
      <key>monster_30049_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,924},{292,188}}</string>
        <key>offset</key>
        <string>{-183,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,188}}</string>
        <key>sourceSize</key>
        <string>{292,188}</string>
      </dict>
      <key>monster_30049_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{318,190}}</string>
        <key>offset</key>
        <string>{-185,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,190}}</string>
        <key>sourceSize</key>
        <string>{318,190}</string>
      </dict>
      <key>monster_30049_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{330,190}}</string>
        <key>offset</key>
        <string>{-186,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,190}}</string>
        <key>sourceSize</key>
        <string>{330,190}</string>
      </dict>
      <key>monster_30049_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,311},{306,193}}</string>
        <key>offset</key>
        <string>{-185,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,193}}</string>
        <key>sourceSize</key>
        <string>{306,193}</string>
      </dict>
      <key>monster_30049_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{317,224}}</string>
        <key>offset</key>
        <string>{-183,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,224}}</string>
        <key>sourceSize</key>
        <string>{317,224}</string>
      </dict>
      <key>monster_30049_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,971},{313,232}}</string>
        <key>offset</key>
        <string>{-182,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,232}}</string>
        <key>sourceSize</key>
        <string>{313,232}</string>
      </dict>
      <key>monster_30049_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{296,211}}</string>
        <key>offset</key>
        <string>{-182,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,211}}</string>
        <key>sourceSize</key>
        <string>{296,211}</string>
      </dict>
      <key>monster_30049_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,311},{298,210}}</string>
        <key>offset</key>
        <string>{-182,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,210}}</string>
        <key>sourceSize</key>
        <string>{298,210}</string>
      </dict>
      <key>monster_30049_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,1154},{229,178}}</string>
        <key>offset</key>
        <string>{-115,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,178}}</string>
        <key>sourceSize</key>
        <string>{229,178}</string>
      </dict>
      <key>monster_30049_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1179},{227,180}}</string>
        <key>offset</key>
        <string>{-116,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,180}}</string>
        <key>sourceSize</key>
        <string>{227,180}</string>
      </dict>
      <key>monster_30049_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1205},{230,181}}</string>
        <key>offset</key>
        <string>{-117,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,181}}</string>
        <key>sourceSize</key>
        <string>{230,181}</string>
      </dict>
      <key>monster_30049_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1320,1153},{227,182}}</string>
        <key>offset</key>
        <string>{-117,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,182}}</string>
        <key>sourceSize</key>
        <string>{227,182}</string>
      </dict>
      <key>monster_30049_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1118,1154},{228,200}}</string>
        <key>offset</key>
        <string>{-116,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,200}}</string>
        <key>sourceSize</key>
        <string>{228,200}</string>
      </dict>
      <key>monster_30049_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,1106},{233,231}}</string>
        <key>offset</key>
        <string>{-115,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,231}}</string>
        <key>sourceSize</key>
        <string>{233,231}</string>
      </dict>
      <key>monster_30049_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,915},{236,209}}</string>
        <key>offset</key>
        <string>{-115,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,209}}</string>
        <key>sourceSize</key>
        <string>{236,209}</string>
      </dict>
      <key>monster_30049_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,915},{237,207}}</string>
        <key>offset</key>
        <string>{-114,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,207}}</string>
        <key>sourceSize</key>
        <string>{237,207}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30049_0_2_0.png</string>
      <key>size</key>
      <string>{1538,1485}</string>
      <key>textureFileName</key>
      <string>monster_30049_0_2_0.png</string>
    </dict>
  </dict>
</plist>