<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30008_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,358},{239,164}}</string>
        <key>offset</key>
        <string>{-53,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,164}}</string>
        <key>sourceSize</key>
        <string>{239,164}</string>
      </dict>
      <key>monster_30008_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{325,166}}</string>
        <key>offset</key>
        <string>{-81,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,166}}</string>
        <key>sourceSize</key>
        <string>{325,166}</string>
      </dict>
      <key>monster_30008_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{391,169}}</string>
        <key>offset</key>
        <string>{-120,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,169}}</string>
        <key>sourceSize</key>
        <string>{391,169}</string>
      </dict>
      <key>monster_30008_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{322,168}}</string>
        <key>offset</key>
        <string>{-75,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,168}}</string>
        <key>sourceSize</key>
        <string>{322,168}</string>
      </dict>
      <key>monster_30008_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,523},{157,243}}</string>
        <key>offset</key>
        <string>{-31,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,243}}</string>
        <key>sourceSize</key>
        <string>{157,243}</string>
      </dict>
      <key>monster_30008_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,0},{173,211}}</string>
        <key>offset</key>
        <string>{-44,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,211}}</string>
        <key>sourceSize</key>
        <string>{173,211}</string>
      </dict>
      <key>monster_30008_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,209},{147,244}}</string>
        <key>offset</key>
        <string>{-21,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,244}}</string>
        <key>sourceSize</key>
        <string>{147,244}</string>
      </dict>
      <key>monster_30008_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,524},{226,174}}</string>
        <key>offset</key>
        <string>{-56,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,174}}</string>
        <key>sourceSize</key>
        <string>{226,174}</string>
      </dict>
      <key>monster_30008_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{275,205}}</string>
        <key>offset</key>
        <string>{-73,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,205}}</string>
        <key>sourceSize</key>
        <string>{275,205}</string>
      </dict>
      <key>monster_30008_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,393},{313,228}}</string>
        <key>offset</key>
        <string>{-66,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,228}}</string>
        <key>sourceSize</key>
        <string>{313,228}</string>
      </dict>
      <key>monster_30008_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{278,215}}</string>
        <key>offset</key>
        <string>{-81,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,215}}</string>
        <key>sourceSize</key>
        <string>{278,215}</string>
      </dict>
      <key>monster_30008_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,0},{271,207}}</string>
        <key>offset</key>
        <string>{-125,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,207}}</string>
        <key>sourceSize</key>
        <string>{271,207}</string>
      </dict>
      <key>monster_30008_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,277},{244,177}}</string>
        <key>offset</key>
        <string>{-97,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,177}}</string>
        <key>sourceSize</key>
        <string>{244,177}</string>
      </dict>
      <key>monster_30008_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,708},{268,168}}</string>
        <key>offset</key>
        <string>{-100,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,168}}</string>
        <key>sourceSize</key>
        <string>{268,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30008_0_2_2.png</string>
      <key>size</key>
      <string>{1068,898}</string>
      <key>textureFileName</key>
      <string>monster_30008_0_2_2.png</string>
    </dict>
  </dict>
</plist>