<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30091_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,320},{130,154}}</string>
        <key>offset</key>
        <string>{-29,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,154}}</string>
        <key>sourceSize</key>
        <string>{130,154}</string>
      </dict>
      <key>monster_30091_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,844},{140,147}}</string>
        <key>offset</key>
        <string>{-40,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,147}}</string>
        <key>sourceSize</key>
        <string>{140,147}</string>
      </dict>
      <key>monster_30091_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,85},{142,159}}</string>
        <key>offset</key>
        <string>{-43,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,159}}</string>
        <key>sourceSize</key>
        <string>{142,159}</string>
      </dict>
      <key>monster_30091_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,85},{131,171}}</string>
        <key>offset</key>
        <string>{-34,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,171}}</string>
        <key>sourceSize</key>
        <string>{131,171}</string>
      </dict>
      <key>monster_30091_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,1141},{114,133}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,133}}</string>
        <key>sourceSize</key>
        <string>{114,133}</string>
      </dict>
      <key>monster_30091_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,815},{114,135}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,135}}</string>
        <key>sourceSize</key>
        <string>{114,135}</string>
      </dict>
      <key>monster_30091_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,880},{114,135}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,135}}</string>
        <key>sourceSize</key>
        <string>{114,135}</string>
      </dict>
      <key>monster_30091_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,986},{114,135}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,135}}</string>
        <key>sourceSize</key>
        <string>{114,135}</string>
      </dict>
      <key>monster_30091_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,1025},{114,135}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,135}}</string>
        <key>sourceSize</key>
        <string>{114,135}</string>
      </dict>
      <key>monster_30091_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,1141},{114,135}}</string>
        <key>offset</key>
        <string>{-34,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,135}}</string>
        <key>sourceSize</key>
        <string>{114,135}</string>
      </dict>
      <key>monster_30091_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,761},{134,146}}</string>
        <key>offset</key>
        <string>{-40,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,146}}</string>
        <key>sourceSize</key>
        <string>{134,146}</string>
      </dict>
      <key>monster_30091_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,746},{151,141}}</string>
        <key>offset</key>
        <string>{-37,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,141}}</string>
        <key>sourceSize</key>
        <string>{151,141}</string>
      </dict>
      <key>monster_30091_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,585},{153,145}}</string>
        <key>offset</key>
        <string>{-16,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,145}}</string>
        <key>sourceSize</key>
        <string>{153,145}</string>
      </dict>
      <key>monster_30091_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,85},{163,151}}</string>
        <key>offset</key>
        <string>{-13,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,151}}</string>
        <key>sourceSize</key>
        <string>{163,151}</string>
      </dict>
      <key>monster_30091_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,112},{157,104}}</string>
        <key>offset</key>
        <string>{1,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,104}}</string>
        <key>sourceSize</key>
        <string>{157,104}</string>
      </dict>
      <key>monster_30091_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,235},{156,107}}</string>
        <key>offset</key>
        <string>{2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>monster_30091_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,238},{156,107}}</string>
        <key>offset</key>
        <string>{2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>monster_30091_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,344},{156,107}}</string>
        <key>offset</key>
        <string>{2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>monster_30091_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,347},{156,107}}</string>
        <key>offset</key>
        <string>{2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>monster_30091_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,350},{156,107}}</string>
        <key>offset</key>
        <string>{2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,107}}</string>
        <key>sourceSize</key>
        <string>{156,107}</string>
      </dict>
      <key>monster_30091_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,224},{157,156}}</string>
        <key>offset</key>
        <string>{-51,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,156}}</string>
        <key>sourceSize</key>
        <string>{157,156}</string>
      </dict>
      <key>monster_30091_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,163},{155,138}}</string>
        <key>offset</key>
        <string>{-15,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,138}}</string>
        <key>sourceSize</key>
        <string>{155,138}</string>
      </dict>
      <key>monster_30091_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,193},{169,119}}</string>
        <key>offset</key>
        <string>{-11,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,119}}</string>
        <key>sourceSize</key>
        <string>{169,119}</string>
      </dict>
      <key>monster_30091_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,0},{178,110}}</string>
        <key>offset</key>
        <string>{-5,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,110}}</string>
        <key>sourceSize</key>
        <string>{178,110}</string>
      </dict>
      <key>monster_30091_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{196,73}}</string>
        <key>offset</key>
        <string>{4,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,73}}</string>
        <key>sourceSize</key>
        <string>{196,73}</string>
      </dict>
      <key>monster_30091_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{195,73}}</string>
        <key>offset</key>
        <string>{5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,73}}</string>
        <key>sourceSize</key>
        <string>{195,73}</string>
      </dict>
      <key>monster_30091_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,395},{195,73}}</string>
        <key>offset</key>
        <string>{5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,73}}</string>
        <key>sourceSize</key>
        <string>{195,73}</string>
      </dict>
      <key>monster_30091_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,592},{195,73}}</string>
        <key>offset</key>
        <string>{5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,73}}</string>
        <key>sourceSize</key>
        <string>{195,73}</string>
      </dict>
      <key>monster_30091_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,789},{195,73}}</string>
        <key>offset</key>
        <string>{5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,73}}</string>
        <key>sourceSize</key>
        <string>{195,73}</string>
      </dict>
      <key>monster_30091_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,986},{195,73}}</string>
        <key>offset</key>
        <string>{5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,73}}</string>
        <key>sourceSize</key>
        <string>{195,73}</string>
      </dict>
      <key>monster_30091_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,345},{145,155}}</string>
        <key>offset</key>
        <string>{-21,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,155}}</string>
        <key>sourceSize</key>
        <string>{145,155}</string>
      </dict>
      <key>monster_30091_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,1042},{133,142}}</string>
        <key>offset</key>
        <string>{-12,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,142}}</string>
        <key>sourceSize</key>
        <string>{133,142}</string>
      </dict>
      <key>monster_30091_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,884},{138,112}}</string>
        <key>offset</key>
        <string>{-16,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_30091_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,793},{152,85}}</string>
        <key>offset</key>
        <string>{-10,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,85}}</string>
        <key>sourceSize</key>
        <string>{152,85}</string>
      </dict>
      <key>monster_30091_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,796},{152,112}}</string>
        <key>offset</key>
        <string>{-6,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,112}}</string>
        <key>sourceSize</key>
        <string>{152,112}</string>
      </dict>
      <key>monster_30091_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,364},{154,107}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,107}}</string>
        <key>sourceSize</key>
        <string>{154,107}</string>
      </dict>
      <key>monster_30091_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,382},{154,107}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,107}}</string>
        <key>sourceSize</key>
        <string>{154,107}</string>
      </dict>
      <key>monster_30091_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,452},{154,107}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,107}}</string>
        <key>sourceSize</key>
        <string>{154,107}</string>
      </dict>
      <key>monster_30091_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,491},{154,107}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,107}}</string>
        <key>sourceSize</key>
        <string>{154,107}</string>
      </dict>
      <key>monster_30091_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,492},{154,107}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,107}}</string>
        <key>sourceSize</key>
        <string>{154,107}</string>
      </dict>
      <key>monster_30091_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1144,607},{130,152}}</string>
        <key>offset</key>
        <string>{-19,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,152}}</string>
        <key>sourceSize</key>
        <string>{130,152}</string>
      </dict>
      <key>monster_30091_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,751},{127,151}}</string>
        <key>offset</key>
        <string>{-26,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,151}}</string>
        <key>sourceSize</key>
        <string>{127,151}</string>
      </dict>
      <key>monster_30091_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,1002},{109,120}}</string>
        <key>offset</key>
        <string>{-23,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,120}}</string>
        <key>sourceSize</key>
        <string>{109,120}</string>
      </dict>
      <key>monster_30091_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,931},{108,99}}</string>
        <key>offset</key>
        <string>{-28,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,99}}</string>
        <key>sourceSize</key>
        <string>{108,99}</string>
      </dict>
      <key>monster_30091_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,1141},{111,134}}</string>
        <key>offset</key>
        <string>{-37,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
      <key>monster_30091_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1111,909},{111,131}}</string>
        <key>offset</key>
        <string>{-37,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>monster_30091_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,1102},{111,131}}</string>
        <key>offset</key>
        <string>{-37,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>monster_30091_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,889},{111,131}}</string>
        <key>offset</key>
        <string>{-37,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>monster_30091_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,996},{111,131}}</string>
        <key>offset</key>
        <string>{-37,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>monster_30091_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,1129},{111,131}}</string>
        <key>offset</key>
        <string>{-37,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,131}}</string>
        <key>sourceSize</key>
        <string>{111,131}</string>
      </dict>
      <key>monster_30091_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,0},{125,161}}</string>
        <key>offset</key>
        <string>{-13,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,161}}</string>
        <key>sourceSize</key>
        <string>{125,161}</string>
      </dict>
      <key>monster_30091_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,910},{130,144}}</string>
        <key>offset</key>
        <string>{-35,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,144}}</string>
        <key>sourceSize</key>
        <string>{130,144}</string>
      </dict>
      <key>monster_30091_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,1129},{124,122}}</string>
        <key>offset</key>
        <string>{-69,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,122}}</string>
        <key>sourceSize</key>
        <string>{124,122}</string>
      </dict>
      <key>monster_30091_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,1002},{123,103}}</string>
        <key>offset</key>
        <string>{-70,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,103}}</string>
        <key>sourceSize</key>
        <string>{123,103}</string>
      </dict>
      <key>monster_30091_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,229},{157,114}}</string>
        <key>offset</key>
        <string>{-113,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,114}}</string>
        <key>sourceSize</key>
        <string>{157,114}</string>
      </dict>
      <key>monster_30091_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,682},{153,109}}</string>
        <key>offset</key>
        <string>{-113,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,109}}</string>
        <key>sourceSize</key>
        <string>{153,109}</string>
      </dict>
      <key>monster_30091_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,685},{153,109}}</string>
        <key>offset</key>
        <string>{-113,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,109}}</string>
        <key>sourceSize</key>
        <string>{153,109}</string>
      </dict>
      <key>monster_30091_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,729},{153,109}}</string>
        <key>offset</key>
        <string>{-113,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,109}}</string>
        <key>sourceSize</key>
        <string>{153,109}</string>
      </dict>
      <key>monster_30091_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1145,452},{153,109}}</string>
        <key>offset</key>
        <string>{-113,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,109}}</string>
        <key>sourceSize</key>
        <string>{153,109}</string>
      </dict>
      <key>monster_30091_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,561},{153,109}}</string>
        <key>offset</key>
        <string>{-113,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,109}}</string>
        <key>sourceSize</key>
        <string>{153,109}</string>
      </dict>
      <key>monster_30091_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,600},{153,144}}</string>
        <key>offset</key>
        <string>{-30,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,144}}</string>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>monster_30091_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,601},{148,153}}</string>
        <key>offset</key>
        <string>{-61,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,153}}</string>
        <key>sourceSize</key>
        <string>{148,153}</string>
      </dict>
      <key>monster_30091_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,880},{143,146}}</string>
        <key>offset</key>
        <string>{-91,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,146}}</string>
        <key>sourceSize</key>
        <string>{143,146}</string>
      </dict>
      <key>monster_30091_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,453},{155,130}}</string>
        <key>offset</key>
        <string>{-110,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,130}}</string>
        <key>sourceSize</key>
        <string>{155,130}</string>
      </dict>
      <key>monster_30091_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1183},{195,81}}</string>
        <key>offset</key>
        <string>{-155,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,81}}</string>
        <key>sourceSize</key>
        <string>{195,81}</string>
      </dict>
      <key>monster_30091_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{191,83}}</string>
        <key>offset</key>
        <string>{-155,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,83}}</string>
        <key>sourceSize</key>
        <string>{191,83}</string>
      </dict>
      <key>monster_30091_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{191,83}}</string>
        <key>offset</key>
        <string>{-155,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,83}}</string>
        <key>sourceSize</key>
        <string>{191,83}</string>
      </dict>
      <key>monster_30091_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{191,83}}</string>
        <key>offset</key>
        <string>{-155,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,83}}</string>
        <key>sourceSize</key>
        <string>{191,83}</string>
      </dict>
      <key>monster_30091_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,0},{191,83}}</string>
        <key>offset</key>
        <string>{-155,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,83}}</string>
        <key>sourceSize</key>
        <string>{191,83}</string>
      </dict>
      <key>monster_30091_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,0},{191,83}}</string>
        <key>offset</key>
        <string>{-155,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,83}}</string>
        <key>sourceSize</key>
        <string>{191,83}</string>
      </dict>
      <key>monster_30091_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,85},{160,148}}</string>
        <key>offset</key>
        <string>{-48,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,148}}</string>
        <key>sourceSize</key>
        <string>{160,148}</string>
      </dict>
      <key>monster_30091_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,672},{141,152}}</string>
        <key>offset</key>
        <string>{-43,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,152}}</string>
        <key>sourceSize</key>
        <string>{141,152}</string>
      </dict>
      <key>monster_30091_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,732},{110,153}}</string>
        <key>offset</key>
        <string>{-54,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,153}}</string>
        <key>sourceSize</key>
        <string>{110,153}</string>
      </dict>
      <key>monster_30091_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,218},{130,161}}</string>
        <key>offset</key>
        <string>{-80,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,161}}</string>
        <key>sourceSize</key>
        <string>{130,161}</string>
      </dict>
      <key>monster_30091_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,112},{158,110}}</string>
        <key>offset</key>
        <string>{-105,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,110}}</string>
        <key>sourceSize</key>
        <string>{158,110}</string>
      </dict>
      <key>monster_30091_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,456},{155,111}}</string>
        <key>offset</key>
        <string>{-105,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,111}}</string>
        <key>sourceSize</key>
        <string>{155,111}</string>
      </dict>
      <key>monster_30091_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,459},{155,111}}</string>
        <key>offset</key>
        <string>{-105,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,111}}</string>
        <key>sourceSize</key>
        <string>{155,111}</string>
      </dict>
      <key>monster_30091_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,569},{155,111}}</string>
        <key>offset</key>
        <string>{-105,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,111}}</string>
        <key>sourceSize</key>
        <string>{155,111}</string>
      </dict>
      <key>monster_30091_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,572},{155,111}}</string>
        <key>offset</key>
        <string>{-105,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,111}}</string>
        <key>sourceSize</key>
        <string>{155,111}</string>
      </dict>
      <key>monster_30091_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,572},{155,111}}</string>
        <key>offset</key>
        <string>{-105,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,111}}</string>
        <key>sourceSize</key>
        <string>{155,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30091_0_4.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_30091_0_4.png</string>
    </dict>
  </dict>
</plist>