<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30035_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{280,162}}</string>
        <key>offset</key>
        <string>{-88,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,162}}</string>
        <key>sourceSize</key>
        <string>{280,162}</string>
      </dict>
      <key>monster_30035_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{275,252}}</string>
        <key>offset</key>
        <string>{-92,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,252}}</string>
        <key>sourceSize</key>
        <string>{275,252}</string>
      </dict>
      <key>monster_30035_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,303},{290,202}}</string>
        <key>offset</key>
        <string>{-108,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,202}}</string>
        <key>sourceSize</key>
        <string>{290,202}</string>
      </dict>
      <key>monster_30035_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,549},{207,213}}</string>
        <key>offset</key>
        <string>{-30,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,213}}</string>
        <key>sourceSize</key>
        <string>{207,213}</string>
      </dict>
      <key>monster_30035_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,881},{217,182}}</string>
        <key>offset</key>
        <string>{-30,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,182}}</string>
        <key>sourceSize</key>
        <string>{217,182}</string>
      </dict>
      <key>monster_30035_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,362},{229,185}}</string>
        <key>offset</key>
        <string>{-37,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,185}}</string>
        <key>sourceSize</key>
        <string>{229,185}</string>
      </dict>
      <key>monster_30035_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1091,758},{206,181}}</string>
        <key>offset</key>
        <string>{-23,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,181}}</string>
        <key>sourceSize</key>
        <string>{206,181}</string>
      </dict>
      <key>monster_30035_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,595},{239,284}}</string>
        <key>offset</key>
        <string>{-44,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,284}}</string>
        <key>sourceSize</key>
        <string>{239,284}</string>
      </dict>
      <key>monster_30035_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,541},{260,247}}</string>
        <key>offset</key>
        <string>{-70,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,247}}</string>
        <key>sourceSize</key>
        <string>{260,247}</string>
      </dict>
      <key>monster_30035_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{238,198}}</string>
        <key>offset</key>
        <string>{-41,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,198}}</string>
        <key>sourceSize</key>
        <string>{238,198}</string>
      </dict>
      <key>monster_30035_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,158},{233,202}}</string>
        <key>offset</key>
        <string>{-34,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,202}}</string>
        <key>sourceSize</key>
        <string>{233,202}</string>
      </dict>
      <key>monster_30035_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,277},{262,155}}</string>
        <key>offset</key>
        <string>{-75,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,155}}</string>
        <key>sourceSize</key>
        <string>{262,155}</string>
      </dict>
      <key>monster_30035_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,803},{222,162}}</string>
        <key>offset</key>
        <string>{-24,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,162}}</string>
        <key>sourceSize</key>
        <string>{222,162}</string>
      </dict>
      <key>monster_30035_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,277},{215,255}}</string>
        <key>offset</key>
        <string>{-25,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,255}}</string>
        <key>sourceSize</key>
        <string>{215,255}</string>
      </dict>
      <key>monster_30035_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,534},{216,249}}</string>
        <key>offset</key>
        <string>{-35,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,249}}</string>
        <key>sourceSize</key>
        <string>{216,249}</string>
      </dict>
      <key>monster_30035_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{301,161}}</string>
        <key>offset</key>
        <string>{-104,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,161}}</string>
        <key>sourceSize</key>
        <string>{301,161}</string>
      </dict>
      <key>monster_30035_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{254,191}}</string>
        <key>offset</key>
        <string>{-63,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,191}}</string>
        <key>sourceSize</key>
        <string>{254,191}</string>
      </dict>
      <key>monster_30035_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,0},{238,156}}</string>
        <key>offset</key>
        <string>{-75,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,156}}</string>
        <key>sourceSize</key>
        <string>{238,156}</string>
      </dict>
      <key>monster_30035_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,256},{246,147}}</string>
        <key>offset</key>
        <string>{-37,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,147}}</string>
        <key>sourceSize</key>
        <string>{246,147}</string>
      </dict>
      <key>monster_30035_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,549},{223,193}}</string>
        <key>offset</key>
        <string>{-37,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,193}}</string>
        <key>sourceSize</key>
        <string>{223,193}</string>
      </dict>
      <key>monster_30035_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,774},{198,218}}</string>
        <key>offset</key>
        <string>{-37,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,218}}</string>
        <key>sourceSize</key>
        <string>{198,218}</string>
      </dict>
      <key>monster_30035_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,560},{266,161}}</string>
        <key>offset</key>
        <string>{-103,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,161}}</string>
        <key>sourceSize</key>
        <string>{266,161}</string>
      </dict>
      <key>monster_30035_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,282},{276,169}}</string>
        <key>offset</key>
        <string>{-121,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,169}}</string>
        <key>sourceSize</key>
        <string>{276,169}</string>
      </dict>
      <key>monster_30035_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,828},{197,159}}</string>
        <key>offset</key>
        <string>{-37,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,159}}</string>
        <key>sourceSize</key>
        <string>{197,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30035_0_2_1.png</string>
      <key>size</key>
      <string>{1282,1068}</string>
      <key>textureFileName</key>
      <string>monster_30035_0_2_1.png</string>
    </dict>
  </dict>
</plist>