<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30008_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{263,227}}</string>
        <key>offset</key>
        <string>{-87,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,227}}</string>
        <key>sourceSize</key>
        <string>{263,227}</string>
      </dict>
      <key>monster_30008_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,456},{260,230}}</string>
        <key>offset</key>
        <string>{-88,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,230}}</string>
        <key>sourceSize</key>
        <string>{260,230}</string>
      </dict>
      <key>monster_30008_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,688},{257,228}}</string>
        <key>offset</key>
        <string>{-84,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,228}}</string>
        <key>sourceSize</key>
        <string>{257,228}</string>
      </dict>
      <key>monster_30008_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,948},{254,233}}</string>
        <key>offset</key>
        <string>{-78,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,233}}</string>
        <key>sourceSize</key>
        <string>{254,233}</string>
      </dict>
      <key>monster_30008_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,948},{253,236}}</string>
        <key>offset</key>
        <string>{-73,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,236}}</string>
        <key>sourceSize</key>
        <string>{253,236}</string>
      </dict>
      <key>monster_30008_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{256,233}}</string>
        <key>offset</key>
        <string>{-72,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,233}}</string>
        <key>sourceSize</key>
        <string>{256,233}</string>
      </dict>
      <key>monster_30008_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,688},{258,223}}</string>
        <key>offset</key>
        <string>{-75,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,223}}</string>
        <key>sourceSize</key>
        <string>{258,223}</string>
      </dict>
      <key>monster_30008_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,229},{263,225}}</string>
        <key>offset</key>
        <string>{-81,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,225}}</string>
        <key>sourceSize</key>
        <string>{263,225}</string>
      </dict>
      <key>monster_30008_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,630},{302,219}}</string>
        <key>offset</key>
        <string>{-146,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,219}}</string>
        <key>sourceSize</key>
        <string>{302,219}</string>
      </dict>
      <key>monster_30008_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{293,222}}</string>
        <key>offset</key>
        <string>{-151,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,222}}</string>
        <key>sourceSize</key>
        <string>{293,222}</string>
      </dict>
      <key>monster_30008_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{305,219}}</string>
        <key>offset</key>
        <string>{-152,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,219}}</string>
        <key>sourceSize</key>
        <string>{305,219}</string>
      </dict>
      <key>monster_30008_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,639},{313,218}}</string>
        <key>offset</key>
        <string>{-150,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,218}}</string>
        <key>sourceSize</key>
        <string>{313,218}</string>
      </dict>
      <key>monster_30008_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{319,217}}</string>
        <key>offset</key>
        <string>{-144,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,217}}</string>
        <key>sourceSize</key>
        <string>{319,217}</string>
      </dict>
      <key>monster_30008_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,321},{316,211}}</string>
        <key>offset</key>
        <string>{-140,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,211}}</string>
        <key>sourceSize</key>
        <string>{316,211}</string>
      </dict>
      <key>monster_30008_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,321},{307,213}}</string>
        <key>offset</key>
        <string>{-138,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,213}}</string>
        <key>sourceSize</key>
        <string>{307,213}</string>
      </dict>
      <key>monster_30008_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,307},{302,213}}</string>
        <key>offset</key>
        <string>{-141,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,213}}</string>
        <key>sourceSize</key>
        <string>{302,213}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30008_0_1_2.png</string>
      <key>size</key>
      <string>{1026,1256}</string>
      <key>textureFileName</key>
      <string>monster_30008_0_1_2.png</string>
    </dict>
  </dict>
</plist>