<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30003_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,859},{413,255}}</string>
        <key>offset</key>
        <string>{-144,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,255}}</string>
        <key>sourceSize</key>
        <string>{413,255}</string>
      </dict>
      <key>monster_30003_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,0},{389,291}}</string>
        <key>offset</key>
        <string>{-129,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,291}}</string>
        <key>sourceSize</key>
        <string>{389,291}</string>
      </dict>
      <key>monster_30003_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,1239},{401,284}}</string>
        <key>offset</key>
        <string>{-141,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,284}}</string>
        <key>sourceSize</key>
        <string>{401,284}</string>
      </dict>
      <key>monster_30003_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,418},{411,355}}</string>
        <key>offset</key>
        <string>{-192,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,355}}</string>
        <key>sourceSize</key>
        <string>{411,355}</string>
      </dict>
      <key>monster_30003_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,831},{406,300}}</string>
        <key>offset</key>
        <string>{-171,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,300}}</string>
        <key>sourceSize</key>
        <string>{406,300}</string>
      </dict>
      <key>monster_30003_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,775},{355,263}}</string>
        <key>offset</key>
        <string>{-144,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,263}}</string>
        <key>sourceSize</key>
        <string>{355,263}</string>
      </dict>
      <key>monster_30003_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,391},{382,280}}</string>
        <key>offset</key>
        <string>{-168,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,280}}</string>
        <key>sourceSize</key>
        <string>{382,280}</string>
      </dict>
      <key>monster_30003_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,413},{397,280}}</string>
        <key>offset</key>
        <string>{-178,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,280}}</string>
        <key>sourceSize</key>
        <string>{397,280}</string>
      </dict>
      <key>monster_30003_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1525},{331,263}}</string>
        <key>offset</key>
        <string>{-107,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,263}}</string>
        <key>sourceSize</key>
        <string>{331,263}</string>
      </dict>
      <key>monster_30003_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{395,250}}</string>
        <key>offset</key>
        <string>{-168,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,250}}</string>
        <key>sourceSize</key>
        <string>{395,250}</string>
      </dict>
      <key>monster_30003_0_4_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{411,220}}</string>
        <key>offset</key>
        <string>{-191,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,220}}</string>
        <key>sourceSize</key>
        <string>{411,220}</string>
      </dict>
      <key>monster_30003_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,1525},{270,326}}</string>
        <key>offset</key>
        <string>{-12,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,326}}</string>
        <key>sourceSize</key>
        <string>{270,326}</string>
      </dict>
      <key>monster_30003_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1194,0},{292,337}}</string>
        <key>offset</key>
        <string>{-12,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,337}}</string>
        <key>sourceSize</key>
        <string>{292,337}</string>
      </dict>
      <key>monster_30003_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1194,294},{333,326}}</string>
        <key>offset</key>
        <string>{-25,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,326}}</string>
        <key>sourceSize</key>
        <string>{333,326}</string>
      </dict>
      <key>monster_30003_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,859},{412,270}}</string>
        <key>offset</key>
        <string>{-180,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,270}}</string>
        <key>sourceSize</key>
        <string>{412,270}</string>
      </dict>
      <key>monster_30003_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{416,193}}</string>
        <key>offset</key>
        <string>{-157,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,193}}</string>
        <key>sourceSize</key>
        <string>{416,193}</string>
      </dict>
      <key>monster_30003_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,812},{388,198}}</string>
        <key>offset</key>
        <string>{-156,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,198}}</string>
        <key>sourceSize</key>
        <string>{388,198}</string>
      </dict>
      <key>monster_30003_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1274},{410,215}}</string>
        <key>offset</key>
        <string>{-170,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,215}}</string>
        <key>sourceSize</key>
        <string>{410,215}</string>
      </dict>
      <key>monster_30003_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,1202},{373,263}}</string>
        <key>offset</key>
        <string>{-107,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,263}}</string>
        <key>sourceSize</key>
        <string>{373,263}</string>
      </dict>
      <key>monster_30003_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,1467},{325,296}}</string>
        <key>offset</key>
        <string>{-93,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,296}}</string>
        <key>sourceSize</key>
        <string>{325,296}</string>
      </dict>
      <key>monster_30003_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{425,271}}</string>
        <key>offset</key>
        <string>{-177,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,271}}</string>
        <key>sourceSize</key>
        <string>{425,271}</string>
      </dict>
      <key>monster_30003_0_4_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{430,219}}</string>
        <key>offset</key>
        <string>{-189,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,219}}</string>
        <key>sourceSize</key>
        <string>{430,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30003_0_4_2.png</string>
      <key>size</key>
      <string>{1538,1798}</string>
      <key>textureFileName</key>
      <string>monster_30003_0_4_2.png</string>
    </dict>
  </dict>
</plist>