<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30061_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,232},{76,42}}</string>
        <key>offset</key>
        <string>{-53,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,42}}</string>
        <key>sourceSize</key>
        <string>{76,42}</string>
      </dict>
      <key>monster_30061_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,87},{84,48}}</string>
        <key>offset</key>
        <string>{-59,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,48}}</string>
        <key>sourceSize</key>
        <string>{84,48}</string>
      </dict>
      <key>monster_30061_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{85,47}}</string>
        <key>offset</key>
        <string>{-60,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,47}}</string>
        <key>sourceSize</key>
        <string>{85,47}</string>
      </dict>
      <key>monster_30061_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,89},{86,50}}</string>
        <key>offset</key>
        <string>{-59,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,50}}</string>
        <key>sourceSize</key>
        <string>{86,50}</string>
      </dict>
      <key>monster_30061_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,93},{88,52}}</string>
        <key>offset</key>
        <string>{-59,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,52}}</string>
        <key>sourceSize</key>
        <string>{88,52}</string>
      </dict>
      <key>monster_30061_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{87,52}}</string>
        <key>offset</key>
        <string>{-59,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,52}}</string>
        <key>sourceSize</key>
        <string>{87,52}</string>
      </dict>
      <key>monster_30061_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,89},{87,52}}</string>
        <key>offset</key>
        <string>{-59,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,52}}</string>
        <key>sourceSize</key>
        <string>{87,52}</string>
      </dict>
      <key>monster_30061_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{88,51}}</string>
        <key>offset</key>
        <string>{-61,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,51}}</string>
        <key>sourceSize</key>
        <string>{88,51}</string>
      </dict>
      <key>monster_30061_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{91,51}}</string>
        <key>offset</key>
        <string>{-65,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,51}}</string>
        <key>sourceSize</key>
        <string>{91,51}</string>
      </dict>
      <key>monster_30061_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,51}}</string>
        <key>offset</key>
        <string>{-65,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,51}}</string>
        <key>sourceSize</key>
        <string>{98,51}</string>
      </dict>
      <key>monster_30061_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,232},{76,42}}</string>
        <key>offset</key>
        <string>{-53,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,42}}</string>
        <key>sourceSize</key>
        <string>{76,42}</string>
      </dict>
      <key>monster_30061_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,177},{84,48}}</string>
        <key>offset</key>
        <string>{-59,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,48}}</string>
        <key>sourceSize</key>
        <string>{84,48}</string>
      </dict>
      <key>monster_30061_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{85,47}}</string>
        <key>offset</key>
        <string>{-60,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,47}}</string>
        <key>sourceSize</key>
        <string>{85,47}</string>
      </dict>
      <key>monster_30061_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,89},{86,50}}</string>
        <key>offset</key>
        <string>{-59,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,50}}</string>
        <key>sourceSize</key>
        <string>{86,50}</string>
      </dict>
      <key>monster_30061_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,183},{88,52}}</string>
        <key>offset</key>
        <string>{-59,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,52}}</string>
        <key>sourceSize</key>
        <string>{88,52}</string>
      </dict>
      <key>monster_30061_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{87,52}}</string>
        <key>offset</key>
        <string>{-59,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,52}}</string>
        <key>sourceSize</key>
        <string>{87,52}</string>
      </dict>
      <key>monster_30061_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,178},{87,52}}</string>
        <key>offset</key>
        <string>{-59,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,52}}</string>
        <key>sourceSize</key>
        <string>{87,52}</string>
      </dict>
      <key>monster_30061_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,90},{88,51}}</string>
        <key>offset</key>
        <string>{-61,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,51}}</string>
        <key>sourceSize</key>
        <string>{88,51}</string>
      </dict>
      <key>monster_30061_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{91,51}}</string>
        <key>offset</key>
        <string>{-65,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,51}}</string>
        <key>sourceSize</key>
        <string>{91,51}</string>
      </dict>
      <key>monster_30061_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{98,51}}</string>
        <key>offset</key>
        <string>{-65,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,51}}</string>
        <key>sourceSize</key>
        <string>{98,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30061_0_4_1.png</string>
      <key>size</key>
      <string>{385,277}</string>
      <key>textureFileName</key>
      <string>monster_30061_0_4_1.png</string>
    </dict>
  </dict>
</plist>