<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40006_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,403},{359,283}}</string>
        <key>offset</key>
        <string>{-126,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,283}}</string>
        <key>sourceSize</key>
        <string>{359,283}</string>
      </dict>
      <key>monster_40006_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{463,279}}</string>
        <key>offset</key>
        <string>{-214,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,279}}</string>
        <key>sourceSize</key>
        <string>{463,279}</string>
      </dict>
      <key>monster_40006_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{434,341}}</string>
        <key>offset</key>
        <string>{-218,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,341}}</string>
        <key>sourceSize</key>
        <string>{434,341}</string>
      </dict>
      <key>monster_40006_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,465},{438,335}}</string>
        <key>offset</key>
        <string>{-216,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,335}}</string>
        <key>sourceSize</key>
        <string>{438,335}</string>
      </dict>
      <key>monster_40006_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,436},{433,323}}</string>
        <key>offset</key>
        <string>{-217,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,323}}</string>
        <key>sourceSize</key>
        <string>{433,323}</string>
      </dict>
      <key>monster_40006_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{272,439}}</string>
        <key>offset</key>
        <string>{-57,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,439}}</string>
        <key>sourceSize</key>
        <string>{272,439}</string>
      </dict>
      <key>monster_40006_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,0},{348,303}}</string>
        <key>offset</key>
        <string>{-147,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,303}}</string>
        <key>sourceSize</key>
        <string>{348,303}</string>
      </dict>
      <key>monster_40006_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{401,363}}</string>
        <key>offset</key>
        <string>{-127,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,363}}</string>
        <key>sourceSize</key>
        <string>{401,363}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40006_0_4_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40006_0_4_2.png</string>
    </dict>
  </dict>
</plist>