<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30014_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,139}}</string>
        <key>offset</key>
        <string>{-62,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,139}}</string>
        <key>sourceSize</key>
        <string>{198,139}</string>
      </dict>
      <key>monster_30014_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,0},{164,142}}</string>
        <key>offset</key>
        <string>{-58,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,142}}</string>
        <key>sourceSize</key>
        <string>{164,142}</string>
      </dict>
      <key>monster_30014_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{175,128}}</string>
        <key>offset</key>
        <string>{-93,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,128}}</string>
        <key>sourceSize</key>
        <string>{175,128}</string>
      </dict>
      <key>monster_30014_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{168,147}}</string>
        <key>offset</key>
        <string>{-61,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,147}}</string>
        <key>sourceSize</key>
        <string>{168,147}</string>
      </dict>
      <key>monster_30014_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,528},{155,128}}</string>
        <key>offset</key>
        <string>{-83,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,128}}</string>
        <key>sourceSize</key>
        <string>{155,128}</string>
      </dict>
      <key>monster_30014_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,566},{153,117}}</string>
        <key>offset</key>
        <string>{-46,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,117}}</string>
        <key>sourceSize</key>
        <string>{153,117}</string>
      </dict>
      <key>monster_30014_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,272},{163,143}}</string>
        <key>offset</key>
        <string>{-64,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,143}}</string>
        <key>sourceSize</key>
        <string>{163,143}</string>
      </dict>
      <key>monster_30014_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,144},{164,126}}</string>
        <key>offset</key>
        <string>{-52,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,126}}</string>
        <key>sourceSize</key>
        <string>{164,126}</string>
      </dict>
      <key>monster_30014_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,189},{160,171}}</string>
        <key>offset</key>
        <string>{-44,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,171}}</string>
        <key>sourceSize</key>
        <string>{160,171}</string>
      </dict>
      <key>monster_30014_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,565},{143,144}}</string>
        <key>offset</key>
        <string>{-33,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,144}}</string>
        <key>sourceSize</key>
        <string>{143,144}</string>
      </dict>
      <key>monster_30014_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,390},{142,174}}</string>
        <key>offset</key>
        <string>{4,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,174}}</string>
        <key>sourceSize</key>
        <string>{142,174}</string>
      </dict>
      <key>monster_30014_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,417},{146,160}}</string>
        <key>offset</key>
        <string>{-34,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,160}}</string>
        <key>sourceSize</key>
        <string>{146,160}</string>
      </dict>
      <key>monster_30014_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{175,187}}</string>
        <key>offset</key>
        <string>{-10,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,187}}</string>
        <key>sourceSize</key>
        <string>{175,187}</string>
      </dict>
      <key>monster_30014_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,362},{143,164}}</string>
        <key>offset</key>
        <string>{-31,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,164}}</string>
        <key>sourceSize</key>
        <string>{143,164}</string>
      </dict>
      <key>monster_30014_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{188,170}}</string>
        <key>offset</key>
        <string>{-32,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,170}}</string>
        <key>sourceSize</key>
        <string>{188,170}</string>
      </dict>
      <key>monster_30014_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,567},{156,150}}</string>
        <key>offset</key>
        <string>{-41,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,150}}</string>
        <key>sourceSize</key>
        <string>{156,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30014_0_7.png</string>
      <key>size</key>
      <string>{642,790}</string>
      <key>textureFileName</key>
      <string>monster_30014_0_7.png</string>
    </dict>
  </dict>
</plist>