<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30038_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,1007},{160,160}}</string>
        <key>offset</key>
        <string>{-35,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>monster_30038_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,184},{179,137}}</string>
        <key>offset</key>
        <string>{-46,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,137}}</string>
        <key>sourceSize</key>
        <string>{179,137}</string>
      </dict>
      <key>monster_30038_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,1003},{188,122}}</string>
        <key>offset</key>
        <string>{-43,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,122}}</string>
        <key>sourceSize</key>
        <string>{188,122}</string>
      </dict>
      <key>monster_30038_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{207,144}}</string>
        <key>offset</key>
        <string>{-35,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,144}}</string>
        <key>sourceSize</key>
        <string>{207,144}</string>
      </dict>
      <key>monster_30038_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,0},{160,160}}</string>
        <key>offset</key>
        <string>{-35,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>monster_30038_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,365},{179,137}}</string>
        <key>offset</key>
        <string>{-46,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,137}}</string>
        <key>sourceSize</key>
        <string>{179,137}</string>
      </dict>
      <key>monster_30038_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,418},{188,122}}</string>
        <key>offset</key>
        <string>{-43,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,122}}</string>
        <key>sourceSize</key>
        <string>{188,122}</string>
      </dict>
      <key>monster_30038_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{207,144}}</string>
        <key>offset</key>
        <string>{-35,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,144}}</string>
        <key>sourceSize</key>
        <string>{207,144}</string>
      </dict>
      <key>monster_30038_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,902},{125,175}}</string>
        <key>offset</key>
        <string>{-26,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,175}}</string>
        <key>sourceSize</key>
        <string>{125,175}</string>
      </dict>
      <key>monster_30038_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,698},{140,167}}</string>
        <key>offset</key>
        <string>{-31,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,167}}</string>
        <key>sourceSize</key>
        <string>{140,167}</string>
      </dict>
      <key>monster_30038_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,705},{161,149}}</string>
        <key>offset</key>
        <string>{-26,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,149}}</string>
        <key>sourceSize</key>
        <string>{161,149}</string>
      </dict>
      <key>monster_30038_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,980},{182,137}}</string>
        <key>offset</key>
        <string>{-14,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,137}}</string>
        <key>sourceSize</key>
        <string>{182,137}</string>
      </dict>
      <key>monster_30038_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,1079},{125,175}}</string>
        <key>offset</key>
        <string>{-26,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,175}}</string>
        <key>sourceSize</key>
        <string>{125,175}</string>
      </dict>
      <key>monster_30038_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,867},{140,167}}</string>
        <key>offset</key>
        <string>{-31,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,167}}</string>
        <key>sourceSize</key>
        <string>{140,167}</string>
      </dict>
      <key>monster_30038_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,856},{161,149}}</string>
        <key>offset</key>
        <string>{-26,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,149}}</string>
        <key>sourceSize</key>
        <string>{161,149}</string>
      </dict>
      <key>monster_30038_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{182,137}}</string>
        <key>offset</key>
        <string>{-14,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,137}}</string>
        <key>sourceSize</key>
        <string>{182,137}</string>
      </dict>
      <key>monster_30038_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,175},{171,156}}</string>
        <key>offset</key>
        <string>{-69,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,156}}</string>
        <key>sourceSize</key>
        <string>{171,156}</string>
      </dict>
      <key>monster_30038_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,902},{130,173}}</string>
        <key>offset</key>
        <string>{-28,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,173}}</string>
        <key>sourceSize</key>
        <string>{130,173}</string>
      </dict>
      <key>monster_30038_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,1164},{114,180}}</string>
        <key>offset</key>
        <string>{-14,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,180}}</string>
        <key>sourceSize</key>
        <string>{114,180}</string>
      </dict>
      <key>monster_30038_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,1077},{139,173}}</string>
        <key>offset</key>
        <string>{-21,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,173}}</string>
        <key>sourceSize</key>
        <string>{139,173}</string>
      </dict>
      <key>monster_30038_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{171,156}}</string>
        <key>offset</key>
        <string>{-69,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,156}}</string>
        <key>sourceSize</key>
        <string>{171,156}</string>
      </dict>
      <key>monster_30038_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{130,173}}</string>
        <key>offset</key>
        <string>{-28,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,173}}</string>
        <key>sourceSize</key>
        <string>{130,173}</string>
      </dict>
      <key>monster_30038_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,368},{114,180}}</string>
        <key>offset</key>
        <string>{-14,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,180}}</string>
        <key>sourceSize</key>
        <string>{114,180}</string>
      </dict>
      <key>monster_30038_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,175},{139,173}}</string>
        <key>offset</key>
        <string>{-21,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,173}}</string>
        <key>sourceSize</key>
        <string>{139,173}</string>
      </dict>
      <key>monster_30038_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,184},{182,138}}</string>
        <key>offset</key>
        <string>{-79,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,138}}</string>
        <key>sourceSize</key>
        <string>{182,138}</string>
      </dict>
      <key>monster_30038_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,698},{166,139}}</string>
        <key>offset</key>
        <string>{-63,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,139}}</string>
        <key>sourceSize</key>
        <string>{166,139}</string>
      </dict>
      <key>monster_30038_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,0},{138,164}}</string>
        <key>offset</key>
        <string>{-40,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,164}}</string>
        <key>sourceSize</key>
        <string>{138,164}</string>
      </dict>
      <key>monster_30038_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,521},{139,166}}</string>
        <key>offset</key>
        <string>{-36,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,166}}</string>
        <key>sourceSize</key>
        <string>{139,166}</string>
      </dict>
      <key>monster_30038_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{182,138}}</string>
        <key>offset</key>
        <string>{-79,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,138}}</string>
        <key>sourceSize</key>
        <string>{182,138}</string>
      </dict>
      <key>monster_30038_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,344},{166,139}}</string>
        <key>offset</key>
        <string>{-63,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,139}}</string>
        <key>sourceSize</key>
        <string>{166,139}</string>
      </dict>
      <key>monster_30038_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,0},{138,164}}</string>
        <key>offset</key>
        <string>{-40,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,164}}</string>
        <key>sourceSize</key>
        <string>{138,164}</string>
      </dict>
      <key>monster_30038_0_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,171},{139,166}}</string>
        <key>offset</key>
        <string>{-36,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,166}}</string>
        <key>sourceSize</key>
        <string>{139,166}</string>
      </dict>
      <key>monster_30038_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,504},{162,141}}</string>
        <key>offset</key>
        <string>{-43,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,141}}</string>
        <key>sourceSize</key>
        <string>{162,141}</string>
      </dict>
      <key>monster_30038_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{173,115}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,115}}</string>
        <key>sourceSize</key>
        <string>{173,115}</string>
      </dict>
      <key>monster_30038_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,608},{184,119}}</string>
        <key>offset</key>
        <string>{-73,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,119}}</string>
        <key>sourceSize</key>
        <string>{184,119}</string>
      </dict>
      <key>monster_30038_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,608},{185,119}}</string>
        <key>offset</key>
        <string>{-77,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,119}}</string>
        <key>sourceSize</key>
        <string>{185,119}</string>
      </dict>
      <key>monster_30038_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,256},{162,141}}</string>
        <key>offset</key>
        <string>{-43,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,141}}</string>
        <key>sourceSize</key>
        <string>{162,141}</string>
      </dict>
      <key>monster_30038_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,350},{173,115}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,115}}</string>
        <key>sourceSize</key>
        <string>{173,115}</string>
      </dict>
      <key>monster_30038_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,794},{184,119}}</string>
        <key>offset</key>
        <string>{-73,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,119}}</string>
        <key>sourceSize</key>
        <string>{184,119}</string>
      </dict>
      <key>monster_30038_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,795},{185,119}}</string>
        <key>offset</key>
        <string>{-77,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,119}}</string>
        <key>sourceSize</key>
        <string>{185,119}</string>
      </dict>
      <key>monster_30038_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,173},{130,169}}</string>
        <key>offset</key>
        <string>{-22,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,169}}</string>
        <key>sourceSize</key>
        <string>{130,169}</string>
      </dict>
      <key>monster_30038_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,438},{136,140}}</string>
        <key>offset</key>
        <string>{-27,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,140}}</string>
        <key>sourceSize</key>
        <string>{136,140}</string>
      </dict>
      <key>monster_30038_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,866},{163,140}}</string>
        <key>offset</key>
        <string>{-60,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,140}}</string>
        <key>sourceSize</key>
        <string>{163,140}</string>
      </dict>
      <key>monster_30038_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,546},{176,167}}</string>
        <key>offset</key>
        <string>{-73,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,167}}</string>
        <key>sourceSize</key>
        <string>{176,167}</string>
      </dict>
      <key>monster_30038_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,0},{130,169}}</string>
        <key>offset</key>
        <string>{-22,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,169}}</string>
        <key>sourceSize</key>
        <string>{130,169}</string>
      </dict>
      <key>monster_30038_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,576},{136,140}}</string>
        <key>offset</key>
        <string>{-27,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,140}}</string>
        <key>sourceSize</key>
        <string>{136,140}</string>
      </dict>
      <key>monster_30038_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,689},{163,140}}</string>
        <key>offset</key>
        <string>{-60,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,140}}</string>
        <key>sourceSize</key>
        <string>{163,140}</string>
      </dict>
      <key>monster_30038_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,724},{176,167}}</string>
        <key>offset</key>
        <string>{-73,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,167}}</string>
        <key>sourceSize</key>
        <string>{176,167}</string>
      </dict>
      <key>monster_30038_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,399},{162,151}}</string>
        <key>offset</key>
        <string>{-11,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,151}}</string>
        <key>sourceSize</key>
        <string>{162,151}</string>
      </dict>
      <key>monster_30038_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,140},{114,164}}</string>
        <key>offset</key>
        <string>{-12,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,164}}</string>
        <key>sourceSize</key>
        <string>{114,164}</string>
      </dict>
      <key>monster_30038_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,512},{108,163}}</string>
        <key>offset</key>
        <string>{-12,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,163}}</string>
        <key>sourceSize</key>
        <string>{108,163}</string>
      </dict>
      <key>monster_30038_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{122,195}}</string>
        <key>offset</key>
        <string>{-23,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,195}}</string>
        <key>sourceSize</key>
        <string>{122,195}</string>
      </dict>
      <key>monster_30038_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,552},{162,151}}</string>
        <key>offset</key>
        <string>{-11,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,151}}</string>
        <key>sourceSize</key>
        <string>{162,151}</string>
      </dict>
      <key>monster_30038_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,1036},{114,164}}</string>
        <key>offset</key>
        <string>{-12,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,164}}</string>
        <key>sourceSize</key>
        <string>{114,164}</string>
      </dict>
      <key>monster_30038_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,339},{108,163}}</string>
        <key>offset</key>
        <string>{-12,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,163}}</string>
        <key>sourceSize</key>
        <string>{108,163}</string>
      </dict>
      <key>monster_30038_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,615},{122,195}}</string>
        <key>offset</key>
        <string>{-23,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,195}}</string>
        <key>sourceSize</key>
        <string>{122,195}</string>
      </dict>
      <key>monster_30038_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,812},{189,123}}</string>
        <key>offset</key>
        <string>{-30,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,123}}</string>
        <key>sourceSize</key>
        <string>{189,123}</string>
      </dict>
      <key>monster_30038_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,1031},{162,135}}</string>
        <key>offset</key>
        <string>{-28,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,135}}</string>
        <key>sourceSize</key>
        <string>{162,135}</string>
      </dict>
      <key>monster_30038_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,162},{143,136}}</string>
        <key>offset</key>
        <string>{-30,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,136}}</string>
        <key>sourceSize</key>
        <string>{143,136}</string>
      </dict>
      <key>monster_30038_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,525},{164,171}}</string>
        <key>offset</key>
        <string>{-35,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,171}}</string>
        <key>sourceSize</key>
        <string>{164,171}</string>
      </dict>
      <key>monster_30038_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1003},{189,123}}</string>
        <key>offset</key>
        <string>{-30,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,123}}</string>
        <key>sourceSize</key>
        <string>{189,123}</string>
      </dict>
      <key>monster_30038_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,854},{162,135}}</string>
        <key>offset</key>
        <string>{-28,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,135}}</string>
        <key>sourceSize</key>
        <string>{162,135}</string>
      </dict>
      <key>monster_30038_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,300},{143,136}}</string>
        <key>offset</key>
        <string>{-30,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,136}}</string>
        <key>sourceSize</key>
        <string>{143,136}</string>
      </dict>
      <key>monster_30038_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,348},{164,171}}</string>
        <key>offset</key>
        <string>{-35,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,171}}</string>
        <key>sourceSize</key>
        <string>{164,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30038_0_0.png</string>
      <key>size</key>
      <string>{1440,1282}</string>
      <key>textureFileName</key>
      <string>monster_30038_0_0.png</string>
    </dict>
  </dict>
</plist>