<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30037_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,866},{371,330}}</string>
        <key>offset</key>
        <string>{-182,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,330}}</string>
        <key>sourceSize</key>
        <string>{371,330}</string>
      </dict>
      <key>monster_30037_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1052},{347,343}}</string>
        <key>offset</key>
        <string>{-159,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,343}}</string>
        <key>sourceSize</key>
        <string>{347,343}</string>
      </dict>
      <key>monster_30037_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,964},{309,335}}</string>
        <key>offset</key>
        <string>{-149,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,335}}</string>
        <key>sourceSize</key>
        <string>{309,335}</string>
      </dict>
      <key>monster_30037_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,508},{356,379}}</string>
        <key>offset</key>
        <string>{-226,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,379}}</string>
        <key>sourceSize</key>
        <string>{356,379}</string>
      </dict>
      <key>monster_30037_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{488,380}}</string>
        <key>offset</key>
        <string>{-204,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{488,380}}</string>
        <key>sourceSize</key>
        <string>{488,380}</string>
      </dict>
      <key>monster_30037_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{529,406}}</string>
        <key>offset</key>
        <string>{-241,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,406}}</string>
        <key>sourceSize</key>
        <string>{529,406}</string>
      </dict>
      <key>monster_30037_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{519,427}}</string>
        <key>offset</key>
        <string>{-210,327}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,427}}</string>
        <key>sourceSize</key>
        <string>{519,427}</string>
      </dict>
      <key>monster_30037_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{506,414}}</string>
        <key>offset</key>
        <string>{-199,322}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{506,414}}</string>
        <key>sourceSize</key>
        <string>{506,414}</string>
      </dict>
      <key>monster_30037_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,490},{472,387}}</string>
        <key>offset</key>
        <string>{-197,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,387}}</string>
        <key>sourceSize</key>
        <string>{472,387}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30037_0_2_1.png</string>
      <key>size</key>
      <string>{1281,1451}</string>
      <key>textureFileName</key>
      <string>monster_30037_0_2_1.png</string>
    </dict>
  </dict>
</plist>