<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30028_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,0},{232,148}}</string>
        <key>offset</key>
        <string>{-15,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,148}}</string>
        <key>sourceSize</key>
        <string>{232,148}</string>
      </dict>
      <key>monster_30028_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{143,268}}</string>
        <key>offset</key>
        <string>{-10,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,268}}</string>
        <key>sourceSize</key>
        <string>{143,268}</string>
      </dict>
      <key>monster_30028_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,0},{193,214}}</string>
        <key>offset</key>
        <string>{-9,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,214}}</string>
        <key>sourceSize</key>
        <string>{193,214}</string>
      </dict>
      <key>monster_30028_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,828},{128,191}}</string>
        <key>offset</key>
        <string>{-54,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,191}}</string>
        <key>sourceSize</key>
        <string>{128,191}</string>
      </dict>
      <key>monster_30028_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,907},{133,191}}</string>
        <key>offset</key>
        <string>{-60,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,191}}</string>
        <key>sourceSize</key>
        <string>{133,191}</string>
      </dict>
      <key>monster_30028_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1366,216},{207,168}}</string>
        <key>offset</key>
        <string>{-75,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,168}}</string>
        <key>sourceSize</key>
        <string>{207,168}</string>
      </dict>
      <key>monster_30028_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1337,1021},{164,188}}</string>
        <key>offset</key>
        <string>{-27,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,188}}</string>
        <key>sourceSize</key>
        <string>{164,188}</string>
      </dict>
      <key>monster_30028_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,502},{237,216}}</string>
        <key>offset</key>
        <string>{-84,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,216}}</string>
        <key>sourceSize</key>
        <string>{237,216}</string>
      </dict>
      <key>monster_30028_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,970},{172,212}}</string>
        <key>offset</key>
        <string>{-40,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,212}}</string>
        <key>sourceSize</key>
        <string>{172,212}</string>
      </dict>
      <key>monster_30028_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1529,634},{160,173}}</string>
        <key>offset</key>
        <string>{-55,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,173}}</string>
        <key>sourceSize</key>
        <string>{160,173}</string>
      </dict>
      <key>monster_30028_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,0},{154,171}}</string>
        <key>offset</key>
        <string>{-52,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,171}}</string>
        <key>sourceSize</key>
        <string>{154,171}</string>
      </dict>
      <key>monster_30028_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,923},{284,141}}</string>
        <key>offset</key>
        <string>{-72,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,141}}</string>
        <key>sourceSize</key>
        <string>{284,141}</string>
      </dict>
      <key>monster_30028_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1366,425},{207,168}}</string>
        <key>offset</key>
        <string>{-67,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,168}}</string>
        <key>sourceSize</key>
        <string>{207,168}</string>
      </dict>
      <key>monster_30028_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{324,128}}</string>
        <key>offset</key>
        <string>{-159,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,128}}</string>
        <key>sourceSize</key>
        <string>{324,128}</string>
      </dict>
      <key>monster_30028_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,631},{281,122}}</string>
        <key>offset</key>
        <string>{-110,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,122}}</string>
        <key>sourceSize</key>
        <string>{281,122}</string>
      </dict>
      <key>monster_30028_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,551},{264,127}}</string>
        <key>offset</key>
        <string>{-69,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,127}}</string>
        <key>sourceSize</key>
        <string>{264,127}</string>
      </dict>
      <key>monster_30028_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,536},{260,123}}</string>
        <key>offset</key>
        <string>{-72,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,123}}</string>
        <key>sourceSize</key>
        <string>{260,123}</string>
      </dict>
      <key>monster_30028_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,634},{192,168}}</string>
        <key>offset</key>
        <string>{-17,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,168}}</string>
        <key>sourceSize</key>
        <string>{192,168}</string>
      </dict>
      <key>monster_30028_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,852},{267,136}}</string>
        <key>offset</key>
        <string>{-126,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,136}}</string>
        <key>sourceSize</key>
        <string>{267,136}</string>
      </dict>
      <key>monster_30028_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,1081},{257,187}}</string>
        <key>offset</key>
        <string>{-127,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,187}}</string>
        <key>sourceSize</key>
        <string>{257,187}</string>
      </dict>
      <key>monster_30028_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,295},{281,158}}</string>
        <key>offset</key>
        <string>{-127,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,158}}</string>
        <key>sourceSize</key>
        <string>{281,158}</string>
      </dict>
      <key>monster_30028_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,741},{232,160}}</string>
        <key>offset</key>
        <string>{-29,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,160}}</string>
        <key>sourceSize</key>
        <string>{232,160}</string>
      </dict>
      <key>monster_30028_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{239,149}}</string>
        <key>offset</key>
        <string>{-37,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,149}}</string>
        <key>sourceSize</key>
        <string>{239,149}</string>
      </dict>
      <key>monster_30028_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,446},{142,204}}</string>
        <key>offset</key>
        <string>{-21,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,204}}</string>
        <key>sourceSize</key>
        <string>{142,204}</string>
      </dict>
      <key>monster_30028_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,479},{206,226}}</string>
        <key>offset</key>
        <string>{-99,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,226}}</string>
        <key>sourceSize</key>
        <string>{206,226}</string>
      </dict>
      <key>monster_30028_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{131,254}}</string>
        <key>offset</key>
        <string>{-24,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,254}}</string>
        <key>sourceSize</key>
        <string>{131,254}</string>
      </dict>
      <key>monster_30028_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,817},{160,262}}</string>
        <key>offset</key>
        <string>{-61,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,262}}</string>
        <key>sourceSize</key>
        <string>{160,262}</string>
      </dict>
      <key>monster_30028_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,530},{119,248}}</string>
        <key>offset</key>
        <string>{-6,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,248}}</string>
        <key>sourceSize</key>
        <string>{119,248}</string>
      </dict>
      <key>monster_30028_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,256},{119,244}}</string>
        <key>offset</key>
        <string>{-8,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,244}}</string>
        <key>sourceSize</key>
        <string>{119,244}</string>
      </dict>
      <key>monster_30028_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1109,0},{221,157}}</string>
        <key>offset</key>
        <string>{-80,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,157}}</string>
        <key>sourceSize</key>
        <string>{221,157}</string>
      </dict>
      <key>monster_30028_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,578},{145,272}}</string>
        <key>offset</key>
        <string>{-26,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,272}}</string>
        <key>sourceSize</key>
        <string>{145,272}</string>
      </dict>
      <key>monster_30028_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,975},{178,232}}</string>
        <key>offset</key>
        <string>{-47,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,232}}</string>
        <key>sourceSize</key>
        <string>{178,232}</string>
      </dict>
      <key>monster_30028_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1121},{142,265}}</string>
        <key>offset</key>
        <string>{-39,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,265}}</string>
        <key>sourceSize</key>
        <string>{142,265}</string>
      </dict>
      <key>monster_30028_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1187,223},{177,221}}</string>
        <key>offset</key>
        <string>{-42,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,221}}</string>
        <key>sourceSize</key>
        <string>{177,221}</string>
      </dict>
      <key>monster_30028_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,234},{166,224}}</string>
        <key>offset</key>
        <string>{-36,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,224}}</string>
        <key>sourceSize</key>
        <string>{166,224}</string>
      </dict>
      <key>monster_30028_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,278},{271,99}}</string>
        <key>offset</key>
        <string>{-133,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,99}}</string>
        <key>sourceSize</key>
        <string>{271,99}</string>
      </dict>
      <key>monster_30028_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,741},{181,227}}</string>
        <key>offset</key>
        <string>{-63,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,227}}</string>
        <key>sourceSize</key>
        <string>{181,227}</string>
      </dict>
      <key>monster_30028_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{276,153}}</string>
        <key>offset</key>
        <string>{-59,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,153}}</string>
        <key>sourceSize</key>
        <string>{276,153}</string>
      </dict>
      <key>monster_30028_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,241},{236,203}}</string>
        <key>offset</key>
        <string>{-79,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,203}}</string>
        <key>sourceSize</key>
        <string>{236,203}</string>
      </dict>
      <key>monster_30028_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{293,130}}</string>
        <key>offset</key>
        <string>{-144,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,130}}</string>
        <key>sourceSize</key>
        <string>{293,130}</string>
      </dict>
      <key>monster_30028_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,631},{290,132}}</string>
        <key>offset</key>
        <string>{-140,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,132}}</string>
        <key>sourceSize</key>
        <string>{290,132}</string>
      </dict>
      <key>monster_30028_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,707},{186,198}}</string>
        <key>offset</key>
        <string>{-97,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,198}}</string>
        <key>sourceSize</key>
        <string>{186,198}</string>
      </dict>
      <key>monster_30028_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,914},{276,177}}</string>
        <key>offset</key>
        <string>{-64,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,177}}</string>
        <key>sourceSize</key>
        <string>{276,177}</string>
      </dict>
      <key>monster_30028_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,798},{254,202}}</string>
        <key>offset</key>
        <string>{-23,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,202}}</string>
        <key>sourceSize</key>
        <string>{254,202}</string>
      </dict>
      <key>monster_30028_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{303,165}}</string>
        <key>offset</key>
        <string>{-60,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,165}}</string>
        <key>sourceSize</key>
        <string>{303,165}</string>
      </dict>
      <key>monster_30028_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,270},{258,132}}</string>
        <key>offset</key>
        <string>{-148,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,132}}</string>
        <key>sourceSize</key>
        <string>{258,132}</string>
      </dict>
      <key>monster_30028_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,270},{264,129}}</string>
        <key>offset</key>
        <string>{-149,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,129}}</string>
        <key>sourceSize</key>
        <string>{264,129}</string>
      </dict>
      <key>monster_30028_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,0},{111,235}}</string>
        <key>offset</key>
        <string>{-30,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,235}}</string>
        <key>sourceSize</key>
        <string>{111,235}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30028_0_2.png</string>
      <key>size</key>
      <string>{1696,1282}</string>
      <key>textureFileName</key>
      <string>monster_30028_0_2.png</string>
    </dict>
  </dict>
</plist>