<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30004_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,265},{240,256}}</string>
        <key>offset</key>
        <string>{-85,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,256}}</string>
        <key>sourceSize</key>
        <string>{240,256}</string>
      </dict>
      <key>monster_30004_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,265},{272,248}}</string>
        <key>offset</key>
        <string>{-85,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,248}}</string>
        <key>sourceSize</key>
        <string>{272,248}</string>
      </dict>
      <key>monster_30004_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,284},{252,276}}</string>
        <key>offset</key>
        <string>{-54,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,276}}</string>
        <key>sourceSize</key>
        <string>{252,276}</string>
      </dict>
      <key>monster_30004_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{252,282}}</string>
        <key>offset</key>
        <string>{-55,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,282}}</string>
        <key>sourceSize</key>
        <string>{252,282}</string>
      </dict>
      <key>monster_30004_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,523},{240,227}}</string>
        <key>offset</key>
        <string>{-21,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,227}}</string>
        <key>sourceSize</key>
        <string>{240,227}</string>
      </dict>
      <key>monster_30004_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,515},{215,251}}</string>
        <key>offset</key>
        <string>{-23,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,251}}</string>
        <key>sourceSize</key>
        <string>{215,251}</string>
      </dict>
      <key>monster_30004_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{279,236}}</string>
        <key>offset</key>
        <string>{-74,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,236}}</string>
        <key>sourceSize</key>
        <string>{279,236}</string>
      </dict>
      <key>monster_30004_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{274,263}}</string>
        <key>offset</key>
        <string>{-74,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,263}}</string>
        <key>sourceSize</key>
        <string>{274,263}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30004_0_7_1.png</string>
      <key>size</key>
      <string>{1008,770}</string>
      <key>textureFileName</key>
      <string>monster_30004_0_7_1.png</string>
    </dict>
  </dict>
</plist>