<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30084_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,889},{189,184}}</string>
        <key>offset</key>
        <string>{-70,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,184}}</string>
        <key>sourceSize</key>
        <string>{189,184}</string>
      </dict>
      <key>monster_30084_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,705},{233,230}}</string>
        <key>offset</key>
        <string>{-96,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,230}}</string>
        <key>sourceSize</key>
        <string>{233,230}</string>
      </dict>
      <key>monster_30084_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,244},{223,240}}</string>
        <key>offset</key>
        <string>{-87,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,240}}</string>
        <key>sourceSize</key>
        <string>{223,240}</string>
      </dict>
      <key>monster_30084_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,761},{231,213}}</string>
        <key>offset</key>
        <string>{-105,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,213}}</string>
        <key>sourceSize</key>
        <string>{231,213}</string>
      </dict>
      <key>monster_30084_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,889},{189,218}}</string>
        <key>offset</key>
        <string>{-70,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,218}}</string>
        <key>sourceSize</key>
        <string>{189,218}</string>
      </dict>
      <key>monster_30084_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,469},{236,234}}</string>
        <key>offset</key>
        <string>{-99,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,234}}</string>
        <key>sourceSize</key>
        <string>{236,234}</string>
      </dict>
      <key>monster_30084_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{392,236}}</string>
        <key>offset</key>
        <string>{-200,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,236}}</string>
        <key>sourceSize</key>
        <string>{392,236}</string>
      </dict>
      <key>monster_30084_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,394},{342,174}}</string>
        <key>offset</key>
        <string>{-221,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,174}}</string>
        <key>sourceSize</key>
        <string>{342,174}</string>
      </dict>
      <key>monster_30084_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,581},{159,257}}</string>
        <key>offset</key>
        <string>{-60,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,257}}</string>
        <key>sourceSize</key>
        <string>{159,257}</string>
      </dict>
      <key>monster_30084_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,265},{199,248}}</string>
        <key>offset</key>
        <string>{-63,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,248}}</string>
        <key>sourceSize</key>
        <string>{199,248}</string>
      </dict>
      <key>monster_30084_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{365,217}}</string>
        <key>offset</key>
        <string>{-198,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,217}}</string>
        <key>sourceSize</key>
        <string>{365,217}</string>
      </dict>
      <key>monster_30084_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,738},{303,149}}</string>
        <key>offset</key>
        <string>{-228,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,149}}</string>
        <key>sourceSize</key>
        <string>{303,149}</string>
      </dict>
      <key>monster_30084_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{181,263}}</string>
        <key>offset</key>
        <string>{-53,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,263}}</string>
        <key>sourceSize</key>
        <string>{181,263}</string>
      </dict>
      <key>monster_30084_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,0},{189,242}}</string>
        <key>offset</key>
        <string>{-53,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,242}}</string>
        <key>sourceSize</key>
        <string>{189,242}</string>
      </dict>
      <key>monster_30084_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{263,295}}</string>
        <key>offset</key>
        <string>{-104,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,295}}</string>
        <key>sourceSize</key>
        <string>{263,295}</string>
      </dict>
      <key>monster_30084_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,297},{282,184}}</string>
        <key>offset</key>
        <string>{-175,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,184}}</string>
        <key>sourceSize</key>
        <string>{282,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30084_0_4_1.png</string>
      <key>size</key>
      <string>{1026,1117}</string>
      <key>textureFileName</key>
      <string>monster_30084_0_4_1.png</string>
    </dict>
  </dict>
</plist>