<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30037_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,0},{384,355}}</string>
        <key>offset</key>
        <string>{-183,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,355}}</string>
        <key>sourceSize</key>
        <string>{384,355}</string>
      </dict>
      <key>monster_30037_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,386},{380,343}}</string>
        <key>offset</key>
        <string>{-180,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,343}}</string>
        <key>sourceSize</key>
        <string>{380,343}</string>
      </dict>
      <key>monster_30037_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,811},{367,355}}</string>
        <key>offset</key>
        <string>{-166,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,355}}</string>
        <key>sourceSize</key>
        <string>{367,355}</string>
      </dict>
      <key>monster_30037_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{390,369}}</string>
        <key>offset</key>
        <string>{-187,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,369}}</string>
        <key>sourceSize</key>
        <string>{390,369}</string>
      </dict>
      <key>monster_30037_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{409,385}}</string>
        <key>offset</key>
        <string>{-204,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,385}}</string>
        <key>sourceSize</key>
        <string>{409,385}</string>
      </dict>
      <key>monster_30037_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{376,398}}</string>
        <key>offset</key>
        <string>{-173,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,398}}</string>
        <key>sourceSize</key>
        <string>{376,398}</string>
      </dict>
      <key>monster_30037_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,411},{397,382}}</string>
        <key>offset</key>
        <string>{-195,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,382}}</string>
        <key>sourceSize</key>
        <string>{397,382}</string>
      </dict>
      <key>monster_30037_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,811},{374,365}}</string>
        <key>offset</key>
        <string>{-172,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,365}}</string>
        <key>sourceSize</key>
        <string>{374,365}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30037_0_1_1.png</string>
      <key>size</key>
      <string>{1282,1260}</string>
      <key>textureFileName</key>
      <string>monster_30037_0_1_1.png</string>
    </dict>
  </dict>
</plist>