<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40002_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{152,309}}</string>
        <key>offset</key>
        <string>{-25,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,309}}</string>
        <key>sourceSize</key>
        <string>{152,309}</string>
      </dict>
      <key>monster_40002_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,313}}</string>
        <key>offset</key>
        <string>{-26,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,313}}</string>
        <key>sourceSize</key>
        <string>{150,313}</string>
      </dict>
      <key>monster_40002_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{138,311}}</string>
        <key>offset</key>
        <string>{-26,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,311}}</string>
        <key>sourceSize</key>
        <string>{138,311}</string>
      </dict>
      <key>monster_40002_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,315},{132,307}}</string>
        <key>offset</key>
        <string>{-25,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,307}}</string>
        <key>sourceSize</key>
        <string>{132,307}</string>
      </dict>
      <key>monster_40002_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,0},{147,285}}</string>
        <key>offset</key>
        <string>{-28,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,285}}</string>
        <key>sourceSize</key>
        <string>{147,285}</string>
      </dict>
      <key>monster_40002_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{158,292}}</string>
        <key>offset</key>
        <string>{-32,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,292}}</string>
        <key>sourceSize</key>
        <string>{158,292}</string>
      </dict>
      <key>monster_40002_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{169,305}}</string>
        <key>offset</key>
        <string>{-35,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,305}}</string>
        <key>sourceSize</key>
        <string>{169,305}</string>
      </dict>
      <key>monster_40002_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,624},{148,303}}</string>
        <key>offset</key>
        <string>{-23,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,303}}</string>
        <key>sourceSize</key>
        <string>{148,303}</string>
      </dict>
      <key>monster_40002_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,609},{144,289}}</string>
        <key>offset</key>
        <string>{-17,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,289}}</string>
        <key>sourceSize</key>
        <string>{144,289}</string>
      </dict>
      <key>monster_40002_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,294},{149,287}}</string>
        <key>offset</key>
        <string>{-16,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,287}}</string>
        <key>sourceSize</key>
        <string>{149,287}</string>
      </dict>
      <key>monster_40002_0_2_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,0},{149,276}}</string>
        <key>offset</key>
        <string>{-17,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,276}}</string>
        <key>sourceSize</key>
        <string>{149,276}</string>
      </dict>
      <key>monster_40002_0_2_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,307},{151,300}}</string>
        <key>offset</key>
        <string>{-23,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,300}}</string>
        <key>sourceSize</key>
        <string>{151,300}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40002_0_2_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_40002_0_2_0.png</string>
    </dict>
  </dict>
</plist>