<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40001_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1855,0},{170,190}}</string>
        <key>offset</key>
        <string>{-38,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,190}}</string>
        <key>sourceSize</key>
        <string>{170,190}</string>
      </dict>
      <key>monster_40001_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1251,0},{232,212}}</string>
        <key>offset</key>
        <string>{-81,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,212}}</string>
        <key>sourceSize</key>
        <string>{232,212}</string>
      </dict>
      <key>monster_40001_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,544},{254,216}}</string>
        <key>offset</key>
        <string>{-105,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,216}}</string>
        <key>sourceSize</key>
        <string>{254,216}</string>
      </dict>
      <key>monster_40001_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,824},{243,172}}</string>
        <key>offset</key>
        <string>{-89,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,172}}</string>
        <key>sourceSize</key>
        <string>{243,172}</string>
      </dict>
      <key>monster_40001_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,0},{273,180}}</string>
        <key>offset</key>
        <string>{-113,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,180}}</string>
        <key>sourceSize</key>
        <string>{273,180}</string>
      </dict>
      <key>monster_40001_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,275},{267,209}}</string>
        <key>offset</key>
        <string>{-122,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,209}}</string>
        <key>sourceSize</key>
        <string>{267,209}</string>
      </dict>
      <key>monster_40001_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,0},{273,206}}</string>
        <key>offset</key>
        <string>{-126,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,206}}</string>
        <key>sourceSize</key>
        <string>{273,206}</string>
      </dict>
      <key>monster_40001_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,572},{274,207}}</string>
        <key>offset</key>
        <string>{-127,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,207}}</string>
        <key>sourceSize</key>
        <string>{274,207}</string>
      </dict>
      <key>monster_40001_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,278},{274,211}}</string>
        <key>offset</key>
        <string>{-127,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,211}}</string>
        <key>sourceSize</key>
        <string>{274,211}</string>
      </dict>
      <key>monster_40001_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1355,463},{221,182}}</string>
        <key>offset</key>
        <string>{-68,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,182}}</string>
        <key>sourceSize</key>
        <string>{221,182}</string>
      </dict>
      <key>monster_40001_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,211},{207,196}}</string>
        <key>offset</key>
        <string>{-93,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,196}}</string>
        <key>sourceSize</key>
        <string>{207,196}</string>
      </dict>
      <key>monster_40001_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,650},{317,172}}</string>
        <key>offset</key>
        <string>{-135,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,172}}</string>
        <key>sourceSize</key>
        <string>{317,172}</string>
      </dict>
      <key>monster_40001_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{319,147}}</string>
        <key>offset</key>
        <string>{-136,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,147}}</string>
        <key>sourceSize</key>
        <string>{319,147}</string>
      </dict>
      <key>monster_40001_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{327,163}}</string>
        <key>offset</key>
        <string>{-143,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,163}}</string>
        <key>sourceSize</key>
        <string>{327,163}</string>
      </dict>
      <key>monster_40001_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,315},{309,171}}</string>
        <key>offset</key>
        <string>{-138,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,171}}</string>
        <key>sourceSize</key>
        <string>{309,171}</string>
      </dict>
      <key>monster_40001_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,329},{314,163}}</string>
        <key>offset</key>
        <string>{-140,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,163}}</string>
        <key>sourceSize</key>
        <string>{314,163}</string>
      </dict>
      <key>monster_40001_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{313,160}}</string>
        <key>offset</key>
        <string>{-139,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,160}}</string>
        <key>sourceSize</key>
        <string>{313,160}</string>
      </dict>
      <key>monster_40001_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,645},{313,165}}</string>
        <key>offset</key>
        <string>{-139,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,165}}</string>
        <key>sourceSize</key>
        <string>{313,165}</string>
      </dict>
      <key>monster_40001_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,800},{241,192}}</string>
        <key>offset</key>
        <string>{-78,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,192}}</string>
        <key>sourceSize</key>
        <string>{241,192}</string>
      </dict>
      <key>monster_40001_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,505},{231,198}}</string>
        <key>offset</key>
        <string>{-120,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,198}}</string>
        <key>sourceSize</key>
        <string>{231,198}</string>
      </dict>
      <key>monster_40001_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,0},{263,183}}</string>
        <key>offset</key>
        <string>{-101,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,183}}</string>
        <key>sourceSize</key>
        <string>{263,183}</string>
      </dict>
      <key>monster_40001_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,265},{232,238}}</string>
        <key>offset</key>
        <string>{-93,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,238}}</string>
        <key>sourceSize</key>
        <string>{232,238}</string>
      </dict>
      <key>monster_40001_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1481,686},{215,216}}</string>
        <key>offset</key>
        <string>{-77,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,216}}</string>
        <key>sourceSize</key>
        <string>{215,216}</string>
      </dict>
      <key>monster_40001_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,554},{268,199}}</string>
        <key>offset</key>
        <string>{-89,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,199}}</string>
        <key>sourceSize</key>
        <string>{268,199}</string>
      </dict>
      <key>monster_40001_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{276,185}}</string>
        <key>offset</key>
        <string>{-97,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,185}}</string>
        <key>sourceSize</key>
        <string>{276,185}</string>
      </dict>
      <key>monster_40001_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,626},{279,184}}</string>
        <key>offset</key>
        <string>{-98,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,184}}</string>
        <key>sourceSize</key>
        <string>{279,184}</string>
      </dict>
      <key>monster_40001_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,292},{278,184}}</string>
        <key>offset</key>
        <string>{-98,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,184}}</string>
        <key>sourceSize</key>
        <string>{278,184}</string>
      </dict>
      <key>monster_40001_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,409},{182,186}}</string>
        <key>offset</key>
        <string>{-42,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,186}}</string>
        <key>sourceSize</key>
        <string>{182,186}</string>
      </dict>
      <key>monster_40001_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1465,0},{224,177}}</string>
        <key>offset</key>
        <string>{-102,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,177}}</string>
        <key>sourceSize</key>
        <string>{224,177}</string>
      </dict>
      <key>monster_40001_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,738},{199,222}}</string>
        <key>offset</key>
        <string>{-102,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,222}}</string>
        <key>sourceSize</key>
        <string>{199,222}</string>
      </dict>
      <key>monster_40001_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{160,290}}</string>
        <key>offset</key>
        <string>{-79,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,290}}</string>
        <key>sourceSize</key>
        <string>{160,290}</string>
      </dict>
      <key>monster_40001_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,848},{153,263}}</string>
        <key>offset</key>
        <string>{-54,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,263}}</string>
        <key>sourceSize</key>
        <string>{153,263}</string>
      </dict>
      <key>monster_40001_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,234},{216,227}}</string>
        <key>offset</key>
        <string>{-50,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,227}}</string>
        <key>sourceSize</key>
        <string>{216,227}</string>
      </dict>
      <key>monster_40001_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1549,226},{210,210}}</string>
        <key>offset</key>
        <string>{-39,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,210}}</string>
        <key>sourceSize</key>
        <string>{210,210}</string>
      </dict>
      <key>monster_40001_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1644,0},{209,209}}</string>
        <key>offset</key>
        <string>{-39,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,209}}</string>
        <key>sourceSize</key>
        <string>{209,209}</string>
      </dict>
      <key>monster_40001_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1539,463},{211,209}}</string>
        <key>offset</key>
        <string>{-39,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,209}}</string>
        <key>sourceSize</key>
        <string>{211,209}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40001_0_4_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40001_0_4_0.png</string>
    </dict>
  </dict>
</plist>