<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30072_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,855},{279,322}}</string>
        <key>offset</key>
        <string>{-80,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,322}}</string>
        <key>sourceSize</key>
        <string>{279,322}</string>
      </dict>
      <key>monster_30072_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,852},{277,317}}</string>
        <key>offset</key>
        <string>{-80,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,317}}</string>
        <key>sourceSize</key>
        <string>{277,317}</string>
      </dict>
      <key>monster_30072_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,285},{276,310}}</string>
        <key>offset</key>
        <string>{-80,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,310}}</string>
        <key>sourceSize</key>
        <string>{276,310}</string>
      </dict>
      <key>monster_30072_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,0},{275,307}}</string>
        <key>offset</key>
        <string>{-80,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,307}}</string>
        <key>sourceSize</key>
        <string>{275,307}</string>
      </dict>
      <key>monster_30072_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,571},{278,313}}</string>
        <key>offset</key>
        <string>{-80,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,313}}</string>
        <key>sourceSize</key>
        <string>{278,313}</string>
      </dict>
      <key>monster_30072_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,571},{279,319}}</string>
        <key>offset</key>
        <string>{-80,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,319}}</string>
        <key>sourceSize</key>
        <string>{279,319}</string>
      </dict>
      <key>monster_30072_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{285,340}}</string>
        <key>offset</key>
        <string>{-82,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,340}}</string>
        <key>sourceSize</key>
        <string>{285,340}</string>
      </dict>
      <key>monster_30072_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{283,337}}</string>
        <key>offset</key>
        <string>{-82,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,337}}</string>
        <key>sourceSize</key>
        <string>{283,337}</string>
      </dict>
      <key>monster_30072_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{281,329}}</string>
        <key>offset</key>
        <string>{-82,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,329}}</string>
        <key>sourceSize</key>
        <string>{281,329}</string>
      </dict>
      <key>monster_30072_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,855},{281,323}}</string>
        <key>offset</key>
        <string>{-82,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,323}}</string>
        <key>sourceSize</key>
        <string>{281,323}</string>
      </dict>
      <key>monster_30072_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,570},{283,327}}</string>
        <key>offset</key>
        <string>{-82,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,327}}</string>
        <key>sourceSize</key>
        <string>{283,327}</string>
      </dict>
      <key>monster_30072_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,285},{284,334}}</string>
        <key>offset</key>
        <string>{-82,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,334}}</string>
        <key>sourceSize</key>
        <string>{284,334}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30072_0_0_3.png</string>
      <key>size</key>
      <string>{1172,1282}</string>
      <key>textureFileName</key>
      <string>monster_30072_0_0_3.png</string>
    </dict>
  </dict>
</plist>