<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30058_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{249,298}}</string>
        <key>offset</key>
        <string>{-127,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,298}}</string>
        <key>sourceSize</key>
        <string>{249,298}</string>
      </dict>
      <key>monster_30058_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,251},{292,287}}</string>
        <key>offset</key>
        <string>{-139,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,287}}</string>
        <key>sourceSize</key>
        <string>{292,287}</string>
      </dict>
      <key>monster_30058_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{319,264}}</string>
        <key>offset</key>
        <string>{-168,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,264}}</string>
        <key>sourceSize</key>
        <string>{319,264}</string>
      </dict>
      <key>monster_30058_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{346,261}}</string>
        <key>offset</key>
        <string>{-142,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,261}}</string>
        <key>sourceSize</key>
        <string>{346,261}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30058_0_7_3.png</string>
      <key>size</key>
      <string>{640,640}</string>
      <key>textureFileName</key>
      <string>monster_30058_0_7_3.png</string>
    </dict>
  </dict>
</plist>