<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,854},{168,264}}</string>
        <key>offset</key>
        <string>{-63,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,264}}</string>
        <key>sourceSize</key>
        <string>{168,264}</string>
      </dict>
      <key>monster_40004_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,267},{165,260}}</string>
        <key>offset</key>
        <string>{-62,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,260}}</string>
        <key>sourceSize</key>
        <string>{165,260}</string>
      </dict>
      <key>monster_40004_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,0},{169,265}}</string>
        <key>offset</key>
        <string>{-62,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,265}}</string>
        <key>sourceSize</key>
        <string>{169,265}</string>
      </dict>
      <key>monster_40004_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,623},{176,276}}</string>
        <key>offset</key>
        <string>{-68,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,276}}</string>
        <key>sourceSize</key>
        <string>{176,276}</string>
      </dict>
      <key>monster_40004_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,304},{180,276}}</string>
        <key>offset</key>
        <string>{-76,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,276}}</string>
        <key>sourceSize</key>
        <string>{180,276}</string>
      </dict>
      <key>monster_40004_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,273},{184,266}}</string>
        <key>offset</key>
        <string>{-80,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,266}}</string>
        <key>sourceSize</key>
        <string>{184,266}</string>
      </dict>
      <key>monster_40004_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,541},{191,265}}</string>
        <key>offset</key>
        <string>{-81,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,265}}</string>
        <key>sourceSize</key>
        <string>{191,265}</string>
      </dict>
      <key>monster_40004_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,0},{192,271}}</string>
        <key>offset</key>
        <string>{-77,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,271}}</string>
        <key>sourceSize</key>
        <string>{192,271}</string>
      </dict>
      <key>monster_40004_0_1_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,582},{176,270}}</string>
        <key>offset</key>
        <string>{-68,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,270}}</string>
        <key>sourceSize</key>
        <string>{176,270}</string>
      </dict>
      <key>monster_40004_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,0},{302,227}}</string>
        <key>offset</key>
        <string>{-154,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,227}}</string>
        <key>sourceSize</key>
        <string>{302,227}</string>
      </dict>
      <key>monster_40004_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,649},{308,223}}</string>
        <key>offset</key>
        <string>{-154,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,223}}</string>
        <key>sourceSize</key>
        <string>{308,223}</string>
      </dict>
      <key>monster_40004_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,661},{321,228}}</string>
        <key>offset</key>
        <string>{-154,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,228}}</string>
        <key>sourceSize</key>
        <string>{321,228}</string>
      </dict>
      <key>monster_40004_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{329,234}}</string>
        <key>offset</key>
        <string>{-160,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,234}}</string>
        <key>sourceSize</key>
        <string>{329,234}</string>
      </dict>
      <key>monster_40004_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{328,228}}</string>
        <key>offset</key>
        <string>{-166,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,228}}</string>
        <key>sourceSize</key>
        <string>{328,228}</string>
      </dict>
      <key>monster_40004_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,661},{319,221}}</string>
        <key>offset</key>
        <string>{-167,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,221}}</string>
        <key>sourceSize</key>
        <string>{319,221}</string>
      </dict>
      <key>monster_40004_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,331},{316,223}}</string>
        <key>offset</key>
        <string>{-165,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,223}}</string>
        <key>sourceSize</key>
        <string>{316,223}</string>
      </dict>
      <key>monster_40004_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{314,229}}</string>
        <key>offset</key>
        <string>{-161,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,229}}</string>
        <key>sourceSize</key>
        <string>{314,229}</string>
      </dict>
      <key>monster_40004_0_1_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,316},{305,233}}</string>
        <key>offset</key>
        <string>{-156,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,233}}</string>
        <key>sourceSize</key>
        <string>{305,233}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_1_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_1_2.png</string>
    </dict>
  </dict>
</plist>