<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30022_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1007},{428,338}}</string>
        <key>offset</key>
        <string>{-100,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,338}}</string>
        <key>sourceSize</key>
        <string>{428,338}</string>
      </dict>
      <key>monster_30022_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,1146},{419,332}}</string>
        <key>offset</key>
        <string>{-105,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{419,332}}</string>
        <key>sourceSize</key>
        <string>{419,332}</string>
      </dict>
      <key>monster_30022_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,691},{501,324}}</string>
        <key>offset</key>
        <string>{-110,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,324}}</string>
        <key>sourceSize</key>
        <string>{501,324}</string>
      </dict>
      <key>monster_30022_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,691},{453,325}}</string>
        <key>offset</key>
        <string>{-115,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,325}}</string>
        <key>sourceSize</key>
        <string>{453,325}</string>
      </dict>
      <key>monster_30022_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,668},{613,337}}</string>
        <key>offset</key>
        <string>{-252,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{613,337}}</string>
        <key>sourceSize</key>
        <string>{613,337}</string>
      </dict>
      <key>monster_30022_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{666,356}}</string>
        <key>offset</key>
        <string>{-251,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{666,356}}</string>
        <key>sourceSize</key>
        <string>{666,356}</string>
      </dict>
      <key>monster_30022_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,0},{597,344}}</string>
        <key>offset</key>
        <string>{-251,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{597,344}}</string>
        <key>sourceSize</key>
        <string>{597,344}</string>
      </dict>
      <key>monster_30022_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,346},{592,343}}</string>
        <key>offset</key>
        <string>{-247,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{592,343}}</string>
        <key>sourceSize</key>
        <string>{592,343}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30022_0_2_5.png</string>
      <key>size</key>
      <string>{1282,1608}</string>
      <key>textureFileName</key>
      <string>monster_30022_0_2_5.png</string>
    </dict>
  </dict>
</plist>