<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_30097_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,525},{218,245}}</string>
        <key>offset</key>
        <string>{-83,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,245}}</string>
        <key>sourceSize</key>
        <string>{218,245}</string>
      </dict>
      <key>monster_30097_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,1052},{217,210}}</string>
        <key>offset</key>
        <string>{-81,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,210}}</string>
        <key>sourceSize</key>
        <string>{217,210}</string>
      </dict>
      <key>monster_30097_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1467,837},{221,213}}</string>
        <key>offset</key>
        <string>{-85,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,213}}</string>
        <key>sourceSize</key>
        <string>{221,213}</string>
      </dict>
      <key>monster_30097_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1228,850},{216,219}}</string>
        <key>offset</key>
        <string>{-82,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,219}}</string>
        <key>sourceSize</key>
        <string>{216,219}</string>
      </dict>
      <key>monster_30097_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,1253},{208,215}}</string>
        <key>offset</key>
        <string>{-75,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,215}}</string>
        <key>sourceSize</key>
        <string>{208,215}</string>
      </dict>
      <key>monster_30097_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,1463},{214,191}}</string>
        <key>offset</key>
        <string>{-81,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,191}}</string>
        <key>sourceSize</key>
        <string>{214,191}</string>
      </dict>
      <key>monster_30097_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,1463},{215,195}}</string>
        <key>offset</key>
        <string>{-82,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,195}}</string>
        <key>sourceSize</key>
        <string>{215,195}</string>
      </dict>
      <key>monster_30097_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{295,195}}</string>
        <key>offset</key>
        <string>{-146,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,195}}</string>
        <key>sourceSize</key>
        <string>{295,195}</string>
      </dict>
      <key>monster_30097_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,902},{288,199}}</string>
        <key>offset</key>
        <string>{-133,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,199}}</string>
        <key>sourceSize</key>
        <string>{288,199}</string>
      </dict>
      <key>monster_30097_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{304,201}}</string>
        <key>offset</key>
        <string>{-146,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,201}}</string>
        <key>sourceSize</key>
        <string>{304,201}</string>
      </dict>
      <key>monster_30097_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{295,202}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,202}}</string>
        <key>sourceSize</key>
        <string>{295,202}</string>
      </dict>
      <key>monster_30097_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1198},{293,207}}</string>
        <key>offset</key>
        <string>{-140,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,207}}</string>
        <key>sourceSize</key>
        <string>{293,207}</string>
      </dict>
      <key>monster_30097_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,902},{294,201}}</string>
        <key>offset</key>
        <string>{-144,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,201}}</string>
        <key>sourceSize</key>
        <string>{294,201}</string>
      </dict>
      <key>monster_30097_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{297,206}}</string>
        <key>offset</key>
        <string>{-147,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,206}}</string>
        <key>sourceSize</key>
        <string>{297,206}</string>
      </dict>
      <key>monster_30097_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,0},{258,194}}</string>
        <key>offset</key>
        <string>{-118,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,194}}</string>
        <key>sourceSize</key>
        <string>{258,194}</string>
      </dict>
      <key>monster_30097_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,1372},{265,192}}</string>
        <key>offset</key>
        <string>{-120,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,192}}</string>
        <key>sourceSize</key>
        <string>{265,192}</string>
      </dict>
      <key>monster_30097_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,263},{260,192}}</string>
        <key>offset</key>
        <string>{-112,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,192}}</string>
        <key>sourceSize</key>
        <string>{260,192}</string>
      </dict>
      <key>monster_30097_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,1102},{265,195}}</string>
        <key>offset</key>
        <string>{-114,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,195}}</string>
        <key>sourceSize</key>
        <string>{265,195}</string>
      </dict>
      <key>monster_30097_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,1102},{268,192}}</string>
        <key>offset</key>
        <string>{-121,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,192}}</string>
        <key>sourceSize</key>
        <string>{268,192}</string>
      </dict>
      <key>monster_30097_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,1369},{264,192}}</string>
        <key>offset</key>
        <string>{-121,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,192}}</string>
        <key>sourceSize</key>
        <string>{264,192}</string>
      </dict>
      <key>monster_30097_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,1130},{269,195}}</string>
        <key>offset</key>
        <string>{-126,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,195}}</string>
        <key>sourceSize</key>
        <string>{269,195}</string>
      </dict>
      <key>monster_30097_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,628},{222,207}}</string>
        <key>offset</key>
        <string>{-84,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,207}}</string>
        <key>sourceSize</key>
        <string>{222,207}</string>
      </dict>
      <key>monster_30097_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,0},{227,212}}</string>
        <key>offset</key>
        <string>{-87,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,212}}</string>
        <key>sourceSize</key>
        <string>{227,212}</string>
      </dict>
      <key>monster_30097_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,239},{229,203}}</string>
        <key>offset</key>
        <string>{-89,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,203}}</string>
        <key>sourceSize</key>
        <string>{229,203}</string>
      </dict>
      <key>monster_30097_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,424},{224,202}}</string>
        <key>offset</key>
        <string>{-86,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,202}}</string>
        <key>sourceSize</key>
        <string>{224,202}</string>
      </dict>
      <key>monster_30097_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,638},{222,210}}</string>
        <key>offset</key>
        <string>{-84,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,210}}</string>
        <key>sourceSize</key>
        <string>{222,210}</string>
      </dict>
      <key>monster_30097_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,424},{226,212}}</string>
        <key>offset</key>
        <string>{-88,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,212}}</string>
        <key>sourceSize</key>
        <string>{226,212}</string>
      </dict>
      <key>monster_30097_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,772},{230,223}}</string>
        <key>offset</key>
        <string>{-92,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,223}}</string>
        <key>sourceSize</key>
        <string>{230,223}</string>
      </dict>
      <key>monster_30097_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,0},{237,226}}</string>
        <key>offset</key>
        <string>{-53,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,226}}</string>
        <key>sourceSize</key>
        <string>{237,226}</string>
      </dict>
      <key>monster_30097_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,260},{235,238}}</string>
        <key>offset</key>
        <string>{-53,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,238}}</string>
        <key>sourceSize</key>
        <string>{235,238}</string>
      </dict>
      <key>monster_30097_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,772},{234,197}}</string>
        <key>offset</key>
        <string>{-54,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,197}}</string>
        <key>sourceSize</key>
        <string>{234,197}</string>
      </dict>
      <key>monster_30097_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1225,0},{229,201}}</string>
        <key>offset</key>
        <string>{-47,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,201}}</string>
        <key>sourceSize</key>
        <string>{229,201}</string>
      </dict>
      <key>monster_30097_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,214},{227,208}}</string>
        <key>offset</key>
        <string>{-51,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,208}}</string>
        <key>sourceSize</key>
        <string>{227,208}</string>
      </dict>
      <key>monster_30097_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,500},{230,225}}</string>
        <key>offset</key>
        <string>{-51,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,225}}</string>
        <key>sourceSize</key>
        <string>{230,225}</string>
      </dict>
      <key>monster_30097_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1008},{231,204}}</string>
        <key>offset</key>
        <string>{-52,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,204}}</string>
        <key>sourceSize</key>
        <string>{231,204}</string>
      </dict>
      <key>monster_30097_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1696,628},{190,207}}</string>
        <key>offset</key>
        <string>{-32,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,207}}</string>
        <key>sourceSize</key>
        <string>{190,207}</string>
      </dict>
      <key>monster_30097_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,1453},{187,212}}</string>
        <key>offset</key>
        <string>{-27,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,212}}</string>
        <key>sourceSize</key>
        <string>{187,212}</string>
      </dict>
      <key>monster_30097_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1668,1052},{197,203}}</string>
        <key>offset</key>
        <string>{-29,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,203}}</string>
        <key>sourceSize</key>
        <string>{197,203}</string>
      </dict>
      <key>monster_30097_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1668,1251},{196,203}}</string>
        <key>offset</key>
        <string>{-28,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,203}}</string>
        <key>sourceSize</key>
        <string>{196,203}</string>
      </dict>
      <key>monster_30097_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1690,837},{192,210}}</string>
        <key>offset</key>
        <string>{-26,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,210}}</string>
        <key>sourceSize</key>
        <string>{192,210}</string>
      </dict>
      <key>monster_30097_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1206,1068},{183,216}}</string>
        <key>offset</key>
        <string>{-23,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,216}}</string>
        <key>sourceSize</key>
        <string>{183,216}</string>
      </dict>
      <key>monster_30097_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1390,1264},{187,213}}</string>
        <key>offset</key>
        <string>{-27,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,213}}</string>
        <key>sourceSize</key>
        <string>{187,213}</string>
      </dict>
      <key>monster_30097_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,831},{269,194}}</string>
        <key>offset</key>
        <string>{-63,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,194}}</string>
        <key>sourceSize</key>
        <string>{269,194}</string>
      </dict>
      <key>monster_30097_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,0},{261,191}}</string>
        <key>offset</key>
        <string>{-68,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,191}}</string>
        <key>sourceSize</key>
        <string>{261,191}</string>
      </dict>
      <key>monster_30097_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,1401},{269,193}}</string>
        <key>offset</key>
        <string>{-72,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,193}}</string>
        <key>sourceSize</key>
        <string>{269,193}</string>
      </dict>
      <key>monster_30097_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,279},{275,195}}</string>
        <key>offset</key>
        <string>{-73,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,195}}</string>
        <key>sourceSize</key>
        <string>{275,195}</string>
      </dict>
      <key>monster_30097_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,1493},{279,192}}</string>
        <key>offset</key>
        <string>{-69,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,192}}</string>
        <key>sourceSize</key>
        <string>{279,192}</string>
      </dict>
      <key>monster_30097_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1473},{276,193}}</string>
        <key>offset</key>
        <string>{-66,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,193}}</string>
        <key>sourceSize</key>
        <string>{276,193}</string>
      </dict>
      <key>monster_30097_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,576},{276,196}}</string>
        <key>offset</key>
        <string>{-66,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,196}}</string>
        <key>sourceSize</key>
        <string>{276,196}</string>
      </dict>
      <key>monster_30097_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,605},{281,195}}</string>
        <key>offset</key>
        <string>{-66,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,195}}</string>
        <key>sourceSize</key>
        <string>{281,195}</string>
      </dict>
      <key>monster_30097_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1493},{280,199}}</string>
        <key>offset</key>
        <string>{-67,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,199}}</string>
        <key>sourceSize</key>
        <string>{280,199}</string>
      </dict>
      <key>monster_30097_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,297},{277,201}}</string>
        <key>offset</key>
        <string>{-70,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,201}}</string>
        <key>sourceSize</key>
        <string>{277,201}</string>
      </dict>
      <key>monster_30097_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,854},{274,202}}</string>
        <key>offset</key>
        <string>{-69,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,202}}</string>
        <key>sourceSize</key>
        <string>{274,202}</string>
      </dict>
      <key>monster_30097_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,556},{273,195}}</string>
        <key>offset</key>
        <string>{-67,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,195}}</string>
        <key>sourceSize</key>
        <string>{273,195}</string>
      </dict>
      <key>monster_30097_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,1192},{279,201}}</string>
        <key>offset</key>
        <string>{-70,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,201}}</string>
        <key>sourceSize</key>
        <string>{279,201}</string>
      </dict>
      <key>monster_30097_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{277,206}}</string>
        <key>offset</key>
        <string>{-70,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,206}}</string>
        <key>sourceSize</key>
        <string>{277,206}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_30097_0_1.png</string>
      <key>size</key>
      <string>{1888,1793}</string>
      <key>textureFileName</key>
      <string>monster_30097_0_1.png</string>
    </dict>
  </dict>
</plist>