<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_50005_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{170,141}}</string>
        <key>offset</key>
        <string>{-62,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>wings_50005_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{145,183}}</string>
        <key>offset</key>
        <string>{-51,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,183}}</string>
        <key>sourceSize</key>
        <string>{145,183}</string>
      </dict>
      <key>wings_50005_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{116,182}}</string>
        <key>offset</key>
        <string>{-28,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,182}}</string>
        <key>sourceSize</key>
        <string>{116,182}</string>
      </dict>
      <key>wings_50005_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,226},{148,139}}</string>
        <key>offset</key>
        <string>{-53,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,139}}</string>
        <key>sourceSize</key>
        <string>{148,139}</string>
      </dict>
      <key>wings_50005_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,118},{171,106}}</string>
        <key>offset</key>
        <string>{-62,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,106}}</string>
        <key>sourceSize</key>
        <string>{171,106}</string>
      </dict>
      <key>wings_50005_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,367},{136,92}}</string>
        <key>offset</key>
        <string>{-45,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,92}}</string>
        <key>sourceSize</key>
        <string>{136,92}</string>
      </dict>
      <key>wings_50005_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,367},{112,133}}</string>
        <key>offset</key>
        <string>{-40,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,133}}</string>
        <key>sourceSize</key>
        <string>{112,133}</string>
      </dict>
      <key>wings_50005_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{147,109}}</string>
        <key>offset</key>
        <string>{-47,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,109}}</string>
        <key>sourceSize</key>
        <string>{147,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_50005_0_11.png</string>
      <key>size</key>
      <string>{384,512}</string>
      <key>textureFileName</key>
      <string>wings_50005_0_11.png</string>
    </dict>
  </dict>
</plist>