<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_50007_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{174,80}}</string>
        <key>offset</key>
        <string>{-62,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,80}}</string>
        <key>sourceSize</key>
        <string>{174,80}</string>
      </dict>
      <key>wings_50007_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,179},{176,78}}</string>
        <key>offset</key>
        <string>{-61,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,78}}</string>
        <key>sourceSize</key>
        <string>{176,78}</string>
      </dict>
      <key>wings_50007_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{177,75}}</string>
        <key>offset</key>
        <string>{-61,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,75}}</string>
        <key>sourceSize</key>
        <string>{177,75}</string>
      </dict>
      <key>wings_50007_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{177,74}}</string>
        <key>offset</key>
        <string>{-63,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,74}}</string>
        <key>sourceSize</key>
        <string>{177,74}</string>
      </dict>
      <key>wings_50007_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,636},{131,113}}</string>
        <key>offset</key>
        <string>{-68,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,113}}</string>
        <key>sourceSize</key>
        <string>{131,113}</string>
      </dict>
      <key>wings_50007_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,276},{135,111}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,111}}</string>
        <key>sourceSize</key>
        <string>{135,111}</string>
      </dict>
      <key>wings_50007_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{138,109}}</string>
        <key>offset</key>
        <string>{-70,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,109}}</string>
        <key>sourceSize</key>
        <string>{138,109}</string>
      </dict>
      <key>wings_50007_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,138},{135,113}}</string>
        <key>offset</key>
        <string>{-70,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,113}}</string>
        <key>sourceSize</key>
        <string>{135,113}</string>
      </dict>
      <key>wings_50007_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{77,136}}</string>
        <key>offset</key>
        <string>{-42,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,136}}</string>
        <key>sourceSize</key>
        <string>{77,136}</string>
      </dict>
      <key>wings_50007_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,317},{77,136}}</string>
        <key>offset</key>
        <string>{-42,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,136}}</string>
        <key>sourceSize</key>
        <string>{77,136}</string>
      </dict>
      <key>wings_50007_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,0},{78,135}}</string>
        <key>offset</key>
        <string>{-43,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,135}}</string>
        <key>sourceSize</key>
        <string>{78,135}</string>
      </dict>
      <key>wings_50007_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,138},{79,136}}</string>
        <key>offset</key>
        <string>{-44,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,136}}</string>
        <key>sourceSize</key>
        <string>{79,136}</string>
      </dict>
      <key>wings_50007_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,0},{135,130}}</string>
        <key>offset</key>
        <string>{-72,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,130}}</string>
        <key>sourceSize</key>
        <string>{135,130}</string>
      </dict>
      <key>wings_50007_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,214},{131,133}}</string>
        <key>offset</key>
        <string>{-69,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,133}}</string>
        <key>sourceSize</key>
        <string>{131,133}</string>
      </dict>
      <key>wings_50007_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,412},{127,133}}</string>
        <key>offset</key>
        <string>{-67,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,133}}</string>
        <key>sourceSize</key>
        <string>{127,133}</string>
      </dict>
      <key>wings_50007_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,347},{133,130}}</string>
        <key>offset</key>
        <string>{-73,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,130}}</string>
        <key>sourceSize</key>
        <string>{133,130}</string>
      </dict>
      <key>wings_50007_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,537},{171,100}}</string>
        <key>offset</key>
        <string>{-61,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,100}}</string>
        <key>sourceSize</key>
        <string>{171,100}</string>
      </dict>
      <key>wings_50007_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,532},{170,102}}</string>
        <key>offset</key>
        <string>{-63,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,102}}</string>
        <key>sourceSize</key>
        <string>{170,102}</string>
      </dict>
      <key>wings_50007_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,357},{173,108}}</string>
        <key>offset</key>
        <string>{-65,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,108}}</string>
        <key>sourceSize</key>
        <string>{173,108}</string>
      </dict>
      <key>wings_50007_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{177,106}}</string>
        <key>offset</key>
        <string>{-64,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,106}}</string>
        <key>sourceSize</key>
        <string>{177,106}</string>
      </dict>
      <key>wings_50007_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,614},{131,130}}</string>
        <key>offset</key>
        <string>{-13,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,130}}</string>
        <key>sourceSize</key>
        <string>{131,130}</string>
      </dict>
      <key>wings_50007_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,0},{136,128}}</string>
        <key>offset</key>
        <string>{-18,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,128}}</string>
        <key>sourceSize</key>
        <string>{136,128}</string>
      </dict>
      <key>wings_50007_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,176},{139,126}}</string>
        <key>offset</key>
        <string>{-20,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,126}}</string>
        <key>sourceSize</key>
        <string>{139,126}</string>
      </dict>
      <key>wings_50007_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,137},{134,131}}</string>
        <key>offset</key>
        <string>{-17,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,131}}</string>
        <key>sourceSize</key>
        <string>{134,131}</string>
      </dict>
      <key>wings_50007_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,132},{80,134}}</string>
        <key>offset</key>
        <string>{13,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,134}}</string>
        <key>sourceSize</key>
        <string>{80,134}</string>
      </dict>
      <key>wings_50007_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,479},{78,130}}</string>
        <key>offset</key>
        <string>{13,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,130}}</string>
        <key>sourceSize</key>
        <string>{78,130}</string>
      </dict>
      <key>wings_50007_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,614},{79,131}}</string>
        <key>offset</key>
        <string>{13,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,131}}</string>
        <key>sourceSize</key>
        <string>{79,131}</string>
      </dict>
      <key>wings_50007_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,547},{78,133}}</string>
        <key>offset</key>
        <string>{13,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,133}}</string>
        <key>sourceSize</key>
        <string>{78,133}</string>
      </dict>
      <key>wings_50007_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,413},{135,101}}</string>
        <key>offset</key>
        <string>{-14,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,101}}</string>
        <key>sourceSize</key>
        <string>{135,101}</string>
      </dict>
      <key>wings_50007_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,479},{133,103}}</string>
        <key>offset</key>
        <string>{-13,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,103}}</string>
        <key>sourceSize</key>
        <string>{133,103}</string>
      </dict>
      <key>wings_50007_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,639},{131,106}}</string>
        <key>offset</key>
        <string>{-12,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,106}}</string>
        <key>sourceSize</key>
        <string>{131,106}</string>
      </dict>
      <key>wings_50007_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,275},{135,103}}</string>
        <key>offset</key>
        <string>{-14,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,103}}</string>
        <key>sourceSize</key>
        <string>{135,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_50007_0_0.png</string>
      <key>size</key>
      <string>{770,752}</string>
      <key>textureFileName</key>
      <string>wings_50007_0_0.png</string>
    </dict>
  </dict>
</plist>