<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_50006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,431},{207,111}}</string>
        <key>offset</key>
        <string>{-82,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,111}}</string>
        <key>sourceSize</key>
        <string>{207,111}</string>
      </dict>
      <key>wings_50006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,431},{205,71}}</string>
        <key>offset</key>
        <string>{-84,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,71}}</string>
        <key>sourceSize</key>
        <string>{205,71}</string>
      </dict>
      <key>wings_50006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{217,102}}</string>
        <key>offset</key>
        <string>{-89,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,102}}</string>
        <key>sourceSize</key>
        <string>{217,102}</string>
      </dict>
      <key>wings_50006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,207},{175,139}}</string>
        <key>offset</key>
        <string>{-75,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,139}}</string>
        <key>sourceSize</key>
        <string>{175,139}</string>
      </dict>
      <key>wings_50006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,570},{134,129}}</string>
        <key>offset</key>
        <string>{-82,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,129}}</string>
        <key>sourceSize</key>
        <string>{134,129}</string>
      </dict>
      <key>wings_50006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,158},{135,150}}</string>
        <key>offset</key>
        <string>{-76,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,150}}</string>
        <key>sourceSize</key>
        <string>{135,150}</string>
      </dict>
      <key>wings_50006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,554},{59,166}}</string>
        <key>offset</key>
        <string>{-27,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,166}}</string>
        <key>sourceSize</key>
        <string>{59,166}</string>
      </dict>
      <key>wings_50006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,328},{73,152}}</string>
        <key>offset</key>
        <string>{-53,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,152}}</string>
        <key>sourceSize</key>
        <string>{73,152}</string>
      </dict>
      <key>wings_50006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,339},{72,162}}</string>
        <key>offset</key>
        <string>{-46,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,162}}</string>
        <key>sourceSize</key>
        <string>{72,162}</string>
      </dict>
      <key>wings_50006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{131,156}}</string>
        <key>offset</key>
        <string>{-51,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,156}}</string>
        <key>sourceSize</key>
        <string>{131,156}</string>
      </dict>
      <key>wings_50006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,384},{168,136}}</string>
        <key>offset</key>
        <string>{-88,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,136}}</string>
        <key>sourceSize</key>
        <string>{168,136}</string>
      </dict>
      <key>wings_50006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,503},{159,134}}</string>
        <key>offset</key>
        <string>{-82,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,134}}</string>
        <key>sourceSize</key>
        <string>{159,134}</string>
      </dict>
      <key>wings_50006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{210,114}}</string>
        <key>offset</key>
        <string>{-79,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,114}}</string>
        <key>sourceSize</key>
        <string>{210,114}</string>
      </dict>
      <key>wings_50006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{205,121}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,121}}</string>
        <key>sourceSize</key>
        <string>{205,121}</string>
      </dict>
      <key>wings_50006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,207},{197,105}}</string>
        <key>offset</key>
        <string>{-70,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,105}}</string>
        <key>sourceSize</key>
        <string>{197,105}</string>
      </dict>
      <key>wings_50006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,406},{178,129}}</string>
        <key>offset</key>
        <string>{-54,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,129}}</string>
        <key>sourceSize</key>
        <string>{178,129}</string>
      </dict>
      <key>wings_50006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{133,156}}</string>
        <key>offset</key>
        <string>{-3,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,156}}</string>
        <key>sourceSize</key>
        <string>{133,156}</string>
      </dict>
      <key>wings_50006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,442},{126,135}}</string>
        <key>offset</key>
        <string>{-7,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,135}}</string>
        <key>sourceSize</key>
        <string>{126,135}</string>
      </dict>
      <key>wings_50006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{61,170}}</string>
        <key>offset</key>
        <string>{15,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,170}}</string>
        <key>sourceSize</key>
        <string>{61,170}</string>
      </dict>
      <key>wings_50006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{81,165}}</string>
        <key>offset</key>
        <string>{17,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,165}}</string>
        <key>sourceSize</key>
        <string>{81,165}</string>
      </dict>
      <key>wings_50006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,167},{92,159}}</string>
        <key>offset</key>
        <string>{7,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,159}}</string>
        <key>sourceSize</key>
        <string>{92,159}</string>
      </dict>
      <key>wings_50006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,310},{130,145}}</string>
        <key>offset</key>
        <string>{-32,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,145}}</string>
        <key>sourceSize</key>
        <string>{130,145}</string>
      </dict>
      <key>wings_50006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{169,120}}</string>
        <key>offset</key>
        <string>{-33,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,120}}</string>
        <key>sourceSize</key>
        <string>{169,120}</string>
      </dict>
      <key>wings_50006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,171},{166,123}}</string>
        <key>offset</key>
        <string>{-33,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,123}}</string>
        <key>sourceSize</key>
        <string>{166,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_50006_0_7.png</string>
      <key>size</key>
      <string>{832,705}</string>
      <key>textureFileName</key>
      <string>wings_50006_0_7.png</string>
    </dict>
  </dict>
</plist>