<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_50006_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,93}}</string>
        <key>offset</key>
        <string>{-85,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,93}}</string>
        <key>sourceSize</key>
        <string>{220,93}</string>
      </dict>
      <key>wings_50006_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{200,106}}</string>
        <key>offset</key>
        <string>{-75,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,106}}</string>
        <key>sourceSize</key>
        <string>{200,106}</string>
      </dict>
      <key>wings_50006_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,202},{182,103}}</string>
        <key>offset</key>
        <string>{-75,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,103}}</string>
        <key>sourceSize</key>
        <string>{182,103}</string>
      </dict>
      <key>wings_50006_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{217,96}}</string>
        <key>offset</key>
        <string>{-101,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,96}}</string>
        <key>sourceSize</key>
        <string>{217,96}</string>
      </dict>
      <key>wings_50006_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{156,129}}</string>
        <key>offset</key>
        <string>{-69,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,129}}</string>
        <key>sourceSize</key>
        <string>{156,129}</string>
      </dict>
      <key>wings_50006_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,506},{154,140}}</string>
        <key>offset</key>
        <string>{-65,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,140}}</string>
        <key>sourceSize</key>
        <string>{154,140}</string>
      </dict>
      <key>wings_50006_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,544},{134,138}}</string>
        <key>offset</key>
        <string>{-56,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,138}}</string>
        <key>sourceSize</key>
        <string>{134,138}</string>
      </dict>
      <key>wings_50006_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,420},{196,103}}</string>
        <key>offset</key>
        <string>{-59,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,103}}</string>
        <key>sourceSize</key>
        <string>{196,103}</string>
      </dict>
      <key>wings_50006_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{39,157}}</string>
        <key>offset</key>
        <string>{-12,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,157}}</string>
        <key>sourceSize</key>
        <string>{39,157}</string>
      </dict>
      <key>wings_50006_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,552},{50,156}}</string>
        <key>offset</key>
        <string>{-11,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,156}}</string>
        <key>sourceSize</key>
        <string>{50,156}</string>
      </dict>
      <key>wings_50006_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,301},{72,144}}</string>
        <key>offset</key>
        <string>{-10,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,144}}</string>
        <key>sourceSize</key>
        <string>{72,144}</string>
      </dict>
      <key>wings_50006_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,301},{139,140}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,140}}</string>
        <key>sourceSize</key>
        <string>{139,140}</string>
      </dict>
      <key>wings_50006_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,612},{145,140}}</string>
        <key>offset</key>
        <string>{-68,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,140}}</string>
        <key>sourceSize</key>
        <string>{145,140}</string>
      </dict>
      <key>wings_50006_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,149},{146,116}}</string>
        <key>offset</key>
        <string>{-62,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,116}}</string>
        <key>sourceSize</key>
        <string>{146,116}</string>
      </dict>
      <key>wings_50006_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,442},{139,100}}</string>
        <key>offset</key>
        <string>{-52,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,100}}</string>
        <key>sourceSize</key>
        <string>{139,100}</string>
      </dict>
      <key>wings_50006_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,386},{164,139}}</string>
        <key>offset</key>
        <string>{-14,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,139}}</string>
        <key>sourceSize</key>
        <string>{164,139}</string>
      </dict>
      <key>wings_50006_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{208,114}}</string>
        <key>offset</key>
        <string>{-85,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,114}}</string>
        <key>sourceSize</key>
        <string>{208,114}</string>
      </dict>
      <key>wings_50006_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,651},{200,115}}</string>
        <key>offset</key>
        <string>{-76,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,115}}</string>
        <key>sourceSize</key>
        <string>{200,115}</string>
      </dict>
      <key>wings_50006_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,675},{177,89}}</string>
        <key>offset</key>
        <string>{-55,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,89}}</string>
        <key>sourceSize</key>
        <string>{177,89}</string>
      </dict>
      <key>wings_50006_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{209,107}}</string>
        <key>offset</key>
        <string>{-72,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,107}}</string>
        <key>sourceSize</key>
        <string>{209,107}</string>
      </dict>
      <key>wings_50006_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,158},{152,152}}</string>
        <key>offset</key>
        <string>{-36,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,152}}</string>
        <key>sourceSize</key>
        <string>{152,152}</string>
      </dict>
      <key>wings_50006_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,0},{150,141}}</string>
        <key>offset</key>
        <string>{-37,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,141}}</string>
        <key>sourceSize</key>
        <string>{150,141}</string>
      </dict>
      <key>wings_50006_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,152},{135,147}}</string>
        <key>offset</key>
        <string>{-30,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,147}}</string>
        <key>sourceSize</key>
        <string>{135,147}</string>
      </dict>
      <key>wings_50006_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,211},{207,120}}</string>
        <key>offset</key>
        <string>{-100,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,120}}</string>
        <key>sourceSize</key>
        <string>{207,120}</string>
      </dict>
      <key>wings_50006_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,618},{55,178}}</string>
        <key>offset</key>
        <string>{5,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,178}}</string>
        <key>sourceSize</key>
        <string>{55,178}</string>
      </dict>
      <key>wings_50006_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{61,180}}</string>
        <key>offset</key>
        <string>{-2,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,180}}</string>
        <key>sourceSize</key>
        <string>{61,180}</string>
      </dict>
      <key>wings_50006_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,675},{80,176}}</string>
        <key>offset</key>
        <string>{-21,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,176}}</string>
        <key>sourceSize</key>
        <string>{80,176}</string>
      </dict>
      <key>wings_50006_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,464},{139,146}}</string>
        <key>offset</key>
        <string>{-91,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,146}}</string>
        <key>sourceSize</key>
        <string>{139,146}</string>
      </dict>
      <key>wings_50006_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,312},{150,150}}</string>
        <key>offset</key>
        <string>{-31,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,150}}</string>
        <key>sourceSize</key>
        <string>{150,150}</string>
      </dict>
      <key>wings_50006_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,348},{142,156}}</string>
        <key>offset</key>
        <string>{-32,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,156}}</string>
        <key>sourceSize</key>
        <string>{142,156}</string>
      </dict>
      <key>wings_50006_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{147,143}}</string>
        <key>offset</key>
        <string>{-44,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,143}}</string>
        <key>sourceSize</key>
        <string>{147,143}</string>
      </dict>
      <key>wings_50006_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,182},{164,142}}</string>
        <key>offset</key>
        <string>{-103,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,142}}</string>
        <key>sourceSize</key>
        <string>{164,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_50006_1_4.png</string>
      <key>size</key>
      <string>{896,768}</string>
      <key>textureFileName</key>
      <string>wings_50006_1_4.png</string>
    </dict>
  </dict>
</plist>