<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_50007_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,104}}</string>
        <key>offset</key>
        <string>{-61,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,104}}</string>
        <key>sourceSize</key>
        <string>{170,104}</string>
      </dict>
      <key>wings_50007_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,145},{117,139}}</string>
        <key>offset</key>
        <string>{-56,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,139}}</string>
        <key>sourceSize</key>
        <string>{117,139}</string>
      </dict>
      <key>wings_50007_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{81,143}}</string>
        <key>offset</key>
        <string>{-35,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,143}}</string>
        <key>sourceSize</key>
        <string>{81,143}</string>
      </dict>
      <key>wings_50007_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{143,119}}</string>
        <key>offset</key>
        <string>{-69,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,119}}</string>
        <key>sourceSize</key>
        <string>{143,119}</string>
      </dict>
      <key>wings_50007_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{167,97}}</string>
        <key>offset</key>
        <string>{-58,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,97}}</string>
        <key>sourceSize</key>
        <string>{167,97}</string>
      </dict>
      <key>wings_50007_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,264},{119,126}}</string>
        <key>offset</key>
        <string>{-14,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,126}}</string>
        <key>sourceSize</key>
        <string>{119,126}</string>
      </dict>
      <key>wings_50007_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,0},{84,135}}</string>
        <key>offset</key>
        <string>{0,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,135}}</string>
        <key>sourceSize</key>
        <string>{84,135}</string>
      </dict>
      <key>wings_50007_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,172},{145,93}}</string>
        <key>offset</key>
        <string>{-27,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,93}}</string>
        <key>sourceSize</key>
        <string>{145,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_50007_1_11.png</string>
      <key>size</key>
      <string>{485,386}</string>
      <key>textureFileName</key>
      <string>wings_50007_1_11.png</string>
    </dict>
  </dict>
</plist>